@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *	DISCORD SHOP MODALS
 *
 */

#{ $shopPreviewModalRoot } {
    background-color: var(--popout-color);
}

#{ $shopPreviewLeftRail } {
    background-color: var(--popout-color);
}

#{ $shopPreviewContainer } {
    border-radius: var(--popout-radius-big);
}

#{ $shopChatPreview } {
    @include popout-format;

    #{ $messageWrapper } {
        inset-block-start: 4px;
        inset-inline-start: 60px;
        border-radius: var(--message-radius);

        &::before,
        &::after {
            display: none;
        }
    }
}

#{ $shopMockInput } {
    background-color: var(--input-color);
    border-radius: 20px;
}

#{ $shopNameplateRightPanePreviewContainer } {
    background-color: var(--chat-color);
    border-radius: var(--popout-radius-big);
    box-shadow: var(--shadow-soft);
}

#{ $shopNameplatePreview } {
    border-radius: 29px;
}

#{ $shopWishlistButton } {
    --interactive-icon-default: var(--accent-secondary-text-color);

    width: var(--button-height);
    height: var(--button-height);
    background-color: var(--accent-secondary-color);
    border-radius: var(--button-radius);
    border: none;

    &[aria-pressed="true"] {
        border-radius: calc(var(--button-radius) / 1.75);
    }

    &:not(#{ $shopWishlistButtonDisabled }) {
        transition: var(--default-time) var(--default-animation) border-radius !important;

        &:hover {
            background-color: var(--accent-secondary-color);
        }
    }
}
