@use '../selectorPlaceholders' as *;
/*
 *
 *	DISCORD SHOP SETTINGS VIEW
 *
 */

#{ $shopViewWrapper } {
    #{ $headerBarAlt } {
        &#{ $headerBarAltFullscreen } {
            height: calc(84px + var(--custom-app-top-bar-height));
            padding: var(--custom-app-top-bar-height) var(--space-16) 0;
            background-color: var(--chat-color) !important;

            #{ $headerBarChildren } {
                overflow: visible;

                &:after {
                    background: linear-gradient(90deg, transparent 0, var(--main-color)) !important;
                }
            }
        }
    }
}

#{ $shopContainer } {
    &#{ $shopFullscreen } {
        background: var(--main-alt);
    }
}

#{ $shopPageWrapper } {
    background-color: transparent;
}
