/* CUSTOM TITLE BAR COLORS */
/* Copy and paste this example and then changes the server name and hex color code */
.container-1NXEtd[aria-label*=SERVER_NAME]:before {
  --title-custom: #184c88;
}

/* CUSTOM TITLE BAR COLORS -> DEFAULTS */
.container-1NXEtd[aria-label*=BetterDiscord]:before {
  --title-custom: #3b77c4;
}

.container-1NXEtd[aria-label*=CapnKitten]:before {
  --title-custom: #184c88;
}

/* THEME STARTS HERE */
:root {
  --title-custom: #212121;
  --title-bar-height: 60px;
}

/*
 *
 *	SEARCH BAR
 *
 */
.search-39IXmY {
  position: absolute;
  left: 0;
}

.search-2Mwzzq {
  border-radius: 14px;
  transition: 300ms ease-in-out box-shadow;
}
.search-2Mwzzq .searchBar-jGtisZ {
  width: 28px !important;
  padding: 0 !important;
  background-color: #0a0a0a !important;
  transition: 300ms ease-in-out width, 300ms ease-in-out padding;
  cursor: pointer;
}
.search-2Mwzzq .searchBar-jGtisZ .public-DraftEditorPlaceholder-root {
  width: 28px;
  height: 28px;
  padding: 0;
}
.search-2Mwzzq .searchBar-jGtisZ .iconLayout-SqV3nb {
  width: 28px;
  cursor: pointer;
}
.search-2Mwzzq .searchBar-jGtisZ .icon-tZMHgY {
  margin: 0;
}
.search-2Mwzzq .searchBar-jGtisZ .icon-tZMHgY .icon-18rqoe {
  color: #eee;
}
.search-2Mwzzq.open-1F8u2c, .search-2Mwzzq:focus-within {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.search-2Mwzzq.open-1F8u2c .searchBar-jGtisZ, .search-2Mwzzq:focus-within .searchBar-jGtisZ {
  width: 220px !important;
  padding: 0 8px 0 6px !important;
  background-color: var(--input-color) !important;
  cursor: text;
}
.search-2Mwzzq.open-1F8u2c .searchBar-jGtisZ .icon-tZMHgY, .search-2Mwzzq:focus-within .searchBar-jGtisZ .icon-tZMHgY {
  margin: 0 -5px 0 0;
}
.search-2Mwzzq.open-1F8u2c .searchBar-jGtisZ .icon-tZMHgY .icon-18rqoe, .search-2Mwzzq:focus-within .searchBar-jGtisZ .icon-tZMHgY .icon-18rqoe {
  color: var(--input-text-color);
}

.title-31SJ6t.container-ZMc96U .children-3xh0VB {
  margin-left: 28px;
}

/*
 *
 *	TITLE BAR
 *
 */
.typeWindows-2-g3UY {
  position: absolute;
  width: calc(100% - 72px);
  height: 14px;
  right: 0;
  background-color: transparent;
}
.typeWindows-2-g3UY.withFrame-2dL45i {
  margin-top: 0;
}
.typeWindows-2-g3UY .wordmarkWindows-2dq6rw {
  display: none;
}
.typeWindows-2-g3UY .winButton-3UMjdg {
  position: absolute;
  width: 45px;
  height: 31px;
  top: 0;
  background-color: var(--window-button);
}
.typeWindows-2-g3UY .winButton-3UMjdg.winButtonMinMax-3RsPUg:hover {
  background-color: var(--window-button-hover);
}
.typeWindows-2-g3UY .winButton-3UMjdg.winButtonMinMax-3RsPUg:nth-last-of-type(1) {
  right: 90px;
}
.typeWindows-2-g3UY .winButton-3UMjdg.winButtonMinMax-3RsPUg:nth-last-of-type(2) {
  right: 45px;
}
.typeWindows-2-g3UY .winButton-3UMjdg.winButtonClose-3Q8ZH5:hover {
  background-color: var(--window-button-close);
}

.notice-2HEN-u {
  margin-right: 135px;
  height: 31px !important;
  max-height: 31px;
  line-height: 31px;
  border-radius: 0;
}
.notice-2HEN-u .closeButton-30b1gR {
  height: 31px;
  max-height: 31px;
}
.notice-2HEN-u .button-38aScr {
  padding: 0 12px !important;
}

.toolbar-3_r2xA .anchor-1MIwyf {
  display: none;
}

.header-3OsQeK {
  height: var(--title-bar-height);
}

/* TITLE BAR -> COLORED */
.wrapper-1gVUIN {
  z-index: auto;
  margin-top: var(--title-bar-height);
  background-color: #000;
}
.wrapper-1gVUIN.minimum-fXpVNc {
  background-color: var(--title-bar);
}
.wrapper-1gVUIN.video-3n15R6 .callContainer-HtHELf {
  margin-bottom: var(--title-bar-height);
  z-index: 1;
}
.wrapper-1gVUIN.video-3n15R6.noChat-2UYgeE .callContainer-HtHELf {
  margin-bottom: var(--title-bar-height);
}
.wrapper-1gVUIN.video-3n15R6.normal-qRirv5 .callContainer-HtHELf {
  margin-bottom: 0;
}
.wrapper-1gVUIN.video-3n15R6 .callContainer-HtHELf {
  margin-bottom: var(--title-bar-height);
  z-index: 1;
}
.wrapper-1gVUIN.video-3n15R6 .root-22AK9z {
  margin-bottom: var(--bar-size);
  background-color: #000;
}
.wrapper-1gVUIN.video-3n15R6 .callContainer-HtHELf:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: var(--title-bar-height);
  top: calc(var(--title-bar-height) * -1);
  left: 0;
  background-color: #000;
  pointer-events: none;
}
.wrapper-1gVUIN .callContainer-HtHELf {
  width: 100%;
  overflow: visible;
}
.wrapper-1gVUIN .headerWrapper-1ULEPv {
  margin-top: -60px;
  background-color: var(--title-bar);
}

@media (min-width: 1313px) {
  .wrapper-1gVUIN.chatSidebarOpen--YCxhs .callContainer-HtHELf {
    overflow: hidden;
  }
  .wrapper-1gVUIN.chatSidebarOpen--YCxhs .bottomControls-31YuPK {
    width: 100%;
    overflow: hidden;
  }
  .wrapper-1gVUIN.chatSidebarOpen--YCxhs .container-3XgAHv {
    height: calc(100vh - var(--title-bar-height));
    margin-top: 0;
  }
  .wrapper-1gVUIN.chatSidebarOpen--YCxhs .resizeHandle-PBRzPC {
    background-color: #000;
    z-index: 2;
  }
}
.floating-3M3WeH {
  z-index: 999;
}
.floating-3M3WeH .toolbar-3_r2xA {
  margin-right: 140px;
}

.chat-2ZfjoI {
  background-color: var(--title-bar);
}
.chat-2ZfjoI .content-1jQy2l {
  background-color: var(--chat-color);
}
.chat-2ZfjoI .content-1jQy2l:before {
  display: none;
}

.threadSidebarOpen-1LSXvU .container-ZMc96U {
  width: 100%;
}

.threadSidebarFloating-uC2s6v .container-ZMc96U {
  width: calc(100% - 310px);
}

.container-ZMc96U {
  width: calc(100% - 310px);
  height: var(--title-bar-height);
  padding-right: 0;
  transition: 300ms ease padding-left;
  --text-color: #fff;
  /*&:focus-within {
  	padding-left: 200px;
  }*/
  /*&:focus-within .children-3xh0VB {
      transform: translateX(192px);
  }*/
}
.container-ZMc96U.themed-Hp1KC_ {
  background-color: transparent;
}
.container-ZMc96U .children-3xh0VB {
  transition: 300ms ease-in-out all;
}
.container-ZMc96U .divider-q3P9HC {
  margin: 0 2px;
}
.container-ZMc96U .clickable-ZD7xvu:hover .icon-2xnN2Y {
  color: var(--interactive-hover);
}
.container-ZMc96U .selected-29KTGM .icon-2xnN2Y {
  color: var(--interactive-active);
}
.container-ZMc96U .icon-2xnN2Y,
.container-ZMc96U .base-21yXnu,
.container-ZMc96U .topic-11NuQZ,
.container-ZMc96U .nicknames-10Sg6e {
  color: var(--text-color);
}
.container-ZMc96U .anchor-1MIwyf {
  color: var(--text-color) !important;
  font-weight: 600;
}

.container-1NXEtd:before,
.container-2cd8Mz:before,
.container-1a3EgQ:before,
.container-36u7Lw:before,
.applicationStore-2nk7Lo:before {
  position: fixed;
  content: " ";
  width: calc(100% - 312px);
  height: var(--title-bar-height);
  right: 0;
  background-color: var(--title-bar);
  z-index: -1;
  pointer-events: none;
  z-index: 1;
}

.container-2cd8Mz:before,
.container-1a3EgQ:before,
.container-36u7Lw:before,
.applicationStore-2nk7Lo:before {
  z-index: auto;
}

/* TITLE BAR -> COLORED -> DEFAULTS */
.container-1NXEtd:before {
  background-color: var(--title-custom);
}
.container-1NXEtd[aria-label*=BetterDiscord]:before {
  --title-custom: #3b77c4;
}
.container-1NXEtd[aria-label*=CapnKitten]:before {
  --title-custom: #184c88;
}

.root-1e2tfc {
  min-width: 180px;
  width: 180px !important;
  min-height: 200px !important;
  height: 300px;
}

/*
 *
 *	USER STATUS
 *
 */
.sidebar-1tnWFu {
  margin-bottom: calc(var(--bar-size) + 1px);
}

.panels-3wFtMD {
  z-index: 101;
}

.container-YkUktl {
  position: absolute;
  height: 32px !important;
  top: 14px;
  right: 150px;
  margin-bottom: 0;
  padding: 0 2px;
  background-color: #0a0a0a !important;
  border-radius: 18px;
  border-top: none;
  box-shadow: none !important;
  z-index: 2;
}
.container-YkUktl .avatar-1EWyVD {
  width: 28px !important;
  height: 28px !important;
}
.container-YkUktl .avatar-1EWyVD > svg {
  width: 34px;
  height: 34px;
}
.container-YkUktl .nameTag-sc-gpq {
  max-width: 90px;
  height: 100%;
  margin-right: 32px;
}
.container-YkUktl .nameTag-sc-gpq:hover .usernameContainer-3PPkWq {
  height: 18px;
}
.container-YkUktl .nameTag-sc-gpq:hover .subtext-2HDqJ7 {
  height: 13px;
  opacity: 1;
  visibility: visible;
}
.container-YkUktl .nameTag-sc-gpq .hoverRoll-2XwpoF .hovered-20u3oh {
  display: none;
}
.container-YkUktl .nameTag-sc-gpq .hoverRoll-2XwpoF .default-rFvAvS {
  opacity: 1;
  transform: none;
}
.container-YkUktl .nameTag-sc-gpq .hoverRoll-2XwpoF .customStatus-1UAQAK {
  max-width: unset;
}
.container-YkUktl .usernameContainer-3PPkWq,
.container-YkUktl .subtext-2HDqJ7 {
  transition: 300ms ease all;
}
.container-YkUktl .usernameContainer-3PPkWq {
  height: 100%;
}
.container-YkUktl .subtext-2HDqJ7 {
  width: 72px;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.container-YkUktl .flex-2S1XBF {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  padding: 0;
}
.container-YkUktl .flex-2S1XBF:before {
  position: inherit;
  content: " ";
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCIgZmlsbD0iI0ZGRkZGRiI+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xNi41OSA4LjU5TDEyIDEzLjE3IDcuNDEgOC41OSA2IDEwbDYgNiA2LTZ6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.container-YkUktl .flex-2S1XBF:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 16px;
  top: -16px;
  right: 0;
  background-color: transparent;
}
.container-YkUktl .flex-2S1XBF .button-12Fmur {
  display: grid;
  grid-template-columns: 20px max-content;
  grid-template-rows: auto;
  gap: 0 8px;
  justify-content: left;
  width: 100%;
  height: 32px;
  max-height: 32px;
  padding: 6px 11px;
  border-radius: var(--popout-radius-small);
  pointer-events: none;
}
.container-YkUktl .flex-2S1XBF .button-12Fmur:hover {
  background-color: var(--menu-hover-color);
}
.container-YkUktl .flex-2S1XBF .button-12Fmur[role=switch]:before {
  position: fixed;
  content: " ";
  width: 28px;
  height: 28px;
  top: 16px;
  right: 152px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 50%;
  pointer-events: none;
}
.container-YkUktl .flex-2S1XBF .button-12Fmur[role=switch][aria-checked=true] + .button-12Fmur[role=switch][aria-checked=false]:before {
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCI+PHBhdGggZD0iTTYuNyAxMUg1QzUgMTIuMTkgNS4zNCAxMy4zIDUuOSAxNC4yOEw3LjEzIDEzLjA1QzYuODYgMTIuNDMgNi43IDExLjc0IDYuNyAxMVoiIGZpbGw9IiNlZWUiPjwvcGF0aD48cGF0aCBkPSJNOS4wMSAxMS4wODVDOS4wMTUgMTEuMTEyNSA5LjAyIDExLjE0IDkuMDIgMTEuMTdMMTUgNS4xOFY1QzE1IDMuMzQgMTMuNjYgMiAxMiAyQzEwLjM0IDIgOSAzLjM0IDkgNVYxMUM5IDExLjAzIDkuMDA1IDExLjA1NzUgOS4wMSAxMS4wODVaIiBmaWxsPSIjZWVlIj48L3BhdGg+PHBhdGggZD0iTTExLjcyMzcgMTYuMDkyN0wxMC45NjMyIDE2Ljg1MzFMMTAuMjUzMyAxNy41Njg4QzEwLjQ5NzggMTcuNjMzIDEwLjc0NyAxNy42ODM5IDExIDE3LjcyVjIySDEzVjE3LjcyQzE2LjI4IDE3LjIzIDE5IDE0LjQxIDE5IDExSDE3LjNDMTcuMyAxNCAxNC43NiAxNi4xIDEyIDE2LjFDMTEuOTA3NiAxNi4xIDExLjgxNTUgMTYuMDk3NSAxMS43MjM3IDE2LjA5MjdaIiBmaWxsPSIjZWVlIj48L3BhdGg+PHBhdGggZD0iTTIxIDQuMjdMMTkuNzMgM0wzIDE5LjczTDQuMjcgMjFMOC40NiAxNi44Mkw5LjY5IDE1LjU4TDExLjM1IDEzLjkyTDE0Ljk5IDEwLjI4TDIxIDQuMjdaIiBmaWxsPSIjZWQ0MjQ1Ij48L3BhdGg+PC9zdmc+");
}
.container-YkUktl .flex-2S1XBF .button-12Fmur[role=switch][aria-checked=true] + .button-12Fmur[role=switch][aria-checked=true]:before {
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCI+PHBhdGggZD0iTTYuMTYyMDQgMTUuMDA2NUM2LjEwODU5IDE1LjAwMjIgNi4wNTQ1NSAxNSA2IDE1SDRWMTJDNCA3LjU4OCA3LjU4OSA0IDEyIDRDMTMuNDgwOSA0IDE0Ljg2OTEgNC40MDQzOSAxNi4wNTk5IDUuMTA4NTlMMTcuNTEwMiAzLjY1ODM1QzE1LjkyOTIgMi42MTA2NCAxNC4wMzQ2IDIgMTIgMkM2LjQ4NiAyIDIgNi40ODUgMiAxMlYxOS4xNjg1TDYuMTYyMDQgMTUuMDA2NVoiIGZpbGw9IiNlZWUiPjwvcGF0aD48cGF0aCBkPSJNMTkuNzI1IDkuOTE2ODZDMTkuOTA0MyAxMC41ODEzIDIwIDExLjI3OTYgMjAgMTJWMTVIMThDMTYuODk2IDE1IDE2IDE1Ljg5NiAxNiAxN1YyMEMxNiAyMS4xMDQgMTYuODk2IDIyIDE4IDIySDIwQzIxLjEwNSAyMiAyMiAyMS4xMDQgMjIgMjBWMTJDMjIgMTAuNzA3NSAyMS43NTM2IDkuNDcxNDkgMjEuMzA1MyA4LjMzNjU4TDE5LjcyNSA5LjkxNjg2WiIgZmlsbD0iI2VlZSI+PC9wYXRoPjxwYXRoIGQ9Ik0zLjIwMTAxIDIzLjYyNDNMMS43ODY4IDIyLjIxMDFMMjEuNTg1OCAyLjQxMTEzTDIzIDMuODI1MzVMMy4yMDEwMSAyMy42MjQzWiIgZmlsbD0iI2VkNDI0NSI+PC9wYXRoPj48L3N2Zz4=");
}
.container-YkUktl .flex-2S1XBF .button-12Fmur:after {
  position: relative;
  content: attr(aria-label);
  width: auto;
  height: 20px;
  top: 0;
  left: 0;
  line-height: 20px;
  opacity: 0;
}
.container-YkUktl .flex-2S1XBF .button-12Fmur .contents-3NembX {
  width: 20px;
  height: 20px;
  opacity: 0;
}
.container-YkUktl .flex-2S1XBF:hover {
  width: auto;
  height: auto;
  top: 40px;
  padding: 4px;
  background-color: var(--popout-color);
  border-radius: var(--popout-radius-small);
  box-shadow: var(--default-shadow);
}
.container-YkUktl .flex-2S1XBF:hover:before {
  top: -40px;
}
.container-YkUktl .flex-2S1XBF:hover .button-12Fmur {
  pointer-events: all;
}
.container-YkUktl .flex-2S1XBF:hover .button-12Fmur:after,
.container-YkUktl .flex-2S1XBF:hover .button-12Fmur .contents-3NembX {
  opacity: 1;
}

/*
 *
 *	SPOTIFY CONTROLS
 *
 */
.container-6sXIoE {
  position: absolute;
  width: 240px;
  height: var(--bar-size);
  bottom: 0;
  border-bottom: none;
}
.container-6sXIoE.withTimeline-824fT_ {
  padding-top: 0;
  background-color: transparent;
  border-top: none !important;
}
.container-6sXIoE.withTimeline-824fT_ .timeline-UWmgAx {
  margin: 12px 0 0 0;
}
.container-6sXIoE.withTimeline-824fT_ .bar-g2ZMIm {
  width: calc(100% - 64px);
  left: 0;
  right: 0;
  margin: 0 auto;
}
.container-6sXIoE.withTimeline-824fT_ .barText-lmqc5O {
  margin-top: -10px;
}
.container-6sXIoE.maximized-vv2Wr0 {
  height: calc(var(--bar-size) + 240px);
  padding: 0;
  z-index: 2;
}
.container-6sXIoE.maximized-vv2Wr0 .coverWrapper-YAplwJ {
  position: relative;
  width: 240px;
  height: 240px;
  top: 4px;
  margin: 0;
}
.container-6sXIoE.maximized-vv2Wr0 .details-ntX2k5 {
  margin-top: 6px;
}
.container-6sXIoE.maximized-vv2Wr0 .timeline-UWmgAx {
  margin: 4px 0 13px 0;
}
.container-6sXIoE.maximized-vv2Wr0 + .wrapper-3Hk9OB {
  margin-bottom: 240px;
}

.wrapper-3Hk9OB {
  margin-bottom: 0;
  transition: 200ms ease margin-bottom;
}

/*
 *
 *  STAGE DISCOVERY
 *
 */
.videoControls-353CsJ {
  margin-bottom: 0;
}
.videoControls-353CsJ .gradientTop-1UBZHm {
  display: none;
}

.callContainer-BGIngG {
  margin-bottom: calc(var(--bar-size) + var(--title-bar-height)) !important;
}
.callContainer-BGIngG .topControls-23RE3h {
  position: relative;
  width: calc(100% - 300px);
  top: calc(var(--title-bar-height) * -1);
  z-index: 3;
}
.callContainer-BGIngG .topControls-23RE3h .container-ZMc96U {
  width: 100%;
}

.container-3r7mfc {
  padding-top: 16px;
}
