/* CUSTOM TITLE BAR COLORS */

/* Copy and paste this example and then changes the server name and hex color code */
.container-3w7J-x[aria-label*="SERVER_NAME"]:before {
      --title-custom: #184c88;
}

/* CUSTOM TITLE BAR COLORS -> DEFAULTS */

.container-3w7J-x[aria-label*="BetterDiscord"]:before {
      --title-custom: #3b77c4;
}

.container-3w7J-x[aria-label*="CapnKitten"]:before {
      --title-custom: #184c88;
}


/* THEME STARTS HERE */

:root {
      --title-custom: #212121;
      --title-bar-height: 55px;
}

/*
 *
 *	SEARCH BAR
 *
 */
.search-36MZv- {
  position: absolute;
  left: 0;
  border-radius: 14px;
  transition: 300ms ease box-shadow; }
  .search-36MZv-:focus-within {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }
  .search-36MZv- .searchBar-3dMhjb {
    width: 28px !important;
    padding: 0 !important;
    background-color: #0a0a0a !important;
    transition: 300ms ease all;
    cursor: pointer; }
    .search-36MZv- .searchBar-3dMhjb:hover, .search-36MZv- .searchBar-3dMhjb:focus-within {
      width: 200px !important;
      padding: 0 8px 0 6px !important;
      background-color: var(--input-color) !important;
      cursor: text; }
      .search-36MZv- .searchBar-3dMhjb:hover .iconLayout-1WxHy4, .search-36MZv- .searchBar-3dMhjb:focus-within .iconLayout-1WxHy4 {
        cursor: text; }
      .search-36MZv- .searchBar-3dMhjb:hover .icon-38sknP, .search-36MZv- .searchBar-3dMhjb:focus-within .icon-38sknP {
        margin: 0 -5px 0 0; }
        .search-36MZv- .searchBar-3dMhjb:hover .icon-38sknP .icon-3cZ1F_, .search-36MZv- .searchBar-3dMhjb:focus-within .icon-38sknP .icon-3cZ1F_ {
          color: var(--input-text-color); }
    .search-36MZv- .searchBar-3dMhjb .iconLayout-1WxHy4 {
      width: 28px;
      cursor: pointer; }
    .search-36MZv- .searchBar-3dMhjb .icon-38sknP {
      margin: 0; }
      .search-36MZv- .searchBar-3dMhjb .icon-38sknP .icon-3cZ1F_ {
        color: #eee; }

.title-3qD0b-[aria-label="Channel header"] .children-19S4PO {
  margin-left: 28px; }

/*
 *
 *	TITLE BAR
 *
 */
.typeWindows-1za-n7 {
  position: absolute;
  width: calc(100% - 72px);
  height: 12px;
  right: 0;
  background-color: transparent; }
  .typeWindows-1za-n7 .wordmarkWindows-1v0lYD {
    display: none; }
  .typeWindows-1za-n7 .winButton-iRh8-Z {
    position: absolute;
    width: 45px;
    height: 31px;
    background-color: var(--window-button); }
    .typeWindows-1za-n7 .winButton-iRh8-Z.winButtonMinMax-PBQ2gm:hover {
      background-color: var(--window-button-hover); }
    .typeWindows-1za-n7 .winButton-iRh8-Z.winButtonMinMax-PBQ2gm:nth-last-of-type(1) {
      right: 90px; }
    .typeWindows-1za-n7 .winButton-iRh8-Z.winButtonMinMax-PBQ2gm:nth-last-of-type(2) {
      right: 45px; }
    .typeWindows-1za-n7 .winButton-iRh8-Z.winButtonClose-1HsbF-:hover {
      background-color: var(--window-button-close); }

.notice-3bPHh- {
  margin-right: 135px;
  height: 31px !important;
  max-height: 31px;
  line-height: 31px;
  border-radius: 0; }
  .notice-3bPHh- .closeButton-3cJIM4 {
    height: 31px;
    max-height: 31px; }
  .notice-3bPHh- .button-38aScr {
    padding: 0 12px !important; }

.toolbar-1t6TWx .anchor-3Z-8Bb {
  display: none; }

.header-2V-4Sw {
  height: var(--title-bar-height); }

/* TITLE BAR -> COLORED */
.wrapper-2qzCYF {
  z-index: auto;
  margin-top: var(--title-bar-height); }
  .wrapper-2qzCYF.minimum-28Z35l {
    background-color: var(--title-bar); }
  .wrapper-2qzCYF.video--KPXCT.noChat-18KtBD .callContainer-36WRfH {
    margin-bottom: calc(var(--bar-size) + var(--title-bar-height)); }
  .wrapper-2qzCYF.video--KPXCT .root-217Brm {
    background-color: #000; }
  .wrapper-2qzCYF.video--KPXCT .callContainer-36WRfH:before {
    position: absolute;
    content: " ";
    width: 100%;
    height: var(--title-bar-height);
    top: calc(var(--title-bar-height) * -1);
    left: 0;
    background-color: #000;
    pointer-events: none; }
  .wrapper-2qzCYF .callContainer-36WRfH {
    overflow: visible; }
  .wrapper-2qzCYF .headerWrapper-3NUKsd {
    margin-top: -55px;
    background-color: var(--title-bar); }

.chat-3bRxxu {
  background-color: var(--title-bar); }
  .chat-3bRxxu .content-yTz4x3 {
    background-color: var(--chat-color); }
    .chat-3bRxxu .content-yTz4x3:before {
      display: none; }

.threadSidebarOpen-vdkwIh .container-1r6BKw {
  width: 100%; }

.container-1r6BKw {
  width: calc(100% - 310px);
  height: var(--title-bar-height);
  padding-right: 0;
  transition: 300ms ease padding-left;
  --text-color: #fff;
  /*&:focus-within {
  	padding-left: 180px;
  }*/ }
  .container-1r6BKw.themed-ANHk51 {
    background-color: transparent !important; }
  .container-1r6BKw .divider-3FBTu8 {
    margin: 0 2px; }
  .container-1r6BKw .clickable-3rdHwn:hover .icon-22AiRD {
    color: var(--interactive-hover); }
  .container-1r6BKw .selected-1GqIat .icon-22AiRD {
    color: var(--interactive-active); }
  .container-1r6BKw .icon-22AiRD,
  .container-1r6BKw .base-1x0h_U,
  .container-1r6BKw .topic-TCb_qw,
  .container-1r6BKw .nicknames-1XK4Zt {
    color: var(--text-color); }
  .container-1r6BKw .anchor-3Z-8Bb {
    color: var(--text-color) !important;
    font-weight: 600; }

.container-3w7J-x:before,
.container-1D34oG:before,
.container-1a3EgQ:before,
.container-3Mxszk:before,
.applicationStore-1pNvnv:before {
  position: fixed;
  content: " ";
  width: calc(100% - 312px);
  height: var(--title-bar-height);
  right: 0;
  background-color: var(--title-bar);
  z-index: -1; }

.container-1D34oG:before,
.container-1a3EgQ:before,
.container-3Mxszk:before,
.applicationStore-1pNvnv:before {
  z-index: auto; }

/* TITLE BAR -> COLORED -> DEFAULTS */
.container-3w7J-x:before {
  background-color: var(--title-custom); }
.container-3w7J-x[aria-label*="BetterDiscord"]:before {
  --title-custom: #3b77c4; }
.container-3w7J-x[aria-label*="CapnKitten"]:before {
  --title-custom: #184c88; }

.root-3JVdIJ {
  min-width: 180px;
  width: 180px !important;
  min-height: 200px !important;
  height: 300px; }

/*
 *
 *	USER STATUS
 *
 */
.sidebar-2K8pFh {
  margin-bottom: calc(var(--bar-size) + 1px);
  z-index: 3; }

.container-3baos1 {
  position: absolute;
  height: 32px !important;
  top: 12px;
  right: 150px;
  margin-bottom: 0;
  padding: 0 2px;
  background-color: #0a0a0a !important;
  border-radius: 18px;
  border-top: none;
  box-shadow: none !important; }
  .container-3baos1 .avatar-SmRMf2 {
    width: 28px !important;
    height: 28px !important; }
  .container-3baos1 .nameTag-3uD-yy {
    max-width: 90px;
    height: 100%;
    margin-right: 32px; }
    .container-3baos1 .nameTag-3uD-yy:hover .usernameContainer-1fp4nu {
      height: 18px; }
    .container-3baos1 .nameTag-3uD-yy:hover .subtext-3CDbHg {
      height: 13px;
      opacity: 1;
      visibility: visible; }
    .container-3baos1 .nameTag-3uD-yy .hoverRoll-YK53gQ .hovered-d5PMVU {
      display: none; }
    .container-3baos1 .nameTag-3uD-yy .hoverRoll-YK53gQ .default-3sgIpy {
      opacity: 1;
      transform: none; }
  .container-3baos1 .usernameContainer-1fp4nu,
  .container-3baos1 .subtext-3CDbHg {
    transition: 300ms ease all; }
  .container-3baos1 .usernameContainer-1fp4nu {
    height: 100%; }
  .container-3baos1 .subtext-3CDbHg {
    height: 0;
    opacity: 0;
    visibility: hidden; }
  .container-3baos1 .flex-1xMQg5 {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    padding: 0; }
    .container-3baos1 .flex-1xMQg5:before {
      position: inherit;
      content: " ";
      width: 32px;
      height: 32px;
      top: 0;
      right: 0;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCIgZmlsbD0iI0ZGRkZGRiI+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xNi41OSA4LjU5TDEyIDEzLjE3IDcuNDEgOC41OSA2IDEwbDYgNiA2LTZ6Ii8+PC9zdmc+");
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer; }
    .container-3baos1 .flex-1xMQg5:after {
      position: absolute;
      content: " ";
      width: 100%;
      height: 16px;
      top: -16px;
      right: 0;
      background-color: transparent; }
    .container-3baos1 .flex-1xMQg5 .button-14-BFJ {
      display: grid;
      grid-template-columns: 20px max-content;
      grid-template-rows: auto;
      gap: 0 8px;
      justify-content: left;
      width: 100%;
      height: 32px;
      max-height: 32px;
      padding: 6px 11px;
      border-radius: var(--popout-radius-small);
      pointer-events: none; }
      .container-3baos1 .flex-1xMQg5 .button-14-BFJ:hover {
        background-color: var(--menu-hover-color); }
      .container-3baos1 .flex-1xMQg5 .button-14-BFJ[role="switch"]:before {
        position: fixed;
        content: " ";
        width: 28px;
        height: 28px;
        top: 14px;
        right: 152px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        border-radius: 50%;
        pointer-events: none; }
      .container-3baos1 .flex-1xMQg5 .button-14-BFJ[role="switch"][aria-checked="true"] + .button-14-BFJ[role="switch"][aria-checked="false"]:before {
        background-color: rgba(0, 0, 0, 0.9);
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCI+PHBhdGggZD0iTTYuNyAxMUg1QzUgMTIuMTkgNS4zNCAxMy4zIDUuOSAxNC4yOEw3LjEzIDEzLjA1QzYuODYgMTIuNDMgNi43IDExLjc0IDYuNyAxMVoiIGZpbGw9IiNlZWUiPjwvcGF0aD48cGF0aCBkPSJNOS4wMSAxMS4wODVDOS4wMTUgMTEuMTEyNSA5LjAyIDExLjE0IDkuMDIgMTEuMTdMMTUgNS4xOFY1QzE1IDMuMzQgMTMuNjYgMiAxMiAyQzEwLjM0IDIgOSAzLjM0IDkgNVYxMUM5IDExLjAzIDkuMDA1IDExLjA1NzUgOS4wMSAxMS4wODVaIiBmaWxsPSIjZWVlIj48L3BhdGg+PHBhdGggZD0iTTExLjcyMzcgMTYuMDkyN0wxMC45NjMyIDE2Ljg1MzFMMTAuMjUzMyAxNy41Njg4QzEwLjQ5NzggMTcuNjMzIDEwLjc0NyAxNy42ODM5IDExIDE3LjcyVjIySDEzVjE3LjcyQzE2LjI4IDE3LjIzIDE5IDE0LjQxIDE5IDExSDE3LjNDMTcuMyAxNCAxNC43NiAxNi4xIDEyIDE2LjFDMTEuOTA3NiAxNi4xIDExLjgxNTUgMTYuMDk3NSAxMS43MjM3IDE2LjA5MjdaIiBmaWxsPSIjZWVlIj48L3BhdGg+PHBhdGggZD0iTTIxIDQuMjdMMTkuNzMgM0wzIDE5LjczTDQuMjcgMjFMOC40NiAxNi44Mkw5LjY5IDE1LjU4TDExLjM1IDEzLjkyTDE0Ljk5IDEwLjI4TDIxIDQuMjdaIiBmaWxsPSIjZWQ0MjQ1Ij48L3BhdGg+PC9zdmc+"); }
      .container-3baos1 .flex-1xMQg5 .button-14-BFJ[role="switch"][aria-checked="true"] + .button-14-BFJ[role="switch"][aria-checked="true"]:before {
        background-color: rgba(0, 0, 0, 0.9);
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCI+PHBhdGggZD0iTTYuMTYyMDQgMTUuMDA2NUM2LjEwODU5IDE1LjAwMjIgNi4wNTQ1NSAxNSA2IDE1SDRWMTJDNCA3LjU4OCA3LjU4OSA0IDEyIDRDMTMuNDgwOSA0IDE0Ljg2OTEgNC40MDQzOSAxNi4wNTk5IDUuMTA4NTlMMTcuNTEwMiAzLjY1ODM1QzE1LjkyOTIgMi42MTA2NCAxNC4wMzQ2IDIgMTIgMkM2LjQ4NiAyIDIgNi40ODUgMiAxMlYxOS4xNjg1TDYuMTYyMDQgMTUuMDA2NVoiIGZpbGw9IiNlZWUiPjwvcGF0aD48cGF0aCBkPSJNMTkuNzI1IDkuOTE2ODZDMTkuOTA0MyAxMC41ODEzIDIwIDExLjI3OTYgMjAgMTJWMTVIMThDMTYuODk2IDE1IDE2IDE1Ljg5NiAxNiAxN1YyMEMxNiAyMS4xMDQgMTYuODk2IDIyIDE4IDIySDIwQzIxLjEwNSAyMiAyMiAyMS4xMDQgMjIgMjBWMTJDMjIgMTAuNzA3NSAyMS43NTM2IDkuNDcxNDkgMjEuMzA1MyA4LjMzNjU4TDE5LjcyNSA5LjkxNjg2WiIgZmlsbD0iI2VlZSI+PC9wYXRoPjxwYXRoIGQ9Ik0zLjIwMTAxIDIzLjYyNDNMMS43ODY4IDIyLjIxMDFMMjEuNTg1OCAyLjQxMTEzTDIzIDMuODI1MzVMMy4yMDEwMSAyMy42MjQzWiIgZmlsbD0iI2VkNDI0NSI+PC9wYXRoPj48L3N2Zz4="); }
      .container-3baos1 .flex-1xMQg5 .button-14-BFJ:after {
        position: relative;
        content: attr(aria-label);
        width: auto;
        height: 20px;
        top: 0;
        left: 0;
        line-height: 20px;
        opacity: 0; }
      .container-3baos1 .flex-1xMQg5 .button-14-BFJ .contents-18-Yxp {
        width: 20px;
        height: 20px;
        opacity: 0; }
    .container-3baos1 .flex-1xMQg5:hover {
      width: auto;
      height: auto;
      top: 40px;
      padding: 4px;
      background-color: var(--popout-color);
      border-radius: var(--popout-radius-small);
      box-shadow: var(--default-shadow); }
      .container-3baos1 .flex-1xMQg5:hover:before {
        top: -40px; }
      .container-3baos1 .flex-1xMQg5:hover .button-14-BFJ {
        pointer-events: all; }
        .container-3baos1 .flex-1xMQg5:hover .button-14-BFJ:after,
        .container-3baos1 .flex-1xMQg5:hover .button-14-BFJ .contents-18-Yxp {
          opacity: 1; }

/*
 *
 *	SPOTIFY CONTROLS
 *
 */
.container-6sXIoE {
  position: absolute;
  width: 240px;
  height: var(--bar-size);
  bottom: 0;
  border-bottom: none; }
  .container-6sXIoE.withTimeline-824fT_ {
    padding-top: 0;
    background-color: transparent;
    border-top: none !important; }
    .container-6sXIoE.withTimeline-824fT_ .timeline-UWmgAx {
      margin: 12px 0 0 0; }
    .container-6sXIoE.withTimeline-824fT_ .bar-g2ZMIm {
      width: calc(100% - 64px);
      left: 0;
      right: 0;
      margin: 0 auto; }
    .container-6sXIoE.withTimeline-824fT_ .barText-lmqc5O {
      margin-top: -10px; }
  .container-6sXIoE.maximized-vv2Wr0 {
    height: calc(var(--bar-size) + 240px);
    padding: 0;
    z-index: 2; }
    .container-6sXIoE.maximized-vv2Wr0 .coverWrapper-YAplwJ {
      position: relative;
      width: 240px;
      height: 240px;
      top: 1px;
      margin: 0; }
    .container-6sXIoE.maximized-vv2Wr0 .details-ntX2k5 {
      margin-top: 6px; }
    .container-6sXIoE.maximized-vv2Wr0 .timeline-UWmgAx {
      margin: 4px 0 13px 0; }
    .container-6sXIoE.maximized-vv2Wr0 + .wrapper-24pKcD {
      margin-bottom: 240px; }

.wrapper-24pKcD {
  margin-bottom: 0;
  transition: 200ms ease margin-bottom; }

/*
 *
 *  STAGE DISCOVERY
 *
 */
.videoControls-24w7Xp {
  margin-bottom: 0; }
  .videoControls-24w7Xp .gradientTop-3UWg3T {
    display: none; }

.topControls-KKImPZ {
  position: relative;
  width: calc(100% - 300px);
  top: calc(var(--title-bar-height) * -1);
  z-index: 3; }
  .topControls-KKImPZ .container-1r6BKw {
    width: 100%; }

.callContainer-3UuV6S {
  margin-bottom: calc(var(--bar-size) + var(--title-bar-height)) !important; }

.container-2t1JyW {
  padding-top: 16px; }
