/**
 * @name Spotify Discord Addon - Redesign
 * @version 1.0.0
 * @description An add-on theme that futher turns Spotify Discord into Spotify by mimicking the title bar and similar Spotify controls
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Spotify-Discord/css/addons/redesign/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/css/addons/redesign/source.css);

:root {
      --title-bar-height: 55px;
}

/* CUSTOM TITLE BAR COLORS */

/* Copy and paste this example and then changes the server name and hex color code */
.container-3w7J-x[aria-label*="SERVER_NAME"]:before {
      --title-custom: #184c88;
}

/* CUSTOM TITLE BAR COLORS -> DEFAULTS */

.container-3w7J-x[aria-label*="BetterDiscord"]:before {
      --title-custom: #3b77c4;
}

.container-3w7J-x[aria-label*="CapnKitten"]:before {
      --title-custom: #184c88;
}
