/*
 *
 *	FONTS
 *
 */

/* FONTS -> CIRCULAR STD */

/* FONTS -> CIRCULAR STD -> 400 */

@font-face {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/CircularStd-Book.otf) format('otf');
}

/* FONTS -> CIRCULAR STD -> 500 */

@font-face {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/CircularStd-Medium.otf) format('otf');
}

/* FONTS -> CIRCULAR STD -> 700 */

@font-face {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/CircularStd-Bold.otf) format('otf');
}

/* FONTS -> CIRCULAR STD -> ITALIC */

/* FONTS -> CIRCULAR STD -> ITALIC -> 400 */

@font-face {
    font-family: 'Circular Std';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/CircularStd-BookItalic.otf) format('otf');
}

/* FONTS -> CIRCULAR STD -> ITALIC -> 500 */

@font-face {
    font-family: 'Circular Std';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/CircularStd-MediumItalic.otf) format('otf');
}

/* FONTS -> CIRCULAR STD -> ITALIC -> 700 */

@font-face {
    font-family: 'Circular Std';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/CircularStd-BoldItalic.otf) format('otf');
}
