/*
 *
 *	FONTS
 *
 */

/* FONTS -> CIRCULAR */

/* FONTS -> CIRCULAR -> 400 */

@font-face {
    font-family: 'Circular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/Circular-Book.woff2) format("woff2"),
        url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/Circular-Book.woff2) format("woff")
}

@font-face {
    font-family: 'Circular';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/Circular-BookItalic.woff2) format("woff2"),
        url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/Circular-BookItalic.woff2) format("woff");
}

/* FONTS -> CIRCULAR -> 500 */

@font-face {
    font-family: 'Circular';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/Circular-Medium.woff2) format("woff2"),
        url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/Circular-Medium.woff2) format("woff");
}

@font-face {
    font-family: 'Circular';
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/Circular-MediumItalic.woff2) format("woff2"),
        url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/Circular-MediumItalic.woff2) format("woff");
}

/* FONTS -> CIRCULAR -> 700 */

@font-face {
    font-family: 'Circular';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/Circular-Bold.woff2) format("woff2"),
        url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/Circular-Bold.woff2) format("woff");
}

@font-face {
    font-family: 'Circular';
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/Circular-BoldItalic.woff2) format("woff2"),
        url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/Circular-BoldItalic.woff2) format("woff");
}
