/*
 *
 *  AVATARS
 *
 */

%avatarWrapper {
    border-radius: var(--avatar-radius);

    mask {
        circle[fill="white"] {
            r: 32;
        }
    }

    %avatarImage {
        border-radius: var(--avatar-radius);
    }
}

#svg-mask-avatar-default,
#svg-mask-avatar-status-round-32 {
    circle[fill="white"] {
        r: 1;
    }
}
