/*
 *
 *  BADGES
 *
 */

%flowerStar {
    path {
        fill: hsl(var(--accent-hsl--material-you));
    }
}

%flowerStarChild {
    path {
        fill: var(--accent-text-color--material-you);
    }
}

%baseBadge {
    line-height: 18px;
}

%textBadge {
    font-size: 0.75em;
    text-transform: capitalize;

    &[style="background-color: var(--bg-brand);"] {
        background-color: hsl(var(--accent-hsl--material-you)) !important;
        color: var(--accent-text-color--material-you);
    }

    &[style="background-color: var(--status-danger);"] {
        background-color: hsl(var(--alert-hsl)) !important;
        color: var(--alert-text-color);
    }

    &%newBadge {
        background-color: hsl(var(--accent-hsl--material-you)) !important;
        color: var(--accent-text-color--material-you);
    }
}
