/*
 *
 *	BUTTONS
 *
 */

%button {
	font-size: 1em !important;

	%textSMMedium,
	%textSMSemibold,
	%textSMBold,
	%textMDSemibold {
		height: var(--button-height);
		line-height: var(--button-height);
		font-size: unset;
		font-weight: 500;
	}
}

%buttonFilled,
%buttonOutlined,
%buttonLink,
%buttonInverted {
	--button-background: hsl(var(--accent-hsl--material-you));
	--button-text-color: var(--accent-text-color--material-you);
	--button-shadow: none;
	--button-outline: none;

	background-color: var(--button-background) !important;
	border-radius: var(--button-radius);
	border: var(--button-outline) !important;
	box-shadow: var(--button-shadow);
	color: var(--button-text-color) !important;
	transition: var(--default-time) var(--default-animation) box-shadow;

	&:hover,
	&:active {
		opacity: 1;
	}

	&:hover {
		--button-shadow: none;
	}

	&:active {
		--button-shadow: none;
	}

	&:after {
		position: absolute;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: var(--button-action-color);
		border-radius: var(--button-radius);
		opacity: 0;
		pointer-events: none;
		transition: var(--default-time) var(--default-animation) opacity;
	}

	&:hover {
		&:after {
			opacity: var(--button-action-hover);
		}
	}

	&:active {
		&:after {
			opacity: var(--button-action-active);
		}
	}

	&:disabled {
		opacity: 1 !important;

		&:after {
			display: none;
		}
	}

	%buttonContents {
		height: var(--button-height);
		padding: 0;
		line-height: var(--button-height);
		overflow: visible;

		svg {
			height: var(--button-height);
		}
	}

	%defaultColor {
		color: inherit;
	}

	%buttonLoading {
		height: var(--button-height);
		line-height: var(--button-height);

		svg {
			height: auto;
		}
	}

	%buttonContentsInner,
	%size16,
	%size14 {
		height: var(--button-height);
		line-height: var(--button-height);
		font-weight: 500;
	}
}

/* BUTTONS -> FILLED */

%buttonFilled {
	&:disabled {
		--button-background: hsla(var(--button-link-color),0.15);
		--button-text-color: var(--button-link-text-color);
		--button-shadow: none;
	}

	&%buttonBrand {
		--button-background: hsl(var(--accent-hsl--material-you));
		--button-text-color: var(--accent-text-color--material-you);
	}

	&%buttonRed {
		--button-background: hsl(var(--alert-hsl));
		--button-text-color: var(--alert-text-color);
	}

	&%buttonWhite {
		--button-background: rgba(255,255,255,0.15);
		--button-text-color: #fff;
		box-shadow: none !important;

		.upsellButton-36YQ7c {
			color: var(--button-text-color);
		}
	}
}

/* BUTTONS -> OUTLINED */

%buttonOutlined {
	--button-background: transparent;
	--button-text-color: hsl(var(--accent-hsl--material-you));
	--button-shadow: none !important;
	--button-outline: 1px solid hsl(var(--accent-hsl--material-you));

	&:after {
		--button-action-color: hsl(var(--accent-hsl--material-you));
	}

	&:disabled {
		--button-background: transparent;
		--button-text-color: var(--button-link-text-color);
		--button-outline: 1px solid hsla(var(--button-link-color),0.15);
	}

	&%buttonRed {
		--button-text-color: hsl(var(--alert-hsl));
		--button-outline: 1px solid hsl(var(--alert-hsl));

		&:after {
			--button-action-color: hsl(var(--alert-hsl));
			--button-action-hover: 0.1;
			--button-action-active: 0.2;
		}
	}

	&%buttonWhite {
		--button-background: transparent;
		--button-text-color: #fff;
		--button-outline: 1px solid #fff;
		box-shadow: none !important;

		&:after {
			--button-action-color: #fff;
		}
	}
}

/* BUTTONS -> LINKS */

%buttonLink {
	--button-padding: 0 12px;
	--button-background: transparent;
	--button-text-color: var(--button-link-accent-text-color);
	--button-shadow: none !important;

	--accent-button-action-hover: 0.14;
	--accent-button-action-active: 0.21;

	&:after {
		--button-action-color: hsl(var(--button-link-accent-color));
	}

	&:hover {
		text-decoration: none !important;

		%buttonContents {
			background-image: none !important;
		}
	}

	&:disabled {
		--button-background: transparent;
		--button-text-color: var(--button-link-text-color);
	}

	%buttonContents {
		> div {
			line-height: var(--button-height);
			color: var(--button-text-color) !important;
			font-size: 1em;
			font-weight: 500;
		}
	}
}

/* BUTTONS -> INVERTED */

%buttonInverted {
	&%buttonBrand {
		--button-background: hsla(0,0%,100%,0.15);
		--button-text-color: #fff;
		--button-shadow: none !important;
	}
}

/* BUTTONS -> SIZES */

%buttonSizeTiny,
%buttonSizeMin,
%buttonSizeSmall,
%buttonSizeMedium,
%buttonSizeLarge,
%buttonSizeXlarge,
%buttonSizeMax,
%buttonSize,
%buttonSizeAlt,
%noticeButton,
%buttonSizeIcon {
	//min-width: var(--button-height);
	height: var(--button-height) !important;
	min-height: var(--button-height) !important;
	padding: var(--button-padding) !important;
	line-height: var(--button-height) !important;
	border-radius: var(--button-radius) !important;
}

%buttonSizeMedium,
%buttonSizeLarge,
%buttonSizeXlarge,
%buttonSizeMax {
	min-width: var(--button-height) !important;
}

%buttonSizeAlt {
	height: var(--button-height) !important;
}

%buttonSizeIcon {
	--button-padding: 0 10px;
}

%inviteButton%buttongSizeAlt {
	height: var(--button-height);
}

%disabledButtonWrapper {
	--button-padding: 0;

	background-color: transparent !important;

	%buttonFilled {
		--button-padding: 0 20px;
	}

	%iconButton {
		--button-padding: 0;
	}
}

%buttonIconSize {
	min-width: var(--button-height);
	max-width: var(--button-height);
}

%iconButton {
	--button-padding: 0;
}

/* BUTTONS -> CALL BUTTONS */

%callButtonColorable {
	--button-background: var(--menu-item-hover);
	--button-text-color: #fff;

	background-color: var(--button-background) !important;
	color: var(--button-text-color) !important;

	&:after {
		position: absolute;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #fff;
		border-radius: 50%;
		opacity: 0;
		pointer-events: none;
		transition: var(--default-time) var(--default-animation) opacity;
	}

	&:hover {
		&:after {
			opacity: var(--button-action-hover);
		}
	}

	&:active {
		&:after {
			opacity: var(--button-action-active);
		}
	}

	&%callButtonRed {
		--button-background: hsl(var(--alert-hsl));
		--button-text-color: var(--alert-text-color);
	}

	&%callButtonWhite {
		--button-background: #fff;
		--button-text-color: #060607;
	}

	&%callButtonLight {
		--button-text-color: #060607;
	}

	&%callButtonLightActive {
		--button-background: var(--menu-item-select);
		--button-text-color: #060607;
	}

	%callCenterIcon {
		color: var(--button-text-color) !important;
	}
}

%buttonQuestionMark {
	background-color: hsl(var(--accent-hsl--material-you));
	border-radius: 50%;

	%buttongQuestionMarkIcon {
		color: var(--accent-text-color--material-you);
	}
}

/* BUTTONS -> SEGMENTED BUTTONS */

%segmentedButton {
	padding: 11px 0;
	background-color: transparent;
	border-color: var(--separator-color) !important;
	transition: var(--default-time) var(--default-animation) background-color;

	&:first-child {
		border-radius: 20px 0 0 20px;
	}

	&:last-child {
		border-radius: 0 20px 20px 0;
	}

	&:not(%segmentedButtonPremiumRequired) {
		&:hover {
			background-color: var(--menu-item-hover) !important;
		}

		&%segmentedButtonSelected {
			background-color: var(--menu-item-select) !important;
		}
	}
}
