@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  CARDS
 *
 */

#{ $settingsCard } {
	@include card-format(false, 16px, true);

	&[style*="padding"] {
		padding: 16px !important;
	}

	a {
		color: hsl(var(--accent-hsl--material-you));
	}

	#{ $settingsCardIcon } {
		margin: 16px !important;

		+ #{ $settingsCardIconDescriptor } {
			margin-left: 0;
		}
	}
}

#{ $settingsCardPrimary } {
	@include card-format(true, 16px, true);

	#{ $settingsCardLargeIcon } {
		padding: 8px;
	}
}

#{ $promotionCard },
#{ $settingsDetailBlock },
#{ $settingsCardDescriptionBox },
#{ $dropsHelpText } {
	@include card-format(false, 16px, true);
}

#{ $dropsHelpText } {
	p {
		margin: 0 0 8px;

		&:last-of-type {
			margin: 0;
		}
	}
}

#{ $settingsSubscriptionBanner } {
	max-width: none;
	border-radius: var(--card-radius-big);

	#{ $button } {
		--button-padding-start: 20px;
		--button-padding-end: 20px;

		margin-left: 8px;
	}
}

#{ $settingsCardInfo } {
	background-color: hsl(var(--accent-hsl),0.1);
	border-radius: var(--card-radius-big);
	border-color: hsl(var(--accent-hsl--material-you));

	#{ $settingsCardInfoIcon } {
		color: hsl(var(--accent-hsl--material-you));
	}
}

#{ $communityUpsellContainer } {
	@include card-format(false, 0, true);

	#{ $communityUpsellFooter } {
		padding: 0 16px 16px;
		background-color: transparent;
	}
}

/* CARDS -> TRIGGER CARDS */

#{ $triggerCollapseable } {
	padding: 8px;
	background-color: var(--card-color-filled);
	border-radius: var(--card-radius-big);
	border: none;

	&:active {
		background-color: var(--card-color-filled) !important;
	}

	&#{ $triggerCollapseableToggled } {
		padding-bottom: 16px;
	}
}

/* CARDS -> HELP MESSAGES */

#{ $helpMessage } {
	background-color: hsl(from var(--help-message-color) h s l / 0.3);
    border-radius: var(--card-radius-big);
	border: none;

    #{ $helpMessageIcon } {
        color: var(--help-message-color);

        path {
			fill: currentColor;
		}
    }

    #{ $textSmMedium } {
		color: var(--help-message-color) !important;
	}
}

#{ $helpMessageWarning } {
	--help-message-color: hsl(var(--warning-hsl));
}

#{ $helpMessageInfo } {
    --help-message-color: hsl(var(--accent-hsl));
}

#{ $helpMessageError } {
    --help-message-color: hsl(var(--alert-hsl));
}

#{ $helpMessagePositive } {
    --help-message-color: var(--info-positive-foreground);
}
