@use '../mixins' as *;

/*
 *
 *  CARDS
 *
 */

%settingsCard {
	@include card-format(false, 16px, true);

	a {
		color: hsl(var(--accent-hsl--material-you));
	}

	%settingsCardIcon {
		margin: 16px !important;

		+ %settingsCardIconDescriptor {
			margin-left: 0;
		}
	}
}

%settingsCardPrimary {
	@include card-format(true, 16px, true);
}

%promotionCard,
%settingsDetailBlock,
%settingsCardDescriptionBox,
%dropsHelpText {
	@include card-format(false, 16px, true);
}

%dropsHelpText {
	p {
		margin: 0 0 8px;

		&:last-of-type {
			margin: 0;
		}
	}
}

%settingsSubscriptionBanner {
	max-width: none;
	border-radius: var(--card-radius-big);

	%button {
		--button-padding: 0 20px;

		margin-left: 8px;
	}
}

%settingsCardInfo {
	background-color: hsla(var(--accent-hsl),0.1);
	border-radius: var(--card-radius-big);
	border-color: hsl(var(--accent-hsl--material-you));

	%settingsCardInfoIcon {
		color: hsl(var(--accent-hsl--material-you));
	}
}

%communityUpsellContainer {
	@include card-format(false, 0, true);

	%communityUpsellFooter {
		padding: 0 16px 16px;
		background-color: transparent;
	}
}
