@use '../classes' as *;

/*
 *
 *	CHECKBOXES
 *
 */

#{ $checkboxIndicator } {
	background-color: transparent;
	border-width: 2px;
    border-radius: 4px;
	transition: var(--default-time) var(--default-animation) border-color, var(--default-time) var(--default-animation) background-color;
}

#{ $checkboxOption } {
	&[data-selected] {
		&:hover {
			&:not([data-disabled]) {
				#{ $checkboxIndicator } {
					background-color: hsl(var(--accent-hsl--material-you));
				}
			}
		}
		
		#{ $checkboxIndicator } {
			background-color: hsl(var(--accent-hsl--material-you));
			border-color: hsl(var(--accent-hsl--material-you));
		}

		#{ $checkboxCheckmark },
		#{ $checkboxCheckStroke} {
			color: var(--accent-text-color--material-you);
		}
	}
}
