@use '../mixins' as *;

/*
 *
 *  INPUTS
 *
 */

%input {
    @include input-format(false, false);

    &%multiInput,
    &%inputWithInnerInput {
        padding: 0;
    }

    &::-webkit-input-placeholder {
        font-family: var(--app-font);
        color: var(--input-placeholder-color);
    }

    &%inputHidden {
        --input-height: 0;
    }

    &%inputTextArea {
        height: auto;
        min-height: var(--input-height);
        max-height: calc(var(--input-height) * 10);
        padding: calc((var(--input-height) - 22px) / 2) 12px !important;
    }
}

%inputContainer:not(%selectMenuContainer) {
    @include input-format(false, true, false);

    %inputWrapper {
        background-color: transparent;
        border: none;
    }

    %inputWrapperHasLeading {
        margin-left: calc(var(--input-padding) / -2);
        padding-left: 0;

        %inputIcon {
            width: calc(var(--input-height) / 1.5);
            height: calc(var(--input-height) / 1.5);
            border: none;

            svg {
                width: 60%;
                height: 60%;
            }
        }
    }
}

%clickTrapContainer {
    %inputContainer {
        --input-color: var(--input-color-alt);
    }
}

%inputWrapper,
%nameInputContainer {
    &%inputWrapperLeading {
        padding: 0 12px 0 8px;
    }

    %input {
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }

    %inputEmojiButton {
        margin: 0;
        padding: 0 0 0 var(--space-8);
        background-color: transparent;
    }
}

%inputWrapper {
    &:has(input:focus, textarea:focus) {
        outline: none !important;
    }
}

%inputPrefixContainer {
    margin-right: 6px;

    %inputPrefixContainerSeparator {
        background-color: var(--input-border-color);
    }
}

%textareaV2Wrapper:not(%inputWrapper) {
    background-color: var(--input-color);
    border-radius: var(--input-radius);
    border: none;

    %textareaV2 {
        color: var(--input-text-color);

        &::-webkit-input-placeholder {
            color: var(--input-placeholder-color);
        }
    }
}

%multiInputLast {
    &:before {
        display: none;
    }
}

%eyebrowError {
    + %inputWrapper {
        %input {
            box-shadow: inset 0 -1px 0 0 hsl(var(--alert-hsl));

            &:focus {
                box-shadow: inset 0 -2px 0 0 hsl(var(--alert-hsl));
            }
        }
    }
}

%inputLabel {
    @include remove-caps(14px);
}

%inputPrefix {
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;

    + %input {
        padding-left: 28px;
    }
}

%inputEmojiContainer {
    height: var(--input-height);
    line-height: var(--input-height);
    margin: 0 12px;
    padding: 0;
    z-index: 2;

    + %inputWrapper {
        %input {
            padding-left: 42px !important;
        }
    }
}

%inputEmojiButton {
    margin: 0 12px;
}

%input {
    &%inputEmojiButtonText {
        padding-left: 44px !important;
    }
}

%copyInput {
    @include input-format(true, false, true);

    &:hover {
        %button {
            width: auto !important;
        }
    }

    %button {
        --button-height: calc(var(--input-height) / 1.2);
		margin: calc((var(--input-height) - var(--button-height)) / 2) !important;
    }
}

%copyInput {
    %copyInputInner {
        padding: 8px 8px 8px 12px;
    }

    %button {
        padding: var(--button-padding) !important;
    }
}

%fileUploadContainer {
    --input-padding: 0;

    %fileUploadInput {
        padding: 0 0 0 12px;

        &::-webkit-input-placeholder {
            font-weight: 500;
        }
    }
}

%fakeInput {
    background-color: var(--card-color-filled);
    border-radius: var(--input-radius);
    border: none;
}

/* INPUTS -> SEARCH BAR */

%inputContainer {
    /*--input-padding: 0 6px 0 12px;

    height: var(--input-height);
    background-color: var(--input-color);
    border-radius: var(--input-radius);
    border: none;

    %searchInner {
        padding: 0 var(--input-padding);
    }

    %searchInput {
        height: var(--input-height);
        margin: 0;
        padding: 0;

        &::-webkit-input-placeholder {
            font-family: var(--app-font);
            color: var(--input-placeholder-color);
        }
    }*/
}

/* INPUTS -> UNIVERSAL SEARCH */

/*%inputContainer {
    %inputWrapper {
        @include input-format(false, true, true);
    }
}*/

/* INPUTS -> OPTION PILL */

%optionPill {
    background-color: transparent !important;
    border-radius: 13px;
    border-color: var(--main-textarea-border) !important;

    &%optionPillSelected {
        border-color: hsl(var(--accent-hsl--material-you)) !important;
    }

    &%optionPillErrored {
        border-color: hsl(var(--alert-hsl)) !important;
    }

    %optionPillKey {
        background-color: var(--input-pill-color) !important;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }
}

%input {
    &%inputError {
        border-radius: 4px;

        + %inputColorStatusRed {
            position: absolute;
            width: 100%;
            margin-top: -24px;
            text-align: right;
        }
    }
}
