@use '../mixins' as *;

/*
 *
 *  INPUTS
 *
 */

%input {
    height: var(--input-height);
	padding: 0 12px;
	background-color: var(--input-color);
	border-radius: 4px 4px 0 0;
    border: none;
    box-shadow: inset 0 -1px 0 0 var(--input-border-color);
    color: var(--input-text-color);
    transition: var(--default-time) var(--default-animation) box-shadow;

    &:focus {
        box-shadow: inset 0 -2px 0 0 hsl(var(--accent-hsl--material-you));
    }

    &%multiInput,
    &%inputWithInnerInput {
        padding: 0;
    }

    &::-webkit-input-placeholder {
        font-family: var(--app-font);
        color: var(--input-placeholder-color);
    }

    &%inputTextArea {
        --input-height: auto;

        padding: 8px 12px;
    }

    &%inputHidden {
        --input-height: 0;
    }
}

%multiInputLast {
    &:before {
        display: none;
    }
}

%eyebrowError {
    + %inputWrapper {
        %input {
            box-shadow: inset 0 -1px 0 0 hsl(var(--alert-hsl));

            &:focus {
                box-shadow: inset 0 -2px 0 0 hsl(var(--alert-hsl));
            }
        }
    }
}

%inputLabel {
    @include remove-caps(14px);
}

%inputWrapper {
    %inputPrefix {
        + %input {
            padding-left: 32px;
        }
    }
}

%inputEmojiContainer {
    height: var(--input-height);
    line-height: var(--input-height);
    margin: 0 4px;
    padding: 0;
    z-index: 2;

    + %inputWrapper {
        %input {
            padding-left: 36px;
        }
    }
}

%inputEmojiButton {
    margin: 0 12px;
}

%input {
    &%inputEmojiButtonText {
        padding-left: 44px !important;
    }
}

%copyInput,
%keybindInput {
    @include new-input-format(true);

    %button {
        --button-height: 30px;
		margin: 3px;
    }
}

%copyInput {
    %copyInputInner {
        padding: 8px 8px 8px 12px;
    }

    %button {
        padding: var(--button-padding) !important;
    }
}

%keybindInput {
    %keybindInputInner {
        padding: 8px 8px 8px 12px;

        &::-webkit-input-placeholder {
            font-family: var(--app-font);
        }
    }
}

%fileUploadContainer {
    --input-padding: 0;

    %fileUploadInput {
        padding: 0 0 0 12px;

        &::-webkit-input-placeholder {
            font-weight: 500;
        }
    }
}

/* INPUTS -> OPTION PILL */

%optionPill {
    background-color: transparent !important;
    border-radius: 13px;
    border-color: var(--main-textarea-border) !important;

    &%optionPillSelected {
        border-color: hsl(var(--accent-hsl--material-you)) !important;
    }

    &%optionPillErrored {
        border-color: hsl(var(--alert-hsl)) !important;
    }

    %optionPillKey {
        background-color: var(--input-pill-color) !important;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }
}

%input {
    &%inputError {
        border-radius: 4px;

        + %inputColorStatusRed {
            position: absolute;
            width: 100%;
            margin-top: -24px;
            text-align: right;
        }
    }
}
