@use '../mixins' as *;

/*
 *
 *	NOTICES
 *
 */

%notice {
	border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
	box-shadow: none;

	%buttonOutlined {
		--button-height: 24px;
		--button-padding: 0 12px;
		--button-background: hsla(var(--button-link-color),0.15);
		--button-text-color: var(--button-link-text-color);
		--button-outline: none;

		padding: var(--button-padding)
	}
}

%bdNotices {
	+ %notice {
		border-radius: 0;
	}
}

%bdNotice {
	background-color: hsl(var(--accent-hsl--material-you));
	color: var(--accent-text-color--material-you);

	&:first-child {
		border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
	}

	span {
		color: var(--accent-text-color--material-you) !important;
	}
}

%noticeButton,
%bdNoticeButton {
	background-color: hsla(var(--button-link-color),0.15) !important;
	border: none;
	color: var(--button-link-text-color) !important;

	&:hover {
		background-color: hsla(var(--button-link-color),0.275) !important;
	}
}

%noticeButton {
	--button-height: 24px;
	--button-padding: 0 12px;
}

%bdNoticeButton {
	height: 24px;
	padding: 0 12px;
	border-radius: 12px;
	font-weight: 500;
}

%bdNoticeClose {
	right: 8px;
	@include add-icon(var(--accent-text-color--material-you), close);
	background-image: none;
	-webkit-mask-position: center;
			mask-position: center;
	opacity: 0.75;
}

%noticeColorWarning {
	--button-link-color: 0,0%,0%;
	--button-link-text-color: hsl(0,0%,0%);
}

%noticeColorInfo {
	--button-link-color: 0,0%,0%;
	--button-link-text-color: var(--accent-text-color--material-you);

	background-color: hsl(var(--accent-hsl--material-you));
	color: var(--accent-text-color--material-you);

	%noticeCloseIcon path {
		fill: currentColor;
	}
}

%noticeStreamerMode {
	--button-link-color: 0,0%,100%;
	--button-link-text-color: hsl(0,0%,100%);
}

%bdNotice {
	--button-link-text-color: var(--accent-text-color--material-you);
}
