@use '../mixins' as *;

/*
 *
 *	NOTICES
 *
 */

%notice {
	border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
	box-shadow: none;

	%buttonOutlined {
		--button-height: 24px;
		--button-padding: 0 12px;
		--button-background: hsl(from var(--button-link-color) h s l / 0.15);
		--button-text-color: var(--button-link-text-color);
		--button-outline: none;

		padding: var(--button-padding)
	}
}

%noticeButton {
	background-color: hsl(from var(--button-link-color) h s l / 0.15) !important;
	border: none;
	color: var(--button-link-text-color) !important;

	&:hover {
		background-color: hsl(from var(--button-link-color) h s l / 0.275) !important;
	}
}

%noticeButton {
	--button-height: 24px;
	--button-padding: 0 12px;
}

%noticeColorDefault {
    %noticeButton {
        --button-link-color: hsl(0,0%,100%);

        color: var(--status-positive-text) !important;
    }
}

%noticeColorWarning {
	--button-link-color: hsl(0,0%,0%);
	--button-link-text-color: hsl(0,0%,0%);
}

%noticeColorDanger {
	--button-link-color: var(--alert-text-color);
	--button-link-text-color: var(--alert-text-color);

	background-color: hsl(var(--alert-hsl));
	color: var(--alert-text-color);
}

%noticeColorNeutral {
    --button-link-color: hsl(0,0%,100%);
	--button-link-text-color: hsl(0,0%,100%);
}

%noticeColorInfo {
	--button-link-color: hsl(0,0%,0%);
	--button-link-text-color: var(--accent-text-color--material-you);

	background-color: hsl(var(--accent-hsl--material-you));
	color: var(--accent-text-color--material-you);

	%noticeCloseIcon path {
		fill: currentColor;
	}
}

%noticeColorBrand {
	--button-link-color: var(--accent-text-color--material-you);
	--button-link-text-color: var(--accent-text-color--material-you);

	background-color: hsl(var(--accent-hsl--material-you));
	color: var(--accent-text-color--material-you);
}

%noticeColorPremium {
	--button-link-color: hsl(0,0%,100%);
	--button-link-text-color: hsl(0,0%,100%);
}

%noticePreviewMode {
	--button-link-color: hsl(0,0%,100%);
	--button-link-text-color: hsl(0,0%,100%);
}

%noticeStreamerMode {
	--button-link-color: hsl(0,0%,100%);
	--button-link-text-color: hsl(0,0%,100%);
}

%noticeOutdated,
%noticeUpdate {
	--button-link-color: hsl(0,0%,100%);
	--button-link-text-color: hsl(0,0%,100%);
}
