/*
 *
 *  PILL BAR HEADER
 *
 */

%pillContainer {
    background-color: var(--card-color-filled);
    border-radius: 20px;
}

%pillItem {
    border-radius: 16px;
    transition: var(--default-time) var(--default-animation) background-color;

    &:not(%pillItemSelected) {
        &:hover {
            background-color: var(--card-color-hover);
        }
    }

    &%pillItemSelected {
        background-color: var(--card-color-active);
    }
}
