@use '../mixins' as *;

/*
 *
 *	RADIO BUTTONS
 *
 */

div[role="radiogroup"] {
	@include card-format;
}

%radioItem {
	margin: 0;
	padding: 0 16px;
	background-color: transparent;
	border-radius: 0;
	@include card-format--list;

	&:hover,
	&[aria-checked=true],
	&:active {
		background-color: transparent !important;
	}

	%radioBar {
		grid-gap: 12px;
		margin-bottom: 0;
		padding: 12px 0 !important;
		border-left: none;

		@include md-ripple(hover, after, 1.15);

		&:after {
			width: 32px;
			height: 32px;
			top: -3px;
			left: -4px;
			bottom: 0;
			margin: auto 0;
		}

		&%radioBarAlt {
			&:after {
				top: 0;
				left: unset;
				right: -4px;
			}
		}

		/*svg {
			display: flex;
			justify-content: center;
		}*/
	}

	&[aria-checked=true] {
		%radioBar {
			&:after {
				--md-ripple-color: var(--accent-hsl--material-you);
			}

			svg {
				color: hsl(var(--accent-hsl--material-you));
			}

			path {
				fill: currentColor !important;
			}
		}

		%radioIconChecked {
			color: currentColor !important;
		}
	}

	&%radioItemDisabled {
		opacity: 1;

		%radioBar {
			opacity: 0.3;

			&:after {
				display: none;
			}
		}
	}
}

%radioItemDisabledTooltip {
	margin: 0;
	@include card-format--list;

	&:last-child {
		border-bottom: none;
	}
}

.group-LWHoGI {
	overflow: hidden;
}

/* RADIO BUTTONS -> PILL */

%radioPillItem {
	height: 26px;
	background-color: transparent;
	cursor: pointer;
	transition: var(--default-time) var(--default-animation) background-color;

	border-right: 1px solid var(--card-border-color);

	&:last-of-type {
		border-right: none;
	}

	&:hover {
		background-color: var(--menu-item-hover);
	}

	&%radioPillItemSelected {
		background-color: var(--menu-item-select);
		color: var(--menu-item-text-color);
	}

	&%radioPillItemDeny {
		&%radioPillItemSelected {
			background-color: hsl(var(--alert-hsl));
			color: var(--alert-text-color);
		}
	}

	&%radioPillItemPassthrough {
		&%radioPillItemSelected {
			background-color: var(--menu-item-select);
		}
	}

	&%radioPillItemAllow {
		&%radioPillItemSelected {
			background-color: var(--success-color);
			color: #fff;
		}
	}
}

/* RADIO BUTTONS -> CONTEXT MENU */

%menuPopoutItem {
	&[role="menuitemradio"][aria-checked="true"] {
		%menuPopoutIcon {
			color: hsl(var(--accent-hsl--material-you));
		}
	}
}

%menuPopoutIcon {
    %menuPopoutRadio {
        color: currentColor !important;
    }
}
