/*
 *
 *  SPINNER
 *
 */

%spinnerPopout {
    background-color: var(--popout-color);
	box-shadow: var(--shadow-3dp);
	border-radius: 24px;

    %loadingPath {
        stroke: hsl(var(--accent-hsl--material-you)) !important;
    }
}
