/*
 *
 *	SWITCHES
 *
 */

%switchContainer {
	width: 39px;
	height: 24px;
	background-color: transparent !important;
	overflow: visible;

	&:before {
		position: absolute;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: -7px;
		background-color: var(--switch-slider-color);
		border-radius: 12px;
		border: 2px solid var(--switch-knob-color);
		transition: 250ms cubic-bezier(0,0.3,0.7,1) background-color, 250ms cubic-bezier(0,0.3,0.7,1) border-color;
		box-sizing: border-box;
	}

	path {
		fill: var(--switch-slider-color);
		transform: scale(1.4) translate(-3px, -3px);
	}

	&%switchContainerChecked {
		&:before {
			background-color: var(--switch-color-checked);
			border-color: transparent;
		}

		%switchSlider {
			background-color: hsl(var(--accent-hue),calc(var(--accent-saturation) * var(--saturation-factor)),calc(var(--accent-lightness) * var(--switch-color-modifier)));
			width: 18px;
			height: 18px;
			transform: translate(-1px, -50%);
		}

		path {
			fill: hsl(var(--accent-hsl));
			filter: brightness(40%);
		}
	}

	%switchSlider {
		width: 14px;
		height: 14px;
		top: 50%;
		margin: 0;
		background-color: var(--switch-knob-color);
		border-radius: 50%;
		transform: translate(1px, -50%);
		transition: 250ms cubic-bezier(0,0.3,0.7,1) background-color;

		rect {
			display: none;
		}
	}
}

%switchIcon {
	opacity: 1;
}

%themeLight {
	%switchContainer {
		&%switchContainerChecked {
			path {
				fill: var(--switch-color-checked);
				filter: unset;
			}
		}
	}
}

%modalRoot {
	%switchContainer {
		&:before {
			background-color: var(--switch-slider-color-modal);
		}

		&%switchContainerChecked {
			&:before {
				background-color: var(--switch-color-checked);
			}
		}
	}
}

%bdSwitchContainer {
	width: 39px;
	height: 24px;
	overflow: visible;

	&%bdSwitchDisabled {
		opacity: 0.35;
	}

	%bdSwitchBody {
		--switch-color: var(--switch-slider-color);
		--switch-animation: 250ms cubic-bezier(0,0.3,0.7,1) all;

		width: 100%;
		height: 100%;
		transition: var(--switch-animation);
		border: 2px solid var(--switch-knob-color);
		box-sizing: border-box;
		overflow: visible;

		%bdSwitchSlider {
			width: 14px;
			height: 14px;
			top: 50%;
			left: 3px;
			margin: 0;
			transform: translate(0, -50%);
			overflow: visible;
			transition: var(--switch-animation);

			%bdSwitchHandle {
				width: 28px;
				height: 28px;
				x: 0;
				y: -4px;
				rx: 14px;
				fill: var(--switch-knob-color);
				transition: var(--switch-animation);
			}

			%bdSwitchSymbol {
				display: none;
			}
		}
	}

	input {
		&:active {
			+ %bdSwitchBody {
				--switch-color: var(--switch-slider-color);

				%bdSwitchHandle {
					width: 28px;
					height: 28px;
					x: 4px;
					y: -4px;
				}
			}
		}

		&:checked {
			+ %bdSwitchBody {
				--switch-color: var(--switch-color-checked);

				border-color: transparent;

				%bdSwitchSlider {
					width: 18px;
					height: 18px;
					left: 0;
					transform: translate(16px, -50%);

					%bdSwitchHandle {
						fill: hsl(var(--accent-hue),calc(var(--accent-saturation) * var(--saturation-factor)),calc(var(--accent-lightness) * var(--switch-color-modifier)));
					}
				}
			}

			&:active {
				+ %bdSwitchBody {
					--switch-color: var(--switch-color-checked);

					%bdSwitchHandle {
						x: -12.5px;
					}
				}
			}
		}
	}
}
