@use '../mixins' as *;

/*
 *
 *  TAB BAR
 *
 */

%tabBar,
%userModalTabBar,
%eventTabBar {
	%tabBarItem {
		height: inherit;
        margin-top: 0;
        margin-right: 8px;
		border-radius: 0;
		border: none;
		color: var(--interactive-normal) !important;

		&,
		&:hover,
		&%tabBarItemSelected {
			background-color: transparent !important;
		}

		&:hover {
			color: var(--interactive-hover) !important;
		}

		&%tabBarItemSelected {
			color: var(--interactive-normal) !important;
		}

		&%tabBarItemSelected,
		&[aria-selected="true"] {
			@include tab-border(90%);
		}

		&:last-of-type {
			margin-right: 0;
		}
	}
}

%eventTabBar {
	height: 56px;
	margin-bottom: 0;
	padding-top: 0;

	%tabBarItem {
		padding: 0 8px;
		line-height: 56px;
	}
}
