@use '../mixins' as *;

/*
 *
 *	TOASTS
 *
 */

%toast,
%bdToast {
	padding: 12px 16px;
	background-color: rgba(70,70,70,0.8);
	border-radius: 20px;
	box-shadow: none;
	font-size: 1em;
	font-weight: 400;
	color: #fff;
}

%newToast {
	background-color: var(--popout-color);
}

%notificationToast,
%qwertToast {
	margin-top: 30px !important;
	padding: 16px !important;
	border-radius: 4px;
	color: var(--text-normal) !important;

	&:first-child {
		border-radius: var(--popout-radius-big) var(--popout-radius-big) 4px 4px;
	}

	&:last-child {
		border-radius: 4px 4px var(--popout-radius-big) var(--popout-radius-big);
	}

	&:only-child {
		border-radius: var(--popout-radius-big);
	}
}

%notificationToast {
	@include popout-format(true);

	+ %notificationToast {
		margin-top: 2px !important;
	}
}

%qwertToast {
	width: 30vw;
	max-width: 30vw;
	background-color: var(--popout-color) !important;
	backdrop-filter: none;

	+ %qwertToast {
		margin-top: 2px !important;
	}

	%qwertToastIconContainer {
		margin-top: 0;
		margin-right: 8px;
		padding: 0;
	}

	%qwertToastText {
		width: calc(30vw - 60px);
		max-width: calc(30vw - 60px);
	}
}

%notificationToastBg {
	background-color: transparent !important;
}
