@use '../mixins' as *;

/*
 *
 *  TOOLTIP
 *
 */

%tooltip {
    padding: var(--tooltip-padding);
	background-color: var(--tooltip-color) !important;
	border-radius: var(--popout-radius);
	box-shadow: var(--tooltip-shadow) !important;
	font-size: var(--tooltip-font-size);
	font-weight: 500;
    z-index: 99999999999999;
    animation: opacity var(--default-time) ease;

    %tooltipPointer {
        display: none;
    }

    %tooltipContent,
    %tooltipGuildNameText {
        padding: 0;
		font-size: var(--tooltip-font-size);
		color: var(--tooltip-text-color);
    }

    %tooltipActivityIcon {
        color: var(--tooltip-text-color);
    }

    %tooltipClickCTA {
        color: var(--tooltip-text-color) !important;
    }

    %userPopoutBodyInnerWrapper {
        background-color: transparent;
    }
}

%subscribeTooltipWrapper,
%upsellTooltipWrapper,
%accountSwitcherTooltipWrapper {
    @include popout-format;

    &:after {
		border-bottom-color: var(--popout-color);
	}
}

%subscribeTooltipWrapper {
    %subscribeTooltipHeader {
        color: var(--header-primary);
    }

    %subscribeTooltipText {
        color: var(--header-secondary);
    }
}

%upsellTooltipWrapper {
    &%upsellTooltipCaretTopCenter {
        &:after {
            border-bottom-color: var(--popout-color);
        }
    }

    %upsellTooltipHeader {
        color: var(--header-primary);
    }

    %upsellTooltipText {
        color: var(--header-secondary) !important;
    }

    %buttonInverted {
        &%buttonBrand {
            --button-padding: 0 12px;
            --button-background: transparent;
            --button-text-color: hsl(var(--accent-hsl--material-you));
            --accent-button-action-hover: 0.14;
        	--accent-button-action-active: 0.21;

            &:after {
        		background-color: hsl(var(--accent-hsl--material-you));
        	}
        }
    }

    //.lookInverted-2GrLaB.colorBrand-2M3O3N
}

%accountSwitcherTooltipWrapper {
    %accountSwitcherTooltipTitle {
        color: var(--header-primary);
    }

    %accountSwitcherTooltipSubTitle {
        color: var(--header-secondary);
    }

    %accountSwitcherTooltipPointer {
        border-top-color: var(--popout-color);
    }
}
