@use '../mixins' as *;

/*
 *
 *  TOOLTIP
 *
 */

%tooltip {
    padding: var(--tooltip-padding);
	background-color: var(--tooltip-color) !important;
	border-radius: var(--popout-radius);
	box-shadow: var(--tooltip-shadow) !important;
	font-size: var(--tooltip-font-size);
	font-weight: 500;
    z-index: 99999999999999;
    animation: opacity var(--default-time) ease;

    %tooltipPointer {
        display: none;
    }

    %tooltipContent,
    %tooltipGuildNameText {
        padding: 0;
		font-size: var(--tooltip-font-size);
		color: var(--tooltip-text-color);
    }

    %tooltipClickCTA {
        color: var(--tooltip-text-color) !important;
    }

    %userPopoutBodyInnerWrapper {
        background-color: transparent;
    }
}

%subscribeTooltipWrapper,
%upsellTooltipWrapper,
%accountSwitcherTooltipWrapper {
    @include popout-format;

    &:after {
		border-bottom-color: var(--popout-color);
	}
}

%subscribeTooltipWrapper {
    %subscribeTooltipHeader {
        color: var(--header-primary);
    }

    %subscribeTooltipText {
        color: var(--header-secondary);
    }
}

%upsellTooltipWrapper {
    &%upsellTooltipCaretTopCenter {
        &:after {
            border-bottom-color: var(--popout-color);
        }
    }

    %upsellTooltipHeader {
        color: var(--header-primary);
    }

    %upsellTooltipText {
        color: var(--header-secondary) !important;
    }
}

%accountSwitcherTooltipWrapper {
    %accountSwitcherTooltipTitle {
        color: var(--header-primary);
    }

    %accountSwitcherTooltipSubTitle {
        color: var(--header-secondary);
    }

    %accountSwitcherTooltipPointer {
        border-top-color: var(--popout-color);
    }
}
