@use '../mixins' as *;

/*
 *
 *	ACTIVITY LIST
 *
 */

%nowPlayingColumn {
	background-color: var(--main-color);

	%nowPlayingColumnContainer {
		background-color: transparent;

		%nowPlayingColumnScroller {
			margin-left: 0;
			padding: 16px 16px 12px;
			border-left: none;
		}
	}
}

%nowPlayingColumnMemberItem {
	padding: 0;
}

%activeNowPrivacyCard {
	margin-bottom: 16px;
	@include card-format;

	%activeNowPrivacyCardHeader {
		@include card-format--header;
		text-align: left;
	}

	%size14 {
		padding: 16px 16px 0;
	}

	%activeNowPrivacyCardButtonContainer {
		padding: 0 16px 16px;
	}
}

%emptyActiveNowCard {
	padding: 0;
	background-color: var(--activity-card-color);
	border-radius: var(--card-radius-big);

	%emptyActiveNowHeader {
		width: 100%;
		@include card-format--header(false, true);
		box-sizing: border-box;
		text-align: left;
	}

	%emptyActiveNowText {
		padding: 0 16px 16px;
		text-align: left;
	}
}

%activeNowCardInteractive {
	margin: 0 0 2px;
	background-color: var(--activity-card-color);
	border-radius: 4px;
	border: none;
	transition: var(--default-time) var(--default-animation) background-color;

	&:hover {
		background-color: var(--activity-card-color--hover) !important;
	}

	&%activeNowCardActive {
		background-color: var(--activity-card-color--active) !important;
	}

	&:not(:only-of-type) {
		&:first-of-type {
			border-radius: var(--card-radius-big) var(--card-radius-big) 4px 4px;
		}

		&:nth-last-child(2) {
			border-radius: 4px 4px var(--card-radius-big) var(--card-radius-big);

			&:after {
				display: none;
			}
		}
	}

	%activeNowCardInset {
		margin-left: 44px;
		background-color: transparent;
	}

	%activeNowCardSection {
		margin-bottom: 2px;
        background-color: var(--activity-card-color--inset);
        border-radius: 4px;

		&:first-of-type {
            border-radius: var(--card-radius-big) var(--card-radius-big) 4px 4px;
        }

        &:last-of-type {
            margin-bottom: 0;
            border-radius: 4px 4px var(--card-radius-big) var(--card-radius-big);
        }

        &:only-child {
            border-radius: var(--card-radius-big);
        }
	}

	%activeNowCardSeparator {
		display: none;
	}

	%activeNowCardHeaderIcon {
		border-radius: 50%;
	}

	%activeNowStreamingPreviewWrapper {
		background-color: var(--card-color-alt);
		border-radius: calc(var(--card-radius-big) / 1.25);
		overflow: hidden;
	}

	%activeNowCardStreamImage {
		border-radius: calc(var(--card-radius-big) / 1.25);
	}

	%activeNowCardImageBorderRadius0 {
		border-radius: 50%;
	}
}

%nowPlayingColumn {
	%nowPlayingColumnHeader {
		margin-top: 0;
		font-weight: 400;

		+ %activeNowCardInteractive {
			&:nth-last-child(2) {
				border-radius: var(--card-radius-big);
			}
		}
	}
}
