@use '../mixins' as *;

/*
 *
 *	ADD FRIEND
 *
 */

%friendsAddFriendHeader {
	margin: 16px 16px 0;
	padding: 0 0 16px;
}

%friendsAddFriendInputWrapper {
	height: calc(var(--input-height) * 1.316);
	margin: 12px 0 0 0;
	padding: 0 8px 0 16px;
	background-color: var(--input-color);
	border-radius: calc(var(--input-radius) * 1.316);
	border: none;

	%friendsAddFriendInput,
	%friendsAddFriendHint {
		padding: 0;
		line-height: var(--input-height);
		font-weight: 400;

		&::-webkit-input-placeholder {
			color: var(--text-muted);
			font-weight: 500;
		}
	}

	%friendsAddFriendInput {
		border-bottom: none !important;

		%input {
			padding: 0;
			box-shadow: none !important;
		}
	}

	%friendsAddFriendHint {
		top: 6px;
	}
}

%friendsOtherPlacesHeader {
	padding: 16px;
}

%friendsPublicServersGrid {
	padding: 0 16px;
}

%friendsPublicServersContainer {
	@include card-format(false, 0, true, true);
}
