@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *	HOME TAB
 *
 */

#{ $homeLoadingPage }[aria-label] {
    background-color: var(--main-color);
    border-block-start: none;
    border-start-end-radius: var(--card-radius-big);
}

#{ $homeLoadingHeader } {
    background-color: var(--main-color);
    border-block-end: none;
    box-shadow: var(--shadow-ledge);
}
