@use '../mixins' as *;

/*
 *
 *	LIBRARY
 *
 */

%libraryHeader {
	--input-height: 32px;
	--input-padding: 0 2px 0 6px;

	%librarySearchBarInner %librarySearchInput {
		padding: 0;

		&,
		&::-webkit-input-placeholder {
			font-weight: 500;
		}
	}
}

%libraryFilter {
	width: 160px;
	transition: 300ms ease width;

	&%libraryFilterFocused {
		width: 240px;
	}
}

%libraryScroller,
%librarySettingsScroller {
	background-color: var(--chat-color);
}

%libraryTable {
	padding-bottom: 8px;

	%libraryTableHeader {
		height: 42px;
		padding: 0 16px;
		line-height: 42px;
		background-color: var(--chat-color);
		border-bottom: 1px solid var(--card-border-color);

		&%libraryTableStickyHeader {
			width: 100%;
		}

		%libraryTableHeaderCell {
			border: none;
			@include remove-caps(14px);

			&%libraryTableHeaderCellSorted {
				%libraryTableHeaderCellContent {
					@include tab-border(100%);

					&:after {
						width: calc(100% - 22px);
						left: 0;
						right: auto;
					}
				}
			}
		}
	}
}

%libraryTableRowWrapper {
	margin: 0 8px;
	padding: 0;
	border-radius: var(--card-radius-big);
	border: none;
	transition: var(--default-time) var(--default-animation) background-color;

	&%libraryTableRowWrapperActive {
		background-color: var(--menu-item-hover);
	}

	%libraryTableRow {
		margin: 0;
		padding: 0 16px;
		border-top: none !important;
	}

	%libraryTableNameCell,
	%libraryTableSettingIcon,
	%libraryTableTextCell {
		transition: var(--default-time) var(--default-animation) opacity;
	}

	%libraryTableNameCell {
		padding-left: 0;
	}
}

%librarySettingsBody {
	min-width: 350px;
	max-width: 1200px;
	padding: 60px 40px 80px;
}

.wrapper-QQNZRu {
	.foreground-2JnqVD {
		stroke: var(--slider-color) !important;
	}

	.foreground-2JnqVD {
		stroke: hsl(var(--accent-hsl--material-you)) !important;
	}
}
