@use '../mixins' as *;

/*
 *
 *  MESSAGE REQUESTS
 *
 */

%messageRequestContainer {
    %messageRequestsContent {
        height: auto !important;
        margin-top: 24px;
        @include card-format(false, 0, true);
        overflow: hidden;

        > div[style="height: 24px;"] {
            display: none;
        }
    }

    %messageRequestsSectionTitle {
        margin: 0;
        @include card-format--header(false, true);
        @include remove-caps(1em);
    }
}

%messageRequestItem {
    padding: 16px;
    @include card-format--list;
    border-radius: var(--card-radius-big);
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover,
    &%messageRequestItemSelected {
        border-radius: var(--card-radius-big);

        %messageRequestItemActionButton {
            background-color: var(--card-color-alt);
        }
    }

    &:hover {
        background-color: var(--card-color-hover);
    }

    &%messageRequestItemSelected {
        background-color: var(--card-color-alt);
    }

    %messageRequestItemActionButton {
        background-color: var(--card-color-hover);
    }

    %button {
        &%buttonPrimary {
            --button-padding: 0 12px;
            --button-background: transparent;
            --button-text-color: hsl(var(--accent-hsl--material-you));
            --accent-button-action-hover: 0.14;
        	--accent-button-action-active: 0.21;

        	&:after {
        		background-color: hsl(var(--button-link-accent-color));
        	}
        }
    }
}

/* MESSAGE REQUESTS -> PREVIEW */

%dmChat {
    &:before {
        display: none;
    }
}
