@use '../mixins' as *;

/*
 *
 *	NITRO
 *
 */

%nitroHomePage {
	background-color: var(--chat-color);

	%nitroHomePageScroller {
		background-color: transparent;
	}
}

%nitroHomeTierCard {
	border-radius: var(--card-radius-big);
}

%nitroHomeBigPerkCard,
%nitroHomeSmallPerkCard {
	@include card-format(false, 16px);
}

/*%nitroPremiumContainer {
	min-width: 350px;
	max-width: 1200px;
}*/

/*%nitroHomePageBanner,
%nitroHomePageHero {
	max-width: 100%;
	background-size: cover;
	border-radius: var(--card-radius-big);

	&%nitroHomePageHeroStickers {
		background-position: center;
		background-size: cover;
	}
}

%featureCard {
	@include card-format(false, 16px);
	background-color: transparent !important;
}*/
