@use '../mixins' as *;

/*
 *
 *	NITRO
 *
 */

%nitroHomePage {
	background-color: var(--chat-color);
	border-top-right-radius: var(--card-radius-big);

	%nitroHomePageScroller {
		background-color: transparent;
	}
}

%nitroSettingsContainer {
	width: 100%;
	border-radius: var(--card-radius-big);
}

%nitroHomeTierCard {
	border-radius: var(--card-radius-big);
}

%nitroHomePerkCard {
	@include card-format(false, 16px, true);
}

%clientThemeColorPicker {
    %nitroHomeMainPageScroller {
        background-color: transparent;
    }
}

%nitroHomeWrapper {
    background-color: transparent;
    border-top: none;
}

%nitroHomeCard {
    @include card-format(true, 16px, true, true, true);
}

%nitroHomeCardHoverWrapper {
    &:hover {
        %nitroHomeNoFlipCardContainer {
            transform: none;
        }

        %nitroHomeCardImage {
            width: 100%;
            margin: 0 0 -2px;
            border-radius: calc(var(--card-radius-big) / 1.5);
        }
    }
}

%nitroHomeCardImage {
    margin-bottom: -2px;
    border-radius: calc(var(--card-radius-big) / 1.5);

    img {
        height: 100%;
    }
}

%nitroHomeCardDescription {
    display: none;
}

%nitroHomeGiftNitroContainer {
    @include card-format(false, 0, true);

    %nitroHomeGiftNitroTextContainer {
        background-image: linear-gradient(to right, var(--card-color-filled), hsl(var(--card-color-filled) / 40%) 90%, transparent);
    }
}
