@use '../mixins' as *;

/*
 *
 *	ACCOUNT SWITCHER
 *
 */

%accountSwitcherList {
	@include card-format;

	%accountSwitcherCard {
		padding: 16px;
		background-color: transparent;
		border-radius: var(--card-radius-big);
		@include card-format--list(64px);
	}

	%buttonSizeIcon {
		background-color: transparent !important;
		border-radius: 50% !important;
		@include md-ripple(hover, after, 1.2);

		%buttonContents {
			height: 24px;
			transform: rotate(90deg);
		}
	}

	%accountSwitcherSeparator {
		display: none;
	}
}

%accountSwitcherActions {
	margin: 16px 0 0;
}

/* ACCOUNT SWITCHER -> ADD ACCOUNT */

%modalRoot {
	%authBoxExpanded {
		background-color: transparent !important;
		box-shadow: none !important;
	}
}

%authBoxExpanded {
	%settingsCardInfo {
		border-radius: var(--card-radius-big);
	}
}

%navRow {
	background-color: transparent !important;

	%button {
		margin: 0;
	}
}
