@use '../mixins' as *;

/*
 *
 *	ACCEPT RULES
 *
 */

 %rulesGuildSidebar {
 	padding: 0;
 	background-color: transparent;
 	border-right: 1px solid var(--card-border-color);

 	> div:not([class]) {
 		&:first-child {
 			padding: 24px;
 		}

 		&:last-child {
 			display: flex;
 			position: relative;
 			padding: 0 24px 24px;

 			%membershipFlex {
 				height: 36px;
 				margin-right: 8px;
 				margin-bottom: 0;
 			}
 		}
 	}

 	.iconSizeLarge-_r2zCK {
 		border-radius: 50%;
 	}

 	%rulesDivider {
 		border-bottom-color: var(--card-border-color);
 	}
 }

%rulesModal {
	background-color: transparent;

    %rulesInnerContent {
        padding-bottom: 0;
    }

	%rulesDivider {
		border-bottom-color: var(--card-border-color);
	}

	%rulesRequirementContainer {
        @include card-format(false, 16px, true);
	}

	%rulesFieldBackground {
        &,
        &:hover:not(:focus) {
            @extend %rulesRequirementContainer;
            padding: 0;
        }
	}

	%rulesTermsRow {
		padding: 16px;
		@include card-format--list;
	}

    %modalFooter {
        %button {
            %buttonContents {
                width: 70px;
            }
        }
    }
}
