@use '../mixins' as *;

/*
 *
 *	ACCOUNT SWITCHER
 *
 */

%accountSwitcherList {
	@include card-format(false, 0, true);

	%accountSwitcherCard {
		padding: 16px;
		background-color: transparent;
		border-radius: var(--card-radius-big);
		@include card-format--list;
	}

	%buttonSizeIcon {
		--button-height: 32px;
		--button-padding: 0;

		width: var(--button-height);
		@include md-ripple(hover, after, 1.2);

		%buttonContents {
			height: 24px;
			transform: rotate(90deg);
		}
	}

	%accountSwitcherSeparator {
		display: none;
	}
}

%accountSwitcherActions {
	margin: 16px 0 0;
}

/* ACCOUNT SWITCHER -> ADD ACCOUNT */

%modalRoot {
	%authBoxExpanded {
		background-color: transparent !important;
		box-shadow: none !important;
	}
}

%authBoxExpanded {
	%settingsCardInfo {
		border-radius: var(--card-radius-big);
	}
}
