@use '../mixins' as *;

/*
 *
 *  ACTIVITY INVITE MODAL
 *
 */

%activityInviteSubHeader {
    @include remove-caps(14px);
    color: var(--text-muted);
}

%activityInviteTextArea {
    background-color: var(--input-color);
    border-radius: var(--main-textarea-radius);
}
