@use '../mixins' as *;

/*
 *
 *  ACTIVE THREADS
 *
 */

%activeThreadsModal {
    background-color: transparent;

	%activeThreadsModalHeader {
		padding: 4px 16px;
		background-color: transparent;
		border-bottom: 1px solid var(--popout-header-border);
	}
}

%threadPreview {
	@include card-format(false, 16px, true, true);
}

%modalRoot {
    %threadsPopoutContainer {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
    }
}

body:active %modalRoot %threadsPopoutContainer:not(:active) {
	opacity: 1;
}
