@use '../mixins' as *;

/*
 *
 *  ACTIVITES MODAL
 *
 */

%activityModalDivider {
    display: none;
}

%activtyScrollTierBackground {
    background-color: transparent;

    &%activtyScrollTierBackgroundUpsell {
        background-color: transparent;
    }
}

%activityScrollSection {
    padding: 0 calc(16px - var(--scrollbar-thin-width)) 0 16px;
}

%activityTierCtaContainer {
    padding-top: 0;
}

%activityShelf {
    grid-gap: 16px 12px;
}

%activityItem {
    @include card-format;
    box-shadow: none;
    transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) border-color, var(--default-time) var(--default-animation) box-shadow, var(--default-time) var(--default-animation) transform;

    &:hover {
        background-color: var(--card-color-hover);
        border-color: transparent;
        box-shadow: var(--shadow-3dp);
        transform: translateY(-2px);
    }
}

%activityTag {
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid var(--card-border-color);
}
