@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  ADD PAYMENT METHOD MODAL
 *
 */

#{ $paymentModalTitle } {
    padding: 24px 24px 16px;

    #{ $settingsContentHeader } {
        line-height: 24px;
        font-size: 22px;
        font-weight: 400;
        color: var(--header-primary);
        text-transform: none;
    }

    #{ $modalCloseButton } {
        position: absolute;
        width: 32px;
        height: 32px;
        inset-block-start: 22px;
        inset-inline-end: 22px;
        margin: 0;
        padding: 0;
    }
}

#{ $paymentModalContent } {
    background-color: transparent;

    #{ $scroller } {
        padding: 0 calc(24px - var(--scrollbar-thin-width)) 0 24px !important;
    }

    #{ $paymentModalBody } {
        padding: 0;
    }

    .wrap_e504b7:not(:empty) {
        display: grid;
        grid-gap: 8px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(auto, 1fr);
        padding-block-end: 24px;
    }

    #{ $paymentTypeButton } {
        width: auto;
        margin: 0;
    }
}

/* ADD PAYMENT METHOD MODAL -> INPUTS */

#{ $paymentCardInput } {
    @include input-format(false, true);

    padding: calc((var(--input-height) - 19.19px) / 2) 12px;
    box-sizing: border-box;

    &#{ $paymentCardNumberInput } {
        padding-inline-start: 56px;
    }
}

#{ $paymentCardIcon } {
    inset-block-start: 0;
    inset-block-end: 0;
    margin: auto 0;
    transform: translateY(-1px);
}

#{ $paymentPaypalIcon } {
    @extend #{ $paymentCardIcon };

    + #{ $inputWrapper } {
        #{ $input } {
            padding-inline-start: 48px;
        }
    }
}
