@use '../mixins' as *;

/*
 *
 *  ADD PAYMENT METHOD MODAL
 *
 */

%paymentModalTitle {
    padding: 24px 24px 16px;

    %settingsContentHeader {
        line-height: 24px;
        font-size: 22px;
        font-weight: 400;
        color: var(--header-primary);
        text-transform: none;
    }

    %modalCloseButton {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 22px;
        right: 22px;
        margin: 0;
        padding: 0;
    }
}

%paymentModalContent {
    background-color: transparent;

    %scroller {
        padding: 0 24px;
    }

    %paymentModalBody {
        padding: 0;
    }

    .wrap-7NZuTn:not(:empty) {
        display: grid;
        grid-gap: 8px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(auto, 1fr);
        padding-bottom: 24px;
    }

    %paymentTypeButton {
        width: auto;
        margin: 0;
    }
}

/* ADD PAYMENT METHOD MODAL -> INPUTS */

%paymentCardInput {
    padding: 8.41px 12px;
    background-color: var(--input-color);
    border-radius: var(--input-radius);
    line-height: var(--input-height);

    &%paymentCardNumberInput {
        padding-left: 55px;
    }
}

%paymentCardIcon {
    top: 6px;
}

%paymentPaypalIcon {
    @extend %paymentCardIcon;

    + %inputWrapper {
        %input {
            padding-left: 48px;
        }
    }
}
