@use '../mixins' as *;

/*
 *
 *  ADD PAYMENT METHOD MODAL
 *
 */

%paymentModalTitle {
    padding: 16px;
    border-bottom: 1px solid var(--popout-header-border);

    %titleH4 {
        line-height: 24px;
        font-size: 20px;
        color: var(--header-primary);
    }

    %modalCloseButton {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 12px;
        right: 12px;
        margin: 0;
        padding: 0;
    }
}

%paymentModalContent {
    background-color: transparent;
}

/* ADD PAYMENT METHOD MODAL -> INPUTS */

%paymentCardInput {
    padding: 8.41px 12px;
    background-color: var(--input-color);
    border-radius: var(--input-radius);
    line-height: var(--input-height);

    &%paymentCardNumberInput {
        padding-left: 55px;
    }
}

%paymentCardIcon {
    top: 6px;
}

%paymentPaypalIcon {
    @extend %paymentCardIcon;

    + %inputWrapper {
        %input {
            padding-left: 48px;
        }
    }
}
