/*
 *
 *	AUTHENTICATION
 *
 */

%authenticationListItemContainer {
    margin-bottom: 4px;
    background-color: var(--card-color-filled);
    border: none;
    transition: var(--default-time) var(--default-animation) background-color;
    border-radius: 4px;

    &:first-of-type {
        border-radius: var(--card-radius-big) var(--card-radius-big) 4px 4px;
    }

    &:nth-of-type(4) {
        border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
    }

    &:hover {
        background-color: var(--card-color-hover);
    }
}
