@use '../mixins' as *;

/*
 *
 *	AUTHORIZE APP
 *
 */

%oauth2Wrapper {
	min-height: 100px;
	@include popout-format;
	overflow: hidden;

	%authorizeWrapper {
		background-color: transparent;

		%authorizeHeader {
			padding: 24px 24px 16px;
			border-radius: 0;
			border-bottom: none;
		}

		%authorizeScrollContent {
			padding: 0 !important;

			div:last-child {
				padding-bottom: 0;
			}

			%authorizeScopes {
				border-bottom: 1px solid var(--popout-header-border);
			}

			%authorizeScopes,
			%authorizeSelectorGroup,
			%authorizeApplicationDetails {
				padding: 16px 24px;
			}

			%authorizeApplicationEntry {
				margin-top: 0;
				margin-bottom: 8px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			%authorizeGroupLabel {
				@include remove-caps(14px);
			}
		}
	}

	%authorizeCaptcha {
        padding: 0 24px 24px !important;
    }

    %authorizeSuccessWrapper {
        padding: 24px;
    }
}

%authorizeContent {
    padding: 0 24px;
}

%authorizeDiscordConsentBody {
	margin: 0;
	padding: 0 calc(24px - var(--scrollbar-thin-width)) 0 24px;
}

%authorizeScopes,
%authorizeApplicationDetails {
	padding: 16px 0;
}

%authorizeApplicationDetails {
	&:last-child {
		padding-bottom: 0;
	}
}

%authorizeScopes {
    padding-bottom: 0;
    border-bottom: none;
}

%authorizeScopes,
%authorizeSelectorGroup {
    %defaultColor {
        @include remove-caps(14px);
    }
}

%authorizeScope {
    margin: 0;
    padding: 8px 16px;
    background-color: var(--card-color-filled);

    &:first-of-type {
        padding-top: 16px;
        border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
    }

    &:last-of-type {
        padding-bottom: 16px;
        border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
    }
}

%authorizeSectionGroup {
    padding-left: 24px;
    padding-right: 24px;

    &:first-of-type {
        padding-top: 0;
    }
}

%authorizeBotPermissions {
    padding: 0;
    border-bottom: none;
}

%authorizePermissionsList {
    max-height: 25vh;
    margin-top: 16px;
    padding: 16px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    overflow-y: scroll;

    %authorizePermission {
        &:first-of-type {
            margin-top: 0;
        }
    }
}

%authorizeFooter {
	margin-top: 0;
	padding: 24px;
	background-color: transparent;
}
