@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *	AUTHORIZE APP
 *
 */


#{ $authorizeWrapper } {
	background-color: transparent;

	#{ $authorizeHeader } {
		padding: 24px 24px 16px;
		border-radius: 0;
		border-block-end: none;
	}

	#{ $authorizeScrollContent } {
		padding: 0 !important;

		div:last-child {
			padding-block-end: 0;
		}

		#{ $authorizeScopes } {
			border-block-end: 1px solid var(--popout-header-border);
		}

		#{ $authorizeScopes },
		#{ $authorizeSelectorGroup },
		#{ $authorizeApplicationDetails } {
			padding: 16px 24px;
		}

		#{ $authorizeApplicationEntry } {
			margin-block-start: 0;
			margin-block-end: 8px;

			&:last-child {
				margin-block-end: 0;
			}
		}

		#{ $authorizeGroupLabel } {
			@include remove-caps(14px);
		}
	}
}

#{ $authorizeCaptcha } {
    padding: 0 24px 24px !important;
}

#{ $authorizeSuccessWrapper } {
    padding: 24px;
}


#{ $modalRoot } {
	#{ $authorizeWrapper } {
	    background-color: transparent;

	    #{ $authorizeContent } {
	        background-color: var(--card-color-filled);
	        border-radius: var(--card-radius-big);
	    }

	    #{ $authorizeScope } {
	        background-color: var(--card-color-hover);
	    }
	}
}

#{ $authorizeContent } {
    padding: 0 24px;
}

#{ $authorizeDiscordConsentBody } {
	margin: 0;
	padding: 0 calc(24px - var(--scrollbar-thin-width)) 0 24px;
}

#{ $authorizeScopes },
#{ $authorizeApplicationDetails } {
	padding: 16px 0;
}

#{ $authorizeApplicationDetails } {
	&:last-child {
		padding-block-end: 0;
	}
}

#{ $authorizeScopes } {
    padding-block-end: 0;
    border-block-end: none;
}

#{ $authorizeScopes },
#{ $authorizeSelectorGroup } {
    #{ $defaultColor } {
        @include remove-caps(14px);
    }
}

#{ $authorizeScope } {
    margin: 0;
    padding: 8px 16px;
    background-color: var(--card-color-filled);

    &:first-of-type {
        padding-block-start: 16px;
        border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
    }

    &:last-of-type {
        padding-block-end: 16px;
        border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
    }
}

#{ $authorizeSectionGroup } {
    padding-inline-start: 24px;
    padding-inline-end: 24px;

    &:first-of-type {
        padding-block-start: 0;
    }
}

#{ $authorizeBotPermissions } {
    padding: 0;
    border-block-end: none;
}

#{ $authorizePermissionsList } {
    max-height: 25vh;
    margin-block-start: 16px;
    padding: 16px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    overflow-y: scroll;

    #{ $authorizePermission } {
        &:first-of-type {
            margin-block-start: 0;
        }
    }
}

#{ $authorizeFooter } {
	margin-block-start: 0;
	padding: 24px;
	background-color: transparent;
}
