@use '../mixins' as *;

/*
 *
 *  BETTERDISCORD ERRORS
 *
 */

%bdErrorsModalHeader {
    padding: 24px 24px 0 !important;
    border-bottom: 1px solid var(--popout-header-border);

    %size14 {
        @include remove-caps(22px);
        font-weight: 400;
    }
}

%bdErrorsModalContent {
    padding-top: 16px !important;
}

%bdTabBar {
    height: 40px;
    margin-left: -8px;

    %bdTabItem {
        height: inherit;
        margin-right: 8px;
        padding: 0 8px;
		border-radius: 0;
        color: var(--interactive-normal);

        &,
		&:hover,
		&%bdTabItemSelected {
			background-color: transparent;
		}

        &:hover {
			color: var(--interactive-hover);
		}

        &%bdTabItemSelected {
            @include tab-border(75%);
            color: var(--interactive-normal);
        }

        &:last-of-type {
			margin-right: 0;
		}
    }
}

%bdErrorsModalContent {
    padding-bottom: 0;
}

%bdErrorsContainer {
    margin-top: 0;
}

%bdErrorCard {
    @include card-format(true, 0, true);

    &:last-of-type {
        margin-bottom: 0;
    }

    %bdErrorCardHeader {
        padding: 16px;
    }

    %bdErrorCardIcon {
        background-color: var(--attachment-color)
    }

    %bdErrorCardBody {
        padding: 0 16px 16px;
    }

    %bdErrorCardDivider {
        display: none;
    }

    %bdErrorCodeErrorStack {
        code {
            background-color: var(--attachment-color);
            border-radius: var(--card-radius);
            border: none;
        }
    }
}
