@use '../mixins' as *;

/*
 *
 *  BETTERDISCORD MODALS
 *
 */

%bdModalInner {
    @include popout-format;

    %bdModalHeader {
        padding: 24px 24px 16px;

        %bdModalHeaderTitle {
            font-weight: 500;
            color: var(--header-primary);
        }
    }

    %bdModalBody {
        padding: 0 24px;
        color: var(--text-normal);
    }

    %bdModalFooter {
        padding: 24px;
        background-color: transparent;

        %bdButton {
            height: var(--button-height);
            margin-left: 8px;
            padding: var(--button-padding);
            font-size: 1em;
        }
    }
}
