@use '../mixins' as *;

/*
 *
 *  CHANGE AVATAR
 *
 */

%settingsProfileOptionBox {
    @include card-format(false, 16px);

    &:hover {
        border-color: hsl(var(--accent-hsl));
    }
}

%settingsProfileContentCircle {
    background-color: hsl(var(--accent-hsl));

    %settingsProfileUploadIcon {
        color: var(--accent-text-color);
    }
}
