@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  CREATE INVITE
 *
 */

#{ $inviteRow } {
    --button-height: 32px;

    margin-right: 6px;
    padding: 7px 8px;
    border-radius: var(--card-radius);
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--menu-item-hover);
    }

    #{ $buttonGreen } {
        &#{ $buttonFilled } {
            --button-background: hsl(var(--accent-hsl--material-you)) !important;
            --button-text-color: var(--accent-text-color--material-you) !important;
        }

        &#{ $buttonOutlined } {
            --button-outline: 1px solid hsl(var(--accent-hsl--material-you)) !important;
            --button-text-color: hsl(var(--accent-hsl--material-you)) !important;
        }
    }
}
