@use '../mixins' as *;

/*
 *
 *  CREATE INVITE
 *
 */

%inviteScroller {
    padding: 0;
}

%inviteRow {
    padding: 8px 24px 8px 16px;
    border-radius: 0;
    transition: var(--default-time) var(--default-animation) background-color;

	&:hover {
		background-color: var(--menu-item-hover);
	}

    %button {
        --button-height: 32px;
        --button-outline: 1px solid hsl(var(--accent-hsl--material-you));

        width: auto;
    }
}

%modalRoot {
    %modalFooter {
        %input {
            %button {
                width: auto;
                margin-left: 8px;
            }
        }
    }
}

%inviteBannerUpsell {
    @include card-format(true, 16px 0, true);

    %inviteBannerUpsellPremiumIcon {
        margin-left: 16px;
    }
}
