@use '../mixins' as *;

/*
 *
 *	CREATE POLL
 *
 */

%pollCreateQuestionMaxLength {
    bottom: calc(var(--input-height) / 2 - 2px);
}

%pollCreateLegend {
    @include remove-caps(14px);
}

%pollCreateAnswerInputsContainer {
    row-gap: 2px;
}

%pollCreateAnswerRow {
    display: flex;
    padding: 16px;
    gap: 8px;
    background-color: var(--card-color-filled);
    border-radius: 4px;

    &:first-of-type {
        border-top-left-radius: var(--card-radius-big);
        border-top-right-radius: var(--card-radius-big);
    }

    &:nth-last-child(2) {
        border-bottom-left-radius: var(--card-radius-big);
        border-bottom-right-radius: var(--card-radius-big);
    }

    %pollCreateExpressionPickerButton {
        width: var(--button-height);
        min-width: var(--button-height);
        height: var(--button-height);
    }

    %pollCreateExpressionPickerIcon {
        margin-left: 0;
    }

    %pollCreateRemoveAnswerButton {
        display: flex;
        width: var(--button-height);
        height: var(--button-height);
        padding: 0;
        align-items: center;
        justify-content: center;
    }
}

%pollCreateDefaultTextInputWrapper {
    width: 100%;
    gap: 8px;
    background-color: transparent;
    border: none;

    &:focus-within {
        %pollCreateCharacterCount {
            transform: translateX(0);
            opacity: 1;
        }
    }

    > %pollCreateDefaultTextInput {
        padding: 0;
    }

    %inputWrapper {
        margin-right: -50px;
    }

    %input {
        padding-right: 50px;
        border-radius: var(--input-radius);
        box-shadow: none;
    }

    %pollCreateCharacterCount {
        display: flex;
        height: var(--input-height);
        line-height: var(--input-height);
        padding: 0 12px 0 0;
        transform: translateX(12px);
        opacity: 0;
        transition: var(--default-time) var(--default-animation) opacity, var(--default-time) var(--default-animation) transform;
    }
}

%pollCreateAddAnswerButton {
    height: var(--button-height);
    line-height: var(--button-height);
    margin-top: 14px;
    background-color: transparent;
    border-radius: var(--button-radius);
    border: 1px solid hsl(var(--accent-hsl--material-you));
    align-self: start;

    &:hover {
        background-color: transparent;
    }

    %pollCreateAddAnswerIcon,
    %pollCreateAddAnswerButtonLabel {
        color: hsl(var(--accent-hsl--material-you)) !important;
    }

    %pollCreateAddAnswerIcon {
        height: var(--button-height);
    }

    %pollCreateAddAnswerButtonLabel {
        padding: 0;
        line-height: var(--button-height);
    }

    &%pollCreateCanRemoveMoreAnswers {
        margin-right: 0;
    }
}
