@use "../classes" as *;

/*
 *
 *	CUSTOM STATUS
 *
 */

#{ $customStatusLabelSelectorItem } {
  padding: 5px;
  background-color: var(--card-button-color-hover);
  border: none;

  &:hover {
    background-color: var(--card-button-color);
  }
}
