@use '../mixins' as *;

/*
 *
 *  EVENTS
 *
 */

%eventCard {
    @include card-format(false, 16px, false, true);

    %eventCardRsvpCount {
        background-color: var(--menu-item-hover);
    }

    %eventCardDivider {
        background-color: var(--card-border-color);
    }

    %eventCardFooter {
        overflow: visible;
    }
}

/* EVENTS -> EVENTS MODAL */

%eventBanner {
    border-radius: var(--popout-radius-big) var(--popout-radius-big) 0 0;
}

%eventModalHeader {
    padding: 0 16px;
    border-bottom-color: var(--popout-header-border);
}

%eventModalCloseButton {
    width: 32px;
    height: 32px;
    right: 16px;

    @include md-ripple(hover, after, 1.2);
    position: absolute;

    %eventModalCloseButtonIcon {
        margin-right: 0;
        background-color: transparent !important;
    }
}

%eventInfoHeader,
%eventInfoBody {
    padding: 16px 16px 0;
}

%eventInformationContent {
    %modalContent {
        width: auto !important;

        > div:not([class]):first-child {
            margin-top: -16px;
            margin-left: -16px;
        }
    }
}

%eventErrorTitle {
    padding: 32px 0;
}

/* EVENTS -> CREATE EVENT */

%eventCreateProgressBarContainer {
    padding-top: 24px;
}

%eventCreateSelectedProgressBar {
    background-color: hsl(var(--accent-hsl--material-you));
}

%eventCreateFooterInline {
    gap: 16px;
}

%eventUpsellContainer {
    margin-top: 16px;
    @include card-format(false, 0, true);
}

%eventFormItem {
    margin-top: 16px;

    %inputWrapper {
        --input-height: auto;
    }
}

%eventStartDateContainer {
    @include new-input-format;

    %eventStartDateContent {
        height: var(--input-height);
    }
}

%eventUploadInnerSquare {
    border-radius: var(--card-radius-big);
}

%eventPreviewCard {
    @include card-format(true, 16px, true);

    %eventPreviewCardCoverContainer {
        border-radius: var(--card-radius-big);
    }
}

%eventStatusBrand,
%eventStatusLabel {
    color: hsl(var(--accent-hsl--material-you)) !important;
}
