@use '../classes' as *;

/*
 *
 *  FAVORITES MODAL
 *
 */

#{ $favoritesCreateCategoryHeader } {
    margin-block-start: 0;
    margin-block-end: 16px;
    text-align: left;
    font-weight: 400;
    font-size: 22px;
}

#{ $favoritesCreateCategoryCloseButton } {inset-block-start: 26px;inset-inline-end: 12px;
    padding: 0;
}

#{ $favoritesCreateCategoryName } {
    margin: 0;
}
