/*
 *
 *  FAVORITES MODAL
 *
 */

%favoritesCreateCategoryHeader {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: left;
    font-weight: 400;
    font-size: 22px;
}

%favoritesCreateCategoryCloseButton {
    top: 26px;
    right: 12px;
    padding: 0;
}

%favoritesCreateCategoryName {
    margin: 0;
}
