/*
 *
 *  FEATURE MESSAGE
 *
 */

%featureModalMessage {
    background-color: transparent !important;
    box-shadow: none !important;

    %messagesWrapper {
        --message-color: var(--message-color-alt);

        margin: 0 0 0 52px !important;

        &:hover {
            --message-color-hover: var(--message-color-alt);
        }

        %avatarLarge {
            left: -52px !important;
        }
    }
}
