@use '../classes' as *;

/*
 *
 *	FORWARD MESSAGE
 *
 */

#{ $forwardDestinationRow } {
    margin-left: 24px;
    margin-right: calc(24px - var(--scrollbar-thin-width));
    border-radius: var(--card-radius);
    transition: var(--default-time) var(--default-animation) background-color;

    &:not(#{ $forwardDestinationRowDisabled }) {
        &:hover {
            background-color: var(--menu-item-hover);
        }
    }
}

#{ $forwardChannelGuildIcon } {
    border-radius: calc(var(--avatar-radius) * 0.5);
}

#{ $forwardIconWithGuildIcon } {
    background: var(--card-color-filled);
}

#{ $modalFooter }#{ $forwardFooterWithMessage } {
    padding: 12px 24px 24px;
}

#{ $forwardPreviewWrapper } {
    padding: 16px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}

#{ $forwardWarningWrapper } {
    margin: 0;

    #{ $channelTextAreaScrollable } {
        background: var(--input-color-alt);
        border-radius: var(--main-textarea-radius);
    }

    #{ $textAreaPlaceholder } {
        color: var(--input-placeholder-color);
    }

    #{ $channelTextAreaButtonsContainer } {
        margin-right: 0;
    }
}

#{ $forwardInlineContainer } {
    border-radius: calc(var(--button-height) / 2);
    border: none;

    #{ $channelTextAreaScrollable } {
        --custom-channel-textarea-text-area-height: var(--button-height);
    }
}
