/*
 *
 *	GAME PROFILE
 *
 */

%gameProfileLogoWrapper {
    padding: 0;
    background-color: transparent;
    border-radius: var(--card-radius-big);
    box-shadow: var(--shadow-3dp);

    %gameProfileLogo {
        border-radius: inherit;
    }
}

%gameProfileFriends {
    background-color: transparent;
    border-radius: 0;
}

%gameProfileProfileEntryCard {
    background-color: var(--card-color-filled);
    border-radius: 4px;
    border-bottom: 0;
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-color-hover);
    }

    &:first-of-type {
        border-top-left-radius: var(--card-radius-big);
        border-top-right-radius: var(--card-radius-big);
    }

    &:last-of-type {
        border-bottom-left-radius: var(--card-radius-big);
        border-bottom-right-radius: var(--card-radius-big);
    }

    &:only-child {
        border-radius: var(--card-radius-big);
    }

    &:not(:last-of-type) {
        margin-bottom: 2px;
    }
}

%gameProfileMediaSmall %gameProfileImageScroller {
    height: auto;
}

%gameProfileImageScroller {
    border-radius: var(--card-radius-big);

    %gameProfileGameArtwork {
        border-radius: var(--card-radius-big);
    }
}

%gameProfileGradientLeft {
    background: linear-gradient(90deg, var(--popout-color) 0%, transparent 100%);
}

%gameProfileGradientRight {
    background: linear-gradient(270deg, var(--popout-color) 0%, transparent 100%);
}
