@use '../mixins' as *;

/*
 *
 *  GIFT NITRO
 *
 */

%modalRoot {
    %modalHeader {
        &%modalHeaderAlt {
            margin-bottom: 0;
            border-bottom: none;

            %modalCloseButton {
                top: -4px;
                right: -4px;
            }
        }
    }

    %paymentNote {
        margin-top: -16px;

        + %breadcrumbsWrapper {
            margin: 0;
        }
    }

    %breadcrumbsWrapper {
        margin: -32px 0 0 0;
        padding: 16px;
        border-bottom-color: var(--card-border-color);
    }
}

%nitroModalPlanOption {
    padding: 16px;

    @include card-format--list(50px);
}

%nitroModalSelectPlanDivider {
    display: none;
}

%nitroModalTable {
    @include card-format(false, 16px);

    %nitroModalSubscriptionCostRow {
        line-height: var(--input-height);
    }
}
