/*
 *
 *	IMAGE VIEWER
 *
 */

%imageViewerActionButtons {
    background-color: var(--popout-color);
    border-radius: 21px;
    box-shadow: var(--shadow-3dp);
    border: none;

    %imageViewerActionButton {
        width: var(--button-height);
        transition: var(--default-time) var(--default-animation) background-color;

        &:hover {
            background-color: var(--card-button-color-hover);
        }
    }
}

%imageViewerCloseButton {
    width: var(--button-height);
    height: var(--button-height);
    padding: 3px;
    background-color: var(--popout-color);
    border-radius: 21px;
    box-shadow: var(--shadow-3dp);

    %imageViewerCloseButtonInner {
        width: inherit;
        height: inherit;
        border: none;

        &:hover {
            background-color: var(--card-button-color-hover);
        }
    }
}
