@use '../selectorPlaceholders' as *;

/*
 *
 *	INVITE ACCEPT
 *
 */

#{ $acceptInviteEditProfileContainer } {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    border: none;

    #{ $acceptInviteHeaderIconWrapper } {
        background-color: var(--card-button-color);
    }
}

#{ $acceptInviteAcceptAs } {
    svg {
        width: 16px;
        height: 16px !important;
    }
}
