@use '../mixins' as *;

/*
 *
 *  MODALS
 *
 */

%modalRoot {
    @include popout-format(true);

    &%modalRootNoBg,
    &%modalRootTransparent,
    &%carouselModal {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    &%modalSmall {
        min-height: 75px;
    }

    &%modal {
        %modalContentAlt {
            max-height: 580px;
        }
    }

    %modalHeader {
        margin: 0;
        padding: 24px 24px 16px;
		background-color: transparent;
		border-radius: var(--popout-radius-big) var(--popout-radius-big) 0 0;
		box-shadow: none !important;

        %headingLgSemibold,
        %headlingXlSemibold,
        %headlingXlExtrabold,
        %titleH1 {
            font-size: 22px;
            font-weight: 400;
        }

        %modalTitle {
            margin-bottom: 0;
        }

        %modalHeaderTitle {
            font-weight: 400;
        }

        %modalCloseButton,
        %modalHeaderButton {
            --button-height: 32px;

            width: var(--button-height);
			height: var(--button-height);
            top: 20px;
			right: 20px;
			margin: 0;
			padding: 0;
			background-color: transparent !important;
			@include md-ripple(hover, after, 1.1);
			position: absolute;
        }

        %modalCloseButton {
            %buttonContents {
                height: 24px;
            }

            svg {
                height: 24px !important;
				transform: scale(0.85);
			}
        }

        %modalHeaderButton {
            display: flex;
            justify-content: center;
            align-items: center;

            %modalHeaderButtonIcon {
                height: 24px;
                transform: scale(0.85);
            }
        }
    }

    %modalConfirmStartHeader {
        padding: 75px 16px 16px;
    }

    %modalContent {
        padding: 0 24px;
		background-color: transparent;
		border-radius: 0 0 var(--popout-radius-big) var(--popout-radius-big);

        &:first-child {
            padding-top: 24px;

            %headingMdSemibold {
                line-height: 24px;
                font-size: 20px;
                font-weight: 400;
            }
        }

        &:last-child {
            padding-bottom: 24px;
        }

        %modalContentInner {
            padding-bottom: 0;
        }

        %modalContentParagraph {
            &:last-child {
                margin-bottom: 2px;
            }
        }

        a {
            color: hsl(var(--accent-hsl--material-you));
        }

        img,
        video {
            border-radius: var(--card-radius-big);
        }
    }

    %modalImageHeader {
        border-radius: var(--card-radius-big);
    }

    %modalFooter {
        padding: 24px;
        gap: 16px;
		background-color: transparent !important;
		border-radius: 0 0 var(--popout-radius-big) var(--popout-radius-big);
		box-shadow: none !important;

        > %flexDirectionRow {
            gap: 16px;
        }

        %button {
            margin: 0;

            &%buttonPrimary {
                --button-padding: 0 12px;
                --button-background: transparent;
                --button-text-color: var(--button-link-accent-text-color);

                --accent-button-action: hsl(var(--accent-hsl--material-you));
                --accent-button-action-hover: 0.14;
            	--accent-button-action-active: 0.21;
            }
        }

        %buttonBlank {
            background-color: transparent !important;
        	color: var(--button-link-accent-text-color) !important;
        }

        %modelFooterMinorContainer {
            margin: 8px 0 0;
        }
    }

    %modalFooterButtonsContainer {
        margin-top: 0;
    }

    %textContainerModal,
    %textContainerFooter {
        background-color: transparent;
    }

    %textContainerModal {
        border: none;
    }

    %modalLinkToTitle {
        margin: 0 0 16px;
        font-size: 22px;
        font-weight: 400;
        text-align: left;
        text-transform: none;
    }

    %modalLinkToBody {
        text-align: left;
    }

    %modalLinkToPrimaryButton,
    %modalLinkToSecondaryButton {
        flex: 0 1 auto;
    }

    %modelLinkToMinorContainer {
        flex: 1 1 auto;
        width: auto;
        margin: 0;

        %modelLinkToSecondaryAction {
            line-height: var(--button-height);
            text-align: left;
            color: hsl(var(--accent-hsl--material-you));
            font-size: 1em;
            font-weight: 500;
            opacity: 1;
        }
    }

    > div:not([class]) {
        > div:not([class]) {
            max-height: 720px;

            .content-1OG56Q {
                max-height: 548px;
            }
        }
    }

    %modalSettingsContainer {
        margin-bottom: 0;
    }

    %settingsHeaderDivider {
        margin: 16px 0;
        padding-bottom: 0;
        border-top-color: var(--popout-header-border);
    }
}

%valuePropContainer {
    @include card-format(false, 16px, true);

    %bulletedValueProp {
        padding: 0;
    }

    %valuePropIconContainer {
        background-color: var(--card-button-color);
        color: var(--text-normal);
    }
}

%welcomeModalLargeContent {
    @include popout-format;
}
