/*
 *
 *	NOTIFICATION SETTINGS
 *
 */

%notificationOverridePlaceholder {
    height: 66px;
    border-radius: var(--card-radius-big);
    border: 1px dashed var(--card-border-color) !important;
}

%notificationOverrideList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 0;
}

%notificationOverrideHeader,
%notificationOverride {
    margin-bottom: 0;
}

%notificationOverride {
    padding: 16px 6px 16px 12px;
}

%notificationCheckboxGroup {
    width: 290px;
}

%notificationCheckboxContainer {
    &:before {
        background-color: var(--card-border-color) !important;
    }

    &:first-of-type {
        &:before {
            display: none;
        }
    }
}

%notificationCheckboxMute {
    &:before {
        background-color: var(--card-color-hover);
        border-radius: calc(var(--card-radius-big) / 1.4);
    }
}
