@use '../mixins' as *;

/*
 *
 *  OPEN LINK MODAL
 *
 */

%modalRoot {
    %modalOpenLinkTitle {
        margin: 0 0 16px;
        font-size: 22px;
        font-weight: 400;
        text-align: left;
        text-transform: none;
    }

    %modalOpenLinkBody {
        text-align: left;
    }

    %modalOpenLinkPrimaryButton,
    %modalOpenLinkSecondaryButton {
        flex: 0 1 auto;
    }

    %modelOpenLinkMinorContainer {
        flex: 1 1 auto;
        width: auto;
        margin: 0;

        %modelOpenLinkSecondaryAction {
            line-height: var(--button-height);
            text-align: left;
            color: var(--button-link-accent-text-color);
            font-size: 1em;
            font-weight: 500;
            opacity: 1;
        }
    }
}

%modalOpenLinkWarningText {
    text-align: left;
}

%modalOpenLinkCalloutContainer {
    margin-bottom: 16px;
    @include card-format(false, 16px, true);
}

%modalOpenLinkCheckbox {
    margin-bottom: 0;
}
