/*
 *
 *  PHONE MODAL
 *
 */

%phoneField {
    padding: 2px 4px;
    background-color: var(--input-color);
    border-radius: 22px;
    border: none;
    box-shadow: none;

    %phoneInputField {
        background-color: transparent;
        color: var(--input-text-color);

        &::-webkit-input-placeholder {
            color: var(--input-placeholder-color);
        }
    }

    %phoneCountryButton {
        margin: 0;
        background-color: var(--button-background) !important;
        border-radius: var(--button-radius);

        %phonePlusSign,
        %phoneCountryCode {
            color: inherit;
        }

        %phoneFieldExpand {
            stroke: var(--button-text-color);
        }
    }

    %button {
        margin: 0;
    }
}

%phoneFieldPopout {
    background-color: var(--popout-color) !important;
    border-radius: var(--popout-radius);
    box-shadow: var(--shadow-3dp);
}
