@use '../mixins' as *;

/*
 *
 *  PROBLEM INFO
 *
 */

%problemInfo {
    margin-bottom: 0;
}

%problemInfoRoot {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}

%problemInfoOption {
    @include card-format--list;
    transition: var(--default-time) var(--default-animation);

    &:hover {
        background-color: var(--menu-item-hover);
    }
}
