@use "../classes" as *;

/*
 *
 *	QUEST MODAL
 *
 */

#{ $questModalContent } {
  background-color: var(--popout-color) !important;

  #{ $questModalFooterBtn } {
    &,
    &:hover {
      background-color: var(--button-background) !important;
    }
  }
}

/* QUEST MODAL -> CLAIMED REWARD */

#{ $questClaimedRootContainer } {
  background-image:
    linear-gradient(
      90deg,
      var(--guild-boosting-blue),
      var(--guild-boosting-purple)
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-blend-mode: overlay;
  border-radius: var(--popout-radius-big);
}

#{ $questClaimedHeaderBackground } {
  border-radius: var(--popout-radius-big);
}

#{ $questClaimedGradient } {
  background-image: none;
}

/* QUEST MODAL -> VIDEO AD */

#{ $questVideoCont } {
  background-color: var(--popout-color);
  padding: var(--space-24) var(--space-24) 0;
  box-sizing: border-box;

  #{ $questVideoFooterContGradient } {
    border-radius: 0 0 var(--popout-radius-big) var(--popout-radius-big);
  }

  #{ $slider } {
    --slider-height: 6px;
    --slider-bar-background: hsl(0, 0%, 100%, 0.2);
    --slider-grabber-height: 24px;
    --slider-grabber-background: transparent;
    --slider-grabber-pill: hsl(0, 0%, 100%);

    #{ $sliderTrack } {
      #{ $sliderGrabber } {
        &:before {
          box-shadow: var(--shadow-hard);
        }
      }
    }
  }
}

#{ $questVideoContInnerRelative } {
  border-radius: var(--popout-radius-big);
  overflow: hidden;
}

#{ $questVideoInner },
#{ $questVideoContOverlay },
#{ $questVideoStillFrameImageCard } {
  border-radius: var(--popout-radius-big);
}

#{ $questRewardModalContentHeader } {
  background-image: none;
}

#{ $questQRCodeWrapper } {
  padding: var(--space-16) var(--space-16) var(--space-24);
}
