@use '../mixins' as *;

/*
 *
 *	QUICK SWITCHER
 *
 */

%quickswitcher {
	padding: 0;
	@include popout-format;

	%quickswitcherInput {
		height: 42px;
		line-height: 42px;
		margin: 24px 24px 16px;
		padding: 0 16px;
		background-color: var(--input-color);
		border-radius: 21px;
		box-shadow: none;
		font-size: 18px;

		&::-webkit-input-placeholder {
			font-family: var(--app-font);
		}
	}

	%quickswitcherScroller {
		margin-top: 0;
		margin-right: 0;
		background-color: transparent;

		&::-webkit-scrollbar-track {
			background: transparent !important;
		}
	}

	%quickswitcherHeader {
		@include remove-caps(14px);
	}

	%quickswitcherResult {
		border-radius: 0;
		transition: var(--default-time) var(--default-animation) background-color;

		&[aria-selected="true"] {
			background-color: var(--menu-item-hover);
		}

		%quickswitcherResultNote {
			@include remove-caps(11px);
		}
	}

	%quickswitcherContent {
		padding: 0 14px 0 24px;
	}

	%quickswitcherProtip {
		padding: 16px 24px 24px;

		&%quickswitcherHasContent {
			border-top: none;
		}
	}
}
