@use '../mixins' as *;

/*
 *
 *  REPORT MESSAGE MODAL
 *
 */

%reportMessagePreviewContainer {
    @include card-format(false, 16px 0, false);

    %messagesWrapper {
        --message-color-hover: var(--message-color);

        margin: 0 0 0 72px !important;

        %avatarLarge {
            left: -56px !important;
        }
    }
}

%reportMessageChildButton {
    @include card-format(false, 0, true, true);
}
