@use '../mixins' as *;

/*
 *
 *  SCREEN SHARE SELECTION
 *
 */

%streamSourceRoot {
    gap: 16px;
    grid-template-columns: 368px 368px;
}

%streamSource {
    padding: 16px;
    gap: 12px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-color-active);
    }
}

%streamSourcePreviewContainer {
    &:before {
        display: none;
    }
}

%streamSourcePreview {
    width: auto;
    height: 190px;
    border-radius: calc(var(--card-radius-big) / 1.75);

    %streamSourcePreviewImage {
        border-radius: inherit;
    }
}

%streamSourceNameContainer {
    margin-top: 0;
}

%streamFooterContent {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}
