@use '../mixins' as *;

/*
 *
 *  SCREEN SHARE SELECTION
 *
 */

%screenshareModalContent {
	padding: 0 24px;

	&:last-child {
		margin-bottom: 0;
	}
}

%screenshareSegmentDivider {
	background-color: var(--popout-header-border);
	box-shadow: none !important;
	opacity: 1;
}

%screenshareSegmentControl {
	height: 48px;
	padding: 0 24px;
}

%screenshareSegmentControlTabItem {
	height: inherit;
	margin: 0 24px 0 0;
	padding: 0 8px;
	border: none !important;
	color: var(--interactive-normal) !important;

	&%screenshareSegmentControlSelected {
		color: var(--interactive-normal) !important;
		@include tab-border(90%);
	}

	%textSMMedium {
		line-height: 48px;
	}

	&:last-of-type {
		margin-right: 0;
	}
}

%screenshareCard {
	@include new-input-format;

	%buttonSizeSmall {
		--button-height: 30px;
	}
}

%screenshareSettingsQualitySettingsContainer {
	@include card-format(false, 8px);

    %eventTimeSelect {
        margin-top: 0;
    }
}

%screenshareSettingsUpsellBanner {
	border-radius: 20px;
}

%screenshareTile {
    &:hover {
        %screenshareSourceThumbnail {
            box-shadow: inset 0 0 0 2px hsl(var(--accent-hsl--material-you));
        }
    }
}

%screenshareSourceThumbnail {
    border-radius: var(--card-radius-big);

    &%screenshareSourceSelected {
        box-shadow: inset 0 0 0 2px hsl(var(--accent-hsl--material-you));
    }
}
