@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  SCREEN SHARE SELECTION
 *
 */

#{ $streamSource } {
    padding: 16px;
    gap: 12px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-color-active);
    }
}

#{ $streamSourcePreviewContainer } {
    &:before {
        display: none;
    }
}

#{ $streamSourcePreview } {
    width: auto;
    border-radius: calc(var(--card-radius-big) / 1.75);

    #{ $streamSourcePreviewImage } {
        border-radius: inherit;
    }
}

#{ $streamSourceNameContainer } {
    margin-block-start: 0;
}

#{ $streamFooter } {
    margin: var(--space-8);
    background-color: transparent;
}

#{ $streamFooterContent } {
    padding-block: var(--space-16);
    padding-inline: var(--space-24);
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}

#{ $streamNitroUpsellRoot } {
    border-radius: var(--card-radius-big);
}
