@use '../mixins' as *;

/*
 *
 *  SECURITY ACTIONS MODAL
 *
 */

%securityActionsHeaderContainer {
    %headingMDSemibold {
        line-height: 24px;
        font-size: 22px;
        font-weight: 400;
    }
}

%securityActionsMainContainer {
    margin: 0;
    gap: 16px;
}

%securityActionsPauseContainer {
    @include card-format(false, 16px, true);
}
