/*
 *
 *	INVITED TO SERVER
 *
 */

%inviteModal {
	border-radius: var(--popout-radius-big);
	box-shadow: var(--shadow-3dp);
}

%inviteModalContentWrapper {
	background-color: var(--popout-color) !important;
	border-radius: var(--popout-radius-big) 0 0 var(--popout-radius-big);

	%headlingXlSemibold {
		font-weight: 400;
	}
}

%inviteModalContent {
	min-height: unset;
}

%inviteModalSplash {
	border-radius: var(--popout-radius-big);
}
