@use '../mixins' as *;

/*
 *
 *  SERVER QUESTIONS
 *
 */

%promptMain {
    border-radius: var(--card-radius-big) 0 0 var(--card-radius-big);
}

%prompt {
    @include popout-format;

    %scroller {
        padding: 80px 100px;
    }

    %promptNavButtons {
        padding: 8px;
        background-color: transparent;
        border-top: 1px solid var(--separator-color);
    }
}

%promptOptions {
    margin-bottom: 0;
}

%promptOptionButton {
    @include card-format(false, 16px, true, true);

    &%promptOptionButtonSelected {
        background-color: var(--card-color-active);
    }
}

%promptOptionCheckIcon {
    background-color: hsl(var(--accent-hsl));

    path {
        fill: var(--accent-text-color);
    }
}

%promptOptionMemberCount {
    @extend %promptOptionCheckIcon;

    %textXSNormal {
        color: var(--accent-text-color) !important;
    }
}
