@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *	INVITED TO SERVER
 *
 */

#{ $inviteModal } {
	@include popout-format;

	#{ $buttonV2 } {
		#{ $buttonV2ChildrenWrapper } {
			--button-height: 16px;
		}
	}
}

#{ $inviteModalContentWrapper } {
	#{ $headlingXlSemibold } {
		--app-font-roundness: 25;
	}
}

#{ $inviteModalSplash } {
	border-radius: var(--popout-radius-big);
}

#{ $inviteModalAccordionContainer } {
	@include card-format($filled: true);
}

#{ $inviteModalAccordionHeader },
#{ $inviteModalAccordionContent } {
	background-color: transparent;
}

#{ $inviteModalAccordionHeader } {
	position: relative;

	&:before {
		position: absolute;
		content: " ";
		width: calc(100% - (var(--space-4) * 2));
		height: calc(100% - (var(--space-4) * 2));
		top: var(--space-4);
		left: var(--space-4);
		background-color: var(--card-color-hover);
		border-radius: calc(var(--card-radius-big) - var(--space-4));
		pointer-events: none;
		opacity: 0;
		transition: var(--default-time) var(--default-animation) opacity;
	}

	> div {
		z-index: 2;
	}

	&:hover {
		&:before {
			opacity: 1;
		}
	}
}

#{ $inviteModalAccordionHeaderIconWrapper } {
	background-color: var(--card-button-color);
	border-radius: 50%;
}
