/*
 *
 *  STICKER UPLOAD
 *
 */

%stickersUploadForm {
    %modalContent {
        padding: 0 !important;
    }

    %stickersUploadSectionTitle {
        margin: 8px 0;

        %titleH5 {
            margin-bottom: 0;
        }
    }

    %stickersUploadFormItem {
        padding: 0 16px;
    }

    %themePreview {
        border-radius: var(--card-radius-big);
        border: none;
    }

    %fileUploadContainer {
        --input-padding: 0;

         %fileUploadButton {
             width: 140px;
         }
    }
}
