/*
 *
 *  TERMS OF SERVICE
 *
 */

%termsOfServiceModal {
    %termsOfServiceTitle {
        margin: 0;
        padding: 16px;
        font-weight: 600;
        font-size: 16px;
        text-transform: none;
        color: var(--header-primary);
    }

    %termsOfServiceContentDescription {
        margin: 16px 16px 0;
    }

    %termsOfServiceContainer {
        margin: 16px;
    }

    %termsOfServiceButtonContainer {
        padding: 8px;

        %button {
            margin: 0;
        }
    }

    %anchor {
        color: hsl(var(--accent-hsl--material-you)) !important;
    }

    %termsOfServiceDivider {
        border-color: var(--popout-header-border);
    }
}
