@use '../mixins' as *;

/*
 *
 *  UPLOAD
 *
 */

%uploadModalIn {
    %uploadDropModal {
    	%uploadDropModalBgScale {
    		@include popout-format;
    	}

    	%uploadDropModalInner {
    		border: none;
    	}

    	%uploadDropModalTitle {
    		&,
    		strong {
    			color: var(--text-normal) !important;
    		}
    	}

    	%uploadDropModalInstructions {
    		color: var(--text-normal) !important;
    	}

    	&%uploadDropModalError {
    		%uploadDropModalTitle {
    			&,
    			strong {
    				color: #eee !important;
    			}
    		}

    		%uploadDropModalInstructions {
    			color: #eee !important;
    		}
    	}
    }
}

%uploadModal {
    %uploadModalFooter {
        padding: 8px;
		background-color: transparent !important;
		border-radius: 0 0 var(--popout-radius-big) var(--popout-radius-big);
		border-top: 1px solid var(--popout-header-border);
		box-shadow: none !important;

        %button%buttonLink {
			margin-right: 8px;
		}
    }
}

.colorDefault-CDqZdO .subtext-2GlkbE {
	color: var(--text-muted) !important;
}

/* UPLOAD -> SOUNDBOARD */

%uploadSoundboardMultiInput + %uploadSoundboardSection {
    &:nth-last-of-type(2) {
        margin-bottom: 0;
    }
}

%uploadSoundboardFakeInput {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    border: none;

    %uploadSoundboardFakeInputPlayButton {
        background-color: var(--card-button-color);
        transition: var(--default-time) var(--default-animation) background-color;

        &:hover {
            background-color: var(--card-button-color-hover);
        }
    }
}

%uploadSoundboardHandleFrame {
    &:before,
    &:after {
        background-color: var(--card-color-filled);
    }
}
