@use '../mixins' as *;

/*
 *
 *  CHANNELS LIST ICONS
 *
 */

%channelIconContainer {
	margin-right: 0 !important;
}

%channelIcons {
	&:not(:empty) {
		height: 32px;
		gap: 8px;
		align-items: center;
	}
}

%channelButton {
	position: relative;
	margin: 0;
	padding: 2px;
	@include md-ripple(hover, after, 1.4);

	&[role] {
		%channelActionIcon {
			&:active {
				transform: translateY(0);
			}
		}
	}
}

/* VOICE */

%voiceUserContent {
	border-radius: 15px;
    transition: var(--default-time) var(--default-animation) background-color;

	%memberOwnerIcon {
		margin-right: 8px;
	}
}
