@use '../classes' as *;

/*
 *
 *  CHANNELS LIST HEADER
 *
 */

#{ $channelsHeaderContainer } {
	background-color: var(--chat-color);

	&:not(#{ $channelHasBanner }) {
		#{ $channelsHeader } {
			&,
			&:hover {
				background-color: var(--main-color);
			}
		}
	}
}

#{ $channelsHeader } {
	padding: 0 var(--space-md);
	border-bottom: none;
	box-shadow: var(--shadow-ledge);
}

#{ $channelHasBanner } {
	#{ $channelsHeader } {
		background-color: var(--chat-color);
		border-bottom: none;
	}

	&#{ $bannerVisible } {
		#{ $channelsHeader } {
			background-color: transparent;
			box-shadow: none;
		}

		#{ $channelsHeaderGlass } {
			border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
			border-bottom: none;
		}
	}
}

#{ $channelsHeaderEllipseForeground } {
	position: absolute;
	height: var(--custom-channel-header-height);
	inset-block-start: 0;
	inset-inline-start: 0;
	inset-inline-end: 0;
	border-radius: var(--card-radius-big);
}

#{ $channelsHeaderContent } {
    justify-content: flex-start;
    gap: var(--space-8);
}

#{ $channelsHeaderName } {
    width: 100%;
    margin: 0;
}

#{ $channelsHeaderGuildBadge },
#{ $channelsHeaderGuildBadgeV2 } {
	margin-inline-end: 0;
}

#{ $channelsHeaderInviteButton } {
	border-radius: 10px;
	transition: var(--default-time) var(--default-animation) background-color;

	&:hover {
		background-color: var(--card-color-filled);
	}
}

#{ $channelsHeaderGuildDropdown } {
	padding-block: 0;
	padding-inline: var(--space-12) var(--space-8);
    gap: var(--space-xs);
	border-radius: 16px;
	transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) border-radius;

	&:hover {
		background-color: var(--card-color-filled);
	}

	&[aria-expanded="true"] {
		background-color: var(--card-color-active);
		border-radius: 10px;
	}
}

#{ $channelsHeaderChildren } {
    height: 16px;
}

#{ $bannerAnimatedContainer } {
	background-color: var(--chat-color);
	border-bottom: none;
	box-shadow: none;
}

#{ $bannerAnimatedContainer },
#{ $bannerImage } {
	border-radius: var(--card-radius-big);
}

#{ $bannerImage } {
	overflow: hidden;
}

#{ $bannerCommunityInfoPill } {
    background-color: var(--card-color-filled);
    color: var(--interactive-text-default);
}
