@use '../mixins' as *;

/*
 *
 *  CHANNELS LIST PANELS
 *
 */

%panels {
    position: relative;
	margin: -12px 8px 8px;
	background-color: transparent;

    &:before {
		position: absolute;
		content: " ";
		width: calc(100% + 16px);
		height: 40px;
		top: -28px;
		left: -8px;
		background: linear-gradient(0deg, var(--main-color) 0%, transparent 50%);
		z-index: -1;
		pointer-events: none;
	}

    %panelButton {
        &:hover {
            background-color: transparent;
        }

        @include md-ripple(hover, after, 1.0);
    }
}

%spotifyPanel,
%connectionPanel,
%activityPanel,
%listeningAlongPanel {
    margin-bottom: 8px;
    background-color: var(--sidebar-panel-color);
    border-radius: var(--card-radius-big);
    border-bottom: none;
}

%activityPanel {
    %activityPanelGameIcon {
        border-radius: 50%;
    }
}

%connectionPanel {
    %connectionPanelActionButtons {
        %button {
            --button-padding: 0 12px;
        }
    }
}

%spotifyPanel {
    &%spotifyPanelMaximized {
        %spotifyPanelCoverWrapper {
            border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
        }
    }
}

%spotifyPanelBar {
    background-color: var(--slider-color);
}

%spotifyPanelBarText {
    padding: 0 4px;
}

%accountPanel {
    height: 52px;
    background-color: var(--status-picker-color);
    border-radius: var(--card-radius-big);
    box-sizing: border-box;

    %accountPanelNameTag {
		margin-right: 2px;
	}

    %accountPanelDiscriminator {
		line-height: 14px;
	}

    %panelButton {
        color: var(--interactive-normal) !important;

        &:hover {
            color: var(--interactive-hover) !important;
        }
    }
}

%channelUnreadPillBottom {
    bottom: 12px;
}

%activitiesPanel {
    width: calc(100% - 16px);
    margin: 0 8px 20px;
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);

    %activitiesPanelContent {
        padding: 8px 0;
    }

    %activitiesPanelVideo {
        width: 208px !important;
        height: 117px !important;
        border-radius: var(--popout-radius-big);
    }
}
