@use '../mixins' as *;

/*
 *
 *  CHANNELS LIST PANELS
 *
 */

 %channelsContainer {
     &:after {
         position: absolute;
         content: " ";
         width: calc(100% + 16px);
         height: 40px;
         left: -8px;
         bottom: 0;
         background: linear-gradient(0deg, var(--main-color) 0%, transparent 50%);
         pointer-events: none;
         z-index: 1;
     }
 }

%panels {
    position: relative;
	margin: -12px 8px 12px 12px;
	background-color: transparent;
    border-radius: var(--popout-radius-big);
    overflow: hidden;

    %panelButton {
        &:hover {
            background-color: transparent;
        }

        @include md-ripple(hover, after, 1.0);
    }
}

%spotifyPanel,
%connectionPanel,
%activityPanel,
%listeningAlongPanel {
    margin-bottom: 2px;
    background-color: var(--sidebar-panel-color);
    border-radius: 4px;
    border-bottom: none;
}

%activityPanel {
    background: var(--sidebar-panel-color) !important;

    %activityPanelGameIcon {
        border-radius: 50%;
    }
}

%connectionPanel {
    %connectionPanelActionButtons {
        %button {
            --button-padding: 0 12px;
        }
    }
}

%accountPanel {
    width: 100%;
    height: 44px;
    margin-bottom: 0;
    background-color: var(--status-picker-color) !important;
    border-radius: 4px;
    box-sizing: border-box;

    %accountPanelAvatarWrapper {
        flex-grow: 1;
        margin-right: 0;
    }

    %accountPanelWithTagAsButton,
    %accountPanelWithTagless {
        min-width: 112px;
        margin-left: 0;
        padding-left: 0;

        &:hover {
            background-color: transparent;
            border-radius: 0;
        }
    }

    &%accountPanelGameActivityToggleAdded {
        %accountPanelWithTagAsButton,
        %accountPanelWithTagless {
            min-width: calc(100% - 128px);
        }
    }

    %accountPanelNameTag {
		margin-right: 2px;
	}

    %accountPanelDiscriminator {
		line-height: 14px;
	}

    %panelButton {
        color: var(--interactive-normal) !important;

        &:hover {
            color: var(--interactive-hover) !important;
        }
    }
}

%channelUnreadPillBottom {
    bottom: 12px;
}

%activitiesPanel {
    width: calc(100% - 16px);
    margin: 0 8px 20px;
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
    box-shadow: var(--shadow-3dp);

    %activitiesPanelContent {
        padding: 8px 0;

        %textSMBold {
            color: var(--header-primary) !important;
        }

        %textXSNormal {
            color: var(--text-normal) !important;
        }

        %button {
            --button-padding: 0 12px;
        }

        %buttonInverted {
            --button-background: hsla(var(--button-link-accent-color-color),0.15);
            --button-text-color: var(--button-link-accent-text-color);
        }
    }

    %activitiesPanelVideo {
        margin-top: -8px;
        border-radius: var(--popout-radius-big);
    }
}
