@use '../mixins' as *;

/*
 *
 *	PRIVATE CHANNELS LIST
 *
 */

%privateChannels {
    background-color: var(--main-color);

    %privateChannelsScroller {
        background-color: transparent;
    }

    %listPopoutScrollerContainer {
        margin-bottom: 20px;
    }
}

%privateChannelsSearchBar {
    %privateChannelsSearchBarComponent {
        height: 32px;
        padding: 0 10px;
        background-color: var(--input-color);
        border-radius: 16px;
    }
}

%privateChannel {
    margin-left: 8px;
    border-radius: var(--channel-radius);

    &:first-of-type {
        margin-top: 8px;
    }

    %privateChannelInteractive {
        transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) color;

        &:hover {
            background-color: var(--menu-item-hover);
        }

        &%privateChannelSelected {
            background-color: hsla(var(--accent-hsl),var(--menu-item-select-accent-opacity));
        }
    }
}

%privateChannelsHeader {
    padding: 18px 16px 4px;
    @include remove-caps(14px);
}
