/*
 *
 *  BUTTONS
 *
 */

%buttonFilled,
%buttonOutlined,
%buttonInverted,
%buttonLink {
    --button-background: hsl(var(--accent-hsl));
	--button-text-color: var(--accent-text-color);
	--button-outline: none;

    padding: var(--button-padding);
    background-color: var(--button-background) !important;
	border-radius: var(--button-radius);
    border: var(--button-outline) !important;
	font-size: 14px;
	font-weight: 700;
    color: var(--button-text-color) !important;

    &:not([disabled]) {
        &:hover {
			box-shadow: none;
            opacity: 0.95;
			transform: scale(1.05);

			%buttonContents {
				background-image: none;
			}
		}

        &:active {
            opacity: 0.75;

			&:hover {
				transform: scale(1);
			}
		}
    }

    %defaultColor {
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
    }
}

/* BUTTONS -> FILLED */

%buttonFilled {
    &%buttonBrand {
        --button-background: hsl(var(--accent-hsl));
        --button-text-color: var(--accent-text-color);
    }

    &%buttonPrimary {
        --button-background: hsl(0,0%,94%);
        --button-text-color: hsl(0,0%,0%);
    }

    &%buttonRed {
        --button-background: hsl(var(--alert-hsl));
        --button-text-color: var(--alert-text-color);
    }

    &%buttonGreen {
        --button-background: var(--button-positive-background);
        --button-text-color: hsl(0,calc(var(--saturation-factor, 1) * 0%),100%);
    }

    &%buttonColor {
        --button-background: hsl(0,0%,94%);
        --button-text-color: hsl(0,0%,0%);
    }
}

/* BUTTONS -> OUTLINED */

%buttonOutlined {
    &%buttonPrimary {
        --button-background: transparent;
        --button-text-color: hsl(0,0%,100%);
        --button-outline: 1px solid hsl(0,0%,100%);
    }

    &%buttonRed {
        --button-background: hsla(var(--alert-hsl),0.1);
        --button-text-color: hsl(var(--alert-hsl));
        --button-outline: 1px solid hsl(var(--alert-hsl));
    }

    &%buttonWhite {
        --button-text-color: hsl(0,0%,100%);
        --button-outline: 1px solid hsl(0,0%,100%);
    }
}

/* BUTTONS -> LINKS */

%buttonLink {
    --button-background: hsla(0,0%,0%, 0.1);
    --button-outline: 1px solid hsl(0,0%,80%);
    --button-text-color: hsl(0,0%,100%);

    &:hover {
        --button-outline: 1px solid hsl(0,0%,100%);
    }

    &%buttonPrimary {
        --button-background: hsla(0,0%,0%, 0.1);
        --button-outline: 1px solid hsl(0,0%,80%);
        --button-text-color: hsl(0,0%,100%);

        &:hover {
            --button-outline: 1px solid hsl(0,0%,100%);
        }
    }

    &%buttonWhite {
        --button-background: hsla(0,0%,0%, 0.1);
        --button-outline: 1px solid hsl(0,0%,80%);
        --button-text-color: hsl(0,0%,100%);

        &:hover {
            --button-outline: 1px solid hsl(0,0%,100%);
        }
    }

    &:hover {
        text-decoration: none;
    }
}

/* BUTTONS -> SIZES */

%buttonSizeSmall,
%buttonSizeMedium,
%buttonSizeLarge,
%buttonSizeXlarge,
%buttonSizeGrow {
    min-width: auto;
    height: var(--button-height);
    min-height: var(--button-height);
}

%buttonIconSize,
%buttonSizeIcon {
    --button-padding: 0;

    min-width: var(--button-height);
}

/* BUTTONS -> CALL BUTTONS */

%callCenterButton {
    --button-height: 56px;
}
