@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  CARDS
 *
 */

#{ $settingsCard } {
    @include card-format;

    &#{ $settingsCardPrimary },
    &#{ $settingsCardPrimaryOutline } {
        border: none;
    }
}

#{ $settingsCardPrimary } {
    @include card-format(true);
    border: none !important;
}

#{ $settingsSubscriptionBanner } {
    border-radius: var(--card-radius);
}

#{ $settingsDetailBlock } {
    @include card-format;
}
