/*
 *
 *  CHECKBOXES
 *
 */

%checkbox {
    &%checkboxChecked {
        background-color: hsl(var(--accent-hsl)) !important;
        border-color: hsl(var(--accent-hsl)) !important;

        path {
            fill: var(--accent-text-color) !important;
        }
    }
}

%menuPopoutCheckbox,
%menuPopoutRadio {
    color: hsl(var(--accent-hsl)) !important;
}

%menuPopoutCheck {
    color: var(--accent-text-color) !important;
}
