@use "../classes" as *;

/*
 *
 *  CHECKBOXES
 *
 */

#{ $checkboxOption } {
  &[data-selected] {
    &:hover {
      &:not([data-disabled]) {
        #{ $checkboxIndicator } {
          background-color: hsla(var(--accent-hsl));
        }
      }
    }

    #{ $checkboxIndicator } {
      background-color: hsla(var(--accent-hsl));
      background-color: hsla(var(--accent-hsl));
    }

    #{ $checkboxCheckmark },
    #{ $checkboxCheckStroke} {
      color: var(--accent-text-color);
    }
  }
}
