/*
 *
 *  NOTICES
 *
 */

%notice {
    margin: 0 var(--app-card-margin) var(--app-card-top-margin);
    border-radius: var(--app-card-radius) !important;
}

%base {
    %notice {
        margin: 0 0 var(--app-card-margin);
    }
}

%bdNotice {
    z-index: 103;

    &:first-child {
        border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
    }

    &:last-child {
        margin-bottom: var(--app-card-margin);
        border-radius: 0 0 var(--app-card-radius) var(--app-card-radius);
    }

    &:only-child {
        margin-bottom: var(--app-card-margin);
        border-radius: var(--app-card-radius);
    }
}
