@use '../classes' as *;

/*
 *
 *  RADIO BUTTONS
 *
 */

#{ $radioGroup } {
    gap: var(--space-8);
}

#{ $radioGroupOption } {
    padding: var(--space-12);
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-color-hover);
    }

    &[data-selected] {
        background-color: var(--card-color-active);

        #{ $radioOuterBase },
        #{ $radioOuterFill } {
            fill: hsla(var(--accent-hsl));
        }

        #{ $radioInnerDot} {
            fill: var(--accent-text-color);
        }

        &:not([data-disabled]) {
            &:hover {
                #{ $radioOuterBase },
                #{ $radioOuterFill } {
                    fill: hsla(var(--accent-hsl));
                }

                #{ $radioInnerDot} {
                    fill: var(--accent-text-color);
                }
            }
        }
    }
}
