/*
 *
 *  RADIO BUTTONS
 *
 */

%radioItem {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        &[aria-checked="false"] {
            &:not(%radioItemDisabled) {
                background-color: var(--card-color-hover);
            }
        }
    }

    &[aria-checked="true"] {
        background-color: var(--card-color-active);

        svg,
        %radioIconChecked {
            color: hsl(var(--accent-hsl));
        }
    }
}
