/*
 *
 *  SCROLLBARS
 *
 */

::-webkit-scrollbar {
	width: var(--scrollbar-width) !important;
	height: var(--scrollbar-width) !important;
    background: transparent !important;
	border-color: transparent !important;

    &-thumb {
    	background: var(--scrollbar-color) !important;
    	border-radius: 0 !important;

    	&:hover {
    		background: var(--scrollbar-hover-color) !important;
    	}

        &:active {
            background: var(--scrollbar-active-color) !important;
        }
    }

    &-track,
    &-track-piece {
        background: transparent !important;
    	border-color: transparent !important;
    }
}

%scrollbarThin {
	&::-webkit-scrollbar {
		width: calc(var(--scrollbar-width) / 2) !important;
		height: calc(var(--scrollbar-width) / 2) !important;
	}
}

%scrollbarNone {
	&::-webkit-scrollbar {
		width: 0 !important;
		height: 0 !important;
	}
}
