/*
 *
 *	SELECT MENUS
 *
 */

%selectMenu {
	height: var(--input-height);
    padding: var(--input-padding) !important;
	border-radius: var(--input-radius) !important;
	border: 1px solid transparent !important;
    transition: var(--default-time) var(--default-animation) border-color;

    &%selectMenuOpen {
        border-color: var(--input-border-color) !important;
    }

	&%selectMenuMulti {
		min-height: var(--input-height);
		height: auto;
	}

	&%selectMenuFilled {
		background-color: var(--input-color);
	}
}

%selectMenuPopout {
	margin: 4px 0;
	background-color: var(--popout-color);
	border-radius: var(--popout-radius) !important;
	border: none;
	box-shadow: var(--default-shadow);

	%selectMenuOption {
		color: var(--menu-text-color);

		&:hover {
			background-color: var(--background-tinted-hover);
		}

		&[aria-selected=true] {
            &:not(%selectMenuOption%selectMenuMulti) {
    			background-color: var(--background-tinted-active);

    			%selectMenuOptionSelectedIcon {
    				color: hsl(var(--accent-hsl));
    			}
            }
		}
	}
}
