/*
 *
 *  SLIDERS
 *
 */

%slider {
	&:hover,
    &:active {
		%sliderBarFill {
			background-color: hsl(var(--accent-hsl));
		}

		%sliderGrabber {
			opacity: 1;
		}
	}
}

%sliderBar {
    height: 4px !important;
    background-color: var(--slider-background) ;
    border-radius: 2px;

    &[style="background: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] {
        background-color: var(--slider-background) !important;
    }
}

%sliderBarFill {
    background-color: var(--slider-color);
    border-radius: 2px;
}

%sliderGrabber {
    width: 12px;
    height: 12px;
    top: 25px;
    border-radius: 6px;
    box-shadow: 0 2px 3px hsla(0,0%,0%,0.35);
    border: none;
    opacity: 0;
}

/* SLIDER -> CONTEXT MENU */

%menuPopoutItem {
    &#user-context-user-volume {
        %menuPopoutLabelContainer {
            padding: 6px 0;
        }

        %menuPopoutSliderContainer {
            padding: 0;
        }
    }

    %sliderGrabber {
        top: 10px;
    }
}
