@use "../classes" as *;

/*
 *
 *	SWITCHES
 *
 */

#{ $switchIndicator } {
  background-color: var(--switch-slider-color) !important;

  // Switch in on state
  &:has(#{ $switchThumb }[style="left: 24px;"]) {
    --switch-slider-color: hsl(var(--accent-hsl));
    --switch-knob-color: var(--accent-text-color);
  }

  #{ $switchThumb } {
    rect {
      fill: var(--switch-knob-color) !important;
    }

    svg {
      path {
        fill: var(--switch-slider-color);
      }
    }
  }
}
