/*
 *
 *  TAB BAR
 *
 */

%tabBar {
    %tabBarItem {
        margin: 0 8px 0 0;
        padding: 8px 16px;
        border-radius: 4px;
        font-weight: 700;

        &:hover {
            background-color: transparent !important;
        }

        &%tabBarItemSelected {
            background-color: var(--menu-hover-color) !important;
        }

        &%tabBarItemAddFriend {
            background-color: var(--status-positive-background) !important;
        }
    }
}
