/*
 *
 *  TAB BAR
 *
 */

%tabBar {
    padding-bottom: var(--spacing-8);
    gap: var(--spacing-16);

    %item {
        height: auto;
        margin: 0;
        padding: var(--spacing-8) var(--spacing-16);
        border-radius: 4px;
        font-weight: 700;

        + %item {
            margin-left: 0;
        }

        &:after {
            display: none;
        }

        &:hover {
            background-color: var(--background-tinted-hover);
        }

        &%itemSelected {
            background-color: var(--background-tinted-active);
            color: var(--text-primary);
        }

        &%itemAddFriend {
            background-color: var(--status-positive-background);
        }
    }
}

%headerBar {
    %tabBar {
        padding-bottom: 0;
    }
}
