@use "../classes" as *;

/*
 *
 *  TOOLTIP
 *
 */

#{ $tooltip } {
  border-radius: var(--tooltip-radius);
  border: none;

  &#{ $tooltipPrimary },
  &#{ $tooltipBrand } {
    background-color: var(--tooltip-color);
    box-shadow: var(--tooltip-shadow);
    color: var(--tooltip-text-color);

    #{ $tooltipPointer } {
      border-top-color: var(--tooltip-color);
    }
  }

  #{ $tooltipPointer } {
    &:before,
    &:after {
      display: none;
    }
  }
}

#{ $tooltipV2 } {
  background-color: var(--tooltip-color);
  border-radius: var(--tooltip-radius);
  box-shadow: var(--tooltip-shadow);
  border: none;
}

#{ $tooltipV2CaretIcon } {
  #{ $tooltipV2CaretStroke } {
    stroke: var(--tooltip-color);
  }
}

/* TOOLTIP -> REACTIONS */

#{ $reactionTooltip } {
  background-color: var(--tooltip-color);
  border-radius: var(--tooltip-radius);
  box-shadow: var(--tooltip-shadow);
}

/* TOOLTIP -> UPSELLS */

#{ $upsellTooltipWrapper } {
  background-color: var(--tooltip-color);
  box-shadow: var(--tooltip-shadow);

  &#{ $upsellTooltipCaretTopCenter } {
    &:after {
      border-bottom-color: var(--tooltip-color);
    }
  }
}
