/*
 *
 *  TOOLTIP
 *
 */

%tooltip {
	border-radius: var(--popout-radius);

	&%tooltipPrimary,
	&%tooltipBrand {
		background-color: var(--popout-color);
		box-shadow: var(--default-shadow);
        color: var(--text-normal);

		%tooltipPointer {
			border-top-color: var(--popout-color);
		}
	}
}

/* TOOLTIP -> UPSELLS */

%upsellTooltipWrapper {
    background-color: var(--popout-color);
    box-shadow: var(--default-shadow);

    &%upsellTooltipCaretTopCenter {
        &:after {
            border-bottom-color: var(--popout-color);
        }
    }
}
