/*
 *
 *  TITLE BAR
 *
 */

%titlebar {
	height: 24px;

    &%titlebarWithFrame {
        margin-top: 0;
    }

    &%titlebarMac {
        top: var(--app-margin);
    	left: var(--app-margin);

    	%titlebarMacButtons {
    		width: 72px;
    		border-top-left-radius: var(--app-radius);

    		%titlebarMacButton {
    			cursor: pointer;
    		}
    	}
    }
}

%titlebarWordmarkWindows {
	color: #fff;
}

%titlebarWinButton {
	height: 100%;
	top: 0;
	color: #fff;
}

%platformOSX {
	%guildsWrapper {
		margin-top: 0;
		padding-top: 35px;
	}

	%guildsTree {
		margin-top: 32px;
	}
}
