@use "../classes" as *;

/*
 *
 *  TITLE BAR
 *
 */

#{ $titlebar } {
  height: 24px;

  &#{ $titlebarWithFrame } {
    margin-block-start: 0;
  }

  &#{ $titlebarMac } {
    inset-block-start: var(--app-margin);
    inset-inline-start: var(--app-margin);

    #{ $titlebarMacButtons } {
      width: 72px;
      border-top-left-radius: var(--app-radius);

      #{ $titlebarMacButton } {
        cursor: pointer;
      }
    }
  }
}

#{ $titlebarWordmarkWindows } {
  color: hsl(0, 0%, 100%);
}
