@use '../classes' as *;

/*
 *
 *  TITLE BAR
 *
 */

#{ $titlebar } {
	height: 24px;

    &#{ $titlebarWithFrame } {
        margin-top: 0;
    }

    &#{ $titlebarMac } {
        top: var(--app-margin);
    	left: var(--app-margin);

    	#{ $titlebarMacButtons } {
    		width: 72px;
    		border-top-left-radius: var(--app-radius);

    		#{ $titlebarMacButton } {
    			cursor: pointer;
    		}
    	}
    }
}

#{ $titlebarWordmarkWindows } {
	color: hsl(0,0%,100%);
}
