@use '../../mixins' as *;

/*
 *
 *  VENCORD SETTINGS
 *
 */

%vencordSettingsTabBar {
    height: 48px;
    border-bottom-width: 1px !important;

    %tabBarItem {
        height: inherit;
        line-height: 48px;
        margin: 0 24px 0 0;
        padding: 0 8px;
        border-radius: 0;
        border: none !important;
        color: var(--interactive-normal) !important;

        &%tabBarItemSelected {
            @include tab-border(80%);
        }
    }

    + %settingsHeaderDivider {
        display: none;
    }
}

%vencordSettingsCard,
%vencordPluginsInfoCard {
    %titleH5 {
        margin-bottom: 0;
        padding-bottom: 16px;
        line-height: normal;
        font-size: 1.25em;
        font-weight: 400;
        color: var(--card-header-text-color);
    }

    %settingsHeaderDivider {
        margin: 16px 0;
    }
}

%vencordSettingsDonateCard {
    %button {
        position: absolute;
        bottom: 16px;
        transform: none !important;

        %buttonContents {
            display: flex;
        }

        svg {
            transform: none !important;

            path {
                fill: currentColor;
            }
        }
    }

    img {
        margin: 16px;
    }
}

%vencordErrorCard {
    padding: 16px;
    background-color: hsla(var(--alert-hsl), 0.1);
    border-radius: var(--card-radius-big);
    border-color: hsl(var(--alert-hsl));
}

/* VENCORD SETTINGS -> PLUGINS */

%vencordPluginsInfoCard {
    height: auto !important;
}

%vencordPluginsFilterControls {
    %inputWrapper {
        &:last-of-type {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
        }
    }

    %selectMenu {
        box-shadow: none !important;
    }
}

%vencordPluginsCard {
    padding: 16px !important;
    background-color: var(--card-color-filled) !important;
    border-radius: var(--card-radius-big) !important;

    &:hover {
        box-shadow: none !important;
        transform: none !important;
    }

    %vencordPluginsCardHeader {
        height: auto !important;
        justify-content: flex-start !important;

        %vencordPluginsCardName {
            overflow: hidden;
            font-size: 1.25em !important;
            font-weight: 400;
        }
    }

    %switchContainer {
        %switchSlider {
            transform: translate(-2px, -50%) !important;
            transition: var(--default-time) var(--default-animation) all;
        }

        &%switchContainerChecked {
            %switchSlider {
                transform: translate(11px, -50%) !important;
            }
        }
    }
}

/* VENCORD SETTINGS -> THEMES */

%vencordThemeLinks {
    padding: 12px !important;
    background-color: var(--input-color);
    border-radius: 4px 4px 0 0 !important;
    border: none !important;
    box-shadow: inset 0 -1px 0 0 var(--input-border-color);
    line-height: 1.375rem;
    font-size: 1rem;
    color: var(--input-text-color) !important;
    transition: var(--default-time) var(--default-animation) box-shadow;

    &:focus {
        box-shadow: inset 0 -2px 0 0 hsl(var(--accent-hsl--material-you));
    }
}

%settingsCardPrimary {
    &[style*="padding: 0.5em"] {
        padding: 16px !important;
    }
}

/* VENCORD SETTINGS -> BACKUP AND RESTORE */

%vencordBackupRestoreCard {
    > div {
        gap: 0 !important;
    }

    strong {
        padding-bottom: 16px;
        line-height: normal;
        font-size: 1.25em;
        font-weight: 400;
        color: var(--card-header-text-color) !important;
    }
}

/* VENCORD SETTINGS -> NOTIFICATION */

%vencordNotificationRoot {
    background-color: var(--popout-color) !important;
    border-radius: var(--popout-radius-big) !important;
    box-shadow: var(--shadow-3dp) !important;

    %vencordNotificationTitle {
        font-size: 22px !important;
        font-weight: 400 !important;
        text-transform: none !important;
    }
}
