@use '../mixins' as *;

/*
 *
 *  APP DIRECTORY
 *
 */

%appDirectoryRoot {
    animation: page-open 300ms var(--default-animation);
}

@keyframes page-open {
	from { transform: scale(1.1); opacity: 0; }
}

%appDirectoryModal {
    background-color: var(--main-color) !important;
}

/* APP DIRECTORY -> SEARCH BAR */

%appDirectorySearch {
    --input-height: 48px;

    @include new-input-format(true);
    box-shadow: none !important;

    %inputWrapper {
        &:before,
        &:after {
            display: none;
        }
    }

    %appDirectorySearchBoxInput {
        height: var(--input-height);
        padding: 0;
    }
}

/* APP DIRECTORY -> SEARCH RESULTS */

%appDirectorySidebarCategory {
    border-radius: 24px;
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--menu-item-hover);
    }

    &%appDirectorySidebarActiveCategory {
        background-color: hsla(var(--accent-hsl),var(--menu-item-select-accent-opacity));
    }
}

%appDirectorySearchResultsListing {
    border-radius: var(--card-radius-big);
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-color-hover);
    }

    %appDirectorySearchResultsListingDetails {
        transition: var(--default-time) var(--default-animation) border-color;
    }
}

/* APP DIRECTORY -> CATEGORIES */

%appDirectoryCategory {
    height: 36px;
    padding: 0 12px;
    background-color: var(--card-button-color);
    border-radius: 10px;
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-button-color-hover);
    }
}

/* APP DIRECTORY -> CARDS */

%appDirectoryCardScollerContainer {
    %scroller {
        --scrollbar-width: 4px;
    }
}

%appDirectoryCard {
    @include card-format(true, 0, true, true);
}

%appDirectoryCardImage {
    border-radius: var(--card-radius-big);
}

%appDirectoryLearnMoreCard {
    @include card-format(true, 0, false, false);
}

%appDirectoryLearnMoreCardHeader {
    color: var(--header-primary);
}

%appDirectoryLearnMoreDescription {
    color: var(--text-normal);
}

/* APP DIRECTORY -> BOT INFO */

%botInfoHeaderBanner {
    border-radius: var(--card-radius-big);
}

%botInfoHeaderIcon {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

%botInfoSupportServerCard {
    @include card-format(false, 0, true, true);

    &:hover {
        %botInfoSupportServerIconMask {
            background-color: var(--card-color-hover);
        }
    }

    %botInfoSupportServerSplashImage {
        border-radius: var(--card-radius-big);
    }

    %botInfoSupportServerIconMask {
        background-color: var(--card-color-filled);
        transition: var(--default-time) var(--default-animation) background-color;
    }
}

%botInfoPremiumContainer {
    @include card-format;

    %botInfoPremiumCardHeader {
        @include card-format--header;
    }

    %botInfoPremiumPriceAndButtonContainer {
        background-color: transparent;
    }

    %botInfoPremiumBenefitsContainer {
        @include card-format--body;
        background-color: transparent;
    }
}

%botInfoCommandList {
    @include card-format(false, 16px);

    %botInfoCommandName {
        @include card-format(false, 10px 12px, true);
    }
}

%botInfoPermissionHeader {
    margin-top: 0;
}
