@use '../mixins' as *;

/*
 *
 *  BROWSE CHANNELS
 *
 */

%browseChannelsHeader {
    margin: 0;
    padding: 16px 32px 12px 24px;
    border-bottom: 1px solid var(--card-border-color);
}

%browseChannelsScrollerInner {
    padding: 8px 24px 32px;
}

%browseChannelsChooseContainer {
    background-color: hsl(var(--accent-hsl));
    border-radius: var(--card-radius-big);

    .defaultColor-HXu-5n,
    .body-2A992B {
        color: var(--accent-text-color) !important;
    }
}

/*  BROWSE CHANNELS -> CHANNELS */

%browseChannelsCategoryText {
    @include remove-caps(14px);
}

%browseChannelsChannelRow {
    --button-height: 34px;

    background-color: var(--card-color-outlined);
    border-left: 1px solid var(--card-border-color);
    border-right: 1px solid var(--card-border-color);
    transition: var(--default-time) var(--default-animation) background-color;

    &%browseChannelsFirstChannel {
        border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
        border-top: 1px solid var(--card-border-color);
    }
    &%browseChannelsLastChannel {
        border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
        border-bottom: 1px solid var(--card-border-color);
    }

    &:not(%browseChannelsChannelDisabled) {
        &:hover {
            background-color: var(--card-color-hover);
        }
    }

    &:hover {
        %browseChannelsViewChannelButton {
            opacity: 1;
            visibility: visible;
            transition: var(--default-time) var(--default-animation) opacity;
        }
    }

    %browseChannelsViewChannelButton {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: var(--default-time) var(--default-animation) opacity;
    }
}

%browseChannelsChannelSeparator {
    background-color: var(--card-border-color);
}
