@use '../classes' as *;

/*
 *
 *  GAME SHOP
 *
 */

#{ $gameShopContainer } {
    background-color: var(--chat-color);
    border-top: none;

    #{ $notice } {
        margin: var(--space-16);
    }
}

#{ $gameShopBackgroundContainer } {
    background-color: var(--chat-color);
}

#{ $gameShopCard } {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    border: none;
}

#{ $gameShopCardHighlighted },
#{ $gameShopCardDarkHighlighted } {
    box-shadow: var(--shadow-medium);
}
