@use '../mixins' as *;

/*
 *
 *  HOME TAB
 *
 */

%homeIntroCard {
    @include card-format(false, 16px, true);

    %homeIntroCardIcon {
        border: 6px solid var(--card-color-filled);
    }
}

/* HOME TAB -> ACTIVE NOW */

%homeActiveNowContainer {
    @include card-format(false, 0, true);

    %homeActiveNowContainerHeader {
        @include card-format--header(false, true);

        %headingMdSemibold {
            @include card-format--header-fix;
        }
    }

    %homeActiveNowEmptyContainer {
        margin-top: 0;
        background-color: transparent;
    }
}

%homeActiveNowChannelList {
    padding: 12px 12px 0;
}

%homeActiveNowChannelContainer {
    border-radius: var(--card-radius-big);
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-color-hover);
    }

    %homeActiveNowChannelIconContainer,
    %homeActiveNowChannelMoreUsers {
        background-color: var(--card-color-hover);
    }
}

%homeActiveNowSmallCard {
    @include card-format(false, 8px);
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-color-hover);
    }

    &%homeActiveNowSmallCardFiller {
        padding: 0;
        overflow: hidden;
    }

    %homeActiveNowTypingIndicator {
        background-color: var(--card-color-hover);
    }
}

@media (max-width: 1300px) {
    %homeActiveNowSmallScrollIcon {
        background-color: var(--chat-color);
        border: 1px solid var(--card-border-color);
    }
}

/* HOME TAB -> UPCOMING */

%homeUpcomingContainer {
    @include card-format(false, 0, true);

    %homeUpcomingHeader {
        @include card-format--header(false, true);

        %headingMdSemibold {
            @include card-format--header-fix;
        }
    }
}

%homeUpcomingEventContainer {
    margin: 0 16px;

    &:last-of-type,
    &:only-child {
        margin-bottom: 16px;
    }
}

/* HOME TAB -> YOUR HIGHLIGHTS */

%homeBrandCard {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);

    %homeBrandCardTextContainer {
        margin: 16px 0 16px 16px;
    }
}

%homeHighlightsCard {
    &%homeHighlightsCardBackground {
        @include card-format(false, 16px, true);
    }
}

%homeHighlightsInteractiveCard {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    border: none !important;

    &:hover {
        box-shadow: none;
    }

    %messagesWrapper {
        %messageContentInner {
            overflow: hidden;
        }

        &%messageCozy {
            --message-color: var(--message-color-hover);

            &:not(%message) {
                margin: 16px 16px 0 79px;
            }
        }
    }

    %avatarDecoration {
        left: -65px;
    }
}

%homeHighlightsFeedItemHeader {
    padding: 16px;
    border-bottom: none;

    %headingSMSemibold {
        font-size: 1.25em;
    }
}
