@use '../mixins' as *;

/*
 *
 *  HOME TAB
 *
 */

%homeIntroCard {
    @include card-format(false, 16px);

    %homeIntroCardIcon {
        border: 6px solid var(--card-border-color);

        &:before,
        &:after {
            position: absolute;
            content: " ";
            border-radius: 50%;
            pointer-events: none;
        }

        &:before {
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            top: -5px;
            left: -5px;
            background-color: var(--chat-color);
        }

        &:after {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: inherit;
            background-position: center;
            background-size: cover;
            z-index: 2;
        }
    }
}

/* HOME TAB -> ACTIVE NOW */

%homeActiveNowContainer {
    @include card-format;

    %homeActiveNowContainerHeader {
        @include card-format--header;
    }

    %homeActiveNowEmptyContainer {
        margin-top: 0;
        background-color: transparent;
    }
}

%homeActiveNowChannelList {
    padding: 12px 12px 0;
}

%homeActiveNowChannelContainer {
    border-radius: var(--card-radius-big);
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-color-hover);
    }

    %homeActiveNowChannelIconContainer,
    %homeActiveNowChannelMoreUsers {
        background-color: var(--card-color-hover);
    }
}

%homeActiveNowSmallCard {
    @include card-format(false, 8px);
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-color-hover);
    }

    &%homeActiveNowSmallCardFiller {
        padding: 0;
        overflow: hidden;
    }

    %homeActiveNowTypingIndicator {
        background-color: var(--card-color-hover);
    }
}

@media (max-width: 1300px) {
    %homeActiveNowSmallScrollIcon {
        background-color: var(--chat-color);
        border: 1px solid var(--card-border-color);
    }
}

/* HOME TAB -> YOUR HIGHLIGHTS */

%homeTopMessagesHeader {
    margin-bottom: 0;
    padding: 16px;
    background-color: var(--card-color);
    border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
    border: 1px solid var(--card-border-color);
    border-bottom: none;
}

%homeHighlightsCard {
    &%homeHighlightsCardBackground {
        @include card-format(false, 16px);
        border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
    }
}
