@use '../mixins' as *;

/*
 *
 *  PREMIUM MEMBERSHIP
 *
 */

%premiumMembershipScroller {
    background-color: var(--chat-color);

    %premiumMembershipScrollerContent {
        max-width: 100%;
    }
}

%premiumMembershipCoverImageContainer {
    width: calc(100% - 64px);
    margin: 32px;

    %premiumMembershipCoverImage {
        border-radius: var(--card-radius-big);
    }
}

%premiumMembershipGuildIconContainer {
    background-color: var(--chat-color);
}

%cardContainerWithoutTopIndicator {
    --message-color: var(--card-color-alt);

    @include card-format(false, 0, true);
}

%tierInfoContainer,
%subscriptionPerks {
    background-color: transparent;
}

%tierInfoContainer {
    border-bottom: 1px solid var(--card-border-color);

    %button {
        background: none;

        %tierSubscribeShine {
            display: none;
        }
    }
}

%subscriptionPerks {
    %subscriptionSectionHeader {
        @include remove-caps(14px);
    }
}

%roleMessagePreview {
    margin-left: 50px;
    padding: 0;
    background-color: transparent;
    border: none;
}
