@use '../mixins' as *;

/*
 *
 *	SERVER DISCOVERY
 *
 */

%discoverScroller {
    background: var(--chat-color);
}

%discoverServerContent {
    max-width: unset;
}

/* SERVER DISCOVERY -> SIDEBAR */

%discoverSidebar {
    background: none;
}

%discoverSidebarHeader {
    height: 48px;
    padding: 0 16px;
    box-shadow: var(--shadow-ledge);
}

%discoverSidebarNav {
    padding: 16px 8px;
}

%discoverSidebarNavItem {
    border-radius: 24px;
    transition: var(--default-time) var(--default-animation) background;

    &:hover {
		background: var(--menu-item-hover);
	}

	&%discoverSidebarNavItemSelected {
		background: hsl(var(--accent-hsl),var(--menu-item-select-accent-opacity));
    }
}

/* SERVER DISCOVERY -> HEADER BAR */

%discoverHeaderBar {
    --input-height: 32px;
    position: relative;
    height: 48px;
    box-shadow: var(--shadow-ledge);

    &:after {
        display: none;
    }
}

%discoverDragRegion {
    height: 48px;
}

/* SERVER DISCOVERY -> BANNER */

%discoverBannerContainer {
    margin: 16px 32px 0;
    padding-top: 0;
    border-radius: var(--card-radius-big);

    %discoverBannerTitle {
        text-transform: unset;
    }
}

/* SERVER DISCOVERY -> CARDS */

%discoverServersContent {
    max-width: unset;
}

%discoverServerCard {
	@include card-format(true, 0, true, true);
	box-shadow: none !important;

    &:hover {
		transform: none !important;

        %discoverServerIconMask {
            background-color: var(--card-color-hover) !important;
        }
	}

    %discoverServerIcon {
		foreignObject {
			mask: none !important;
		}
	}

    %discoverServerIconMask {
        background-color: var(--card-color-filled) !important;
        border-radius: calc(var(--avatar-radius) * 1.2);
    }

    %discoverServerAvatar {
        border-radius: var(--avatar-radius);
    }
}

/* SERVER DISCOVERY -> SEARCH RESULTS */

%discoverSearchHeaderBar {
    padding: 12px 16px;
    background: var(--chat-color);
}

%discoverSearchContentContainer {
    background: var(--chat-color);
}

%discoverSearchMasonryList {
    margin-top: 0;

    %channelsList {
        > div {
            > div[style*="top: 32px"] {
                top: 16px !important;
            }
        }
    }
}

%discoverSearchSiderbarLanguageSelect {
    height: 34px;
}

%discoverSearchCategory {
    border-radius: 17px;
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--menu-item-hover);
    }

    &%discoverSearchCategorySelected {
        --text-muted: hsl(var(--accent-hsl--material-you));

        background: hsl(var(--accent-hsl),var(--menu-item-select-accent-opacity));
    }
}

/* SERVER DISCOVERY -> SCHOOL HUBS */

%joinHubContainer {
    @include card-format(false, 16px, true);
}
