@use '../mixins' as *;

/*
 *
 *	SERVER DISCOVERY
 *
 */

%pageWrapper {
	background-color: var(--chat-color) !important;
}

%discoverHeaderImage {
	border-radius: var(--card-radius-big);
}

%discoverSearchBox {
	padding-right: 8px;
	border-radius: var(--input-radius);
	border: none;
	box-shadow: none;

	%discoverSearchBoxInput {
		height: var(--input-height);
		padding: 0 16px !important;
		box-shadow: none !important;
	}
}

/* SERVER DISCOVERY -> SIDEBAR */

%channelsSidebar {
	%listItem {
		margin: 0 4px 0 10px;
		border-radius: 21px;

		%listItemLayout {
			border-radius: 21px;
			transition: var(--default-time) var(--default-animation) background-color;
		}

		&:hover {
			%listItemLayout {
				background-color: var(--menu-item-hover);
			}
		}

		&%listItemSelected {
			color: var(--menu-item-text-color);

			%listItemLayout {
				background-color: hsla(var(--accent-hsl),var(--menu-item-select-accent-opacity));
				color: var(--interactive-active);
			}
		}
	}
}

/* SERVER DISCOVERY -> CARDS */

%discoverGuildCard {
	@include card-format(true, 0, true, true);
	box-shadow: none !important;

	%discoverGuildCardIcon {
		background-color: var(--card-color-filled) !important;
		border-radius: 50%;

		%discoverGuildAvatar {
			border-radius: 50%;
		}
	}

	&:hover {
		transform: none;

		%discoverGuildCardIcon {
			background-color: var(--card-color-hover) !important;
		}
	}

	%discoverGuildCardHeader {
		margin-bottom: 0;
	}

	%discoverCardSplashImage {
		border-radius: var(--card-radius-big);
	}

	%discoverGuildInfo {
		padding-top: 32px;
		border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
		transition: var(--default-time) var(--default-animation) border-color;
	}

	%discoverGuildIcon {
		foreignObject {
			mask: none !important;
		}
	}
}

%discoverSearchEmptyContainer {
	@include card-format(false, 80px 0, true);
}

/* SERVER DISCOVERY -> SEARCH RESULTS */

%discoverSearchPage,
%discoverSearchCategories,
%discoverSearchResults {
	margin-right: 24px;
}

%discoverSearchPage,
%discoverSearchCategories,
%discoverSearchResults,
%discoverSearchGuildList {
	max-width: 1200px;
}

%discoverSearchPage {
	%discoverSearchPageBar {
		max-width: unset;
	}

	%discoverSearchBox {
		padding-right: 8px;
		background-color: var(--input-color);
		box-shadow: none !important;
	}
}

%discoverCategoryPill {
	border-radius: 8px;
	background-color: var(--card-button-color);
	transition: var(--default-time) var(--default-animation) background-color;

	&:hover {
		&:not(%discoverCategoryPillSelected) {
			background-color: var(--card-button-color-hover);
		}
	}

	%discoverCategoryLabel {
		color: var(--text-normal);
		transition: var(--default-time) var(--default-animation) color;
	}

	&%discoverCategoryPillSelected {
		background-color: hsla(var(--accent-hsl),0.3);

		%discoverCategoryLabel {
			color: hsl(var(--accent-hsl--material-you));
		}
	}
}

%discoverSearchCard {
	height: 160px;
	@include card-format(false, 0, true, true);

	%discoverSearchCardContainer {
		height: 100%;
	}

	%discoverSearchCardContent {
		height: 100%;
		padding: 16px 16px 16px 0;
		box-sizing: border-box;
	}

	%discoverSearchCardMemberInfo {
		margin-top: 8px;
	}

	%textXSNormal {
		font-weight: 500;
	}
}

%discoverSearchSplashContainer {
	height: 100%;
	border-radius: var(--card-radius-big);
}

%discoverSearchSeparator {
	display: none;
}

/* SERVER DISCOVERY -> SCHOOL HUB */

%studentHubsPage {
	background-color: var(--chat-color);
}

%joinHubContainer {
	@include card-format(false, 16px, true);
}

%studentHubsSidebarContainer {
	background-color: transparent;
}
