@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *	SERVER GUIDE
 *
 */

#{ $serverGuideHeader } {
    margin-block-start: -16px;
}

#{ $serverGuideHeaderArtWrapper } {
    width: calc(100% + 32px);
    margin-inline-end: -16px;
}

#{ $serverGuideHeaderIcon } {
    background-color: var(--chat-color);
    border-radius: 50%;
    border-color: var(--chat-color);
}

#{ $serverGuideUserCardInner } {
    @include card-format($filled: true);
}

#{ $serverGuideAction } {
    @include card-format($important: true, $padding: var(--space-16), $filled: true, $hover: true);
    cursor: pointer;
}

#{ $serverGuideRow } {
    @include card-format($padding: var(--space-16), $filled: true, $hover: true);
}

#{ $serverGuideSidebarCardWrapper } {
    @include card-format($padding: var(--space-16), $filled: true);
}
