@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *	SERVER SHOP
 *
 */

#{ $serverShopContent } {
    background-color: var(--chat-color);

    #{ $serverShopContentContainer } {
        width: 100%;
    }
}

#{ $serverShopHeroCard },
#{ $serverShopFilters } {
    max-width: unset;
}

#{ $serverShopHeroCard } {
    @include card-format($filled: true);
    box-shadow: none;

    #{ $serverShopHeroInfoContainer } {
        padding-block: 0 var(--space-16);
        padding-inline: var(--space-16);
    }

    #{ $serverShopHeroCoverImage } {
        border-radius: var(--card-radius-big);
    }
}

#{ $serverShopFilters } {
    #{ $buttonFilled } {
        #{ $buttonContents } {
            color: var(--accent-text-color--material-you);
        }

        #{ $textSmMedium } {
            color: inherit !important;
        }
    }
}

#{ $serverShopHeader } {
    @include remove-caps($font-size: 14px);
}

#{ $serverShopTab } {
    border-radius: var(--card-radius-big);

    &#{ $serverShopTabSelected } {
        background-color: hsl(var(--accent-hsl--material-you),0.3);
        border-color: hsl(var(--accent-hsl--material-you));
        box-shadow: none;
    }
}

#{ $serverShopProductCard } {
    @include card-format($important: true, $filled: true, $hover: true);

    #{ $serverShopProductThumbnail } {
        border-radius: var(--card-radius-big);
    }
}

#{ $serverShopCard } {
    &:hover {
        #{ $serverShopCardContent } {
            box-shadow: none;
            outline: none;
            transform: none;
        }
    }
}

/* SERVER SHOP -> PRODUCT MODAL */

#{ $serverShopProductModalHeaderImage } {
    width: calc(100% + 48px);
    margin-block: -24px -16px;
    margin-inline: -24px;
    border-radius: var(--card-radius-big);
}

#{ $serverShopProductModalBody } {
    background-color: transparent;
}
