@use '../mixins' as *;

/*
 *
 *	SERVER BOOST
 *
 */

%perksModal {
	background-color: var(--main-color) !important;
	background-image: none !important;
}

%perksModalCtaBar {
	@include card-format(false, 16px);
	background-image: none !important;
}

%buttonGiftIcon path {
	fill: var(--accent-text-color--material-you);
}

%perk {
	@include card-format(true, 16px);
}

%serverBoostSubscriptionCard {
	@include card-format(false, 16px);
}

/* SERVER BOOST -> LEVELS */

%tierMarkerBackground {
	background-color: var(--main-color) !important;
}

/* SERVER BOOST -> TIERS */

%tierWrapper {
	box-shadow: none !important;
}

%tier {
	border-radius: var(--card-radius-big);

	%tierHeader {
		border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
	}

	%tierBody {
		background-color: var(--card-color-alt) !important;
		border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
		border: 1px solid var(--card-border-color);
		border-top: none;
		transition: var(--default-time) var(--default-animation) border;
	}
}

%carouselItem {
	border-radius: var(--card-radius-big);
	transition: var(--default-time) var(--default-animation) box-shadow;

	&%carouselItemSelected {
		box-shadow: var(--shadow-3dp);

		%tierBody {
			border-color: var(--card-color-alt);
		}
	}
}

/* SERVER BOOST PERKS */

%perksModalList {
	@include card-format;

	%perksModalRow {
		margin: 0;
		padding: 16px;
		@include card-format--list;
	}
}
