@use '../mixins' as *;

/*
 *
 *	SERVER GUIDE
 *
 */

%serverGuideHeaderArtWrapper {
    width: calc(100% + 16px);
    margin-top: 16px;
    margin-right: -16px;
}

%serverGuideHeaderIcon {
    background-color: var(--chat-color);
    border-radius: 50%;
    border-color: var(--chat-color);
}

%serverGuideUserCardInner {
    @include card-format(false, 0, true);
}

%serverGuideAction {
    @include card-format(true, 16px, true, true);
    cursor: pointer;
}

%serverGuideRow {
    @include card-format(false, 16px, true, true);
}
