@use "../classes" as *;
@use "../mixins" as *;

/*
 *
 *	SERVER BOOST
 *
 */

#{ $serverBoostContainer } {
  background-color: transparent;
}

#{ $serverBoostContentContainer } {
  background-color: var(--main-color);
}

#{ $serverBoostSubscriptionCard } {
  @include card-format(false, 16px, true);
}

#{ $serverBoostSubscriptionTierPill } {
  background-color: var(--card-button-color);
}

/* SERVER BOOST -> SIDEBAR */

#{ $serverBoostToolbar } {
  height: var(--custom-channel-header-height);
}

#{ $serverBoostSidebarContainer } {
  flex: 0 1 auto;
  margin: var(--space-12) var(--space-12) var(--space-12) var(--space-8);
  padding: var(--space-16) calc(var(--space-16) - var(--scrollbar-thin-width))
    var(--space-16) var(--space-16);
  background-color: var(--main-alt);
  border-radius: var(--popout-radius-big);
  border-inline-start: none;
  overflow-y: scroll;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    --scrollbar-width: var(--scrollbar-thin-width);
  }
}

#{ $serverBoostSidebarInfoContainer } {
  padding: 0;
}

#{ $serverBoostSidebarHeader } {
  padding: var(--space-24) 0 var(--space-8);
}

#{ $serverBoostStatCard } {
  @include card-format(false, var(--space-16), true);
}

#{ $serverBoostHowBoostsWork } {
  border-radius: var(--card-radius-big);
}

#{ $serverBoostSidebarRecentActivityContainer } {
  flex: 0 1 auto;
  padding: 0 !important;
  gap: 2px;
  overflow: unset !important;
}

#{ $serverBoostSidebarSystemMessageContainer } {
  padding: var(--space-12) var(--space-8);
  background-color: var(--card-color-filled);
  border-radius: 4px;
  box-sizing: border-box;

  &:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &:nth-last-child(2) {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

/* SERVER BOOST -> CARDS */

#{ $serverBoostCardParentContainer } {
  &:hover {
    #{ $serverBoostCard } {
      transform: none;
    }
  }
}

#{ $serverBoostCard } {
  @include card-format(true, 0, true, true, true);

  &#{ $serverBoostCardActive } {
    --card-color-filled: var(--card-color-active);
    --card-color-hover: var(--card-color-active);
  }

  #{ $serverBoostCardIconBoostContainer } {
    border-color: var(--card-color-filled);
  }
}

#{ $serverBoostCardImageBackground } {
  border-radius: var(--card-radius-big);
}
