/*
 *
 *	DISCORD SHOP
 *
 */

%shopContainer {
    background-color: var(--main-alt);
}

%shopPage {
    gap: 40px;

    > div:nth-child(3) {
        display: grid;
        gap: inherit;
    }
}

%shopHeroBanner,
%shopBannerBackground,
%shopBannerCard {
    border-radius: var(--card-radius-big);
}

%shopBannerCard {
    margin-top: 0;
}

%shopBanner {
    margin-top: 0;
    border-radius: var(--card-radius-big);
    outline: none;
}

%shopCard {
    background: var(--card-color-filled) !important;
    border-radius: var(--card-radius-big);
    border: none;
    box-shadow: none !important;
    transition: var(--default-time) var(--default-animation) background;

    &:hover {
        background: var(--card-color-hover) !important;
        transform: none;
    }

    %shopPreviewButtonInner {
        max-width: none;
        max-height: none;
    }
}

%shopPreviewModalContent {
    padding: 0 !important;
    border-radius: var(--popout-radius-big) !important;

    &::-webkit-scrollbar {
        --scrollbar-width: 0;
        --scrollbar-thin-width: 0;
    }

    %shopCollectibleInfoContainer {
        border-radius: var(--popout-radius-big);
    }
}
