@use '../mixins' as *;

/*
 *
 *	DISCORD SHOP
 *
 */

%shopContainer {
    background-color: var(--main-alt);
}

%shopHomeContainer {
    background-color: var(--chat-color);
    overflow: hidden;

    %headerBar%headerBarThemed {
        background-color: var(--main-color) !important;
    }
}

.shopScroll-2RzMLg {
    background-color: var(--chat-color);
}

%shopHeroBanner,
%shopBannerBackground,
%shopBannerCard {
    border-radius: var(--card-radius-big);
}

%shopBanner {
    border-radius: var(--card-radius-big);
    outline: none;
}

%shopItemTypeTitle {
    @include remove-caps(16px);
    font-weight: 500;
}

%shopCard {
    background: var(--card-color-filled) !important;
    border-radius: var(--card-radius-big);
    border: none;
    box-shadow: none !important;
    transition: var(--default-time) var(--default-animation) background;

    &:hover {
        background: var(--card-color-active) !important;
        transform: none;
    }

    %textLGBold {
        font-weight: 400;
        font-size: 24px;
        color: var(--header-primary) !important;
    }

    %shopCardDescription,
    %shopCardPriceTag {
        color: var(--text-normal) !important;
    }

    %shopCardPremiumIcon {
        path {
            fill: currentColor;
        }
    }

    %buttonFilled%buttonBrand {
        background: var(--button-background) !important;
    }

    %shopPreviewButtonInner {
        max-width: none;
        max-height: none;
    }
}

%shopCardTextProfileEffect {
    &:before {
        background: linear-gradient(180deg, transparent, transparent, var(--card-color-filled)) !important;
    }
}

%shopPreviewModalContent {
    padding: 0 !important;
    border-radius: var(--popout-radius-big) !important;

    &::-webkit-scrollbar {
        --scrollbar-width: 0;
        --scrollbar-thin-width: 0;
    }

    %shopCollectibleInfoContainer {
        border-radius: var(--popout-radius-big);
    }

    %shopCollectibleCategoryBanner {
        width: calc(100% + var(--popout-radius-big));
        left: calc(var(--popout-radius-big) * -1);
    }
}
