@use '../classes' as *;

/*
 *
 *	VOICE & VIDEO CALL
 *
 */

#{ $voiceCallActionsWrapper } {
    #{ $voiceCallActionsButtonSection }:first-child {
        > #{ $voiceCallAttachedCaretButtonContainer } {
            > div:first-child {
                #{ $callButtonColorable } {
                    --button-radius: calc(var(--popout-radius) / 1.2) 4px 4px calc(var(--popout-radius) / 1.2);
                }
            }
        }
    }
}

#{ $voiceCallActionsButtonSection } {
    position: relative;
    padding: 5px;
    background-color: var(--popout-color);
    backdrop-filter: blur(var(--popout-blur));
    border: none;

    #{ $callButtonColorable } {
        --button-background: var(--background-modifier-active);
        --button-radius: calc(var(--popout-radius) / 1.2);

        height: 42px;
        padding: 0 10px;

        svg {
            filter: none;
        }
    }

    #{ $voiceCallActionsContextMenuNub } {
        padding: 0 2px;
        border-radius: 4px calc(var(--popout-radius) / 1.2) calc(var(--popout-radius) / 1.2) 4px;
    }
}

#{ $callButtonColorable } {
    &#{ $voiceCallDisconnect } {
        --button-background: hsl(var(--alert-hsl));
        --button-radius: var(--popout-radius);
        --button-text-color: var(--alert-text-color);

        height: 52px;
        padding: 0 10px;

        &:after {
            border-radius: inherit;
        }
    }

    svg {
        filter: none;
    }
}
