@use '../classes' as *;

/*
 *
 *  CHAT AREA
 *
 */

#{ $chat },
#{ $noChannel } {
    background-color: var(--main-content-color) !important;
}

#{ $chat } {
    &#{ $threadSidebarOpen } {
        border-radius: 0 var(--app-radius) var(--app-radius) 0;
    }
}

#{ $chatContent } {
    background-color: transparent;
}

#{ $channelChatWrapper } {
    background-color: transparent;
}

#{ $chatContentWrapper } {
    &:before {
        display: none;
    }
}

#{ $chatGradientBase },
#{ $chatTypingGradientAtBottom },
#{ $chatTypingGradientNotAtBottom } {
    background: transparent;
}

#{ $chatTypingGradientAtBottom },
#{ $chatTypingGradientNotAtBottom } {
    height: var(--space-24);
}

#{ $emptyChannelIcon } {
    background-color: var(--message-color);
}

#{ $chatOptionButton } {
    color: hsl(var(--accent-hsl));
}

#{ $chatRole } {
    background-color: var(--message-color);
    border-radius: 12px;

    &:hover {
        background-color: var(--message-color-hover);
    }
}

#{ $jumpToPresentBar } {
    bottom: 10px;
    background-color: var(--popout-color);
	border-radius: var(--popout-radius);
    border: none;
    backdrop-filter: blur(var(--popout-blur));

    #{ $jumpToPresentBarButtonBase } {
        color: var(--text-normal);
    }

	#{ $spinner } {
		--spinner-size: auto;
	}

	#{ $spinnerItem } {
		background-color: var(--accent-text-color);
	}
}

#{ $newMessagesBar } {
    background-color: hsl(var(--accent-hsl),var(--accent-opacity));
    border: none;
    box-shadow: none;

    #{ $jumpToPresentBarButtonBase } {
    	color: var(--accent-text-color);

        &,
        span {
            font-weight: 500;
            text-shadow: none;
        }
    }
}
