/*
 *
 *  CHAT AREA
 *
 */

%chat,
%noChannel {
    background-color: var(--main-content-color) !important;
}

%chatContent {
    background-color: transparent;
}

%chatContentWrapper {
    &:before {
        display: none;
    }
}

%emptyChannelIcon,
%threadChannelIcon {
    background-color: var(--message-color);
}

%chatOptionButton {
    color: hsl(var(--accent-hsl));
}

%chatRole {
    background-color: var(--message-color);
    border-radius: 12px;

    &:hover {
        background-color: var(--message-color-hover);
    }
}

%newMessagesBar,
%jumpToPresentBar {
	background-color: hsla(var(--accent-hsl),var(--accent-opacity));
}

%newMessagesBar {
	border-radius: 0 0 var(--message-radius) var(--message-radius);
}

%jumpToPresentBar {
    bottom: 10px;
	padding-bottom: 0;
	border-radius: var(--message-radius);

	%spinner {
		--spinner-size: auto;
	}

	%spinnerItem {
		background-color: var(--accent-text-color);
	}
}

%jumpToPresentBarButtonBase {
	color: var(--accent-text-color);
}
