/*
 *
 *  DIRECT MESSAGES
 *
 */

%callWrapper {
    &%callMinimum {
        background-color: transparent;
        box-shadow: var(--popout-header-shadow);
    }

    %headerBar {
        box-shadow: none;
    }
}

%callControlButton {
    svg {
        filter: none;
    }
}
