@use '../classes' as *;

/*
 *
 *  DIRECT MESSAGES
 *
 */

#{ $callWrapper } {
    &#{ $callMinimum },
    &#{ $callWrapperVideo } {
        background-color: transparent;
        box-shadow: var(--popout-header-shadow);
    }

    #{ $callContainer } {
        background-color: transparent;
    }

    #{ $headerBar } {
        box-shadow: none;
    }

    #{ $callTile } {
        border-radius: var(--card-radius);
    }
}

#{ $callControlButton } {
    svg {
        filter: none;
    }
}

#{ $callTileBorder } {
    border-radius: var(--card-radius);

    &#{ $callTileSpeaking } {
        box-shadow: inset 0 0 0 2px hsl(var(--accent-hsl)), inset 0 0 0 3px var(--background-base-lower);
    }
}

/* DIRECT MESSAGES -> SIDEBAR PROFILE */

#{ $dmProfilePanel }[style] {
    border-radius: 0;

    &:not(#{ $userProfileOuterThemed }) {
        background-color: var(--sidebar-color);
    }

    #{ $userProfileInner } {
        border-radius: 0;

        #{ $userProfileBanner } {
            border-radius: 0;
        }

        * {
        	text-shadow: none;
        }

        svg {
        	filter: none;
        }
    }
}

#{ $dmProfilePanelConnections } {
    #{ $button } {
        --button-height: 36px !important;
        --button-padding: 0 12px;
        --button-background: transparent !important;
        --button-text-color: var(--text-normal);
        --button-action-color: transparent;
    }
}
