@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *	FORMAT TOOLBAR
 *
 */

#{ $formatToolbar } {
	@include add-translucence(null, true, true, true);
    overflow: hidden;

	#{ $button } {
		--button-radius: 0;
		--button-background: transparent;

		&:after {
			--button-action-color: #fff;
		}
	}
}
