@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *	FORMAT TOOLBAR
 *
 */

#{ $formatToolbar } {
    @include liquidGlass;
    padding: var(--space-4);

    &:before {
        display: none;
    }

	#{ $formatToolbarButton } {
        border-radius: calc(var(--popout-radius) - var(--space-4));
    }
}
