/*
 *
 *  MEMBERS LIST
 *
 */

%membersContainer {
    background-color: transparent;
}

%members {
    &,
    & > div {
        background-color: transparent;
    }
}

%listItemLayout {
    border-radius: var(--list-item-radius);
}

%botTag {
    border-radius: 5px !important;

    &%botTagRegular {
        background-color: hsla(var(--accent-hsl),var(--accent-opacity));
        color: var(--accent-text-color);
    }

    &%botTagInvert {
        background-color: var(--accent-text-color);
        color:  hsl(var(--accent-hsl));
    }
}
