@use '../classes' as *;

/*
 *
 *  MEMBERS LIST
 *
 */

#{ $membersContainer } {
    background-color: transparent;
}

#{ $members } {
    &,
    & > div {
        background-color: transparent;
    }
}

#{ $member } {
    background-color: transparent;
}

#{ $listItemLayout } {
    border-radius: var(--list-item-radius);
}

#{ $botTag } {
    border-radius: 5px !important;

    &#{ $botTagRegular } {
        background-color: hsla(var(--accent-hsl),var(--accent-opacity));
        color: var(--accent-text-color);
    }

    #{ $botText } {
        text-shadow: none;
    }

    svg {
        filter: none !important;
    }

    path {
        fill: var(--accent-text-color);
    }
}

/* MEMBERS LIST -> ACTIVITIES */

#{ $memberActivityContainer } {
    background-color: var(--background-modifier-hover);

    &:hover {
        background-color: var(--background-modifier-active);
    }
}
