/*
 *
 *  MEMBERS LIST
 *
 */

%membersContainer {
    background-color: transparent;
}

%members {
    &,
    & > div {
        background-color: transparent;
    }
}

%listItemLayout {
    border-radius: var(--list-item-radius);
}
