@use '../classes' as *;

/*
 *
 *  SEARCH RESULTS
 *
 */

#{ $searchResultsWrap } {
    background-color: rgba( var(--main-rgb), calc( (var(--sidebar-opacity) - var(--main-content-opacity)) / (1 - var(--main-content-opacity)) ));
}

/* SEARCH RESULTS -> HEADER */

#{ $searchHeader } {
	background-color: transparent;
	box-shadow: var(--popout-header-shadow);
}

#{ $searchChannelName } {
	background-color: transparent;
}

/* SEARCH RESULTS -> MESSAGES */

#{ $searchResult } {
	&:before,
	&:after {
		display: none;
	}

	#{ $messagesWrapper } {
		margin-left: 50px;
		margin-right: 0;
	}
}

#{ $searchResultsButtonsContainer } {
    top: 16px;
    right: 8px;

    #{ $searchResultJumpButton } {
        background-color: var(--card-color);
        border-radius: var(--button-radius);
    }
}

/* SEARCH RESULTS -> PAGINATION */

#{ $pageButtonActive } {
	background-color: hsla(var(--accent-hsl),var(--accent-opacity)) !important;
	color: var(--accent-text-color) !important;
}
