@use '../classes' as *;

/*
 *
 *  SEARCH RESULTS
 *
 */

#{ $searchResultsWrap } {
    margin: var(--space-8);
    margin-inline-start: 0;
    background-color: hsl(from var(--sidebar-color) h s l / 0.25);
    border-radius: calc(var(--app-radius) / 1.5);
    border-inline-start: none;
    box-shadow: var(--popout-shadow-border);
}

/* SEARCH RESULTS -> HEADER */

#{ $searchHeader } {
	background-color: transparent;
    border-bottom: none;
	box-shadow: var(--popout-header-shadow);
}

/* SEARCH RESULTS -> MESSAGES */

#{ $searchResult } {
    background-color: transparent;
    border: none;

	&:before,
	&:after {
		display: none;
	}

	#{ $messageWrapper } {
		margin-inline-start: 50px;
		margin-inline-end: 0;
	}
}

#{ $searchResultsButtonsContainer } {
    inset-block-start: 16px;
    inset-inline-end: 8px;

    #{ $searchResultJumpButton } {
        background-color: var(--card-color);
        border-radius: var(--button-radius);
        backdrop-filter: blur(5px);
    }
}

/* SEARCH RESULTS -> PAGINATION */

#{ $pageButtonActive } {
	background-color: hsla(var(--accent-hsl),var(--accent-opacity)) !important;
	color: var(--accent-text-color) !important;
}
