@use "../classes" as *;

/*
 *
 *  SEARCH RESULTS
 *
 */

#{ $searchResultsWrap } {
  background-color: var(--sidebar-color);
}

/* SEARCH RESULTS -> HEADER */

#{ $searchHeader } {
  background-color: transparent;
  border-bottom: none;
  box-shadow: var(--popout-header-shadow);
}

/* SEARCH RESULTS -> MESSAGES */

#{ $searchResult } {
  background-color: transparent;
  border: none;

  &:before,
  &:after {
    display: none;
  }

  #{ $messagesWrapper } {
    margin-inline-start: 50px;
    margin-inline-end: 0;
  }
}

#{ $searchResultsButtonsContainer } {
  inset-block-start: 16px;
  inset-inline-end: 8px;

  #{ $searchResultJumpButton } {
    background-color: var(--card-color);
    border-radius: var(--button-radius);
  }
}

/* SEARCH RESULTS -> PAGINATION */

#{ $pageButtonActive } {
  background-color: hsla(var(--accent-hsl), var(--accent-opacity)) !important;
  color: var(--accent-text-color) !important;
}
