@use '../classes' as *;

/*
 *
 *	MAIN TEXTAREA
 *
 */

#{ $chatForm } {
    margin-top: 0;

    &:before {
        display: none;
    }
}

#{ $channelBottomBarArea } {
    margin: 12px 0;
    gap: var(--space-16);
}

#{ $channelTextArea },
#{ $channelInfo } {
    --textarea-alpha: 0.1;

    margin: 0;
    background: rgba(var(--textarea-color),var(--textarea-alpha));
	border-radius: var(--textarea-radius);

    #{ $channelTextAreaScrollable } {
        background-color: transparent;
    }

    #{ $textAreaPlaceholder } {
        color: var(--textarea-placeholder-color);
    }

    #{ $textAreaEditor } {
        color: var(--textarea-text-color);
    }
}

#{ $channelTextAreaDisabled } {
    #{ $channelTextAreaScrollable } {
        opacity: 1;
    }
}

#{ $channelInfo } {
    padding: 12px 0;
}

#{ $channelTextAreaUpload } {
    background-color: var(--message-color);
	border-radius: var(--message-radius);
}

#{ $channelTextAreaTyping } {
    position: absolute;
    width: calc(100% - 32px);
	height: 24px;
	top: -12px;
	left: unset;
	right: unset;
    margin-top: 0;
	margin-right: 0 !important;

    &#{ $channelTextAreaInTextChannel } {
        top: -12px;
    }
}

#{ $channelTextAreaStackedBars } {
    background-color: transparent;
    border-bottom: 1px solid var(--background-modifier-accent);

    #{ $replyBar } {
        background: transparent;
    }
}

#{ $replyMentionButton } {
	--text-link: hsl(var(--accent-hsl));
}

#{ $replySuggestion } {
    background-color: transparent;
}

#{ $colorLink } {
    color: hsl(var(--accent-hsl));
}

#{ $fakeLink } {
    color: hsl(var(--accent-hsl));
}

#{ $channelTextAreaInlineCode },
#{ $channelTextAreaInlineCodeBefore },
#{ $channelTextAreaInlineCodeAfter } {
    background-color: var(--textarea-block-color);
}

#{ $channelTextAreaInlineCode } {
    color: var(--textarea-block-text-color);
}

#{ $channelTextAreaAttachWrapper } {
    padding: 0;
}

#{ $channelTextAreaAttachButton } {
    &:not(#{ $channelTextAreaButtonInnerNoHover }) {
        &:hover {
            background-color: transparent;
        }
    }
}

#{ $channelTextAreaButtonInner }:not(#{ $channelTextAreaButtonInnerNoHover }),
#{ $channelTextAreaAttachButtonInner },
#{ $channelTextAreaEmojiButton } {
    border-radius: 16px;
}

/* MAIN TEXTAREA -> APPS AND COMMANDS BUTTON */

#{ $channelAppLauncher } {
    margin: 0;

    #{ $channelAppLauncherButton } {
        background: rgba(var(--textarea-color),var(--textarea-alpha));
    	border-radius: var(--textarea-radius) !important;
    }
}

#{ $channelAppLauncherButtonContainer } {
    background-color: transparent;
}

/* MAIN TEXTAREA -> SPAM FILTER */

#{ $timeoutBar } {
    --textarea-alpha: 0.1;

    background-color: rgba(var(--textarea-color),var(--textarea-alpha));
	border-radius: var(--textarea-radius);
}
