@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  THREAD
 *
 */

#{ $chatTarget } {
    background-color: transparent;
    @include add-translucence-bg(before, true);
}

#{ $chatTargetFloating } {
    border-left-color: rgba(255,255,255,0.1);
}

#{ $threadContainer } {
    border-radius: var(--app-radius);
}

#{ $threadResizeHandle } {
    background-color: transparent;
}

#{ $newThreadContainer } {
    background-color: transparent;
}

#{ $threadChat } {
    &:before {
        display: none;
    }
}

#{ $threadsPopoutSubmitContainer } {
    margin: 12px var(--space-xs);

    #{ $channelTextArea } {
        width: 100%;
    }

    #{ $threadsSansAttachButtonCreateThread }  {
        padding-inline-start: 24px;
    }
}
