@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  THREAD
 *
 */


#{ $chatTargetFloating } {
    background: transparent;
}

#{ $chatTarget } {
    @include liquidGlass($background: var(--main-content-color));
}

#{ $threadContainer } {
    background-color: var(--main-content-color);
    border-radius: var(--app-radius);
    border: none;
}

#{ $threadResizeHandle } {
    background-color: transparent;
}

#{ $newThreadContainer } {
    background-color: transparent;
}

#{ $threadChat } {
    &:before {
        display: none;
    }
}

#{ $threadsPopoutSubmitContainer } {
    margin-block: 12px;
    margin-inline: var(--space-xs);

    #{ $channelTextArea } {
        width: 100%;
    }

    #{ $threadsSansAttachButtonCreateThread }  {
        padding-inline-start: 24px;
    }
}
