@use "../classes" as *;
@use "../mixins" as *;

/*
 *
 *  THREAD
 *
 */

#{ $chatTarget } {
  background-color: transparent;
  @include add-translucence-bg(before, true);
}

#{ $chatTargetFloating } {
  border-left-color: rgba(255, 255, 255, 0.1);
}

#{ $threadContainer } {
  background-color: var(--main-content-color);
  border-radius: var(--app-radius);
  border: none;
}

#{ $threadResizeHandle } {
  background-color: transparent;
}

#{ $newThreadContainer } {
  background-color: transparent;
}

#{ $threadChat } {
  &:before {
    display: none;
  }
}

#{ $threadsPopoutSubmitContainer } {
  margin-block: 12px;
  margin-inline: var(--space-xs);

  #{ $channelTextArea } {
    width: 100%;
  }

  #{ $threadsSansAttachButtonCreateThread } {
    padding-inline-start: 24px;
  }
}
