@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  MESSAGES ACTIONS
 *
 */

#{ $messageButtonWrapper } {
	@include add-translucence(null, true, true, true);
}

#{ $messageAlt } {
	padding: 0;
	background-color: transparent !important;
	box-shadow: none !important;

	#{ $messagesWrapper } {
		margin-left: 48px;
		margin-right: 0;
	}
}
