@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  MESSAGES ACTIONS
 *
 */

#{ $messagePopover } {
	&#{ $messagePopover } {
		@include liquidGlassFallback;

		border: none !important;
		box-shadow: var(--liquid-glass-shadow), var(--popout-shadow) !important;
		overflow: hidden;

		&:before {
			box-shadow: none;
		}

		&:hover {
			box-shadow: var(--liquid-glass-shadow), var(--popout-shadow) !important;
		}
	}
}

#{ $messageAlt } {
	padding: 0;
	background-color: transparent !important;
	box-shadow: none !important;

	#{ $messageWrapper } {
		margin-inline-start: 48px;
		margin-inline-end: 0;
	}
}
