@use '../classes' as *;

/*
 *
 *  ATTACHMENTS
 *
 */

#{ $attachment },
#{ $embedFull },
#{ $embedCard },
#{ $threadEmbed } {
    background-color: var(--card-color);
	border-radius: var(--card-radius);
}

#{ $embedCardWithFooter } {
    border-radius: var(--card-radius) var(--card-radius) 0 0;
    box-shadow: var(--card-header-shadow);

    #{ $messagesWrapper } {
        margin-left: 48px;
        margin-right: 0;
    }
}

#{ $embedCardFooterContainer } {
    background-color: var(--card-color);
    border-radius: 0 0 var(--card-radius) var(--card-radius);

    #{ $embedCardFooterIcon } path {
        fill: currentColor;
    }
}

#{ $threadCTA } {
    color: hsl(var(--accent-hsl));
}

#{ $inviteWrapper },
#{ $activityInvite },
#{ $playerAudio } {
    background-color: var(--card-color) !important;
	border-radius: var(--card-radius);
    border: none;
}

#{ $inviteSplash } {
    border-top-right-radius: var(--card-radius);
	border-top-left-radius: var(--card-radius);
}

#{ $voiceMessageContainer } {
	background-color: var(--card-color);
}

#{ $voiceMessageContainerRipple } {
    display: none;
}

#{ $voiceMessagePlayButtonContainer } {
    background: hsl(var(--accent-hsl)) !important;

    &:active {
        transform: none;
    }

    #{ $voiceMessagePlayIcon } {
        color: var(--accent-text-color) !important;
    }
}

#{ $attachmentQuestCardRoot } {
    background-color: var(--card-color);
}

/* ATTACHMENTS -> TEXT CONTAINER */

#{ $textContainer },
#{ $textContainerFooter } {
    background-color: var(--card-color);
    border: none;
    border-radius: 0 0 var(--card-radius) var(--card-radius);
}

#{ $attachmentNewMosaicStyle } {
    #{ $textContainer },
    #{ $textContainerFooter } {
        background-color: var(--card-color);
        border: none;
    }

    #{ $textContainer } {
        border-radius: var(--card-radius) var(--card-radius) 0 0;
        box-shadow: var(--card-header-shadow);

        #{ $codeHLJS } {
            background-color: transparent;
        }
    }

    #{ $textContainerFooter } {
        border-radius: 0 0 var(--card-radius) var(--card-radius);
    }
}

#{ $textContainerModal } {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius) var(--popout-radius) 0 0;
    border: none;
    box-shadow: var(--card-header-shadow);

    #{ $codeHLJS } {
        background-color: transparent;
    }
}
