/*
 *
 *  ATTACHMENTS
 *
 */

%attachment,
%embedFull {
    background-color: var(--message-color);
	border-radius: var(--message-radius);
    border: none;
}

/* ATTACHMENTS -> TEXT CONTAINER */

%textContainer,
%textContainerFooter {
    background-color: var(--message-color);
    border: none;
}

%textContainer {
    border-radius: var(--message-radius) var(--message-radius) 0 0;
    box-shadow: var(--card-header-shadow);
}

%textContainerFooter {
    border-radius: 0 0 var(--message-radius) var(--message-radius);
}

%textContainerModal {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius) var(--popout-radius) 0 0;
    border: none;
    box-shadow: var(--card-header-shadow);
}
