/*
 *
 *  ATTACHMENTS
 *
 */

%attachment,
%embedFull,
%threadEmbed {
    background-color: var(--card-color);
	border-radius: var(--card-radius);
}

%threadCTA {
    color: hsl(var(--accent-hsl));
}

%inviteWrapper,
%activityInvite,
%playerAudio {
    background-color: var(--card-color) !important;
	border-radius: var(--card-radius);
    border: none;
}

/* ATTACHMENTS -> TEXT CONTAINER */

%textContainer,
%textContainerFooter {
    background-color: var(--card-color);
    border: none;
}

%textContainer {
    border-radius: var(--card-radius) var(--card-radius) 0 0;
    box-shadow: var(--card-header-shadow);

    %codeHLJS {
        background-color: transparent;
    }
}

%textContainerFooter {
    border-radius: 0 0 var(--card-radius) var(--card-radius);
}

%textContainerModal {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius) var(--popout-radius) 0 0;
    border: none;
    box-shadow: var(--card-header-shadow);
}
