/*
 *
 *	MARKUP
 *
 */

%markup {
	a {
		color: hsl(var(--accent-hsl));
	}

    pre {
		border-radius: var(--message-radius);
	}

	code {
		background-color: var(--message-color);
		border-radius: var(--message-radius);
		border: none;
	}

    %mentionWrapper {
		background-color: hsla(var(--accent-hsl),0.15);
		color: hsl(var(--accent-hsl));

		&:hover {
			background-color: hsla(var(--accent-hsl),1);
            color: var(--accent-text-color);
		}
	}
}

%spoilerText {
    background-color: var(--message-color) !important;
}
