@use '../classes' as *;

/*
 *
 *	MARKUP
 *
 */

#{ $markup } {
    pre {
		border-radius: var(--card-radius);
	}

	code {
		background-color: var(--textarea-block-color);
		border-radius: var(--card-radius);
		border: none;
	}

    #{ $mentionWrapper } {
		background-color: hsla(var(--mention-hsl),0.25);
		color: hsl(var(--mention-hsl));

		&:hover {
			background-color: hsla(var(--mention-hsl),0.475);
            color: hsl(var(--mention-hsl));
		}
	}
}

#{ $spoilerMarkdownContent } {
	background-color: var(--textarea-block-color);
}
