@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  MESSAGES
 *
 */

#{ $messageBackgroundFlash } {
	&:not([style$="0);"]) {
		background-color: hsla(var(--accent-hsl),0.3) !important;
		transition: 200ms ease-out background-color;
	}

	&[style="background-color: rgba(148, 156, 247, 0);"] {
		background-color: hsla(var(--accent-hsl),0.0) !important;
		transition: 400ms background-color;
	}
}

#{ $mouseModeFullMotion } {
	#{ $messagesWrapper } {
		&:hover {
			background-color: var(--message-color-hover) !important;
		}
	}
}

#{ $messagesWrapper } {
	margin-left: 68px;
	margin-right: 16px;
	background-color: var(--message-color) !important;
	border-radius: var(--message-radius);
	transition: 300ms ease background-color;

	&:not(#{ $messageGroupStart }),
    &#{ $messageCompact } {
    	margin-top: 2px;
    }

	&#{ $messageCozy },
	&#{ $messageCompact } {
		padding: var(--message-padding-top) var(--message-padding-side) !important;
		padding-right: 8px !important;
		border: 2px solid transparent;
	}

	&#{ $messageCozy } {
		#{ $messageTimestamp } {
			&#{ $messageTimestampAlt } {
				left: -62px;
			}
		}
	}

	&#{ $messageCompact } {
		padding: 4px;
		padding-left: 6px;

		#{ $messageTimestamp } {
			margin-right: 0.75rem;
		}
	}

	&#{ $hasReply } {
        #{ $avatarLarge } {
            top: 28px;
        }

        #{ $avatarDecoration } {
            top: 26px;
        }
    }

	#{ $messageTimestamp } {
		color: var(--text-normal);

		&#{ $messageTimestampAlt }  {
			color: var(--text-normal);
		}
	}

	#{ $channelTextArea } {
        margin: 2px 0;
    }

	&#{ $mentioned } {
        border-color: hsla(var(--mention-hsl),var(--mention-opacity));
    	box-shadow: 0px 0px 13px 4px hsla(var(--mention-hsl),var(--mention-opacity));

        &:before {
            display: none;
        }

		#{ $messageReplied } {
			&:before {
				border-color: hsl(var(--mention-hsl));
			}
		}

		#{ $messageRepliedSpine } {
	        --message-color: hsl(var(--mention-hsl));
	        --message-color-hover: hsl(var(--mention-hsl));
	    }
    }

    &#{ $replyingToIndicator } {
        border-color: hsla(var(--reply-hsl),var(--reply-opacity));
    	box-shadow: 0px 0px 13px 4px hsla(var(--reply-hsl),var(--reply-opacity));

        &:before {
            display: none;
        }
    }
}

#{ $messagesScrollerSpacer } {
	height: var(--space-16);
}

#{ $messageHasThread } {
	&:after {
		display: none;
	}
}

#{ $avatarLarge } {
	width: 40px;
	height: 40px;
	top: 0;
	left: -50px;
	margin-top: 0;
}

#{ $avatarDecoration } {
	top: -2px;
	left: -54px;
}

.a11y-font-scaled-down {
	#{ $avatarLarge } {
		&:not(#{ $messageCompact }) {
			top: 0;
			left: -50px;
		}
	}
}

#{ $messageListItem },
#{ $divider } {
	+ #{ $messagesWrapper } {
		margin-top: 2px;
	}
}

#{ $divider }#{ $hasContent } {
	border-top: none;

	&:before,
	&:after {
		position: absolute;
		content: " ";
		width: calc(50% - 60px);
		height: 1px;
		top: 0;
		bottom: 0;
		margin: auto 0;
		background-color: var(--background-modifier-accent);
	}

	&:before {
		left: 0;
	}

	&:after {
		right: 0;
	}
}

#{ $dividerDate } {
	width: 120px;
	padding: 2px 0;
	background-color: var(--message-color);
	text-align: center;
}

#{ $dividerUnread } {
	border-color: hsla(var(--accent-hsl),var(--accent-opacity));

	#{ $unreadPill } {
		background-color: hsla(var(--accent-hsl),var(--accent-opacity));
		color: var(--accent-text-color);
		text-shadow: none;
	}

	#{ $unreadPillCap } {
        filter: none;
    }

	#{ $unreadPillCapStroke } {
		color: hsla(var(--accent-hsl),var(--accent-opacity));
		fill: hsla(var(--accent-hsl),var(--accent-opacity));
	}
}

#{ $messageReplied } {
	&:before {
		border-color: var(--message-color);
		transform: translateX(-6px);
    }
}

#{ $messageRepliedSpine } {
    margin-inline: calc(var(--spine-width)*-1/2) calc(var(--reply-spacing) * 2.3);
    border-color: var(--message-color);
	transition: 300ms ease border-color;

	&#{ $messageRepliedSpineHovered } {
        border-color: var(--message-color-hover);
    }
}

#{ $messageEmojiPopout } {
    @include add-translucence(before, true);
}
