@use '../classes' as *;

/*
 *
 *  MESSAGE REACTIONS
 *
 */

#{ $reaction } {
	background-color: var(--message-color);
	border-radius: var(--message-radius);
	border: none;

	&:hover {
		background-color: var(--message-color);
	}

	&#{ $reactionMe } {
		background-color: hsla(var(--accent-hsl),0.3);
		border-color: transparent;

		&:hover {
			background-color: hsla(var(--accent-hsl),0.4);
		}

		#{ $reactionCount } {
			color: hsla(var(--accent-hsl),var(--accent-opacity));
		}
	}

	#{ $reactionGlow } {
		border-radius: var(--message-radius);
	}
}

/* MESSAGE REACTIONS -> REVERT BUTTONS TO REACTION STYLE */

#{ $embedContainer } {
	#{ $embedChildren } {
		#{ $buttonFilled } {
			--button-height: 28px;
			--button-padding: 0 8px;
		}
	}
}
