/*
 *
 *  BETA - CHANNELS LIST ACCOUNT PANEL
 *
 */
.panels_a4d4d9 {
  z-index: 103;
}

.avatarWrapper_b2ca13 {
  min-width: 32px;
  margin: 0;
  padding-left: 0;
}

.colorStreamerMode_be03aa + .content_a4d4d9 .container_b2ca13 {
  top: calc(var(--notice-bar-height) + var(--window-title-bar-height) + var(--app-card-top-margin) + var(--app-card-margin));
}
.colorStreamerMode_be03aa + .content_a4d4d9 .container_b2ca13 [role=switch].button_adca65:before {
  --icon-yposition: calc(var(--notice-bar-height) + var(--window-title-bar-height) + var(--app-card-top-margin) + var(--app-card-margin) + 11px);
}

#bd-notices:not(:empty) + .content_a4d4d9 .container_b2ca13 {
  top: calc(var(--window-title-bar-height) + var(--app-card-top-margin) + var(--app-card-margin) + var(--notice-bar-height));
}

.notice__5fd4c:not(:empty) + .layers_a01fb1 .container_b2ca13, .notice_be03aa:not(:empty) + .layers_a01fb1 .container_b2ca13 {
  top: calc(var(--window-title-bar-height) + var(--app-card-top-margin) * 2 + var(--notice-bar-height));
}
.notice__5fd4c:not(:empty) + .layers_a01fb1 #bd-notices:not(:empty) + .content_a4d4d9 .container_b2ca13, .notice_be03aa:not(:empty) + .layers_a01fb1 #bd-notices:not(:empty) + .content_a4d4d9 .container_b2ca13 {
  top: calc(var(--window-title-bar-height) + var(--app-card-top-margin) * 2 + var(--app-card-margin) + var(--notice-bar-height) * 2);
}

.container_b2ca13 {
  position: fixed;
  width: 32px;
  height: var(--header-bar-height);
  top: calc(var(--window-title-bar-height) + var(--app-card-top-margin));
  right: var(--app-card-margin);
  margin-bottom: 0;
  padding-right: 10px;
  justify-content: flex-end;
  transition: var(--default-time) var(--default-animation) width;
}
.container_b2ca13 .wrapper_c51b4e {
  z-index: 103;
}
.container_b2ca13 .nameTag_b2ca13 {
  position: absolute;
  width: 38px;
  top: calc(var(--header-bar-height) / 2 - 19px);
  right: 7px;
  margin-right: 0;
  padding: 4px 0;
  background-color: hsl(0, 0%, 6%);
  border-radius: 19px;
  transition: var(--default-time) var(--default-animation) width, var(--default-time) var(--default-animation) padding, var(--default-time) var(--default-animation) box-shadow;
}
.container_b2ca13 .nameTag_b2ca13 .title_b97bdb,
.container_b2ca13 .nameTag_b2ca13 .subtext_be40e6 {
  opacity: 0;
  transition: var(--default-time) var(--default-animation) opacity;
}
.container_b2ca13 .nameTag_b2ca13 .panelTitleContainer_b2ca13 {
  max-width: 100px;
}
.container_b2ca13 .nameTag_b2ca13 .subtext_be40e6 {
  line-height: 12px;
}
.container_b2ca13 .justifyStart_ec1a20 {
  position: absolute;
  flex-direction: column;
  width: auto;
  top: calc(var(--header-bar-height) + 8px);
  right: 8px;
  padding: 4px;
  pointer-events: none;
  transition: var(--default-time) var(--default-animation) opacity;
}
.container_b2ca13 .justifyStart_ec1a20:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 8px;
  top: -8px;
  left: 0;
}
.container_b2ca13 .button_adca65 {
  display: grid;
  grid-template-columns: 20px max-content;
  grid-template-rows: auto;
  gap: 8px;
  width: 100%;
  height: auto;
  padding: 9px 12px;
  border-radius: calc(var(--popout-radius) - 2px);
  justify-content: left;
  color: var(--menu-text-color);
  pointer-events: none;
}
.container_b2ca13 .button_adca65:after,
.container_b2ca13 .button_adca65 .contents_dd4f85 {
  opacity: 0;
}
.container_b2ca13 .button_adca65.enabled_adca65:hover {
  background-color: var(--background-tinted-hover);
}
.container_b2ca13 [role=switch].button_adca65:before {
  --icon-xposition: calc(var(--app-card-margin) * 2 + 1px);
  --icon-yposition: calc(var(--window-title-bar-height) + var(--app-card-top-margin) + 11px);
  position: fixed;
  content: " ";
  width: 34px;
  height: 34px;
  top: var(--icon-yposition);
  right: var(--icon-xposition);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 50%;
  pointer-events: none;
  z-index: 104;
  transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) background-image;
}
.container_b2ca13 [role=switch][aria-checked=true].button_adca65 + [role=switch][aria-checked=false].button_adca65:before {
  background-color: hsla(0, 0%, 0%, 0.6);
  backdrop-filter: blur(2px);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCI+PHBhdGggZD0iTTYuNyAxMUg1QzUgMTIuMTkgNS4zNCAxMy4zIDUuOSAxNC4yOEw3LjEzIDEzLjA1QzYuODYgMTIuNDMgNi43IDExLjc0IDYuNyAxMVoiIGZpbGw9IiNlZWUiPjwvcGF0aD48cGF0aCBkPSJNOS4wMSAxMS4wODVDOS4wMTUgMTEuMTEyNSA5LjAyIDExLjE0IDkuMDIgMTEuMTdMMTUgNS4xOFY1QzE1IDMuMzQgMTMuNjYgMiAxMiAyQzEwLjM0IDIgOSAzLjM0IDkgNVYxMUM5IDExLjAzIDkuMDA1IDExLjA1NzUgOS4wMSAxMS4wODVaIiBmaWxsPSIjZWVlIj48L3BhdGg+PHBhdGggZD0iTTExLjcyMzcgMTYuMDkyN0wxMC45NjMyIDE2Ljg1MzFMMTAuMjUzMyAxNy41Njg4QzEwLjQ5NzggMTcuNjMzIDEwLjc0NyAxNy42ODM5IDExIDE3LjcyVjIySDEzVjE3LjcyQzE2LjI4IDE3LjIzIDE5IDE0LjQxIDE5IDExSDE3LjNDMTcuMyAxNCAxNC43NiAxNi4xIDEyIDE2LjFDMTEuOTA3NiAxNi4xIDExLjgxNTUgMTYuMDk3NSAxMS43MjM3IDE2LjA5MjdaIiBmaWxsPSIjZWVlIj48L3BhdGg+PHBhdGggZD0iTTIxIDQuMjdMMTkuNzMgM0wzIDE5LjczTDQuMjcgMjFMOC40NiAxNi44Mkw5LjY5IDE1LjU4TDExLjM1IDEzLjkyTDE0Ljk5IDEwLjI4TDIxIDQuMjdaIiBmaWxsPSIjZWQ0MjQ1Ij48L3BhdGg+PC9zdmc+");
}
.container_b2ca13 [role=switch][aria-checked=true].button_adca65 + [role=switch][aria-checked=true].button_adca65:before {
  background-color: hsla(0, 0%, 0%, 0.6);
  backdrop-filter: blur(2px);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCI+PHBhdGggZD0iTTYuMTYyMDQgMTUuMDA2NUM2LjEwODU5IDE1LjAwMjIgNi4wNTQ1NSAxNSA2IDE1SDRWMTJDNCA3LjU4OCA3LjU4OSA0IDEyIDRDMTMuNDgwOSA0IDE0Ljg2OTEgNC40MDQzOSAxNi4wNTk5IDUuMTA4NTlMMTcuNTEwMiAzLjY1ODM1QzE1LjkyOTIgMi42MTA2NCAxNC4wMzQ2IDIgMTIgMkM2LjQ4NiAyIDIgNi40ODUgMiAxMlYxOS4xNjg1TDYuMTYyMDQgMTUuMDA2NVoiIGZpbGw9IiNlZWUiPjwvcGF0aD48cGF0aCBkPSJNMTkuNzI1IDkuOTE2ODZDMTkuOTA0MyAxMC41ODEzIDIwIDExLjI3OTYgMjAgMTJWMTVIMThDMTYuODk2IDE1IDE2IDE1Ljg5NiAxNiAxN1YyMEMxNiAyMS4xMDQgMTYuODk2IDIyIDE4IDIySDIwQzIxLjEwNSAyMiAyMiAyMS4xMDQgMjIgMjBWMTJDMjIgMTAuNzA3NSAyMS43NTM2IDkuNDcxNDkgMjEuMzA1MyA4LjMzNjU4TDE5LjcyNSA5LjkxNjg2WiIgZmlsbD0iI2VlZSI+PC9wYXRoPjxwYXRoIGQ9Ik0zLjIwMTAxIDIzLjYyNDNMMS43ODY4IDIyLjIxMDFMMjEuNTg1OCAyLjQxMTEzTDIzIDMuODI1MzVMMy4yMDEwMSAyMy42MjQzWiIgZmlsbD0iI2VkNDI0NSI+PC9wYXRoPj48L3N2Zz4=");
}
.container_b2ca13 .button_adca65:after {
  position: relative;
  content: attr(aria-label);
  width: auto;
  line-height: 20px;
  text-align: left;
}
.container_b2ca13:hover {
  width: 132px;
}
.container_b2ca13:hover .nameTag_b2ca13 {
  width: calc(100% - 48px);
  padding: 4px 35px 4px 12px;
  box-shadow: var(--elevation-high);
}
.container_b2ca13:hover .nameTag_b2ca13 .title_b97bdb,
.container_b2ca13:hover .nameTag_b2ca13 .subtext_be40e6 {
  opacity: 1;
}
.container_b2ca13:hover .justifyStart_ec1a20 {
  background-color: var(--popout-color);
  border-radius: var(--popout-radius);
  box-shadow: var(--default-shadow);
  pointer-events: all;
}
.container_b2ca13:hover .button_adca65 {
  pointer-events: all;
}
.container_b2ca13:hover .button_adca65:after,
.container_b2ca13:hover .button_adca65 .contents_dd4f85 {
  opacity: 1;
}

/*
 *
 *  BETA - HEADER BAR CUSTOM
 *
 */
.container_fc4f04 {
  --header-secondary: var(--text-normal);
  --interactive-normal: var(--text-normal);
  height: var(--header-bar-height);
  border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
  z-index: 102;
}
.container_fc4f04.themed_fc4f04 {
  background-color: transparent;
}
.container_fc4f04.themed_fc4f04 .children_fc4f04:after {
  display: none;
}
.container_fc4f04 .toolbar_fc4f04 {
  margin-left: 8px;
  padding-right: 52px;
  gap: 16px;
}
.container_fc4f04 .toolbar_fc4f04 .iconWrapper_fc4f04 {
  margin: 0;
}
.container_fc4f04 .anchor_af404b {
  display: none;
}

.threadSidebarOpen_a7d72e .container_fc4f04 .toolbar_fc4f04 {
  padding-right: 8px;
}

/* BETA - CHANNELS LIST ACCOUNT PANEL -> COLORED BAR */
[aria-label].container_ee69e0:after,
[aria-label].privateChannels_f0963d:after {
  --header-bar-xposition: calc(72px + 240px + (var(--app-card-margin) * 3));
  --header-bar-yposition: calc(var(--window-title-bar-height) + var(--app-card-top-margin));
  --header-bar-width: calc(100vw - (var(--header-bar-xposition) + var(--app-card-margin)));
  position: fixed;
  content: " ";
  width: var(--header-bar-width);
  height: var(--header-bar-height);
  top: var(--header-bar-yposition);
  left: var(--header-bar-xposition);
  background-color: var(--header-bar-color);
  border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
  z-index: 101;
  pointer-events: none;
}

.colorStreamerMode_be03aa + .content_a4d4d9 [aria-label].container_ee69e0:after,
.colorStreamerMode_be03aa + .content_a4d4d9 [aria-label].privateChannels_f0963d:after {
  --header-bar-yposition: calc(var(--window-title-bar-height) + var(--notice-bar-height) + var(--app-card-margin) + var(--app-card-top-margin));
}

.notice__5fd4c + .layers_a01fb1 #bd-notices:not(:empty) + .content_a4d4d9 [aria-label].container_ee69e0:after, .notice_be03aa + .layers_a01fb1 #bd-notices:not(:empty) + .content_a4d4d9 [aria-label].container_ee69e0:after,
.notice__5fd4c + .layers_a01fb1 #bd-notices:not(:empty) + .content_a4d4d9 [aria-label].privateChannels_f0963d:after,
.notice_be03aa + .layers_a01fb1 #bd-notices:not(:empty) + .content_a4d4d9 [aria-label].privateChannels_f0963d:after {
  --header-bar-yposition: calc(var(--window-title-bar-height) + (var(--notice-bar-height) * 2) + var(--app-card-margin) + (var(--app-card-top-margin) * 2));
}
.notice__5fd4c + .layers_a01fb1 [aria-label].container_ee69e0:after, .notice_be03aa + .layers_a01fb1 [aria-label].container_ee69e0:after,
.notice__5fd4c + .layers_a01fb1 [aria-label].privateChannels_f0963d:after,
.notice_be03aa + .layers_a01fb1 [aria-label].privateChannels_f0963d:after {
  --header-bar-yposition: calc(var(--window-title-bar-height) + var(--notice-bar-height) + var(--app-card-margin));
}

#bd-notices:not(:empty) + .content_a4d4d9 [aria-label].container_ee69e0:after,
#bd-notices:not(:empty) + .content_a4d4d9 [aria-label].privateChannels_f0963d:after {
  --header-bar-yposition: calc(var(--window-title-bar-height) + var(--notice-bar-height) + var(--app-card-margin) + var(--app-card-top-margin));
}

[aria-label*=CapnKitten].container_ee69e0 {
  --header-bar-color: hsl(212,70%,31%);
}

/*# sourceMappingURL=beta.css.map */
