/*
 *
 *  BETA - CHANNELS LIST ACCOUNT PANEL
 *
 */
.panels__5e434 {
  z-index: 103;
}

.avatarWrapper__37e49 {
  flex-direction: row-reverse;
  min-width: 32px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.avatarWrapper__37e49:hover {
  background-color: transparent;
}

.colorStreamerMode__6e2b9 + .content__5e434 .container__37e49 {
  top: calc(var(--notice-bar-height) + var(--window-title-bar-height) + var(--app-card-top-margin) + var(--app-card-margin));
}
.colorStreamerMode__6e2b9 + .content__5e434 .container__37e49 [role=switch].button__67645:before {
  --icon-yposition: calc(var(--notice-bar-height) + var(--window-title-bar-height) + var(--app-card-top-margin) + var(--app-card-margin) + 11px);
}

#bd-notices:not(:empty) + .content__5e434 .container__37e49 {
  top: calc(var(--window-title-bar-height) + var(--app-card-top-margin) + var(--app-card-margin) + var(--notice-bar-height));
}

.notice__5fd4c:not(:empty) + .layers__160d8 .container__37e49, .notice__6e2b9:not(:empty) + .layers__160d8 .container__37e49 {
  top: calc(var(--window-title-bar-height) + var(--app-card-top-margin) * 2 + var(--notice-bar-height));
}
.notice__5fd4c:not(:empty) + .layers__160d8 #bd-notices:not(:empty) + .content__5e434 .container__37e49, .notice__6e2b9:not(:empty) + .layers__160d8 #bd-notices:not(:empty) + .content__5e434 .container__37e49 {
  top: calc(var(--window-title-bar-height) + var(--app-card-top-margin) * 2 + var(--app-card-margin) + var(--notice-bar-height) * 2);
}

.container__37e49 {
  --account-panel-height: 44px;
  position: fixed;
  width: var(--account-panel-height);
  height: var(--account-panel-height);
  top: calc(var(--custom-app-top-bar-height) + var(--app-card-top-margin) + (var(--header-bar-height) - var(--account-panel-height)) / 2);
  right: calc(var(--app-card-margin) + var(--space-4));
  margin-bottom: 0;
  padding: 0 4px;
  background-color: var(--app-background) !important;
  border-radius: 22px;
  justify-content: flex-end;
  transition: var(--default-time) var(--default-animation) width;
}
.container__37e49 .wrapper__44b0c {
  width: 32px !important;
  height: 32px !important;
  z-index: 103;
}
.container__37e49 .wrapper__44b0c .mask__44b0c {
  width: 36px !important;
  height: 36px !important;
}
.container__37e49 .wrapper__44b0c .avatarDecoration__44b0c {
  width: 40px !important;
  height: 40px !important;
}
.container__37e49 .nameTag__37e49 {
  width: calc(100% - 32px);
  top: calc(var(--header-bar-height) / 2 - 19px);
  right: 7px;
  margin-right: 0;
  padding: 0;
  border-radius: 19px;
  transition: var(--default-time) var(--default-animation) width, var(--default-time) var(--default-animation) padding, var(--default-time) var(--default-animation) box-shadow;
}
.container__37e49 .nameTag__37e49 .title_b6c092,
.container__37e49 .nameTag__37e49 .subtext__339d0 {
  opacity: 0;
  transition: var(--default-time) var(--default-animation) opacity;
}
.container__37e49 .nameTag__37e49 .panelTitleContainer__37e49 {
  max-width: 100px;
}
.container__37e49 .nameTag__37e49 .subtext__339d0 {
  line-height: 12px;
}
.container__37e49 .buttons__37e49 {
  position: absolute;
  flex-direction: column;
  width: auto;
  top: calc(var(--account-panel-height) + var(--space-8));
  right: var(--space-4);
  padding: 4px;
  pointer-events: none;
  transition: var(--default-time) var(--default-animation) opacity;
}
.container__37e49 .buttons__37e49:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: var(--space-8);
  top: calc(var(--space-8) * -1);
  left: 0;
}
.container__37e49 .button__67645 {
  display: grid;
  grid-template-columns: 20px max-content;
  grid-template-rows: auto;
  gap: 8px;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 9px 12px;
  border-radius: calc(var(--popout-radius) - 2px);
  justify-content: left;
  color: var(--menu-text-color);
  pointer-events: none;
}
.container__37e49 .button__67645:after,
.container__37e49 .button__67645 .contents__201d5 {
  opacity: 0;
}
.container__37e49 .button__67645.enabled__67645:hover {
  background-color: var(--background-tinted-hover) !important;
}
.container__37e49 [role=switch].button__67645:before {
  --icon-xposition: calc(var(--app-card-margin) + 8px);
  --icon-yposition: calc((var(--app-card-top-margin) + var(--custom-app-top-bar-height)) + ((var(--header-bar-height) - 34px) / 2));
  position: fixed;
  content: " ";
  width: 34px;
  height: 34px;
  top: var(--icon-yposition);
  right: var(--icon-xposition);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 50%;
  pointer-events: none;
  z-index: 104;
  transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) background-image;
}
.container__37e49 .button__67645.buttonChevron__37e49 {
  display: flex;
  min-width: 32px;
  max-width: 32px;
  padding: 9px 0;
  justify-content: center;
}
.container__37e49 .button__67645.buttonChevron__37e49:after {
  display: none;
}
.container__37e49 .button__67645:after {
  position: relative;
  content: attr(aria-label);
  width: auto;
  line-height: 20px;
  text-align: left;
}
.container__37e49 .micButtonParent__37e49.hasColorGlow__37e49 [aria-checked=true].button__67645:before {
  background-color: hsla(0, 0%, 0%, 0.6);
  backdrop-filter: blur(2px);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCI+PHBhdGggZD0iTTYuNyAxMUg1QzUgMTIuMTkgNS4zNCAxMy4zIDUuOSAxNC4yOEw3LjEzIDEzLjA1QzYuODYgMTIuNDMgNi43IDExLjc0IDYuNyAxMVoiIGZpbGw9IiNlZDQyNDUiPjwvcGF0aD48cGF0aCBkPSJNOS4wMSAxMS4wODVDOS4wMTUgMTEuMTEyNSA5LjAyIDExLjE0IDkuMDIgMTEuMTdMMTUgNS4xOFY1QzE1IDMuMzQgMTMuNjYgMiAxMiAyQzEwLjM0IDIgOSAzLjM0IDkgNVYxMUM5IDExLjAzIDkuMDA1IDExLjA1NzUgOS4wMSAxMS4wODVaIiBmaWxsPSIjZWQ0MjQ1Ij48L3BhdGg+PHBhdGggZD0iTTExLjcyMzcgMTYuMDkyN0wxMC45NjMyIDE2Ljg1MzFMMTAuMjUzMyAxNy41Njg4QzEwLjQ5NzggMTcuNjMzIDEwLjc0NyAxNy42ODM5IDExIDE3LjcyVjIySDEzVjE3LjcyQzE2LjI4IDE3LjIzIDE5IDE0LjQxIDE5IDExSDE3LjNDMTcuMyAxNCAxNC43NiAxNi4xIDEyIDE2LjFDMTEuOTA3NiAxNi4xIDExLjgxNTUgMTYuMDk3NSAxMS43MjM3IDE2LjA5MjdaIiBmaWxsPSIjZWQ0MjQ1Ij48L3BhdGg+PHBhdGggZD0iTTIxIDQuMjdMMTkuNzMgM0wzIDE5LjczTDQuMjcgMjFMOC40NiAxNi44Mkw5LjY5IDE1LjU4TDExLjM1IDEzLjkyTDE0Ljk5IDEwLjI4TDIxIDQuMjdaIiBmaWxsPSIjZWQ0MjQ1Ij48L3BhdGg+PC9zdmc+");
}
.container__37e49 .micButtonParent__37e49.hasColorGlow__37e49 + .hasColorGlow__37e49 [aria-checked=true].button__67645:before {
  background-color: hsla(0, 0%, 0%, 0.2);
  backdrop-filter: blur(2px);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCI+PHBhdGggZD0iTTYuMTYyMDQgMTUuMDA2NUM2LjEwODU5IDE1LjAwMjIgNi4wNTQ1NSAxNSA2IDE1SDRWMTJDNCA3LjU4OCA3LjU4OSA0IDEyIDRDMTMuNDgwOSA0IDE0Ljg2OTEgNC40MDQzOSAxNi4wNTk5IDUuMTA4NTlMMTcuNTEwMiAzLjY1ODM1QzE1LjkyOTIgMi42MTA2NCAxNC4wMzQ2IDIgMTIgMkM2LjQ4NiAyIDIgNi40ODUgMiAxMlYxOS4xNjg1TDYuMTYyMDQgMTUuMDA2NVoiIGZpbGw9IiNlZDQyNDUiPjwvcGF0aD48cGF0aCBkPSJNMTkuNzI1IDkuOTE2ODZDMTkuOTA0MyAxMC41ODEzIDIwIDExLjI3OTYgMjAgMTJWMTVIMThDMTYuODk2IDE1IDE2IDE1Ljg5NiAxNiAxN1YyMEMxNiAyMS4xMDQgMTYuODk2IDIyIDE4IDIySDIwQzIxLjEwNSAyMiAyMiAyMS4xMDQgMjIgMjBWMTJDMjIgMTAuNzA3NSAyMS43NTM2IDkuNDcxNDkgMjEuMzA1MyA4LjMzNjU4TDE5LjcyNSA5LjkxNjg2WiIgZmlsbD0iI2VkNDI0NSI+PC9wYXRoPjxwYXRoIGQ9Ik0zLjIwMTAxIDIzLjYyNDNMMS43ODY4IDIyLjIxMDFMMjEuNTg1OCAyLjQxMTEzTDIzIDMuODI1MzVMMy4yMDEwMSAyMy42MjQzWiIgZmlsbD0iI2VkNDI0NSI+PC9wYXRoPj48L3N2Zz4=");
}
.container__37e49 .blur__67645:hover {
  backdrop-filter: none;
}
.container__37e49:hover {
  width: 176px;
  padding: 0 4px 0 12px;
}
.container__37e49:hover .nameTag__37e49 {
  width: calc(100% - 48px);
  box-shadow: var(--elevation-high);
}
.container__37e49:hover .nameTag__37e49 .title_b6c092,
.container__37e49:hover .nameTag__37e49 .subtext__339d0 {
  opacity: 1;
}
.container__37e49:hover .buttons__37e49 {
  background-color: var(--popout-color);
  border-radius: var(--popout-radius);
  box-shadow: var(--default-shadow);
  pointer-events: all;
}
.container__37e49:hover .button__67645 {
  pointer-events: all;
}
.container__37e49:hover .button__67645:after,
.container__37e49:hover .button__67645 .contents__201d5 {
  opacity: 1;
}

.buttons__37e49 {
  gap: 0;
}

.micButtonParent__37e49 {
  gap: var(--space-4);
}

.plateMuted__67645 {
  background-color: transparent !important;
}

.plateMuted__67645,
.plated__67645:hover {
  backdrop-filter: none;
}

.visual-refresh .wrapper_ef3116,
.visual-refresh .sidebarList__5e434 {
  height: calc(100% - var(--custom-app-panels-height, 0)) !important;
}

/*
 *
 *  BETA - HEADER BAR CUSTOM
 *
 */
.content__5e434 {
  border-radius: var(--app-card-radius);
  overflow: hidden;
}

.sidebarList__5e434 {
  overflow: visible;
  z-index: 101;
}

.container__9293f {
  --header-secondary: var(--text-normal);
  --interactive-normal: var(--text-normal);
  height: var(--header-bar-height);
  border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
  z-index: 102;
}
.container__9293f.themed__9293f {
  background-color: transparent;
}
.container__9293f.themed__9293f .children__9293f:after {
  display: none;
}
.container__9293f .toolbar__9293f {
  margin-left: 8px;
  padding-right: 46px;
  gap: 16px;
}
.container__9293f .toolbar__9293f .iconWrapper__9293f {
  margin: 0;
}
.container__9293f .anchor_edefb8 {
  display: none;
}

.threadSidebarOpen_f75fb0 .container__9293f .toolbar__9293f {
  padding-right: 8px;
}

/* BETA - CHANNELS LIST ACCOUNT PANEL -> COLORED BAR */
[aria-label].container__2637a:after,
[aria-label].privateChannels_e6b769:after {
  position: fixed;
  content: " ";
  width: 100vw;
  height: var(--header-bar-height);
  top: 0;
  left: calc(100% + var(--app-card-margin));
  background-color: var(--header-bar-color);
  border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
  z-index: 101;
  pointer-events: none;
}

.colorStreamerMode__6e2b9 + .content__5e434 [aria-label].container__2637a:after,
.colorStreamerMode__6e2b9 + .content__5e434 [aria-label].privateChannels_e6b769:after {
  --header-bar-yposition: calc(var(--window-title-bar-height) + var(--notice-bar-height) + var(--app-card-margin) + var(--app-card-top-margin));
}

.notice__5fd4c + .layers__160d8 #bd-notices:not(:empty) + .content__5e434 [aria-label].container__2637a:after, .notice__6e2b9 + .layers__160d8 #bd-notices:not(:empty) + .content__5e434 [aria-label].container__2637a:after,
.notice__5fd4c + .layers__160d8 #bd-notices:not(:empty) + .content__5e434 [aria-label].privateChannels_e6b769:after,
.notice__6e2b9 + .layers__160d8 #bd-notices:not(:empty) + .content__5e434 [aria-label].privateChannels_e6b769:after {
  --header-bar-yposition: calc(var(--window-title-bar-height) + (var(--notice-bar-height) * 2) + var(--app-card-margin) + (var(--app-card-top-margin) * 2));
}
.notice__5fd4c + .layers__160d8 [aria-label].container__2637a:after, .notice__6e2b9 + .layers__160d8 [aria-label].container__2637a:after,
.notice__5fd4c + .layers__160d8 [aria-label].privateChannels_e6b769:after,
.notice__6e2b9 + .layers__160d8 [aria-label].privateChannels_e6b769:after {
  --header-bar-yposition: calc(var(--window-title-bar-height) + var(--notice-bar-height) + var(--app-card-margin));
}

#bd-notices:not(:empty) + .content__5e434 [aria-label].container__2637a:after,
#bd-notices:not(:empty) + .content__5e434 [aria-label].privateChannels_e6b769:after {
  --header-bar-yposition: calc(var(--window-title-bar-height) + var(--notice-bar-height) + var(--app-card-margin) + var(--app-card-top-margin));
}

[aria-label*=CapnKitten].container__2637a {
  --header-bar-color: hsl(212,70%,31%);
}

/*# sourceMappingURL=beta.css.map */
