@use "../classes" as *;
@use "../mixins" as *;

/*
 *
 *  APP ELEMENTS
 *
 */

* {
  font-family: var(--app-font), sans-serif !important;
}

#{ $appMount } {
  --app-search-bar-margin: calc((var(--app-search-bar-height) + 22px) / 2);
  --window-title-bar-height: 22px;
  --notice-bar-height: 36px;

  background: var(--app-background);
}

body,
#{ $app },
#{ $shakeable },
#{ $bg },
#{ $loadingScreen } {
  background-color: transparent;
}

#{ $loadingScreenContent } {
  padding: 0 8px;
  @include modal-format;
}

::selection {
  background: hsla(var(--accent-hsl), 0.65);
  color: hsl(var(--accent-text-color));
}

#{ $anchor } {
  --text-link: hsl(var(--accent-hsl));
}

#{ $layer } {
  background-color: var(--app-background);
}
