.theme-dark {
  --saturation-modifier: 0.175;
  --lightness-modifier: 0.2;
  --main-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.875),
          calc(var(--accent-lightness) * var(--lightness-modifier))
      );
  --main-alt: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.7)
         );
  --status-picker-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.75)
         );
  --sidebar-panel-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.425)
         );
  --chat-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.25)
         );
  --message-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.7)
      );
  --message-color-hover: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.95)
         );
  --main-textarea-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2)
      );
  --main-textarea-color-alt: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * 0.8),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 2.6)
         );
  --main-textarea-border: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 2.6)
         );
  --typing-color: hsla(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.25),
          0.9
      );
  --popout-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.6)
      );
  --emoji-category-header: hsla(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.6),
          0.95
      );
}

.theme-light {
  --saturation-modifier: 0.175;
  --lightness-modifier: 2.175;
  --main-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.875),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.725)
      );
  --main-alt: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.675)
         );
  --status-picker-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.665)
         );
  --sidebar-panel-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.69)
         );
  --chat-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.75)
         );
  --message-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.7)
      );
  --message-color-hover: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.67)
         );
  --main-textarea-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2)
      );
  --main-textarea-color-alt: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * 0.8),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.825)
         );
  --main-textarea-border: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.65)
         );
  --typing-color: hsla(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.25),
          0.9
      );
  --popout-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.725)
      );
  --emoji-category-header: hsla(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.725),
          0.95
      );
}

/*# sourceMappingURL=Material-You.theme.css.map */
