.theme-dark {
  --saturation-modifier: 0.31;
  --lightness-modifier: 0.225;
  --text-lightness-modifier: 1.0;
  --main-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.875 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier))
      );
  --main-alt: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.7)
         );
  --accent-hsl--material-you:
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 3 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 5.25);
  --accent-text-color--material-you: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 3 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.725)
      );
  --alert-hsl:
          var(--alert-hue),
          calc(var(--alert-saturation) * 0.9 * var(--saturation-factor)),
          calc(var(--alert-lightness) * 1.1);
  --alert-text-color: hsl(
          var(--alert-hue),
          calc(var(--alert-saturation) * 0.65 * var(--saturation-factor)),
          calc(var(--alert-lightness) * 0.3)
      );
  --warning-hue: calc(var(--accent-hue) - 180);
  --warning-saturation: calc(var(--accent-saturation) * var(--saturation-modifier) * 3 * var(--saturation-factor));
  --warning-lightness: calc(var(--accent-lightness) * var(--lightness-modifier) * 5.25);
  --warning-text-color: hsl(
          var(--warning-hue),
          calc(var(--warning-saturation) * var(--saturation-factor) * 0.82),
          calc(var(--warning-lightness) * 0.31)
      );
  --button-link-color:
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 1.25 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 5.25);
  --button-link-text-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.6 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 3.3));
  --channels-default: hsl(
  	var(--accent-hue),
  	calc(var(--accent-saturation) * var(--saturation-modifier) * 0.78 * var(--saturation-factor)),
  	calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 4.68)
  );
  --channel-icon: hsl(
  		var(--accent-hue),
  		calc(var(--accent-saturation) * var(--saturation-modifier) * 0.96 * var(--saturation-factor)),
  		calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 4.31)
  	);
  --status-picker-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.75)
         );
  --sidebar-panel-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.425)
         );
  --message-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.4)
      );
  --message-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.2)
      );
  --message-color-hover: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.7)
         );
  --attachment-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier))
      );
  --main-textarea-color-alt: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * 0.8 * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 2.3)
         );
  --main-textarea-border: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.6 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2.8)
      );
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.7)
      );
  --input-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2.1)
      );
  --input-border-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.6 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 3.8)
      );
  --input-text-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.42 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 6.9)
      );
  --input-placeholder-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.42 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 4.4)
      );
  --popout-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.75)
      );
  --popout-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.275)
      );
  --menu-item-hover: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.785 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2.495),
          0.585
      );
  --menu-item-select: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * 0.785 * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 2.4825),
             0.855
         );
  --menu-item-text-color: hsl(
  	var(--accent-hue),
  	calc(var(--accent-saturation) * var(--saturation-modifier) * 1.2 * var(--saturation-factor)),
  	calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 5.4)
  );
  --card-color-filled: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.325)
      );
  --card-color-hover: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.585)
      );
  --card-color-active: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2.115)
      );
  --card-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.625)
      );
  --card-color-alt-hover: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.865)
      );
  --card-header-text-color: hsl(
  	var(--accent-hue),
  	calc(var(--accent-saturation) * var(--saturation-modifier) * 1.6 * var(--saturation-factor)),
  	calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 6.34)
  );
  --card-button-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2.1),
          0.7
      );
  --card-button-color-hover: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 2.25),
             0.9
         );
  --switch-knob-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.4 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 3.85)
      );
  --switch-slider-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.75 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.95)
      );
  --switch-slider-color-modal: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.75 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2.35)
      );
  --profile-body-background-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.225)
      );
  --activity-card-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.35)
      );
  --activity-card-color--hover: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.515)
         );
  --activity-card-color--active: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.6)
         );
  --activity-card-color--inset: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.95)
         );
  --card-border-color: rgba(255,255,255,0.1);
  --interactive-active: hsl(
  	var(--accent-hue),
  	calc(var(--accent-saturation) * var(--saturation-modifier) * 1.84 * var(--saturation-factor)),
  	calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 6.94)
  );
  --interactive-normal: hsl(
  		var(--accent-hue),
  		calc(var(--accent-saturation) * var(--saturation-modifier) * 1.41 * var(--saturation-factor)),
  		calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 5.81)
  	);
  --interactive-muted: hsl(
  		var(--accent-hue),
  		calc(var(--accent-saturation) * var(--saturation-modifier) * 0.9 * var(--saturation-factor)),
  		calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 2.4)
  	);
  --header-primary: hsl(
  	var(--accent-hue),
  	calc(var(--accent-saturation) * var(--saturation-modifier) * 1.73 * var(--saturation-factor)),
  	calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 6.7)
  );
  --header-secondary: hsl(
  		var(--accent-hue),
  		calc(var(--accent-saturation) * var(--saturation-modifier) * 1.4 * var(--saturation-factor)),
  		calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 6.3)
  	);
  --text-normal: hsl(
  		var(--accent-hue),
  		calc(var(--accent-saturation) * var(--saturation-modifier) * 0.81 * var(--saturation-factor)),
  		calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 6.4)
  	);
  --text-muted: hsl(
  		var(--accent-hue),
  		calc(var(--accent-saturation) * var(--saturation-modifier) * 0.66 * var(--saturation-factor)),
  		calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 4.02)
  	);
}
.theme-dark .layer_cd0de5,
.theme-dark .root_f9a4c9 {
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2.3)
      );
}
.theme-dark .layer_cd0de5 .input_f8bc55,
.theme-dark .root_f9a4c9 .input_f8bc55 {
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2.2)
      );
}
.theme-dark .triggerMainContainer_df95ff {
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.95)
      );
}

.theme-light {
  --saturation-modifier: 0.74;
  --lightness-modifier: 2.125;
  --text-lightness-modifier: 1.0;
  --main-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.875 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.725)
      );
  --main-alt: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.675)
         );
  --accent-hsl--material-you:
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.84 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.4);
  --accent-text-color--material-you: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 2 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.77)
      );
  --alert-hsl:
          var(--alert-hue),
          calc(var(--alert-saturation) * 0.9 * var(--saturation-factor)),
          calc(var(--alert-lightness) * 1.15);
  --alert-text-color: hsl(
          var(--alert-hue),
          calc(var(--alert-saturation) * 0.65 * var(--saturation-factor)),
          calc(var(--alert-lightness) * 0.4)
      );
  --warning-hue: calc(var(--accent-hue) - 180);
  --warning-saturation: calc(var(--accent-saturation) * var(--saturation-modifier) * 0.84 * var(--saturation-factor));
  --warning-lightness: calc(var(--accent-lightness) * var(--lightness-modifier) * 0.4);
  --warning-text-color: hsl(
          var(--warning-hue),
          calc(var(--warning-saturation) * var(--saturation-factor) * 0.78),
          calc(var(--warning-lightness) * 0.47)
      );
  --button-link-color:
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 1 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.3);
  --button-link-text-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.425 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.45));
  --button-link-accent-color:
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 2 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.535);
  --button-link-accent-text-color: var(--accent-text-color--material-you);
  --channels-default: hsl(
  	var(--accent-hue),
  	calc(var(--accent-saturation) * var(--saturation-modifier) * 0.36 * var(--saturation-factor)),
  	calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 0.32)
  );
  --channel-icon: hsl(
  		var(--accent-hue),
  		calc(var(--accent-saturation) * var(--saturation-modifier) * 0.39 * var(--saturation-factor)),
  		calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 0.35)
  	);
  --status-picker-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.6825)
         );
  --sidebar-panel-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.6985)
         );
  --message-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.695)
      );
  --message-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.685)
      );
  --message-color-hover: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.665)
         );
  --attachment-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.775)
      );
  --main-textarea-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.675)
      );
  --main-textarea-color-alt: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * 0.8 * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.825)
         );
  --main-textarea-border: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.2 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.52)
      );
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.775)
      );
  --input-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier))
      );
  --input-border-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.1 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.37)
      );
  --input-text-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.61 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 0.18)
      );
  --input-placeholder-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.41 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 0.3)
      );
  --popout-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.735)
      );
  --popout-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.8)
      );
  --menu-item-hover: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.615 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.6415),
          0.665
      );
  --menu-item-select: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * 0.615 * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.625),
             0.85
         );
  --menu-item-text-color: hsl(
  	var(--accent-hue),
  	calc(var(--accent-saturation) * var(--saturation-modifier) * 0.38 * var(--saturation-factor)),
  	calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 0.26)
  );
  --card-color-filled: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.705)
      );
  --card-color-hover: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.67)
      );
  --card-color-active: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.625)
      );
  --card-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.75)
      );
  --card-color-alt-hover: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.65)
      );
  --card-header-text-color: hsl(
  	var(--accent-hue),
  	calc(var(--accent-saturation) * var(--saturation-modifier) * 0.33 * var(--saturation-factor)),
  	calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 0.18)
  );
  --card-button-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.9)
      );
  --card-button-color-hover: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.7)
         );
  --switch-knob-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.3 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.375)
      );
  --switch-slider-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * 0.8 * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.65)
         );
  --switch-slider-color-modal: var(--switch-slider-color);
  --switch-color-checked: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * 1.2 * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.3)
         );
  --profile-body-background-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.85)
      );
  --activity-card-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.695)
      );
  --activity-card-color--hover: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.6815)
         );
  --activity-card-color--active: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.6755)
         );
  --activity-card-color--inset: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.745)
         );
  --interactive-active: hsl(
  	var(--accent-hue),
  	calc(var(--accent-saturation) * var(--saturation-modifier) * 0.32 * var(--saturation-factor)),
  	calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 0.16)
  );
  --interactive-normal: hsl(
  	var(--accent-hue),
  	calc(var(--accent-saturation) * var(--saturation-modifier) * 0.35 * var(--saturation-factor)),
  	calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 0.21)
  );
  --interactive-muted: hsl(
  	var(--accent-hue),
  	calc(var(--accent-saturation) * var(--saturation-modifier) * 0.31 * var(--saturation-factor)),
  	calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 0.52)
  );
  --header-primary: hsl(
  		var(--accent-hue),
  		calc(var(--accent-saturation) * var(--saturation-modifier) * 0.33 * var(--saturation-factor)),
  		calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 0.18)
  	);
  --header-secondary: hsl(
  		var(--accent-hue),
  		calc(var(--accent-saturation) * var(--saturation-modifier) * 0.38 * var(--saturation-factor)),
  		calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 0.27)
  	);
  --text-normal: hsl(
  	var(--accent-hue),
  	calc(var(--accent-saturation) * var(--saturation-modifier) * 0.17 * var(--saturation-factor)),
  	calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 0.19)
  );
  --text-muted: hsl(
  		var(--accent-hue),
  		calc(var(--accent-saturation) * var(--saturation-modifier) * 0.34 * var(--saturation-factor)),
  		calc(var(--accent-lightness) * var(--lightness-modifier) * var(--text-lightness-modifier) * 0.36)
  	);
}
.theme-light .lookOutlined_dd4f85.colorBrand_dd4f85, .theme-light .lookOutlined_dd4f85.colorPrimary_dd4f85 {
  --button-text-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 1.2 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.3)
      );
  --button-outline: 1px solid hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 1.2 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.3)
      );
}
.theme-light .lookOutlined_dd4f85.colorBrand_dd4f85:after, .theme-light .lookOutlined_dd4f85.colorPrimary_dd4f85:after {
  background-color: hsl(var(--accent-hue), calc(var(--accent-saturation) * var(--saturation-modifier) * 1.2 * var(--saturation-factor)), calc(var(--accent-lightness) * var(--lightness-modifier) * 0.3));
}
.theme-light .lookLink_dd4f85.colorBrand_dd4f85, .theme-light .lookLink_dd4f85.colorPrimary_dd4f85, .theme-light .lookLink_dd4f85.colorLink_dd4f85, .theme-light .lookLink_dd4f85.colorLink_fbc755 {
  --button-text-color: hsl(
  var(--accent-hue),
  calc(var(--accent-saturation) * var(--saturation-modifier) * 0.84 * var(--saturation-factor)),
  calc(var(--accent-lightness) * var(--lightness-modifier) * 0.4)
             ) !important;
}
.theme-light .slider_c7a159 .bar_c7a159 .barFill_c7a159,
.theme-light .slider_c7a159 .track_c7a159 .grabber_c7a159 {
  background-color: hsl(var(--accent-hue), calc(var(--accent-saturation) * var(--saturation-modifier) * 1.2 * var(--saturation-factor)), calc(var(--accent-lightness) * var(--lightness-modifier) * 0.3)) !important;
}
.theme-light [aria-checked=true].item_eb92a8 .radioBar_eb92a8 svg {
  color: hsl(var(--accent-hue), calc(var(--accent-saturation) * var(--saturation-modifier) * 1.2 * var(--saturation-factor)), calc(var(--accent-lightness) * var(--lightness-modifier) * 0.3));
}
.theme-light [role=menuitemradio][aria-checked=true].item_d90b3d .icon_d90b3d {
  color: hsl(var(--accent-hue), calc(var(--accent-saturation) * var(--saturation-modifier) * 1.2 * var(--saturation-factor)), calc(var(--accent-lightness) * var(--lightness-modifier) * 0.3));
}
.theme-light .colorDefault_d90b3d .checkbox_d90b3d {
  color: hsl(var(--accent-hue), calc(var(--accent-saturation) * var(--saturation-modifier) * 1.2 * var(--saturation-factor)), calc(var(--accent-lightness) * var(--lightness-modifier) * 0.3));
}
.theme-light .colorDefault_d90b3d .check_d90b3d {
  color: hsl(var(--accent-hsl--material-you));
}
.theme-light .input_f8bc55:focus {
  --accent-hsl--material-you:
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 1.2 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.3);
}
.theme-light.layer_cd0de5 .input_f8bc55,
.theme-light.layer_cd0de5 .vc-rdb-input, .layer-fP3xEz.theme-light .input_f8bc55,
.layer-fP3xEz.theme-light .vc-rdb-input {
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.72)
      );
}
.theme-light .root_f9a4c9 .content_f9a4c9 a, .theme-light .root_f9a4c9 .content-3BqJRb a {
  color: hsl(var(--accent-hue), calc(var(--accent-saturation) * var(--saturation-modifier) * 1.2 * var(--saturation-factor)), calc(var(--accent-lightness) * var(--lightness-modifier) * 0.3));
}
.theme-light .root_f9a4c9 .input_f8bc55 {
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.72)
      );
}
.theme-light .header_c2efea .container__33507 {
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.71)
      );
}
.theme-light .triggerMainContainer_df95ff {
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.71)
      );
}
.theme-light .jumpToPresentBar_cf58b5 {
  --accent-hsl--material-you:
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.64);
  --accent-text-color--material-you: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.225)
      );
}
.theme-light .iconBadge_fc4f04 {
  --accent-hsl--material-you:
      var(--accent-hue),
      calc(var(--accent-saturation) * var(--saturation-modifier) * 1.2 * var(--saturation-factor)),
      calc(var(--accent-lightness) * var(--lightness-modifier) * 0.3);
}
.theme-light .container_b385c8 {
  --accent-hsl--material-you:
      var(--accent-hue),
      calc(var(--accent-saturation) * var(--saturation-modifier) * 1.2 * var(--saturation-factor)),
      calc(var(--accent-lightness) * var(--lightness-modifier) * 0.3);
}

/*# sourceMappingURL=Material-Discord_addon-material-you.theme.css.map */
