.theme-dark {
  --saturation-modifier: 0.175;
  --lightness-modifier: 0.2;
  --main-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.875),
          calc(var(--accent-lightness) * var(--lightness-modifier))
      );
  --main-alt: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.7)
         );
  --status-picker-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.75)
         );
  --sidebar-panel-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.425)
         );
  /*--chat-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.25)
         );*/
  --message-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.4)
      );
  --message-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.2)
      );
  --message-color-hover: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.7)
         );
  --attachment-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier))
      );
  --main-textarea-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.7)
      );
  --main-textarea-color-alt: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * 0.8),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 2.3)
         );
  --main-textarea-border: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 2.2)
         );
  --typing-color: hsla(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.875),
          calc(var(--accent-lightness) * var(--lightness-modifier)),
          0.9
      );
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.6)
      );
  --popout-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.75)
      );
  --popout-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.275)
      );
  --menu-item-hover: hsla(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.785),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2.495),
          0.585
      );
  --menu-item-select: hsla(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * 0.785),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 2.4825),
             0.855
         );
  --card-color-filled: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.325)
      );
  --card-color-hover: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.585)
      );
  --card-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.625)
      );
  --card-button-color: hsla(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2.1),
          0.7
      );
  --card-button-color-hover: hsla(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 2.25),
             0.9
         );
  --switch-knob-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.4),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 3.85)
      );
  --switch-slider-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.75),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.95)
      );
  --switch-slider-color-modal: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.75),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2.35)
      );
  --profile-body-background-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.225)
      );
  --activity-card-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.35)
      );
  --activity-card-color--hover: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.515)
         );
  --activity-card-color--active: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.6)
         );
  --activity-card-color--inset: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 1.95)
         );
  --card-border-color: rgba(255,255,255,0.1);
  --emoji-category-header: hsla(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.75),
          0.95
      );
}
.theme-dark .layer-2aCOJ3,
.theme-dark .layer-1Ixpg3 {
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 2.35)
      );
}

.theme-light {
  --saturation-modifier: 0.4;
  --lightness-modifier: 2.125;
  --main-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.875),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.725)
      );
  --main-alt: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.675)
         );
  --status-picker-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.6825)
         );
  --sidebar-panel-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.6985)
         );
  /*--chat-color: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.75)
         );*/
  --message-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.695)
      );
  --message-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.685)
      );
  --message-color-hover: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.665)
         );
  --attachment-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.775)
      );
  --main-textarea-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.775)
      );
  --main-textarea-color-alt: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * 0.8),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.825)
         );
  --main-textarea-border: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.67)
         );
  --typing-color: hsla(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.875),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.725),
          0.9
      );
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.8)
      );
  --popout-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.735)
      );
  --popout-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.8)
      );
  --menu-item-hover: hsla(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.615),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.6415),
          0.665
      );
  --menu-item-select: hsla(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier) * 0.615),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.625),
             0.85
         );
  --card-color-filled: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.705)
      );
  --card-color-hover: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.67)
      );
  --card-color-alt: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.75)
      );
  --card-button-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.9)
      );
  --card-button-color-hover: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.7)
         );
  --switch-knob-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.425),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.635)
      );
  --switch-slider-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.425),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.475)
      );
  --switch-slider-color-modal: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 0.425),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.475)
      );
  --profile-body-background-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.85)
      );
  --activity-card-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.695)
      );
  --activity-card-color--hover: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.6815)
         );
  --activity-card-color--active: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.6755)
         );
  --activity-card-color--inset: hsl(
             var(--accent-hue),
             calc(var(--accent-saturation) * var(--saturation-modifier)),
             calc(var(--accent-lightness) * var(--lightness-modifier) * 0.745)
         );
  --emoji-category-header: hsla(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.725),
          0.95
      );
}
.theme-light.layer-2aCOJ3 .input-2g-os5, .theme-light.layer-1Ixpg3 .input-2g-os5 {
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.72)
      );
}
.theme-light .header-2e2w0L .container-2oNtJn {
  --input-color: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 0.71)
      );
}
