@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *	SERVER SETTING AUDIT LOG
 *
 */

#{ $auditLog } {
	@include card-format;
	overflow: hidden;

	#{ $auditLogHeader },
	#{ $auditLogChangeDetails } {
		background-color: transparent;
	}

	#{ $auditLogHeaderExpanded } {
		box-shadow: var(--popout-header-shadow);
	}

	#{ $auditLogDivider } {
		display: none;
	}
}
