@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS AUTOMOD
 *
 */

#{ $automodEditCard } {
    @include card-format;

    &:before {
        display: none;
    }

    &#{ $automodEditCardActive } {
        background-color: var(--card-color) !important;
    }

    #{ $automodRuleIconContainer } {
        background-color: var(--card-color);
    }

    #{ $actionRuleContainer } {
        background-color: var(--card-color);
    }
}

#{ $triggerCollapseable } {
    @include card-format;

    &:active {
        background-color: var(--card-color) !important;
    }

    &:before {
        display: none;
    }
}

#{ $automodEditActionContainer } {
    margin-top: 28px;
}

#{ $automodStepCountIcon } {
    background-color: var(--card-color);
}

#{ $mentionLimitContainer } {
    @include card-format;
}

#{ $stepperContainer } {
    padding: 0;
    @include input-format;

    #{ $stepper } {
        border-radius: var(--input-radius);
    }

    #{ $stepperIconWrapper } {
        background-color: transparent;

        #{ $stepperIcon } {
            width: var(--input-height);
            height: var(--input-height);
        }
    }

    #{ $input } {
        background-color: transparent;
    }
}
