@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS CONTENT MODERATION
 *
 */

#{ $triggerMainContainer } {
    margin: 8px 0;
    padding: 0;
    border: none
}

#{ $keywordListContainer },
#{ $actionContainer } {
    padding: 12px 16px;
    @include card-format(false, true);
}

#{ $actionContainer } {
    #{ $actionContainer } {
        padding: 0;
        background-color: transparent;
    }
}

#{ $keywordsTextArea } {
    background-color: rgba(var(--textarea-color), var(--textarea-alpha));
    border-radius: 18px;
    border: none;
    transition: var(--transition-time) var(--transition-type);

    &:focus {
        background-color: rgba(var(--textarea-color), var(--textarea-alpha-focus))
    }

    &::-webkit-input-placeholder {
        color: var(--textarea-placeholder-color);
    }
}

#{ $dividerContainer } {
    margin: 6px auto 0;

    #{ $dividerIcon } {
        color: var(--text-muted);
    }
}
