@use "../../classes" as *;

/*
 *
 *  SERVER SETTINGS EMOJI
 *
 */

#{ $emojiRow } {
  &:before {
    background-color: var(--background-modifier-hover);
  }

  #{ $input } {
    padding-block: 0;
    padding-inline: 12px;
  }

  #{ $emojiAliasPlaceholder } {
    height: var(--input-height);
    line-height: var(--input-height);
    padding-block: 1px 0;
    padding-inline: 12px;
  }
}
