@use '../../classes' as *;

/*
 *
 *  SERVER SETTINGS EMOJI
 *
 */

#{ $emojiRow } {
    &:before {
        background-color: var(--background-modifier-hover);
    }

    #{ $input } {
        padding-block: 0;
        padding-inline: 12px;
    }
}
