@use '../../classes' as *;

/*
 *
 *  SERVER SETTINGS EMOJI
 *
 */

#{ $emojiRow } {
    &:before {
        background-color: var(--background-modifier-hover);
    }

    #{ $input } {
        padding: 0 12px;
    }

    #{ $emojiAliasPlaceholder } {
        height: var(--input-height);
        line-height: var(--input-height);
        padding: 1px 12px 0;
    }
}
