@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS SERVER INSIGHTS
 *
 */

#{ $insightsContainer } {
    padding: 0;
    @include card-format;

    #{ $insightsHeader } {
        @include card-format--header;
    }

    #{ $insightsDivider } {
        display: none;
    }

    #{ $insightsTips } {
        margin: 16px;
    }

    #{ $insightsActions } {
        margin: 0 16px 16px;
        @include card-format;
    }
}

#{ $insightsDeveloperPortalCtaWrapper } {
    background-color: var(--card-color);
}

#{ $insightsError } {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
}