@use '../../classes' as *;

/*
 *
 *  SERVER LISTS
 *
 */

#{ $listPopoutSearchBar } {
    height: auto;
}

#{ $settingsLongCard } {
    &:before {
        background-color: var(--card-color-hover);
        border-radius: var(--card-radius);
    }

    &.active {
        &:before {
            background-color: var(--card-color-hover);
            opacity: 1;
        }
    }
}

/* SERVER LISTS -> MEMBERS LIST */

#{ $settingsMemberCard } {
    #{ $role } {
        background-color: var(--background-modifier-active);
    }
}
