@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS PERMISSIONS
 *
 */

#{ $permissionsSettingCard } {
    @include card-format;

    &#{ $permissionsSettingCardActive } {
        @include card-format;
        overflow: hidden;

        #{ $permissionsCardContent } {
            box-shadow: var(--card-header-shadow);
        }
    }
}

#{ $permissionsCardFolder } {
    background-color: transparent;
}

#{ $radioPillGroup } {
    @include card-format;
    overflow: hidden;
}

#{ $radioPillItem } {
    cursor: pointer;
}

#{ $radioPillItemSelected } {
    &#{ $radioPillItemDeny } {
        background-color: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.65);
        border-radius: var(--card-radius) 0 0 var(--card-radius);
    }

    &#{ $radioPillItemPassthrough } {
        background-color: hsla(217,8%,41%,0.65);
    }

    &#{ $radioPillItemAllow } {
        background-color: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%,0.65);
        border-radius: 0 var(--card-radius) var(--card-radius) 0;
    }
}

#{ $permissionsSidebarRoleDotBackground } {
    padding: 0;
    background-color: transparent;
}

#{ $permissionsSidebarRoleDot } {
    box-shadow: none;
}
