@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS ROLES
 *
 */

#{ $guildSettingsRoleDefaultPermissions } {
    @include card-format(false, true);
}

#{ $guildSettingsRoleRow } {
    #{ $buttonCircle } {
        background-color: var(--background-modifier-active);
    }

    &:hover {
        #{ $buttonCircle } {
            background-color: var(--background-modifier-active) !important;

            &:hover {
                background-color: var(--background-modifier-hover) !important;
            }
        }
    }
}

/* SERVER SETTINGS ROLES -> EDIT ROLE */

#{ $guildSettingsRoleBackContainer } {
    position: sticky;
    @include add-translucence-bg(before);
}

#{ $guildSettingsRoleHeader } {
    padding: 60px 8px 0;
    @include add-translucence-bg(before);
}
