@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS ROLES
 *
 */

#{ $guildSettingsRoleDefaultPermissions } {
    @include card-format(false, true);
}

#{ $guildSettingsRoleRow } {
    #{ $buttonCircle } {
        background-color: var(--background-modifier-active);
    }

    &:hover {
        #{ $buttonCircle } {
            background-color: var(--background-modifier-active) !important;

            &:hover {
                background-color: var(--background-modifier-hover) !important;
            }
        }
    }
}

/* SERVER SETTINGS ROLES -> EDIT ROLE */

#{ $guildSettingsRoleSidebarTitleContainer } {
    background-color: transparent;
}

#{ $guildSettingsRoleHeader } {
    background-color: transparent;

    &#{ $guildSettingsRoleStickyHeader } {
        --popout-radius: 0;
        overflow: hidden;

        @include liquidGlassFallback($background-color: var(--popout-color), $shadow: false);

        &::before {
            filter: blur(var(--app-blur)) saturate(100%) brightness(1);
        }
    }
}

#{ $guildSettingsRoleBackContainer } {
    position: sticky;
    //@include add-translucence-bg(before);
}

#{ $guildSettingsRoleHeader } {
    padding-block: 60px 0;
    padding-inline: 8px;
    //@include add-translucence-bg(before);
}
