@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS MEMBERSHIP SCREENING
 *
 */

#{ $membershipEnableContainer } {
    @include card-format;
}

#{ $membershipSettingsFormItem } {
    @include card-format;

    #{ $membershipSettingsFormFieldWrapper } {
        @include card-format;
    }
}

#{ $rulesScreeningBackgroundContainer } {
    @include card-format;
}

#{ $rulesRequirementContainer } {
    background-color: rgba(var(--textarea-color),var(--textarea-alpha));
    border-radius: var(--input-radius);
}

#{ $rulesFieldBackground } {
    background-color: rgba(var(--textarea-color),var(--textarea-alpha)) !important;
    border-radius: var(--input-radius) !important;
    border: none !important;
}

#{ $rulesScreeningContainerFooter } {
    background-color: transparent;
}

#{ $rulesScreeningFieldBackground } {
    @include card-format;

    &#{ $rulesScreeningWithFooter } {
        box-shadow: var(--card-header-shadow);
    }
}

#{ $rulesScreeningFieldFooterContainer } {
    background-color: var(--card-color);
    border-radius: 0 0 var(--card-radius) var(--card-radius);
}

#{ $rulesScreeningSidebarFixedContainer } {
    @include card-format;
}

/* SERVER SETTINGS MEMBERSHIP SCREENING -> PREVIEW */

#{ $rulesGuildSidebar } {
    background-color: var(--sidebar-color);
}

#{ $rulesModal } {
    #{ $formFieldWrapper } {
        @include card-format;
    }
}
