@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *	SERVER SETTINGS STICKERS
 *
 */

#{ $stickersTier } {
	@include card-format;

	#{ $stickersGrid } {
		padding: 0 16px 16px;
	}
}

#{ $stickersTierHeaderLocked },
#{ $stickersTierHeaderUnlocked } {
	background-color: transparent !important;
	box-shadow: var(--popout-header-shadow);
}

#{ $stickersTeirBody } {
	background-color: transparent !important;
}

#{ $stickersUploadCard } {
	@include card-format(false, true);
}

#{ $stickersProgressBackground } {
	color: var(--card-color) !important;
}

#{ $stickersProgressForground } {
	color: hsla(var(--accent-hsl), var(--accent-opacity));
}

#{ $themeDark } {
	#{ $stickersTierInProgress } {
		background-color: var(--card-color);
	}

	#{ $stickersTierAccomplished },
	#{ $stickersTierCurrent },
	#{ $stickersTierFirst } {
		background: hsla(var(--accent-hsl), var(--accent-opacity));
	}
}
