@use '../../mixins' as *;

%stickersTier {
	@include card-format;
}

%stickersTierHeaderLocked {
	background-color: transparent !important;
	box-shadow: var(--popout-header-shadow);
}

%stickersTeirBody {
	background-color: transparent !important;
}
