@use '../../classes' as *;
@use '../../mixins' as *;

#{ $welcomeEnableContainer } {
    background-color: var(--card-color);
    border-radius: var(--card-radius) var(--card-radius) 0 0;
    box-shadow: var(--card-header-shadow);
}

#{ $welcomePreviewContainer } {
    background-color: var(--card-color);
    border-radius: 0 0 var(--card-radius) var(--card-radius);

    #{ $welcomeChannel } {
        @include card-format;

        #{ $welcomeChannelIcon } {
            background-color: var(--background-modifier-selected);
            border-radius: 50%;
        }
    }
}

#{ $welcomeOptionContainer } {
    @include card-format(false, true);
}
