@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *	MESSAGE ACTIONS
 *
 */

#{ $messageButtonContainer } {
	margin-block-start: 2px;
	z-index: 3;
}

#{ $messageButtons } {
	max-width: 32px;
	inset-block-start: -36px;
	opacity: 0;
	visibility: visible;
	pointer-events: none;
	transition: var(--default-time) var(--default-animation) opacity, var(--default-time) var(--default-animation) max-width;
}

#{ $message } {
	&:hover #{ $messageButtons } {
		max-width: max-content;
		opacity: 1;
		pointer-events: all;
	}
}

#{ $messagePopover } {
	&#{ $messagePopover } {
		height: auto;
		padding: 4px;
		border-radius: 19px;
		box-shadow: var(--shadow-medium) !important;
		border: none;
		overflow: hidden;
		z-index: 2;

		@include addPopoutBlur;

		&:hover {
			border: none;
		}
	}
}

#{ $messageButton } {
	width: 30px;
    height: 30px;
    border-radius: 15px;
    box-sizing: border-box;
	transition: var(--default-time) var(--default-animation) background-color;

	&:hover {
		background-color: var(--menu-item-hover);
	}

	#{ $messageButtonSelected } {
		background-color: var(--menu-item-select);
	}
}

#{ $messageHoverBarButton } {
	&#{ $messageHoverBarButton } {
		border-radius: 15px;
	}
}

#{ $themeLight } {
	#{ $messageButton } {
		&:hover {
			background-color: hsl(from var(--menu-item-hover) h s calc(l * 0.875));
		}

		#{ $messageButtonSelected } {
			background-color: hsl(from var(--menu-item-select) h s calc(l * 0.815));
		}
	}
}

#{ $fullMotion } {
	#{ $messageButtonWrapper } {
		&:hover {
			box-shadow: var(--shadow-2dp);
		}
	}
}

#{ $messageButtonWrapper } {
	height: auto;
	padding: var(--space-4);
	border-radius: 19px;
}

#{ $messagePopoverReactionHoverBar } {
    &:hover {
        border: none;
    }

    #{ $messageHoverBarButton } {
        border-radius: 28px;
    }
}

/* MESSAGES -> ACTIONS -> DELETE MESSAGE */

#{ $messageAlt } {
	padding: 0;
	background-color: transparent !important;
	box-shadow: none !important;

	#{ $messageWrapper } {
		margin: 0 0 0 52px !important;
		background-color: var(--message-color-alt) !important;

		#{ $avatarLarge } {
			inset-inline-start: -52px !important;
		}
	}
}
