@use '../classes' as *;

/*
 *
 *	AUDIO PLAYER
 *
 */

#{ $playerAudioControls } {
    width: auto;
    margin-block: 0 var(--space-8);
    margin-inline: var(--space-8);
    padding: var(--space-8);
    gap: var(--space-12);
    border-radius: calc(var(--media-radius) / 1.65);

    #{ $playerVideoButton } {
        margin-inline-end: 0;
    }

    #{ $playerDurationTimeWrapper } {
        margin: 0;
    }
}
