/*
 *
 *	MARKUP
 *
 */

%markup {
	a {
		color: hsl(var(--accent-hsl));
	}

	pre, pre *, pre code, pre code *, code.inline, %codeBlockText, %codeBlockText *, %codeLine, %codeLine *, %codeBlockLang, %codeBlockLang *, %codeBlockSyntax, %codeBlockSyntax *,  %syntaxAfter, %syntaxAfter *, %syntaxBefore, %syntaxBefore * {
		--app-font: var(--code-font);
	}

	pre,
	pre code,
	code.inline {
		background-color: var(--attachment-color);
		border-radius: var(--card-radius);
		border: none;

		code {
			background-color: transparent;
		}
	}

	pre,
	code.inline {
		margin: 4px 0;
	}
}

%channelTextAreaInlineCode,
%channelTextAreaInlineCodeBefore,
%channelTextAreaInlineCodeAfter {
	--app-font: var(--code-font);

	background-color: var(--attachment-color);
}

%channelTextAreaInlineCodeBefore {
	border-radius: var(--card-radius) 0 0 var(--card-radius);
}

%channelTextAreaInlineCodeAfter {
	border-radius: 0 var(--card-radius) var(--card-radius) 0;
}

%mentionWrapper {
    background-color: hsla(var(--accent-hsl),0.15);
	border-radius: var(--card-radius);
    color: hsl(var(--accent-hsl));
	transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: hsla(var(--accent-hsl),0.3);
		color: hsl(var(--accent-hsl));
    }
}

%themeDark {
	%mentionWrapper {
	    background-color: hsla(var(--accent-hsl),0.15);
	    color: hsl(var(--accent-hsl));

	    &:hover {
	        background-color: hsla(var(--accent-hsl),0.3);
	    }
	}
}

%textContainer,
%textContainerFooter {
	background-color: var(--attachment-color);
	border: none;
}

%textContainer {
	border-radius: var(--card-radius) var(--card-radius) 0 0;

	%codeHLJS {
		background-color: transparent;
	}
}

%textContainerFooter {
	border-radius: 0 0 var(--card-radius) var(--card-radius);
	border-top: 1px solid var(--separator-color);
}

%codeView {
	&,
	& * {
		--app-font: var(--code-font);
	}
}

%embed {
	border-radius: var(--media-radius);

	&%embedFull {
		background-color: var(--attachment-color);
	}

	pre,
	pre code,
	code.inline {
		--attachment-color: var(--message-color);
	}
}
