@use '../mixins' as *;

/*
 *
 *	MESSAGES
 *
 */

%messageBackgroundFlash {
	border-radius: var(--message-radius);

    &[style] {
        position: relative;
        background-color: transparent !important;

        &:before {
            position: absolute;
            content: " ";
            width: calc(100% - 78px);
            height: 100%;
            top: 0;
            left: 68px;
            border-radius: var(--message-radius);
            pointer-events: none;
            z-index: 2;
            transition: 200ms ease-out background-color;
        }
    }

	&:not([style="background-color: rgba(148, 156, 247, 0);"]) {
        &:before {
            background-color: hsla(var(--accent-hsl),0.2);
        }
	}

	&[style="background-color: rgba(148, 156, 247, 0);"] {
        &:before {
            background-color: hsla(var(--accent-hsl),0);
        }
	}
}

%messages {
	&%messagesGroupSpacing0 {
		%messageGroupStart {
			--group-spacing: 0.125rem;
		}

		%newMessagesDivider {
			&%newMessagesDividerBeforeGroup {
				top: 1px;
			}
		}
	}

	&%messagesGroupSpacing4 {
		%messageGroupStart {
			--group-spacing: 0.3125rem;
		}

		%newMessagesDivider {
			&%newMessagesDividerBeforeGroup {
				top: 2px;
			}
		}
	}

	&%messagesGroupSpacing8 {
		%messageGroupStart {
			--group-spacing: 0.5625rem;
		}

		%newMessagesDivider {
			&%newMessagesDividerBeforeGroup {
				top: 4px;
			}
		}
	}

	&%messagesGroupSpacing16 {
		%messageGroupStart {
			--group-spacing: 1.0625rem;
		}

		%newMessagesDivider {
			&%newMessagesDividerBeforeGroup {
				top: 8px;
			}
		}
	}

	&%messagesGroupSpacing24 {
		%messageGroupStart {
			--group-spacing: 1.5625rem;
		}

		%newMessagesDivider {
			&%newMessagesDividerBeforeGroup {
				top: 12px;
			}
		}
	}

	&[class*="group-spacing"] {
		%messageGroupStart {
			margin-top: var(--group-spacing) !important;
		}

		%newMessagesDivider {
			&:not(%newMessagesDividerBeforeGroup) {
				top: -4px;
			}
		}
	}
}

%messagesWrapper {
	position: relative;
	background-color: var(--message-color) !important;
	transition: var(--default-time) var(--default-animation) background-color;

	&:hover {
		background-color: var(--message-color-hover) !important;
	}

	&%automodMessage {
		&:before {
			display: none;
		}
	}

	&%messageHasThread {
		&:after {
			display: none;
		}

		%markup {
			overflow: visible;
		}

		.container-x059i8 {
			padding: 0;
		}

		.iconContainer-2rPbqG {
			position: absolute;
			width: 40px !important;
			height: 40px;
			top: -8px;
			left: -62px;
			margin-right: 0;
			padding-top: 0;
			background-color: var(--message-color-hover);
			border-radius: var(--avatar-radius);
		}

		.container-3i3IzO {
			width: 100%;
			padding: 12px;
			background-color: var(--attachment-color);
			border-radius: var(--media-radius);
			box-sizing: border-box;
		}

		.cta-1XhfrG {
			color: hsl(var(--accent-hsl));
		}
	}

	&%messageGroupStart {
		position: relative;
		border-radius: var(--message-radius);

		%avatarLarge {
			width: 40px;
			height: 40px;
			top: 0;
			left: -50px;
			border-radius: var(--avatar-radius);
		}

		%avatarDecoration {
			top: -2px;
			left: -52px;
		}

		&%replyingToIndicator {
			&:before {
				display: none;
			}
		}
	}

	&%ephemeral,
	&%replyingToIndicator {
		a {
			color: hsl(var(--accent-hsl));
		}
	}

	&:not(%messageGroupStart) {
		border-radius: 0 0 var(--message-radius) var(--message-radius);

		&:before,
		&:after {
			content: " ";
			position: absolute;
			width: calc(var(--message-radius) / 3);
			height: calc(var(--message-radius) / 2);
			top: calc(var(--message-radius) / 2 * -1);
			background-color: var(--message-color);
			pointer-events: none;
			transition: var(--default-time) var(--default-animation) background-color;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}
	}

	&%messageCozy {
		&%messageGroupStart {
			margin-bottom: 0;

			&%mentioned {
				&:before {
					display: none;
				}
			}
		}

		&%messageGroupStart {
			padding: var(--message-padding-top) var(--message-padding-side) !important;
		}

		&:not(%messageGroupStart) {
			margin-top: calc(var(--message-padding-top) * -1);
			padding: calc(var(--message-padding-top) / 2) var(--message-padding-side) var(--message-padding-top) var(--message-padding-side) !important;

			& + %newMessagesDivider {
				&:not(%newMessagesDividerBeforeGroup) {
					top: -4px;
				}
			}
		}

		%messageHeader {
			margin-bottom: 4px;
		}

		%markup {
			margin-left: 0;
			padding-left: 0;
		}

		&:hover {
			%messageTimestamp {
				&%messageTimestampAlt {
					opacity: 1;
					transition: var(--default-time) ease opacity 750ms;
				}
			}
		}

		%messageTimestamp {
			&%messageTimestampAlt {
				opacity: 0;
				left: -64px;
				color: var(--text-muted);
				font-weight: 600;
				transition: var(--default-time) ease opacity 0ms;
			}
		}

		%removeAttachmentButton {
			right: -4px;
		}

		&:not(%message) {
			margin: 16px 26px 0 68px;
			padding: var(--message-padding-top) var(--message-padding-side) !important;
			border-radius: var(--message-radius);

			&:before,
			&:after {
				display: none;
			}

			%avatarLarge {
				top: 0;
				left: -63px;
			}
		}

		%messageReplied {
			&:before {
				transform: translateX(42px);
			}

			.replyAvatar-sHd2sU,
			.replyBadge-LMm_Ic,
			.executedCommandAvatar-3oOnb1,
			.userJoinSystemMessageIcon-3FQ_Mo {
				margin-left: 42px;
			}
		}
	}

	&%messageCompact {
		margin-bottom: 0;
		padding-right: 8px !important;

		&%messageGroupStart {
			padding: 8px;

			%avatarLarge {
				width: 1em;
				height: 1em;
				top: 0.18em;
				left: 0;
			}

			&%mentioned {
				&:before {
					display: none;
				}
			}

			& + %newMessagesDivider {
				margin-bottom: -1px;
			}
		}

		&:not(%messageGroupStart) {
			padding: 0 8px 8px 8px;
		}

		&%messageHasThread {
			%messageContent:before {
				display: none;
			}

			.content-vSHmMD {
				margin-left: 44px;
			}

			.spine-2vt3pM {
				display: none;
			}
		}

		%messageHeader {
			position: relative;
			left: -8px;
		}

		%messageTimestamp {
			width: 52px;
			margin-right: 16px;
			color: var(--text-muted);
		}

		& + %newMessagesDivider {
			margin-left: 80px;

			&:not(%newMessagesDividerBeforeGroup) {
				top: -11px;
			}
		}

		%messageReplied {
			margin-left: calc(var(--timestamp-width) + 3.1rem + var(--text-indent));
		}

		& + &:not(%message) {
			margin: 16px 20px 0 70px;
		}

		.iconContainer-2rPbqG {
			margin-left: 4.5ch;
		}
	}

	%slateTextArea {
		padding-left: 12px !important;
	}

	&%mentioned {
		%messageContentInner {
			position: relative;
			background-color: hsla(var(--accent-hsl),0.15);
			border-radius: var(--card-radius);
			transition: var(--default-time) var(--default-animation) background-color;

			&:hover {
				background-color: hsla(var(--accent-hsl),0.3);
			}

			a {
				color: hsl(var(--accent-hsl));
			}

			%mentionWrapper {
				background-color: transparent;

				&:before {
					display: none;
				}
			}
		}
	}

	%messageContentInner {
		overflow: visible;

		%messageIconContainer {
			width: 40px;
			top: -8px;
			left: calc((50px + var(--message-padding-side)) * -1);
		}
	}

	%messageButtonContainer {
		margin-top: 8px;
		margin-left: 0;

		%button {
			--button-height: 24px;
			--button-padding: 0 6px;

			%textXSNormal {
				color: hsl(var(--accent-hsl--material-you)) !important;
			}
		}

		%messageButtonFooterAction {
			height: var(--button-height);

			%messageButtonFooterIcon {
				color: hsl(var(--accent-hsl--material-you));

				path {
					fill: currentColor;
				}
			}
		}
	}

	%messageButtonDot {
		margin: 0 4px;
	}

	%channelTextArea {
		%channelTextAreaScrollable {
			background-color: var(--input-color-alt);
			border-radius: var(--main-textarea-radius);
		}
	}
}

%avatarDecoration {
	top: 0;
	left: -54px;
}

%messageListItem,
%messageQuoted {
	margin-left: 68px;
	margin-right: 10px;
}

%messageListItem,
%messageBackgroundFlash {
	&:hover {
		+ %messageListItem,
		+ %messageBackgroundFlash {
			%messagesWrapper {
				&:not(%messageGroupStart) {
					&:before,
					&:after {
						background-color: var(--message-color-hover);
					}
				}
			}
		}
	}
}

%operations {
	> a {
		color: hsl(var(--accent-hsl));
	}
}

.scrollerSpacer-3AqkT9 {
	height: 20px;
}

%mention {
	&::selection {
		background: hsla(var(--accent-hsl),0.5);
		color: var(--accent-text-color--material-you);
	}
}

/* MESSAGES -> NEW MESSAGES DIVIDER */

%newMessagesDivider {
	&%dividerUnread {
		margin: 0 .875rem 0 80px;
		border-color: hsl(var(--accent-hsl--material-you));

		%unreadPill {
			height: 28px;
			top: -15px;
			padding: 0 16px;
			background-color: hsl(var(--accent-hsl--material-you));
			border-radius: 14px;
			box-shadow: var(--shadow-3dp);
			font-size: 14px;
			font-weight: 500;
			text-transform: capitalize;
			color: var(--accent-text-color--material-you);

			%unreadPillCap {
				display: none;
			}
		}

		&%hasContent {
			%dividerDate {
				background-color: hsl(var(--accent-hsl--material-you));
				color: var(--accent-text-color--material-you);
			}
		}
	}

	&%hasContent {
		margin-left: 1rem;
	}
}

%dividerDate {
	background-color: var(--message-color);
}

/* MESSAGES -> ERROR BAR */

%messagesErrorBar {
	width: auto;
	height: 36px;
	left: auto;
	right: 16px;
	bottom: 24px;
	padding: 0;
	border-radius: 18px;
	box-shadow: var(--shadow-2dp);
	transition: var(--default-time) var(--default-animation) box-shadow;

	&:hover {
		box-shadow: var(--shadow-3dp);
	}

	%jumpToPresentBarButtonMain {
		min-width: 36px;
		padding: 0 18px 0 12px;
		flex: 0 1 auto;

		&:after {
			position: absolute;
			content: "|";
			width: 4px;
			height: 100%;
			top: 0;
			right: 0;
		}
	}
}
