/*
 *
 *	MESSAGE REACTIONS
 *
 */

%reactions {
	margin: 8px 0 0 0;

	%reaction {
		background-color: transparent;
		border-radius: 8px;
		border-color: var(--separator-color);

		&:hover {
			background-color: var(--menu-item-hover);
		}

		&%reactionMe {
			background-color: hsla(var(--accent-hsl),0.3);
			border-color: hsla(var(--accent-hsl),0.075);

			%reactionCount {
				color: var(--accent-text-color);
				font-weight: 400;
			}
		}
	}
}

/* MESSAGE REACTIONS -> REVERT BUTTONS TO REACTION STYLE */

%embedContainer {
	%embedChildren {
		%buttonFilled {
			--button-height: 28px;
			--button-padding: 0 8px;
			--button-background: transparent;
			--button-radius: 8px;
			--button-outline: 1px solid var(--popout-header-border);

			%embedEmoji {
				width: calc(var(--button-height) - 8px);
				height: calc(var(--button-height) - 8px);
			}
		}
	}
}

/*
 *
 *	CONTEXT MENU QUICK REACTIONS
 *
 */

%contextMenuQuickReaction {
	background-color: var(--menu-item-hover);

	&:hover {
		background-color: var(--menu-item-select);
	}
}
