/*
 *
 *	MESSAGE REACTIONS
 *
 */

%reactions {
	margin: 8px 0 0 0;

	%reaction {
		background-color: var(--menu-item-hover);
		border-radius: 12px;
		border: none;

		&:hover {
			background-color: var(--menu-item-select);
		}

		&%reactionMe {
			background-color: hsla(var(--accent-hsl),0.3);

			%reactionCount {
				color: var(--accent-text-color);
				font-weight: 400;
			}
		}
	}
}

/*
 *
 *	CONTEXT MENU QUICK REACTIONS
 *
 */

%contextMenuQuickReaction {
	background-color: var(--menu-item-hover);

	&:hover {
		background-color: var(--menu-item-select);
	}
}
