@use '../classes' as *;

/*
 *
 *	MESSAGE REACTIONS
 *
 */

#{ $reactions } {
	margin: 8px 0 0 0;
	padding-bottom: 0;
	gap: 4px;

	> div:empty {
		margin-left: -4px;
    }

	#{ $reactionBtn } {
		margin-bottom: 0;
        background-color: transparent;
        border: none;

        &:hover {
            background-color: transparent;
        }
	}
}

#{ $reaction } {
	margin: 0;
	background-color: transparent;
	border-radius: 8px;
	border-color: var(--separator-color);

	&:hover {
		background-color: var(--menu-item-hover);
		border-color: transparent;
	}

	&#{ $reactionMe } {
		background-color: hsl(var(--accent-hsl--material-you),0.2);
		border-color: hsl(var(--accent-hsl--material-you));

		#{ $reactionCount } {
			color: hsl(var(--accent-hsl--material-you));
		}
	}
}

/* MESSAGE REACTIONS -> REVERT BUTTONS TO REACTION STYLE */

#{ $embedComponent } {
	&#{ $buttonFilled } {
		--button-height: 28px;
		--button-padding-start: 8px;
		--button-padding-end: 8px;
        --button-background: var(--input-color-alt);
		--button-text-color: var(--input-text-color);

		#{ $embedEmoji } {
			width: calc(var(--button-height) - 8px);
			height: calc(var(--button-height) - 8px);
		}

        &#{ $buttonBrand } {
            --button-background: hsl(var(--accent-hsl--material-you));
			--button-text-color: var(--accent-text-color--material-you);
        }
	}
}
