@use "../classes" as *;

/*
 *
 *	SUMMARY CONTENT
 *
 */

#{ $summaryStartContent } {
  margin-inline-start: 0;
  background-color: hsl(var(--accent-hsl--material-you));
  border-radius: 13px !important;
  color: var(--accent-text-color--material-you);

  #{ $summaryStartIcon } {
    color: inherit;
  }
}

#{ $summaryEndContent } {
  height: auto;
  padding: 0 !important;
}

#{ $summaryEndIcon } {
  position: relative;
  inset-block-start: -4px;
  padding-inline-start: 16px;
  background-color: var(--chat-color);
  color: hsl(var(--accent-hsl--material-you));
}

#{ $summaryDividerEnd } {
  inset-block-start: 0 !important;
  margin-block-start: 1.5em !important;
}

#{ $summaryFeedbackWrapper } {
  margin-inline-start: 0;
  padding: 4px 12px;
  background-color: hsl(var(--accent-hsl--material-you));
  border-radius: 13px;

  #{ $textXsMedium } {
    font-size: 14px;
    color: var(--accent-text-color--material-you) !important;
  }

  #{ $summaryThumbIcon } {
    padding: 3px;
    background-color: var(--accent-text-color--material-you);
    color: hsl(var(--accent-hsl--material-you));
  }
}
