/*
 *
 *	SUMMARY CONTENT
 *
 */

%summaryStartContent {
    margin-left: 0;
    background-color: hsl(var(--accent-hsl--material-you));
    border-radius: 13px !important;
    color: var(--accent-text-color--material-you);

    %summaryStartIcon {
        color: inherit;
    }
}

%summaryEndContent {
    height: auto;
    padding: 0 !important;
}

%summaryEndIcon {
    position: relative;
    top: -4px;
    padding-left: 16px;
    background-color: var(--chat-color);
    color: hsl(var(--accent-hsl--material-you));
}

%summaryDividerEnd {
    top: 0 !important;
    margin-top: 1.5em !important;
}

%summaryFeedbackWrapper {
    margin-left: 0;
    padding: 4px 12px;
    background-color: hsl(var(--accent-hsl--material-you));
    border-radius: 13px;

    %textXSMedium {
        font-size: 14px;
        color: var(--accent-text-color--material-you) !important;
    }

    %summaryThumbIcon {
        padding: 3px;
        background-color: var(--accent-text-color--material-you);
        color: hsl(var(--accent-hsl--material-you));
    }
}
