@use '../classes' as *;
@use '../placeholders' as *;

/*
 *
 *	VIDEO PLAYER
 *
 */

#{ $player } {
    &[data-fullscreen="true"] {
        --video-controls-fullscreen-scale: 1.35;
    }
}

#{ $playerControlsHidden } {
    #{ $playerVideoControls } {
        transform: translateY(calc(100% + var(--space-16))) !important;
    }
}

#{ $playerVideoControls } {
    height: calc(var(--video-controls-height) * var(--video-controls-fullscreen-scale));
    inset-block-end: 0;
    padding-block-end: 0;
    padding-inline: var(--space-8);
    background-color: transparent;
    box-sizing: border-box;
    transition: var(--default-time) var(--default-animation) transform;

    #{ $flexHorizontal } {
        position: absolute;
        width: calc(100% - (var(--space-8) * 2));
        inset-block-start: -8px;
    }

    #{ $flex } {
        @extend %playerVideoButton;

        position: absolute;
        inset-inline-start: calc((var(--video-controls-button-size) * var(--video-controls-fullscreen-scale)) + var(--space-16));
    }

    > div:not([class]) {
        display: flex;
        margin-inline-start: auto;
    }

    #{ $playerVolumeContainer },
    #{ $playerVolumeButton } {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #{ $playerVideoButton } {
        @extend %playerVideoButton;

        margin: 0;
    }

    #{ $playerDurationTimeWrapper } {
        display: flex;
        height: calc(var(--video-controls-button-size) * var(--video-controls-fullscreen-scale));
        margin-block: 0;
        margin-inline: calc((var(--video-controls-button-size) * var(--video-controls-fullscreen-scale)) + var(--space-16)) 0;
        padding-inline: calc((var(--video-controls-button-size) * var(--video-controls-fullscreen-scale)) / 3);
        background-color: var(--video-controls-button-color);
        border-radius: calc((var(--video-controls-button-size) * var(--video-controls-fullscreen-scale)) / 2);
        vertical-align: middle;
    }

    #{ $playerDurationTimeDisplay },
    #{ $playerDurationTimeSeparator } {
        display: flex;
        align-items: center;
    }

    #{ $playerVolumeSlider } {
        z-index: 3;
    }

    #{ $playerMediaBarInteraction },
    #{ $playerMediaBarInteractionDragging } {
        height: var(--progress-bar-height);
    }

    #{ $playerMediaBarInteraction } {
        &:hover {
            #{ $playerMediaBarWrapper } {
                height: var(--progress-bar-hover-height);
                box-shadow: none;
            }

            #{ $playerMediaBarGrabber } {
                background-color: hsl(var(--accent-hsl));
                transform: scale(1.75);
                box-shadow: var(--shadow-soft);
            }
        }
    }

    #{ $playerMediaBarInteractionDragging } {
        #{ $playerMediaBarWrapper } {
            height: var(--progress-bar-hover-height);
        }

        #{ $playerMediaBarGrabber } {
            background-color: hsl(var(--accent-hsl));
            transform: scale(1.75);
        }
    }

    #{ $playerMediaBarWrapper } {
        height: var(--progress-bar-height);
        transition: var(--default-time) var(--default-animation) height;
        box-shadow: none;
    }

    #{ $playerMediaBarProgress } {
        background-color: hsl(var(--accent-hsl));

        &:before,
        &:after {
            background-color: inherit;
        }
    }

    #{ $playerMediaBarGrabber } {
        width: var(--progress-grabber-size);
        height: var(--progress-grabber-size);
        margin: calc((var(--progress-grabber-size) / 2) * -1) calc((var(--progress-grabber-size) / 2) * -1) 0 0;
        border-radius: calc(var(--progress-grabber-size) / 2);
        background-color: hsl(var(--accent-hsl));
        transform: none;
    }

    #{ $playerVolumeSlider } {
        width: 30px;
        height: 90px;
        inset-inline: 50% 0;
        inset-block-end: calc(100% + var(--space-8));
        margin-block-end: 0;
        margin-inline-start: 0;
        transform: translate(-50%, 0%);

        #{ $playerVolumeMediaBar } {
            position: absolute;
            inset-block-start: 50%;
            inset-inline-start: 50%;
            transform-origin: center;
            transform: translate(-50%, -100%) rotate(-90deg);
        }
    }
}
