@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS CONTENT MODERATION
 *
 */

%contentModerationEditCard {
    @include card-format(true);

    &:before {
        display: none;
    }

    %contentModerationEditActionContainer {
        margin-top: 0;
    }

    &%contentModerationEditCardToggled {
        %contentModerationEditActionContainer {
            margin-top: 28px;
        }
    }

    %actionRuleContainer {
        background-color: var(--card-color);
    }
}

%triggerMainContainer {
    margin: 8px 0;
    padding: 0;
    border: none
}

%keywordListContainer,
%actionContainer {
    padding: 12px 16px;
    @include card-format(false, true);
}

%actionContainer {
    %actionContainer {
        padding: 0;
        background-color: transparent;
    }
}

%triggerSettingsSearchContainer {
    %popoutSearchRichTag {
        margin: 4px 0 4px 4px;
        background-color: var(--card-color);
        border-radius: 13px;
    }
}

%keywordsTextArea {
    background-color: rgba(var(--textarea-color), var(--textarea-alpha));
    border-radius: 18px;
    border: none;
    transition: var(--transition-time) var(--transition-type);

    &:focus {
        background-color: rgba(var(--textarea-color), var(--textarea-alpha-focus))
    }

    &::-webkit-input-placeholder {
        color: var(--textarea-placeholder-color);
    }
}

%dividerContainer {
    margin: 6px auto 0;

    %dividerIcon {
        color: var(--text-muted);
    }
}

%resultsList {
    border: none;
    @include add-translucence(null, true, true, true);

    %resultsChannelRowLabel,
    %resultsRoleLabel {
        background-color: var(--card-color);
        border-radius: 12px;
    }
}
