@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS ROLES
 *
 */

%guildSettingsRoleDefaultPermissions {
    @include card-format(false, true);
}

%guildSettingsRoleBackContainer {
    margin: 0;
    background-color: var(--app-foreground);
}

%guildSettingsRoleHeader {
    background-color: var(--app-foreground);
}

%guildSettingsRoleSidebarList {
    padding: 0 16px 96px 16px;
}



%guildSettingsRoleContentContainer {
    position: relative;
    width: 100%;
    left: 0;

    %guildSettingsRoleContentWidth {
        width: 100%;
        padding-right: 24px;
    }

    %guildSettingsRoleHeaderContainer {
        right: 0;
    }
}
