@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS SAFETY SETUP
 *
 */

%safetySetupChangelog {
    @include card-format;
}

%safetySetupChecklist {
    @include card-format;
}

%safetySetupCard {
    @include card-format;
}

%safetySetupGroupContainer {
    background-color: transparent;

    &:active {
        background-color: transparent;
    }

    &:before {
        display: none;
    }

    &%safetySetupGroupContainerToggled {
        &:active {
            background-color: transparent;
        }
    }
}

%safetySetupGroupCollapsedContainer {
    margin-top: 16px;
    @include card-format;

    %safetySetupGroupCollapsedPointer {
        top: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: transparent;
        border: 10px solid transparent;
        border-bottom-color: var(--card-color);
        transform: none;
    }
}

%safetySetupClickableContainer {
    background-color: transparent;
}

%safetyCardBackgroundModifierContainer {
    border-radius: var(--card-radius);

    &:hover {
        &:not(%safetyCardBackgroundModifierDisabled) {
            &:not(%safetyCardBackgroundModifierNoAction) {
                background-color: var(--card-color-hover);
            }
        }
    }

    &%safetyCardBackgroundModifierSelected {
        background-color: var(--card-color-active) !important;

        %safetySetupRadioItem {
            color: hsl(var(--accent-hsl));
        }
    }
}
