/*
 *
 *  SERVER SETTINGS STICKERS
 *
 */

%stickersTierHeader {
    background-color: var(--card-color) !important;
    border-radius: var(--card-radius) var(--card-radius) 0 0;
    border-bottom: 1px solid var(--card-border-color);

    &%stickersTierHeaderWithoutCardBody {
        border-radius: var(--card-radius);
        border-bottom: none;
    }
}

%stickersTeirBody {
    background-color: var(--card-color) !important;
    border-radius: 0 0 var(--card-radius) var(--card-radius);
}

%stickersUploadCard {
    background-color: var(--card-color);
    border-radius: var(--card-radius);

    &:hover {
        background-color: var(--card-color-hover);
    }

    %stickersCardButtons {
        background-color: var(--card-color-active);
        box-shadow: var(--default-shadow);
    }
}

%stickersPlaceholderCard {
    border-radius: var(--card-radius);
    border: 1px solid var(--card-border-color);
}
