@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  ACTIVITY LIST
 *
 */

#{ $nowPlayingColumn },
#{ $nowPlayingColumnContainer } {
    background-color: transparent;
}

#{ $nowPlayingColumnScroller } {
    margin-left: 0;
}

#{ $emptyActiveNowCard } {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
}

#{ $activeNowCardInteractive } {
    @include card-format(true, true);

    #{ $activeNowCardInset } {
        background-color: transparent;
    }

    #{ $activeNowCardSection } {
        margin-bottom: 2px;
        background-color: var(--background-modifier-hover);
        border-radius: var(--card-radius);

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    #{ $activeNowCardSeparator } {
        display: none;
    }
}
