@use '../classes' as *;

/*
 *
 *  ADD FRIEND
 *
 */

#{ $friendsAddFriendInputWrapper } {
    padding: 0;
    background-color: transparent;
    border: none;

    #{ $friendsAddFriendInput } {
        padding: 0;

        #{ $input } {
            padding: 0 12px;

            &::-webkit-input-placeholder {
                color: var(--textarea-placeholder-color);
            }
        }
    }

    #{ $friendsAddFriendHint } {
        height: var(--input-height);
        line-height: var(--input-height);
        top: 1px;
        padding: 0 12px;
        color: var(--textarea-placeholder-color);
    }
}
