/*
 *
 *  FRIENDS LIST
 *
 */

%friends {
    background-color: var(--main-content-color) !important;
}

%friendsTabBody {
    &:before {
        display: none;
    }
}

%friendsBlockedIgnoredSettingsNotice {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
}

%friendsSearchBar {
    background-color: rgba(var(--textarea-color),var(--textarea-alpha));
	border-radius: 17px;

	%friendsSearchBarInput {
		background-color: transparent !important;
	}
}

%friendsItem {
    &:hover {
        background-color: var(--card-color-hover);
        border-radius: var(--list-item-radius);
    }

    &%friendsItemActive {
        background-color: var(--card-color-select);
    }

    %friendActionButton {
        background-color: var(--background-modifier-active);
    }
}
