@use '../classes' as *;

/*
 *
 *  MESSAGE REQUESTS
 *
 */

 #{ $messageRequestContainer } {
     #{ $messageRequestsSectionTitle } {
         color: var(--header-secondary);
     }
 }

#{ $messageRequestItem } {
    &:hover,
    &#{ $messageRequestItemSelected } {
        border-radius: var(--card-radius);
    }

    &:hover {
        background-color: var(--card-color-hover);
    }

    &#{ $messageRequestItemSelected } {
        background-color: var(--card-color-select);
    }

    #{ $messageRequestItemActionButton } {
        background-color: var(--background-modifier-active);
    }
}

/* MESSAGE REQUESTS -> PREVIEW */

#{ $dmContainer } {
    background-color: var(--main-content-color);
}

#{ $dmChat } {
    &:before {
        display: none;
    }
}
