@use '../classes' as *;

/*
 *
 *  NITRO
 *
 */

#{ $nitroHomePage } {
    background-color: var(--main-content-color);
    border-start-end-radius: var(--app-radius);
    border-end-end-radius: var(--app-radius);

    #{ $nitroHomePageScroller } {
		background-color: transparent;
	}
}

#{ $nitroHomeWrapper } {
    background-color: transparent;
    border-block-start: none;
}

#{ $nitroHomeMainPageScroller } {
	background: transparent;
}

#{ $nitroPremiumContainer },
#{ $nitroSettingsContainer },
#{ $nitroHomeTierCard } {
    #{ $button } {
        --button-background: hsla(0,0%,100%,0.15);
        --button-text-color: #fff;
        --button-action-color: #fff;
    }
}

#{ $nitroSettingsContainer },
#{ $nitroHomeTierCard } {
    border-radius: var(--card-radius);
}
