@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  NITRO
 *
 */

#{ $nitroHomePage } {
    background-color: var(--main-content-color);
}

#{ $nitroPremiumContainer },
#{ $nitroSettingsContainer },
#{ $nitroHomeTierCard } {
    #{ $button } {
        --button-background: hsla(0,0%,100%,0.15);
        --button-text-color: #fff;
        --button-action-color: #fff;
    }
}

#{ $nitroSettingsContainer },
#{ $nitroHomeTierCard } {
    border-radius: var(--card-radius);
}
