@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  QUESTS
 *
 */

#{ $questsHeaderContainer } {
    border-block-start: none;

    #{ $headerBar } {
        height: 56px;
        border-start-end-radius: var(--app-radius);

        &#{ $headerBarThemed } {
            background-color: var(--main-content-color);
        }
    }
}

#{ $questShelfCard },
#{ $questCard } {
    @include liquidGlassCard;
}

#{ $questShelfCardQuestLogo } {
    background-color: var(--card-color);
    border-radius: 50%;
}

#{ $questCardImageOverlay } {
    background: transparent;
}

#{ $questCardImageContainer },
#{ $questCardContentContainer } {
    background-color: transparent;
}
