@use '../classes' as *;

/*
 *
 *  SERVER FOLDERS
 *
 */

#{ $guildFolder } {
	background-color: transparent;

	&#{ $guildFolderHover } {
		background-color: var(--server-folder-color);
	}
}

#{ $guildsUndreadMentionsIndicatorTop } {
    + #{ $guildsItemsContainer } {
        #{ $guildFolder } {
            background-color: var(--server-folder-color);
        }
    }
}

#{ $guildFolderIconWrapper } {
	&[style*="background-color: rgba(88, 101, 242, 0.4)"] {
		background-color: hsla(var(--accent-hsl),0.4) !important;
	}
}
