@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  SERVERS LIST
 *
 */

#{ $guildsWrapper } {
	margin-bottom: calc(var(--custom-app-panels-height, 0) + 10px);
	background-color: var(--sidebar-color);

	#{ $guildsTree } {
		&:focus {
			outline: none;
		}
	}
}

#{ $guilds } {
	background-color: transparent !important;
}

#{ $guild } svg {
    filter: none;
}

#{ $guildChildWrapper },
#{ $circleIconButton } {
    @include app-accents(true, true);
}

#{ $channelsMentionIndicator } {
    @include app-accents;
}

#{ $numberBadge } {
    @include app-accents(true, true);
}

#{ $guildBadge } {
	&#{ $guildBadgeParticipating } {
        @include app-accents(false);

		path {
			fill: var(--accent-text-color);
		}
	}
}

#{ $guildPillItem } {
	background-color: var(--notification-color);
}

#{ $guildDiscoverFooter } {
    margin-top: 8px;
    padding-top: 0;
    background-color: transparent;
}

#{ $guildDiscoverGradient } {
    display: none;
}
