@use '../mixins' as *;

/*
 *
 *  SERVERS LIST
 *
 */

%guildsWrapper {
	background-color: var(--sidebar-color);

	%guildsTree {
		&:focus {
			outline: none;
		}
	}
}

%guilds {
	background-color: transparent !important;

	&::-webkit-scrollbar {
		width: 0 !important;
	}
}

%guild svg {
    filter: none;
}

%guildChildWrapper,
%circleIconButton {
    @include app-accents(true, true);
}

%channelsMentionIndicator {
    @include app-accents;
}

%numberBadge {
    @include app-accents(true, true);
}

%guildBadge {
	&%guildBadgeParticipating {
        @include app-accents(false);

		path {
			fill: var(--accent-text-color);
		}
	}
}

%guildPillItem {
	background-color: var(--notification-color);
}

%guildDiscoverFooter {
    background: var(--sidebar-color);
}
