@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  SETTINGS CONTENT AREA
 *
 */

#{ $settingsContentRegion } {
    background-color: var(--main-content-color);
    overflow: hidden;

    #{ $settingsContentH1 },
    #{ $headingLgSemibold },
    #{ $bdSettingsTitle } {
        font-size: 22px;
        font-weight: 400;
    }

    #{ $bdSettingsGroupTitle } {
        @include remove-caps(14px);
        font-weight: 500;
    }
}

#{ $eyebrow } {
    @include remove-caps(14px);
    font-weight: 500;
}

/* SETTINGS CONTENT AREA -> RESIZE CONTENT AREA */

#{ $settingsContentColumnDefault },
#{ $settingsContentColumnMinimal },
#{ $settingsContentColumnWide },
#{ $settingsCustomColumn },
#{ $settingsCustomScroller } > div,
#{ $settingsContent } {
    flex: 1 1 auto;
    min-width: 350px;
    max-width: 1400px;inset-inline-start: 0;inset-inline-end: 0;
    margin: 0 auto;
}

#{ $settingsContent } {
    display: flex;
    padding: 60px;
}

#{ $settingsContentColumnDefault },
#{ $settingsContentColumnWide } {
	padding: 60px;
}

#{ $settingsCustomContainer } {
    width: auto;

    #{ $settingsCustomScroller } {
        padding-inline-end: 0 !important;

        > div {
			position: relative;
			min-width: 350px;
			max-width: 1400px;
			margin: 0 auto 60px;
			padding: 60px 97px 60px 60px !important;
		}

		> #{ $settingsCustomHeader } {
			padding: 0;
		}

        #{ $settingsCustomHeader } {
            padding-block-start: 0;
        }
    }
}

#{ $settingsCustomColumn },
#{ $settingsContentRegion } div[role="tabpanel"] {
	+ #{ $settingsToolsContainer } {
		position: absolute;
		width: 60px;
		height: 60px;inset-inline-end: 0;

		#{ $settingsTools } {
			position: absolute;
			width: 36px;inset-inline-end: 0;
		}
	}
}

#{ $settingsContentColumnMinimal } {
	padding: 60px 80px 80px;
}

#{ $settingsContentSidebarScrollable } {
    #{ $settingsSide } #{ $settingsSideHeader }:first-child {
    	margin: 0 0 8px 0;
    	padding: 0 0 0 10px !important;
    }
}

#{ $settingsLeftContent },
#{ $settingsLeftColumn } {
    max-width: none;
}

/* SETTINGS CONTENT AREA V2 */

#{ $settingsV2Content } {
    background-color: var(--main-color);
    border-radius: var(--popout-radius-big);
}

#{ $settingsV2ContentHeader } {
    background-color: var(--main-color);
    border-bottom: none;

    #{ $headingMdMedium } {
        color: var(--header-primary) !important;
    }
}

#{ $settingsV2Panel } {
    max-width: 920px;
}
