@use '../mixins' as *;

/*
 *
 *  SETTINGS CONTENT AREA
 *
 */

%settingsContentRegion {
    background-color: var(--main-content-color);

    %settingsContentH1,
    %headingLgSemibold,
    %bdSettingsTitle {
        font-size: 22px;
        font-weight: 400;
    }

    %bdSettingsGroupTitle {
        @include remove-caps(14px);
        font-weight: 500;
    }
}

%eyebrow {
    font-weight: 500;
}
