@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  USER SETTINGS
 *
 */

#{ $layer },
#{ $standardSidebarView },
#{ $settingsContentRegion } {
    background-color: var(--main-alt);
}

#{ $settingsContentRegion } {
	border-radius: var(--card-radius-big) var(--card-radius-big) 0 var(--card-radius-big);
}

#{ $settingsContentScroller } {
    background-color: var(--main-color);
    border-radius: var(--card-radius-big) var(--card-radius-big) 0 var(--card-radius-big);
}

#{ $settingsCloseButton } {
	@include md-ripple(hover, after, 1.2);
	border: none;

	&:hover {
		background-color: transparent !important;
	}

	&:active {
		transform: translateX(0px);
	}
}

#{ $settingsNoticeRegion },
#{ $settingsSaveNoticeContainer } {
    left: 0;
    right: 0;
    margin: 0 auto;
}

#{ $settingsSaveNoticeContainer } {
    left: 252px;
}

#{ $settingsNoticeContainer } {
    padding: var(--space-8) var(--space-8) var(--space-8) var(--space-16);
    background-color: var(--popout-color);
    border-radius: 6px;
    box-shadow: var(--shadow-soft);
    border: none;

    #{ $buttonFilled } {
        --button-padding: 0 12px;
        --button-background: transparent;
        --button-text-color: hsl(var(--accent-hsl--material-you));

        --accent-button-action-hover: 0.14;
    	--accent-button-action-active: 0.21;

        &:after {
            --accent-button-action: hsl(var(--button-link-accent-color));
        }
    }
}

#{ $settingsNoticeMessage } {
    color: var(--interactive-text-default) !important;
}

#{ $settingsNoticeActions } {
    flex-direction: row-reverse;
}

#{ $settingsNoticeResetButton } {
    --button-padding: 0;

    min-width: var(--button-height);
    margin-left: 0;
    font-size: 0;

    &:before {
        display: flex;
        position: absolute;
        content: " ";
        width: 18px;
        height: 18px;
        @include add-icon(var(--interactive-text-default), close);
        transform: scale(1.333333);
    }

    #{ $buttonContents } {
        display: none;
    }
}

/* USER SETTINGS V2 */

#{ $settingsModalContent } {
    background-color: var(--main-alt);

    #{ $slider } {
        #{ $sliderTrack } {
            #{ $sliderGrabber } {
                --slider-grabber-background: var(--main-color);
            }
        }
    }
}

#{ $settingsV2Container } {
    background-color: var(--main-alt);
}

#{ $settingsV2SaveNoticeContainer } {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius);
    border: none;
    box-shadow: var(--shadow-soft);
}
