@use '../mixins' as *;

/*
 *
 *  SIDEBAR ICONS
 *
 */

/*%settingsSidebar {
    %tabBarItem {
        display: flex;
        gap: 8px;
        padding-left: 12px;

        &:before {
    		position: relative;
    		content: " ";
    		width: 20px;
    		height: 20px;
    		top: 0;
    		bottom: 0;
    		margin: auto 0;
    		background-repeat: no-repeat;
    		background-position: center;
    		opacity: 0.8;
    	}

        img {
            display: none;
        }
    }
}*/

%settingsSidebar {
    %tabBarItem {
        $icons: (
            // USER SETTINGS

            'my-account':                       'person',
            'profile-customization':            'edit',
            'privacy-&-safety':                 'security',
            'authorized-apps':                  'apps',
            'connections':                      'link',
            'passport':                         'link',
            'friend-requests':                  'person_add',

            'subscriptions':                    'subscription',
            'discord-nitro':                    'nitro',
            'nitro-server-boost':               'server_boost',
            'library-inventory':                'gift',
            'billing':                          'payment',

            'appearance':                       'chat',
            'accessibility':                    'accessibility',
            'voice-&-video':                    'mic',
            'powermode-settings':               'poggers',
            'text-&-images':                    'keyboard',
            'notifications':                    'notifications',
            'keybinds':                         'space_bar',
            'language':                         'translate',
            'windows':                          'windows',
            'linux':                            'linux',
            'streamer-mode':                    'live_tv',
            'advanced':                         'integrations',

            'activity-privacy':                 'verified_user',
            'game-activity':                    'gamepad',
            'overlay':                          'picture_in_picture',

            'settings':                         'settings',
            'emotes':                           'emoji',
            'customcss':                        'code',
            'plugins':                          'plugins',
            'themes':                           'themes',
            'pluginrepo':                       'plugins',
            'themerepo':                        'themes',

            'changelog':                        'list',
            'hypesquad-online':                 'hypesquad',
            'experiments':                      'settings',
            'developer-options':                'code',
            'hotspot-options':                  'settings',
            'dismissible-content-options':      'settings',
            'payment-flow-modals':              'settings',

            'pc-general':                       'settings',
            'pc-modulemanager-plugins':         'plugins',
            'pc-modulemanager-themes':          'themes',
            'pc-updater':                       'update',
            'logout':                           'exit_to_app',

            // SERVER SETTINGS

            'overview':                         'dashboard',
            'permissions':                      'lock_open',
            'roles':                            'person',
            'emoji':                            'emoji',
            'stickers':                         'sticker-emoji',
            'moderation':                       'security',
            'guild_automod':                    'moderation',
            'audit_log':                        'audit_log',
            'integrations':                     'integrations',
            'widget':                           'widgets',
            'guild_templates':                  'template',

            'vanity_url':                       'link',
            'community':                        'dashboard',
            'analytics':                        'analytics',
            'text_in_voice':                    'chat_bubbles',
            'partner':                          'partner_program',
            'discovery':                        'discovery',
            'member_verification':              'verified_user',
            'community_welcome':                'partner_program',

            'threads':                          'chat',
            'guild_premium':                    'server_boost',

            'members':                          'people',
            'instant_invites':                  'person_add',
            'bans':                             'hammer',
            'delete':                           'delete'
        );

        @each $tab, $icon in $icons {
			&[aria-controls="#{$tab}-tab"]:before {
                //@include add-icon(var(--text-normal), #{$icon});
			}
		}
    }
}
