@use '../mixins' as *;

/*
 *
 *  SIDEBAR ICONS
 *
 */

/*%settingsSidebar {
    %tabBarItem {
        display: flex;
        gap: 8px;
        padding-left: 12px;

        &:before {
    		position: relative;
    		content: " ";
    		width: 20px;
    		height: 20px;
    		top: 0;
    		bottom: 0;
    		margin: auto 0;
    		background-repeat: no-repeat;
    		background-position: center;
    		opacity: 0.8;
    	}

        img {
            display: none;
        }
    }
}

%settingsTabBarItemContainer {
    width: 100%;
}*/

%settingsSidebar {
    %tabBarItem {
        $icons: (
            // USER SETTINGS

            'My Account':                       'person',
            'Profiles':                         'edit',
            'privacy-&-safety':                 'security',
            'authorized-apps':                  'apps',
            'Devices':                          'devices',
            'Connections':                      'link',
            'Passport':                         'link',
            'friend-requests':                  'person_add',

            'Nitro':                            'nitro',
            'nitro-server-boost':               'server_boost',
            'Subscriptions':                    'subscription',
            'Gift Inventory':                   'gift',
            'billing':                          'payment',

            'appearance':                       'chat',
            'accessibility':                    'accessibility',
            'voice-&-video':                    'mic',
            'powermode-settings':               'poggers',
            'text-&-images':                    'keyboard',
            'notifications':                    'notifications',
            'keybinds':                         'space_bar',
            'language':                         'translate',
            'windows':                          'windows',
            'linux':                            'linux',
            'streamer-mode':                    'live_tv',
            'advanced':                         'integrations',

            'activity-privacy':                 'verified_user',
            'game-activity':                    'gamepad',
            'overlay':                          'picture_in_picture',

            'settings':                         'settings',
            'emotes':                           'emoji',
            'customcss':                        'code',
            'plugins':                          'plugins',
            'themes':                           'themes',
            'pluginrepo':                       'plugins',
            'themerepo':                        'themes',

            'changelog':                        'list',
            'hypesquad-online':                 'hypesquad',
            'experiments':                      'settings',
            'developer-options':                'code',
            'hotspot-options':                  'settings',
            'dismissible-content-options':      'settings',
            'payment-flow-modals':              'settings',

            'pc-general':                       'settings',
            'pc-modulemanager-plugins':         'plugins',
            'pc-modulemanager-themes':          'themes',
            'pc-updater':                       'update',
            'logout':                           'exit_to_app',

            // SERVER SETTINGS

            'overview':                         'dashboard',
            'permissions':                      'lock_open',
            'Manage Roles':                 'person',
            'emoji':                            'emoji',
            'Stickers':                     'sticker-emoji',
            'Integrations':                 'integrations',
            'widget':                           'widgets',
            'Server Template':              'template',
            'vanity_url':                       'link',

            'moderation':                       'security',
            'AutoMod':                      'moderation',
            'audit_log':                        'audit_log',
            'bans':                             'hammer',

            'Overview':                     'dashboard',
            'Server Insights':              'analytics',
            'Partner Program':              'partner_program',
            'Enable Discovery':             'discovery',
            'member_verification':              'verified_user',
            'Welcome Screen':               'partner_program',
            'Default Channels':             'hub',
            'Starter Questions':            'help',
            'Premium Membership':           'monetization_on',

            'Server Boost Status':          'server_boost',

            'members':                          'people',
            'instant_invites':                  'person_add',
            'Delete Server':                'delete'
        );

        @each $tab, $icon in $icons {
			&[aria-label="#{$tab}"]:before {
                //@include add-icon(var(--text-normal), #{$icon});
			}
		}
    }
}
