@use '../mixins' as *;

/*
 *
 *  USER SETTINGS
 *
 */

%layer,
%standardSidebarView {
    background-color: var(--main-alt);
}

%settingsContentRegion {
    background-color: var(--main-color);
	border-radius: var(--card-radius-big) var(--card-radius-big) 0 var(--card-radius-big);

    %settingsContentScroller {
        background-color: transparent;
    }
}

%settingsCloseButton {
	@include md-ripple(hover, after, 1.2);
	border: none;

	&:hover {
		background-color: transparent !important;
	}

	&:active {
		transform: translateX(0px);
	}
}

%settingsNoticeRegion,
%settingsSaveNoticeContainer {
    left: 0;
    right: 0;
    margin: 0 auto;
}

%settingsSaveNoticeContainer {
    left: 252px;
}

%settingsNoticeContainer {
    padding: 8px 8px 8px 16px;
    background-color: var(--popout-color) !important;
	border-radius: 4px;
	box-shadow: var(--shadow-2dp) !important;

    %settingsNoticeActions {
        flex-direction: row-reverse;
    }

    %buttonFilled {
        --button-padding: 0 12px;
        --button-background: transparent;
        --button-text-color: hsl(var(--accent-hsl--material-you));

        --accent-button-action-hover: 0.14;
    	--accent-button-action-active: 0.21;

        &:after {
            --accent-button-action: hsl(var(--button-link-accent-color));
        }
    }

    %settingsNoticeResetButton {
        --button-padding: 0;

        min-width: var(--button-height);
        margin-left: 0;
        font-size: 0;

        &:before {
            display: flex;
            position: absolute;
            content: " ";
            width: 18px;
            height: 18px;
            @include add-icon(var(--text-normal), close);
            transform: scale(1.333333);
        }
    }
}

.keybind-13vtq8 {
	color: var(--text-muted) !important;
}

%settingsMixTestButton {
    width: auto;
}

/* USER SETTINGS -> ANIMATION */

%layer.animating {
	pointer-events: initial !important;
	will-change: transform, opacity;
}

%themeDark %standardSidebarView,
%themeLight %standardSidebarView {
	backface-visibility: hidden;
}

%layer {
	transform: none !important;
	transition: 300ms var(--default-animation) all;
	backface-visibility: hidden;
}

%layer%layerAnimating {
	transform: none !important;
}

%layer.stop-animations:first-of-type {
	transform: scale(0.95) !important;
	opacity: 0 !important;
}

%layer + %layer {
	transform: scale(1.1) !important;
	opacity: 0 !important;
	pointer-events: none !important;
	transition: 300ms var(--default-animation) all, 150ms ease opacity;
}

%layer.stop-animations ~ %layer {
	pointer-events: initial !important;
	transform: none !important;
	opacity: 1 !important;
	animation: opensettings 300ms var(--default-animation);
}

@keyframes opensettings {
	0% {
		transform: scale(1.1);
		opacity: 0;
	}
}
