@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  SETTINGS CONTENT AREA
 *
 */

#{ $settingsContentRegion } {
    background-color: transparent;
}

#{ $settingsNoticeContainer } {
    @include liquidGlass;
}

#{ $settingsContentScroller } {
    background-color: transparent;
}

/* SETTINGS CONTENT AREA V2 */

#{ $layer } {
    background-color: transparent;
}

#{ $settingsModal } {
    //backdrop-filter: none;
}

#{ $settingsV2Content },
#{ $settingsV2ContentHeader } {
    background-color: transparent;
}

#{ $scrim } {
    background-color: transparent;
    backdrop-filter: blur(5px);
}
