@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  SETTINGS CONTENT AREA
 *
 */

#{ $settingsContentRegion } {
    background-color: var(--main-content-color);
}

#{ $settingsNoticeContainer } {
    @include add-translucence(null, true, true, true);
}

/* SETTINGS CONTENT AREA V2 */

#{ $settingsModal } {
    backdrop-filter: none;
}

#{ $settingsV2Content },
#{ $settingsV2ContentHeader } {
    background-color: transparent;
}

#{ $scrim } {
    backdrop-filter: blur(var(--app-blur));
}
