/*
 *
 *  SETTINGS SIDEBAR
 *
 */

%settingsSidebarScroller {
    background-color: var(--sidebar-color);
}

%settingsSide {
    %item {
        border-radius: var(--list-item-radius);
    }
}

%itemPremiumSelectedBackground {
    display: none;
}
