@use '../classes' as *;

/*
 *
 *  SETTINGS SIDEBAR
 *
 */

#{ $settingsSidebarScroller } {
    background-color: var(--sidebar-color);
}

#{ $settingsSide } {
    #{ $item } {
        border-radius: var(--list-item-radius);
    }
}

#{ $itemPremiumSelectedBackground } {
    display: none;
}

/* SETTINGS SIDEBAR V2 */

#{ $settingsV2SidebarFixedContent } {
    &:after {
        display: none;
    }
}
