@use '../classes' as *;

/*
 *
 *  SETTINGS SIDEBAR
 *
 */

#{ $standardSidebarView } {
    margin-block-start: var(--custom-app-top-bar-height);
    background-color: transparent;
    border-radius: var(--app-radius);
    backdrop-filter: blur(var(--app-blur));
    overflow: hidden;
}

#{ $settingsSidebarScroller } {
    background-color: var(--sidebar-color);
}

#{ $platformWin } {
    #{ $settingsContentScroller } {
        margin-block-start: 0;
    }
}

#{ $settingsSide } {
    #{ $item } {
        border-radius: var(--list-item-radius);
    }
}

#{ $itemPremiumSelectedBackground } {
    display: none;
}

/* SETTINGS SIDEBAR V2 */

#{ $settingsV2SidebarFixedContent } {
    &:after {
        display: none;
    }
}
