@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS ACTIVITY STATUS
 *
 */

#{ $settingsGameNotDetectedCard } {
    @include card-format(true);
}

#{ $settingsGameContainer } {
    box-shadow: 0 1px 0 0 var(--background-modifier-accent) !important;

    #{ $settingsGameNameInput } {
        border: none;

        &:hover,
        &:focus {
            @include input-format(auto);
        }
    }

    #{ $settingsGameLastPlayed } {
        color: var(--text-muted);
    }
}
