@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS BILLING
 *
 */

#{ $paymentPane } {
    @include card-format(true);

    > #{ $paymentRow } {
        @include card-format--header;
    }

    #{ $paymentPaginator } {
        background-color: transparent !important;
    }

    #{ $paymentBottomDivider }#{ $scroller } {
        border-bottom: none;
    }
}

#{ $payment } {
    background-color: transparent !important;

    &#{ $paymentBottomDivider } {
        border-bottom-color: hsla(0,0%,100%,0.1);
    }
}

#{ $paymentExpandedInfo } {
    @include card-format(true);
}

#{ $paymentPageButtonPrev },
#{ $paymentPageButtonNext },
#{ $paymentPageIndicator } {
    background-color: var(--card-color);
    border: none;
}

#{ $paymentPageButtonPrev },
#{ $paymentPageButtonNext } {
    &:not(#{ $paymentPageButtonDisabled }) {
        &:hover {
            background-color: var(--card-color-hover);
        }
    }
}

#{ $paymentPageButtonPrev } {
    border-radius: 21px 0 0 21px;
}

#{ $paymentPageButtonNext } {
    border-radius: 0 21px 21px 0;
}
