@use '../../mixins' as *;

%accountList {
    padding: 0;
    @include card-format;

    %accountListHeader {
        padding: 16px;
        margin-bottom: 0;
        @include card-format--header;
    }

    %textXsNormal {
        padding: 16px 16px 0;
    }

    %connectionsContainer {
        margin-top: 0;
        padding: 16px;
    }

    %connectionsAccountsButtonInner {
        @include card-format(false, true);
    }
}

%connectionCard {
    @include card-format;

    %connectionCardHeader {
        @include card-format--header;
    }
}
