@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS DEVICES
 *
 */

#{ $deviceSession } {
    padding: 16px;
    background-color: var(--card-color);

    &:first-of-type {
        margin-top: 12px;
        border-radius: var(--card-radius) var(--card-radius) 0 0;
    }

    &:last-of-type {
        border-radius: 0 0 var(--card-radius) var(--card-radius);
        border-bottom: none;
    }

    &:only-child {
        border-radius: var(--card-radius);
    }
}
