@use '../../classes' as *;

/*
 *
 *  USER SETTINGS GAME OVERLAY
 *
 */

#{ $settingsGameOverlayCard } {
    border-radius: var(--card-radius);
    border-color: hsla(var(--accent-hsl),var(--accent-opacity));

    #{ $settingsGameOverlayCardOption } {
        border-radius: var(--card-radius);

        &:hover,
        &#{ $settingsGameOverlayCardOptionSelected } {
            background-color: hsla(var(--accent-hsl),var(--accent-opacity));
            border-color: hsla(var(--accent-hsl),var(--accent-opacity));
        }
    }
}
