@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS MY ACCOUNT
 *
 */

#{ $settingsAccountProfileCard } {
    @include card-format;

    #{ $avatarWrapper } {
        background-color: transparent;
    	border: none;
    	box-shadow: var(--popout-shadow);

    	svg {
    		filter: none;
    	}
    }

    #{ $settingsUserBackground } {
        @include card-format;

        #{ $fieldList } {
            background-color: transparent;
        }
    }
}

#{ $settingsCredentialList } {
    margin-bottom: 16px;
    padding: 8px;
    @include card-format;
}

#{ $settingsCredentialItem } {
    border-radius: calc(var(--card-radius) / 1.65);
    border-top: none;

    &:not(:last-child) {
        margin-bottom: 0;
    }

    &:hover {
        background-color: var(--background-modifier-hover);
    }
}
