@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS PARYT MODE
 *
 */

#{ $achievementContainer } {
    @include card-format(false, true);
}

#{ $achievmentCardContainer } {
    @include card-format(false, true);

    #{ $achievementCardIcon } {
        background-color: var(--card-color);
    }
}

#{ $achievement } {
    @include add-translucence(before, true);

    #{ $achievementIcon } {
        background-color: rgba(0,0,0,0.35);
    }

    .text-md-semibold-3xVVGu,
    .text-xs-medium-2LRpEj {
        color: var(--text-normal) !important;
    }
}

#{ $comboNameplate } {
    @include add-translucence(before, true);

    #{ $comboMultiplier } {
        color: hsl(var(--accent-hsl)) !important;
    }
}

#{ $fileProgressBar } {
    background-color: hsl(var(--accent-hsl)) !important;
}
