@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS PROFILE
 *
 */

#{ $settingsUpsellOverlayContainer } {
    border-radius: var(--card-radius);
    overflow: hidden;
}

#{ $settingsUpsellOverlay } {
    border-radius: 0;
}

#{ $settingsProfileSwatch } {
    border-radius: var(--card-radius);
}

#{ $settingsProfileBioTextArea } {
	background-color: rgba(var(--textarea-color),var(--textarea-alpha));
	border-radius: var(--textarea-radius);
	border: none;
}

#{ $settingsProfileBannerPreview } {
	@include add-translucence(null, true);

    #{ $avatarUploaderInner } {
    	border: none;
    	box-shadow: var(--popout-shadow);

        &:hover {
            box-shadow: var(--popout-shadow), inset 0 0 120px rgb(0 0 0 / 75%);
        }
    }

	#{ $settingsProfileFakeActivityWrapper } {
		padding: 0 16px 0;
	}
}
