@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS SERVER BOOST
 *
 */

#{ $settingsServerBoostBannerGradient } {
    margin-bottom: 40px;
    border-radius: var(--card-radius);
}

#{ $settingsServerBoostHeader } {
    @include card-format;
}

#{ $settingsServerBoostHeaderBorder } {
    display: none;
}

#{ $settingsServerBoostGuildContainer },
#{ $settingsServerBoostGuildNotSeenWrapper } {
    @include card-format;
}

#{ $settingsServerBoostPerksWrapper } {
    border-radius: var(--card-radius);

    #{ $settingsServerBoostPerksCard } {
        background-color: var(--card-color-select);
        border-radius: var(--card-radius);
        backdrop-filter: blur(var(--app-blur));
    }
}

#{ $settingsServerBoostFAQCard } {
    @include card-format;
}
