@use '../../classes' as *;

/*
 *
 *  USER SETTINGS VOICE & VIDEO
 *
 */

#{ $cameraWrapper } {
    background: var(--card-color);
    border-radius: var(--card-radius);
    border-color: hsla(var(--accent-hsl), var(--accent-opacity));
    border-width: 2px;
}
