@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  FORUM
 *
 */

#{ $forumContainer } {
    background: transparent;
}

#{ $forumHeader } {
    @include card-format;

    &#{ $forumHeaderWithMatchingPosts } {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

#{ $forumHeaderMatchingPostsRow } {
    background-color: var(--card-color);
    border-radius: 0 0 var(--card-radius) var(--card-radius);
}

#{ $forumGuidelinesContainer } {
    @include card-format;
}

#{ $forumGuidelinesDescriptionContainer } {
    @extend #{ $forumGuidelinesContainer };
}

#{ $forumTagsContainer } {
    padding: 16px 0 0;
}

#{ $forumSortDropdown } {
    #{ $buttonContents } {
        color: var(--accent-text-color);
    }
}

#{ $forumSortDropdownText } {
    color: inherit !important;
}

#{ $forumSortContainer } {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;

    #{ $menuPopout } {
        min-width: unset;

        #{ $menuPopoutGroupLabel } {
            padding-top: 0;
        }
    }
}

#{ $forumTagsButton } {
    --button-padding: 0 8px 0 12px;

    &#{ $forumTagsButtonWithCount } {
        --button-padding: 0 8px;
    }

    #{ $forumTagsButtonInner } {
        color: inherit;
    }

    svg {
        color: var(--accent-text-color);
    }
}

#{ $forumTagsCountContainer } {
    background-color: var(--accent-text-color);

    #{ $forumTagsCountText } {
        color: hsl(var(--accent-hsl));
    }
}

#{ $forumFilterContainer } {
    padding: 16px 16px 8px;
    @include add-translucence(null, true, true, true);

    #{ $forumFilterHeader } {
        padding: 0;
    }

    #{ $forumFilterCountContainer } {
        background-color: hsl(var(--accent-hsl));

        #{ $forumFilterCountText } {
            color: var(--accent-text-color);
        }
    }
}

#{ $forumCard } {
    padding-bottom: 16px;

    &[style*="height: 558px"] {
        padding-bottom: 0;
    }
}

/* FORUM -> PILLS */

#{ $postPill } {
    background-color: var(--card-color) !important;
    border: none;

    &#{ $postPillClickable } {
        &:hover {
            background-color: var(--card-color-hover) !important;
        }
    }

    &#{ $postPillSelected } {
        background-color: hsl(var(--accent-hsl),0.3) !important;

        &:hover {
            background-color: hsl(var(--accent-hsl),0.4) !important;
        }

        #{ $postPillText } {
            color: hsl(var(--accent-hsl));
        }
    }
}
