@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  FORUM POSTS
 *
 */

#{ $postContainer } {
    @include liquidGlassCard($hover: true);

    &#{ $postContainerIsOpen } {
        background-color: var(--card-color-select);
        box-shadow: var(--popout-shadow-border);
    }

    &:not(#{ $postContainerIsOpen }) {
        &:hover {
            #{ $postContentPreview } {
                background-color: var(--card-color);
            }
        }
    }
}

#{ $postPinIcon } {
    background-color: hsl(var(--accent-hsl));

    svg {
        filter: none;
    }

    path {
        fill: var(--accent-text-color);
    }
}

#{ $postContentPreview },
#{ $postTextContentFooter } {
    background-color: var(--card-color-hover);
}

#{ $postContentPreview } {
    border-radius: var(--card-radius);
    border: none;
}

#{ $postTextContentFooter } {
    background: transparent !important;
}

#{ $postThreadStartConversationBox } {
    @include card-format;

    &:after {
        inset-inline-start: 50px;
    }
}

#{ $postThreadButtonContainer } {
    @include liquidGlassFallback;
    overflow: hidden;
}

#{ $postThreadButtons } {
    #{ $button } {
        --button-padding: 0;
    }
}
