@use '../mixins' as *;

/*
 *
 *  CONTEXT MENU
 *
 */

%menuPopout {
    @include add-translucence(before, true);

    %menuPopoutItem {
        border-radius: var(--popout-radius);

        &%menuPopoutItemHover {
            background-color: var(--background-modifier-selected);
        }
    }

    %contextMenuItemSubMenuAlt {
        &:before {
            width: calc(100% - 16px);
            left: 8px;
        }
    }
}
