@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  CONTEXT MENU
 *
 */

#{ $menuPopout } {
    @include add-translucence(before, true);

    #{ $menuPopoutItem } {
        border-radius: var(--popout-radius);

        &#{ $menuPopoutItemHover } {
            background-color: var(--background-modifier-selected);
        }
    }

    #{ $contextMenuQuickReaction } {
        background-color: var(--card-color);

        &:hover {
            background-color: var(--card-color-hover);
        }
    }

    /* CONTEXT MENU -> NESTED WORKAROUND */
    &#image-context {
        background-color: var(--popout-color);
        backdrop-filter: blur(var(--popout-blur));
        box-shadow: var(--popout-shadow);

        &:before {
            display: none;
        }
    }
}

#{ $layerContainer } {
    #{ $backdrop } {
        + #{ $popoutLayerAlt } + #{ $popoutLayer } {
            #{ $menuPopout } {
                backdrop-filter: blur(var(--popout-blur));
            }
        }
    }
}

#{ $popoutLayer } ~ #{ $popoutLayer } {
    #{ $menuPopout } {
        backdrop-filter: blur(var(--popout-blur));
    }
}

/* CONTEXT MENU -> CHECKBOX */

#{ $menuPopoutIcon } {
    filter: none !important;
}
