@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  EMOJI PICKER
 *
 */

#{ $emojiWrapper },
#{ $emojiPicker } {
	background-color: transparent;
}

#{ $emojiWrapper } {
    @include add-translucence(before, true);
}

#{ $emojiWrapperChat } {
    &:not(#{ $emojiPickerHasTabWrapper }) {
        @include add-translucence(before, true);
    }
}

/* EMOJI PICKER -> HEADER */

#{ $emojiPickerNavButton } {
	&:hover {
		background-color: var(--background-modifier-hover);
	}

	&#{ $emojiPickerNavButtonActive } {
		background-color: var(--background-modifier-selected);
	}
}

#{ $emojiPickerNavGif },
#{ $emojiPickerNavSticker },
#{ $emojiPickerNavEmoji } {
	background-color: transparent;
    box-shadow: var(--popout-header-shadow) !important;
}

#{ $emojiPickerDiversitySelectorPopout } {
    @include add-translucence(null, true);
    border: none;
    overflow: hidden;
}

/* EMOJI PICKER -> HEADER -> SEARCH BAR */

#{ $emojiPickerSearchBar } {
    @include input-format;
}

/* EMOJI PICKER -> EMOJIS */

#{ $emojiGifContainer } {
    background-color: transparent;
}

#{ $emojiPickerCategoryHeaderWrapper } {
	position: relative;
	background-color: transparent;
}

#{ $emojiPickerInspector } {
	background-color: transparent
}

#{ $emojiCategoryWrapper } {
	top: 60px;
    background-color: var(--sidebar-color);

    #{ $emojiCategoryUnicodeShortcut } {
        @include add-translucence(null, true);
        border-radius: 0;
    }
}

#{ $emojiPickerHasTabWrapper } {
	#{ $emojiCategoryWrapper } {
		top: 52px;
	}
}

#{ $emojiPickerItem } {
    border-radius: var(--card-radius);

    &#{ $emojiPickerItemSelected } {
        background-color: var(--background-modifier-hover);
    }
}

/* EMOJI PICKER -> GIFS */

#{ $gifPickerSearchBar } {
	@include input-format;
}

#{ $gifPickerResult } {
    border-radius: var(--card-radius);

    &:after {
        border-radius: inherit;
    }

    &:hover {
        &:after {
            box-shadow: inset 0 0 0 2px hsl(var(--accent-hsl)),inset 0 0 0 3px #2f3136 !important;
        }
    }

    #{ $gifPickerGif } {
        border-radius: inherit;
    }

    #{ $gifPickerCategoryFade },
    #{ $gifPickerCategoryFadeBlurple } {
        border-radius: inherit
    }

    #{ $gifPickerCategoryFadeBlurple } {
        background-color: hsla(var(--accent-hsl),0.8) !important;
    }
}
