@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  LIST POPOUTS
 *
 */

#{ $listPopoutContainer } {
    border: none;
    @include add-translucence(before, true);

    #{ $listPopoutItem } {
        border-radius: var(--popout-radius);
    }
}

#{ $overflowRolesPopout } {
    @include add-translucence(before, true, true, true);

    #{ $overflowRolesPopoutArrow } {
        background-color: var(--popout-color) !important;
        box-shadow: none !important;
    }

    #{ $overflowRolesPopoutHeaderIcon } path {
        fill: var(--header-secondary);
    }

    #{ $overflowRolesPopoutHeaderText } {
        color: var(--header-secondary);
    }

    #{ $role } {
        background-color: var(--card-color);
    }
}
