@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  LISTENING ALONG POPOUT
 *
 */

#{ $listeningAlongPopout } {
    @include add-translucence(null, true);

	&:before {
		position: fixed;
		width: calc(100% - 16px);
		height: 100%;
		margin-left: 16px;
	}
}
