@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  MEMBERS LIST ACTIVITY POPOUT
 *
 */

#{ $memberActivityPopout } {
    @include add-translucence(before, true);
    filter: none;

    #{ $buttonFilled } {
        path {
            fill: currentColor !important;
            color: currentColor !important;
        }
    }
}

#{ $memberActivityPopoutContentWrapper },
#{ $memberActivityInteractionsContainer } {
    background-color: transparent;
}

#{ $memberActivityShareToChannelButton } {
    padding-right: 0;
    border-right: none;
}
