@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  MESSAGES POPOUT
 *
 */

#{ $messagesPopoutWrap } {
    max-height: 80vh !important;
	@include add-translucence(before, true);
    background-color: transparent;
}

#{ $messagesPopoutHeader } {
    background-color: transparent;
    border: none;
	box-shadow: var(--popout-header-shadow);
}

#{ $messagesPopoutInner } {
    padding-block: 16px 0;
    padding-inline: 8px 0;
}

#{ $messagesPopoutFooter } {
    background-color: transparent;
}

/* MESSAGES POPOUT -> PINNED MESSAGES */

#{ $pinnedMessageGroupWrapper } {
	margin-block-end: 16px;
    background-color: transparent;
    border: none;

	#{ $messagesWrapper } {
		margin-inline-start: 56px !important;
		margin-inline-end: 0 !important;
		background-color: var(--message-color);
		border-radius: var(--message-radius);

		#{ $messageContent },
		#{ $embedContainer } {
			overflow: hidden;
		}
	}

    #{ $pinnedActionButtons } {
        inset-inline-end: calc(16px + var(--message-padding-side));
    }

    #{ $pinnedJumpButton } {
        background-color: var(--card-color);
        border-radius: var(--button-radius);
    }
}

/* MESSAGES POPOUT -> FOR YOU */

#{ $messagesPopoutHeaderFriendRequestButton } {
    background-color: var(--background-modifier-hover);

    &:hover {
        background-color: var(--background-modifier-active);
    }
}

#{ $messagesPopoutContentContainer } {
    background-color: transparent;
    border: none;
}

#{ $messagesPopoutRow } {
    &:hover {
        background-color: var(--background-modifier-hover);
    }
}

/* MESSAGES POPOUT -> MENTIONS */

#{ $messagesPopoutChannelHeader } {
    margin-block: 4px;
    margin-inline: 0;
    padding-block: 12px;
    padding-inline: 28px 16px;
	background-color: var(--popout-color);
	@include add-translucence(null, true);

	&:before {
		background-color: var(--message-color);
		border-radius: var(--message-radius);
	}
}

#{ $messagesPopoutChannelHeaderButton } {
	background-color: var(--background-modifier-hover);

	&:hover {
		background-color: var(--background-modifier-selected) !important;
	}
}

#{ $recentMentionsMessagesContainer } {
    padding-block: 16px;
    padding-inline: 0;
    background-color: transparent;
    border: none;

	#{ $messagesWrapper } {
		margin-inline-start: 60px;
		margin-inline-end: 0;
        overflow: visible;
	}
}

/* MESSAGES POPOUT -> UNREADS */

#{ $recentMentionsPopout } {
    @include add-translucence(before, true);

    #{ $messagesPopoutWrap } {
        &:before {
            background-color: transparent;
        }
    }

    #{ $messagesWrapper } {
        overflow: visible;
    }
}

#{ $unreadTutorial } {
    @include card-format;
}

#{ $unreadMessages } {
    background-color: transparent;
}
