@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  REGION SELECT POPOUT
 *
 */

#{ $regionSelectPopout } {
    padding: 6px;
    @include add-translucence(null, true, true, true);

    #{ $regionSelectPopoutOption } {
        border-radius: var(--popout-radius);

		&:hover {
			background-color: var(--background-modifier-hover);
		}

		&:focus {
			background-color: var(--background-modifier-selected);
		}
	}
}
