@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *	SEARCH POPOUT
 *
 */

#{ $searchPopout } {
    @include add-translucence(null, true, true, true);
}

#{ $keybindShortcutKey } {
    height: 20px;
    padding: 0 6px;
    line-height: 20px;
    background-color: var(--card-color) !important;
    border-radius: var(--card-radius);
    border: none;
    box-shadow: none !important;

    &:active {
        height: 20px;
        padding-bottom: 0;
        background-color: var(--card-color-hover) !important;
        border: none !important;
        transform: none;
    }
}

#{ $searchPopoutQueryContainerFocused } {
	background-color: transparent !important;
}

#{ $searchPopoutQueryContainer } {
	border: none;
	box-shadow: var(--popout-header-shadow);
}

#{ $searchPopoutResultsGroup } {
    &:before {
        display: none;
    }
}
