@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  SOUNDBOARD PICKER
 *
 */

#{ $soundboardPicker } {
    @include add-translucence(before, true);
}

#{ $soundboardPickerPremiumPromo } {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius);
    opacity: 1;
    backdrop-filter: blur(var(--popout-blur));
}

#{ $soundboardPickerButton } {
    background-color: var(--card-color);
	border-radius: var(--card-radius);

    #{ $soundboardPickerButtonOverlayBackground } {
        background-color: var(--card-color);
        opacity: 1;
    }
}

#{ $soundboardPickerKeybindHint } {
    @include card-format;
}
