@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  SUMMARIES POPOUT
 *
 */

#{ $summaryTopicsPillContainer } {
    inset-block-start: var(--space-8);

    @include liquidGlass;
}

#{ $topicsDropdownBase } {
    overflow: hidden;

    @include liquidGlassFallback;
}

#{ $topicsDropdownHeading } {
    background-color: transparent;
    border-start-start-radius: var(--popout-radius);
    border-start-end-radius: var(--popout-radius);
    box-shadow: var(--card-header-shadow);
}
