@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  THREADS POPOUT
 *
 */

#{ $threadsPopoutContainer } {
    @include liquidGlass;

    #{ $threadsPopoutHeader } {
        @include card-format--header;

        #{ $buttonV2 } {
            --button-height: var(--input-height);
        }
    }

    #{ $inputWrapper } {
        box-shadow: var(--liquid-glass-shadow);
    }

    #{ $threadPreview } {
		@include card-format(null, true);
    }
}

#{ $channelThreadPopout } {
    @include liquidGlass;

    #{ $channelThreadPopoutRow } {
        border-radius: var(--list-item-radius);

        &:hover {
            background-color: var(--background-modifier-hover);
        }
    }

    #{ $channelThreadPopoutMore } {
        color: hsl(var(--accent-hsl));
    }
}
