@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  THREADS POPOUT
 *
 */

#{ $threadsPopoutContainer } {
    @include add-translucence(null, true);

    #{ $threadsPopoutHeader } {
        @include card-format--header;
    }

    #{ $threadsPopoutSearchBar } {
        @include input-format(auto);
    }

    #{ $threadPreview } {
		@include card-format(null, true);
    }
}

#{ $channelThreadPopout } {
    @include add-translucence(null, true);

    #{ $channelThreadPopoutRow } {
        border-radius: var(--list-item-radius);

        &:hover {
            background-color: var(--background-modifier-hover);
        }
    }

    #{ $channelThreadPopoutMore } {
        color: hsl(var(--accent-hsl));
    }
}
