@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  USER POPOUT
 *
 */

#{ $userProfileOuter } {
	&:not(#{ $userProfileOuterThemed }) {
		--background-surface-high: var(--popout-color) !important;
		--user-profile-overlay-background: var(--profile-gradient-primary-color) !important;

		--profile-gradient-primary-color: var(--popout-color) !important;
		--profile-gradient-secondary-color: var(--popout-color) !important;
		--profile-avatar-border-color: var(--popout-color) !important;
		--profile-body-background-color: var(--popout-color) !important;

	    --bg-surface-overlay: var(--profile-gradient-primary-color) !important;
	    --bg-mod-faint: var(--profile-body-background-color) !important;

		&#{ $themeLight } {
			--textarea-color: 0,0,0;
			--textarea-text-color: hsl(0,0%,30%);
			--textarea-placeholder-color: hsl(0,0%,40%);
			--background-modifier-selected: hsl(0,0%,0%,0.125);
		}

		&:before {
			background-color: var(--profile-gradient-primary-color);
		}
	}
}

#{ $userProfileOuterThemed } {
	--card-color: rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-6));

	#{ $buttonFilled } {
		--button-background: var(--profile-gradient-button-color);
        --button-text-color: var(--white-500);
        --accent-button-action: var(--white-500);
	}
}

#{ $userProfileOuter } {
	@include add-translucence(before, true, false);
	border-radius: var(--popout-radius);
	overflow: initial;

	* {
		text-shadow: none;
	}

	svg {
    	filter: none;
    }

	#{ $userProfileMenus } {
        > #{ $menuPopout } {
            &:before {
                display: none;
            }
        }
    }
}

#{ $userProfileInner } {
	border-radius: calc(var(--popout-radius) / 1.25);

	&:before {
		border-radius: inherit;
	}

	#{ $avatarWrapper } {
		circle {
			fill: var(--profile-avatar-border-color);
		}
	}

	#{ $inputWrapper } {
		border-radius: 18px;
		border: none;
	}

	#{ $input } {
		&::-webkit-input-placeholder {
			color: var(--textarea-placeholder-color);
		}
	}
}

#{ $userProfileNitroUpsellWrapper } {
	border-radius: calc(var(--popout-radius) / 1.25) calc(var(--popout-radius) / 1.25) 0 0;
}

#{ $userProfileBanner } {
	border-radius: calc(var(--popout-radius) / 1.25) calc(var(--popout-radius) / 1.25) 0 0;
}

#{ $badgeListContainer } {
    padding: 2px;
    background-color: var(--card-color) !important;
    border-radius: 12px;
    border: none;
}

#{ $userProfileOverlayBackground } {
	border-radius: calc(var(--popout-radius) / 1.25);
}

#{ $biteSizeInnerThemed } {
    padding-bottom: 0;
}

#{ $statusBubbleOuter },
#{ $statusBubbleInner } {
	background-color: var(--card-color);
    border-radius: var(--popout-radius);
}

#{ $statusBubbleOuter } {
    border: none !important;

    &:before,
    &:after {
        border: inherit !important;
    }
}

#{ $statusBubbleInner } {
	backdrop-filter: blur(var(--popout-blur));
}

#{ $profileCustomThemeBackground } {
    #{ $menuPopout } {
        border: none;
    }
}

#{ $biteSizeActivity } {
	border-radius: var(--popout-radius);
}

#{ $role } {
	background-color: var(--background-modifier-selected);
	border-radius: 11px;
	border: none;
}

#{ $userProfileNote } {
	margin-left: 0;
	margin-right: 0;

	#{ $input } {
		height: unset;
		font-size: 14px;
		line-height: 16px;
	}

	#{ $userProfileNoteTextArea } {
		padding: 4px 10px;
		font-size: 14px;
		line-height: 16px;

		&::-webkit-input-placeholder {
			color: var(--textarea-placeholder-color);
		}

		&:focus {
			background-color: rgba(var(--textarea-color), var(--textarea-alpha-focus));
		}
	}
}

/* USER POPOUT -> STATUS AREA */

#{ $userProfileStatusMenu } {
	&:before {
		display: none;
	}
}
