/**
 * @name Material_Discord_Addon-status_picker
 * @version 1.0
 * @description An add-on theme to bring the status picker from Material Discord
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Material-Discord/css/addons/status-picker/Material-Discord_addon-status-picker.theme.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/addons/status-picker/source.css);

:root {
  --default-animation: cubic-bezier(0.4,0,0.2,1);
  --default-time: 250ms;
  --status-online: 67,181,129;
  --status-idle: 250,166,26;
  --status-dnd: 240,71,71;
  --status-invisibile: 116,127,141;
  --popout-radius: 16px;
}
