:root {
  --default-animation: cubic-bezier(0.4,0,0.2,1);
  --default-time: 250ms;
  --status-online: 67,181,129;
  --status-idle: 250,166,26;
  --status-dnd: 240,71,71;
  --status-invisibile: 116,127,141;
  --popout-radius: 16px; }

.layer-v9HyYc[style*="left: 80px; bottom: 6"] {
  top: initial !important;
  left: 82px !important;
  bottom: 78px !important; }

.menu-3sdvDG#status-picker {
  width: 220px;
  min-height: 68px;
  background-color: var(--background-floating);
  border-radius: var(--popout-radius);
  animation: show-status var(--default-time) var(--default-animation);
  overflow: hidden; }
  .menu-3sdvDG#status-picker .scroller-3BxosC {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 0; }
    .menu-3sdvDG#status-picker .scroller-3BxosC::-webkit-scrollbar {
      width: 0 !important; }
  .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status) {
    position: relative;
    width: unset;
    height: 68px;
    margin: 0;
    border-radius: 0;
    font-size: 0;
    overflow: hidden;
    animation: status 300ms var(--default-animation) backwards; }
    .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status):active {
      background-color: transparent !important; }
    .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status)#status-picker-online {
      animation-delay: 100ms; }
      .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status)#status-picker-online .statusItem-33LqPf {
        background-color: #43b581; }
      .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status)#status-picker-online .status-1fhblQ {
        background-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/check_dark.svg); }
    .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status)#status-picker-idle {
      animation-delay: 140ms; }
      .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status)#status-picker-idle .statusItem-33LqPf {
        background-color: #faa61a; }
      .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status)#status-picker-idle .status-1fhblQ {
        background-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/alarm_dark.svg); }
    .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status)#status-picker-dnd {
      animation-delay: 180ms; }
      .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status)#status-picker-dnd .statusItem-33LqPf {
        background-color: #f04747; }
      .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status)#status-picker-dnd .status-1fhblQ {
        background-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/remove_dark.svg); }
    .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status)#status-picker-invisible {
      animation-delay: 220ms; }
      .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status)#status-picker-invisible .statusItem-33LqPf {
        background-color: #747f8d; }
      .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status)#status-picker-invisible .status-1fhblQ {
        background-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/visibility_off_dark.svg); }
    .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status) .statusItem-33LqPf {
      position: absolute;
      display: block;
      width: 34px;
      height: 34px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding: 0;
      border-radius: 50%;
      transition: var(--default-time) var(--default-animation); }
      .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status) .statusItem-33LqPf .description-2L932D {
        display: none; }
    .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status):hover .statusItem-33LqPf {
      transform: scale(1.425); }
    .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status):hover .status-1fhblQ {
      opacity: 0.65; }
    .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status).focused-3afm-j {
      background-color: transparent; }
    .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status) .icon-1IxfJ2 {
      display: none; }
    .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status) .status-1fhblQ {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: var(--default-time) var(--default-animation);
      font-size: 0; }
  .menu-3sdvDG#status-picker .item-1tOPte#status-picker-custom-status, .menu-3sdvDG#status-picker .item-1tOPte#status-picker-switch-account {
    grid-column: 1/6;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    border-top: 1px solid var(--background-modifier-accent);
    transition: var(--default-time) var(--default-animation) background-color; }
    .menu-3sdvDG#status-picker .item-1tOPte#status-picker-custom-status.focused-3afm-j, .menu-3sdvDG#status-picker .item-1tOPte#status-picker-switch-account.focused-3afm-j {
      background-color: var(--brand-experiment-560);
      color: #fff; }
    .menu-3sdvDG#status-picker .item-1tOPte#status-picker-custom-status .statusItem-33LqPf, .menu-3sdvDG#status-picker .item-1tOPte#status-picker-switch-account .statusItem-33LqPf {
      display: grid;
      position: unset;
      min-height: 28px;
      padding: 4px 12px;
      grid-template-rows: 28px 1fr;
      grid-temaplte-columns: 28px 1fr; }
      .menu-3sdvDG#status-picker .item-1tOPte#status-picker-custom-status .statusItem-33LqPf .customEmoji-2_2FwB, .menu-3sdvDG#status-picker .item-1tOPte#status-picker-switch-account .statusItem-33LqPf .customEmoji-2_2FwB {
        margin-left: 0; }
  .menu-3sdvDG#status-picker div[role="group"] {
    width: auto;
    height: auto;
    grid-column: 1/6; }
    .menu-3sdvDG#status-picker div[role="group"] #status-picker-switch-account {
      height: 36px;
      padding: 0;
      font-size: 14px;
      animation: none; }
      .menu-3sdvDG#status-picker div[role="group"] #status-picker-switch-account:hover .statusItem-33LqPf {
        transform: none; }
      .menu-3sdvDG#status-picker div[role="group"] #status-picker-switch-account.focused-3afm-j {
        background-color: var(--brand-experiment-560); }
        .menu-3sdvDG#status-picker div[role="group"] #status-picker-switch-account.focused-3afm-j .switchAccountsIcon-355frb path {
          fill: currentColor !important; }
      .menu-3sdvDG#status-picker div[role="group"] #status-picker-switch-account .statusItem-33LqPf {
        width: auto;
        height: auto; }
      .menu-3sdvDG#status-picker div[role="group"] #status-picker-switch-account .status-1fhblQ {
        display: unset;
        position: unset;
        width: unset;
        height: unset;
        margin: unset;
        font-size: inherit;
        opacity: 1 !important; }
      .menu-3sdvDG#status-picker div[role="group"] #status-picker-switch-account .betaTag-2ehOEB {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 24px;
        margin: auto 0; }
      .menu-3sdvDG#status-picker div[role="group"] #status-picker-switch-account .iconContainer-2-XQPY {
        margin-right: 8px; }
  .menu-3sdvDG#status-picker .submenuContainer-2gbm7M {
    grid-column: 1/6; }
    .menu-3sdvDG#status-picker .submenuContainer-2gbm7M .layer-v9HyYc {
      transform: translateX(-4px); }
    .menu-3sdvDG#status-picker .submenuContainer-2gbm7M .scroller-3BxosC {
      display: block; }
  .menu-3sdvDG#status-picker .separator-2I32lJ {
    display: none; }
  .menu-3sdvDG#status-picker .layer-v9HyYc[style*="left: 316px"] {
    left: 312px !important; }
  .menu-3sdvDG#status-picker .submenu-2-ysNh {
    padding: 8px 0;
    background-color: var(--background-floating);
    overflow: hidden;
    animation: opacity 100ms ease, open-context-menu 300ms var(--default-animation);
    transform-origin: top; }
  .menu-3sdvDG#status-picker [aria-activedescendant*="status-picker-switch-account"] .item-1tOPte {
    height: auto !important;
    padding: 9px 12px !important;
    font-size: 14px !important;
    line-height: 18px;
    transition: var(--default-time) var(--default-animation) background-color;
    animation: none !important; }
    .menu-3sdvDG#status-picker [aria-activedescendant*="status-picker-switch-account"] .item-1tOPte:hover {
      background-color: var(--brand-experiment-560) !important;
      color: #fff; }
    .menu-3sdvDG#status-picker [aria-activedescendant*="status-picker-switch-account"] .item-1tOPte#status-picker-switch-account--manage-accounts {
      position: relative;
      margin-top: 16px;
      overflow: visible; }
      .menu-3sdvDG#status-picker [aria-activedescendant*="status-picker-switch-account"] .item-1tOPte#status-picker-switch-account--manage-accounts:after {
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        top: -8px;
        left: 0;
        background-color: var(--background-modifier-accent); }

body:active .menu-3sdvDG#status-picker:not(:active) {
  opacity: 0;
  transform: translateY(15%);
  transition: 200ms var(--default-animation) !important; }

@keyframes show-status {
  from {
    transform: translateY(15%) translateX(0%) translateZ(0px); } }
@keyframes status {
  from {
    transform: scale(0);
    opacity: 0; } }
@keyframes open-context-menu {
  from {
    transform: scale(1, 0.5); } }

/*# sourceMappingURL=Material-Discord_addon-status-picker.theme.css.map */
