:root {
  --default-animation: cubic-bezier(0.4,0,0.2,1);
  --default-time: 250ms;
  --status-online: 67,181,129;
  --status-idle: 250,166,26;
  --status-dnd: 240,71,71;
  --status-invisibile: 116,127,141;
  --popout-radius: 16px;
  --menu-item-hover: var(--brand-experiment-560);
  --popout-color: var(--background-floating); }

.layer-2aCOJ3[style*="left: 80px; bottom: 5"] {
  top: initial !important;
  left: 80px !important;
  bottom: 61px !important; }

.menu-1QACrS#status-picker {
  width: 220px;
  min-height: 68px;
  background-color: var(--popout-color);
  border-radius: var(--popout-radius);
  animation: show-status var(--default-time) var(--default-animation);
  overflow: hidden; }
  .menu-1QACrS#status-picker .scroller-1bVxF5 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 0; }
    .menu-1QACrS#status-picker .scroller-1bVxF5::-webkit-scrollbar {
      width: 0 !important; }
  .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status) {
    position: relative;
    width: unset;
    height: 68px;
    margin: 0;
    border-radius: 0;
    font-size: 0;
    overflow: hidden;
    animation: status 300ms var(--default-animation) backwards; }
    .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status):active {
      background-color: transparent !important; }
    .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status)#status-picker-online {
      animation-delay: 100ms; }
      .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status)#status-picker-online .statusItem-2hiCNB {
        background-color: #43b581; }
      .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status)#status-picker-online .status-3TYC5W {
        background-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/check_dark.svg); }
    .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status)#status-picker-idle {
      animation-delay: 140ms; }
      .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status)#status-picker-idle .statusItem-2hiCNB {
        background-color: #faa61a; }
      .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status)#status-picker-idle .status-3TYC5W {
        background-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/alarm_dark.svg); }
    .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status)#status-picker-dnd {
      animation-delay: 180ms; }
      .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status)#status-picker-dnd .statusItem-2hiCNB {
        background-color: #f04747; }
      .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status)#status-picker-dnd .status-3TYC5W {
        background-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/remove_dark.svg); }
    .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status)#status-picker-invisible {
      animation-delay: 220ms; }
      .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status)#status-picker-invisible .statusItem-2hiCNB {
        background-color: #747f8d; }
      .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status)#status-picker-invisible .status-3TYC5W {
        background-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/visibility_off_dark.svg); }
    .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status) .statusItem-2hiCNB {
      position: absolute;
      display: block;
      width: 34px;
      height: 34px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding: 0;
      border-radius: 50%;
      transition: var(--default-time) var(--default-animation); }
      .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status) .statusItem-2hiCNB .description-3Cwkxk {
        display: none; }
    .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status):hover .statusItem-2hiCNB {
      transform: scale(1.425); }
    .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status):hover .status-3TYC5W {
      opacity: 0.65; }
    .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status).focused-3qFvc8 {
      background-color: transparent; }
    .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status) .icon-Lz4Y-_ {
      display: none; }
    .menu-1QACrS#status-picker .item-1OdjEX:not(#status-picker-custom-status) .status-3TYC5W {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: var(--default-time) var(--default-animation);
      font-size: 0; }
  .menu-1QACrS#status-picker .item-1OdjEX#status-picker-custom-status, .menu-1QACrS#status-picker .item-1OdjEX#status-picker-switch-account {
    grid-column: 1/6;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    border-top: 1px solid var(--background-modifier-accent);
    transition: var(--default-time) var(--default-animation) background-color; }
    .menu-1QACrS#status-picker .item-1OdjEX#status-picker-custom-status.focused-3qFvc8, .menu-1QACrS#status-picker .item-1OdjEX#status-picker-switch-account.focused-3qFvc8 {
      background-color: var(--menu-item-hover);
      color: #fff; }
    .menu-1QACrS#status-picker .item-1OdjEX#status-picker-custom-status .statusItem-2hiCNB, .menu-1QACrS#status-picker .item-1OdjEX#status-picker-switch-account .statusItem-2hiCNB {
      display: grid;
      position: unset;
      min-height: 28px;
      padding: 4px 12px;
      grid-template-rows: 28px 1fr; }
      .menu-1QACrS#status-picker .item-1OdjEX#status-picker-custom-status .statusItem-2hiCNB .customEmoji-1nCP1t, .menu-1QACrS#status-picker .item-1OdjEX#status-picker-switch-account .statusItem-2hiCNB .customEmoji-1nCP1t {
        margin-left: 0; }
  .menu-1QACrS#status-picker .item-1OdjEX#status-picker-custom-status .statusItem-2hiCNB {
    grid-template-columns: 28px 1fr; }
    .menu-1QACrS#status-picker .item-1OdjEX#status-picker-custom-status .statusItem-2hiCNB.customStatusItem-1qQzss {
      grid-template-columns: 1fr 32px; }
    .menu-1QACrS#status-picker .item-1OdjEX#status-picker-custom-status .statusItem-2hiCNB .customEmoji-1nCP1t {
      margin-left: 0; }
  .menu-1QACrS#status-picker .item-1OdjEX#status-picker-custom-status .clearStatusButton-GXA1lF {
    width: 32px !important;
    height: 32px !important; }
  .menu-1QACrS#status-picker .item-1OdjEX#status-picker-custom-status .clearStatusIcon-9SeHGZ {
    margin-left: 0; }
  .menu-1QACrS#status-picker .item-1OdjEX#status-picker-switch-account .statusItem-2hiCNB {
    grid-template-columns: 28px 1fr; }
  .menu-1QACrS#status-picker .submenuContainer-3EVTeH {
    width: auto;
    height: auto;
    grid-column: 1/6; }
    .menu-1QACrS#status-picker .submenuContainer-3EVTeH #status-picker-switch-account {
      height: 36px;
      padding: 0;
      font-size: 14px;
      animation: none; }
      .menu-1QACrS#status-picker .submenuContainer-3EVTeH #status-picker-switch-account:hover .statusItem-2hiCNB {
        transform: none; }
      .menu-1QACrS#status-picker .submenuContainer-3EVTeH #status-picker-switch-account.focused-3qFvc8 {
        background-color: var(--menu-item-hover); }
        .menu-1QACrS#status-picker .submenuContainer-3EVTeH #status-picker-switch-account.focused-3qFvc8 .switchAccountsIcon-36imMT path {
          fill: currentColor !important; }
      .menu-1QACrS#status-picker .submenuContainer-3EVTeH #status-picker-switch-account .statusItem-2hiCNB {
        width: auto;
        height: auto; }
      .menu-1QACrS#status-picker .submenuContainer-3EVTeH #status-picker-switch-account .status-3TYC5W {
        display: unset;
        position: unset;
        width: unset;
        height: unset;
        margin: unset;
        font-size: inherit;
        opacity: 1 !important; }
      .menu-1QACrS#status-picker .submenuContainer-3EVTeH #status-picker-switch-account .betaTag-3pnIxA {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 24px;
        margin: auto 0; }
      .menu-1QACrS#status-picker .submenuContainer-3EVTeH #status-picker-switch-account .iconContainer-1-SsTR {
        margin-right: 8px; }
  .menu-1QACrS#status-picker .submenuContainer-3EVTeH {
    grid-column: 1/6; }
    .menu-1QACrS#status-picker .submenuContainer-3EVTeH .layer-2aCOJ3 {
      transform: translateX(-4px); }
    .menu-1QACrS#status-picker .submenuContainer-3EVTeH .scroller-1bVxF5 {
      display: block; }
  .menu-1QACrS#status-picker .separator-1So4YB {
    display: none; }
  .menu-1QACrS#status-picker .layer-2aCOJ3[style*="left: 316px"] {
    left: 312px !important; }
  .menu-1QACrS#status-picker .submenu-1apzyU {
    padding: 8px 0;
    background-color: var(--popout-color);
    overflow: hidden;
    animation: opacity 100ms ease, open-context-menu 300ms var(--default-animation);
    transform-origin: top; }
  .menu-1QACrS#status-picker [aria-activedescendant*="status-picker-switch-account"] .item-1OdjEX {
    height: auto !important;
    padding: 9px 12px !important;
    font-size: 14px !important;
    line-height: 18px;
    transition: var(--default-time) var(--default-animation) background-color;
    animation: none !important; }
    .menu-1QACrS#status-picker [aria-activedescendant*="status-picker-switch-account"] .item-1OdjEX:hover {
      background-color: var(--menu-item-hover) !important;
      color: #fff; }
    .menu-1QACrS#status-picker [aria-activedescendant*="status-picker-switch-account"] .item-1OdjEX#status-picker-switch-account--manage-accounts {
      position: relative;
      margin-top: 16px;
      overflow: visible; }
      .menu-1QACrS#status-picker [aria-activedescendant*="status-picker-switch-account"] .item-1OdjEX#status-picker-switch-account--manage-accounts:after {
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        top: -8px;
        left: 0;
        background-color: var(--background-modifier-accent); }

body:active .menu-1QACrS#status-picker:not(:active) {
  opacity: 0;
  transform: translateY(15%);
  transition: 200ms var(--default-animation) !important; }

@keyframes show-status {
  from {
    transform: translateY(15%) translateX(0%) translateZ(0px); } }
@keyframes status {
  from {
    transform: scale(0);
    opacity: 0; } }
@keyframes open-context-menu {
  from {
    transform: scale(1, 0.5); } }

/*# sourceMappingURL=Material-Discord_addon-status-picker.theme.css.map */
