:root {
  --default-animation: cubic-bezier(0.4,0,0.2,1);
  --default-time: 250ms;
  --status-icon-radius: 50%;
  --status-online: 67,181,129;
  --status-idle: 250,166,26;
  --status-dnd: 240,71,71;
  --status-invisibile: 116,127,141;
  --status-picker-radius: 4px;
}

.submenu-1apzyU[aria-activedescendant*=account-status-picker] {
  min-width: 224px;
  border-radius: var(--status-picker-radius);
  box-shadow: var(--elevation-high);
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .scroller-1bVxF5 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 0;
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .scroller-1bVxF5::-webkit-scrollbar {
  width: 0 !important;
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX {
  position: relative;
  width: unset;
  height: 68px;
  margin: 0;
  border-radius: 0;
  font-size: 0;
  overflow: hidden;
  animation: status var(--default-time) var(--default-animation) backwards;
  animation-delay: var(--status-animation-delay);
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX:active {
  background-color: transparent !important;
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX#account-status-picker--online {
  --status-color: rgb(var(--status-online));
  --status-icon-url: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/check_dark.svg);
  --status-animation-delay: 100ms;
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX#account-status-picker--idle {
  --status-color: rgb(var(--status-idle));
  --status-icon-url: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/alarm_dark.svg);
  --status-animation-delay: 140ms;
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX#account-status-picker--dnd {
  --status-color: rgb(var(--status-dnd));
  --status-icon-url: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/remove_dark.svg);
  --status-animation-delay: 180ms;
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX#account-status-picker--invisible {
  --status-color: rgb(var(--status-invisibile));
  --status-icon-url: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/visibility_off_dark.svg);
  --status-animation-delay: 220ms;
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX .statusItem-2a1giL {
  position: absolute;
  display: block;
  width: 34px;
  height: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  background-color: var(--status-color);
  background-size: 100%;
  background-position: center;
  border-radius: var(--status-icon-radius);
  transition: var(--default-time) var(--default-animation);
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX .statusItem-2a1giL .description-22_U3B {
  display: none;
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX .status-2DiCMd {
  background-image: var(--status-icon-url);
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX:hover .statusItem-2a1giL {
  transform: scale(1.325);
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX:hover .status-2DiCMd {
  opacity: 0.65;
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX.focused-3qFvc8 {
  background-color: transparent;
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX .icon-OgaO6F {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .item-1OdjEX .status-2DiCMd {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: transparent !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: var(--default-time) var(--default-animation);
  font-size: 0;
}
.submenu-1apzyU[aria-activedescendant*=account-status-picker] .separator-1So4YB {
  display: none;
}

@keyframes status {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
