@use '../mixins' as *;

/*
 *
 *  CREATE GROUP DM
 *
 */

%groupInvitePopoutFooter {
    padding: 16px;
}

%groupInvitePopoutFooterSeparator {
    margin: 0;
    background-color: var(--popout-header-border);
    box-shadow: none !important;
}

%groupInvitePopoutSearchBar {
    margin-top: 16px;
}

%groupInvitePopoutSearchContainer {
    background-color: var(--input-color);
    border-radius: 19px;
    border: none;

    %groupInvitePopoutSearchBarInner {
        min-height: var(--input-height);
        padding: 0 12px;
    }

    %groupInvitePopoutSearchInput {
        height: var(--input-height);
        margin: 0;
        padding: 0;

        &::-webkit-input-placeholder {
            color: var(--input-text-color);
        }
    }
}

%groupInvitePopoutSearchTag {
    height: 28px;
    margin-top: 4px;
    margin-right: 4px;
    border-radius: 14px;
    background-color: transparent;
    border: 1px solid var(--text-muted);
    color: var(--text-normal);

    + %groupInvitePopoutSearchInput {
        margin-left: 6px;
    }
}

%groupInvitePopoutFriendWrapper {
    margin: 0;
}

%groupInvitePopoutFriend {
    padding: 6px 12px;
    border-radius: 0;

    &%groupInvitePopoutFriendSelected {
        background-color: var(--menu-item-hover) !important;
    }
}
