@use '../../mixins' as *;

/*
 *
 *  HEADER BAR
 *
 */

%headerBar {
	padding: 0 8px;
	border-top-right-radius: var(--card-radius-big);
	box-shadow: var(--elevation-low);

	&%headerBarTransparent {
		box-shadow: none;
	}

	&%headerBarThemed {
		background: var(--main-color);
	}

	&%headerBarAlt {
		background: var(--main-color) !important;

        &%headerBarAltFullscreen {
            background: var(--main-alt) !important;
            box-shadow: none;

            %headerBarChildren {
                &:after {
                    background: linear-gradient(90deg, transparent 0, var(--main-alt)) !important;
                }
            }
        }
	}

	%headerBarFollowButton {
		--button-height: 32px;
		--button-padding: 0 16px;
	}
}

%headerBarAltFullscreen {
    background-color: transparent !important;
}

%headerBarChildren {
    //overflow: visible;

	&:after {
		background: linear-gradient(90deg, transparent 0, var(--main-color)) !important;
	}

	%topPill {
		height: 100%;
	}

	%topPillItem {
		height: 48px;
		line-height: 48px;
	}
}

%headerBarIconWrapper {
	&%headerBarIconClickable {
		@include md-ripple(hover, after, 1.5);
	}

	foreignObject {
		mask: none !important;
	}
}

%headerBarTopic a {
    color: hsl(var(--accent-hsl--material-you));
}

%headerBarReturnButton {
	--button-height: 32px;

	max-width: 250px;
	margin-right: 8px;
}

%headerBarReturnButtonText {
	font-size: 1em;

	&,
	* {
		line-height: var(--button-height);
		color: hsl(var(--accent-hsl--material-you)) !important;
	}

	%textXsMedium {
		font-size: 1em;
	}
}

%headerBarIconBadge {
	top: 0;
	right: 0;
	background-color: hsl(var(--accent-hsl--material-you));
	box-shadow: 0 0 0 4px var(--main-color);
}
