@use '../../mixins' as *;

/*
 *
 *  HEADER BAR
 *
 */

%headerBar {
	border-top-right-radius: var(--card-radius-big);
	box-shadow: var(--elevation-low);

	&%headerBarTransparent {
		box-shadow: none;
	}

	&%headerBarThemed {
		background-color: var(--main-color);
	}

	%headerBarFollowButton {
		--button-height: 32px;
		--button-padding: 0 16px;
	}
}

%headerBarChildren {
    //overflow: visible;

	&:after {
		background: linear-gradient(90deg, transparent 0, var(--main-color)) !important;
	}

	%topPill {
		height: 100%;
	}

	%topPillItem {
		height: 48px;
		line-height: 48px;
	}
}

%headerBarTopic a {
    color: hsl(var(--accent-hsl--material-you));
}

%headerBarReturnButton {
	--button-height: 32px;

	max-width: 250px;
	margin-right: 8px;
}

%headerBarReturnButtonText {
	font-size: 1em;

	&,
	* {
		line-height: var(--button-height);
		color: hsl(var(--accent-hsl--material-you)) !important;
	}

	%textXSMedium {
		font-size: 1em;
	}
}

%headerBarIconBadge {
	top: 0;
	right: 0;
	background-color: hsl(var(--accent-hsl--material-you));
	box-shadow: 0 0 0 4px var(--main-color);
}
