/*
 *
 *  ATTACHMENTS
 *
 */

%embed {
	border-radius: var(--card-radius);

	&%embedFull {
		background-color: var(--background-tinted-active);
	}
}

%attachment {
    background-color: var(--background-tinted-active);
    border-radius: var(--card-radius);
    border: none;
}

%buildOverrideWrapper {
    background-color: var(--background-tinted-active);
    border-radius: var(--card-radius);
}

/* ATTACHMENTS -> INVITE */

%inviteWrapper {
    background-color: var(--background-tinted-active);
    border-radius: var(--card-radius);

    %inviteButton {
        height: var(--button-height);
    }
}

/* ATTACHMENTS -> TEXT CONTAINER */

%textContainer,
%textContainerFooter {
    background-color: var(--background-tinted-active);
    border: none;
}

%textContainer {
    border-radius: var(--card-radius) var(--card-radius) 0 0;
}

%textContainerFooter {
    border-radius: 0 0 var(--card-radius) var(--card-radius);
    border-top: 1px solid var(--background-tinted-highlight);
}

/* ATTACHMENTS -> PLAYER */

%player {
    border-radius: var(--card-radius);
}

%playerAudio {
    background-color: var(--background-tinted-active) !important;
    border: none;
}

%playerAudioControls,
%playerVideoControls {

}

%playerAudioControls {
    border-radius: 16px;
}
