@use '../mixins' as *;

/*
 *
 *  MARKUP
 *
 */

%markup {
	a {
		color: hsl(var(--accent-hsl));
	}

	code {
        --app-font: var(--code-font);

		background-color: var(--background-tinted-active);
		border-radius: var(--card-radius);
		border: none;
	}
}

pre, pre code, code.inline, %codeBlockText, %codeLine, %codeBlockLang, %codeBlockSyntax, %syntaxAfter, %syntaxBefore, %channelTextAreaInlineCodeAfter, %channelTextAreaInlineCodeBefore, %channelTextAreaInlineCode {
    --app-font: var(--code-font);
}

%fakeLink {
	--text-link: hsl(var(--accent-hsl));
}

%spoilerText {
	&%spoilerHidden {
		background-color: var(--background-tinted-active) !important;
	}
}

/* MARKUP -> MENTIONS */

%mentionWrapper {
	background-color: hsla(var(--accent-hsl),0.175);
	color: hsl(var(--accent-hsl));
}

%themeDark {
	%mentionWrapper {
	    background-color: hsla(var(--accent-hsl),0.175);
	    color: hsl(var(--accent-hsl));

	    &:hover {
	        background-color: hsla(var(--accent-hsl),0.3);
	    }
	}
}

/* MARKUP -> UPLOADS */

%channelTextAreaUpload {
	@include card-format;
}
