/*
 *
 *  REACTIONS
 *
 */

%reactions {
	margin-top: 6px;
}

%reaction {
	background-color: var(--background-tinted-hover);
    border-radius: 13px;

	&:hover {
		background-color: var(--background-tinted-active);
	}

	&%reactionMe {
		background-color: hsla(var(--accent-hsl),0.3);
		border-color: hsla(var(--accent-hsl),0.2);

		&:hover {
			background-color: hsla(var(--accent-hsl),0.4);
		}

		%reactionCount {
			color: hsl(var(--accent-hsl));
		}
	}
}
