@use '../classes' as *;

/*
 *
 *  VISUAL REFRESH
 *
 */

#{ $visualRefresh } {
    &#{ $refreshFastFollowGuildBg } {
        #{ $bg } {
            background: transparent;
        }

        #{ $guildsWrapper } {
            background: transparent;
        }
    }

    body,
    #{ $bg } {
        background: transparent;
    }

    #{ $layers } {
        margin: 0 var(--app-margin) var(--app-margin);
        backdrop-filter: none;
    }

    #{ $contentMain } {
    	border-radius: var(--app-radius);
    	overflow: hidden;
    	backdrop-filter: blur(var(--app-blur));
    }

    /* servers */

    #{ $guildsWrapper } {
        background-color: transparent;
    }

    #{ $guilds } {
        padding-top: var(--space-12);
    }

    /* channels and private sidebar */

    #{ $channelsSidebar } {
        background-color: var(--sidebar-color);

        &:after {
            display: none;
        }
    }

    #{ $sidebarList } {
        backdrop-filter: none;
        border: none;
    }

    #{ $channelsHeaderContainer } {
        background-color: transparent;
    }

    #{ $channelsHeader } {
        border-bottom: none;
        box-shadow: var(--popout-header-shadow);
    }

    #{ $channelsContainer },
    #{ $privateChannels } {
        padding-bottom: calc(var(--custom-app-panels-height, 0) + 10px);
    }

    #{ $panels } {
        background-color: transparent;
        border: none;
        box-shadow: var(--popout-header-shadow);
    }

    #{ $privateChannelsSearchBar } {
        border-bottom: none;
        box-shadow: var(--popout-header-shadow);

        #{ $buttonFilled } {
            --button-background: rgba(var(--textarea-color),var(--textarea-alpha));
            --button-text-color: var(--textarea-text-color);
        }
    }

    /* chat */

    #{ $chat } {
        &[data-has-border="true"] {
            border-top: none;
        }

        #{ $dmProfileScroller } {
            background-color: transparent;
        }
    }

    #{ $headerBar } {
        border-bottom: none;
    }

    #{ $chatContent } {
        background-color: transparent;
    }

    #{ $chatForm } {
        margin-top: 0;
    }

    #{ $channelTextAreaAttachButton } {
        padding: var(--space-12) var(--space-xs) var(--space-12) var(--space-md);
    }

    #{ $channelInfo } {
        margin: 12px 0;
        padding: 11px 0;
        background-color: rgba(var(--textarea-color), var(--textarea-alpha));
        border-radius: var(--textarea-radius);
        border: none;
    }

    #{ $channelTextArea } {
        background-color: rgba(var(--textarea-color), var(--textarea-alpha));
        border: none;
    }

    #{ $channelTextAreaUpload } {
        background-color: var(--message-color);
        border-radius: calc(var(--textarea-radius) / 1.4);
        border: none;
    }

    #{ $channelTextAreaStackedBars } {
        background-color: transparent;
    }

    #{ $message } {
        border-radius: var(--message-radius);
    }

    /* chat loading */

    #{ $chatLoadingWrapper },
    #{ $chatLoadingMessageWrapper } {
        background-color: transparent;
    }

    /* channels & roles */

    #{ $pageBodyHeader },
    #{ $pageBody },
    #{ $channelsAndRolesContainer } {
        background-color: transparent !important;
    }

    #{ $channelsAndRolesPrompt } {
        background-color: var(--card-color);
        border-radius: var(--card-radius);
        border: none;
    }

    #{ $promptOptionButtonWrapper } {
        background-color: var(--card-color);
        border-radius: var(--card-radius);
        border-color: transparent;

        &:hover {
            background-color: var(--card-color-hover);
        }

        &#{ $promptOptionButtonWrapperSelected } {
            background-color: var(--card-color-select);
            border-color: hsl(var(--accent-hsl));
        }
    }

    #{ $promptOptionButton } {
        background-color: transparent;
    }

    /* browse channels */

    #{ $browseChannelsChannelRow } {
        background-color: var(--card-color);
        border: none;

        &:not(#{ $browseChannelsChannelDisabled }) {
            &:hover {
                background-color: var(--card-color-hover);
            }
        }
    }

    /* voice call */

    #{ $callRoot } {
        background-color: transparent;
    }

    #{ $callContainer } {
        border: none;
    }

    /* chat area search */

    #{ $searchResultsWrap } {
        background-color: var(--sidebar-color);
    }

    #{ $searchHeader } {
        background-color: transparent;
        border-bottom: none;
    }

    #{ $searchResult } {
        background-color: transparent;
        border: none;
    }

    /* forum */

    #{ $forumContainer } {
        background-color: transparent;
    }

    #{ $forumHeader } {
        background-color: var(--card-color);
        border: none;
    }

    #{ $forumHeaderMatchingPostsRow } {
        background-color: var(--card-color);
        border: none;
    }

    #{ $forumGuidelinesContainer } {
        background-color: var(--card-color);
        border: none;
    }

    #{ $postThreadButtonContainer } {
        background-color: var(--card-color);
        border-top: none;
    }

    #{ $postContainer } {
        background-color: var(--card-color);

        &:hover {
            background-color: var(--card-color-hover);
        }
    }

    #{ $newPostContainer } {
        #{ $channelTextArea } {
            background-color: transparent;
        }

        #{ $channelTextAreaInner } {
            padding-left: 16px;
        }
    }

    #{ $threadResizeHandle } {
        background-color: transparent;
    }

    #{ $threadContainer } {
        background-color: var(--main-content-color);
        border: none;
    }

    /* messages */

    #{ $pollContainer } {
        background-color: var(--textarea-block-color);
        border: none;
    }

    /* message attachments */

    #{ $attachment },
    #{ $embedFull },
    #{ $embedCard },
    #{ $threadEmbed } {
        background-color: var(--card-color);
    	border-radius: var(--card-radius);
        border: none;
        border-left: 4px solid;
    }

    #{ $embedFile } {
        background-color: var(--card-color);
        border: none;
        box-shadow: none;
    }

    /* emoji picker */

    #{ $emojiWrapper } {
        background-color: transparent;
        border-radius: var(--popout-radius);
        border: none;
        box-shadow: none;
    }

    #{ $emojiPicker } {
        background-color: transparent;
    }

    #{ $emojiPickerNavEmoji },
    #{ $emojiPickerNavSticker },
    #{ $emojiPickerNavGif } {
        background-color: transparent;
    }

    #{ $emojiCategoryWrapper } {
        background-color: var(--sidebar-color);
    }

    #{ $emojiPickerCategoryHeaderWrapper } {
        position: sticky;
        background-color: transparent;
        backdrop-filter: blur(var(--popout-blur));
    }

    #{ $emojiPickerInspector } {
        background-color: transparent;
    }

    /* members list */

    #{ $membersWrap } {
        background-color: transparent;
        border-left: none;
    }

    #{ $memberActivityContainer } {
        background-color: var(--background-modifier-hover);

        &#{ $memberActivityContainerSelected } {
            background-color: var(--background-modifier-selected);
        }
    }

    #{ $memberInner } {
        height: 100%;
    }

    /* friends list */

    #{ $friends } {
        border-top: none;
    }

    #{ $friendsTabBody } {
        background-color: transparent;
    }

    #{ $nowPlayingColumnContainer } {
        background-color: transparent;
    }

    /* inbox */

    #{ $messagesPopoutChannelHeader } {
        background-color: var(--popout-color);
    }

    #{ $recentMentionsMessagesContainer } {
        background-color: transparent;
        border: none;
    }

    #{ $recentMentionsPopout } {
        background-color: transparent;
    }

    /* pinned messages popout */

    #{ $messagesPopoutWrap } {
        background-color: transparent;
    }

    #{ $messagesPopoutHeader },
    #{ $messagesPopoutContentContainer } {
        background-color: transparent;
        border: none;
    }

    #{ $pinnedMessageGroupWrapper } {
        background-color: transparent;
        border: none;

        #{ $messagesWrapper } {
            margin-right: 0 !important;
        }
    }

    /* context menu */

    #{ $menuPopout } {
        border: none;
    }

    /* settings */

    #{ $layer } {
        background-color: transparent;
    }

    #{ $standardSidebarView } {
        margin-top: var(--custom-app-top-bar-height);
        background-color: transparent;
        border-radius: var(--app-radius);
        backdrop-filter: blur(var(--app-blur));
        overflow: hidden;
    }

    #{ $settingsSidebarScroller } {
        background-color: var(--sidebar-color);
    }

    &#{ $platformWin } {
        #{ $settingsContentScroller } {
            margin-top: 0;
        }
    }

    #{ $settingsContentScroller } {
        background-color: transparent;
    }
}

#{ $alignChatInput } {
    #{ $channelsContainer },
    #{ $privateChannels } {
        #{ $scroller } {
            margin-bottom: 0;
        }
    }

    #{ $messagesScrollerSpacer } {
        height: var(--space-24);
    }

    #{ $channelTextAreaAttachWrapper } {
        padding: 0;
    }

    #{ $channelTextAreaAttachButtonInner },
    #{ $channelTextAreaButtonInner }:not(#{ $channelTextAreaButtonInnerNoHover }),
    #{ $channelTextAreaEmojiButton } {
        border-radius: var(--space-16);
    }
}
