/**
 * @name Spotify_Discord_addon-redesign
 * @version 1.0.0
 * @description Further redesigns Discord to be more like Spotify. Best suited to use SpotifyControls by DevilBro alongside this add-on theme. Requires Spotify Discord base theme installed and enabled.
 * @author CapnKitten
 * 
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Spotify-Discord/css/addons/Spotify-Discord_addon-redesign.theme.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */
:root {
  --title-bar-height: 55px; }

/*
 *
 *	CUSTOM SERVER COLORS HERE
 *
 *	COPY THE BETTERDISCORD EXAMPLE AND REPLACE
 *	THE SERVER NAME AND HEX COLOR CODE
 *
 */
.container-3w7J-x[aria-label*="BetterDiscord"]:before {
  --title-custom: #3b77c4; }

/*
 *
 *	THEME STARTS HERE
 *
 */
/* SEARCH BAR */
.search-36MZv- {
  position: absolute;
  left: 0;
  border-radius: 14px;
  transition: 300ms ease box-shadow; }
  .search-36MZv-:focus-within {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }
  .search-36MZv- .searchBar-3dMhjb {
    width: 28px;
    padding: 0 !important;
    background-color: #0a0a0a !important;
    transition: 300ms ease all;
    cursor: pointer; }
    .search-36MZv- .searchBar-3dMhjb:focus-within {
      width: 200px;
      padding: 0 8px 0 6px !important;
      background-color: var(--input-bg) !important;
      cursor: text; }
      .search-36MZv- .searchBar-3dMhjb:focus-within .iconLayout-1WxHy4 {
        cursor: text; }
      .search-36MZv- .searchBar-3dMhjb:focus-within .icon-38sknP {
        margin: 0 -5px 0 0; }
        .search-36MZv- .searchBar-3dMhjb:focus-within .icon-38sknP .icon-3cZ1F_ {
          color: var(--input-text-color); }
    .search-36MZv- .searchBar-3dMhjb .iconLayout-1WxHy4 {
      width: 28px;
      cursor: pointer; }
    .search-36MZv- .searchBar-3dMhjb .icon-38sknP {
      margin: 0; }
      .search-36MZv- .searchBar-3dMhjb .icon-38sknP .icon-3cZ1F_ {
        color: #eee; }

.title-3qD0b-[aria-label="Channel header"] .children-19S4PO {
  margin-left: 28px; }

/* TITLE BAR */
.typeWindows-1za-n7 {
  position: absolute;
  width: calc(100% - 72px);
  height: 12px;
  right: 0;
  background-color: transparent; }
  .typeWindows-1za-n7 .wordmarkWindows-1v0lYD {
    display: none; }
  .typeWindows-1za-n7 .winButton-iRh8-Z {
    position: absolute;
    width: 45px;
    height: 31px;
    background-color: var(--window-button); }
    .typeWindows-1za-n7 .winButton-iRh8-Z.winButtonMinMax-PBQ2gm:hover {
      background-color: var(--window-button-hover); }
    .typeWindows-1za-n7 .winButton-iRh8-Z.winButtonMinMax-PBQ2gm:nth-last-of-type(1) {
      right: 90px; }
    .typeWindows-1za-n7 .winButton-iRh8-Z.winButtonMinMax-PBQ2gm:nth-last-of-type(2) {
      right: 45px; }
    .typeWindows-1za-n7 .winButton-iRh8-Z.winButtonClose-1HsbF-:hover {
      background-color: var(--window-button-close); }

.notice-3bPHh- {
  margin-right: 135px;
  height: 31px !important;
  max-height: 31px;
  line-height: 31px; }
  .notice-3bPHh- .closeButton-3cJIM4 {
    height: 31px;
    max-height: 31px; }

.toolbar-1t6TWx .anchor-3Z-8Bb {
  display: none; }

.header-2V-4Sw {
  height: var(--title-bar-height); }

/* TITLE BAR -> COLORED */
.wrapper-2qzCYF {
  z-index: auto;
  margin-top: var(--title-bar-height); }
  .wrapper-2qzCYF.minimum-28Z35l {
    background-color: var(--title-bar); }
  .wrapper-2qzCYF.video--KPXCT.noChat-18KtBD .callContainer-36WRfH {
    margin-bottom: calc(var(--bar-size) + var(--title-bar-height)); }
  .wrapper-2qzCYF.video--KPXCT .root-217Brm {
    background-color: #000; }
  .wrapper-2qzCYF.video--KPXCT .callContainer-36WRfH:before {
    position: absolute;
    content: " ";
    width: 100%;
    height: var(--title-bar-height);
    top: calc(var(--title-bar-height) * -1);
    left: 0;
    background-color: #000;
    pointer-events: none; }
  .wrapper-2qzCYF .callContainer-36WRfH {
    overflow: visible; }
  .wrapper-2qzCYF .headerWrapper-3NUKsd {
    margin-top: -55px;
    background-color: var(--title-bar); }

.chat-3bRxxu {
  background-color: var(--title-bar); }

.container-1r6BKw {
  width: calc(100% - 310px);
  height: var(--title-bar-height);
  padding-right: 0;
  transition: 300ms ease padding-left;
  --text-color: #fff;
  /*&:focus-within {
  	padding-left: 180px;
  }*/ }
  .container-1r6BKw.themed-ANHk51 {
    background-color: transparent; }
  .container-1r6BKw .clickable-3rdHwn:hover .icon-22AiRD {
    color: var(--interactive-hover); }
  .container-1r6BKw .selected-1GqIat .icon-22AiRD {
    color: var(--interactive-active); }
  .container-1r6BKw .icon-22AiRD,
  .container-1r6BKw .base-1x0h_U,
  .container-1r6BKw .topic-TCb_qw,
  .container-1r6BKw .nicknames-1XK4Zt {
    color: var(--text-color); }
  .container-1r6BKw .anchor-3Z-8Bb {
    color: var(--text-color) !important;
    font-weight: 600; }

.container-3w7J-x:before,
.container-1D34oG:before,
.container-3Mxszk:before,
.applicationStore-1pNvnv:before {
  position: fixed;
  content: " ";
  width: calc(100% - 312px);
  height: var(--title-bar-height);
  right: 0;
  background-color: var(--title-bar);
  z-index: -1; }

.container-1D34oG:before,
.container-3Mxszk:before,
.applicationStore-1pNvnv:before {
  z-index: auto; }

.container-3w7J-x:before {
  background-color: var(--title-custom); }
.container-3w7J-x[aria-label*="BetterDiscord"]:before {
  --title-custom: #3b77c4; }
.container-3w7J-x[aria-label*="CapnKitten"]:before {
  --title-custom: #184c88; }

/* USER STATUS */
.sidebar-2K8pFh {
  margin-bottom: calc(var(--bar-size) + 1px);
  z-index: 3; }

.container-3baos1 {
  position: absolute;
  height: 32px;
  top: 12px;
  right: 150px;
  margin-bottom: 0;
  padding: 0 2px;
  background-color: #0a0a0a !important;
  border-radius: 18px;
  border-top: none; }
  .container-3baos1 .avatar-SmRMf2 {
    width: 28px !important;
    height: 28px !important; }
  .container-3baos1 .nameTag-3uD-yy {
    max-width: 76px;
    height: 100%;
    margin-right: 36px; }
    .container-3baos1 .nameTag-3uD-yy:hover .usernameContainer-1fp4nu {
      height: 18px; }
    .container-3baos1 .nameTag-3uD-yy:hover .subtext-3CDbHg {
      height: 13px;
      opacity: 1;
      visibility: visible; }
    .container-3baos1 .nameTag-3uD-yy .hoverRoll-YK53gQ .hovered-d5PMVU {
      display: none; }
    .container-3baos1 .nameTag-3uD-yy .hoverRoll-YK53gQ .default-3sgIpy {
      opacity: 1;
      transform: none; }
  .container-3baos1 .usernameContainer-1fp4nu,
  .container-3baos1 .subtext-3CDbHg {
    transition: 300ms ease all; }
  .container-3baos1 .usernameContainer-1fp4nu {
    height: 100%; }
  .container-3baos1 .subtext-3CDbHg {
    height: 0;
    opacity: 0;
    visibility: hidden; }
  .container-3baos1 .flex-1xMQg5 {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    padding: 0; }
    .container-3baos1 .flex-1xMQg5:before {
      position: inherit;
      content: " ";
      width: 32px;
      height: 32px;
      top: 0;
      right: 0;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjRweCIgZmlsbD0iI0ZGRkZGRiI+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xNi41OSA4LjU5TDEyIDEzLjE3IDcuNDEgOC41OSA2IDEwbDYgNiA2LTZ6Ii8+PC9zdmc+);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer; }
    .container-3baos1 .flex-1xMQg5:after {
      position: absolute;
      content: " ";
      width: 100%;
      height: 16px;
      top: -16px;
      right: 0;
      background-color: transparent; }
    .container-3baos1 .flex-1xMQg5 .button-14-BFJ {
      display: grid;
      grid-template-columns: 20px max-content;
      grid-template-rows: auto;
      gap: 0 8px;
      justify-content: left;
      width: 100%;
      height: 32px;
      max-height: 32px;
      padding: 6px 11px;
      border-radius: var(--popout-radius-small);
      opacity: 0;
      visibility: hidden; }
      .container-3baos1 .flex-1xMQg5 .button-14-BFJ:hover {
        background-color: var(--menu-hover-color); }
      .container-3baos1 .flex-1xMQg5 .button-14-BFJ:after {
        position: relative;
        content: attr(aria-label);
        width: auto;
        height: 20px;
        top: 0;
        left: 0;
        line-height: 20px; }
      .container-3baos1 .flex-1xMQg5 .button-14-BFJ .contents-18-Yxp {
        width: 20px;
        height: 20px; }
    .container-3baos1 .flex-1xMQg5:hover {
      width: auto;
      height: auto;
      top: 40px;
      padding: 4px;
      background-color: var(--popout-color);
      border-radius: var(--popout-radius-small);
      box-shadow: var(--default-shadow); }
      .container-3baos1 .flex-1xMQg5:hover:before {
        top: -40px; }
      .container-3baos1 .flex-1xMQg5:hover .button-14-BFJ {
        opacity: 1;
        visibility: visible; }

/* SPOTIFY CONTROLS */
.container-6sXIoE {
  position: absolute;
  width: 240px;
  height: var(--bar-size);
  bottom: 0; }
  .container-6sXIoE.withTimeline-824fT_ {
    padding-top: 0;
    background-color: var(--bar-color);
    border-top: none !important; }

/*# sourceMappingURL=Spotify-Discord_addon-redesign.theme.css.map */
