/*
 *
 *  BETA - VISUAL REFRESH
 *
 */

%visualRefresh {
    %bg {
        background-color: var(--app-background);
    }

    %base {
        margin: var(--app-card-top-margin) var(--app-card-margin) var(--app-card-margin);
    }

    /* servers */

    %guildsWrapper {
        height: calc(100% - calc(var(--custom-app-panels-height, 0) + var(--app-card-margin))) !important;
        margin: 0 var(--app-card-margin) calc(var(--custom-app-panels-height, 0) + 8px) 0 !important;
        background-color: var(--app-foreground);
    }

    /* channels */

    %sidebarList {
        height: calc(100% - calc(var(--custom-app-panels-height, 0) + var(--app-card-margin)));
        border: none;

        %scroller {
            margin: 0;
        }
    }

    %channelsSidebar {
        overflow: visible;

        &:after {
            display: none;
        }
    }

    %sidebarResizeHandle {
        width: var(--app-card-margin);
        right: calc(var(--app-card-margin) * -1);

        &:before {
            position: absolute;
            content: " ";
            width: 1px;
            height: calc(100% - (var(--app-card-radius) * 2));
            left: 0;
            right: 0;
            margin: var(--app-card-radius) auto;
            background-color: hsl(from var(--app-foreground) h s calc(l * 4.5));
            opacity: 0;
            transition: 200ms ease opacity;
        }

        &:hover,
        &:active {
            background-color: transparent;

            &:before {
                opacity: 1;
            }
        }
    }

    %channelsContainer,
    %privateChannels {
        background-color: var(--app-foreground);
        border-radius: var(--app-card-radius);
    }

    %channelsHeaderContainer {
        border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
    }

    %channelsHeader {
        padding: 0 16px;
        border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
        border-bottom: none;
    }

    %channelsContainer {
        padding-bottom: 0;
    }

    %panels {
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: var(--app-foreground);
        border-radius: var(--app-card-radius);
        border: none;
    }

    /* spotify panel */

    %spotifyPanel {
        position: relative;
        width: 100%;
        height: auto;
        left: unset;
        bottom: unset;
        padding: 0 8px;

        %spotifyPanelInner {
            gap: 8px;
        }

        %spotifyPanelCoverWrapper {
            position: relative;
            width: 32px;
            height: 32px;
            top: unset;
            left: unset;
            bottom: unset;
            margin: 0;
            transform: none !important;
        }

        %spotifyPanelDetails {
            margin: 0;
        }

        %spotifyPanelTimeline {
            margin: 6px 0 4px 0;
        }
    }

    /* spotify panel vencord */

    %vencordSpotifyPlayer {
        position: unset;
        width: 100%;
        height: auto;
        left: unset;
        bottom: unset;
        padding: var(--space-xs);
        border-bottom: 1px solid var(--border-faint);
    }

    %vencordSpotifyInfoWrapper {
        width: auto;
        height: auto;
        margin-top: unset;
        margin-left: unset;
        gap: 8px;
    }

    %vencordSpotifyAlbumImage {
        position: unset;
        width: 52px;
        height: 52px !important;
        left: 18px;
        top: 14px;
    }

    %vencordSpotifyProgressBar {
        width: auto;
        margin: 8px 0 5px;

        %menuPopoutSliderContainer {
            width: auto;
            margin: 0 auto;
        }

        %sliderGrabber {
            top: 2px;
        }

        %vencordSpotifyProgressTime {
            top: 10px;
        }
    }

    %vencordSpotifyButtonRow {
        position: unset;
        top: unset;
        right: 0;
        background-color: transparent;
    }

    /* private channels */

    %privateChannelsSearchBar {
        border-bottom: none;

        %buttonFilled%buttonPrimary {
            --button-background: var(--background-tinted-hover);
            --button-text-color: var(--text-normal);

            &:hover,
            &:active {
                transform: none;
            }
        }
    }

    /* chat */

    %chatContent {
        background: transparent;
    }

    %headerBar {
        border-bottom: none;
    }

    %chatForm {
        bottom: 0;
    }

    %channelTextArea {
        background-color: var(--main-textarea-color);
        border: none;

        %channelTextAreaFontPadding {
            padding: calc(var(--custom-channel-textarea-text-area-height) / 2 - var(--chat-markup-line-height) / 2) 0;
        }
    }

    %channelTextAreaStackedBars {
        background-color: transparent;
    }

    %channelAtachmentArea {
        padding: 10px;
        background-color: transparent;
    }

    %channelTextAreaUpload {
        background-color: var(--card-color);
        border-radius: calc(var(--main-textarea-radius) / 1.5);
        border: none;
        box-shadow: none;
    }

    %chatOuterSearchContainer {
        min-width: var(--space-32);
        min-height: var(--space-32);
    }

    %chatSearchBar {
        width: 24px;
        padding: 0;
        border-radius: 12px;
        border: none;

        %chatSearchRoot {
            padding: 0;
        }

        %chatSearchIconWrapper {
            width: 20px;
            height: 20px;
            top: 0;
            bottom: 0;
            margin: auto 0;
        }
    }

    /* forum */

    %forumContainer {
        background-color: transparent;
    }

    %forumHeader,
    %forumHeaderMatchingPostsRow,
    %forumGuidelinesContainer {
        background-color: var(--card-color);
        border: none;
    }

    %postContainer {
        background-color: var(--card-color);
        border: none;

        &:hover {
            background-color: var(--card-color-hover);
        }
    }

    %postContentPreview {
        background-color: var(--background-tinted-hover);
        border: none;

        %postTextContentFooter {
            background: none;
        }
    }

    %threadResizeHandle {
        background-color: var(--app-background);
    }

    /* members list */

    %memberActivityContainer {
        background-color: var(--background-tinted-hover);
        border: none;

        &%memberActivityContainerSelected {
            background-color: var(--background-tinted-active);
        }
    }

    /* friends list */

    %friends {
        height: 100%;
        background-color: var(--app-foreground);
        border-top: none;
    }

    %friendsTabBody {
        background-color: transparent;
    }

    /* active now */

    %activeNowCardInteractive {
        background-color: var(--card-color);
    }

    /* settings */

    %standardSidebarView {
        margin: var(--app-card-margin);
        gap: var(--app-card-margin);
        background-color: var(--app-background);
    }

    %settingsSidebarRegion {
        width: auto;
        flex: 1 0 1;
        margin: 0;
    }

    %settingsSidebar {
        padding: 60px var(--custom-standard-sidebar-view-sidebar-content-scrollbar-padding) 60px 8px;
    }

    %settingsContentRegion {
        margin: 0;
    }

    /* betterdiscord notice bar */

    %bdNotices {
        top: calc(var(--custom-app-top-bar-height) + var(--spacing-8));
    }
}
