/*
 *
 *  MATERIAL YOU
 *
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/addons/material-you/source.css);

/*
 *
 *  CHANNEL PANELS
 *
 */
.container-1NXEtd:after {
  position: absolute;
  content: " ";
  width: calc(100% + 16px);
  height: 40px;
  left: -8px;
  bottom: 0;
  background: linear-gradient(0deg, var(--main-color) 0%, transparent 50%);
  pointer-events: none;
  z-index: 1;
}

.panels-3wFtMD {
  border-radius: var(--popout-radius-big);
  overflow: hidden;
}
.panels-3wFtMD:before {
  display: none;
}

.container-6sXIoE,
.container-1zzFcN,
.activityPanel-9icbyU,
.listeningAlong-6YvYsc {
  margin-bottom: 2px;
  border-radius: 4px;
}

.container-YkUktl {
  border-radius: 4px;
}
