@use 'classes' as *;

:root {
	/* APP ELEMENTS */
	--app-bg: url(https://i.ibb.co/5h7854Wy/bgmVeyt.jpg);
	--app-blur: 6px;
	--app-margin: 24px;
	--app-radius: 10px;

	--main-rgb: 0,0,0;
	--main-content-opacity: 0.2;
	--sidebar-opacity: 0.4;
	--main-content-color: rgba(var(--main-rgb), var(--main-content-opacity));
	--sidebar-color: rgba(var(--main-rgb), var(--sidebar-opacity));

	/* ACCENT HSL AND TEXT COLOR SETTINGS */
	--accent-hue: 156;
	--accent-saturation: 77.5%;
	--accent-lightness: 47.1%;
	--accent-hsl: var(--accent-hue),calc(var(--accent-saturation) * var(--saturation-factor)),var(--accent-lightness);
	--accent-opacity: 1;
	--accent-text-color: hsl(0,0%,0%);

	--accent-secondary-color: hsl(from hsl(var(--accent-hsl)) h calc(s * 0.6) calc(l * 0.2) / calc(var(--accent-opacity) * 0.5));
    --accent-secondary-text-color: hsl(0,0%,94%);

	/* ALERT HSL AND TEXT COLOR SETTINGS */
	--alert-hue: 359;
	--alert-saturation: 66.7%;
	--alert-lightness: 54.1%;
	--alert-hsl: var(--alert-hue),calc(var(--alert-saturation) * var(--saturation-factor)),var(--alert-lightness);
	--alert-opacity: 1;
	--alert-action-color: hsl(0,0%,100%);
	--alert-text-color: hsl(0,0%,100%);

	/* MENTION HSL COLOR SETTINGS */
	--mention-hue: var(--accent-hue);
	--mention-saturation: var(--accent-saturation);
	--mention-lightness: var(--accent-lightness);
	--mention-hsl: var(--mention-hue),calc(var(--mention-saturation) * var(--saturation-factor)),var(--mention-lightness);
	--mention-opacity: 1;

	/* REPLY HSL COLOR SETTINGS */
	--reply-hue: 226;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-hsl: var(--reply-hue),calc(var(--reply-saturation) * var(--saturation-factor)),var(--reply-lightness);
	--reply-opacity: 1;

	/* MESSAGE COLOR SETTINGS */
	--message-color: hsl(0,0%,0%,0.4);
	--message-color-hover: hsl(0,0%,0%,0.55);
	--message-radius: var(--app-radius);
	--message-padding-top: 8px;
	--message-padding-side: 8px;
	--notification-color: hsl(0,0%,100%);

	--list-item-radius: var(--app-radius);

	/* TEXTAREA SETTINGS */
	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: hsl(0,0%,100%);
	--textarea-placeholder-color: hsl(0,0%,90%);
	--textarea-radius: 28px;
	--textarea-block-color: hsl(0,0%,0%,0.4);
	--textarea-block-text-color: #ccc;

	/* INPUT SETTINGS */
	--input-height: 36px;
	--input-radius: calc(var(--input-height) / 2);

	/* CARD SETTINGS */
	--card-color: hsl(0,0%,100%,0.1);
	--card-color-hover: hsl(0,0%,100%,0.15);
	--card-color-select: hsl(0,0%,100%,0.19);
	--card-radius: var(--app-radius);
	--card-header-shadow: 0px 3px 9px 0px hsl(0,0%,0%,0.25);

	/* BUTTON SETTINGS */
	--button-height: 32px;
	--button-padding: 0 16px;
	--button-color: hsla(var(--accent-hsl),var(--accent-opacity));
	--button-action-color: hsl(0,0%,0%);
	--button-text-color: var(--accent-text-color);
	--button-radius: 16px;

	/* SWITCH SETTINGS */
	--switch-slider-color: hsla(218,4.6%,46.9%,0.85);
    --switch-knob-color: hsl(0,0%,13%);

	/* CHAT SEARCH BAR SETTINGS */
	--chat-search-size: 32px;
	--chat-search-pill-size: 22px;

	/* POPOUT SETTINGS */
	--popout-color: hsl(0,0%,0%,0.55);
	--popout-blur: 8px;
	--popout-header-opacity: 0.3;
	--popout-header-shadow: 0px 3px 9px 0px hsl(0,0%,0%,0.25);
	--popout-radius: var(--app-radius);
	--popout-shadow: 0 8px 10px 1px hsl(0,0%,0%,0.14), 0 3px 14px 2px hsl(0,0%,0%,0.12), 0 5px 5px -3px hsl(0,0%,0%,0.2);

	--nowplaying-color: 88,101,242;
	--streaming-color: 89,54,149;
	--spotify-color: 29,185,84;

	--server-folder-color: hsl(0,0%,100%,0.1);

	--supporter-color: hsla(var(--accent-hsl),var(--accent-opacity));

	/* TOOLTIP SETTINGS */
	--tooltip-color: hsla(var(--accent-hsl),var(--accent-opacity));
	--tooltip-text-color: var(--accent-text-color);
	--tooltip-font-size: 14px;
	--tooltip-padding: 8px 12px;
	--tooltip-radius: var(--app-radius);
	--tooltip-shadow: var(--elevation-high);

	/* ANIMATION SETTINGS */
	--transition-time: 250ms;
	--transition-type: cubic-bezier(0.4,0,0.2,1);

	/* SCROLLBAR SETTINGS */
	--scrollbar-color: 255,255,255;
	--scrollbar-color-alt: 0,0,0;
	--scrollbar-opacity: 0.2;
	--scrollbar-opacity-hover: 0.3;
	--scrollbar-width: 10px;

	/* TEXT COLOR SETTINGS */
	--text-normal: var(--interactive-normal);
}

@supports (color:color-mix(in lch,red,blue)) {
	#{ $visualRefresh } {
		&#{ $themeDark },
		#{ $themeDark } {
			/* TEXT COLOR SETTINGS */
	        --text-primary: hsl(0,0%,100%);
			--text-secondary: hsl(0,0%,77%);

			--channels-default: hsl(0,0%,62%);
			--channel-icon: hsl(0,0%,62%);

			/* ICON COLOR SETTINGS */
			--icon-primary: hsl(0,0%,96%);
			--icon-secondary: hsl(0,0%,84%);
			--icon-tertiary: hsl(0,0%,71%);

			/* INTERACTIVE COLOR SETTINGS */
			--interactive-normal: hsl(0,0%,79%);
			--interactive-hover: hsl(0,0%,91%);
			--interactive-active: hsl(0,0%,100%);
			--interactive-muted: hsl(0,0%,43%);

			/* BACKGROUND MODIFIER SETTINGS */
			--background-modifier-hover: hsl(0,0%,100%,0.075);
			--background-modifier-active: hsl(0,0%,100%,0.1);
			--background-modifier-selected: hsl(0,0%,100%,0.125);
			--background-modifier-accent: hsl(0,0%,100%,0.175);

			--background-primary: transparent;

			--text-brand: hsl(var(--accent-hsl));
			--text-link: hsl(var(--accent-hsl));
		}
	}
}
