:root {
	--app-bg: url(https://i.imgur.com/bgmVeyt.jpg);
	--app-blur: 6px;
	--app-margin: 24px;
	--app-radius: 10px;

	--sidebar-color: rgba(0,0,0,0.4);
	--main-content-color: rgba(0,0,0,0.2);

	--accent-hue: 156;
	--accent-saturation: 77.5%;
	--accent-lightness: 47.1%;
	--accent-hsl: var(--accent-hue),calc(var(--accent-saturation) * var(--saturation-factor)),var(--accent-lightness);
	--accent-opacity: 1;
	--accent-text-color: #000;

	--alert-hue: 359;
	--alert-saturation: 66.7%;
	--alert-lightness: 54.1%;
	--alert-hsl: var(--alert-hue),calc(var(--alert-saturation) * var(--saturation-factor)),var(--alert-lightness);
	--alert-opacity: 1;
	--alert-action-color: #fff;
	--alert-text-color: #fff;

	--message-color: rgba(0,0,0,0.4);
	--message-color-hover: rgba(0,0,0,0.55);
	--message-radius: var(--app-radius);
	--message-padding-top: 8px;
	--message-padding-side: 8px;

	--mention-hue: var(--accent-hue);
	--mention-saturation: var(--accent-saturation);
	--mention-lightness: var(--accent-lightness);
	--mention-hsl: var(--mention-hue),calc(var(--mention-saturation) * var(--saturation-factor)),var(--mention-lightness);
	--mention-opacity: 1;

	--reply-hue: 226;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-hsl: var(--reply-hue),calc(var(--reply-saturation) * var(--saturation-factor)),var(--reply-lightness);
	--reply-opacity: 1;

	--notification-color: #fff;

	--list-item-radius: var(--app-radius);

	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #fff;
	--textarea-placeholder-color: #aaa;
	--textarea-radius: 22px;

	--input-height: 36px;
	--input-radius: calc(var(--input-height) / 2);

	--search-block-color: rgba(0,0,0,0.2);
	--search-block-text-color: #fff;

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.625);
	--card-radius: var(--app-radius);
	--card-header-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25);

	--button-color: hsla(var(--accent-hsl),var(--accent-opacity));
	--button-action-color: #000;
	--button-text-color: var(--accent-text-color);
	--button-radius: var(--app-radius);

	--switch-slider-color: rgba(114,118,125,0.85);
    --switch-knob-color: #222;

	--popout-color: rgba(0,0,0,0.55);
	--popout-blur: 8px;
	--popout-header-opacity: 0.3;
	--popout-header-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25);
	--popout-radius: var(--app-radius);
	--popout-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);

	--nowplaying-color: 88,101,242;
	--streaming-color: 89,54,149;
	--spotify-color: 29,185,84;

	--server-folder-color: rgba(255,255,255,0.1);

	--supporter-color: hsla(var(--accent-hsl),var(--accent-opacity));

	--tooltip-color: hsla(var(--accent-hsl),var(--accent-opacity));
	--tooltip-text-color: var(--accent-text-color);
	--tooltip-font-size: 14px;
	--tooltip-padding: 8px 12px;
	--tooltip-radius: var(--app-radius);
	--tooltip-shadow: var(--elevation-high);

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777;

	--channels-default: #aaa;
	--header-secondary: #dfdfdf;

	--background-primary: transparent;

	--channels-default: var(--interactive-normal);
	--text-muted: var(--interactive-normal);

	--transition-time: 250ms;
	--transition-type: cubic-bezier(0.4,0,0.2,1);

	--scrollbar-color: 255,255,255;
	--scrollbar-color-alt: 0,0,0;
	--scrollbar-opacity: 0.2;
	--scrollbar-opacity-hover: 0.3;
	--scrollbar-width: 10px;

	--font-primary: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	--font-display: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.theme-dark,
.theme-light {
	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-active: rgba(255,255,255,0.1);
	--background-modifier-selected: rgba(255,255,255,0.125);
	--background-modifier-accent: rgba(255,255,255,0.175);
}
