/*
 *
 *  CHANNELS LIST
 *
 */

%platformWin {
    %channelsSidebar {
        border-radius: 0;
    }
}

%channelsSidebar {
	background-color: var(--sidebar-color);

    %channelsContainer {
    	background-color: transparent;
    }

    %channelContent {
        border-radius: var(--list-item-radius);
    }
}

%channelsHeader {
	background-color: transparent !important;
    box-shadow: var(--popout-header-shadow);
}

%voiceUserContent {
    border-radius: var(--list-item-radius);
}
