@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  CHANNELS LIST
 *
 */

#{ $platformWin } {
    #{ $channelsSidebar } {
        border-radius: 0;
    }
}

#{ $channelsSidebar } {
	background-color: var(--sidebar-color);

    #{ $channelsContainer } {
    	background-color: transparent;
    }

    #{ $channelLink } {
        border-radius: var(--list-item-radius);
    }

    #{ $voiceChannelsButton } {
        &:hover {
            background-color: var(--background-modifier-hover);
        }
    }
}

#{ $channelsHeader } {
	background-color: transparent !important;
    box-shadow: var(--popout-header-shadow);

    #{ $guildCommunityInfoPill } {
        background-color: var(--card-color);
        border-radius: var(--card-radius);
    }
}

#{ $voiceUserContent } {
    border-radius: var(--list-item-radius);
}

#{ $guildLiveEvent } {
    @include card-format;
}

#{ $guildServerBoostProgressContainer } {
    background-color: var(--card-color);
}

/* CHANNELS LIST -> ACTION BUTTONS */

#{ $channelActionButton } {
    background-color: var(--background-modifier-hover);
    border-radius: var(--list-item-radius);
    border: none;

    &:hover {
		background-color: var(--background-modifier-active);
	}

	&#{ $channelActionButtonSelected } {
		background-color: var(--background-modifier-accent);
	}
}
