@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  PANELS
 *
 */

#{ $panels } {
	background-color: transparent;
}

#{ $connectionPanelActionButtons } {
    #{ $button } {
        path {
            &[fill] {
                fill: currentColor !important;
            }

            &[stroke] {
                stroke: currentColor !important;
            }
        }
    }
}

#{ $voiceUserAvatar } {
    &[style*="box-shadow: 0 0 0 0px var(--status-speaking), inset 0 0 0 2px var(--status-speaking), inset 0 0 0 3px var(--background-base-lower)"] {
        box-shadow: inset 0 0 0 2px hsl(var(--accent-hsl)), inset 0 0 0 3px var(--background-base-lower) !important;
    }
}

#{ $activitiesPanel } {
	width: calc(100% - 16px);
    margin: 0 8px 8px;
	@include add-translucence(before, true);

	#{ $activitiesPanelContent } {
        padding: 8px 0;
    }

    #{ $activitiesPanelVideo } {
        width: 208px !important;
        height: 117px !important;
        border-radius: var(--popout-radius);
    }
}

#{ $connectionPanel },
#{ $accountPanel },
#{ $accountPanelContent },
#{ $activityPanel } {
	background: transparent !important;
}

#{ $connectionPanel } {
	#{ $disabledButtonWrapper } {
		--button-padding: 0;

		border-radius: var(--button-radius);
	}
}

#{ $accountPanelAvatarWrapper } {
	margin-left: -4px;
	padding-left: 4px;

	&:hover {
		border-radius: 20px;
	}
}

#{ $listeningAlongPanel } {
	border-top: none;
	border-bottom-color: var(--background-modifier-accent);
}

/* PANELS -> QUEST */

#{ $questPanelWrapper } {
    background-color: transparent !important;
    border-radius: 0;
}

#{ $questPanelContentWrapper } {
    background-color: transparent !important;
    border-radius: 0;
    &:after {
        box-shadow: none !important;
    }
}

#{ $questPanelBackgroundWrapper } {
    display: none;
}

#{ $heroAssetWrapper } {
    border-radius: 0 !important;
}

#{ $heroAssetWrapper } {
    filter: none !important;
}

#{ $questLegibilityGradient } {
    background: none;
    border-radius: 0;
}

#{ $heroAssetDarken },
#{ $heroAssetTint } {
    background-color: transparent !important;
    border-radius: 0;
}
