@use '../classes' as *;

/*
 *
 *  PRIVATE CHANNELS
 *
 */

#{ $privateChannels },
#{ $privateChannelsScroller } {
    background-color: transparent !important;
}

#{ $privateChannelsScroller } {
    margin-bottom: 0;
}

#{ $privateChannelsSearchBar } {
    height: 56px;
    box-shadow: var(--popout-header-shadow);

    #{ $privateChannelsSearchBarComponent } {
        background-color: rgba(var(--textarea-color),var(--textarea-alpha));
    	border-radius: 14px;
    }
}

#{ $privateChannel } {
    border-radius: var(--list-item-radius);
}
