@use "../classes" as *;

/*
 *
 *  PRIVATE CHANNELS
 *
 */

#{ $privateChannels },
#{ $privateChannelsScroller } {
  background-color: transparent !important;
}

#{ $privateChannels } {
  padding-block-end: calc(var(--custom-app-panels-height, 0) + 10px);
}

#{ $privateChannelsScroller } {
  margin-block-end: 0;
}

#{ $privateChannelsSearchBar } {
  height: 56px;
  border-bottom: none;
  box-shadow: var(--popout-header-shadow);

  #{ $buttonV2 } {
    --button-background: rgba(var(--textarea-color), var(--textarea-alpha));
    --button-text-color: var(--textarea-text-color);
  }
}

#{ $privateChannel } {
  border-radius: var(--list-item-radius);
}
