@use "../../classes" as *;

/*
 *
 *  BETTERDISCORD CSS EDITOR
 *
 */

#{ $bdEditorPanel } {
  border-radius: var(--card-radius-big);
  overflow: hidden;
}

#{ $bdEditorControls } {
  background-color: var(--card-color-filled);
  border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
}

#{ $bdCustomcssEditor } {
  background-color: var(--card-color-filled);
}

#{ $monacoEditor } {
  outline: none;

  &,
  #{ $monacoEditorBackground },
  #{ $monacoEditorMargin } {
    background-color: inherit !important;
  }

  #{ $bdEditorOverflowGuard } {
    border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
    border-block-start: none;
  }

  #{ $bdEditorMinimap } {
    inset-inline-end: 7px;

    &#{ $bdEditorMinimapShadowVisible } {
      box-shadow: none !important;
    }
  }

  #{ $bdEditorScrollDecoration } {
    box-shadow: none !important;
  }
}

#{ $monacoEditor },
#{ $aceEditor },
#{ $bdEditorLineNumbers } {
  * {
    --app-font: var(--code-font), monospace;

    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .codicon[class*="codicon-"] {
    font-family: codicon !important;
  }
}
