@use '../../selectorPlaceholders' as *;
@use '../../mixins' as *;

/*
 *
 *  BETTERDISCORD MODALS
 *
 */

#{ $bdModalRoot } {
    @include popout-format;

	#{ $bdModalParagraph } {
		color: var(--interactive-text-default);
	}

    #{ $bdModalFooter } {
        background-color: transparent;
        box-shadow: none;
		gap: 8px;
    }

    #{ $bdSettingsGroup } {
        --slider-grabber-background: var(--card-color-filled);
    }
}

#{ $bdModalHeader } {
    padding: 24px 24px 16px;

    #{ $bdModalHeaderPrimary } {
        font-size: 22px;
        font-weight: 400;
        color: var(--header-primary);
    }
}

#{ $bdModalContent } {
    padding: 0 24px;
    color: var(--interactive-text-default);

    &#{ $bdScrollerThin } {
        padding: 0 16px 0 24px;
    }
}

#{ $bdModalFooter } {
    padding: 24px;
    background-color: transparent;

    #{ $bdButton } {
        min-height: var(--button-height);
        height: var(--button-height);
        padding: var(--button-padding);
        font-size: 14px;
    }
}
