@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  BETTERDISCORD NOTICES
 *
 */

#{ $bdNotices } {
    position: absolute;
    top: var(--space-8);
    right: var(--space-8);
    z-index: 1001;

    &:has(#{ $bdNotice }) {
        width: auto;
        left: unset;
    }
}

#{ $base } {
    &:has(#{ $bdNotices } #{ $bdNotice }) {
        margin-top: 0;
    }
}

#{ $bdNotice } {
    display: flex;
    max-width: 25vw;
    height: auto;
    line-height: normal;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
    box-shadow: var(--shadow-medium);

    &:first-child {
        border-radius: var(--popout-radius-big);
    }

    &:not(:only-child):last-child {
        margin-top: 8px;
    }

    #{ $bdNoticeClose } {
        width: 18px;
        height: 18px;
        top: 16px;
        right: 16px;
        @include add-icon(var(--header-secondary), close);
        background-image: none;
    	-webkit-mask-position: center;
    			mask-position: center;
        opacity: 0.75;
    }

    #{ $bdNoticeContent } {
        margin-right: 30px;
        font-size: 1.25em;
        font-weight: 400;
        color: var(--header-primary) !important;
        text-align: left;
    }

    #{ $bdNoticeButton } {
        display: flex;
        height: var(--button-height);
        line-height: var(--button-height);
        top: 0;
        margin: 0;
        justify-content: center;
        background-color: hsl(var(--accent-hsl--material-you)) !important;
        border-radius: var(--button-radius);
        border: none;
        color: var(--accent-text-color--material-you);
        font-size: 1em;
        font-weight: 500;
    }
}

#{ $bdNotificationRoot } {
    padding: 0;
}

#{ $bdNotificationTopRight } {
    top: calc(var(--custom-app-top-bar-height) + var(--space-16));
    right: var(--space-16);
}

#{ $bdNotification } {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
    border: none;
    box-shadow: var(--shadow-medium);
    overflow: hidden;
}

#{ $bdNotificationClose } {
    top: var(--space-16);
    right: var(--space-16);
}

#{ $bdNotificationContent } {
    padding: var(--space-24) var(--space-24) 0;
}

#{ $bdNotificationFooter } {
    padding: var(--space-16) var(--space-24) calc(var(--space-24) - var(--space-4));
    background-color: transparent;
}

#{ $bdNotificationProgress } {
    height: var(--space-4);
    margin-top: 0;

    &[style*="background-color: var(--bd-brand)"] {
        background-color: hsl(var(--accent-hsl)) !important;
    }
}
