@use '../../mixins' as *;

/*
 *
 *  BETTERDISCORD NOTICES
 *
 */

%bdNotices {
    position: absolute;
    top: var(--spacing-8);
    right: var(--spacing-8);
    z-index: 1001;
}

%bdNotice {
    display: flex;
    max-width: 25vw;
    height: auto;
    line-height: normal;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
    box-shadow: var(--shadow-3dp);

    &:first-child {
        border-radius: var(--popout-radius-big);
    }

    &:not(:only-child):last-child {
        margin-top: 8px;
    }

    %bdNoticeClose {
        width: 18px;
        height: 18px;
        top: 16px;
        right: 16px;
        @include add-icon(var(--header-secondary), close);
        background-image: none;
    	-webkit-mask-position: center;
    			mask-position: center;
        opacity: 0.75;
    }

    %bdNoticeContent {
        margin-right: 30px;
        font-size: 1.25em;
        font-weight: 400;
        color: var(--header-primary) !important;
        text-align: left;
    }

    %bdNoticeButton {
        display: flex;
        height: var(--button-height);
        line-height: var(--button-height);
        top: 0;
        margin: 0;
        justify-content: center;
        background-color: hsl(var(--accent-hsl--material-you)) !important;
        border-radius: var(--button-radius);
        border: none;
        color: var(--accent-text-color--material-you);
        font-size: 1em;
        font-weight: 500;
    }
}
