@use '../../selectorPlaceholders' as *;
@use '../../mixins' as *;

/*
 *
 *  BETTERDISCORD SELECT MENU
 *
 */

#{ $bdSelect },
#{ $bdSelectLabel } {
	line-height: 26px;
}

#{ $bdSelect } {
	&#{ $bdSelectTransparent } {
		gap: 4px;
	}

	#{ $bdSelectValue } {
		padding-left: 0;
	}

	#{ $bdSelectArrow } {
		height: 26px !important;
		margin-left: 0;
	}

	#{ $bdSelectOptions } {
		padding: 8px 0;
		background-color: var(--popout-color);
		border-radius: var(--popout-radius);
		border: none;
	    box-shadow: var(--shadow-medium);
	    animation: opacity 100ms ease, open-context-menu 300ms var(--default-animation);
		transform-origin: top;
	}

	#{ $bdSelectOption } {
		min-height: 32px;
		padding: 9px 12px;
		line-height: 18px;
		font-weight: 500;
		color: var(--menu-item-text-color);
		box-sizing: border-box;
		transition: var(--default-time) var(--default-animation) background-color;

		&:hover {
            background-color: var(--menu-item-hover);
        }

		&#{ $bdSelectOptionSelected } {
			background-color: var(--menu-item-select);
		}
	}
}
