/*
 *
 *  BETTERDISCORD SETTINGS
 *
 */

%bdSettingsTitle {
	color: var(--header-primary);
}

%bdSettingsGroup {
    &%bdSettingsGroupCollapsible {
        margin-bottom: var(--space-8);
        padding: var(--space-16);
        background-color: var(--card-color-filled);
        border-radius: var(--card-radius-big);

        &%bdSettingsGroupExpanded {
            %bdSettingsContainer {
                margin-top: var(--space-24);
            }
        }

        %bdSettingsGroupTitle {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 400;
            cursor: pointer;
        }

        %bdSettingsContainer {
            transition: var(--default-time) var(--default-animation) height, var(--default-time) var(--default-animation) margin-top;
        }

        %bdSettingItem {
            &:last-of-type {
                margin-bottom: 0;

                %bdDivider {
                    display: none;
                }
            }
        }
    }

    ~ %bdSettingsGroup {
        %bdSettingsTitle {
            margin-top: 0;
        }
    }
}

%bdSettingsTitle {
    &%bdSettingsGroupTitle {
        text-transform: none;
    }
}

%bdDivider {
    border-top: thin solid var(--card-border-color);
}
