@use '../../mixins' as *;

/*
 *
 *  BETTERDISCORD ADDONS
 *
 */

%bdSettingsTitle {
	color: var(--header-primary);
}

%bdModalRoot {
    @include popout-format;

	%bdModalParagraph {
		color: var(--text-normal);
	}

    %bdModalFooter {
        background-color: transparent;
        box-shadow: none;
		gap: 8px;
    }
}

%bdButton {
	--button-background: hsl(var(--accent-hsl--material-you));
	--button-text-color: var(--accent-text-color--material-you);
	--button-shadow: none;
	--button-outline: none;

	background-color: var(--button-background) !important;
	border-radius: var(--button-radius);
	border: var(--button-outline) !important;
	box-shadow: var(--button-shadow);
	color: var(--button-text-color) !important;

	&:hover {
		--button-shadow: none;
	}

	&:active {
		--button-shadow: none;
	}

	&:after {
		position: absolute;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: var(--button-action-color);
		border-radius: var(--button-radius);
		opacity: 0;
		pointer-events: none;
		transition: var(--default-time) var(--default-animation) opacity;
	}

	&:hover {
		&:after {
			opacity: var(--button-action-hover);
		}
	}

	&:active {
		&:after {
			opacity: var(--button-action-active);
		}
	}

	&:disabled {
		opacity: 0.5 !important;

		&:after {
			display: none;
		}
	}

	%bdButtonContent {
		background-image: none !important;
	}

	%bdButtonContent {
		svg:not([fill]) {
			.fill {
				fill: currentColor;
			}
		}

		svg[fill] {
			fill: currentColor;
		}
	}
}

%bdButtonFilled {
	&%bdButtonDanger {
		--button-background: hsl(var(--alert-hsl));
		--button-text-color: var(--alert-text-color);
	}
}

%bdButtonLink {
	--button-padding: 0 12px;
	--button-background: transparent;
	--button-shadow: none !important;

	&:after {
		--button-action-color: hsl(var(--accent-hsl--material-you));
	}

	&%bdButtonColorBrand,
	&%bdButtonColorPrimary {
		--button-text-color: hsl(var(--accent-hsl--material-you));
	}
}

%bdAddonSearchBar {
	padding: 0 8px;
	background-color: var(--input-color);
	border-radius: 13px;

	%bdAddonSearchInput {
		padding: 0;
		line-height: 26px;
		color: var(--text-normal);

		&::-webkit-input-placeholder {
			font-family: var(--app-font);
		}
	}
}

%bdSelectLabel {
	line-height: 26px;
}

%bdSelect {
	line-height: 26px;

	&%bdSelectTransparent {
		gap: 4px;
	}

	%bdSelectValue {
		padding-left: 0;
	}

	%bdSelectArrow {
		height: 26px !important;
		margin-left: 0;
	}

	%bdSelectOptions {
		padding: 8px 0;
		background-color: var(--popout-color);
		border-radius: var(--popout-radius);
		border: none;
	    box-shadow: var(--shadow-3dp);
	    animation: opacity 100ms ease, open-context-menu 300ms var(--default-animation);
		transform-origin: top;
	}

	%bdSelectOption {
		min-height: 32px;
		padding: 9px 12px;
		line-height: 18px;
		font-weight: 500;
		color: var(--menu-item-text-color);
		box-sizing: border-box;
		transition: var(--default-time) var(--default-animation) background-color;

		&:hover {
            background-color: var(--menu-item-hover);
        }

		&%bdSelectOptionSelected {
			background-color: var(--menu-item-select);
		}
	}
}

%bdAddonViews {
	%bdAddonViewsButton {
		background-color: transparent !important;

		&:not(%bdAddonViewsButtonSelected) {
            svg[fill] {
                fill: var(--interactive-normal);
            }
        }

		&%bdAddonViewsButtonSelected {
			background-color: hsl(var(--accent-hsl--material-you)) !important;

			svg {
				fill: var(--accent-text-color--material-you);
			}
		}
	}
}

%bdAddonControls {
	+ %bdAddonList {
		margin-top: 16px;
	}
}

%bdThemesTab {
	%bdAddonControls {
		&:after {
			position: relative;
			display: flex;
			flex-direction: column;
			content: "Theme Add-ons\A\AMaterial Discord has a few add-on themes to either enhance or revert\Asome features that can be located at bit.ly/MaterialDiscordAddons.\A\A - Solid Icons\A - Old Message Bubbles\A - Material You";
			width: 100%;
			margin-top: 16px;
			@include card-format(false, 16px, true);
			color: var(--text-normal);
			box-sizing: border-box;
			white-space: pre;
			word-wrap: break-word;
			line-height: 18px;
		}
	}
}

%bdEmptyImageContainer {
	margin-top: 24px;
	max-width: unset;
}

%bdAddonList {
	&%bdAddonListGridView {
		column-gap: 16px;
		row-gap: 16px;
	}

	%bdAddonCard {
		margin-bottom: 16px;
	}
}

%bdAddonCard {
	@include card-format(true, 0, true);

	%bdAddonCardHeader {
		@include card-format--header(false, true);

		%bdAddonCardLink {
			color: hsl(var(--accent-hsl));
		}

		%bdAddonCardHeaderMeta {
			display: block;
			font-size: 12px;
		}
	}

	%bdAddonCardDescriptionWrap {
		padding: 0 16px;
	}

	%bdAddonCardDescription {
		padding: 0;
	}

	%bdAddonCardFooter {
		background-color: transparent;
	}

	%bdAddonCardControls {
		background-color: transparent;
		border-radius: 14px;
		overflow: hidden;

		%bdButton {
			padding: 3px 8px;
			background-color: var(--card-button-color) !important;
			color: var(--text-normal);

			&:not([disabled]) {
				&:hover {
					background-color: var(--card-button-color-hover) !important;
				}
			}

			svg {
				fill: var(--text-normal);
			}
		}
	}

	path[d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"] {
	    d: path("M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612");
	    transform: scale(1.25) translate(2px,2px);
	}
}

%bdAddonCardDescriptionWrap %bdAddonBanner {
    margin-bottom: 16px;
    padding: 8px;
    border-radius: calc(var(--card-radius-big) / 1.5);
    border: none;
	color: var(--text-normal);
}

%bdAddonBanner {
    &%bdAddonBannerDanger {
        background-color: hsl(var(--alert-hsl),0.3);

        %bdAddonBannerIcon {
            fill: hsl(var(--alert-hsl));
        }
    }
}

/* BETTERDISCORD ADDONS -> BD ADDON MODAL */

%bdAddonModal {
    %bdAddonModalHeader {
        h1 {
            font-size: 22px;
            font-weight: 400;
        }
    }

    %bdSelect {
        @include new-input-format;
        font-size: 1em;
    }
}
