@use 'sass:map';
@use '../../classes' as *;

/*
 *
 *  BETTERDISCORD TOAST
 *
 */

#{ $bdToast } {
    display: flex;
    height: 40px;
    padding: 0 16px;
    border-radius: 20px;
    background-color: var(--tooltip-color);
    justify-content: center;
    align-items: center;
    box-shadow: none;
	font-size: 1em;
	font-weight: 400;
    color: var(--tooltip-text-color);

    &#{ $bdToastSuccess },
    &#{ $bdToastError },
    &#{ $bdToastInfo } {
        gap: var(--space-8);
        background-color: var(--tooltip-color);
        color: var(--tooltip-text-color);

        &:before {
            display: flex;
            position: relative;
            content: " ";
            width: 18px;
            height: 18px;
            -webkit-mask-repeat: no-repeat;
            mask-size: 100%;
            background-color: var(--tooltip-text-color);
        }
    }

    svg {
        display: none;
    }

    span {
        line-height: 40px;
        padding: 0;
    }

    $toasts: (
        success: (
            class: $bdToastSuccess,
            bg: hsl(var(--success-hsl)),
            text: var(--success-text-color),
            icon: check_circle
        ),
        error: (
            class: $bdToastError,
            bg: hsl(var(--alert-hsl)),
            text: var(--alert-text-color),
            icon: cancel
        ),
        info: (
            class: $bdToastInfo,
            bg: hsl(var(--accent-hsl--material-you)),
            text: var(--accent-text-color--material-you),
            icon: info
        )
    );

    @each $toast, $value in $toasts {
        $class: map.get($value, class);
        $bg:    map.get($value, bg);
        $text:  map.get($value, text);
        $icon:  map.get($value, icon);

        &#{$class} {
            --tooltip-color: #{$bg};
            --tooltip-text-color: #{$text};

            &:before {
                -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/#{$icon}.svg);
            }
        }
    }
}
