@use '../classes' as *;

/*
 *
 *	DISCORD SHOP HOME VIEW
 *
 */

#{ $shopOuterContainer } {
    background-color: var(--main-content-color);
}

#{ $shopPage },
#{ $shopContainer } {
    background-color: transparent;
}

#{ $shopViewWrapper } {
    #{ $dmProfileScroller } {
        background-color: transparent;
    }
}

#{ $shopDarkCardBackground },
#{ $shopLightCardBackground } {
    background-color: transparent;
    border-top: none;
}

#{ $shopCardPreview } {
    box-shadow: var(--card-header-shadow);
}
