@use '../mixins' as *;

/*
 *
 *  FRIENDS LIST
 *
 */

%friends {
    height: var(--content-full-height);
    background-color: var(--app-foreground);
    border-radius: var(--app-card-radius);
}

%friendsTabBody {
    &:before {
        display: none;
    }
}

%friendsSearchBar {
    @include input-format(false, true);

    %friendsSearchBarInner {
        padding: 0;
    }

    %friendsSearchBarInput {
        margin: 0;
        padding: 0;
    }
}

%friendsItem {
    &:hover,
    &%friendsItemActive {
        border-radius: var(--menu-item-radius);
    }

    &:hover {
        background-color: var(--background-tinted-hover);
    }

    &%friendsItemActive {
        background-color: var(--background-tinted-active);

        &:hover {
            background-color: var(--background-tinted-highlight);
        }
    }
}

%friendActionButton {
    background-color: var(--background-tinted-hover);

    &%friendActionButtonHighlight {
        background-color: var(--background-tinted-active);
    }
}
