@use '../mixins' as *;

/*
 *
 *  FRIENDS LIST
 *
 */

%friends {
    height: var(--content-full-height);
    background-color: var(--app-foreground);
    border-radius: var(--app-card-radius);
}

%friendsBlockedIgnoredSettingsNotice {
    margin: 16px 24px 0;
    background-color: var(--card-color);
    border-radius: var(--card-radius);
}

%friendsColumn {
    %searchContainer {
        margin: 24px 24px 0;
    }
}

%friendsTabBody {
    &:before {
        display: none;
    }
}

%friendsItem {
    &:hover,
    &%friendsItemActive {
        border-radius: var(--menu-item-radius);
    }

    &:hover {
        background-color: var(--background-tinted-hover);
    }

    &%friendsItemActive {
        background-color: var(--background-tinted-active);

        &:hover {
            background-color: var(--background-tinted-highlight);
        }
    }
}

%friendActionButton {
    background-color: var(--background-tinted-hover);

    &%friendActionButtonHighlight {
        background-color: var(--background-tinted-active);
    }
}
