/*
 *
 *  LIBRARY
 *
 */

%libraryContainer {
    background-color: var(--app-foreground);
    border-radius: var(--app-card-radius);
}

%libraryHeader {
    &:before {
        display: none;
    }
}

%libraryScroller,
%librarySettingsScroller {
    background-color: transparent;
}
