/*
 *
 *  MESSAGE REQUESTS
 *
 */

%messageRequestPage {
    height: var(--content-full-height);
}

%messageRequestItem {
    &:hover,
    &%messageRequestItemSelected {
        border-radius: var(--card-radius);

        %messageRequestItemActionButton {
            background-color: var(--card-color);
        }
    }

    &:hover {
        background-color: var(--card-color-hover);
    }

    &%messageRequestItemSelected {
        background-color: var(--card-color-active);
    }

    %messageRequestItemActionButton {
        background-color: var(--card-color-hover);
    }
}
