/*
 *
 *  NITRO
 *
 */

%nitroHomePage {
    height: var(--content-full-height);
    background-color: var(--app-foreground);
    border-radius: var(--app-card-radius);
}

%nitroHomePageScroller {
    background-color: transparent;
}
