@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  HOME TAB
 *
 */

#{ $homeIntroCard } {
    @include card-format;

    #{ $homeIntroCardIcon } {
        &:before {
            position: absolute;
            content: " ";
            width: calc(100% + 8px);
            height: calc(100% - 24px);
            top: -4px;
            left: -4px;
            background-color: var(--card-color);
            border-radius: 16px 16px 0 0;
            z-index: -1;
            pointer-events: none;
        }
    }
}

/* HOME TAB -> ACTIVE NOW */

#{ $homeActiveNowEmptyContainer } {
    @include card-format;
}

/* HOME TAB -> YOUR HIGHLIGHTS */

#{ $homeHighlightsCard } {
    &#{ $homeHighlightsCardBackground } {
        @include card-format;
    }
}
