@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  RECENT MEMBERS
 *
 */

#{ $membersPageContainer } {
    background-color: transparent !important;
}

#{ $membersPageMainTableContainer } {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#{ $membersPageSearchHeaderContainer } {
    padding-block: var(--space-8) var(--space-16);
    padding-inline: 0;
}

#{ $membersPageTable } {
    @include liquidGlassCard;
}

#{ $membersPageMemberRowContainer } {
    td {
        &:first-child {
            border-start-start-radius: var(--list-item-radius);
            border-end-start-radius: var(--list-item-radius);
        }

        &:last-child {
            border-start-end-radius: var(--list-item-radius);
            border-end-end-radius: var(--list-item-radius);
        }
    }

    #{ $membersPageMemberOtherRoles },
    #{ $membersPageMemberButton } {
        background-color: var(--background-modifier-active);
    }
}

#{ $membersPagePaginationContainer } {
    margin-block-start: var(--space-16);
    padding: 0;
    border-top: none;
}
