@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  RECENT MEMBERS
 *
 */

#{ $membersPageContainer } {
    background-color: transparent !important;
}

#{ $membersPageMainTableContainer } {
    box-shadow: none;
}

#{ $membersPageSearchHeaderContainer } {
    padding: 8px 0 16px;
}

#{ $membersPageTable } {
    @include card-format;
}

#{ $membersPageMemberRowContainer } {
    td {
        &:first-child {
            border-top-left-radius: var(--list-item-radius);
            border-bottom-left-radius: var(--list-item-radius);
        }

        &:last-child {
            border-top-right-radius: var(--list-item-radius);
            border-bottom-right-radius: var(--list-item-radius);
        }
    }

    #{ $membersPageMemberOtherRoles },
    #{ $membersPageMemberButton } {
        background-color: var(--background-modifier-active);
    }
}

#{ $membersPagePaginationContainer } {
    margin-top: 16px;
    padding: 0;
    border-top: none;
}
