@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  PREMIUM MEMBERSHIP
 *
 */

 #{ $premiumMembershipScrollerContent } {
     max-width: 100%;
 }

#{ $premiumMembershipContainer } {
    background-color: var(--main-content-color);
}

#{ $premiumMembershipContent } {
    &:before {
        display: none;
    }
}

#{ $cardContainerWithoutTopIndicator } {
    @include card-format;

    #{ $tierInfoContainer },
    #{ $subscriptionPerks } {
        background-color: transparent;
    }
}
