@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  SERVER BOOST
 *
 */

#{ $serverBoostContainer } {
    background-color: var(--main-content-color);
    border-start-end-radius: var(--app-radius);
    border-end-end-radius: var(--app-radius);
}

#{ $serverBoostContentContainer },
#{ $serverBoostSidebarContainer } {
    background: transparent;
}

#{ $serverBoostCard } {
    @include liquidGlassCard($important: true, $hover: true);

    &#{ $serverBoostCardActive } {
        --card-color: var(--card-color-select);
    }
}

#{ $serverBoostStatCard } {
    @include liquidGlassCard;
}

#{ $serverBoostHowBoostsWork } {
    @include liquidGlassCard;
}
