@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *	SERVER SHOP
 *
 */

#{ $serverShopHeroCard } {
    @include card-format;
}

#{ $serverShopTab } {
    border-radius: var(--card-radius);
    border: none;
    box-shadow: none;

    &#{ $serverShopTabSelected } {
        background-color: hsl(var(--accent-hsl));
        color: var(--accent-text-color);

        #{ $textSmSemibold },
        #{ $textXsNormal } {
            color: var(--accent-text-color) !important;
        }
    }
}

#{ $serverShopSortDropdown } {
    #{ $textSmMedium } {
        color: var(--button-text-color) !important;
    }

    #{ $buttonContents } {
        svg:last-child {
            margin-left: 8px;
        }
    }
}

#{ $serverShopCard } {
    &:hover {
        #{ $serverShopCardContent } {
            box-shadow: none;
            outline: none;
            transform: none;
        }
    }
}

#{ $serverShopProductCard } {
    @include card-format(true, true);
}

#{ $serverProductRoleTag } {
    padding: 8px 16px;
    background-color: var(--background-modifier-selected);
    border-radius: 20px;
}
