@use '../mixins' as *;

/*
 *
 *  SERVER BOOST
 *
 */

%perksRoot {
	margin: calc(var(--app-margin) / 2 + 24px) var(--app-margin) var(--app-margin) var(--app-margin);
}

%perksModal {
    background-color: var(--main-content-color) !important;
    border-radius: var(--app-radius);
    backdrop-filter: blur(var(--app-blur));
}

%perksModalCtaBar {
    @include card-format;
}

%tierBarBackground,
%tierMarkerBackground {
    background-color: var(--card-color) !important;
}

/* SERVER BOOST -> TIERS */

%tierWrapper {
    border-radius: var(--card-radius);
}

%tier {
    @include card-format;

    %tierHeader {
        border-radius: var(--card-radius) var(--card-radius) 0 0;

        &%tierHeaderLocked {
            @include card-format--header(true);
        }
    }

    %tierBody {
        background-color: transparent !important;
    }
}

%perk {
    @include card-format(true);
}
