@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  SERVER DISCOVERY
 *
 */

#{ $discoverContentContainer } {
    background-color: var(--main-content-color);
}

/* SERVER DISCOVERY -> SIDEBAR */

#{ $discoverSidebar } {
    background: transparent;
}

#{ $discoverSidebarNavItem } {
    border-radius: var(--list-item-radius);
}

/* SERVER DISCOVERY -> HEADER BAR */

#{ $discoverHeaderBar } {
    &:after {
        display: none;
    }
}

#{ $discoverHeaderBarBackdrop } {
    background: var(--popout-color);
    backdrop-filter: blur(var(--app-blur));
}

/* SERVER DISCOVERY -> CARDS */

#{ $discoverServerCard } {
    @include card-format(true, true);

    svg {
        filter: none;
    }

    #{ $discoverServerIconMask } {
        background-color: var(--card-color-hover) !important;
    }
}

/* SERVER DISCOVERY -> SEARCH RESULTS */

#{ $discoverSearchCategory } {
    border-radius: var(--list-item-radius);
}
