/*
 *
 *	FORMAT TOOLBAR
 *
 */

%formatToolbar {
	background-color: var(--popout-color);
	border-radius: 16px;
	box-shadow: var(--shadow-3dp);
	overflow: hidden;

	%button {
        --button-height: 32px;
		--button-background: transparent;
		--button-radius: 0;

		box-shadow: none !important;
		transition: var(--default-time) var(--default-animation) background-color !important;

		&:hover {
			--button-background: var(--menu-item-hover);
		}

		%formatToolbarIcon {
			color: var(--menu-item-text-color);
		}
	}

	%formatToolbarDivider {
		border-left-color: var(--card-border-color);
	}
}
