/*
 *
 *  SERVER FOLDERS
 *
 */

%guildExpandedFolderBackground {
    --background-secondary: var(--server-folder-color) !important;
}

%guildFolder {
    --background-secondary: transparent !important;

    &%guildFolderHover {
        --background-primary: var(--server-folder-color) !important;
    }
}

%guildFolderIconWrapper {
	&[style*="background-color: rgba(88, 101, 242, 0.4)"] {
		background-color: hsla(var(--accent-hsl),0.4) !important;
	}
}

%guildFolderExpandedIconWrapper {
    svg[style*="color: rgb(88, 101, 242);"] {
        color: hsl(var(--accent-hsl--material-you)) !important;
    }
}
