/*
 *
 *  SERVER FOLDERS
 *
 */

%guildExpandedFolderBackground {
    --background-secondary: var(--server-folder-color) !important;
}

%guildFolder {
    --background-secondary: transparent !important;

    &%guildFolderHover {
        --background-primary: var(--server-folder-color) !important;
    }
}
