@use '../classes' as *;

/*
 *
 *  SERVER FOLDERS
 *
 */

#{ $guildFolderGroupBackground } {
    border: none;
    border-radius: var(--avatar-radius);
}

#{ $guildFolderButton } {
    overflow: visible;
}

#{ $guildFolderIcon } {
    border-radius: var(--avatar-radius);
}

#{ $guildFolderPreviewWrapper } {
    border-radius: var(--avatar-radius);
}

#{ $guildFolderPreviewIcon } {
    --non-outside-radius: 4px;

    &:nth-child(1) {
        border-radius: calc(var(--avatar-radius) * 1.5) var(--non-outside-radius) var(--non-outside-radius);
    }

    &:nth-child(2) {
        border-radius: var(--non-outside-radius) calc(var(--avatar-radius) * 1.5) var(--non-outside-radius) var(--non-outside-radius);
    }

    &:nth-child(3) {
        border-radius: var(--non-outside-radius) var(--non-outside-radius) var(--non-outside-radius) calc(var(--avatar-radius) * 1.5);
    }

    &:nth-child(4) {
        border-radius: var(--non-outside-radius) var(--non-outside-radius) calc(var(--avatar-radius) * 1.5);
    }
}
