@use '../mixins' as *;

/*
 *
 *	SERVER LIST
 *
 */

%guildsWrapper {
	background-color: var(--server-color);

	%guilds {
		background-color: transparent;
	}

	%guildsTree {
		&:focus {
			outline: none;
		}
	}
}

%guildLink {
	%guildChildWrapper {
		background-color: hsl(var(--accent-hsl--material-you));
		border-radius: var(--avatar-radius);
		color: var(--accent-text-color--material-you);
	}

	&%guildLinkSelected {
		%guildChildWrapper {
			background-color: hsl(var(--accent-hsl--material-you));
			color: var(--accent-text-color--material-you);
		}
	}

	&:hover %guildChildWrapper {
		background-color: hsl(var(--accent-hsl--material-you));
		color: var(--accent-text-color--material-you);
	}
}

%favoriteIcon {
	path {
		d: path("M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z");
	}
}

%circleIconButtonMask,
%circleIconButton {
	border-radius: var(--avatar-radius) !important;
	background-color: hsl(var(--accent-hsl--material-you));
	color: var(--accent-text-color--material-you);

	&%circleIconButtonSelected {
		background-color: hsl(var(--accent-hsl--material-you));
		color: var(--accent-text-color--material-you);
	}
}

%circleIconButton {
	position: relative;

	&:after {
		position: absolute;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: var(--accent-button-action);
		border-radius: 50%;
		opacity: 0;
		pointer-events: none;
		transition: var(--default-time) var(--default-animation) opacity;
	}

	&:hover {
		&:after {
			opacity: var(--accent-button-action-hover);
		}
	}

	&:active {
		&:after {
			opacity: var(--accent-button-action-active);
		}
	}
}

%guildChildWrapper {
	rect {
		rx: var(--avatar-radius);
	}
}

%circleIconButtonMask {
	background-color: var(--menu-item-select) !important;
	transition: var(--default-time) var(--default-animation) background-color;

	path {
		transition: var(--default-time) var(--default-animation) fill;
	}

	&:hover {
		background-color: hsl(var(--accent-hsl--material-you)) !important;

		path {
			fill: var(--accent-text-color--material-you);
		}
	}
}

%channelsMentionIndicator {
	background-color: hsl(var(--alert-hsl));
	color: var(--alert-text-color);
}

/* SERVER LIST -> SERVER */

%guild {
	%guildWrapper {
		border-radius: var(--avatar-radius);

		%guildIcon {
			border-radius: var(--avatar-radius);
		}

		%guildBadgeLower {
			width: auto;
			height: auto;

			&.unread-badge {
				right: unset;
				left: -2px;

				%numberBadge {
					background-color: hsl(var(--accent-hsl--material-you)) !important;
					color: var(--accent-text-color--material-you) !important;
				}
			}
		}

		%guildBadgeUpper {
			%guildBadge {
				background-color: hsl(var(--accent-hsl--material-you));
				color: var(--accent-text-color--material-you);
				border-radius: 50%;

				&%guildBadgeParticipating {
					background-color: hsl(var(--accent-hsl--material-you));
					color: var(--accent-text-color--material-you);
				}
			}
		}
	}

	&.frame-oXWS21 {
		%guildChildWrapper {
			padding: 0 6px;
			border-radius: 12px;
			text-transform: capitalize;
			font-weight: 500;
		}
	}
}

%numberBadge {
	background-color: hsl(var(--alert-hsl)) !important;
	color: var(--alert-text-color);
}

%guildDragInner {
	border-radius: var(--avatar-radius);
}

%guildFolder,
%guildFolderIconWrapper {
	border-radius: var(--avatar-radius);
}

%guildTarget,
%guildCenterTarget {
	&%guildDragOver {
		&:before {
			background-color: hsl(var(--accent-hsl--material-you));
			box-shadow: var(--shadow-1dp);
		}
	}
}
