/*
 *
 *  HEADER BAR CUSTOM
 *
 */

%headerBar {
    --header-secondary: var(--text-normal);
    --interactive-normal: var(--text-normal);

    height: var(--header-bar-height);
    border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
    z-index: 102;

    &%headerBarThemed {
        background-color: transparent;

        %headerBarChildren {
            &:after {
                display: none;
            }
        }
    }

    %headerBarChildren {
        //overflow: visible;
    }

    %toolbar {
        margin-left: 8px;
        padding-right: 52px;
        gap: 16px;

        %headerBarIconWrapper {
            margin: 0;
        }
    }

    %headerBarAnchor {
        display: none;
    }
}

%threadSidebarOpen {
    %headerBar {
        %toolbar {
            padding-right: 8px;
        }
    }
}

/* HEADER BAR CUSTOM -> COLORED BAR */

%channelsContainer,
%privateChannels {
    &[aria-label] {
        &:after {
            --header-bar-xposition: calc(72px + 240px + (var(--app-card-margin) * 3));
            --header-bar-yposition: calc(var(--window-title-bar-height) + var(--app-card-top-margin));
            --header-bar-width: calc(100vw - (var(--header-bar-xposition) + var(--app-card-margin)));

            position: fixed;
            content: " ";
            width: var(--header-bar-width);
            height: var(--header-bar-height);
            top: var(--header-bar-yposition);
            left: var(--header-bar-xposition);
            background-color: var(--header-bar-color);
            border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
            z-index: 101;
            pointer-events: none;
        }
    }
}

%noticeStreamerMode + %contentMain {
    %channelsContainer,
    %privateChannels {
        &[aria-label] {
            &:after {
                --header-bar-yposition: calc(var(--window-title-bar-height) + var(--notice-bar-height) + var(--app-card-margin) + var(--app-card-top-margin));
            }
        }
    }
}

%notice {
    + %layers {
        %bdNotices:not(:empty) + %contentMain {
            %channelsContainer,
            %privateChannels {
                &[aria-label] {
                    &:after {
                        --header-bar-yposition: calc(var(--window-title-bar-height) + (var(--notice-bar-height) * 2) + var(--app-card-margin) + (var(--app-card-top-margin) * 2));
                    }
                }
            }
        }

        %channelsContainer,
        %privateChannels {
            &[aria-label] {
                &:after {
                    --header-bar-yposition: calc(var(--window-title-bar-height) + var(--notice-bar-height) + var(--app-card-margin));
                }
            }
        }
    }
}

%bdNotices:not(:empty) + %contentMain {
    %channelsContainer,
    %privateChannels {
        &[aria-label] {
            &:after {
                --header-bar-yposition: calc(var(--window-title-bar-height) + var(--notice-bar-height) + var(--app-card-margin) + var(--app-card-top-margin));
            }
        }
    }
}

%channelsContainer {
    &[aria-label*="CapnKitten"] {
        --header-bar-color: hsl(212,70%,31%);
    }
}
