/*
 *
 *  HEADER BAR
 *
 */

%headerBar {
    height: var(--header-bar-height);
    border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;

    &%headerBarThemed {
        background: var(--header-bar-color);

        %headerBarChildren {
            &:after {
                background: linear-gradient(90deg, transparent 0, var(--header-bar-color));
            }
        }
    }
}
