/*
 *
 *  HEADER BAR SEARCH
 *
 */

%searchContainer {
    margin: 0 8px;
}

%chatSearch {
    &%chatSearchOpen,
    &%chatSearchFocused {
        %chatSearchBar {
            height: 32px;
            padding: 4px 4px 4px 8px;
            background-color: var(--input-color);
            border-radius: 16px;
        }

        %chatSearchRoot {
            flex: 1;
            padding: 2px 0 2px 4px;
        }
    }

    %chatSearchBar {
        background-color: transparent;
        transition: var(--default-time) var(--default-animation) all;
    }
}

%chatSearchBar {
    width: 24px;
    padding: 0;
    border-radius: 12px;
    overflow: visible;
    transition: var(--default-time) var(--default-animation) all;
    flex-direction: row-reverse;

    %chatSearchPlaceholder {
        color: var(--text-normal) !important;
    }

    %chatSearchRoot {
        flex: 0;
        padding: 0;
        color: var(--header-secondary);
        transition: var(--default-time) var(--default-animation) flex;
    }

    %chatSearchIconContainer {
        width: inherit;
        height: inherit;
        cursor: pointer;
    }

    %chatSearchIcon {
        color: var(--interactive-normal);
    }
}
