@use '../../classes' as *;

/*
 *
 *  HEADER BAR SEARCH
 *
 */

#{ $chatOuterSearchContainer } {
    flex: 0 1 auto;
	width: var(--space-32);
	margin-inline-end: 0;
	transition: 300ms ease width;

	&:has(#{ $chatSearchOpen }) {
		width: 192px;

        #{ $chatSearchBar} {
            background-color: var(--input-color);
        }
	}
}

#{ $chatSearch } {
    --input-height: var(--space-32);

    &#{ $chatSearchOpen },
    &#{ $chatSearchFocused } {
        #{ $chatSearchRoot } {
            flex: 1;
            padding: 0;
        }
    }

    #{ $chatSearchRoot } {
        #{ $chatSearchContainer },
        #{ $chatSearchPlaceholderInner } {
            height: var(--input-height);
            line-height: var(--input-height);
        }
    }
}

#{ $chatSearchBar } {
    width: 100%;
    padding: 0;
    background-color: transparent;
    border-radius: 16px;
    border: none;
    overflow: visible;
    transition: var(--default-time) var(--default-animation) all;
    flex-direction: row-reverse;

    #{ $chatSearchPlaceholder } {
        color: var(--text-default) !important;
    }

    #{ $chatSearchRoot } {
        flex: 0;
        padding: 0;
        color: var(--header-secondary);
        transition: var(--default-time) var(--default-animation) flex;
    }

    #{ $chatSearchIconWrapper } {
        width: var(--space-32);
        height: var(--space-32);
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    #{ $chatSearchIconContainer } {
        width: inherit;
        height: inherit;
        cursor: pointer;
    }

    #{ $chatSearchIcon } {
        color: var(--interactive-normal);
    }
}
