@use '../classes' as *;

/*
 *
 *  APPS AND COMMANDS
 *
 */

#{ $appsContentWrapper } {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius);
    box-shadow: var(--default-shadow);
}

#{ $appsCardContainer } {
    background-color: var(--card-color);
}

#{ $appsRowContainer } {
    &:first-child {
        border-radius: var(--card-radius) var(--card-radius) 0 0;
    }

    &:last-child {
        border-radius: 0 0 var(--card-radius) var(--card-radius);
    }
}
