/*
 *
 *  AUTOCOMPLETE POPOUT
 *
 */

%autocomplete {
    background-color: var(--popout-color) !important;
    border-radius: var(--popout-radius);
    box-shadow: var(--default-shadow);
}

%autocompleteListWrapper {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: var(--app-foreground);

    %autocompleteList {
        width: 100%;
    }

    %scroller {
        display: flex;
        justify-content: center;
        padding: 8px 0;
    }

    %autocompleteListItems {
        position: relative;
        width: 32px;
        inset: unset !important;
    }
}

%autocompleteBase {
    border-radius: var(--popout-radius);

    &:hover {
        background-color: var(--background-tinted-hover) !important;
    }
}
