/*
 *
 *	CONTEXT MENU
 *
 */

%menuPopout {
    padding: 0 4px;
	background-color: var(--popout-color);
	border-radius: var(--popout-radius);
	box-shadow: var(--default-shadow);

    %statusPickerScroller {
		padding: 4px 0;

		&::-webkit-scrollbar {
			width: 0 !important;
		}
	}

    %menuPopoutItem {
        margin: 0;
		padding: 10px 12px;
		border-radius: calc(var(--popout-radius) - 2px);
		font-size: 14px;
		color: var(--menu-text-color);
		font-weight: 500;

        &%menuPopoutItemHover {
			background-color: var(--background-tinted-hover);
			color: var(--menu-text-color);
		}
    }

    %menuPopoutSeparator {
		margin: 0;
		border-color: var(--menu-border-color);
	}
}

%quickReactButton {
	background-color: var(--background-tinted-hover);

	&:hover {
		background-color: var(--background-tinted-active);
	}
}
