@use "../classes" as *;

/*
 *
 *	CONTEXT MENU
 *
 */

#{ $menuPopout } {
  background-color: var(--popout-color);
  border-radius: var(--popout-radius);
  box-shadow: var(--default-shadow);

  #{ $scroller } {
    padding: 4px;
  }

  #{ $menuPopoutItem } {
    margin: 0;
    padding: 10px 12px;
    border-radius: calc(var(--popout-radius) - 2px);
    font-size: 14px;
    color: var(--menu-text-color);
    font-weight: 500;

    &#{ $menuPopoutItemHover } {
      background-color: var(--background-tinted-hover);
      color: var(--menu-text-color);
    }

    &#{ $menuPopoutColorDanger } {
      color: hsl(var(--alert-hsl));
    }
  }

  #{ $menuPopoutSeparator } {
    margin: 0;
    border-color: var(--menu-border-color);
  }
}
