/*
 *
 *  MEMBERS LIST ACTIVITY POPOUT
 *
 */

%memberActivityPopout {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius);
    box-shadow: var(--default-shadow);
    filter: none;

    %buttonFilled {
        path,
        %textMdSemibold {
            fill: currentColor !important;
            color: currentColor !important;
        }
    }

    %channelTextArea {
        --main-textarea-color: var(--input-color);
        --main-textarea-text-color: var(--input-text-color);
        --main-textarea-placeholder-color: var(--input-placeholder-color);

        margin-bottom: 0;
    }

    %channelTextAreaFontPadding {
        --textarea-text-padding: 11px;
    }
}

%memberActivityPopoutContentWrapper,
%memberActivityInteractionsContainer {
    background-color: transparent;
}

%memberActivityShareToChannelButton {
    padding-right: 0;
    border-right: none;
}
