@use '../mixins' as *;

/*
 *
 *  MESSAGES POPOUT
 *
 */

%messagesPopoutWrap,
%recentMentionsPopout {
	max-height: 80vh !important;
	background-color: var(--popout-color);
    border-radius: var(--popout-radius);
    box-shadow: var(--default-shadow);
}

%messagesPopoutHeader {
    background-color: transparent;
    box-shadow: none;
}

%pinnedMessageGroupWrapper {
    background-color: var(--background-tinted-hover);
    border-radius: var(--popout-radius);
    border: none;

	%embed%embedFull {
		background-color: var(--background-tinted-dark);
	}
}

%messagesPopoutFooter {
	background-color: transparent;
}
