@use "../classes" as *;

/*
 *
 *	SEARCH POPOUT
 *
 */

#{ $searchPopout } {
  background-color: var(--popout-color);
  border-radius: var(--popout-radius);
  box-shadow: var(--default-shadow) !important;
}
