/*
 *
 *	SEARCH POPOUT
 *
 */

%searchPopout {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius);
    box-shadow: var(--default-shadow) !important;
}

%searchPopoutOption {
    border-radius: var(--popout-radius);

    &:hover {
        background-color: var(--background-tinted-hover);
    }

    &:before,
    &:after {
        display: none;
    }
}
