/*
 *
 *  STREAM PREVIEW
 *
 */

%streamPopoutPreview {
    background-color: var(--popout-color) !important;
    border-radius: var(--popout-radius-big);
    box-shadow: var(--default-shadow);

    %buttonOutlined {
        --button-text-color: hsl(0,0%,100%);
        --button-outline: 1px solid hsl(0,0%,100%);
    }
}
