/*
 *
 *  SERVER FOLDERS
 *
 */

%guildExpandedFolderBackground {
	background-color: var(--server-folder-color);
	border-radius: 16px 16px 24px 24px;
}

%guildFolder {
	background-color: transparent;

	&%guildFolderHover {
		background-color: var(--server-folder-color);
	}
}

%guildFolderIconWrapper {
	&[style*="background-color: rgba(88, 101, 242, 0.4)"] {
		background-color: hsla(var(--accent-hsl),0.4) !important;
	}
}

%guildFolderExpandedIconWrapper {
	svg[style="color: rgb(88, 101, 242);"] {
		color: hsla(var(--accent-hsl),var(--accent-opacity)) !important;
	}
}
