@use '../classes' as *;

/*
 *
 *  BETA - NEW SLIDERS
 *
 */

:root {
    --slider-width: 16px;
    --slider-height: 16px;
    --slider-radius: 8px;
    --slider-grabber-height: 44px;
    --slider-grabber-background: var(--main-color);
}

#{ $themeDark } {
    --slider-bar-background: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.36) calc(l * 0.32));
    --slider-mark-color: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.33) calc(l * 0.5));

    #{ $layerContainer },
    #{ $menuPopoutSliderContainer } {
        --slider-bar-background: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.36) calc(l * 0.44));
        --slider-mark-color: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.43) calc(l * 0.34));
    }

    #{ $bdSettingsGroup } {
        &#{ $bdSettingsGroupCollapsible } {
            --slider-bar-background: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.36) calc(l * 0.32));
        }
    }
}

#{ $themeLight } {
    --slider-bar-background: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.36) calc(l * 2));
    --slider-mark-color: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.54) calc(l * 1.5));

    #{ $layerContainer },
    #{ $menuPopoutSliderContainer } {
        --slider-bar-background: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.36) calc(l * 1.92));
        --slider-mark-color: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.87) calc(l * 1.7));
    }

    #{ $slider } {
        #{ $sliderBar } #{ $sliderBarFill } {
            background-color: hsl(var(--accent-hsl--material-you)) !important;
        }

        #{ $sliderTrack } #{ $sliderGrabber } {
            background-color: var(--slider-grabber-background) !important;
        }
    }
}

#{ $sliderMark } {
    height: 100% !important;
    z-index: 2;
    pointer-events: none;

    #{ $sliderMarkValue } {
        margin-bottom: 0;
    }

    #{ $sliderMarkDash } {
        position: absolute;
        width: 6px;
        height: 6px;
        bottom: calc(((var(--slider-grabber-height) / 2) - 3px) + 4px);
        background-color: var(--slider-mark-color);
        border-radius: 3px;
    }
}

#{ $slider } {
    height: calc(var(--slider-grabber-height) + var(--bar-offset));

    &#{ $sliderHasMarks } {
        #{ $sliderTrack } {
            left: 8px;
            right: 8px;
        }

        #{ $sliderBar } {
            top: calc(100% - ((var(--slider-height) / 2) + (var(--slider-grabber-height) / 2) + 4px));
        }

        #{ $sliderTrack } {
            #{ $sliderGrabber } {
                top: calc(100% - (var(--slider-grabber-height) + 4px));
            }
        }
    }

    #{ $sliderBar } {
        height: var(--slider-height);
        top: calc(100% - ((var(--slider-height) / 2) + (var(--slider-grabber-height) / 2)));
        background-color: var(--slider-bar-background) !important;
        border-radius: var(--slider-radius);

        #{ $sliderBarFill } {
            background-color: hsl(var(--accent-hsl--material-you));
            border-radius: inherit;
            border: none;
            transition: var(--default-time) var(--default-animation) border-radius;

            &[style*="background: var(--yellow-300)"] {
                background-color: hsl(var(--accent-hsl--material-you)) !important;
            }
        }
    }

    #{ $sliderTrack } {
        #{ $sliderGrabber } {
            display: flex;
            width: var(--slider-width);
            height: var(--slider-grabber-height);
            top: 0;
            margin-top: 0;
            background-color: var(--slider-grabber-background);
            border-radius: 0;
            border: none;
            transform: translateX(0);
            justify-content: center;
            box-shadow: none !important;
            z-index: 3;

            &:before {
                position: absolute;
                content: " ";
                width: calc(var(--slider-width) / 4);
                height: 100%;
                top: 0;
                background-color: hsl(var(--accent-hsl--material-you));
                border-radius: calc(var(--slider-width) / 8);
                transition: calc(var(--default-time) / 1.5) var(--default-animation) background-color, calc(var(--default-time) / 1.5) var(--default-animation) transform;
            }

            &:after {
                display: none;
            }

            &:hover {
                &:before {
                    background-color: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.6) l);
                }
            }

            &:active {
                &:before {
                    background-color: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.6) l);
                    transform: scaleX(50%);
                }
            }
        }
    }
}

#{ $sliderInputSensitivityBar } {
    #{ $sliderInputSensitivityFill } {
        height: var(--slider-height) !important;
        background-color: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.8) calc(l * 0.8)) !important;
        border-radius: var(--slider-radius);
    }
}

#{ $menuPopoutSliderContainer } {
    --slider-height: 8px;
    --slider-radius: calc(var(--slider-height) / 3);
    --slider-grabber-height: 28px;
    --slider-grabber-background: var(--popout-color);

    height: var(--slider-grabber-height);
    margin-bottom: 0 !important;

    #{ $sliderTrack } {
        #{ $sliderGrabber } {
            //transform: translateX(calc(var(--slider-width) / 4));
        }
    }
}

#{ $layerContainer } {
    --slider-grabber-background: var(--popout-color);

    #{ $bdSettingsGroup } {
        &#{ $bdSettingsGroupCollapsible } {
            --slider-grabber-background: var(--card-color-filled);
        }
    }
}

#{ $sliderMenuPopout } {
    top: 0;
}

#{ $sliderMini } {
    #{ $sliderBar } {
        height: var(--slider-height);
        top: calc((var(--slider-grabber-height) / 2) - (var(--slider-height) / 2));
    }

    #{ $sliderGrabber } {
        width: var(--slider-height);
        height: var(--slider-height);
        //margin-top: 0;
        //margin-left: calc((var(--slider-height) / 2) * -1);
    }
}

#{ $visualRefresh } {
    #{ $sliderMini } {
        #{ $sliderBarFill } {
            border: none;
        }
    }
}
