/*
 *
 *  BETA - NEW SLIDERS
 *
 */

:root {
    --slider-width: 16px;
    --slider-height: 32px;
    --slider-radius: calc(var(--slider-height) / 3);
    --slider-grabber-background: var(--main-color);
}

%themeDark {
    --slider-bar-background: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.36) calc(l * 0.32));
}

%themeLight {
    --slider-bar-background: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.36) calc(l * 2));

    %slider {
        %sliderBar %sliderBarFill {
            background-color: hsl(var(--accent-hsl--material-you)) !important;
        }

        %sliderTrack %sliderGrabber {
            background-color: var(--slider-grabber-background) !important;
        }
    }
}

%slider {
    height: var(--slider-height);

    %sliderBar {
        height: var(--slider-height);
        top: 0;
        background-color: var(--slider-bar-background) !important;
        border-radius: var(--slider-radius);

        %sliderBarFill {
            background-color: hsl(var(--accent-hsl--material-you));
            border-radius: inherit;
            transition: var(--default-time) var(--default-animation) border-radius;

            &[style*="background: var(--yellow-300)"] {
                background-color: hsl(var(--accent-hsl--material-you)) !important;
            }
        }
    }

    %sliderTrack {
        %sliderGrabber {
            display: flex;
            width: var(--slider-width);
            height: calc(var(--slider-height) + 16px);
            top: -8px;
            margin-top: 0;
            margin-left: calc((var(--slider-height) / 2) * -1);
            background-color: var(--slider-grabber-background);
            border-radius: 0;
            border: none;
            transform: translateX(calc(var(--slider-width) / 1.75));
            justify-content: center;
            box-shadow: none !important;

            &:before {
                position: absolute;
                content: " ";
                width: calc(var(--slider-width) / 4);
                height: 100%;
                top: 0;
                background-color: hsl(var(--accent-hsl--material-you));
                border-radius: calc(var(--slider-width) / 8);
            }

            &:after {
                display: none;
            }
        }
    }
}

%sliderInputSensitivityBar {
    height: var(--slider-height);
    top: 0 !important;
    border-radius: var(--slider-radius);

    %sliderInputSensitivityFill {
        height: inherit !important;
        background-color: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.8) calc(l * 0.8)) !important;
        border-radius: var(--slider-radius);
    }
}

%menuPopoutSliderContainer {
    --slider-height: 24px;
    --slider-radius: calc(var(--slider-height) / 3);

    height: var(--slider-height);
    margin-bottom: 0 !important;

    %sliderTrack {
        %sliderGrabber {
            transform: translateX(calc(var(--slider-width) / 4));
        }
    }
}

%sliderMenuPopout {
    top: 0;
}

%sliderMini {
    %sliderBar {
        height: var(--slider-height);
        top: 0;
    }

    %sliderGrabber {
        width: var(--slider-height);
        height: var(--slider-height);
        //margin-top: 0;
        //margin-left: calc((var(--slider-height) / 2) * -1);
    }
}

%visualRefresh {
    %sliderMini {
        %sliderBarFill {
            border: none;
        }
    }
}
