@use '../mixins' as *;

/*
 *
 *  BETA - VISUAL REFRESH
 *
 */

%themeDark {
    &%themeDarker {
        --text-lightness-modifier: 1.45;
        --ui-darkness-modifier: 0.65;
    }

    &%themeMidnight {
        --text-lightness-modifier: 2.9;
        --ui-darkness-modifier: 0.325;
    }
}

%visualRefresh {
    %bg {
        background-color: var(--main-alt);
    }

    %bar {
        padding-left: 0;

        %barLeading {
            padding-left: 8px;
        }

        %barTitle {
            line-height: var(--custom-app-top-bar-height);
            padding: 0 10px;
            gap: 0;

            &:before,
            &:after {
                font-size: 0.925em;
                color: var(--text-normal);
            }

            &:before {
                content: var(--app-watermark-one);
                font-weight: 700;
            }

            &:after {
                content: var(--app-watermark-two);
            }

            %barGuildIcon,
            %textSmMedium,
            svg {
                display: none;
            }
        }

        %headerBarIconBadge {
            box-shadow: 0 0 0 4px var(--main-alt);
        }
    }

    /* friends list */

    %friends {
        border-top: none;
    }

    %friendsTabBody {
        background-color: transparent;
    }

    /* active now */

    %activeNowOuterCard {
        background-color: var(--activity-card-color);
    }

    /* channels and private sidebar */

    %sidebarList {
        border-top-left-radius: var(--card-radius-big);
        border-bottom-left-radius: var(--card-radius-big);
        border-top: none;
        border-left: none;
        border: none;
    }

    %privateChannels {
        background-color: var(--main-color);
    }

    %privateChannelsSearchBar {
        border-bottom:  none;
        box-shadow: var(--shadow-ledge);
    }

    %channelsContainer {
        background-color: var(--main-color);
    }

    %channelsSidebar {
        &:after {
            display: none;
        }
    }

    %channelUserLimitWrapper {
        border: none;

        %channelUserLimitUsers {
            padding: 0 6px;
            background-color: var(--status-picker-color);
        }

        %channelUserLimitTotal {
            width: auto;
            padding: 0 6px;
            background-color: var(--sidebar-panel-color);
        }
    }

    %channelLink {
        %channelContent,
        %channelLinkTop {
            min-height: inherit;
        }
    }

    %panels {
        width: calc(100% - 94px);
        left: 72px;
        bottom: 0;
        border-radius: var(--sidebar-panel-radius-big);
        border: none;
        box-shadow: none;
        transition: var(--default-time) var(--default-animation) left;
    }

    %activityPanel {
        border-radius: var(--sidebar-panel-radius-small);
    }

    %connectionPanel {
        margin: 0 0 2px;
        padding: 8px;
        background-color: var(--sidebar-panel-color);
        border-radius: var(--sidebar-panel-radius-small);

        %rtcConnectionStatus {
            %button {
                --button-height: 24px;
            }
        }
    }

    %accountPanel {
        margin-left: 0;
    }

    /* collapsed sidebar */

    [data-collapsed="true"] {
        &%chatPage {
            %chat {
                border-top-left-radius: var(--card-radius-big);
                border-bottom-left-radius: var(--card-radius-big);
                border-left: none;
            }
        }

        &%channelsSidebar {
            %guildsWrapper {
                margin-bottom: calc(8px + var(--custom-app-panels-height,0));
            }

            %panels {
                width: calc(100% - var(--spacing-16));
                left: 0;
                bottom: 0;
                margin: 8px;
                border-radius: var(--sidebar-panel-radius-big);
            }

            %spotifyPanelCoverWrapper {
                width: 44px;
                min-width: 44px;
                min-height: 44px;
            }
        }
    }

    /* chat area */

    %channelsHeader,
    %headerBar {
        border-bottom: none;
        box-shadow: var(--shadow-ledge);
    }

    %channelsHeaderContainer {
        background-color: var(--chat-color);

        &%channelHasBanner {
            %channelsHeader {
                background-color: var(--chat-color);
                border-bottom: none;
            }
        }
    }

    %summaryTopicsPillContainer {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    %summaryTopicsPillCaret {
        background-color: hsl(var(--accent-hsl--material-you));

        &:hover {
            background-color:  hsl(var(--accent-hsl--material-you));
        }
    }

    %chat {
        &[data-has-border=true] {
            border-top: none;
        }

        &%threadSidebarOpen {
            border-right: none;
        }
    }

    %newMessagesBar {
        border: none;
    }

    %newMessagesBarButtonBase {
        color: var(--accent-text-color--material-you);

        &%newMessagesBarButtonMain {
            padding: 9px 16px;
        }

        &%newMessagesBarButtonAlt {
            padding: 9px 10px;
            background-color: hsl(var(--accent-hsl--material-you));
            border-radius: 18px;
        }
    }

    %jumpToPresentBar {
        height: 56px;
        min-width: 80px;
        gap: 8px;
        left: unset;
        right: 16px;
        margin: 0;
        padding: 16px 16px 16px 12px;
        border-radius: calc(var(--button-radius) / 1.125);
        border: none;
        box-shadow: var(--shadow-1dp);
        z-index: 3;

        &:active {
            margin: 0 auto !important;
        }

        &:before {
            position: relative;
            width: 24px;
    		height: 24px;
            left: unset;
            bottom: 0;
    		right: 0;
            box-sizing: border-box;
            @include add-icon(var(--accent-text-color--material-you), expand, solid);
            mask-size: 150%;
            transform: none;
        }

        %jumpToPresentBarButtonBase {
            display: none;
        }

        %button {
            --button-height: 24px;

            padding: 0;

            &:after {
                display: none;
            }
        }

        %spinner {
            width: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            padding: 0;
        }
    }

    %chatForm {
        %channelTextArea {
            background-color: var(--main-textarea-color);
            border: none;
            box-shadow: none;

            &%channelTextAreaDisabled {
                --custom-channel-textarea-text-area-height: 44px;

                %textAreaPlaceholder {
                    line-height: var(--custom-channel-textarea-text-area-height);
                    padding: 0;
                }
            }
        }

        %channelInfo {
            height: 44px;
            margin: 12px 0;
            background-color: var(--main-textarea-color);
            border-radius: var(--main-textarea-radius);
            border: none;
        }

        %channelTextAreaTyping {
            position: static;
            width: unset;
            background-color: transparent;
        }
    }

    %channelBottomBarArea {
        margin: 0;
        padding: 0 16px;
    }

    %messagesErrorBar {
        background-color: hsl(var(--alert-hsl));
        border-radius: 22px;
        border: none;
        color: var(--alert-text-color);
        box-shadow: var(--shadow-3dp);
    }

    %channelTextAreaStackedBars {
        background-color: var(--main-textarea-color);
        border-top-left-radius: var(--main-textarea-radius);
        border-top-right-radius: var(--main-textarea-radius);

        &:not(:last-child) {
            border-bottom: none;
        }
    }

    %channelAccessoryBar {
        margin: 0 12px;
        border-top-color: var(--separator-color);
    }

    %channelAtachmentArea {
        padding: 12px;
        background-color: transparent;
    }

    %channelTextAreaUpload {
        background-color: var(--card-color-filled);
        border-radius: var(--card-radius-big);
        border: none;
        box-shadow: none;
    }

    %messageButtonWrapper {
        background-color: var(--main-textarea-color);
        box-shadow: var(--shadow-2dp) !important;

        &:hover {
            box-shadow: var(--shadow-3dp) !important;
        }
    }

    %pollContainer {
        background-color: var(--attachment-color);
        border: none;
    }

    /* chat area search */

    %chatSearch {
        --input-height: 32px;

        %chatSearchBar {
            padding: 0;
            border: none;

            %chatSearchRoot {
                padding: 0 0 0 8px;

                %chatSearchPlaceholder {
                    height: var(--input-height);
                    line-height: var(--input-height);
                    padding-bottom: 0;
                }

                %chatSearchContent {
                    padding-bottom: 0;
                    line-height: var(--input-height);
                }
            }
        }

        %chatSearchContainer {
            height: var(--input-height);
        }
    }

    /* forum */

    %forumContainer {
        background-color: var(--chat-color);
    }

    %postContainer {
        background-color: var(--card-color-filled);

        &:hover {
            background-color: var(--card-color-hover);
        }
    }

    %threadResizeHandle {
        background-color: var(--main-alt);
    }

    %threadContainer {
        background-color: var(--chat-color);
        border: none;
    }

    /* messages */

    %message {
        %channelTextArea {
            margin-bottom: 4px;
            background-color: var(--input-color-alt);
            border-radius: var(--main-textarea-radius);
            border: none;
            box-shadow: none;

            %channelTextAreaInner {
                padding-left: 0;
            }
        }

        %channelAccessoryBar {
            margin: 0 12px;
            padding: 0 4px;
            border-color: var(--separator-color);
        }
    }

    /* emoji picker */

    %emojiContentWrapper {
        background-color: var(--popout-color);
        border-radius: var(--popout-radius-big);
        border: none;
        box-shadow: var(--shadow-3dp);
    }

    %emojiPicker {
        background-color: var(--popout-color);
    }

    %emojiPickerNavGif,
    %emojiPickerNavSticker,
    %emojiPickerNavEmoji {
        background-color: transparent;
        border-bottom-color: var(--separator-color);

        %searchIconLayout {
            width: 32px;
            height: 32px;
        }
    }

    %emojiPickerCategoryHeaderWrapper {
        background-color: var(--emoji-category-header);
    }

    %emojiPickerInspector {
        background-color: var(--popout-color);
        border-top-color: var(--separator-color);
    }

    %emojiCategoryWrapper {
        top: 54px;
        background-color: var(--attachment-color);
    }

    %emojiPickerHasTabWrapper {
        %emojiCategoryWrapper {
            top: 50px;
        }
    }

    %emojiStandardStickerShortcut {
        background-color: var(--popout-color);
    }

    /* members list */

    %membersWrap {
        background-color: transparent;
        border-left: none;
    }

    %membersContainer {
        border-left: none;
    }

    %memberActivityContainer {
        background-color: var(--card-color-filled);
        border: none;
    }

    %memberInner {
        height: 100%;
    }

    /* app launcher button in main textbox */

    %channelAppLauncher {
        width: var(--space-32);
        height: auto;
        margin: 0;
        padding: 0;

        %channelAppLauncherButton {
            background-color: transparent;

            &:hover {
                background-color: transparent;
            }
        }
    }

    /* server list */

    %guildsWrapper {
        margin-bottom: 0;
    }

    %guildDiscoverFooter {
        width: calc(100% - 1px);
        background-color: var(--main-alt);
    }

    /* modals */

    %modalRoot {
        border: none;
    }

    /* search results */

    %searchResultsWrap {
        background-color: var(--main-alt);
        border: none;
    }

    %searchHeader {
        padding: 0 16px;
        border-bottom: 1px solid var(--separator-color);
    }

    %searchResult {
        background-color: transparent;
        border: none;
    }

    /* inbox */

    %messagesPopoutChannelHeader {
        background-color: var(--message-color-alt);
        border-bottom: none;
    }

    %recentMentionsMessagesContainer {
        border: none;
    }

    /* pinned messages popout */

    %messagesPopoutWrap {
        background-color: var(--popout-color);
    }

    %messagesPopoutHeader {
        background-color: transparent;
        border-bottom: none;
    }

    /* threads popouts */

    %threadsPopoutContainer {
        background-color: var(--popout-color);
    }

    %threadsPopoutHeader {
        background-color: transparent;
        border-bottom: none;
    }

    /* inputs */

    /* search bar */

    %searchContainer {
        border: none;
    }

    /* select menus */

    %selectMenu {
        min-height: var(--input-height);

        &%selectMenuFilled {
            border: none;
        }
    }

    /* switch */

    %switchContainer {
        &:before {
            left: 0;
        }

        &%switchContainerChecked {
            %switchSlider {
                transform: translate(5px, -50%);
            }
        }

        %switchSlider {
            transform: translate(8px, -50%);
        }
    }

    /* radio button */

    %radioItem {
        border-radius: calc(var(--card-radius-big) / 1.65);
        transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) color;

        %radioBar {
            &:after {
                top: 0;
            }
        }
    }

    %radioItem,
    %menuPopoutItem[role="menuitemradio"] {
        &[aria-checked="false"] {
            %radioIndicatorGroup {
                background-color: var(--interactive-normal);
                -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/radio_button_unchecked.svg);
            }
        }

        &[aria-checked="true"] {
            %radioIndicatorGroup {
                background-color: hsl(var(--accent-hsl--material-you));
                -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/radio_button_checked.svg);
            }
        }
    }

    %menuPopoutItem[role="menuitemradio"] {
        %radioIndicatorGroup {
            width: 20px;
            height: 20px;
        }
    }

    %radioIndicatorGroup {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-size: 100%;

        %radioIndicator {
            display: none;
        }
    }

    /* tab bar */

    %tabBar {
        %tabBarItem {
            &:after {
                display: none;
            }

            &%tabBarItemSelected {
                &:after {
                    display: block;
                    top: unset;
                }
            }
        }
    }

    /* context menu */

    %menuPopout {
        border: none;

        %menuPopoutLabel {
            color: inherit;
        }
    }

    /* settings */

    %standardSidebarView,
    %settingsContentRegion {
        background-color: var(--main-alt);
    }

    %settingsContentScroller {
        background-color: var(--main-color);
        border-radius: var(--card-radius-big) var(--card-radius-big) 0 var(--card-radius-big);
    }

    %settingsSidebar {
    	%settingsSide {
    		> div:not([class])[style="margin-bottom: 8px;"] {
                top: 0;
            }
        }
    }

    /* settings sidebar */

    %settingsSidebarScroller {
        background-color: var(--main-alt);
    }

    /* ui density */

    &%densityCozy {
        %channelLink {
            min-height: 40px;
        }

        %accountPanel {
            height: 56px !important;
        }

        %members {
            --channel-radius: 25px;

            %listItem {
                height: 50px;
            }
        }
    }

    &%densityCompact {
        %channelLink {
            min-height: 34px;
        }

        %accountPanel {
            height: 44px !important;
        }

        %members {
            --channel-radius: 21px;

            %listItem {
                height: 42px;
            }
        }
    }
}
