@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  BETA - VISUAL REFRESH
 *
 */

#{ $themeDark } {
    &#{ $themeDarker } {
        --text-lightness-modifier: 1.75;
        --ui-darkness-modifier: 0.55;
    }

    &#{ $themeMidnight } {
        --text-lightness-modifier: 9.8;
        --ui-darkness-modifier: 0.10;
    }
}

#{ $visualRefresh } {
    &#{ $refreshFastFollowGuildBg } {
        #{ $bg } {
            background: transparent;
        }

        #{ $guildsWrapper } {
            background: transparent;
        }
    }

    &#{ $themeDark } {
        --text-brand: hsl(var(--accent-hsl--material-you));
    }

    /* server list */

    #{ $guildsWrapper } {
        /* CODE FOR MOVING STATUS AREA TO ORIGINAL SPOT */
        /*margin-block-end: 0;*/
    }

    /* channels and private sidebar */

    #{ $channelsContainer } {
        /* CODE FOR MOVING STATUS AREA TO ORIGINAL SPOT */
        /*padding-block-end: calc(var(--custom-app-panels-height,0) + 12px);*/
    }

    #{ $panels } {
        /* CODE FOR MOVING STATUS AREA TO ORIGINAL SPOT */
        /*width: calc(100% - 94px);inset-inline-start: 92px;inset-block-end: 12px;*/
    }

    /* ui density */

    &#{ $densityDefault } {
        --main-textarea-height: 48px;

        #{ $guildsWrapper } {
            #{ $button } {
                margin: 0 8px;
            }
        }

        #{ $privateChannel } {
            &:not(#{ $privateChannelDm }) {
                #{ $privateChannelLink } {
                    height: 42px;
                }
            }
        }

        #{ $privateChannels } {
            --channel-radius: 22px;
        }

        #{ $channelLink } {
            min-height: 34px;
        }

        #{ $spotifyPanelTimeline } {
            margin-block-end: 8px;
        }

        #{ $activityPanel } {
            height: 46px;
        }

        #{ $channelInfo } {
            #{ $channelInfoButtonContainer } {
                margin-inline-end: 6px
            }
        }

        #{ $privateChannels },
        #{ $members } {
            --channel-radius: 21px;
        }

        #{ $members } {
            #{ $listItem } {
                height: 42px;
            }
        }

        #{ $settingsSidebar } {
            #{ $item } {
                height: 32px;
            }
        }

        #{ $searchHeader } {
            --search-header-height: 48px;
        }

        #{ $discoverSidebarNavItem } {
            border-radius: 24px;
        }
    }

    &#{ $densityCozy } {
        --main-textarea-height: 54px;

        #{ $privateChannel } {
            &:not(#{ $privateChannelDm }) {
                #{ $privateChannelLink } {
                    height: 48px;
                }
            }
        }

        #{ $channelLink } {
            min-height: 38px;
        }

        #{ $spotifyPanel } {
            &#{ $spotifyPanelWithTimeline } {
                &#{ $spotifyPanelMaximized } {
                    padding-block-start: 0;
                }
            }
        }

        #{ $spotifyPanelTimeline } {
            margin-block-end: 8px;
        }

        #{ $vencordSpotifyPlayer } {
            margin-block-end: 2px;
        }

        #{ $activityPanel } {
            height: 54px;
        }

        #{ $channelInfo } {
            #{ $channelInfoButtonContainer } {
                margin-inline-end: 10px
            }
        }

        #{ $privateChannels },
        #{ $members } {
            --channel-radius: 24px;
        }

        #{ $members } {
            #{ $listItem } {
                height: 48px;
            }
        }

        #{ $settingsSidebar } {
            #{ $item } {
                height: 40px;
                line-height: 40px;
            }
        }

        #{ $searchHeader } {
            --search-header-height: 56px;
        }

        #{ $discoverSidebarNavItem } {
            border-radius: 28px;
        }
    }

    &#{ $densityCompact } {
        --main-textarea-height: 42px;

        #{ $guildsWrapper } {
            #{ $button } {
                margin: 0 4px;
            }
        }

        #{ $privateChannel } {
            &:not(#{ $privateChannelDm }) {
                #{ $privateChannelLink } {
                    height: 38px;
                }
            }
        }

        #{ $privateChannels } {
            --channel-radius: 19px;
        }

        #{ $channelLink } {
            min-height: 30px;
        }

        #{ $spotifyPanel } {
            padding: 6px 6px 0;
        }

        #{ $spotifyPanelTimelineBar } {
            margin-block-end: 12px;
        }

        #{ $spotifyPanelTimeline } {
            margin-block-start: 12px;
            margin-block-end: 4px;
        }

        #{ $spotifyBarGrabber } {
            --slider-grabber-height: 16px;
        }

        #{ $activityPanel } {
            height: 42px;
        }

        #{ $channelInfo } {
            #{ $channelInfoButtonContainer } {
                margin-inline-end: 6px
            }
        }

        #{ $privateChannels },
        #{ $members } {
            --channel-radius: 20px;
        }

        #{ $members } {
            #{ $listItem } {
                height: 40px;
            }
        }

        #{ $settingsSidebar } {
            #{ $item } {
                height: 28px;
                line-height: 28px;
            }
        }

        #{ $searchHeader } {
            --search-header-height: 42px;
        }

        #{ $discoverSidebarNavItem } {
            border-radius: 22px;
        }
    }
}

#{ $alignChatInput } {
    #{ $sidebarList } {
        background-color: var(--chat-color);
    }

    #{ $channelsContainer } {
        margin-block-end: calc(var(--custom-app-panels-height, 0) + var(--space-4));
        padding-block-end: 0;
    }

    #{ $channelInfo } {
        padding: 0;
    }

    #{ $channelTextAreaInTextChannel } {
        &#{ $channelTextAreaBase } {inset-block-start: -16px;
            padding: 0 var(--space-16);
            background: var(--typing-color);
        }
    }

    #{ $channelTextAreaCooldownWrapper } {
        padding: 0;
    }

    #{ $channelTextAreaAttachButtonInner },
    #{ $channelTextAreaEmojiButton },
    #{ $channelAppLauncherButtonContainer } {
        &:hover {
            background-color: transparent;
        }
    }

    #{ $channelTextAreaButtonInner } {
        &:not(#{ $channelTextAreaButtonInnerNoHover }) {
            &:hover {
                background-color: transparent;
            }
        }
    }

    #{ $accountPanel } {
        border-radius: var(--sidebar-panel-radius-small);
    }
}
