@use '../classes' as *;

/*
 *
 *  BETA - VISUAL REFRESH
 *
 */

#{ $themeDark } {
    &#{ $themeDarker } {
        --text-lightness-modifier: 1.75;
        --ui-darkness-modifier: 0.55;
    }

    &#{ $themeMidnight } {
        --text-lightness-modifier: 9.8;
        --ui-darkness-modifier: 0.10;
    }
}

#{ $visualRefresh } {
    &#{ $refreshFastFollowGuildBg } {
        #{ $bg } {
            background: transparent;
        }

        #{ $guildsWrapper } {
            background: transparent;
        }
    }

    &#{ $themeDark } {
        --text-brand: hsl(var(--accent-hsl--material-you));
    }

    /* server list */

    #{ $guildsWrapper } {
        /* CODE FOR MOVING STATUS AREA TO ORIGINAL SPOT */
        /*margin-block-end: 0;*/
    }

    /* channels and private sidebar */

    #{ $channelsContainer } {
        /* CODE FOR MOVING STATUS AREA TO ORIGINAL SPOT */
        /*padding-block-end: calc(var(--custom-app-panels-height,0) + 12px);*/
    }

    #{ $panels } {
        /* CODE FOR MOVING STATUS AREA TO ORIGINAL SPOT */
        /*width: calc(100% - 94px);
        inset-inline-start: 92px;
        inset-block-end: 12px;*/
    }
}

#{ $alignChatInput } {
    #{ $sidebarList } {
        background-color: var(--chat-color);
    }

    #{ $channelsContainer } {
        margin-block-end: calc(var(--custom-app-panels-height, 0) + var(--space-4));
        padding-block-end: 0;
    }

    #{ $channelInfo } {
        padding: 0;
    }

    #{ $channelTextAreaInTextChannel } {
        &#{ $channelTextAreaBase } {
            inset-block-start: -16px;
            padding: 0 var(--space-16);
            background: var(--typing-color);
        }
    }

    #{ $channelTextAreaCooldownWrapper } {
        padding: 0;
    }

    #{ $channelTextAreaAttachButtonInner },
    #{ $channelTextAreaEmojiButton },
    #{ $channelAppLauncherButtonContainer } {
        &:hover {
            background-color: transparent;
        }
    }

    #{ $channelTextAreaButtonInner } {
        &:not(#{ $channelTextAreaButtonInnerNoHover }) {
            &:hover {
                background-color: transparent;
            }
        }
    }

    #{ $accountPanel } {
        border-radius: var(--sidebar-panel-radius-small);
    }
}
