@use '../mixins' as *;

/*
 *
 *	AUTHORIZE APP
 *
 */

.oauth2Wrapper-p_8bbd {
	@include popout-format;

	.authorize-2xTTr- {
		.content-3oGIwf {
			padding: 0;

			.header-3cN3a_ {
				border-radius: 0;
			}

			.header-3cN3a_,
			.scopes-uCLYQv {
				border-bottom: 1px solid var(--popout-header-border);
			}

			.header-3cN3a_,
			.scopes-uCLYQv,
			.applicationDetails-3O3kc- {
				padding: 16px;
			}

			.entry-2w47SK {
				margin-top: 0;
				margin-bottom: 8px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.footer-3Gu_Tl {
			padding: 8px;
			background-color: transparent;
			border-radius: 0 0 var(--popout-radius-big) var(--popout-radius-big);
			border-top: 1px solid var(--popout-header-border);
		}
	}
}
