@use '../mixins' as *;

/*
 *
 *  BETTERDISCORD ERRORS
 *
 */

%bdErrorCard {
    @include card-format(true);

    %bdErrorCardHeader {
        padding: 16px;
    }

    &%bdErrorCardExpanded {
        %bdErrorCardHeader {
            border-bottom: 1px solid var(--card-border-color);
        }
    }

    %bdErrorCardBody {
        padding: 16px;
    }

    %bdErrorCardDivider {
        display: none;
    }

    %bdErrorCodeErrorStack {
        code {
            background-color: var(--attachment-color);
            border-radius: var(--card-radius);
            border: none;
        }
    }
}
