/*
 *
 *	INVITED TO SERVER
 *
 */

.container-1Gt1iQ {
	border-radius: var(--popout-radius-big);
	box-shadow: var(--shadow-3dp);
}

.contentWrapper-3oy4Xo {
	background-color: var(--popout-color) !important;
	border-radius: var(--popout-radius-big) 0 0 var(--popout-radius-big);
}

.inviteSplash-2Q0PLE {
	border-radius: 0 var(--popout-radius-big) var(--popout-radius-big) 0;
}
