@use '../mixins' as *;

/*
 *
 *  FORUM
 *
 */

%forumContainer {
    background: var(--chat-color);
}

%forumTagsContainer {
    padding: 16px 0 0;
}

%forumTagList {
    height: var(--button-height);
}

%forumSortDropdown {
    %buttonContents {
        color: var(--accent-text-color--material-you);
    }
}

%forumSortDropdownText {
    color: inherit !important;
}

%forumSortContainer {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;

    %menuPopout {
        min-width: unset;

        %scroller {
    		&::-webkit-scrollbar {
    			--scrollbar-width: 0;
    		}
        }

        %menuPopoutGroupLabel {
            padding-top: 0;
        }
    }
}

%forumTagsButton {
    --button-padding: 0 8px 0 12px;

    &%forumTagsButtonWithCount {
        --button-padding: 0 8px;
    }

    %forumTagsButtonInner {
        color: inherit;
    }

    svg {
        color: var(--accent-text-color--material-you);
    }
}

%forumTagsCountContainer {
    background-color: var(--accent-text-color--material-you);

    %forumTagsCountText {
        color: hsl(var(--accent-hsl--material-you));
    }
}

%forumFilterContainer {
    padding: 16px 16px 8px;
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
    box-shadow: var(--shadow-3dp);

    %forumFilterHeader {
        padding: 0;

        %textXsBold {
            @include remove-caps(14px);
        }
    }

    %forumFilterCountContainer {
        background-color: hsl(var(--accent-hsl--material-you));

        %forumFilterCountText {
            color: var(--accent-text-color--material-you);
        }
    }
}

%forumCard {
    padding-bottom: 16px;

    &[style*="height: 558px"] {
        padding-bottom: 0;
    }
}

%forumGuidelinesContainer {
    margin-bottom: 0;
    @include card-format(false, 16px, true);
}

%forumGuidelinesDescriptionContainer {
    --card-color-filled: var(--card-color-hover);

    @include card-format(false, 16px, true);
}

/* FORUM -> PILL */

%postPill {
    height: var(--button-height);
    padding: 0 12px 0 8px;
    background-color: var(--card-button-color) !important;
    border-radius: 10px;
    border: none;
    gap: 8px;
    transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) border-color;

    &%postPillClickable {
        &:hover {
            background-color: var(--card-button-color-hover) !important;
        }
    }

    &%postPillSmall {
        border-radius: 6px;
    }

    &%postPillSelected {
        background-color: hsla(var(--accent-hsl),0.3) !important;
        border-color: transparent !important;

        &:hover {
            background-color: hsla(var(--accent-hsl),0.35) !important;
        }

        %defaultColor {
            color: hsl(var(--accent-hsl--material-you));
        }
    }

    %postPillEmoji {
        margin-right: 0;
    }

    %postPillText {
        padding: 0;
    }
}
