@use '../mixins' as *;

/*
 *
 *  FORUM
 *
 */

%forumContainer {
    background-color: var(--chat-color) !important;
}

%forumMainCardHeader {
    position: relative;
    min-height: 48px;
    background-color: var(--input-color);
    border-radius: 24px;

    &%forumMainCardHeaderWithMatchingPosts {
        box-shadow: var(--shadow-3dp);
    }
}

%forumMainCardMatchingPostsRow {
    margin-top: -24px;
    padding-top: 24px;
    background-color: var(--input-color);
    border-radius: 0 0 24px 24px;
}

%forumNoPosts {
    @include card-format(false, 16px, true);

    %forumNoPostsIcon {
        background-color: var(--card-color-hover);
    }
}

%postGuidelinesContainer {
    margin-bottom: 0;
    @include card-format(false, 16px);
}

%postGuidelinesDescriptionContainer {
    --card-color-filled: var(--card-color-alt);

    @include card-format(false, 16px, true);
}

/* FORUM -> GET STARTED */

%forumGetStartedCard {
    margin-top: 16px;
    @include card-format(false, 0, true);

    %forumGetStartedWrapper {
        padding: 0;
    }

    %forumGetStartedHeaderRow {
        @include card-format--header(false, true);
    }

    %forumGetStartedChecklist {
        --card-color-filled: var(--card-color-alt);

        margin: 16px;
        @include card-format(false, 0, true);

        %forumGetStartedChecklistStepContainer {
            margin-top: 0;
            padding: 16px;
            background-color: transparent;
            @include card-format--list;
        }
    }
}

/* FORUM -> TOP BUTTONS */

%forumTagsButton {
    min-width: var(--button-height);

    %buttonContents {
        width: var(--button-height);
        justify-content: center;
        color: var(--accent-text-color--material-you);
    }
}

%forumTagsCountContainer {
    padding: 0;
    background-color: transparent;

    %forumTagsCountText {
        font-size: 16px;
        color: var(--accent-text-color--material-you);
    }
}

/* FORUM -> TAGS */

%forumTagsContainer {
    padding-top: 16px;
    padding-bottom: 0;
}

%postSortDropdown {
    margin-top: -1px;
    gap: unset;

    %postSortDropdownInner {
        color: var(--button-text-color);
    }

    %postSortDropdownText {
        color: var(--button-text-color) !important;
    }
}

%postTagList {
    height: var(--button-height);
}

%postTag {
    height: var(--button-height);
    padding: 0;
    background-color: var(--card-button-color) !important;
    border-radius: 10px;
    transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) border-color;

    &:hover {
        background-color: var(--card-button-color-hover) !important;
    }

    &%postTagSelected {
        background-color: hsla(var(--accent-hsl),0.3) !important;
        border-color: transparent !important;

        &:hover {
            background-color: hsla(var(--accent-hsl),0.35) !important;
        }

        %defaultColor {
            color: hsl(var(--accent-hsl--material-you));
        }
    }

    %postTagEmoji {
        margin-right: 0;
        padding-left: 8px;
    }

    %lineClamp1 {
        padding: 0 12px 0 8px;
    }

    &%postTagSmall {
        padding: 0;
        border-radius: 6px;

        %postTagEmoji {
            padding-left: 6px;
        }

        %lineClamp1 {
            padding: 0 8px 0 6px;
        }
    }
}

%postSortContainer {
    padding: 0;
    background-color: transparent;
    overflow: hidden;

    %menuPopout {
        min-width: unset;

        %scroller {
    		&::-webkit-scrollbar {
    			--scrollbar-width: 0;
    		}
        }
    }

    %postSortHeader {
        padding: 0 6px 0 12px;
    }

    %postSortOptionRow {
        padding: 9px 12px;
        border-radius: 0;
        transition: var(--default-time) var(--default-animation) background-color;

        &:hover {
            background-color: var(--menu-item-hover);
        }
    }

    %postSortSelectedIcon {
        color: hsl(var(--accent-hsl--material-you));

        circle {
            fill: hsl(var(--accent-hsl--material-you));
        }
    }
}

%postTagsCountContainer {
    background-color: hsl(var(--accent-hsl--material-you));

    %postTagsCountText {
        color: var(--accent-text-color--material-you);
    }
}

%postTagsClearButton {
    %textSMMedium {
        line-height: var(--button-height);
    }
}
