@use '../mixins' as *;

/*
 *
 *  FORUM
 *
 */

%forumContainer {
    background-color: var(--chat-color) !important;
}

%forumMainCard {
    @include card-format(false, 16px);
    box-shadow: none;

    &%forumMainCardHeaderWithMatchingPosts {
        border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
    }

    %forumMainCardTitle {
        input,
        input::placeholder {
            font-family: var(--app-font);
        }

        %input {
            padding-left: 32px;
        }
    }

    %forumMainCardSearchIcon,
    %forumMainCardCloseIcon {
        top: 8px;
    }
}

%forumMainCardMatchingPostsRow {
    background-color: var(--card-color-outlined);
    border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
    border: 1px solid var(--card-border-color);
    border-top: none;
}

%forumNoPosts {
    @include card-format(false, 16px);
}

%postGuidelinesContainer {
    @include card-format(false, 16px);
}

%postGuidelinesDescriptionContainer {
    --card-color-filled: var(--card-color-alt);

    @include card-format(false, 16px, true);
}

/* FORUM -> GET STARTED */

%forumGetStartedCard {
    @include card-format;

    %forumGetStartedWrapper {
        padding: 0;
    }

    %forumGetStartedHeaderRow {
        @include card-format--header;
    }

    %forumGetStartedChecklist {
        margin: 16px;
        @include card-format;

        %forumGetStartedChecklistStepContainer {
            margin-top: 0;
            padding: 16px;
            background-color: transparent;
            @include card-format--list;
        }
    }
}

%optionPillButton {
    --button-height: 32px;
    --button-padding: 0 8px;

    &%buttonFilled {
        --button-background: transparent;
        --button-outline: 1px solid var(--text-muted);
    }

    &:after {
        display: none;
    }

    %optionPill {
        background-color: transparent;
    }
}

/* FORUM -> TOP BUTTONS */

%forumSortButton,
%forumTagsButton {
    --button-padding: 0;

    min-width: var(--button-height);

    %buttonContents {
        width: var(--button-height);
        justify-content: center;
        color: var(--accent-text-color);
    }
}

/* FORUM -> TAGS */

%postTag {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--card-border-color);
    transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) border-color;

    &%postTagSmall {
        border-radius: 6px;
    }

    &:hover {
        background-color: var(--menu-item-hover) !important;
    }

    &%postTagSelected {
        background-color: hsla(var(--accent-hsl),0.3);
        border-color: transparent;

        &:hover {
            background-color: hsla(var(--accent-hsl),0.4) !important;
        }

        %postTagName {
            color: var(--accent-text-color);
        }
    }
}

%postSortContainer,
%postTagsContainer {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius);
    box-shadow: var(--shadow-3dp);
}

%postSortContainer {
    padding: 8px 0;
    overflow: hidden;

    %postSortHeader {
        padding: 0 6px 0 12px;
    }

    %postSortOptionRow {
        padding: 9px 12px;
        border-radius: 0;
        transition: var(--default-time) var(--default-animation) background-color;

        &:hover {
            background-color: var(--menu-item-hover);
        }
    }

    %postSortSelectedIcon {
        color: hsl(var(--accent-hsl));

        circle {
            fill: var(--accent-text-color);
        }
    }
}
