/*
 *
 *  FORUM MEDIA POSTS
 *
 */

%forumHeaderRow:not([data-list-item-id*="forum-channel-list"]) {
    %newPostContainer {
        %newPostBodyContainer {
            margin-right: 0;
        }
    }
}

%mediaPostThumbnailContainer {
    margin-left: 16px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);

    %buttonFilled {
        --button-background: transparent;

        &:after {
            display: none;
        }
    }

    %mediaPostUploadFileInputContainer {
        --button-height: 100%;

        &:hover {
            %mediaPostChangeThumbnailLabelContainer {
                background-color: var(--card-color-filled);
            }
        }
    }

    %mediaPostChangeThumbnailLabelContainer,
    %mediaPostThumbnail {
        border-radius: var(--card-radius-big);
    }

    %mediaPostChangeThumbnailLabelContainer {
        transition: var(--default-time) var(--default-animation) all;
    }

    %channelTextAreaUpload {
        padding: 0;
    }
}

%mediaPostAttachmentContainer {
    margin: 16px 0;
    padding: 16px !important;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);

    %newPostAttachmentUploadInput {
        background-color: var(--card-color-alt);
    }

    %channelTextAreaUpload {
        padding: 0;
    }

    %newPostAttachmentUploadInput,
    %spoilerContainer,
    %newPostAttachmentImageSmall {
        border-radius: var(--card-radius-big);
    }
}
