@use '../mixins' as *;

/*
 *
 *  FORUM NEW POST
 *
 */

/*%newPostContainer {
    padding: 6px 12px 8px;

    &%newPostContainerCollapsed {
        height: auto;
        padding: 0 6px 0 12px;

        %inputWrapper {
            margin-right: 8px;

            %input {
                padding: 0;
                box-shadow: none !important;
                cursor: text;

                &,
                &::-webkit-input-placeholder {
                    font-weight: 500;
                }
            }

            &:before,
            &:after {
                display: none;
            }
        }
    }

    &:not(%newPostContainerCollapsed) {
        padding: 16px;

        %newPostFormContainer {
            padding: 0;
        }

        %newPostForm {
            > div {
                padding: 0;
            }
        }

        %newPostTitleContainer {
            position: relative;
        }

        %input {
            --input-color: var(--card-color-filled);

            margin-top: 0;
            margin-right: 0;
            border-radius: 20px;
            box-shadow: none;

            &:focus {
                box-shadow: none;
            }
        }

        %newPostPrefixElement {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 0;
            right: 0;
            margin: 0;
            z-index: 2;

            svg {
                padding: 8px;
            }
        }
    }

    %newPostContentContainer {
        padding-left: 0;
    }

    %newPostFormContainer {
        padding: 0;
    }

    %newPostAttachmentContainer {
        width: 80px;
        height: 80px;
        margin-left: 16px;

        %newPostAttachmentUploadInput {
            @include card-format;
        }

        %newPostAttachmentImageSmall {
            height: 80px;
            border-radius: var(--card-radius-big);
        }

        %newPostAttachmentBadge {
            background-color: hsl(var(--accent-hsl--material-you));
            border-width: 4px;
            border-color: var(--input-color);
            color: var(--accent-text-color--material-you);
        }
    }

    %newPostAttachmentPopoutContainer {
        %newPostAttachmentPopout {
            @include popout-format;
            border: none;
        }

        %channelTextAreaUpload {
            padding: 0;
        }
    }

    %newPostTextArea {
        min-height: 68px;
        margin-top: 16px;
    }

    %newPostTextAreaInner {
        min-height: 68px;
        padding: 6px 12px;
        background-color: var(--card-color-filled);
        border-radius: 19px;
        color: var(--input-text-color);

        &::-webkit-input-placeholder {
            color: var(--input-placeholder-color);
        }
    }

    %newPostTagsContainer {
        margin-top: 12px;
    }

    %newPostTagsDivider {
        width: 100%;
        left: 0;
    }

    %newPostControlsContainer {
        margin-top: 8px;
    }
}*/
