@use '../mixins' as *;

/*
 *
 *  FORUM NEW POST
 *
 */

%newPostContainer {
    padding: 0;

    &%newPostContainerCollapsed {
        height: auto;

        %inputWrapper {
            margin-right: 8px;
        }
    }

    %newPostContentContainer {
        padding-left: 0;
        padding-right: 94px;
    }

    %newPostFormContainer {
        position: relative;
        display: block;
    }

    %newPostAttachmentContainer {
        position: absolute;
        top: 55px;
        right: 0;

        %newPostAttachmentUploadInput {
            @include card-format;
        }

        %newPostAttachmentImageSmall {
            border-radius: var(--card-radius-big);
        }

        %newPostAttachmentBadge {
            background-color: hsl(var(--accent-hsl));
            border-width: 4px;
            border-color: var(--chat-color);
            color: var(--accent-text-color);
        }
    }

    %newPostAttachmentPopoutContainer {
        %newPostAttachmentPopout {
            @include popout-format;
            border: none;
        }

        %channelTextAreaUpload {
            padding: 0;
        }
    }

    %newPostTextArea {
        min-height: 70px;
        margin-top: 16px;
    }

    %newPostTextAreaInner {
        min-height: 70px;
        padding: 6px 12px;
        background-color: var(--input-color);
        border-radius: 19px;
        color: var(--input-text-color);

        &::-webkit-input-placeholder {
            color: var(--input-placeholder-color);
        }
    }

    %newPostTagsContainer {
        margin-top: 12px;
    }

    %newPostTagsDivider {
        width: calc(100% + 32px);
        left: -16px;
    }
}
