@use '../mixins' as *;

/*
 *
 *  FORUM POSTS
 *
 */

%post,
%postCard {
    @include card-format(true, 0, true);

    &:hover {
        background-color: var(--card-color-hover) !important;
        box-shadow: none;
        transform: none;
    }

    &%postIsOpen {
        background-color: var(--card-color-hover) !important;
    }

    %postNewBadge {
        background-color: hsla(var(--accent-hsl),0.3) !important;
        border-radius: 6px;
        color: hsl(var(--accent-hsl--material-you));
    }
}

%postCardHeaderRow {
    padding-bottom: 16px;
}

%post {
    padding: 16px;

    %postTags {
        margin-top: 0;
    }
}

%postCardBodyMedia,
%postCardContentPreview {
    border-radius: var(--card-radius-big);
}

%postCardTagsRow {
    left: 22px;
    bottom: 2px;
}

%postCardTagsRowInTextCard {
    margin: 0 -8px -18px;
}

%postLoading {
    background-color: var(--card-color-filled);
}

%postPinIcon {
    background-color: hsl(var(--accent-hsl--material-you));

    path {
        fill: var(--accent-text-color--material-you);
    }
}

/* FORUM POSTS -> POSTS THREAD */

%postThread {
    &:before {
        display: none;
    }
}

%postThreadIconWrapper {
    background-color: var(--menu-item-hover);
}

%postThreadReactions {
    margin-bottom: 0;
    padding-bottom: 1px;
}

%postThreadButtonContainer {
    --button-height: 26px;
    --button-padding: 0 10px;

    margin: 16px 10px 0 16px;
    padding: 8px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    border-top: none;
    box-shadow: none;

    %button,
    %postThreadAddReactButton {
        --button-padding: 0 10px;
        --button-text-color: hsl(var(--accent-hsl--material-you));

        height: var(--button-height);
        padding: var(--button-padding);
        background-color: transparent;
        border-radius: var(--button-radius);
        border: none;
        color: var(--button-text-color);
        transition: var(--default-time) var(--default-animation) background-color;

        &:hover {
            background-color: hsla(var(--button-link-accent-color),0.14);
        }

        &%postThreadAddReactButtonActive {
            background-color: hsla(var(--button-link-accent-color),0.21);
        }
    }

    %button {
        %buttonContents {
            padding: 0;
            background-color: transparent;
            border: none;
            color: var(--button-text-color);
        }
    }

    %postThreadAddReactButtons {
        gap: 4px;
    }

    %postThreadAddReactButton {
        min-width: unset;
        margin: 0;

        svg {
            color: inherit !important;
        }
    }
}

%postThreadDivider {
    display: none;
}

%postThreadStartConversationBox {
    margin: 16px 6px 0 16px;
    background-color: var(--message-color);
    border-radius: var(--message-radius);

    &:after {
        left: 48px;
        border-top-color: var(--message-color);
    }
}
