@use '../mixins' as *;

/*
 *
 *  FORUM POSTS
 *
 */

%postContainer {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    border: none !important;

    &:hover {
        background-color: var(--card-color-hover);
        box-shadow: none;
        transform: none;
    }

    &%postContainerIsOpen {
        background-color: var(--card-color-active) !important;
    }

    %postPinIcon {
        background-color: hsl(var(--accent-hsl--material-you));
        color: var(--accent-text-color--material-you);

        path {
            fill: currentColor;
        }
    }

    %postTitleText {
        line-height: 24px;
        font-size: 1.325rem;
        font-weight: 400;
    }
}
