@use "../classes" as *;
@use "../mixins" as *;

/*
 *
 *  APP DIRECTORY
 *
 */

#{ $appDirectoryRoot } {
  margin: calc(var(--window-title-bar-height) + var(--app-card-top-margin))
    var(--app-card-margin) var(--app-card-margin);
  border-radius: var(--app-card-radius);
  overflow: hidden;
  animation: page-open 300ms var(--default-animation);
}

@keyframes page-open {
  from {
    transform: scale(1.1);
    opacity: 0;
  }
}

/* APP DIRECTORY -> CATEGORIES */

#{ $appDirectoryCategory } {
  background-color: var(--background-tinted-hover);
  border-radius: 24px;
  transition: var(--default-time) var(--default-animation) background-color;

  &:hover {
    background-color: var(--background-tinted-active);
  }
}

/* APP DIRECTORY -> CARDS */

#{ $appDirectoryCard } {
  @include card-format(true, true);
}

#{ $appDirectoryLearnMoreCard } {
  @include card-format;
}
