@use "../classes" as *;

/*
 *
 *  BROWSE CHANNELS
 *
 */

#{ $pageBodyHeader } {
  background: var(--header-bar-color) !important;
}

#{ $pageBody } {
  background: var(--app-foreground) !important;
}

#{ $channelsAndRolesContainer } {
  border-radius: var(--app-card-radius);

  #{ $pageBody } {
    border-radius: 0 0 var(--app-card-radius) var(--app-card-radius);
  }
}

#{ $browseChannelsChannelRow } {
  position: relative;
  background-color: var(--card-color);

  &:hover {
    &:not(#{ $browseChannelsChannelDisabled }) {
      background-color: var(--card-color);

      &:before {
        position: absolute;
        content: " ";
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        top: 4px;
        left: 4px;
        background-color: var(--card-color-hover);
        border-radius: calc(var(--card-radius) - 2px);
      }
    }
  }

  &#{ $browseChannelsFirstChannel } {
    border-radius: var(--card-radius) var(--card-radius) 0 0;
  }

  &#{ $browseChannelsLastChannel } {
    border-radius: 0 0 var(--card-radius) var(--card-radius);
  }

  #{ $browseChannelsChannelInfo } {
    z-index: 2;
  }

  #{ $buttonOutlinedPrimary } {
    --button-text-color: hsl(0, 0%, 100%);
  }
}
