@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  RECENT MEMBERS
 *
 */

#{ $membersPageScroller } {
    padding-bottom: 0;
}

#{ $membersPageContainer } {
    background-color: transparent !important;
}

#{ $membersPageMainTableContainer } {
    background-color: transparent;
    box-shadow: none;
    gap: 8px;
}

#{ $membersPageSearchHeaderContainer } {
    padding: 0;
}

#{ $listPopoutSearchBar } {
    @include input-format(false, true);
}

#{ $membersPageTable } {
    @include card-format;
    border-top: none;
}

#{ $membersPageTableHeaderRow } {
    &:first-child {
        &:after {
            box-shadow: 0 1px 0 var(--card-border-color);
        }
    }
}

#{ $membersPageMemberRowContainer } {
    td {
        &:first-child {
            border-radius: var(--menu-item-radius) 0 0 var(--menu-item-radius);
        }

        &:last-child {
            border-radius: 0 var(--menu-item-radius) var(--menu-item-radius) 0;
        }
    }

    &:hover {
        td {
            background-color: var(--background-tinted-hover);
        }

        #{ $membersPageMemberButton } {
            background-color: var(--background-tinted-active);
        }
    }
}

#{ $membersPageMemberOtherRoles },
#{ $membersPageMemberButton } {
    background-color: var(--background-tinted-hover);
}

#{ $membersPagePaginationContainer } {
    padding: 0;
    border-top: none;
}
