@use "../classes" as *;
@use "../mixins" as *;

/*
 *
 *  SERVER SHOP
 *
 */

#{ $serverShopHeroCard } {
  @include card-format;
  border: none;

  #{ $serverShopHeroCoverImage } {
    border-radius: calc(var(--card-radius) - 2px);
  }
}

#{ $serverShopTab } {
  background-color: var(--card-color);
  border-radius: var(--card-radius);

  &#{ $serverShopTabSelected } {
    background-color: var(--card-color-active);
    border: none;
    box-shadow: none;

    #{ $serverShopTabIconContainer } {
      background-color: var(--card-color);
    }
  }

  #{ $serverShopTabIconContainer } {
    background-color: var(--card-color-hover);
  }
}

#{ $serverShopSortDropdown } {
  #{ $serverShopSortDropdownInner } {
    gap: 8px;
    color: var(--accent-text-color);

    span:not([class]) {
      display: none !important;
    }
  }

  #{ $textSmMedium } {
    color: var(--accent-text-color) !important;
    font-weight: 700;
  }
}

#{ $serverShopCard } {
  &:hover {
    #{ $serverShopCardContent } {
      box-shadow: none;
      transform: none;
      outline: none;
    }
  }
}

#{ $serverShopProductCard } {
  @include card-format(true, true);
}

#{ $serverShopProductModalBody } {
  background-color: transparent;
}

#{ $serverProductRoleTag } {
  background-color: var(--card-color);
}
