@use '../mixins' as *;

/*
 *
 *  SERVER GUIDE
 *
 */

%serverGuideHeader {
    margin-top: -16px;
}

%serverGuideWelcomeMessageProfileContainer {
    border-radius: var(--card-radius);
}

%serverGuideUserCardInner {
    background-color: var(--card-color);
    border-radius: calc(var(--card-radius) - 2px);
}

%serverGuideAction {
    @include card-format(false, true);
}

%serverGuideSidebarCardWrapper {
    @include card-format;
}
