/*
 *
 *	SERVER DISCOVERY
 *
 */

%pageWrapper {
    margin-bottom: calc((var(--app-bar-size) - var(--app-card-top-margin)) * -1);
    background: var(--app-foreground);
    border-radius: var(--app-card-radius);
    overflow: hidden;
}

/* SERVER DISCOVERY -> SIDEBAR */

%discoverSidebarContainer {
    background: transparent !important;
}

%discoverSidebarCategoryItem {
    %discoverCategoryItemInner {
        border-radius: var(--menu-item-radius);
    }

    &:hover {
        %discoverCategoryItemInner {
            background-color: var(--background-tinted-hover);
        }
    }

    &%discoverSidebarSelectedCategoryItem {
        %discoverCategoryItemInner {
            background-color: var(--background-tinted-active);
        }
    }
}

/* SERVER DISCOVERY -> CARDS */

%discoverGuildCard {
    background-color: var(--card-color) !important;
    border-radius: var(--card-radius);

    &:hover {
        background-color: var(--card-color-hover) !important;

        %discoverGuildCardIcon {
            background-color: var(--card-color-hover) !important;
        }
    }

    %discoverGuildCardIcon {
        background-color: var(--card-color) !important;
    }
}

%fullMotion {
    %discoverGuildCard {
        &:hover {
            box-shadow: none;
            transform: none;
        }
    }
}
