@use "../classes" as *;

/*
 *
 *	SERVER DISCOVERY
 *
 */

#{ $pageWrapper } {
  margin-bottom: calc((var(--app-bar-size) - var(--app-card-top-margin)) * -1);
  background: var(--app-foreground);
  border-radius: var(--app-card-radius);
  overflow: hidden;
}
