/*
 *
 *  DISCORD SHOP
 *
 */

%layer {
    %shopContainer {
        height: var(--content-full-height);
        margin: var(--app-card-top-margin) var(--app-card-margin) var(--app-card-margin);
        border-radius: var(--app-card-radius);
        overflow: hidden;

        %shopPage {
            margin-bottom: 32px;
        }
    }
}

%contentMain {
    %shopContainer {
        margin: 0;
        border-radius: var(--app-card-radius);
        overflow: hidden;

        %shopScroll {
            height: calc(100% - (var(--app-bar-size) - 24px));
        }

        %shopPage {
            max-width: unset;
            margin-bottom: 32px;
        }
    }
}


%shopHeroBanner {
    border-radius: var(--card-radius);

    %buttonInverted {
        &%buttonBrand {
            --button-background: hsl(0,0%,100%);
            --button-text-color: var(--brand-experiment);
        }
    }
}

%shopBannerBackground {
    border-radius: var(--card-radius);
}

%shopBanner {
    border-radius: var(--card-radius);
    outline: none;
}

%shopCard {
    border-radius: var(--card-radius);
    border: none;

    %buttonFilled {
        --button-background: hsla(0,0%,0%,0.3);
        --button-text-color: hsl(0,0%,100%);

        &%buttonGreen {
            --button-background: var(--button-positive-background);
            --button-text-color: hsl(0,calc(var(--saturation-factor, 1) * 0%),100%);
        }
    }
}
