/*
 *
 *  CSS EDITOR
 *
 */

#bd-editor-panel {
	border-radius: var(--card-radius-big);
	overflow: hidden;
}

#bd-editor-controls {
	background-color: var(--card-color-filled);
	border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
}

#bd-customcss-editor {
    background-color: var(--card-color-filled);
}

.monaco-editor {
	&,
	&-background,
	.inputarea.ime-input,
	.margin {
		background-color: inherit !important;
	}

	.overflow-guard {
		border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
		border-top: none;
	}

	.minimap {
		right: 7px;
		background-color: inherit !important;

		&-shadow-visible {
			box-shadow: none !important;
		}

		canvas {

		}
	}

	.scroll-decoration {
		box-shadow: none !important;
	}
}

.monaco-editor,
.ace_editor,
.line-numbers {
	* {
		--app-font: var(--code-font);
	}

	.codicon[class*=codicon-] {
		font-family: codicon !important;
	}
}
