@use '../classes' as *;

/*
 *
 *  SETTINGS CONTENT
 *
 */

#{ $standardSidebarView } {
    background-color: var(--app-background);
}

#{ $settingsContentRegion } {
    margin: var(--app-card-top-margin) var(--app-card-margin) var(--app-card-margin) 0;
    background-color: var(--app-foreground);
    border-radius: var(--app-card-radius);
    overflow: hidden;

    #{ $settingsContentScroller } {
        justify-content: center;
        background-color: transparent;
    }
}

#{ $settingsCustomColumn } {
    max-width: 1080px;
}

/* SETTINGS CONTENT AREA V2 */

#{ $settingsV2Content } {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius);
}

#{ $settingsV2ContentHeader } {
    background-color: var(--popout-color);
    border-bottom: none;

    #{ $headingMdMedium } {
        color: var(--header-primary) !important;
    }
}
