/*
 *
 *  SETTINGS CONTENT
 *
 */

%standardSidebarView {
    background-color: var(--app-background);
}

%settingsContentRegion {
    margin: var(--app-card-top-margin) var(--app-card-margin) var(--app-card-margin) 0;
    background-color: var(--app-foreground);
    border-radius: var(--app-card-radius);
    overflow: hidden;

    %settingsContentScroller {
        justify-content: center;
        background-color: transparent;
    }
}

%settingsConentColumn,
%settingsCustomColumn {
    max-width: 1080px;
}
