/*
 *
 *  SETTINGS SIDEBAR
 *
 */

%settingsSidebarScroller {
    background-color: var(--sidebar-color);
}

%settingsSide {
    %settingsSideItem {
        border-radius: var(--list-item-radius);
    }
}

%premiumSelectedBackground {
    display: none;
}
