/*
 *
 *	VOICE & VIDEO CALL
 *
 */

%voiceCallActionsWrapper {
    %voiceCallActionsButtonSection:first-child {
        > %voiceCallAttachedCaretButtonContainer {
            > div:first-child {
                %callButtonColorable {
                    border-radius: 24px 4px 4px 24px;
                }
            }
        }
    }
}

%voiceCallActionsButtonSection {
    background-color: hsl(from var(--popout-color) h s l / 0.75);
    border-radius: 28px;
    border: none;

    %voiceCallAttachedCaretButtonContainer {
        gap: 2px;
    }

    %callButtonColorable {
        position: relative;
        width: 48px;
        height: 48px;
        padding: 0;
        border-radius: 24px;

        &%voiceCallActionsContextMenuNub {
            width: 36px;
            border-radius: 4px 24px 24px 4px;
        }

        &:after {
            border-radius: inherit;
        }
    }
}

%voiceCallAttachedCaretButtonContainer {
    %voiceCallDisconnect {
        --button-background: hsl(var(--alert-hsl));
        --button-text-color: var(--alert-text-color);

        width: 56px;
        height: 56px;
        border-radius: 28px;
    }
}

%voiceCallAvSpacing {
    display: none;
}

/* VOICE & VIDEO CALL -> ANSWER CALL POPOUT */

%callCenterButton {
    width: 56px;
    height: 56px;
    padding: 0;

    &:after {
        display: none;
    }
}

%callCenterIcon {
    padding: 0;
}
