/*
 *
 *	VOICE & VIDEO CALL
 *
 */

%voiceCallActionsWrapper {
    %voiceCallActionsButtonSection:first-child {
        > %voiceCallAttachedCaretButtonContainer {
            > div:first-child {
                %callButtonColorable {
                    border-radius: 24px 4px 4px 24px;
                }
            }
        }
    }
}

%voiceCallActionsButtonSection {
    background-color: hsl(from var(--popout-color) h s l / 0.75);
    border-radius: 28px;
    border: none;
}

%voiceCallAttachedCaretButtonContainer {
    gap: 2px;

    %callButtonColorable {
        position: relative;
        width: 48px;
        height: 48px;
        padding: 0;
        border-radius: 24px;

        &%voiceCallActionsContextMenuNub {
            width: 48px;
            margin-left: 0;
            border-radius: 4px 24px 24px 4px;
            transition: calc(var(--default-time) / 1.5) var(--default-animation) border-radius;

            &%callButtonActive {
                border-radius: 24px;
            }

            &:before {
                position: absolute;
                content: " ";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: var(--button-text-color);
                -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/chevron_down.svg);
            	-webkit-mask-repeat: no-repeat;
                -webkit-mask-size: 50%;
                -webkit-mask-position: center;
                transition: calc(var(--default-time) / 1.5) var(--default-animation) transform;
            }

            &%voiceCallActionsContextMenuNubActive {
                &:before {
                    transform: rotate(180deg);
                }
            }

            %voiceCallContextMenuCaret {
                display: none;
            }
        }

        &:after {
            border-radius: inherit;
        }
    }

    &%voiceCallDisconnect {
        background-color: hsl(from var(--popout-color) h s l / 0.75);
        border-radius: 28px;
        border: none;

        %callCenterButton {
            border-radius: 24px 4px 4px 24px;
        }

        %voiceCallDisconnect {
            background-color: hsl(var(--alert-hsl)) !important;

            %callCenterIcon {
                color: var(--alert-text-color) !important;
            }

            &:before {
                background-color: var(--alert-text-color) !important;
            }
        }
    }
}

%voiceCallAttachedCaretButtonContainer {
    %voiceCallFullRegionButton%voiceCallDisconnect {
        --button-background: hsl(var(--alert-hsl));
        --button-text-color: var(--alert-text-color);

        width: 56px;
        height: 56px;
        border-radius: 28px;
    }
}

%voiceCallAvSpacing {
    display: none;
}

/* VOICE & VIDEO CALL -> ANSWER CALL POPOUT */

%callCenterButton {
    width: 56px;
    height: 56px;
    padding: 0;

    &:after {
        display: none;
    }
}

%callCenterIcon {
    padding: 0;
}
