/*
 *
 *	CHAT AREA
 *
 */

%chat,
%threadedSidebar {
	background-color: var(--chat-color) !important;
}

%chat {
	&%threadedSidebarOpen {
		border-radius: 0 16px 16px 0;
	}
}

%threadedSidebar {
	border-radius: 16px 0 0 16px;
}

%chatOptionButton {
	--button-padding: 0 12px;

	color: var(--button-link-text-color);
}

%channelroles {
	background-color: var(--message-color);
	border-radius: 12px;
}

/* CHAT AREA -> PLACEHOLDER */

%chatLoadingWrapper {
	background-color: var(--chat-color);
}

%chatLoadingWrapper {
	background-color: transparent;
}

%chatLoadingAttachment,
%chatLoadingAvatar,
%chatLoadingBlob {
	background-color: #fff;
}
