@use '../mixins' as *;

/*
 *
 *	DIRECT MESSAGES
 *
 */

%callWrapper {
    background-color: var(--main-color);
    box-shadow: var(--shadow-3dp);

    &%callMinimum {
        background-color: var(--chat-color);
    }

    %callContainer {
        border-radius: var(--card-radius-big) 0 0 var(--card-radius-big);
    }

    &%callChatSidebarOpen {
        %callContainer {
            border-radius: var(--card-radius-big);
        }
    }
}

%chatContentWrapper {
    &:before {
		display: none;
	}
}

%callTileBorder {
    border-radius: var(--card-radius-big);
	transition: var(--default-time) var(--default-animation) box-shadow;
}

%callQuickSelect {
	margin-top: 12px;
}

%spectatorMenuScroller {
	padding: 8px 0;
	padding-right: 0 !important;
	background-color: var(--popout-color);
	border-radius: var(--popout-radius);

	%spectatorMenuHeader {
		margin: 8px 0;
		padding: 0 12px;
		color: var(--menu-item-text-color);
		text-transform: none;
	}

	%spectatorMenuItem {
		margin: 0;
		padding: 6px 12px;
		border-radius: 0;
		transition: var(--default-time) var(--default-animation) background-color;

		&:not(%popoutDisabled):hover {
			background-color: var(--menu-item-hover) !important;
		}

		%spectatorMenuItemText {
			color: var(--menu-item-text-color);
		}
	}

	&::-webkit-scrollbar {
		width: 0 !important;
	}
}

%callTileRoot {
    background-color: var(--card-color-filled);
}

%callTile {
	border-radius: var(--card-radius-big);

    %button {
        %size16 {
            line-height: var(--button-height);
        }
    }
}

%callTitleOverlayTitle {
	border-radius: 16px;
}

%callParticipantsButton {
	background-color: #2f3136 !important;
	border-radius: 16px !important;

	&:hover {
		background-color: #202225 !important;
	}
}

%waveButton {
    background-color: hsla(var(--button-link-accent-color),0.075);

    &:hover {
        background-color: hsla(var(--button-link-accent-color),0.1);
    }
}

/* DIRECT MESSAGES -> VIDEO CALL REACTIONS */

%callReactionContainer {
    @include popout-format;
}

/* DIRECT MESSAGES -> SIDEBAR PROFILE */

%dmProfilePanel {
    padding: 12px;

    %scroller {
        &::-webkit-scrollbar {
            width: 0 !important;
        }
    }
}

%dmUserPanelOuter {
    border-radius: var(--popout-radius-big);
    overflow: hidden;
}

%dmUserProfileBadgeList {
    height: var(--button-height);
	border-radius: var(--button-radius);

    &:not(:empty) {
        padding: 0 7px;
    }
}

%dmProfilePanelConnections {
    margin: 6px 16px 16px;

    %dmMutualFriendsDivider {
        position: relative;
        border-top: none;

        &:before {
            position: absolute;
            content: " ";
            width: auto;
            height: 1px;
            top: 0;
            left: 12px;
            right: 12px;
            background-color: var(--card-border-color);
            box-sizing: border-box;
        }
    }

    %button {
        --button-height: 42px;
        --button-padding: 0 12px;
        --button-background: transparent;
        --button-radius: 0;
        --button-text-color: var(--text-normal);

        &:after {
            display: none;
        }
    }
}
