/*
 *
 *	FORMAT TOOLBAR
 *
 */

%formatToolbar {
	background-color: var(--popout-color);
	border-radius: 16px;
	box-shadow: var(--shadow-medium);
	overflow: hidden;

	%formatToolbarButtons {
		height: 32px;
		padding: 2px;
        box-sizing: border-box;
	}

	%formatToolbarButton {
		width: 28px;
		height: 28px;
        border-radius: 14px;
		color: var(--menu-item-text-color);
		transition: var(--default-time) var(--default-animation) background-color !important;

		&:hover {
			background-color: var(--menu-item-hover);

            %formatToolbarIcon {
                transform: scale(1.1);
            }
		}

		%formatToolbarIcon {
			transition: var(--default-time) var(--default-animation) transform;
		}
	}

	%formatToolbarDivider {
		height: 16px;
		border-left-color: var(--card-border-color);
	}
}

/* FORMAT TOOLBAR -> BF TOOLBAR */

%bfToolbar {
	min-height: 36px;
	padding: 4px 30px 10px 0 !important;

	&:before {
		background-color: var(--popout-color) !important;
		border-radius: 19px !important;
		box-shadow: var(--shadow-medium);
	}

	%bfToolbarFormat {
		max-height: 36px !important;
		border-radius: 0 !important;

		&:nth-of-type(2) {
			border-radius: 19px 0 0 19px !important;
		}
	}
}
