/*
 *
 *	FORMAT TOOLBAR
 *
 */

%formatToolbar {
	background-color: var(--popout-color);
	border-radius: 16px;
	box-shadow: var(--shadow-3dp);
	overflow: hidden;

	%button {
        --button-height: 32px;
		--button-background: transparent;
		--button-radius: 0;

		box-shadow: none !important;
		transition: var(--default-time) var(--default-animation) background-color !important;

		&:hover {
			--button-background: var(--menu-item-hover);
		}

		%formatToolbarIcon {
			color: var(--menu-item-text-color);
		}
	}

	%formatToolbarDivider {
		border-left-color: var(--card-border-color);
	}
}

/* FORMAT TOOLBAR -> BF TOOLBAR */

%bfToolbar {
	min-height: 36px;
	padding: 4px 30px 10px 0 !important;

	&:before {
		background-color: var(--popout-color) !important;
		border-radius: 19px !important;
		box-shadow: var(--shadow-3dp);
	}

	%bfToolbarFormat {
		max-height: 36px !important;
		border-radius: 0 !important;

		&:nth-of-type(2) {
			border-radius: 19px 0 0 19px !important;
		}
	}
}
