@use '../mixins' as *;

/*
 *
 *  POSTS
 *
 */

%postsContainer {
    background-color: var(--chat-color) !important;
}

%postMainCard {
    @include card-format(false, 16px 16px 12px);
    box-shadow: none;

    %postMainCardTitle {
        input,
        input::placeholder {
            font-family: var(--app-font);
        }

        %input {
            padding-left: 32px;
        }
    }

    %postMainCardSearchIcon,
    %postMainCardCloseIcon {
        top: 8px;
    }
}

%postNoPosts {
    @include card-format(false, 16px);
}

/* POST -> GET STARTED */

%postGetStartedCard {
    @include card-format;

    %postGetStartedWrapper {
        padding: 0;
    }

    %postGetStartedHeaderRow {
        @include card-format--header;
    }

    %postGetStartedChecklist {
        margin: 16px;
        @include card-format;

        %postGetStartedChecklistStepContainer {
            margin-top: 0;
            padding: 16px;
            background-color: transparent;
            @include card-format--list(52px);
        }
    }
}

%optionPillButton {
    --button-height: 32px;
    --button-padding: 0 8px;

    &%buttonFilled {
        --button-background: transparent;
        --button-outline: 1px solid var(--text-muted);
    }

    &:after {
        display: none;
    }

    %optionPill {
        background-color: transparent;
    }
}

/* POSTS -> POST */

%post {
    &:hover {
        background-color: var(--card-color-hover);
        box-shadow: none;
        transform: none;
    }

    &%postIsOpen {
        background-color: var(--card-color-hover);
    }

    %postNewMessageCount {
        color: hsl(var(--accent-hsl)) !important;
    }

    %postNewBadge {
        background-color: hsla(var(--accent-hsl),0.25) !important;
        border-radius: 6px;

        %postNewBadgeText {
            color: hsl(var(--accent-hsl));
            text-transform: capitalize;
        }
    }

    %postTags {
        margin-top: 0;
    }
}

%postReaction {
    background-color: transparent;
    border-radius: 8px;
    border-color: var(--separator-color);

    &:hover {
        background-color: var(--menu-item-hover);
    }

    &%postReactionMe {
        background-color: hsla(var(--accent-hsl),0.3);
        border-color: hsla(var(--accent-hsl),0.075);

        %postReactionCount {
            color: var(--accent-text-color);
            font-weight: 400;
        }
    }
}

/* POSTS -> SIDEBAR CARDS */

%postsSidebarCard {
    @include card-format;

    %postsSidebarCardHeader {
        @include card-format--header;
    }
}

%postsSidebarGuidelines,
%postsSidebarTags {
    margin-top: 0;
    padding: 16px;
}

%postsSidebarShowMore {
    margin-top: 0;
    padding: 0 16px 16px;

    %postsSidebarShowMoreText {
        color: hsl(var(--accent-hsl)) !important;
    }
}

/* POSTS -> NEW POST */

%newPostContainer {
    padding: 0;

    &%newPostContainerCollapsed {
        height: auto;

        %inputWrapper {
            margin-right: 8px;
        }
    }

    %newPostContentContainer {
        padding-left: 0;
        padding-right: 94px;
    }

    %newPostFormContainer {
        position: relative;
        display: block;
    }

    %newPostAttachmentContainer {
        position: absolute;
        top: 55px;
        right: 0;

        %newPostAttachmentUploadInput {
            @include card-format;
        }

        %newPostAttachmentImageSmall {
            border-radius: var(--card-radius-big);
        }

        %newPostAttachmentBadge {
            background-color: hsl(var(--accent-hsl));
            border-width: 4px;
            border-color: var(--chat-color);
            color: var(--accent-text-color);
        }
    }

    %newPostAttachmentPopoutContainer {
        %newPostAttachmentPopout {
            @include popout-format;
            border: none;
        }

        %channelTextAreaUpload {
            padding: 0;
        }
    }

    %newPostTextArea {
        min-height: 70px;
        margin-top: 16px;
    }

    %newPostTextAreaInner {
        min-height: 70px;
        padding: 6px 12px;
        background-color: var(--input-color);
        border-radius: 19px;
        color: var(--input-text-color);

        &::-webkit-input-placeholder {
            color: var(--input-placeholder-color);
        }
    }

    %newPostTagsContainer {
        margin-top: 12px;
    }

    %newPostTagsDivider {
        width: calc(100% + 32px);
        left: -16px;
    }
}

/* POSTS -> TAGS */

%postTag {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--card-border-color);

    &%postTagSmall {
        border-radius: 6px;
    }

    &:hover {
        background-color: var(--card-color-hover) !important;
    }

    &%postTagSelected {
        background-color: hsla(var(--accent-hsl),0.3);
        border-color: transparent;

        &:hover {
            background-color: hsla(var(--accent-hsl),0.4) !important;
        }

        %postTagName {
            color: var(--accent-text-color);
        }
    }
}

%newPostTagsButton {
    padding: var(--button-padding);

    %newPostTagsButtonInner {
        color: var(--button-link-text-color) !important;
    }
}

%postSortContainer {
    svg {
        height: var(--input-height);
    }

    %selectMenu {
        @include remove-caps(14px);
    }
}

/* POSTS -> POSTS THREAD */

%postThread {
    &:before {
        display: none;
    }
}

%postThreadIconWrapper {
    background-color: var(--menu-item-hover);
}

%postThreadReactions {
    margin-bottom: 0;
    padding-bottom: 1px;
}

%postThreadButtonContainer {
    --button-height: 26px;
    --button-padding: 0 10px;

    padding: 8px 16px;
    background-color: var(--chat-color);
    border-top: 1px solid var(--card-border-color);
    border-bottom: 1px solid var(--card-border-color);
    box-shadow: none;

    %button,
    %postThreadAddReactButton {
        --button-padding: 0 10px;

        height: var(--button-height);
        padding: var(--button-padding);
        background-color: rgba(var(--button-link-color),0.075);
        border-radius: var(--button-radius);
        border: none;

        &:hover {
            background-color: rgba(var(--button-link-color),0.125);
        }
    }

    %button {
        %buttonContents {
            padding: 0;
            background-color: transparent;
            border: none;
        }
    }
}

%postThreadDivider {
    display: none;
}
