@use '../mixins' as *;

/*
 *
 *	STAGE
 *
 */

%stageCallContainer {
    border-radius: var(--card-radius-big);
}

%stageStartActionContainer {
    @include card-format(false, 16px, true, true);
}

%stageJoinIconContainer {
    background-color: var(--card-color-active);
}

%stageParticipant {
    border-radius: var(--card-radius-big);
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-color-filled);
    }
}

%stageBottomButtonsContainer {
    %button {
        --button-height: 56px;
        --button-padding: 0 24px 0 16px;
        --button-radius: calc(var(--button-height) / 2);
    }
}

%stageMessageContentWrapper {
    background-color: var(--message-color);
    color: var(--text-normal);
}
