/*
 *
 *  SUMMARIES
 *
 */

%summaryNewTopicsBarContainer {
	top: 16px;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	box-shadow: none;
	opacity: 1;
	pointer-events: none;
	z-index: 4;

	%newMessagesBarButtonBase {
        margin-left: 8px;
	}

	%newMessagesBarButtonMain {
        > div {
            position: unset !important;
        }
	}
}

%summaryNewTopicsBarTopicSection {
    padding: 9px 16px;
    background-color: hsl(var(--accent-hsl--material-you));
    border-radius: 18px;
    color: var(--accent-text-color--material-you);
    box-shadow: var(--shadow-2dp);
    pointer-events: all;

    %summaryNewTopicsBarIcon {
        margin-left: 0;
    }

    %summaryNewTopicsBarText {
        color: var(--accent-text-color--material-you);
    }

    %summaryNewTopicsBarCaret {
        margin-right: 0;
    }
}

%summaryNewTopicsTextSelected {
    height: auto;
    background-color: transparent;
}

/* SUMMARIES -> NO NEW MESSAGES */

%summaryTopicsPillContainer {
	height: var(--button-height);
    top: 16px;
	background-color: transparent;
	box-shadow: none;
	pointer-events: none;
}

%summaryTopicsPill {
    align-items: center;
    justify-content: center;
}

%summaryTopicsPillText,
%summaryTopicsPillCarets {
    background-color: hsl(var(--accent-hsl--material-you));
    color: var(--accent-text-color--material-you);
    border-radius: var(--button-radius);
    box-shadow: var(--shadow-2dp);
	pointer-events: all;
}

%summaryTopicsPillText {
    flex: 0 1 auto;
    padding: 9px 16px;

    &:hover {
        %summaryTopicsPillDropdownCaret {
            color: var(--accent-text-color--material-you);
        }
    }

    %summaryTopicsPillTextSelected {
        height: 18px;
        background-color: transparent;
    }

    %summaryTopicsPillSummaryIcon {
        margin-right: 8px;
    }

    %summaryTopicsPillTextTitle,
    %summaryTopicsPillDropdownCaret {
        color: var(--accent-text-color--material-you);
    }

    %summaryTopicsPillDropdownCaret {
        margin-right: 0;
    }
}

%summaryTopicsPillCarets {
    height: var(--button-height);
    margin-left: 8px;
    padding-right: 0;
    background-color: var(--chat-color);
}

%summaryTopicsPillCaret {
    width: var(--button-height);
    background-color: hsl(var(--accent-hsl--material-you));
    color: var(--accent-text-color--material-you) !important;
    border: none;

    &%summaryTopicsPillCaretDisabled {
        opacity: 0.4;
    }
}
