@use "../classes" as *;

/*
 *
 *  SUMMARIES
 *
 */

#{ $summaryNewTopicsBarTopicSection },
#{ $summaryNewTopicsBarInitial } {
  height: var(--button-height);
  margin: 0;
  padding-inline: var(--button-padding-has-icon);
  background-color: var(--accent-secondary-color);
  color: var(--accent-secondary-text-color);
  border-radius: var(--button-radius);
  pointer-events: all;
}

#{ $summaryNewTopicsBarTopicSection } {
  max-width: none;
}

#{ $summaryNewTopicsBarInitial } {
  cursor: pointer;
}

#{ $summaryNewTopicsBarTextClickable } {
  height: inherit;
  cursor: pointer;

  > div {
    height: inherit;
    background-color: transparent;
    gap: 8px;
  }
}

#{ $summaryNewTopicsBarIcon },
#{ $summaryNewTopicsBarCaret } {
  margin: 0;
}

#{ $summaryNewTopicsBarText } {
  color: inherit;
}

#{ $summaryNewTopicsBarCaret } {
  padding: 0;
}

/* SUMMARIES -> NO NEW MESSAGES */

#{ $summaryTopicsPillContainer } {
  height: var(--button-height);
  inset-block-start: var(--space-16);
  background-color: transparent;
  box-shadow: none;
  pointer-events: none;
}

#{ $summaryTopicsPill } {
  align-items: center;
  justify-content: center;
  gap: var(--space-8);
}

#{ $summaryTopicsPillText },
#{ $summaryTopicsPillCarets } {
  height: var(--button-height);
  border-radius: var(--button-radius);
  pointer-events: all;
}

#{ $summaryTopicsPillText } {
  flex: 0 1 auto;
  padding-block: 0;
  padding-inline: var(--button-padding-has-icon);
  background-color: var(--accent-secondary-color);
  align-items: center;

  > div {
    padding-inline-start: 0;
    gap: 8px;
  }

  &:hover {
    #{ $summaryTopicsPillDropdownCaret } {
      color: var(--accent-secondary-text-color);
    }
  }

  #{ $summaryTopicsPillTextSelected } {
    height: 18px;
    background-color: transparent;
  }

  #{ $summaryTopicsPillSummaryIcon } {
    margin-inline-end: 0;
  }

  #{ $summaryTopicsPillTextTitle },
  #{ $summaryTopicsPillDropdownCaret } {
    color: var(--accent-secondary-text-color);
  }

  #{ $summaryTopicsPillDropdownCaret } {
    margin-inline-end: 0;
    padding-inline-start: 0;
  }
}

#{ $summaryTopicsPillCarets } {
  height: var(--button-height);
  padding-inline-end: 0;
  gap: 2px;
}

#{ $summaryTopicsCaretLeft } {
  border-radius: var(--button-radius) 4px 4px var(--button-radius);
}

#{ $summaryTopicsCaretRight } {
  border-radius: 4px var(--button-radius) var(--button-radius) 4px;
}

#{ $summaryTopicsPillCaret } {
  background-color: hsl(var(--accent-hsl--material-you));
  color: var(--accent-text-color--material-you) !important;
  border: none;

  &#{ $summaryTopicsPillCaretDisabled } {
    opacity: 0.3;
  }

  &:hover {
    background-color: hsl(var(--accent-hsl--material-you));
  }
}
