/*
 *
 *  SUMMARIES
 *
 */


%summaryNewTopicsBarTopicSection,
%summaryNewTopicsBarInitial {
    height: var(--button-height);
    margin: 0;
    padding: var(--button-padding-icon-both);
    background-color: var(--accent-secondary-color);
    color: var(--accent-secondary-text-color);
    border-radius: var(--button-radius);
    pointer-events: all;
}

%summaryNewTopicsBarInitial {
    cursor: pointer;
}

%summaryNewTopicsBarTextClickable {
    height: inherit;
    cursor: pointer;

    > div {
        height: inherit;
        background-color: transparent;
        gap: 8px;
    }
}

%summaryNewTopicsBarIcon,
%summaryNewTopicsBarCaret {
    margin: 0;
}

%summaryNewTopicsBarText {
    color: inherit;
}

%summaryNewTopicsBarCaret {
    padding: 0;
}

/* SUMMARIES -> NO NEW MESSAGES */

%summaryTopicsPillContainer {
	height: var(--button-height);
    top: 16px;
	background-color: transparent;
	box-shadow: none;
	pointer-events: none;
}

%summaryTopicsPill {
    align-items: center;
    justify-content: center;
}

%summaryTopicsPillText,
%summaryTopicsPillCarets {
    background-color: hsl(var(--accent-hsl--material-you));
    color: var(--accent-text-color--material-you);
    border-radius: var(--button-radius);
    box-shadow: var(--shadow-2dp);
	pointer-events: all;
}

%summaryTopicsPillText {
    flex: 0 1 auto;
    padding: 9px 16px;

    &:hover {
        %summaryTopicsPillDropdownCaret {
            color: var(--accent-text-color--material-you);
        }
    }

    %summaryTopicsPillTextSelected {
        height: 18px;
        background-color: transparent;
    }

    %summaryTopicsPillSummaryIcon {
        margin-right: 8px;
    }

    %summaryTopicsPillTextTitle,
    %summaryTopicsPillDropdownCaret {
        color: var(--accent-text-color--material-you);
    }

    %summaryTopicsPillDropdownCaret {
        margin-right: 0;
    }
}

%summaryTopicsPillCarets {
    height: var(--button-height);
    margin-left: 8px;
    padding-right: 0;
    background-color: var(--chat-color);
}

%summaryTopicsPillCaret {
    width: var(--button-height);
    background-color: hsl(var(--accent-hsl--material-you));
    color: var(--accent-text-color--material-you) !important;
    border: none;

    &%summaryTopicsPillCaretDisabled {
        opacity: 0.4;
    }
}
