@use '../mixins' as *;

/*
 *
 *	MAIN TEXTAREA
 *
 */

%chatForm {
	margin-top: 0;
	background-color: var(--chat-color);

	&:before {
		display: none;
	}

	%channelTextArea {
		margin: 12px 0;
		background-color: transparent;
		border-radius: var(--main-textarea-radius);

		&%channelTextAreaDisabled {
			opacity: 0.8;
		}
	}

	%channelTextAreaScrollable {
		background-color: var(--main-textarea-color);
		border-radius: var(--main-textarea-radius);
		//border: 1px solid var(--main-textarea-border);
		opacity: 1;

		&%channelTextAreaReplyBarConnected {
			border-radius: 0 0 var(--main-textarea-radius) var(--main-textarea-radius);
		}
	}

	%channelTextAreaInner {
		padding-right: 10px;
	}

	%textAreaPlaceholder {
		color: var(--input-placeholder-color);
	}

	%textAreaEditor {
		color: var(--input-text-color);
	}

	%channelTextAreaAttachedBar {
		position: relative;
		background-color: var(--main-textarea-color);
		border-radius: var(--main-textarea-radius) var(--main-textarea-radius) 0 0;
		border-bottom: none;

		&:after {
			position: absolute;
			content: " ";
			width: calc(100% - 24px);
			height: 1px;
			left: 0;
			bottom: 0;
			margin: 0 12px;
			background-color: var(--main-textarea-border);
		}

		%replyBar {
			background-color: transparent;
			border-radius: 0;
		}

		%replySeperator {
			background-color: var(--main-textarea-border);
		}

		%colorLink {
			color: hsl(var(--accent-hsl));
		}

		+ %channelTextAreaScrollable {
			border-radius: 0 0 var(--main-textarea-radius) var(--main-textarea-radius);
		}
	}

	%channelTextAreaAttachButtonPlus {
		d: path('M7.5,18A5.5,5.5 0 0,1 2,12.5A5.5,5.5 0 0,1 7.5,7H18A4,4 0 0,1 22,11A4,4 0 0,1 18,15H9.5A2.5,2.5 0 0,1 7,12.5A2.5,2.5 0 0,1 9.5,10H17V11.5H9.5A1,1 0 0,0 8.5,12.5A1,1 0 0,0 9.5,13.5H18A2.5,2.5 0 0,0 20.5,11A2.5,2.5 0 0,0 18,8.5H7.5A4,4 0 0,0 3.5,12.5A4,4 0 0,0 7.5,16.5H17V18H7.5Z');
	}

	%channelTextAreaTyping {
		position: absolute;
		width: calc(100% - var(--scrollbar-width));
		top: -16px;
		left: 0;
		margin-top: 0;
		background-color: var(--typing-color);
		transition: 200ms ease-in-out;

		%channelTextAreaSlowModeIcon {
			margin-right: 8px;
		}
	}
}

%replyMentionButton {
	--text-link: hsl(var(--accent-hsl));
}

%replySuggestion {
	position: relative;
	background-color: transparent;
	border: none;

	&:before {
		position: absolute;
		content: " ";
		width: calc(100% - 24px);
		height: 1px;
		top: 0;
		left: 0;
		margin: 0 12px;
		background-color: var(--main-textarea-border);
	}

	%replySuggestionCreateThreadButton {
		color: hsl(var(--accent-hsl)) !important;
	}
}

%channelTextAreaSendButton {
	margin-right: 8px;

	%buttonContents {
		margin-left: 8px;
	}

	%channelTextAreaSendButtonActive {
		color: hsl(var(--accent-hsl)) !important;
	}

	%channelTextAreaSendButtonIcon {
		padding-top: 0;

		path {
			d: path('M4.01 6.03l7.51 3.22-7.52-1 .01-2.22m7.5 8.72L4 17.97v-2.22l7.51-1M2.01 3L2 10l15 2-15 2 .01 7L23 12 2.01 3z');
			transform: scale(0.725);
		}
	}
}

%applicationCommandEducation {
	top: -12px;
	bottom: unset;
	background-color: var(--typing-color);

	%applicationCommandEducationArrow {
		transform: rotate(180deg) scaleX(-100%);
	}
}

%channelInfo {
	height: 44px;
	margin: 12px 0;
	padding: 0;
	background-color: var(--main-textarea-color);
	border-radius: var(--main-textarea-radius);

	%channelInfoButtonContainer {
		margin-right: 4px;
	}
}

%fakeLink {
	color: hsl(var(--accent-hsl));
}

%channelTextAreaUpload {
	@include card-format(false, 8px, true);

	%channelTextAreaUploadImage {
		border-radius: var(--card-radius-big);
	}

	%messageButtonWrapper {
		&:hover {
			box-shadow: var(--shadow-3dp);
		}
	}

	%channelTextAreaUploadAltTag {
		border-radius: 10px;
	}
}

%channelTextAreaUploadSpoiler {
	filter: blur(22px);
}

/* MAIN TEXTAREA -> SPAM FILTER */

%timeoutBar {
	display: grid;
	grid-template-columns: 1fr auto;
	margin: 12px 16px;
	padding: 4px 8px;
	background-color: var(--main-textarea-color);
	border: 1px solid var(--main-textarea-border);
	border-radius: 28px;

	%timeoutBarTextContainer {
		margin: 0 8px 0 0;
	}

	%timeoutBarActionButtons {
		width: auto;
		margin: 0;
	}
}
