@use '../selectorPlaceholders' as *;
@use '../mixins' as *;

/*
 *
 *	MAIN TEXTAREA
 *
 */

#{ $chatForm } {
	margin-top: 0 !important;
	padding: 0;

	&:before,
	&:after {
		display: none;
	}

	#{ $channelTextArea } {
		margin: 12px 0;
		background-color: var(--main-textarea-color);
		border-radius: var(--main-textarea-radius);
		border: none;
		box-shadow: none;

		&#{ $channelTextAreaDisabled } {
			opacity: 0.8;

			#{ $channelTextAreaScrollable } {
				margin-right: var(--main-textarea-inner-padding);
				scrollbar-width: none;
			}

			#{ $channelTextAreaInner } {
				padding-left: 0;
				padding-right: 0;
			}

			#{ $slateTextArea } {
				margin-left: var(--space-16);
			}

			#{ $textAreaSlate } {
				width: calc(100% + var(--scrollbar-width));
				height: var(--custom-channel-textarea-text-area-height) !important;
				margin-right: 0;
			}

			#{ $textAreaPlaceholder } {
				line-height: var(--custom-channel-textarea-text-area-height);
				padding: 0;
			}
		}
	}

	#{ $channelTextAreaScrollable } {
		min-height: calc(var(--main-textarea-height) - (var(--main-textarea-inner-padding) * 2));
		margin: var(--main-textarea-inner-padding) 0 var(--main-textarea-inner-padding) var(--main-textarea-inner-padding);
		background-color: var(--main-textarea-color);
		border-radius: calc(var(--main-textarea-radius) - var(--main-textarea-inner-padding));
		opacity: 1;


		&#{ $channelTextAreaHasStackedBar } {
			border-radius: 0 0 var(--main-textarea-radius) calc(var(--main-textarea-radius) / 2);
		}
	}

	#{ $textAreaSlate } {
		min-height: calc(var(--main-textarea-height) - (var(--main-textarea-inner-padding) * 2));
		margin-left: calc(var(--main-textarea-inner-padding) * 2);
		margin-right: var(--main-textarea-inner-padding);
		background-color: var(--main-textarea-inner-color);
		border-radius: calc(var(--main-textarea-radius) - var(--main-textarea-inner-padding));
	}

	#{ $slateTextArea } {
		min-height: calc(var(--main-textarea-height) - (var(--main-textarea-inner-padding) * 2));
		margin-left: var(--main-textarea-height);
		padding: calc(((var(--main-textarea-height) - (var(--main-textarea-inner-padding) * 2)) - var(--chat-markup-line-height)) / 2) var(--space-16) calc(((var(--main-textarea-height) - (var(--main-textarea-inner-padding) * 2)) - var(--chat-markup-line-height)) / 2) 0;
	}

	#{ $textAreaDisabled } {
        #{ $textAreaPlaceholder } {
            padding-left: 16px;
        }
    }

	#{ $channelTextAreaInner } {
		padding-left: var(--main-textarea-inner-padding);
		padding-right: calc(var(--main-textarea-inner-padding));
		overflow: hidden;
	}

	#{ $textAreaEditor } {
		color: var(--interactive-text-default);
	}

	#{ $channelTextAreaAttachedBar } {
		position: relative;
		background-color: var(--main-textarea-color);
		border-radius: var(--main-textarea-radius) var(--main-textarea-radius) 0 0;
		border-bottom: none;

		&:after {
			position: absolute;
			content: " ";
			width: calc(100% - 24px);
			height: 1px;
			left: 0;
			bottom: 0;
			margin: 0 12px;
			background-color: var(--main-textarea-border);
		}

		#{ $replyBar } {
			background-color: transparent;
			border-radius: 0;
		}

		#{ $replySeperator } {
			background-color: var(--main-textarea-border);
		}

		#{ $colorLink } {
			color: hsl(var(--accent-hsl));
		}

		+ #{ $channelTextAreaScrollable } {
			border-radius: 0 0 var(--main-textarea-radius) var(--main-textarea-radius);
		}
	}

	#{ $channelTextAreaAttachWrapper } {
		width: calc(var(--main-textarea-height) - var(--main-textarea-inner-padding) * 2);
		height: calc(var(--main-textarea-height) - var(--main-textarea-inner-padding) * 2);
		margin-right: calc((var(--main-textarea-height) + var(--main-textarea-inner-padding)) * -1);
		padding: 0;
		z-index: 2;
	}

	#{ $channelTextAreaAttachButton } {
		width: inherit;
		height: inherit;
		margin: 0;
		padding: 0;
	}

	#{ $channelTextAreaAttachButtonInner } {
		display: flex;
		width: inherit;
		height: inherit;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
	}

	#{ $channelTextAreaAttachButtonPlus } {
		d: path("M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Zm40 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z");
        transform: translate(-12px, 12px) scale(0.025);
	}

	#{ $channelTextAreaCommandIconWrapper } {
		margin-left: 0;
		margin-right: calc((32px + var(--main-textarea-inner-padding)) * -1);
		z-index: 2;
	}

	#{ $channelTextAreaCommandIcon } {
		display: flex;
		width: 32px;
		height: var(--custom-channel-textarea-text-area-height);
		padding: 0;
		align-items: center;
		justify-content: center;
	}

	#{ $channelTextAreaTyping } {
		position: absolute;
		width: calc(100% - (var(--scrollbar-width) + var(--space-32)));
		top: -16px;
		left: 0;
		margin-top: 0;
		padding: 0 var(--space-16);
		background-color: var(--typing-color);
		transition: 200ms ease-in-out;

		#{ $channelTextAreaSlowModeIcon } {
			margin-right: 8px;
		}
	}
}

#{ $textAreaPlaceholder } {
	color: var(--text-muted);
}

#{ $channelTextAreaFloatingBars } {
    &:empty {
        + #{ $channelTextAreaStackedBars }:nth-child(2) {
            border-top-left-radius: var(--main-textarea-radius);
            border-top-right-radius: var(--main-textarea-radius);
        }
    }
}

#{ $channelTextAreaStackedBars } {
	position: relative;
    background-color: var(--main-textarea-color);
    border-radius: var(--main-textarea-radius) var(--main-textarea-radius) 0 0;

	&:after {
		position: absolute;
		content: " ";
		width: calc(100% - 24px);
		height: 1px;
		left: 0;
		bottom: 0;
		margin: 0 12px;
		background-color: var(--separator-color);
	}

	&:first-child {
		border-radius: var(--main-textarea-radius) var(--main-textarea-radius) 0 0;
	}

	&:not(:last-child) {
		border-bottom: none;
	}

    #{ $replyBar } {
        background: transparent;
    }
}

#{ $channelAccessoryBar } {
	margin: 0 12px;
	padding: 0 4px;
	border-color: var(--separator-color);
}

#{ $channelAttachmentArea } {
	padding: 12px;
	background-color: transparent;
}

#{ $replyMentionButton } {
	--text-link: hsl(var(--reply-hsl));
}

#{ $replySuggestion } {
	position: relative;
	background-color: transparent;
	border: none;

	&:before {
		position: absolute;
		content: " ";
		width: calc(100% - 24px);
		height: 1px;
		top: 0;
		left: 0;
		margin: 0 12px;
		background-color: var(--main-textarea-border);
	}

	#{ $replySuggestionCreateThreadButton } {
		color: hsl(var(--accent-hsl)) !important;
	}
}

#{ $channelTextAreaSendButton } {
	#{ $channelTextAreaSendButtonActive } {
		color: hsl(var(--accent-hsl--material-you)) !important;
	}

	#{ $channelTextAreaSendButtonIcon } {
		padding-top: 0;

		path {
			d: path("M4.01 6.03l7.51 3.22-7.52-1 .01-2.22m7.5 8.72L4 17.97v-2.22l7.51-1M2.01 3L2 10l15 2-15 2 .01 7L23 12 2.01 3z");
		}
	}
}

#{ $applicationCommandEducation } {
	top: -12px;
	bottom: unset;
	background-color: var(--typing-color);

	#{ $applicationCommandEducationArrow } {
		transform: rotate(180deg) scaleX(-100%);
	}
}

#{ $channelInfo } {
	height: var(--main-textarea-height);
	margin: 12px 16px;
	padding: 0;
	background-color: var(--main-textarea-color);
	border-radius: var(--main-textarea-radius);
	border: none;

	#{ $channelInfoButtonContainer } {
		margin-right: 4px;
	}
}

#{ $fakeLink } {
	color: hsl(var(--accent-hsl));
}

#{ $channelTextAreaUpload } {
	@include card-format(false, 8px, true);
	box-shadow: none;

	#{ $channelTextAreaUploadImage } {
		border-radius: var(--card-radius-big);
	}

	#{ $messageButtonWrapper } {
		background-color: var(--popout-color);
        box-shadow: var(--shadow-medium) !important;

		&:hover {
			box-shadow: var(--shadow-medium);
		}
	}

	#{ $channelTextAreaUploadAltTag } {
		border-radius: 10px;
	}
}

#{ $channelTextAreaUploadSpoiler } {
	filter: blur(22px);
}

#{ $channelBottomBarArea } {
	margin: 0;
	padding: 0 var(--space-16);
	gap: 12px;

	+ span + #{ $channelTextAreaTyping },
	+ #{ $channelTextAreaTyping } {
		position: absolute;
		width: calc(100% - (var(--scrollbar-width) + (var(--space-16) * 3)));
		left: unset;
		right: var(--space-16);
		background-color: var(--typing-color);
	}
}

#{ $messagesErrorBar } {
	background-color: hsl(var(--alert-hsl));
	border-radius: 22px;
	border: none;
	color: var(--alert-text-color);
	box-shadow: var(--shadow-medium);
}

/* MAIN TEXTAREA -> APPS AND COMMANDS BUTTON */

#{ $channelAppLauncher } {
	width: var(--space-32);
	height: auto;
	margin: 0;
	padding: 0;

    #{ $channelAppLauncherButton } {
        background-color: transparent;
        border-radius: 50%;
        transition: var(--default-time) var(--default-animation) background;

		&:hover {
			background-color: transparent;
		}
    }
}

/* MAIN TEXTAREA -> BOT COMMANDS */

#{ $channelEntryPointButtonContainer } {
	margin: auto;
}

#{ $channelEntryPointAppButtonContainer } {
    --button-height: var(--main-textarea-height);
	--button-padding: 0;
    --button-radius: calc(var(--button-height) / 2);

	margin-left: 0;
}

/* MAIN TEXTAREA -> INVITE TO GAME */

#{ $activityInviteEducation } {
    top: -14px;
	padding-left: calc(22px + var(--main-textarea-inner-padding));
    overflow: visible;

    #{ $activityInviteEducationArrow } {
        transform: rotateX(180deg) translateY(-2px);
    }

    span {
        padding: 2px 8px;
        background-color: var(--popout-color);
        border-radius: 12px;
        box-shadow: var(--shadow-medium);
    }
}

/* MAIN TEXTAREA -> SPAM FILTER */

#{ $timeoutBar } {
	display: grid;
	grid-template-columns: 1fr auto;
	margin: 12px 16px;
	padding: 4px 8px;
	background-color: var(--main-textarea-color);
	border: 1px solid var(--main-textarea-border);
	border-radius: 28px;

	#{ $timeoutBarTextContainer } {
		margin: 0 8px 0 0;
	}

	#{ $timeoutBarActionButtons } {
		width: auto;
		margin: 0;
	}
}

/* MAIN TEXTAREA -> INTRODUCTION */

#{ $chatIntroductionBanner } {
    margin-top: 12px;
    padding: 12px 16px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);

    #{ $textMdSemibold } {
        font-weight: 500;
    }

    #{ $iconCircle } {
        width: var(--button-height);
        height: var(--button-height);
        background-color: hsl(var(--accent-hsl--material-you));
        border-radius: var(--button-radius);

        #{ $nextIcon } {
            width: 20px;
            height: 20px;

			polygon {
				fill: var(--accent-text-color--material-you);
			}
        }
    }
}

/* MAIN TEXTAREA -> BUTTONS */

#{ $channelTextAreaButton },
#{ $channelAppLauncherButton },
#{ $spriteGreyscale } {
	--interactive-text-default: var(--main-textarea-button-color);
	--interactive-hover: var(--main-textarea-button-color);
	--interactive-active: var(--main-textarea-button-color);
}

#{ $channelTextAreaButton },
#{ $channelAppLauncherButton } {
	display: flex;
	min-height: calc(var(--custom-channel-textarea-text-area-height) - 6px);
	justify-content: center;
	align-items: center;
}

/* MAIN TEXTAREA -> BUTTON RIPPLE */

#{ $channelTextAreaButtonInner },
#{ $channelTextAreaEmojiButton },
#{ $channelAppLauncher } {
    @include md-ripple(hover, before, 1.0);
}

#{ $channelTextAreaButtonInner } {
    &#{ $channelTextAreaAttachButton } {
        &:hover {
			&:before {
				transform: scale(0.8);
			}
		}
    }
}

#{ $channelTextAreaButtonInner }:not(#{ $channelTextAreaButtonInnerNoHover }),
#{ $channelTextAreaAttachButtonInner },
#{ $channelTextAreaEmojiButton },
#{ $channelAppLauncherButtonContainer } {
    &:hover {
        background-color: transparent;
    }
}

#{ $channelTextAreaButtonsContainer } {
	gap: var(--space-4);
	align-items: center;
	justify-content: center;

    #{ $channelTextAreaButtonInner },
    #{ $channelTextAreaEmojiButton },
    #{ $channelAppLauncher } {
		height: calc(var(--custom-channel-textarea-text-area-height) - 6px);
        min-width: calc(var(--custom-channel-textarea-text-area-height) - 6px);
    }
}
