/*
 *
 *  THREAD
 *
 */

%threadResizeHandle {
	background: var(--main-alt);
}

%threadContainer {
	background-color: var(--chat-color);
	border-radius: var(--card-radius-big) 0 0 var(--card-radius-big);
}

%threadHeaderBar {
	background-color: var(--chat-color);
	border-bottom: 1px solid var(--card-border-color);
}

%threadScrollerInner {
	margin-bottom: 16px;

	%messagesWrapper {
		&%messageCozy {
			&:not(%message) {
				%avatarLarge {
					left: -52px;
				}
			}
		}
	}
}

%threadChannelTextArea {
	background-color: transparent;
}

%threadChannelTextAreaInner {
	max-height: 200px;
	background-color: var(--main-textarea-color);
	border-radius: var(--main-textarea-radius);
	border: 1px solid var(--main-textarea-border);
}
