/*
 *
 *  THREAD
 *
 */

%threadResizeHandle {
	background: var(--main-alt);
}

%threadContainer {
	background-color: var(--chat-color);
	border-radius: var(--card-radius-big) var(--card-radius-big) 0;

	&%threadContainerFloating {
		filter: drop-shadow(-8px 0 10px hsl(var(--black-500-hsl) / 0.125));
	}
}

%threadHeaderBar {
	background-color: var(--chat-color);
	border-bottom: 1px solid var(--card-border-color);
}

%threadScrollerInner {
	margin-bottom: 16px;

	%messagesWrapper {
		&%messageCozy {
			&:not(%message) {
				%avatarLarge {
					left: -52px;
				}
			}
		}
	}
}

%threadChannelTextArea {
	margin: 0 16px 12px;
	background-color: transparent;

	%textAreaPlaceholder {
		color: var(--input-placeholder-color);
	}
}

%threadChannelTextAreaInner {
	max-height: 200px;
	background-color: var(--main-textarea-color);
	border-radius: var(--main-textarea-radius);

	%channelTextAreaInner {
		padding-left: 16px;
	}

	%channelTextAreaButtonsContainer {
		margin-right: 0;
	}
}
