@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS AUTHORIZED APPS
 *
 */

%formNotice {
    padding: 0;

    %formNoticeTitle {
        @include card-format--header;
    }

    %formNoticeBody {
        @include card-format--body;
    }
}

%authedApp {
    margin-bottom: 16px;
    padding: 0;

    %marginBottom20 {
        @include card-format--header;
    }

    div:not([class]) {
        padding: 16px 16px 0;
    }

    %marginTop20 {
        margin-top: 0;
        padding: 16px;
    }
}
