/*
 *
 *  DIRECT MESSAGES
 *
 */

%dmChat {
    background-color: var(--app-foreground);
    border-radius: 0 0 var(--app-card-radius) var(--app-card-radius);
}

%mobileButtons {
    --button-padding: 0 12px;
}

%timeoutBar {
    background-color: var(--main-textarea-color);
    border-radius: var(--main-textarea-radius);
}

%callWrapper {
    z-index: 102;

    &%callMinimum {
        background-color: var(--header-bar-color);
        border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
    }
}

%incomingCallWrapper {
    z-index: 103;
}
