/*
 *
 *  MEMBERS LIST
 *
 */

%membersContainer {
    background-color: transparent;
    border-left: 1px solid var(--app-card-border-color);
}

%membersWrap {
    border-bottom-right-radius: var(--app-card-radius);
    overflow: hidden;
}

%members {
    &,
    & > div {
        background-color: transparent;
    }

    %memberChildContainer {
	    height: 100%;
		padding: 0;
		background-color: transparent !important;
	}

    %listItem {
        width: 100%;

        &,
		%listItemLayout {
			border-radius: var(--menu-item-radius);
		}

        %listItemLayout {
			width: 100%;
		}

        &:hover {
            %listItemLayout {
                background-color: var(--background-tinted-hover);
            }
        }

        &%listItemSelected {
            %listItemLayout {
                background-color: var(--background-tinted-active);
            }

            &:hover {
                %listItemLayout {
                    background-color: var(--background-tinted-highlight);
                }
            }
        }
    }
}

%member {
	background: transparent !important;

	&:hover {
		%memberChildContainer {
			background-color: transparent;
		}
	}
}

/* MEMBERS LIST -> ACTIVITIES */

%memberActivityContainer {
    background-color: var(--background-tinted-hover);
    border-radius: var(--menu-item-radius);

    &:hover {
        background-color: var(--background-tinted-active);
    }
}
