/*
 *
 *  MEMBERS LIST
 *
 */

%membersContainer {
    background-color: transparent;
    border-left: 1px solid var(--app-card-border-color);
}

%membersWrap {
    border-bottom-right-radius: var(--app-card-radius);
    overflow: hidden;
}

%members {
    &,
    & > div {
        background-color: transparent;
    }
}

%member {
    background-color: transparent;

    %listItemLayout {
        border-radius: var(--menu-item-radius);
    }

    &:hover {
        %listItemLayout {
            background-color: var(--background-tinted-hover);
        }
    }

    &%listItemSelected {
        %listItemLayout {
            background-color: var(--background-tinted-active);
        }

        &:hover {
            %listItemLayout {
                background-color: var(--background-tinted-highlight);
            }
        }
    }
}
