/*
 *
 *  SEARCH RESULTS
 *
 */

%searchResultsWrap {
    background-color: transparent;
    border-left: 1px solid var(--card-color-hover);
}

%searchHeader {
    background-color: transparent;
}

%searchResult {
    background-color: var(--message-color-hover);
}

%pageControl {
    height: 40px;
    gap: 8px;

    %pageButton {
        margin: 0;

        &:hover {
            background-color: var(--background-tinted-hover);
        }

        &%pageButtonActive {
            background-color: hsl(var(--accent-hsl));
            color: var(--accent-text-color);
        }
    }

    %pageEndButton {
        margin: 0;
        border-radius: 16px;

        &[disabled] {
            &:hover {
                background-color: transparent;
            }
        }
    }
}
