@use "../classes" as *;

/*
 *
 *  THREAD
 *
 */

#{ $newThreadContainer } {
  background: var(--app-foreground);
  border-radius: var(--app-card-radius);
}

#{ $threadChat } {
  &:before {
    display: none;
  }
}
