/*
 *
 *  VOICE CHAT
 *
 */

%callContainer {
    width: 0;
}

%callWrapper {
    &:not(%callWrapperFullScreen) {
        %callContainer {
            //overflow: visible;
        }

        %callRoot%callIdle {
            %callBottomControls {
                //transform: translate3d(0,calc(var(--app-bar-size) + 8px),0);
            }
        }

        %callBottomControls {
            //transform: translate3d(0,var(--app-bar-size),0);
        }
    }

    &%callMinimum {
        %callRoot%callIdle {
            %callBottomControls {
                //transform: none;
            }
        }

        %callBottomControls {
            //transform: none !important;
        }
    }

    &%callWrapperNoChat {
        %callContainer {
            height: calc(100% + var(--app-bar-size));
        }
    }
}

%callButtonColorable {
    &%callButtonPrimaryDark {
        background-color: var(--background-tinted-active);

        &:hover {
            background-color: var(--background-tinted-highlight);
        }
    }

    &%callButtonRed {
        background-color: hsl(var(--alert-hsl));
        color: var(--alert-text-color);
    }
}

%callActionBarButton {
    height: 36px;
}

/* VOICE CHAT -> TILES */

%callTile {
    background-color: var(--card-color);
    border-radius: var(--card-radius);

    &%callTileRoot {
        background-color: var(--card-color);
    }
}

%callTileVideoWrapper {
    background-color: var(--card-color);
}
