:root {
  --message-radius: 5px;
  --main-textarea-height: 70px;
  --main-textarea-padding: 24px;
  --main-textarea-radius: 0;
}

.theme-dark {
  --main-textarea-color: #272a2e;
  --sidebar-panel-color: #111114;
  --status-picker-color: #181a1d;
  --channel-panel-border-color: #252525;
}

.theme-light {
  --main-textarea-color: #eee;
  --sidebar-panel-color: #ebeced;
  --status-picker-color: #ddd;
  --channel-panel-border-color: #ccc;
}

/*
 *
 *	MESSAGES
 *
 */
.wrapper-30-Nkg.cozy-VmLDNB.groupStart-3Mlgv1:before, .wrapper-30-Nkg.cozy-VmLDNB.groupStart-3Mlgv1:after {
  position: absolute;
  content: " ";
  pointer-events: none;
}
.wrapper-30-Nkg.cozy-VmLDNB.groupStart-3Mlgv1:before {
  width: 0;
  height: 0;
  top: 0;
  left: -6px;
  right: auto;
  margin: -6px 0 0 0;
  background-color: transparent;
  border: 6px solid transparent;
  border-color: transparent;
  border-right-color: var(--message-color);
  transform: rotate(135deg);
  transition: var(--default-time) var(--default-animation) border-right-color;
}
.wrapper-30-Nkg.cozy-VmLDNB.groupStart-3Mlgv1:after {
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  background-color: var(--message-color);
  transition: var(--default-time) var(--default-animation) background-color;
}
.wrapper-30-Nkg.cozy-VmLDNB.groupStart-3Mlgv1:hover:before {
  border-right-color: var(--message-color-hover);
}
.wrapper-30-Nkg.cozy-VmLDNB.groupStart-3Mlgv1:hover:after {
  background-color: var(--message-color-hover);
}
.wrapper-30-Nkg.cozy-VmLDNB.groupStart-3Mlgv1.mentioned-Tre-dv:before {
  display: block;
}
.wrapper-30-Nkg.cozy-VmLDNB.groupStart-3Mlgv1.systemMessage-1H1Z20:before, .wrapper-30-Nkg.cozy-VmLDNB.groupStart-3Mlgv1.systemMessage-1H1Z20:after {
  display: none;
}
.wrapper-30-Nkg .channelTextArea-1VQBuV .scrollableContainer-15eg7h {
  border-radius: var(--message-radius);
}

/*
 *
 *	CHAT BOX
 *
 */
.form-3gdLxP {
  padding-left: 0;
  padding-right: 0;
}
.form-3gdLxP .typing-2J1mQU {
  top: calc(var(--main-textarea-padding) * -1);
}
.form-3gdLxP .inner-NQg18Y {
  padding-right: 0;
}
.form-3gdLxP .channelTextArea-1FufC0 {
  margin-top: 0;
  margin-bottom: 0;
}
.form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h {
  min-height: var(--main-textarea-height);
  background-color: var(--main-textarea-color);
  border-radius: 0;
  border: none;
}
.form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h.hasReply-16cIUP {
  border-radius: 0;
}
.form-3gdLxP .channelTextArea-1FufC0 .placeholder-1rCBhr,
.form-3gdLxP .channelTextArea-1FufC0 .markup-eYLPri {
  padding: var(--main-textarea-padding) 0;
}
.form-3gdLxP .channelTextArea-1FufC0 .buttons-uaqb-5 {
  height: var(--main-textarea-height);
}
.form-3gdLxP .channelTextArea-1FufC0 .buttonContainer-2lnNiN {
  height: var(--main-textarea-height);
}
.form-3gdLxP .channelTextArea-1FufC0 .buttonContainer-2lnNiN:last-of-type {
  margin-right: 12px;
}
.form-3gdLxP .channelTextArea-1FufC0 .button-ejjZWC {
  height: var(--main-textarea-height);
  max-height: var(--main-textarea-height);
}
.form-3gdLxP .channelTextArea-1FufC0 .attachedBars-2BCP3l {
  border: none;
}
.form-3gdLxP .channelTextArea-1FufC0 .attachButton-_ACFSu {
  padding: 0 16px;
}
.form-3gdLxP .channelTextArea-1FufC0 .container-A2jo65 {
  background-color: var(--main-textarea-color);
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--main-textarea-border);
}

.wrapper-30-Nkg.groupStart-3Mlgv1.replying-eZ7p5z:before {
  display: unset;
}

.wrapper-2SplAX {
  height: var(--main-textarea-height);
  margin: 0;
  border: none;
}
.wrapper-2SplAX .buttonContainer-KMz3Ex {
  margin-right: 8px;
}

/*
 *
 *	STATUS PICKER
 *
 */
.container-1NXEtd:after {
  display: none;
}

.panels-3wFtMD {
  margin: 0;
  border-radius: 0;
}

.container-6sXIoE,
.container-1zzFcN,
.activityPanel-9icbyU,
.listeningAlong-6YvYsc {
  margin-bottom: 0;
  border-radius: 0;
}

.container-6sXIoE.maximized-vv2Wr0 .coverWrapper-YAplwJ {
  border-radius: 0;
}
.container-6sXIoE + .activityPanel-9icbyU,
.container-6sXIoE + .wrapper-3Hk9OB:not(:empty) {
  border-top: 1px solid var(--channel-panel-border-color);
}

.activityPanel-9icbyU + .wrapper-3Hk9OB:not(:empty) {
  border-top: 1px solid var(--channel-panel-border-color);
}

.container-YkUktl {
  height: var(--main-textarea-height);
  border-radius: 0;
}
