:root {
  --message-radius: 5px;
  --main-textarea-height: 70px;
  --main-textarea-padding: 24px;
  --main-textarea-radius: 0;
}

.theme-dark {
  --main-textarea-color: #272a2e;
  --sidebar-panel-color: #111114;
  --status-picker-color: #181a1d;
  --channel-panel-border-color: #252525;
}

.theme-light {
  --main-textarea-color: #eee;
  --sidebar-panel-color: #ebeced;
  --status-picker-color: #ddd;
  --channel-panel-border-color: #ccc;
}

/*
 *
 *	MESSAGES
 *
 */
.wrapper_a62503.cozy_f5c119.groupStart__7b93c:before, .wrapper_a62503.cozy_f5c119.groupStart__7b93c:after {
  position: absolute;
  content: " ";
  pointer-events: none;
}
.wrapper_a62503.cozy_f5c119.groupStart__7b93c:before {
  width: 0;
  height: 0;
  top: 0;
  left: -6px;
  right: auto;
  margin: -6px 0 0 0;
  background-color: transparent;
  border: 6px solid transparent;
  border-color: transparent;
  border-right-color: var(--message-color);
  transform: rotate(135deg);
  transition: var(--default-time) var(--default-animation) border-right-color;
}
.wrapper_a62503.cozy_f5c119.groupStart__7b93c:after {
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  background-color: var(--message-color);
  transition: var(--default-time) var(--default-animation) background-color;
}
.wrapper_a62503.cozy_f5c119.groupStart__7b93c:hover:before {
  border-right-color: var(--message-color-hover);
}
.wrapper_a62503.cozy_f5c119.groupStart__7b93c:hover:after {
  background-color: var(--message-color-hover);
}
.wrapper_a62503.cozy_f5c119.groupStart__7b93c.mentioned_fa6fd2:before {
  display: block;
}
.wrapper_a62503.cozy_f5c119.groupStart__7b93c.systemMessage-1H1Z20:before, .wrapper_a62503.cozy_f5c119.groupStart__7b93c.systemMessage-1H1Z20:after {
  display: none;
}
.wrapper_a62503 .channelTextArea__648e5 .scrollableContainer_ff917f {
  border-radius: var(--message-radius);
}

/*
 *
 *	CHAT BOX
 *
 */
.form_d8a4a1 {
  padding-left: 0;
  padding-right: 0;
}
.form_d8a4a1 .typing__6fd1d {
  top: calc(var(--main-textarea-padding) * -1);
}
.form_d8a4a1 .inner__9fd0b {
  padding-right: 0;
}
.form_d8a4a1 .channelTextArea__648e5 {
  margin-top: 0;
  margin-bottom: 0;
}
.form_d8a4a1 .channelTextArea__648e5 .scrollableContainer_ff917f {
  min-height: var(--main-textarea-height);
  background-color: var(--main-textarea-color);
  border-radius: 0;
  border: none;
}
.form_d8a4a1 .channelTextArea__648e5 .scrollableContainer_ff917f.hasReply-16cIUP {
  border-radius: 0;
}
.form_d8a4a1 .channelTextArea__648e5 .placeholder_dec8c7,
.form_d8a4a1 .channelTextArea__648e5 .markup_a7e664 {
  padding: var(--main-textarea-padding) 0;
}
.form_d8a4a1 .channelTextArea__648e5 .buttons-uaqb-5 {
  height: var(--main-textarea-height);
}
.form_d8a4a1 .channelTextArea__648e5 .buttonContainer_ff1010 {
  height: var(--main-textarea-height);
}
.form_d8a4a1 .channelTextArea__648e5 .buttonContainer_ff1010:last-of-type {
  margin-right: 12px;
}
.form_d8a4a1 .channelTextArea__648e5 .button__581d0 {
  height: var(--main-textarea-height);
  max-height: var(--main-textarea-height);
}
.form_d8a4a1 .channelTextArea__648e5 .attachedBars_c1606a {
  border: none;
}
.form_d8a4a1 .channelTextArea__648e5 .attachButton__56f98 {
  padding: 0 16px;
}
.form_d8a4a1 .channelTextArea__648e5 .container-A2jo65 {
  background-color: var(--main-textarea-color);
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--main-textarea-border);
}

.wrapper_a62503.groupStart__7b93c.replying__38514:before {
  display: unset;
}

.wrapper-2SplAX {
  height: var(--main-textarea-height);
  margin: 0;
  border: none;
}
.wrapper-2SplAX .buttonContainer-KMz3Ex {
  margin-right: 8px;
}

/*
 *
 *	STATUS PICKER
 *
 */
.container__7e23c:after {
  display: none;
}

.panels__58331 {
  margin: 0;
  border-radius: 0;
}

.container_6sXIoE,
.container_e1958d,
.activityPanel_b73e7a,
.listeningAlong_a3b241 {
  margin-bottom: 0;
  border-radius: 0;
}

.container_6sXIoE.maximized_vv2Wr0 .coverWrapper_YAplwJ {
  border-radius: 0;
}
.container_6sXIoE + .activityPanel_b73e7a,
.container_6sXIoE + .wrapper_e832ee:not(:empty) {
  border-top: 1px solid var(--channel-panel-border-color);
}

.activityPanel_b73e7a + .wrapper_e832ee:not(:empty) {
  border-top: 1px solid var(--channel-panel-border-color);
}

.container_debb33 {
  height: var(--main-textarea-height) !important;
  border-radius: 0;
}

#vc-spotify-player {
  margin-bottom: 0;
  border-radius: 0;
}
