/*
 *
 *	ANIMATIONS
 *
 */

@keyframes top-pop-out {
	from { transform: translate(0, -20px); opacity: 0; }
}

@keyframes bottom-pop-out {
	from { transform: translate(0, 20px); opacity: 0; }
}

@keyframes show-user-status-right {
	from { transform: translateX(-3%) translateY(0%) translateZ(0px); opacity: 0; }
}

@keyframes show-user-status-left {
	from { transform: translateX(3%) translateY(0%) translateZ(0px); opacity: 0; }
}

@keyframes show-status {
	from { transform: translateY(15%) translateX(0%) translateZ(0px); }
}

@keyframes status {
	from { transform: scale(0); opacity: 0 }
}

@keyframes opacity {
	from { opacity: 0; }
}

@keyframes open-context-menu {
	from { transform: scale(1,0.5); }
}

@keyframes scale {
	from { transform: scale(0); }
}

@keyframes shadowPulse-AwLIHr {
	0% { box-shadow: 0 0 6px hsla(var(--accent-hsla),0.3); }
	50% { box-shadow: 0 0 10px hsla(var(--accent-hsl),0.6); }
	to { box-shadow: 0 0 6px hsla(var(--accent-hsl),0.3); }
}
