@mixin popout-format($important: false) {
	$imp: if($important, !important, null);

	background-color: var(--popout-color) $imp;
	border-radius: var(--popout-radius-big) $imp;
	border: none $imp;
	box-shadow: var(--shadow-medium) $imp;
}

@mixin card-format($important: false, $padding: 0, $filled: false, $hover: false, $shadow: false) {
	$imp: if($important, !important, null);

	@if $filled {
		background-color: var(--card-color-filled) $imp;
		border: none $imp;
	} @else {
		background-color: var(--card-color-outlined) $imp;
		border: 1px solid var(--card-border-color) $imp;
	}

	padding: $padding $imp;
	border-radius: var(--card-radius-big) $imp;

	@if $hover {
		$transition: var(--default-time) var(--default-animation) background-color;

		@if $shadow {
			$transition: $transition, var(--default-time) var(--default-animation) box-shadow;

			box-shadow: none $imp;
		}

		&:hover {
			background-color: var(--card-color-hover) $imp;

			@if $shadow {
				box-shadow: var(--shadow-soft) $imp;
			}
		}

		transition: $transition $imp;
	} @else {
		box-shadow: none $imp;
	}
}

@mixin card-format--header($important: false, $filled: false) {
	$imp: if($important, !important, null);

	margin-block-end: 0;
	padding: 16px $imp;
	background-color: transparent $imp;
	font-size: 1.25em $imp;
	line-height: normal;
	color: var(--card-header-text-color) $imp;
	font-weight: 400 $imp;
	opacity: 1;

	@if $filled == false {
		border-bottom: 1px solid var(--card-border-color);
	} @else {
		border-bottom: none;
	}
}

@mixin card-format--header-fix {
	line-height: normal;
	font-size: inherit;
	color: var(--card-header-text-color);
	font-weight: 400;
}

@mixin card-format--body($filled: false) {
	@if $filled {
		padding: 0 16px 16px;
	} @else {
		padding: 16px;
	}
}

@mixin card-format--footer($padding: 8px) {
	padding: $padding;
	background-color: transparent;
	border-top: 1px solid var(--card-border-color);
}

@mixin card-format--list($margin: 16px) {
	position: relative;
	border-bottom: none;

	&:after {
		position: absolute;
		content: " ";
		width: calc(100% - (#{ $margin } * 2));
		height: 1px;inset-inline-end: 0;inset-block-end: 0;
		margin: 0 $margin;
		background-color: var(--card-border-color);
	}

	&:last-of-type {
		&:after {
			display: none;
		}
	}
}

@mixin card-option-select($radius-unselected: 34px, $filled: true, $selector: null, $text: null, $svg: null) {
	$transition: var(--default-time) var(--default-animation);

    background-color: var(--card-color-filled);
    border-radius: $radius-unselected;
    border: none;
    transition: $transition background-color, $transition box-shadow, $transition border-radius;

    @if $selector {
        &#{ $selector } {
            background-color: hsl(var(--accent-hsl--material-you));
            border-radius: var(--card-radius-big);
			border: none;

			@if $filled {
				box-shadow: none;
			} @else {
				box-shadow: 0 0 0 2px hsl(var(--accent-hsl--material-you)), inset 0 0 0 2px var(--popout-color);
			}

			@if $text {
				#{ $text } {
					color: var(--accent-text-color--material-you) !important;
				}
			}

			@if $svg {
				svg {
					color: var(--accent-text-color--material-you);
				}
			}
        }
    }

	$transition-targets: ();

	@if $text {
        $transition-targets: append($transition-targets, $text, comma);
    }

    @if svg {
        $transition-targets: append($transition-targets, 'svg', comma);
    }

	@if length($transition-targets) > 0 {
        #{ $transition-targets } {
            transition: $transition color;
        }
    }
}

@mixin pill-nav($important: false, $height, $pill-item, $selector, $hover: false) {
	$imp: if($important, !important, null);

    --nav-button-height: #{$height};
    --nav-button-big-radius: calc(var(--nav-button-height) / 2);
    --nav-button-small-radius: calc(var(--nav-button-height) / 5);

    padding: 0;
    background-color: transparent;
    border-radius: 0;
    gap: 2px;

    #{$pill-item} {
		display: flex;
		min-width: calc(var(--button-height) + var(--space-8));
		height: var(--nav-button-height);
		padding-block-start: 0;
		padding-block-end: 0;
        background-color: var(--accent-secondary-color) $imp;
        border-radius: var(--nav-button-small-radius);
        color: var(--accent-secondary-text-color);
		justify-content: center;
        transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) color, var(--default-time) var(--default-animation) border-radius;

        &:first-of-type {
            border-radius: var(--nav-button-big-radius) var(--nav-button-small-radius) var(--nav-button-small-radius) var(--nav-button-big-radius);
        }

        &:last-of-type {
            border-radius: var(--nav-button-small-radius) var(--nav-button-big-radius) var(--nav-button-big-radius) var(--nav-button-small-radius);
        }

		@if $hover {
			&:hover {
	            background-color: var(--card-button-color-hover) $imp;
	        }
		}

        &#{$selector} {
            background-color: hsl(var(--accent-hsl--material-you)) $imp;
            border-radius: var(--nav-button-big-radius);
			border: none;
            color: var(--accent-text-color--material-you);
        }
    }
}

@mixin input-format($important: false, $focus-within: false, $rounded: false, $height: var(--input-height), $max-height: var(--input-height)) {
	$imp: if($important, !important, null);
	$border-focused: inset 0 0 0 2px hsl(var(--accent-hsl--material-you));

	height: $height $imp;
	padding: 0 var(--input-padding) $imp;
	background-color: var(--input-color) $imp;
	border: none;

	@if $rounded {
		max-height: $max-height $imp;
		border-radius: calc(#{$height} / 2) $imp;
		box-shadow: none;

		&:focus-within {
			box-shadow: none;
		}
	} @else {
		min-height: $height $imp;
		border-radius: calc($max-height / 8) $imp;
	    box-shadow: inset 0 0 0 1px var(--input-border-color);
	    color: var(--input-text-color);
	    transition: var(--default-time) var(--default-animation) box-shadow;
		box-sizing: border-box;

		@if $focus-within {
			&:focus-within {
				box-shadow: $border-focused;
			}
		} @else {
			&:focus {
				box-shadow: $border-focused;
		    }
		}
	}
}

@mixin input-transform($important: false, $height: var(--input-height)) {
	$imp: if($important, !important, null);

	border-radius: calc(#{$height} / 2) $imp;
	border: none $imp;
	box-shadow: none $imp;

	&:focus-within {
		box-shadow: none $imp;
	}
}

@mixin tab-border($width) {
	position: relative;
	background-color: transparent !important;
	border: none;

	&:after {
		position: absolute;
		content: " ";
		width: #{$width};
		height: 3px;inset-inline-start: 0;inset-inline-end: 0;inset-block-end: 0;
		margin: 0 auto;
		background: var(--tab-border-color);
		border-radius: 3px;
		transition: var(--default-time) ease all;
	}
}

@mixin md-ripple($type, $pseudo, $scale, $colored: false) {
	@if $colored == true {
		--md-ripple-color: var(--accent-hsl);
	}

	position: relative;

	&:#{$pseudo} {
		content: " ";
		position: absolute;
		width: 100%;
		height: 100%;inset-block-start: 0;inset-inline-start: 0;
		background-color: hsl(var(--md-ripple-color),0.1);
		border-radius: 50%;
		opacity: 0;
		pointer-events: none;
		transform: scale(1.2);
		transition: 300ms ease;
		z-index: 4;
	}

	@if $type == hover {
		&:hover {
			&:#{$pseudo} {
				opacity: 1;
				transform: scale(#{$scale});
				animation: scale 150ms var(--default-animation), opacity 150ms ease;
			}
		}

		&:active {
			&:#{$pseudo} {
				background-color: hsl(var(--md-ripple-color),0.2);
			}
		}
	} @else if $type == click {
		&:active {
			&:#{$pseudo} {
				opacity: 1;
				transform: scale(#{$scale});
				animation: scale 150ms var(--default-animation), opacity 150ms ease;
			}
		}
	} @else if $type == hover_click {
		&:hover,
		&:active {
			&:#{$pseudo} {
				opacity: 1;
				transform: scale(#{$scale});
				animation: scale 150ms var(--default-animation), opacity 150ms ease;
			}
		}

		&:active {
			&:#{$pseudo} {
				background-color: hsl(var(--md-ripple-color),0.2);
			}
		}
	}
}

@mixin add-icon($color, $icon, $type: 'outline') {
	-webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/#{$type}/#{$icon}.svg);
	-webkit-mask-repeat: no-repeat;

	@if $color != null {
		background-color: #{$color};
	}
}

@mixin remove-caps($font-size, $important: false) {
	$imp: if($important, !important, null);

	font-size: #{$font-size} $imp;
	text-transform: none $imp;
}
