@use 'classes' as *;
@use 'mixins' as *;
@use 'config' as *;

// Replaces context menu icons that already exist in an icon container

%iconWithContainerBase {
    #{ $menuPopoutIconContainer } {
        @include addIconBase('before');

        &:before {
            -webkit-mask-image: url('#{ $iconBaseUrl }/settings.svg');
        }
    }

    #{ $menuPopoutIcon } {
        display: none;
    }
}

%iconWithLeftContainerBase {
    #{ $menuPopoutIconContainerLeft } {
        @include addIconBase('before');

        &:before {
            -webkit-mask-image: url('#{ $iconBaseUrl }/settings.svg');
        }

        svg[class*="icon"] {
            display: none;
        }
    }
}

// Adds icons to context menu options that do not natively have an icon

%iconWithoutContainerBase {
    flex-direction: row;
    @include addIconBase('before');

    &:before {
        -webkit-mask-image: url('#{ $iconBaseUrl }/settings.svg');
    }
}

// Replaces SVG icons that are typically in a button and are not in icon container

%iconWithSvgWithoutContainerBase {
    @include addIconBase('before', var(--icon-size, 24px));

    svg {
        display: none;
    }
}

// Replaces text shortcuts with an icon

%iconWithShortcutContainerBase {
    flex-direction: row;
    @include addIconBase('before');

    #{ $menuPopoutShortcutContainer } {
        display: none;
    }
}

// Changes the direction of the flex box

%iconReverseDirection {
    flex-direction: row;
}

// Emoji picker CATEGORIES

%categoryItemBase {
    border-radius: 50%;
    transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) border-radius;

    &:hover {
        background-color: var(--card-button-color);
    }
}

%categoryItemSelected {
    background-color: var(--card-button-color-hover);
    border-radius: calc(var(--emoji-radius) - 6px);
}

// Video player buttons

%playerVideoButton {
    position: relative;
    width: calc(var(--video-controls-button-size) * var(--video-controls-fullscreen-scale));
    height: calc(var(--video-controls-button-size) * var(--video-controls-fullscreen-scale));
    padding: var(--video-controls-button-padding);
    background-color: var(--video-controls-button-color);
    border-radius: calc((var(--video-controls-button-size) * var(--video-controls-fullscreen-scale)) / 2);
    box-sizing: border-box;
    cursor: pointer;

    &:after {
        position: absolute;
        content: " ";
        width: calc(100% - (var(--video-controls-button-padding) * 2));
        height: calc(100% - (var(--video-controls-button-padding) * 2));
        inset-block-start: var(--video-controls-button-padding);
        inset-inline-start: var(--video-controls-button-padding);
        border-radius: 50%;
        transition: var(--default-time) var(--default-animation) background-color;
        pointer-events: none;
    }

    &:hover {
        &:after {
            background-color: var(--video-controls-button-hover-color);
        }
    }

    /*#{ $playerControlIcon } {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: var(--default-time) var(--default-animation) background-color;
        box-sizing: border-box;
    }

    &:hover {
        #{ $playerControlIcon } {
            background-color: var(--video-controls-button-hover-color);
        }
    }*/
}
