@use 'sass:map';
@use '../classes' as *;

@use 'config' as *;
@use 'placeholders' as *;

/*
 *
 *  CHANNEL ICONS
 *
 */

#{ $menuPopout } {
    #{ $menuPopoutItem } {

        /* CHANNEL ICONS -> ADD ICONS TO OPTIONS WITHOUT DEFAULT ICONS */

        $icons: (
            'mark-channel-read':        'mark_chat_read',
            'invite-people':            'add_circle',
            'opt-in-favorite-channel':  'pin',
            'opt-into-channel':         'remove_circle',
            'channel-copy-link':        'content_copy',
            'mute-channel':             'volume_off',
            'unmute-channel':           'volume_up',
            'channel-notifications':    'notifications',
            'edit-channel':             'edit',
            'clone-channel':            'file_copy',
            'create-text-channel':      'hashtag',
            'delete-channel':           'delete',
            'invite-to-listen':         'spotify',
            'copy-channel-topic':       'content_copy'
        );

        @each $option, $icon in $icons {
            &#channel-context-#{ $option } {
                @extend %iconWithoutContainerBase;

                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
                }
            }
        }
    }
}

/* CHANNEL ICONS -> REPLACE CHANNEL HEADER AND LISTS ICONS */

#{ $channelsContainer } {
    #{ $channelsHeaderInviteButton } {
        --icon-size: 20px;
        @extend %iconWithSvgWithoutContainerBase;

        &:before {
            -webkit-mask-image: url('#{ $iconBaseUrl }person_add.svg');
        }
    }


    #{ $channelIconContainer } {
        --icon-size: 20px;
        color: var(--channel-icon);

        &:before {
            display: flex;
        }

        $icons: (
            'M11 3a1 1 0 1':                                    'explore',
            'M7 1a1 1 0 0':                                     'event',
            'M3 3a1 1 0 0':                                     'ballot',
            'M13.6698 8.91016C14':                              'shopping_bag',
            'M14.5 8a3 3 0':                                    'people',
            'M11.47 6.55a.75.75':                               'server_boost',
            'M19.56 2a3 3 0':                                   'campaign',
            'M12.33 5.74a.5.5':                                 'campaign_lock',
            'M15 2a3 3 0 0':                                    'assignment_turned_in',
            'M10.99 3.16A1 1':                                  'hashtag',
            'M12.5 8c.28 0':                                    'hashtag_lock',
            'M11.45 8c.35 0':                                   'hashtag_warn',
            'M12 3a1 1 0 0':                                    'volume_up',
            'M11 2a1 1 0 0 1 1':                                'volume_up_lock',
            'M2 5a3 3 0 0 1 3-3h14a3 3 0 0 1 3 3v14a3':         'image_view',
            'M2 5a3 3 0 0 1 3-3h14a3 3 0 0 1 3 3v9.15a4.48':    'image_view_lock',
            'M18.91 12.98a5.45':                                'forum',
            'M13.58 3.23c.24-':                                 'forum_lock',
            'M14.8 3.34a.48.48':                                'forum_warn',
            'M6 9h1V6a5 5 0 0 1':                               'lock'
        );

        @each $option, $icon in $icons {
            &:has(path[d^="#{ $option }"]) {
                @extend %iconWithSvgWithoutContainerBase;

                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
                }
            }
        }
    }

    #{ $channelButton } {
        --icon-size: 16px;

        $icons: (
            'M12 22a10 10 0':       'chat',
            'M16.83 12.93c.26':     'person_add',
            'M10.56 1.1c-.46.05':   'settings'
        );

        @each $option, $icon in $icons {
            &:has(path[d^="#{ $option }"]) {
                @extend %iconWithSvgWithoutContainerBase;

                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
                }
            }
        }
    }
}

@media (hover:hover) {
    #{ $channelIconVisibility }:hover #{ $channelButton } {
        display: flex;
        color: var(--icon-muted);
    }
}

/* CHANNEL ICONS -> DM/HOME LIST ICONS */

#{ $privateChannelAvatar } {
    --icon-size: 20px;

    $icons: (
        'M3 5v-.75C3 3.56 3.56':    'person',
        'M23 8.8a.5.5 0':           'inbox',
        'M16.23 12c0 1.29-.95':     'nitro',
        'M2.63 4.19A3 3 0':         'storefront'
    );

    @each $option, $icon in $icons {
        &:has(path[d^="#{ $option }"]) {
            @extend %iconWithSvgWithoutContainerBase;

            &:before {
                -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
            }
        }
    }
}
