@use '../mixins' as *;

/*
 *
 *  CONTEXT MENU ICONS
 *
 */

%menuPopout {
    %menuPopoutItem {
        /* CONTEXT MENU ICONS -> MESSAGE OPTIONS */

        $icons: (
            'message-edit':
                'M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z',
            'message-pin':
                'm640-480 80 80v80H520v240l-40 40-40-40v-240H240v-80l80-80v-280h-40v-80h400v80h-40v280Zm-286 80h252l-46-46v-314H400v314l-46 46Zm126 0Z',
            'message-reply':
                'M760-200v-160q0-50-35-85t-85-35H273l144 144-57 56-240-240 240-240 57 56-144 144h367q83 0 141.5 58.5T840-360v160h-80Z',
            'message-forward':
                'm640-280-57-56 184-184-184-184 57-56 240 240-240 240ZM80-200v-160q0-83 58.5-141.5T280-560h247L383-704l57-56 240 240-240 240-57-56 144-144H280q-50 0-85 35t-35 85v160H80Z',
            'message-thread':
                'M5.41,21L6.12,17H2.12L2.47,15H6.47L7.53,9H3.53L3.88,7H7.88L8.59,3H10.59L9.88,7H15.88L16.59,3H18.59L17.88,7H21.88L21.53,9H17.53L16.47,15H20.47L20.12,17H16.12L15.41,21H13.41L14.12,17H8.12L7.41,21H5.41M9.53,9L8.47,15H14.47L15.53,9H9.53Z',
            'message-copy-text':
                'M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z',
            'message-mark-unread':
                'm644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-41 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z',
            'message-reactions':
                'M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z',
            'message-copy-link':
                'M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z',
            'message-tts':
                'm798-322-62-62q44-41 69-97t25-119q0-63-25-118t-69-96l62-64q56 53 89 125t33 153q0 81-33 153t-89 125ZM670-450l-64-64q18-17 29-38.5t11-47.5q0-26-11-47.5T606-686l64-64q32 29 50 67.5t18 82.5q0 44-18 82.5T670-450Zm-310 10q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-120v-112q0-33 17-62t47-44q51-26 115-44t141-18q77 0 141 18t115 44q30 15 47 44t17 62v112H40Zm80-80h480v-32q0-11-5.5-20T580-266q-36-18-92.5-36T360-320q-71 0-127.5 18T140-266q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-600q0-33-23.5-56.5T360-680q-33 0-56.5 23.5T280-600q0 33 23.5 56.5T360-520Zm0-80Zm0 400Z',
            'message-delete':
                'M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z',
            'message-report':
                'M200-120v-680h360l16 80h224v400H520l-16-80H280v280h-80Zm300-440Zm86 160h134v-240H510l-16-80H280v240h290l16 80Z',
            'message-actions-add-reaction-0--other-reactions':
                'M12,17.5C14.33,17.5 16.3,16.04 17.11,14H6.89C7.69,16.04 9.67,17.5 12,17.5M8.5,11A1.5,1.5 0 0,0 10,9.5A1.5,1.5 0 0,0 8.5,8A1.5,1.5 0 0,0 7,9.5A1.5,1.5 0 0,0 8.5,11M15.5,11A1.5,1.5 0 0,0 17,9.5A1.5,1.5 0 0,0 15.5,8A1.5,1.5 0 0,0 14,9.5A1.5,1.5 0 0,0 15.5,11M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z'
        );

        //@each $option, $icon in $icons {
            //&##{$option} {
                //%menuPopoutIcon path {
                    //d: path($icon);
                    //transform: translate(0, 24px) scale(0.025);
                //}
            //}
		//}

        /* CONTEXT MENU ICONS -> ADD ICONS */

        &[id*="user-context-"][role="menuitem"],
        &[id*="guild-context-"],
        &[id*="channel-context-"],
        &[id*="gdm-context-"],
        &[id*="-image"],
        &[id*="-native-link"],
        &[id*="thread-context-"],
        &[id*="text-context-"],
        &[id*="user-settings-cog-"],
        &[id*="user-profile-actions-"],
        &[id*="user-profile-overflow-menu-"],
        &#manage-streams-report-stream-problem,
        &#clips-context-clips-settings,
        &#message-favorite,
        &#message-unfavorite,
        &#message-search-google,
        &#message-remove-reactions,
        &#message-remove-emoji-reactions,
        &#message-actions-remove-reactions,
        &#textarea-context-add-to-dictionary,
        &#textarea-context-languages {
            display: flex;

            &:after {
                position: relative;
                content: " ";
                width: 18px;
                height: 18px;
                margin-right: 12px;
                background-color: currentColor;
                -webkit-mask-repeat: no-repeat;
            }
        }

        &#user-settings-cog-Accessibility--input,
        &#user-settings-cog-Voice___Video--input,
        &#user-settings-cog-Voice___Video--output,
        &#user-settings-cog-Experiments--experiments-search {
            display: block;
        }

        &[aria-haspopup="true"],
        &[role="menuitemcheckbox"],
        &[id*="devmode-copy-id"],
        &[id*="channel-context-transfer-xbox"],
        &[id*="channel-context-transfer-playstation"],
        &[id="channel-context-0"],
        &[id="channel-context-1"],
        &[id="channel-context-2"],
        &[id="channel-context-3"],
        &#user-context-user-volume,
        &#user-context-report-event,
        &#user-context-vc-copy-user-url,
        &#guild-context-hide-muted-channels,
        &#thread-context-search,
        &#thread-context-pins {
            &:after {
                display: none;
            }
        }

        &#user-context-user-volume {
            display: block;
        }

        &#account-edit-custom-status {
            flex-direction: row;

            %menuPopoutIconContainerLeft {
                margin-left: 0;
                margin-right: 12px;
            }
        }

        &#gdm-context-change-icon {
            min-height: 36px;

            %menuPopoutLabelContainer,
            &:after {
                position: absolute;
            }

            %menuPopoutLabelContainer {
                left: 42px;
            }

            &:after {
                left: 12px;
            }
        }

        $icons: (
            'user-context-mark-channel-read':                   'visibility',
            'user-context-user-profile':                        'person',
            'user-context-mention':                             'mention',
            'user-context-message-user':                        'chat_bubble',
            'user-context-call':                                'call',
            'user-context-ring':                                'notifications_active',
            'user-context-stop-ringing':                        'notifications_off',
            'user-context-note':                                'edit',
            'user-context-Permissions':                         'lock_open',
            'user-context-add-friend-nickname':                 'add_circle',
            'user-context-edit-friend-nickname':                'edit',
            'user-context-invite-to-listen':                    'spotify',
            'user-context-remove':                              'remove_circle',
            'user-context-make-dm-owner':                       'crown',
            'user-context-join':                                'add_circle',
            'user-context-add-friend':                          'person_add',
            'user-context-remove-friend':                       'person_remove',
            'user-context-manage-integration':                  'settings',
            'user-context-block':                               'block',
            'user-context-unmute-channel':                      'volume_up',
            'user-context-change-video-background':             'videocam',
            'user-context-focus-video':                         'center_focus',
            'user-context-change-nickname':                     'edit',
            'user-context-timeout':                             'timer',
            'user-context-removetimeout':                       'timer_off',
            'user-context-kick':                                'remove_circle',
            'user-context-ban':                                 'hammer',
            'user-context-close-dm':                            'cancel',
            'user-context-voice-disconnect':                    'power_off',
            'user-context-transfer-ownership':                  'transfer',
            'user-context-pin-dm':                              'pin',

            'gdm-context-instant-invites':                      'person_add',
            'gdm-context-mark-channel-read':                    'visibility',
            'gdm-context-favorite-channel':                     'favorite',
            'gdm-context-set-channel-nickname':                 'edit',
            'gdm-context-change-icon':                          'edit',
            'gdm-context-remove-icon':                          'remove_circle',
            'gdm-context-unmute-channel':                       'volume_up',
            'gdm-context-leave-channel':                        'logout',

            'message-favorite':                                 'favorite',
            'message-unfavorite':                               'unfavorite',
            'message-search-google':                            'search',
            'message-remove-reactions':                         'remove_circle',
            'message-copy-image':                               'content_copy',
            'message-save-image':                               'save',
            'message-copy-native-link':                         'content_copy',
            'message-open-native-link':                         'open_in_new',
            'message-actions-remove-reactions':                 'remove_circle',

            'text-context-search-google':                       'search',
            'text-context-copy':                                'content_copy',

            'thread-context-mark-channel-read':                 'visibility',
            'thread-context-channel-copy-link':                 'content_copy',
            'thread-context-unarchive-thread':                  'unarchive',
            'thread-context-delete-channel':                    'delete',
            'thread-context-leave-thread':                      'message-minus',
            'thread-context-edit-thread':                       'edit',
            'thread-context-pin-thread':                        'pin',
            'thread-context-unpin-thread':                      'pin',
            'thread-context-archive-thread':                    'archive',
            'thread-context-archive-lock-thread':               'lock',
            'thread-context-lock-thread':                       'lock',
            'thread-context-join-thread':                       'message-check',
            'thread-context-open':                              'open_in_new',
            'thread-context-mute-disabled':                     'volume_up',
            'thread-context-notifications-disabled':            'notifications',

            'image-context-copy-image':                         'content_copy',
            'image-context-save-image':                         'save',
            'image-context-copy-native-link':                   'content_copy',
            'image-context-open-native-link':                   'open_in_new',
            'image-context-imageutilities-copy-link':           'content_copy',
            'image-context-imageutilities-open-link':           'open_in_new',
            'image-context-imageutilities-copy-file':           'image_copy',

            'textarea-context-add-to-dictionary':               'library_add',
            'textarea-context-languages':                       'translate',

            'guild-context-mark-guild-read':                    'visibility',
            'guild-context-Permissions':                        'lock_open',
            'guild-context-guild-profile':                      'badge',
            'guild-context-invite-people':                      'person_add',
            'guild-context-unmute-guild':                       'volume_off',
            'guild-context-privacy':                            'security',
            'guild-context-change-nickname':                    'edit',
            'guild-context-leave-guild':                        'logout',
            'guild-context-create-channel':                     'add_circle',
            'guild-context-create-category':                    'list_add',
            'guild-context-create-event':                       'event',
            'guild-context-mark-folder-read':                   'visibility',
            'guild-context-folder-settings':                    'settings',
            'guild-context-folder-collapse':                    'cancel',
            'guild-context-join':                               'person_add',
            'guild-context-create':                             'add_circle',
            'guild-context-server-lockdown':                    'shield_lock_open',

            'channel-context-mark-channel-read':                'visibility',
            'channel-context-Permissions':                      'lock_open',
            'channel-context-unmute-channel':                   'volume_off',
            'channel-context-open-chat':                        'open_in_new',
            'channel-context-edit-channel':                     'edit',
            'channel-context-collapse-all-categories':          'collapse',
            'channel-context-invite-people':                    'person_add',
            'channel-context-opt-in-favorite-channel':          'favorite',
            'channel-context-opt-into-channel':                 'remove_circle',
            'channel-context-opt-out-category':                 'message-minus',
            'channel-context-clone-channel':                    'content_copy',
            'channel-context-create-text-channel':              'add_circle',
            'channel-context-create-voice-channel':             'add_circle',
            'channel-context-channel-copy-link':                'content_copy',
            'channel-context-copy-channel-topic':               'content_copy',
            'channel-context-delete-channel':                   'delete',
            'channel-context-favorite-channel':                 'favorite',
            'channel-context-go-to-original-guild':             'open_in_new',
            'channel-context-set-channel-nickname':             'edit',

            'user-profile-actions-user-remove':                 'person_remove',
            'user-profile-actions-user-block':                  'block',
            'user-profile-actions-user-message':                'chat_bubble',
            'user-profile-overflow-menu-view-profile':          'person',
            'user-profile-overflow-menu-block':                 'block',
            'user-profile-overflow-menu-report-user':           'report_problem',

            'manage-streams-report-stream-problem':             'alert',
            'clips-context-clips-settings':                     'settings',

            'user-settings-cog-My_Account':                     'settings',
            'user-settings-cog-Profile_Customization':          'edit',
            'user-settings-cog-Privacy___Safety':               'security',
            'user-settings-cog-Family_Center':                  'shield_account',
            'user-settings-cog-Authorized_Apps':                'apps',
            'user-settings-cog-Sessions':                       'devices',
            'user-settings-cog-Passport':                       'link',
            'user-settings-cog-Connections':                    'link',
            'user-settings-cog-Friend_Requests':                'person_add',
            'user-settings-cog-Discord_Nitro':                  'nitro',
            'user-settings-cog-Nitro_Server_Boost':             'server_boost',
            'user-settings-cog-Subscriptions':                  'subscription',
            'user-settings-cog-Library_Inventory':              'gift',
            'user-settings-cog-Billing':                        'payment',
            'user-settings-cog-Text___Images':                  'keyboard',
            'user-settings-cog-Notifications':                  'notifications',
            'user-settings-cog-Keybinds':                       'space_bar',
            'user-settings-cog-Language':                       'translate',
            'user-settings-cog-Windows':                        'windows',
            'user-settings-cog-Linux':                          'linux',
            'user-settings-cog-Advanced':                       'integrations',
            'user-settings-cog-Activity_Privacy':               'verified_user',
            'user-settings-cog-Game_Activity':                  'gamepad',
            'user-settings-cog-Overlay':                        'picture_in_picture',
            'user-settings-cog-changelog':                      'list',
            'user-settings-cog-merchandise':                    'storefront',
            'user-settings-cog-Hypesquad_Online':               'hypesquad',
            'user-settings-cog-Developer_Options':              'settings',
            'user-settings-cog-Hotspot_Options':                'settings',
            'user-settings-cog-Dismissible_Content_Options':    'settings',
            'user-settings-cog-Payment_Flow_Modals':            'settings',

            'user-settings-cog-VencordPlugins':                 'plugins',
            'user-settings-cog-VencordThemes':                  'themes',
            'user-settings-cog-VencordUpdater':                 'update',
            'user-settings-cog-VencordCloud':                   'cloud',
            'user-settings-cog-VencordSettingsSync':            'cloud_refresh'
        );

        &[id] {
            &:after {
                -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/settings.svg);
            }
        }

        @each $option, $icon in $icons {
            &##{$option} {
                &:after {
                	-webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/#{$icon}.svg);
                }
            }
        }

        /* CONTEXT MENU ICONS -> DISCORD IS DUMB */

        $icons: (
            'user-context-Start Event':         'play',
            'user-context-Edit Event':          'edit',
            'user-context-Cancel Event':        'remove_circle',
            'user-context-Copy Event Link':     'content_copy'
        );

        @each $option, $icon in $icons {
            &[id="#{$option}"] {
                &:after {
                    @include add-icon(currentColor, $icon);
                }
            }
        }

        $spotifyIcons: (
            'spotify-play': 'spotify',
            'spotify-sync': 'listen_along',
        );

        @each $option, $icon in $spotifyIcons {
            &[id*="user-context-#{$option}"] {
                &:after {
                    @include add-icon(currentColor, $icon);
                }
            }
        }

        /* CONTEXT MENU ICONS -> REPLACE HINTS WITH ICONS */

        &#message-copy,
        &[id*="textarea-context-"] {
            %menuPopoutHintContainer {
                width: 18px;
                height: 18px;
                margin-left: 0;
                margin-right: 12px;
                font-size: 0;
            }
        }

        $icons: (
            'message-copy':             'content_copy',
            'textarea-context-copy':    'content_copy',
            'textarea-context-cut':     'content_cut',
            'textarea-context-paste':   'paste'
        );

        @each $option, $icon in $icons {
            &##{$option} {
                %menuPopoutHintContainer {
                    @include add-icon(currentColor, $icon);
                }
            }
        }
    }

    /* CONTEXT MENU ICONS -> SUBMENU WITH ARROW */

    %menuPopoutItem[aria-haspopup="true"] {
        flex-direction: row;

        &:before {
            display: block;
            position: relative;
            content: " ";
            width: 18px;
            height: 18px;
            margin-right: 12px;
            background-color: currentColor;
            -webkit-mask-repeat: no-repeat;
        }

        &#status-picker-switch-account,
        &#account-status-picker,
        &#account-switch-account,
        &#status-status-picker,
        &#status-status-picker--quiet-mode {
            &:before {
                display: none;
            }
        }

        &[id*="image-context-commands-popout"] {
            &:before {
                margin-right: 0;
                padding-right: 12px;
            }

            %menuPopoutIconContainerLeft {
                position: absolute;
                right: -28px;
                margin-left: 0;
            }

            %menuPopoutIconContainer {
                margin-right: 40px;
            }
        }

        $icons: (
            'user-context-apps':                                'apps',
            'user-context-favorite-channel':                    'favorite',
            'user-context-invite-to-server':                    'add_circle',
            'user-context-roles':                               'person',
            'user-context-voice-move':                          'move',
            'user-context-mute-channel':                        'volume_off',

            'gdm-context-favorite-channel':                     'favorite',
            'gdm-context-mute-channel':                         'volume_up',

            'message-add-reaction':                             'emoji',
            'message-add-reaction-0':                           'emoji',
            'message-add-reaction-1':                           'burst_reaction',
            'message-apps':                                     'apps',
            'message-actions-apps':                             'apps',
            'message-guild-feed-feature':                       'feature',
            'message-guild-automod-add-selection':              'filter',
            'message-copy-message':                             'content_copy',
            'message-actions-remove-emoji-reactions':           'remove_circle',
            'message-remove-emoji-reactions':                   'remove_circle',
            'message-save-for-later':                           'bookmark',

            'message-actions-add-reaction-0':                   'emoji',
            'message-actions-add-reaction-1':                   'burst_reaction',
            'message-actions-guild-feed-feature':               'feature',

            'image-context-imageutilities-download-file-as':    'save',
            'image-context-imageutilities-submenu-search':      'search',

            'thread-context-mute-channel':                      'volume_up',
            'thread-context-thread-notifications':              'notifications',
            'thread-context-edit-tags':                         'edit',
            'thread-context-auto-archive-thread':               'archive',
            'thread-context-guild-feed-feature':                'feature',

            'textarea-context-suggestions':                     'lightbulb',

            'guild-context-mute-guild':                         'volume_up',
            'guild-context-guild-notifications':                'notifications',
            'guild-context-guild-settings':                     'settings',
            'guild-context-ChannelTabs':                        'folder',

            'channel-context-mute-channel':                     'volume_up',
            'channel-context-channel-notifications':            'notifications',
            'channel-context-favorite-channel':                 'favorite',

            'user-settings-cog-Appearance':                     'chat',
            'user-settings-cog-Accessibility':                  'accessibility',
            'user-settings-cog-Voice___Video':                  'mic',
            'user-settings-cog-Text___Images':                  'keyboard',
            'user-settings-cog-Streamer_Mode':                  'live_tv',
            'user-settings-cog-Experiments':                    'settings',

            'user-profile-overflow-menu-invite-to-server':      'add_circle',

            'manage-streams-stream-settings':                   'settings',
            'clips-context-clips-duration':                     'width'
        );

        &[id] {
            &:before {
                -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/settings.svg);
            }
        }

        @each $option, $icon in $icons {
            &##{$option} {
                &:before {
                    -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/#{$icon}.svg);
                }
            }
        }

        $icons: (
            'user-context-Add to Calendar':             'add_circle'
        );

        @each $option, $icon in $icons {
            &[id="#{$option}"] {
                &:before {
                    @include add-icon(currentColor, $icon);
                }
            }
        }

        %menuPopoutIconContainer,
        %menuPopoutImageContainer {
            margin-right: 0;
            margin-left: 12px;
        }
    }

    %autocompleteListItems {
        %menuPopoutIconContainer {
            margin-right: 12px;
            margin-left: 0;
        }
    }

    #account-status-picker,
    #account-switch-account,
    #status-status-picker  {
        %menuPopoutIconContainerLeft {
            margin-right: 12px;
            margin-left: 0;
        }
    }

    #status-edit-custom-status {
        %menuPopoutHintContainer {
            margin-left: 0;
            margin-right: 12px;
        }
    }

    %contextMenuItemSubMenuAlt {
        %menuPopoutItem {
            &:before {
                display: none;
            }
        }
    }

    %contextMenuItemSubMenuAlt %menuPopoutItem {
        &:after {
            display: none;
        }
    }
}

/* CONTEXT MENU ICONS -> SERVER OPTIONS */

%menuPopout#guild-header-popout {
    %menuPopoutItem {
        $icons: (
            insights:
                (icon: 'M120-120v-80l80-80v160h-80Zm160 0v-240l80-80v320h-80Zm160 0v-320l80 81v239h-80Zm160 0v-239l80-80v319h-80Zm160 0v-400l80-80v480h-80ZM120-327v-113l280-280 160 160 280-280v113L560-447 400-607 120-327Z', remove: false),
            create-channel:
                (icon: 'M440-280h80v-160h160v-80H520v-160h-80v160H280v80h160v160Zm40 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z', remove: false),
            create-category:
                (icon: 'M560-320h80v-80h80v-80h-80v-80h-80v80h-80v80h80v80ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z', remove: false),
            create-event:
                (icon: 'M680-80v-120H560v-80h120v-120h80v120h120v80H760v120h-80Zm-480-80q-33 0-56.5-23.5T120-240v-480q0-33 23.5-56.5T200-800h40v-80h80v80h240v-80h80v80h40q33 0 56.5 23.5T760-720v244q-20-3-40-3t-40 3v-84H200v320h280q0 20 3 40t11 40H200Zm0-480h480v-80H200v80Zm0 0v-80 80Z', remove: true),
            /*active-threads:
                (icon: 'M5.41,21L6.12,17H2.12L2.47,15H6.47L7.53,9H3.53L3.88,7H7.88L8.59,3H10.59L9.88,7H15.88L16.59,3H18.59L17.88,7H21.88L21.53,9H17.53L16.47,15H20.47L20.12,17H16.12L15.41,21H13.41L14.12,17H8.12L7.41,21H5.41M9.53,9L8.47,15H14.47L15.53,9H9.53Z', remove: false),*/
            application-directory:
                (icon: 'M240-160q-33 0-56.5-23.5T160-240q0-33 23.5-56.5T240-320q33 0 56.5 23.5T320-240q0 33-23.5 56.5T240-160Zm240 0q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm240 0q-33 0-56.5-23.5T640-240q0-33 23.5-56.5T720-320q33 0 56.5 23.5T800-240q0 33-23.5 56.5T720-160ZM240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400ZM240-640q-33 0-56.5-23.5T160-720q0-33 23.5-56.5T240-800q33 0 56.5 23.5T320-720q0 33-23.5 56.5T240-640Zm240 0q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Zm240 0q-33 0-56.5-23.5T640-720q0-33 23.5-56.5T720-800q33 0 56.5 23.5T800-720q0 33-23.5 56.5T720-640Z', remove: false),
            privacy:
                (icon: 'M420-360h120l-23-129q20-10 31.5-29t11.5-42q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 23 11.5 42t31.5 29l-23 129Zm60 280q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-84q104-33 172-132t68-220v-189l-240-90-240 90v189q0 121 68 220t172 132Zm0-316Z', remove: false),

            /*guild-profile:
                (icon: 'M8,9A2,2 0 0,1 10,11A2,2 0 0,1 8,13A2,2 0 0,1 6,11A2,2 0 0,1 8,9M12,17H4V16C4,14.67 6.67,14 8,14C9.33,14 12,14.67 12,16V17M20,8H14V10H20V8M20,12H14V14H20V12M20,16H14V18H20V16M22,4H14V6H22V20H2V6H10V4H2A2,2 0 0,0 0,6V20A2,2 0 0,0 2,22H22A2,2 0 0,0 24,20V6A2,2 0 0,0 22,4M13,6H11V2H13V6Z', remove: false),
            invite-people:
                (icon: 'M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm0 8c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4zm-6 4c.22-.72 3.31-2 6-2 2.7 0 5.8 1.29 6 2H9zm-3-3v-3h3v-2H6V7H4v3H1v2h3v3z', remove: false),
            settings:
                (icon: 'M19.43 12.98c.04-.32.07-.64.07-.98 0-.34-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.09-.16-.26-.25-.44-.25-.06 0-.12.01-.17.03l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.06-.02-.12-.03-.18-.03-.17 0-.34.09-.43.25l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98 0 .33.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.09.16.26.25.44.25.06 0 .12-.01.17-.03l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.06.02.12.03.18.03.17 0 .34-.09.43-.25l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-1.98-1.71c.04.31.05.52.05.73 0 .21-.02.43-.05.73l-.14 1.13.89.7 1.08.84-.7 1.21-1.27-.51-1.04-.42-.9.68c-.43.32-.84.56-1.25.73l-1.06.43-.16 1.13-.2 1.35h-1.4l-.19-1.35-.16-1.13-1.06-.43c-.43-.18-.83-.41-1.23-.71l-.91-.7-1.06.43-1.27.51-.7-1.21 1.08-.84.89-.7-.14-1.13c-.03-.31-.05-.54-.05-.74s.02-.43.05-.73l.14-1.13-.89-.7-1.08-.84.7-1.21 1.27.51 1.04.42.9-.68c.43-.32.84-.56 1.25-.73l1.06-.43.16-1.13.2-1.35h1.39l.19 1.35.16 1.13 1.06.43c.43.18.83.41 1.23.71l.91.7 1.06-.43 1.27-.51.7 1.21-1.07.85-.89.7.14 1.13zM12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z', remove: false),
            insights:
                (icon: 'M16,11.78L20.24,4.45L21.97,5.45L16.74,14.5L10.23,10.75L5.46,19H22V21H2V3H4V17.54L9.5,8L16,11.78Z', remove: false),
            create-channel:
                (icon: 'M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z', remove: false),
            create-category:
                (icon: 'M14 10H2v2h12v-2zm0-4H2v2h12V6zm4 8v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zM2 16h8v-2H2v2z', remove: false),
            create-event:
                (icon: 'M12 12H17V17H12V12M19 3H18V1H16V3H8V1H6V3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3M19 5V7H5V5H19M5 19V9H19V19H5Z', remove: true),
            active-threads:
                (icon: 'M5.41,21L6.12,17H2.12L2.47,15H6.47L7.53,9H3.53L3.88,7H7.88L8.59,3H10.59L9.88,7H15.88L16.59,3H18.59L17.88,7H21.88L21.53,9H17.53L16.47,15H20.47L20.12,17H16.12L15.41,21H13.41L14.12,17H8.12L7.41,21H5.41M9.53,9L8.47,15H14.47L15.53,9H9.53Z', remove: false),
            notifications:
                (icon: 'M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-2 1H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6z', remove: false),
            privacy:
                (icon: 'M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm7 10c0 4.52-2.98 8.69-7 9.93-4.02-1.24-7-5.41-7-9.93V6.3l7-3.11 7 3.11V11zm-11.59.59L6 13l4 4 8-8-1.41-1.42L10 14.17z', remove: false),
            change-nickname:
                (icon: 'M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z', remove: false),
            server-lockdown:
                (icon: 'M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M18,20V10H6V20H18M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10C4,8.89 4.89,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z', remove: false),
            report-raid:
                (icon: 'M12,12H19C18.47,16.11 15.72,19.78 12,20.92V12H5V6.3L12,3.19M12,1L3,5V11C3,16.55 6.84,21.73 12,23C17.16,21.73 21,16.55 21,11V5L12,1Z', remove: false),
            leave:
                (icon: 'M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z', remove: false)*/
        );

        @each $key, $value in $icons {
            &#guild-header-popout-#{$key} path {
                d: path(map-get($value, icon));
                transform: translate(0, 24px) scale(0.025);

                @if map-get($value, remove) == true {
                    ~ path {
                        display: none;
                    }
                }
            }
        }
    }
}
