@use 'sass:map';
@use '../classes' as *;

@use 'config' as *;
@use 'placeholders' as *;

/*
 *
 *  HEADER BAR ICONS
 *
 */

#{ $headerBarIconWrapper } {
    --icon-size: 20px;

    // HEADER BAR ICONS -> REPLACE DEFAULT ICONS WITH NO ICON CONTAINER

    $icons: (
        'M12 2.81a1 1':     'thread',
        'M1.3 21.3a1 1 0':  'notifications_off',
        'M9.7 2.89c.18':    'notifications',
        'M19.38 11.38a3':   'pin',
        'M14.5 8a3 3':      'people',
        'M2 7.4A5.4 5.4':   'phone_in_talk',
        'M4 4a3 3 0 0':     'videocam',
        'M23 12.38c':       'account_circle',
        'M19 14a1 1 0 0':   'chat_add_on'
    );

    @each $option, $icon in $icons {
        &:has(path[d^="#{ $option }"]) {
            @extend %iconWithSvgWithoutContainerBase;

            &:before {
                -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
            }
        }
    }
}

// HEADER BAR ICONS -> ICONS IN THE TITLE BAR

#{ $bar } {
    #{ $headerBarIconClickable },
    #{ $headerBarIconClickableAlt } {
        --icon-size: 20px;

        $icons: (
            'M5 2a3 3 0 0':     'inbox',
            'M12 23a11 11 0':   'help',
            'M2 20.59V19.4a1':  'build'
        );

        @each $option, $icon in $icons {
            &:has(path[d^="#{ $option }"]) {
                @extend %iconWithSvgWithoutContainerBase;

                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
                }
            }
        }
    }
}
