@use '../classes' as *;
@use '../config' as *;
@use '../mixins' as *;
@use '../placeholders' as *;

/*
 *
 *  SIDEBAR ICONS
 *
 */

#{ $settingsSidebar } {
    #{ $item }[data-tab-id] {
        display: flex;
        gap: 12px;
        padding-inline-start: 12px;
        align-items: center;

        &:before {
    		position: relative;
    		content: " ";
    		width: 20px;
    		height: 20px;
            flex-shrink: 0;
    		background-repeat: no-repeat;
    		background-position: center;
            background-color: var(--interactive-text-default);
            @include add-icon(null, settings);
            -webkit-mask-repeat: no-repeat;
            mask-size: 100%;
    		opacity: 0.8;
    	}

        img {
            display: none;
        }
    }
}

#{ $settingsTabBarItemContainer } {
    width: 100%;
}

#{ $settingsSidebar } {
    #{ $item } {
        $icons: (
            'PROFILE':                          'badge',
            'ENGAGEMENT':                       'diversity_1',
            'BOOST_PERKS':                      'workspace_premium',

            'OVERVIEW':                         'dashboard',
            'ROLES':                            'person',
            'EMOJI':                            'emoji',
            'STICKERS':                         'sticker-emoji',
            'WIDGET':                           'widgets',
            'SOUNDBOARD':                       'volume_up',
            'GUILD_TEMPLATES':                  'template',
            'VANITY_URL':                       'link',
            'ACCESS':                           'lock_open',

            'INTEGRATIONS':                     'integrations',
            'APP_DIRECTORY':                    'apps',

            'SAFETY':                           'shield_lock',
            'AUDIT_LOG':                        'audit_log',
            'BANS':                             'hardware',

            'COMMUNITY':                        'dashboard',
            'ONBOARDING':                       'handshake',
            'ANALYTICS':                        'analytics',
            'DISCOVERY':                        'discovery',
            'COMMUNITY_WELCOME':                'partner_program',

            'ROLE_SUBSCRIPTIONS':               'monetization_on',
            'GUILD_PRODUCTS':                   'inventory',
            'ROLE_SUBSCRIPTIONS_STORE_PAGE':    'sale',

            'GUILD_PREMIUM':                    'server_boost',

            'MEMBERS':                          'people',
            'INVITES':                          'person_add',
            'DELETE':                           'delete'
        );

        @each $option, $icon in $icons {
			&[data-tab-id="#{ $option }"]:before {
                -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
			}
		}
    }
}

/* SIDEBAR ICONS V2 */

#{ $itemV2 } {
    #{ $itemV2Content }:not(:empty) {
        @include addIconBase('before');

        svg {
            display: none;
        }
    }

    &[role="listitem"] {
        #{ $itemV2Content }:before {
            -webkit-mask-image: url('#{ $iconBaseUrl }settings.svg');
        }
    }

    $icons: (
        'account_sidebar_item':                      'person',
        'content_and_social_sidebar_item':           'assignment',
        'data_and_privacy_sidebar_item':             'shield_lock',
        'family_center_sidebar_item':                'family',
        'authorized_apps_sidebar_item':              'apps',
        'sessions_sidebar_item':                     'devices',
        'connections_sidebar_item':                  'link',
        'notifications_sidebar_item':                'notifications',
        'clips_sidebar_item':                        'movie',

        'nitro_sidebar_item':                        'nitro',
        'premium_guild_subscriptions_sidebar_item':  'server_boost',
        'subscriptions_sidebar_item':                'subscription',
        'gift_sidebar_item':                         'gift',
        'billing_sidebar_item':                      'payment',

        'appearance_sidebar_item':                   'chat',
        'accessibility_sidebar_item':                'accessibility',
        'voice_and_video_sidebar_item':              'mic',
        'chat_sidebar_item':                         'keyboard',
        'legacy_notifications_sidebar_item':         'notifications',
        'keybinds_sidebar_item':                     'space_bar',
        'language_and_time_sidebar_item':            'language',
        'windows_sidebar_item':                      'windows',
        'linux_sidebar_item':                        'linux',
        'streamer_mode_sidebar_item':                'live_tv',
        'advanced_sidebar_item':                     'integrations',

        'activity_privacy_sidebar_item':             'verified_user',
        'registered_games_sidebar_item':             'stadia_controller',
        'overlay_sidebar_item':                      'picture_in_picture',

        'betterdiscord_settings_sidebarItem':        'betterdiscord',
        'betterdiscord_updates_sidebarItem':         'update',
        'betterdiscord_customcss_tab_sidebarItem':   'code',
        'betterdiscord_themes_sidebarItem':          'themes',
        'betterdiscord_plugins_sidebarItem':         'plugins',

        'vencord_plugins':                           'plugins',
        'vencord_themes':                            'themes',
        'vencord_updater':                           'update',
        'vencord_cloud':                             'cloud',
        'vencord_backup_restore':                    'backup_restore',

        'experiments_sidebar_item':                  'experiment',
        'developer_options_sidebar_item':            'code',
        'legacy_settings_sidebar_item':              'settings',

        'logout_sidebar_item':                       'exit_to_app',
    );

    @each $option, $icon in $icons {
        &[data-list-item-id="settings-sidebar___#{ $option }"] {
            #{ $itemV2Content }:before {
                -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
            }
        }
    }
}
