@use '../mixins' as *;

/*
 *
 *  SIDEBAR ICONS
 *
 */

%settingsSidebar {
    %item[data-tab-id] {
        display: flex;
        gap: 12px;
        padding-left: 12px;
        align-items: center;

        &:before {
    		position: relative;
    		content: " ";
    		width: 20px;
    		height: 20px;
            flex-shrink: 0;
    		background-repeat: no-repeat;
    		background-position: center;
            background-color: var(--interactive-normal);
            @include add-icon(null, settings);
            -webkit-mask-repeat: no-repeat;
            mask-size: 100%;
    		opacity: 0.8;
    	}

        img {
            display: none;
        }
    }
}

%settingsTabBarItemContainer {
    width: 100%;
}

%settingsSidebar {
    %item {
        $icons: (
            // USER SETTINGS

            'My Account':                       'person',
            'Games':                            'stadia_controller',
            'Profile Customization':            'account_circle',
            'Content & Social':                 'assignment',
            'Data & Privacy':                   'shield_lock',
            'Family Center':                    'family',
            'Authorized Apps':                  'apps',
            'Sessions':                         'devices',
            'Connections':                      'link',
            'Settings Clips':                   'movie',

            'Discord Nitro':                    'nitro',
            'Nitro Server Boost':               'server_boost',
            'Subscriptions':                    'subscription',
            'Library Inventory':                'gift',
            'Billing':                          'payment',

            'Appearance':                       'chat',
            'Accessibility':                    'accessibility',
            'Voice & Video':                    'mic',
            'Text & Images':                    'keyboard',
            'Notifications':                    'notifications',
            'Keybinds':                         'space_bar',
            'Language':                         'language',
            'Windows':                          'windows',
            'Linux':                            'linux',
            'Streamer Mode':                    'live_tv',
            'Advanced':                         'integrations',

            'Activity Privacy':                 'shield_lock',
            'Game Activity':                    'stadia_controller',
            'Overlay':                          'layers',

            'Settings':                         'settings',
            'updates':                          'update',
            'customcss':                        'code',
            'plugins':                          'plugins',
            'themes':                           'themes',
            'pluginrepo':                       'plugins',
            'themerepo':                        'themes',

            'changelog':                        'checklist',
            'merchandise':                      'casino',
            'Hypesquad Online':                 'hypesquad',
            'Experiments':                      'experiment',
            'Developer Options':                'code',

            'logout':                           'exit_to_app',

            // SERVER SETTINGS

            'PROFILE':                          'badge',
            'ENGAGEMENT':                       'diversity_1',
            'BOOST_PERKS':                      'workspace_premium',

            'OVERVIEW':                         'dashboard',
            'ROLES':                            'person',
            'EMOJI':                            'emoji',
            'STICKERS':                         'sticker-emoji',
            'WIDGET':                           'widgets',
            'SOUNDBOARD':                       'volume_up',
            'GUILD_TEMPLATES':                  'template',
            'VANITY_URL':                       'link',
            'ACCESS':                           'lock_open',

            'INTEGRATIONS':                     'integrations',
            'APP_DIRECTORY':                    'apps',

            'SAFETY':                           'shield_lock',
            'AUDIT_LOG':                        'audit_log',
            'BANS':                             'hardware',

            'COMMUNITY':                        'dashboard',
            'ONBOARDING':                       'handshake',
            'ANALYTICS':                        'analytics',
            'DISCOVERY':                        'discovery',
            'COMMUNITY_WELCOME':                'partner_program',

            'ROLE_SUBSCRIPTIONS':               'monetization_on',
            'GUILD_PRODUCTS':                   'inventory',
            'ROLE_SUBSCRIPTIONS_STORE_PAGE':    'sale',

            'GUILD_PREMIUM':                    'server_boost',

            'MEMBERS':                          'people',
            'INVITES':                          'person_add',
            'DELETE':                           'delete'
        );

        @each $tab, $icon in $icons {
			&[data-tab-id="#{$tab}"]:before {
                -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/#{$icon}.svg);
			}
		}
    }
}
