@use '../classes' as *;
@use '../mixins' as *;

@use 'config' as *;
@use 'placeholders' as *;

/*
 *
 *  TEXTAREA ICONS
 *
 */

#{ $menuPopout } {
    #{ $menuPopoutItem } {

        // TEXTAREA ICONS -> ADD ICONS TO OPTIONS WITHOUT DEFAULT ICONS

        $icons: (
            'upload-file':      'upload_file',
            'clips':            'movie',
            'THREAD':           'thread',
            'poll':             'add_chart',
            'SLASH_COMMAND':    'apps',
            'listen':           'spotify',
        );

        @each $option, $icon in $icons {
            &#channel-attach-#{ $option } {
                @extend %iconWithContainerBase;
                @extend %iconReverseDirection;

                #{ $menuPopoutIconContainer } {
                    &:before {
                        -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
                    }
                }
            }
        }

        // TEXTAREA ICONS -> ADD ICONS TO OPTIONS WITHOUT DEFAULT ICONS

        $icons: (
            'suggestions':  'lightbulb',
            'languages':    'translate',
            'translate':    'translate'
        );

        @each $option, $icon in $icons {
            &#textarea-context-#{ $option } {
                @extend %iconWithoutContainerBase;

                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
                }
            }
        }

        // TEXTAREA ICONS -> REPLACE TEXT SHORTCUT HINTS WITH ICONS

        $icons: (
            'cut':      'content_cut',
            'copy':     'content_copy',
            'paste':    'paste',
        );

        @each $option, $icon in $icons {
            &#textarea-context-#{ $option } {
                @extend %iconWithShortcutContainerBase;

                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
                }
            }
        }
    }
}

// TEXTAREA ICONS -> REPLACE CHAT BOX BUTTON SVGS WITH ICONS

#{ $chatForm } {
    #{ $channelTextAreaButtonWrapper } {
        --icon-size: 24px;

        $icons: (
            'M13 3a1 1 0 1 0-2': 'add_circle',
            'M6.6 10.02 14': 'send'
        );

        @each $option, $icon in $icons {
            &:has(path[d^="#{ $option }"]) {
                @extend %iconWithSvgWithoutContainerBase;

                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
                }
            }
        }
    }
}
