.userPopout-2j1gM4,
.userPopout-2j1gM4 .headerTop-3GPUSF {
  overflow: visible !important; }

/* PROFILE ICONS -> SUPPORTER */
.userPopout-2j1gM4[data-user-id=""] .profileBadges-2pItdR {
  position: absolute; }
  .userPopout-2j1gM4[data-user-id=""] .profileBadges-2pItdR:before {
    position: relative;
    content: " ";
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background-color: var(--supporter-color);
    -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/supporter.svg);
    mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/supporter.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat; }
  .userPopout-2j1gM4[data-user-id=""] .profileBadges-2pItdR:after {
    position: absolute;
    content: 'Theme Supporter';
    width: 106px;
    max-width: 200px;
    height: auto;
    top: 0;
    left: 0;
    line-height: 16px;
    padding: var(--tooltip-padding);
    background-color: var(--tooltip-color);
    box-shadow: var(--tooltip-shadow);
    border-radius: var(--tooltip-radius);
    transform: translate(-52px, -38px);
    pointer-events: none;
    color: var(--tooltip-text-color);
    font-size: var(--tooltip-font-size);
    font-weight: 500;
    text-align: center;
    z-index: 3;
    opacity: 0; }
  .userPopout-2j1gM4[data-user-id=""] .profileBadges-2pItdR:hover:after {
    opacity: 1; }

.root-8LYsGj[data-user-id=""] .badgeList-2aoHPw {
  position: static; }
  .root-8LYsGj[data-user-id=""] .badgeList-2aoHPw:before {
    position: relative;
    content: " ";
    width: 24px;
    height: 24px;
    margin-right: 2px;
    background-color: var(--supporter-color);
    -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/supporter.svg);
    mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/supporter.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat; }
  .root-8LYsGj[data-user-id=""] .badgeList-2aoHPw:after {
    position: absolute;
    content: 'Theme Supporter';
    width: auto;
    max-width: 200px;
    height: auto;
    top: 0;
    left: 0;
    line-height: 16px;
    padding: var(--tooltip-padding);
    background-color: var(--tooltip-color);
    box-shadow: var(--tooltip-shadow);
    border-radius: var(--tooltip-radius);
    transform: translate(-42px, -38px);
    pointer-events: none;
    color: var(--tooltip-text-color);
    font-size: var(--tooltip-font-size);
    font-weight: 500;
    text-align: center;
    z-index: 3;
    opacity: 0; }
  .root-8LYsGj[data-user-id=""] .badgeList-2aoHPw:hover:after {
    opacity: 1; }

/* PROFILE ICONS - DEVELOPER */
.userPopout-2j1gM4[data-user-id="124276233478471680"] .profileBadges-2pItdR {
  position: absolute; }
  .userPopout-2j1gM4[data-user-id="124276233478471680"] .profileBadges-2pItdR:before {
    position: relative;
    content: " ";
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background-color: var(--supporter-color);
    -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/developer.svg);
    mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/developer.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat; }
  .userPopout-2j1gM4[data-user-id="124276233478471680"] .profileBadges-2pItdR:after {
    position: absolute;
    content: 'Theme Developer';
    width: 106px;
    max-width: 200px;
    height: auto;
    top: 0;
    left: 0;
    line-height: 16px;
    padding: var(--tooltip-padding);
    background-color: var(--tooltip-color);
    box-shadow: var(--tooltip-shadow);
    border-radius: var(--tooltip-radius);
    transform: translate(-52px, -38px);
    pointer-events: none;
    color: var(--tooltip-text-color);
    font-size: var(--tooltip-font-size);
    font-weight: 500;
    text-align: center;
    z-index: 3;
    opacity: 0; }
  .userPopout-2j1gM4[data-user-id="124276233478471680"] .profileBadges-2pItdR:hover:after {
    opacity: 1; }

.root-8LYsGj[data-user-id="124276233478471680"] .badgeList-2aoHPw {
  position: static; }
  .root-8LYsGj[data-user-id="124276233478471680"] .badgeList-2aoHPw:before {
    position: relative;
    content: " ";
    width: 24px;
    height: 24px;
    margin-right: 2px;
    background-color: var(--supporter-color);
    -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/developer.svg);
    mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/developer.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat; }
  .root-8LYsGj[data-user-id="124276233478471680"] .badgeList-2aoHPw:after {
    position: absolute;
    content: 'Theme Developer';
    width: auto;
    max-width: 200px;
    height: auto;
    top: 0;
    left: 0;
    line-height: 16px;
    padding: var(--tooltip-padding);
    background-color: var(--tooltip-color);
    box-shadow: var(--tooltip-shadow);
    border-radius: var(--tooltip-radius);
    transform: translate(-42px, -38px);
    pointer-events: none;
    color: var(--tooltip-text-color);
    font-size: var(--tooltip-font-size);
    font-weight: 500;
    text-align: center;
    z-index: 3;
    opacity: 0; }
  .root-8LYsGj[data-user-id="124276233478471680"] .badgeList-2aoHPw:hover:after {
    opacity: 1; }

/*# sourceMappingURL=user-icons.css.map */
