@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  BETTERDISCORD ADDONS
 *
 */


#{ $bdModalRoot } {
    @include add-translucence(before);

    #{ $bdModalFooter } {
        background-color: transparent;
        box-shadow: none;
        gap: 8px;
    }
}

#{ $bdAddonSearchBar } {
    @include input-format(auto);

    #{ $bdAddonSearchInput } {
        color: var(--input-text-color);

        &::-webkit-input-placeholder {
            color: var(--input-placeholder-color);
        }
    }
}

#{ $bdAddonList } {
    #{ $bdAddonCard } {
        @include card-format;
    }

    #{ $bdAddonCardHeader } {
        @include card-format--header;
    }

    #{ $bdAddonCardControls } {
        background-color: var(--card-color);
        border-radius: var(--button-radius);
        overflow: hidden;

        #{ $bdButtonFilled } {
            --button-background: transparent;
        }
    }
}

#{ $bdAddonStoreCard } {
    background-color: var(--card-color) !important;
	border-radius: var(--card-radius);
}
