@use '../../mixins' as *;

/*
 *
 *  BETTERDISCORD ADDONS
 *
 */


%bdModalRoot {
    @include add-translucence(before);

    %bdModalFooter {
        background-color: transparent;
        box-shadow: none;
        gap: 8px;
    }
}

%bdAddonSearchBar {
    @include input-format(auto);

    %bdAddonSearchInput {
        color: var(--input-text-color);

        &::-webkit-input-placeholder {
            color: var(--input-placeholder-color);
        }
    }
}

%bdButton {
    background-color: hsla(var(--accent-hsl), var(--accent-opacity));
    border-radius: var(--button-radius);
    color: var(--accent-text-color);
    text-shadow: none;

    &:hover {
        background-color: hsla(var(--accent-hsl), var(--accent-opacity));
    }

    &.selected {
        background-color: hsla(var(--accent-hsl), var(--accent-opacity)) !important;

        svg {
            fill: var(--accent-text-color) !important;
            filter: none;
        }
    }
}

%bdAddonList {
    %bdAddonCard {
        @include card-format;
    }

    %bdAddonCardHeader {
        @include card-format--header;
    }

    %bdAddonCardControls {
        background-color: var(--card-color);
        border-radius: var(--button-radius);
        overflow: hidden;

        %bdButtonFilled {
            --button-background: transparent;
        }
    }
}
