@use '../mixins' as *;

/*
 *
 *	APP ELEMENTS
 *
 */

* {
	font-family: var(--app-font), sans-serif !important;
}

::selection {
	background: hsla(var(--accent-hsl),0.35);
	text-shadow: none;
}

body,
%app,
%appMount {
	background-color: transparent;
}

%appMount {
	background: var(--app-bg) !important;
}

%bg,
%loadingScreen {
	background: var(--app-bg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

%bg {
	&%themeDark {
		background-color: var(--main-alt);
	}
}

%platformWin {
	%bg {
		top: calc((var(--window-title-bar) + 4px) * -1);
	}
}

%anchor,
%anchorIcon,
.low-saturation %anchor,
%textColorBrand {
	color: hsl(var(--accent-hsl));
}

%spinnerPath,
%spinnerPath2,
%spinnerPath3 {
	stroke: hsl(var(--accent-hsl--material-you)) !important;
}

%spinnerPath2 {
	opacity: 0.6;
}

%spinnerPath3 {
	opacity: 0.2;
}

%wanderingCubes {
	%wanderingCubesItem {
	    background-color: hsl(var(--accent-hsl--material-you));
	}
}

%titlebarWordmark {
	&%titlebarWordmarkWindows {
		width: auto;
		height: var(--window-title-bar);
		padding: 0 0 0 4px;
		line-height: var(--window-title-bar);
		font-size: 0.9em;
		color: var(--text-normal);

		&:before,
		&:after {
			position: relative;
			width: auto;
			height: 22px;
		}

		&:before {
			content: "Material";
			font-weight: 700;
		}

		&:after {
			content: "Discord";
		}

		svg {
			display: none;
		}
	}
}

%titlebarWin {
	&%titlebarWithframe {
		height: var(--window-title-bar);
		margin-top: 0;
	}

	%titlebarWinButton {
		height: var(--window-title-bar);
		top: 0;

		&:before {
			position: absolute;
			content: " ";
			width: 12px;
			height: 12px;
			background-position: center;
			-webkit-mask-size: contain;
			mask-size: contain;
			filter: brightness(40%);
			z-index: 2;
			opacity: 0;
			transition: var(--default-time) var(--default-animation) opacity;
			pointer-events: none;
		}

		&:hover {
			&:before {
				opacity: 1;
			}
		}

		&:after {
			position: absolute;
			content: " ";
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: var(--window-button);
			transition: var(--default-time) var(--default-animation);
			pointer-events: none;
		}

		&:active:after {
			opacity: 0.65;
		}

		&%titlebarWinButtonMinMax {
			&:nth-last-of-type(2) {
				&:hover {
					&:after {
						background-color: var(--window-button-max);
					}
				}

				&:before {
					@include add-icon(var(--window-button-max), window_maximize);
				}
			}

			&:nth-last-of-type(1) {
				&:hover {
					&:after {
						background-color: var(--window-button-min);
					}
				}

				&:before {
					@include add-icon(var(--window-button-min), window_minimize);
				}
			}
		}

		&%titlebarWinButtonClose {
			&:hover {
				&:after {
					background-color: var(--window-button-close);
				}
			}

			&:before {
				@include add-icon(var(--window-button-close), window_close);
			}
		}

		&:hover,
		&:active {
			background-color: transparent;
		}

		svg {
			display: none;
		}
	}
}

html:not(%appFocused) {
	%titlebarWin {
		%titlebarWinButton {
			&:after {
				background-color: var(--window-button-inactive);
			}

			&%titlebarWinButtonMinMax {
				&:after {
					background-color: var(--window-button-inactive);
				}
			}
		}
	}
}
