@use '../mixins' as *;

/*
 *
 *	APP ELEMENTS
 *
 */

* {
	font-family: var(--app-font), sans-serif !important;
}

::selection {
	background: hsl(var(--accent-hsl),0.35);
	text-shadow: none;
}

body,
%app,
%appMount {
	background-color: transparent;
}

%appMount {
	background: var(--app-bg);
}

%bg,
%loadingScreen {
	background: var(--app-bg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

%bg {
	&%themeDark {
		background-color: var(--main-alt);
	}
}

%platformWin {
	%bg {
		top: calc((var(--app-title-bar-height) + 4px) * -1);
	}
}

%layers {
    z-index: 1000;
}

%anchor,
%anchorIcon,
.low-saturation %anchor,
%textColorBrand {
	color: hsl(var(--accent-hsl));
}

/* APP ELEMENTS -> LIGHT THEME WITH DARK SIDEBAR */

%bg%themeDark {
    &:after {
        position: absolute;
        content: " ";
        width: var(--card-radius-big);
        height: calc(100vh - 22px);
        top: 26px;
        left: calc(72px + 240px);
        background-color: var(--chat-color);
        pointer-events: none;
    }
}

%channelsSidebar {
    &%themeDark {
        + %chat,
        + %friends,
        + %libraryContainer,
        + %nitroHomePage,
        + %shopContainer,
        + %familyCenterContent {
            border-radius: var(--card-radius-big);
            border-bottom-right-radius: 0;
        }
    }
}
