@use "../classes" as *;
@use "../mixins" as *;

/*
 *
 *	APP ELEMENTS
 *
 */

* {
  font-family: var(--app-font), sans-serif !important;
  font-variation-settings:
    "slnt" 0,
    "wdth" var(--app-font-width),
    "GRAD" 0,
    "ROND" var(--app-font-roundness);
}

::selection {
  background: hsl(var(--accent-hsl), 0.35);
  text-shadow: none;
}

body,
#{ $app } {
  background-color: transparent;
}

#{ $bg },
#{ $appMount },
#{ $loadingScreen } {
  background: var(--app-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#{ $bg } {
  background-color: var(--main-alt);

  &#{ $themeDark } {
    background-color: var(--main-alt);
  }
}

#{ $appMount } {
  --custom-channel-textarea-text-area-height: calc(
    var(--main-textarea-height) - (var(--main-textarea-inner-padding) * 2)
  );
}

#{ $shakeable } {
  background-color: transparent;
}

#{ $platformWin } {
  #{ $bg } {
    inset-block-start: calc((var(--app-title-bar-height) + 4px) * -1);
  }
}

#{ $layers } {
  //z-index: 1000;
}

#{ $anchor },
#{ $anchorIcon },
#{ $lowSaturation } #{ $anchor },
#{ $textColorBrand } {
  color: hsl(var(--accent-hsl));
}

/* APP ELEMENTS -> LIGHT THEME WITH DARK SIDEBAR */

#{ $channelsSidebar } {
  &#{ $themeDark } {
    + #{ $chat },
    + #{ $friends },
    + #{ $libraryContainer },
    + #{ $nitroHomePage },
    + #{ $shopContainer },
    + #{ $familyCenterContent } {
      border-radius: var(--card-radius-big);
      border-bottom-right-radius: 0;
    }
  }
}
