/*
 *
 *	LOADING ICONS
 *
 */

%spinnerPath,
%spinnerPath2,
%spinnerPath3 {
	stroke: hsl(var(--accent-hsl--material-you)) !important;
}

%spinnerPath2 {
	opacity: 0.6;
}

%spinnerPath3 {
	opacity: 0.2;
}

%wanderingCubes {
	%wanderingCubesItem {
	    background-color: hsl(var(--accent-hsl--material-you));
	}
}
