@use '../mixins' as *;

/*
 *
 *	LOGIN SCREEN
 *
 */

%authBox {
	padding: 24px 24px 0;
	@include popout-format(true);

	&:last-child {
		padding-bottom: 24px;
	}

	%mainLoginContainer {
		margin-right: 24px;
		padding-right: 24px;
		border-right: 1px solid var(--card-border-color);
	}

	%headlingXlSemibold {
		margin-bottom: 16px;
		font-weight: 400;
	}

	%verticalSeparator {
		display: none;
	}

	%qrLogin {
		height: 320px;
	}

	%needAccount {
		line-height: 24px;
	}

	%buttonLink {
		%size14 {
			line-height: var(--button-height);
		}
	}

	&:not(%chooseAccountAuthBox) {
		%buttonLink {
			--button-height: 17px;
			--button-padding: 0;
			--button-radius: 0;

			font-size: 14px !important;
			font-weight: 400 !important;

			&:after {
				display: none;
			}

			&:hover {
				text-decoration: underline !important;
			}
		}
	}

	%needAccount + %buttonLink {
		position: relative;
		top: -3px;
	}
}

%authBoxNavRow {
	height: auto;
	padding: 24px;
	background-color: transparent !important;

	%button {
		margin: 0;
	}

	.button-1cRKG6 {
		margin: 0;
	}
}
