@use "../classes" as *;
@use "../mixins" as *;

/*
 *
 *	LOGIN SCREEN
 *
 */

#{ $authBox } {
  padding: 24px 24px 0;
  @include popout-format(true);

  &:last-child {
    padding-block-end: 24px;
  }

  #{ $mainLoginContainer } {
    margin-inline-end: 24px;
    padding-inline-end: 24px;
    border-inline-end: 1px solid var(--card-border-color);
  }

  #{ $headlingXlSemibold } {
    margin-block-end: 16px;
    font-weight: 400;
  }

  #{ $verticalSeparator } {
    display: none;
  }

  #{ $qrLogin } {
    height: 320px;
  }

  #{ $needAccount } {
    line-height: 24px;
  }

  #{ $buttonLink } {
    #{ $size14 } {
      line-height: var(--button-height);
    }
  }

  &:not(#{ $chooseAccountAuthBox }) {
    #{ $buttonLink } {
      --button-height: 17px;
      --button-padding-start: 0;
      --button-padding-end: 0;
      --button-radius: 0;

      font-size: var(--button-font-size) !important;
      font-weight: 400 !important;

      &:after {
        display: none;
      }

      &:hover {
        text-decoration: underline !important;
      }
    }
  }

  #{ $needAccount } + #{ $buttonLink } {
    position: relative;
    inset-block-start: -3px;
  }
}

#{ $authBoxNavRow } {
  height: auto;
  padding: 24px;
  background-color: transparent !important;

  #{ $button } {
    margin: 0;
  }

  .button-1cRKG6 {
    margin: 0;
  }
}
