/*
 *
 *	APP WATERMARK
 *
 */

%titlebarWordmark {
	&%titlebarWordmarkWindows {
		width: auto;
		height: var(--app-title-bar-height);
		padding: 0 0 0 4px;
		line-height: var(--app-title-bar-height);
		font-size: 0.9em;
		color: var(--text-normal);

		&:before,
		&:after {
			position: relative;
			width: auto;
			height: var(--app-title-bar-height);
		}

		&:before {
			content: var(--app-watermark-one);
			font-weight: 700;
		}

		&:after {
			content: var(--app-watermark-two);
		}

		svg {
			display: none;
		}
	}
}
