/*
 *
 *  CHANNELS LIST
 *
 */

%platformWin {
    %channelsSidebar {
        border-radius: var(--app-card-radius) !important;
    }
}

%channelsSidebar {
    margin: 0 var(--app-card-margin) 0 0;
    background-color: var(--app-foreground);

    &%channelSidebarHidden {
        margin: 0;
    }

    %channelsContainer {
        background-color: transparent;
    }
}

body:not(:has(:is(.container_6sXIoE, #vc-spotify-player))) {
    %channelsSidebar  {
        height: var(--content-full-height);
    }
}

%channelLink {
    border-radius: var(--menu-item-radius);
}

%channelWrapper {
    &:hover {
        %channelLink {
            background-color: var(--background-tinted-hover);
        }
    }
}

%channelWrapperSelected {
    %channelLink {
        background-color: var(--background-tinted-active);
    }

    &:hover {
        %channelLink {
            background-color: var(--background-tinted-highlight);
        }
    }
}

%channelsHeader {
    height: var(--header-bar-height);
    padding: 0 16px;
    background-color: var(--header-bar-color) !important;
    border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
    box-shadow: none;

    %channelsHeaderPrimaryInfo {
        height: var(--header-bar-height);
    }
}

%channelHasBanner {
    --header-bar-color: transparent;
}
