/*
 *
 *  CHANNELS LIST PANELS
 *
 */

%panels {
    background-color: var(--app-foreground);
    border-radius: 0 0 var(--app-card-radius) var(--app-card-radius);
    //z-index: 103;
}

%activityPanel {
    background: transparent !important;
    border-bottom: none;

    + %connectionPanelWrapper {
        &:not(:empty) {
            border-top: 1px solid var(--sidebar-panel-border);
        }
    }
}

%connectionPanelWrapper {
    transition: var(--default-time) var(--default-animation) margin-bottom;
}

%connectionPanel {
    background-color: transparent;
    border-bottom: none;
}

%connectionPanelActionButtons {
    %button {
        --button-padding: 0 12px;

        path {
            &[fill] {
                fill: currentColor !important;
            }

            &[stroke] {
                stroke: currentColor !important;
            }
        }
    }
}

%accountPanel {
    background: transparent !important;
    transition: var(--default-time) var(--default-animation) margin-bottom;
}

%panelButton {
    border-radius: 16px;
}

%accountPanelWithTagAsButton,
%accountPanelWithTagless {
    &:hover {
        background-color: var(--background-tinted-hover);
        border-radius: 20px;
    }
}

%accountPanelGameActivityToggleAdded {
    %accountPanelWithTagAsButton {
        flex: 0;
        min-width: 32px;
    }
}
