/*
 *
 *  PRIVATE CHANNELS
 *
 */

%privateChannels {
    &,
    %privateChannelsScroller {
        background-color: transparent;
    }
}

%privateChannelsSearchBar {
    height: var(--header-bar-height);
    padding: 0 16px;
    background-color: var(--header-bar-color);
    border-radius: var(--app-card-radius) var(--app-card-radius) 0 0;
    box-shadow: none;

    %privateChannelsSearchBarComponent {
        padding: 0 12px;
        background-color: var(--input-color);
        border-radius: 14px;
        color: var(--input-placeholder-color);
    }
}

%privateChannelInner {
    border-radius: var(--menu-item-radius);

    &:hover {
        background-color: var(--background-tinted-hover);
    }

    &%privateChannelSelected {
        background-color: var(--background-tinted-active);

        &:hover {
            background-color: var(--background-tinted-highlight);
        }
    }
}
