@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  ADD SERVER MODAL
 *
 */

#{ $addServerContainer } {
    --header-primary: #ddd;
	--header-secondary: #aaa;
    --text-normal: #aaa;
    --interactive-normal: #aaa;

    #{ $buttonBlank } {
        color: hsl(var(--accent-hsl));
    }

    #{ $inputWrapper } {
        background-color: transparent;
    }
}

#{ $addServerHeader } {
    padding-block: 24px 12px;
    padding-inline: 16px;
}

#{ $addServerTemplatesList } {
    margin-block-start: 0;
}

#{ $addServerCard } {
    @include card-format(false, true);
}

#{ $addServerRowContainer } {
    @include card-format(false, true);
}
