@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  BOT ACTIONS
 *
 */

#{ $applicationPermissionsCardHeader }#{ $applicationPermissionsCardHeaderInModal },
#{ $applicationPermissionsCardNoItemsSelected } {
    padding: 8px;
}

#{ $requiredPermissionsBanner } {
    gap: 16px;
    @include card-format;

    #{ $requiredPermissionsBannerMessage } {
        margin: 0;
    }

    #{ $button } {
        width: 78px;
    }
}
