@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  CHANGE AVATAR
 *
 */

#{ $settingsProfileOptionBox } {
    @include card-format(false, true);

    #{ $settingsProfileContentCircle } {
        background-color: hsla(var(--accent-hsl),var(--accent-opacity));

        #{ $settingsProfileUploadIcon } {
            color: var(--accent-text-color);
            filter: none;
        }
    }
}
