@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  EVENTS
 *
 */

#{ $eventModalHeader } {
    border: none;
    box-shadow: var(--popout-header-shadow);
}

#{ $eventStatusBrand } {
    color: hsl(var(--accent-hsl));
}

#{ $eventCard } {
    padding: 0;
    @include card-format(false, true);

    #{ $eventCardContent },
    #{ $eventCardFooter } {
        padding: 16px;
    }

    #{ $eventCardContent } {
        box-shadow: var(--card-header-shadow);
    }

    #{ $eventCardRsvpCount } {
        background-color: var(--background-modifier-selected);
    }

    #{ $eventCardDivider } {
        display: none;
    }
}

/* EVENTS -> CREATE EVENT */

#{ $eventCreateSelectedProgressBar } {
    background-color: hsla(var(--accent-hsl),var(--accent-opacity));
}

#{ $eventPreviewCard } {
    @include card-format(true);
}
