@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  IMAGE VIEWER
 *
 */

#{ $imageViewerActionButtons },
#{ $imageViewerCloseButton } {
    --popout-radius: 23px;

    @include liquidGlass;
}

#{ $imageViewerCloseButton } {
    width: 38px;
    height: 38px;
    background-color: transparent;

    #{ $imageViewerCloseButtonInner } {
        background-color: var(--popout-color);
        border: none;
        box-shadow: var(--liquid-glass-shadow);
    }
}
