@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  MODALS
 *
 */

#{ $modalRoot } {
    @include liquidGlass($blur: calc(var(--popout-blur) * 1.25));

    &#{ $userProfileRoot } {
        border-radius: var(--popout-radius);
    }

    &#{ $modalSmall } {
        min-height: 75px;
    }

    &#{ $modalRootNoBg },
    &#{ $modalRootTransparent } {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    #{ $modalRootBg } {
        background-color: var(--popout-color);
        border-radius: var(--popout-radius);
    }

    &#{ $groupInvitePopout } {
		backdrop-filter: blur(var(--popout-blur));
	}

    #{ $modalHeader } {
        background-color: transparent;
        box-shadow: var(--popout-header-shadow);

        #{ $modalTitle } {
            margin-block-end: 0;
        }

        #{ $modalCloseButton },
        #{ $modalHeaderButton } {
            --button-height: 32px;

            position: absolute;
            width: var(--button-height);
			height: var(--button-height);
            inset-block-start: 12px;
			inset-inline-end: 12px;
			margin: 0;
			padding: 0;
        }

        #{ $modalCloseButton } {
            #{ $buttonContents } {
                height: 24px;
            }

            svg {
                height: 24px !important;
				transform: scale(0.85);
			}
        }

        #{ $modalHeaderButton } {
            display: flex;
            justify-content: center;
            align-items: center;

            #{ $modalHeaderButtonIcon } {
                height: 24px;
                transform: scale(0.85);
            }
        }
    }

    #{ $modalContent } {
        padding: 16px;
    }

    #{ $modalBody } {
        background-color: transparent;
        border: none;
    }

    #{ $modalFooter } {
        background-color: transparent !important;
		box-shadow: none;
    }
}

#{ $backdrop } {
    background-color: rgba(0,0,0,0.3) !important;
	backdrop-filter: blur(calc(var(--popout-blur) * 1.4)) !important;
	opacity: 1 !important;
}

#{ $carouselModal } {
    --popout-blur: 0px;
    --popout-shadow: none;

    backdrop-filter: blur(0px) saturate(100%) brightness(1);
}

/* MODALS -> V2 MODALS */

#{ $modalV2Container } {
    @include liquidGlass($blur: calc(var(--popout-blur) * 1.25));
}
