@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  QUICKSWITCHER
 *
 */

#{ $quickswitcher } {
    @include add-translucence(null, true);

    #{ $quickswitcherInput } {
        margin-bottom: 16px;
        @include input-format(42px, 21px);
        font-size: 1.1em;
    }

    #{ $quickswitcherScroller } {
        margin-top: 0;
        background-color: transparent;
    }

    #{ $quickswitcherResult } {
        border-radius: var(--list-item-radius);
    }
}
