@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  REACTIONS
 *
 */

#{ $reactionList } {
    background-color: var(--sidebar-color) !important;

    #{ $reactionDefault },
    #{ $reactionSelected } {
        border-radius: var(--button-radius);
    }
}

#{ $reactors } {
    background-color: transparent !important;
}
