@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  SERVER QUESTIONS
 *
 */

#{ $promptGradient } {
    background: linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.85) 100%);
}

#{ $prompt } {
    @include add-translucence(null, true, true, true);

    #{ $promptNavButtons } {
        background-color: transparent;
    }
}

#{ $channelsAndRolesContainer } {
    background-color: transparent !important;
}

#{ $channelsAndRolesPrompt } {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    border: none;
}

#{ $promptOptionButtonWrapper } {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    border-color: transparent;

    &:hover {
        background-color: var(--card-color-hover);
    }

    &#{ $promptOptionButtonWrapperSelected } {
        background-color: var(--card-color-select);
        border-color: hsl(var(--accent-hsl));
    }
}

#{ $promptOptionButton } {
    background-color: transparent;
    @include card-format(false, true);
}

#{ $promptOptionCheckIcon } {
    background-color: hsl(var(--accent-hsl));

    path {
        fill: var(--accent-text-color);
    }
}

#{ $promptOptionMemberCount } {
    @extend #{ $promptOptionCheckIcon };

    #{ $textXsNormal } {
        color: var(--accent-text-color) !important;
    }
}
