@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  SERVER QUESTIONS
 *
 */

#{ $promptGradient } {
    background: linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.85) 100%);
}

#{ $prompt } {
    @include add-translucence(null, true, true, true);

    #{ $promptNavButtons } {
        background-color: transparent;
    }
}

#{ $promptOptionButton } {
    @include card-format(false, true);
}

#{ $promptOptionCheckIcon } {
    background-color: hsl(var(--accent-hsl));

    path {
        fill: var(--accent-text-color);
    }
}

#{ $promptOptionMemberCount } {
    @extend #{ $promptOptionCheckIcon };

    #{ $textXsNormal } {
        color: var(--accent-text-color) !important;
    }
}
