@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  USER PROFILE
 *
 */

#{ $userProfileModalInner }#{ $userProfileInnerThemedNonPremium } {
	background: none;
}

#{ $fullSizeOverlayBackground } {
    border: none;
}

#{ $userProfileModalBadgeList } {
	height: var(--button-height);
	padding: 0 4px;
	border-radius: var(--button-radius);
}

#{ $userProfileModalNote } {
	margin: 0;

	#{ $userProfileNoteTextArea } {
		border-radius: 11px;

		&:focus {
			background-color: rgba(var(--textarea-color), var(--textarea-alpha-focus));
		}
	}
}

#{ $userProfileModalConnectedAccount } {
	@include card-format(false, true);
}

/* USER PROFILE -> LISTS */

#{ $listRow } {
	border-radius: var(--card-radius);

	&:hover {
		background-color: var(--card-color);
	}
}
