/*
 *
 *  USER PROFILE
 *
 */

%userModalAvatar {
	background-color: transparent;
	border: none;
	box-shadow: var(--popout-shadow);

	svg {
		filter: none;
	}
}

%userModalTopSection {
	background-color: rgba(0,0,0,var(--popout-header-opacity));
}

%userModalBody {
	background-color: transparent;
}

%userPopoutNote {
	textarea {
		padding: 7px 8px;
		border-radius: var(--input-radius);
		font-size: 14px;
	}
}
