@use '../mixins' as *;

/*
 *
 *  CARDS
 *
 */

%settingsCard,
%settingsCardBackgroundAccent {
	@include card-format(true);
}

%settingsLongCardButton {
	background-color: var(--card-color) !important;

	&:hover {
		background-color: var(--card-color-hover) !important;
	}
}

%communityUpsellContainer {
	@include card-format;

	%communityUpsellFooter {
		background-color: transparent;
	}
}
