@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  CARDS
 *
 */

#{ $settingsCard },
#{ $settingsCardPrimary },
#{ $settingsCardBackgroundAccent } {
	@include card-format(true);
}

#{ $settingsCardPrimary } {
	border-style: solid !important;
	border-width: 1px !important;
	border-color: transparent !important;

	#{ $applicationPermissionsCardHeader } {
		background-color: unset;
		border-bottom: 1px solid var(--card-color);
	}

	#{ $applicationPermissionsButtonGroup } {
		background-color: var(--card-color);
		border-radius: var(--button-radius);
		border: none;
		overflow: hidden;
	}
}
#{ $settingsLongCardButton } {
	background-color: var(--card-color) !important;

	&:hover {
		background-color: var(--card-color-hover) !important;
	}
}

#{ $settingsCardWrapper } {
	@include card-format(false, true);
}

#{ $settingsCardWrapperInner } {
	&:hover {
		background-color: transparent;
	}
}

#{ $communityUpsellContainer } {
	@include card-format;

	#{ $communityUpsellFooter } {
		background-color: transparent;
	}
}

#{ $dropsHelpText },
#{ $promotionCard } {
	@include card-format;
}
