@use '../classes' as *;

/*
 *
 *  CHECKBOXES
 *
 */

#{ $checkbox } {
	border-color: hsla(var(--accent-hsl),var(--accent-opacity));

	&#{ $checkboxChecked } {
		background-color: hsla(var(--accent-hsl),var(--accent-opacity)) !important;
		border-color: hsla(var(--accent-hsl),var(--accent-opacity)) !important;

		path {
			fill: var(--accent-text-color) !important;
		}
	}
}

/* CHECKBOXES -> CONTEXT MENU */

#{ $menuPopoutColorDefault } {
    #{ $menuPopoutCheckbox } {
        color: hsla(var(--accent-hsl),var(--accent-opacity));
    }

    #{ $menuPopoutCheck } {
        color: var(--accent-text-color);
    }

    &#{ $menuPopoutItemHover } {
        #{ $menuPopoutCheckbox } {
            color: hsla(var(--accent-hsl),var(--accent-opacity));
            fill: currentColor;
        }

        #{ $menuPopoutCheck } {
            color: var(--accent-text-color);
            fill: currentColor;
        }
    }
}
