/*
 *
 *  CHECKBOXES
 *
 */

%checkbox {
	border-color: hsla(var(--accent-hsl),var(--accent-opacity));

	&%checkboxChecked {
		background-color: hsla(var(--accent-hsl),var(--accent-opacity)) !important;
		border-color: hsla(var(--accent-hsl),var(--accent-opacity)) !important;

		path {
			fill: var(--accent-text-color) !important;
		}
	}
}
