@use '../mixins' as *;

/*
 *
 *  INPUTS
 *
 */

%input,
%copyInput {
    @include input-format;

    &::-webkit-input-placeholder {
        color: var(--textarea-placeholder-color);
    }

    &%multiInput {
        background-color: transparent;
    }
}

%multiInput {
    %inputWrapper {
        margin-right: 8px;
    }
}

%multiInputLast {
    &:before {
        display: none;
    }
}

/* INPUTS -> OPTION PILLS */

%optionPill {
    background-color: var(--textarea-block-color) !important;
    border-radius: var(--button-radius);
    border-color: transparent !important;

    &%optionPillSelected {
        border-color: hsl(var(--accent-hsl)) !important;
    }

    &%optionPillErrored {
        border-color: hsl(var(--alert-hsl)) !important;
    }

    %optionPillKey {
        background-color: var(--textarea-block-color) !important;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }
}
