@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  INPUTS
 *
 */

#{ $inputWrapper } {
    @include input-format($height: var(--input-height), $important: false);

    #{ $input } {
        background-color: transparent;

        &::-webkit-input-placeholder {
            color: var(--input-placeholder-color);
        }
    }
}

#{ $multiInput } {
    #{ $inputWrapper } {
        margin-right: 8px;
    }
}

#{ $multiInputLast } {
    &:before {
        display: none;
    }
}

#{ $fileUploadInput } {
    width: auto;
}

#{ $fileUploadButton } {
    padding: 0 12px;
}

/* INPUTS -> OPTION PILLS */

#{ $optionPill } {
    background-color: var(--textarea-block-color) !important;
    border-radius: var(--button-radius);
    border-color: transparent !important;

    &#{ $optionPillSelected } {
        border-color: hsl(var(--accent-hsl)) !important;
    }

    &#{ $optionPillErrored } {
        border-color: hsl(var(--alert-hsl)) !important;
    }

    #{ $optionPillKey } {
        background-color: var(--textarea-block-color) !important;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
    }
}
