@use '../classes' as *;

/*
 *
 *  NOTICES
 *
 */

#{ $notice } {
	box-shadow: none;

	&#{ $noticeColorInfo },
	&#{ $noticeBrand } {
		background-color: hsla(var(--accent-hsl),var(--accent-opacity));
		color: var(--accent-text-color);

		#{ $noticeClose } {
			opacity: 0.75;

			&:hover {
				opacity: 1;
			}
		}
	}

	&#{ $noticeBrand },
	&#{ $noticeStreamerMode } {
		border-radius: 0;
	}

	&#{ $noticeBrand } {
		#{ $noticeBrandButton } {
			&:after {
				opacity: 0.15;
			}
		}
	}
}
