@use '../mixins' as *;

/*
 *
 *  RADIO BUTTONS
 *
 */

%radioItem {
	@include card-format(true, true);

	&[aria-checked=true] {
		background-color: var(--card-color-select) !important;
	}

	&[aria-checked=true] {
		path,
		%radioIconChecked {
			fill: hsla(var(--accent-hsl),var(--accent-opacity));
		}
	}

    %radioBar {
        border-radius: var(--card-radius);
    }
}
