@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  RADIO BUTTONS
 *
 */

#{ $radioItem } {
	@include card-format(true, true);

	&[aria-checked=true] {
		background-color: var(--card-color-select) !important;
	}

	&[aria-checked=true] {
		path,
		#{ $radioIconChecked } {
			fill: hsla(var(--accent-hsl),var(--accent-opacity));
		}
	}

    #{ $radioBar } {
        border-radius: var(--card-radius);
    }
}

/* RADIO BUTTONS -> CONTEXT MENU */

#{ $menuPopoutItem } {
	&[role="menuitemradio"][aria-checked="true"] {
		#{ $menuPopoutIcon } {
			color: hsl(var(--accent-hsl));
		}
	}
}

#{ $menuPopoutIcon } {
    #{ $menuPopoutRadio } {
        color: currentColor !important;
    }
}

/* RADIO BUTTONS -> RADIO REFRESH */

#{ $radioIndicatorChecked } {
    #{ $radioIndicatorRefreshIconFill } {
        fill: hsl(var(--accent-hsl));
    }

    #{ $radioIndicatorRefreshIconStroke } {
        stroke: hsl(var(--accent-hsl));
    }

    #{ $radioIndicatorRefreshIcon } {
        fill: var(--accent-text-color);
    }
}
