@use "../classes" as *;

/*
 *
 *  RADIO BUTTONS
 *
 */

#{ $radioGroupOption } {
  &[data-selected] {
    #{ $radioOuterBase },
    #{ $radioOuterFill } {
      fill: hsla(var(--accent-hsl), var(--accent-opacity));
    }

    #{ $radioInnerDot} {
      fill: var(--accent-text-color);
    }

    &:not([data-disabled]) {
      &:hover {
        #{ $radioOuterBase },
        #{ $radioOuterFill } {
          fill: hsla(var(--accent-hsl));
        }

        #{ $radioInnerDot} {
          fill: var(--accent-text-color);
        }
      }
    }
  }
}
