@use '../classes' as *;

/*
 *
 *	SCROLLBARS
 *
 */

#{ $scrollbarThin },
#{ $scrollbarAuto } {
    &::-webkit-scrollbar {
        width: var(--scrollbar-width);
        height: var(--scrollbar-width);

        &-track,
        &-thumb {
            border: none;
        }

        &-thumb {
            background-color: rgba(var(--scrollbar-color),var(--scrollbar-opacity));
            border-radius: calc(var(--scrollbar-width) / 2);
        }
    }
}

#{ $scrollbarThin } {
    --scrollbar-width: var(--scrollbar-thin-width);
}

#{ $scrollbarNone } {
	--scrollbar-width: 0;
}
