/*
 *
 *	SCROLLBARS
 *
 */

::-webkit-scrollbar {
	width: var(--scrollbar-width) !important;
	height: var(--scrollbar-width) !important;
    background: transparent !important;
	border-color: transparent !important;

    &-thumb {
    	background: rgba(var(--scrollbar-color),var(--scrollbar-opacity)) !important;
    	border-radius: calc(var(--scrollbar-width) / 2) !important;

    	&:hover {
    		background: rgba(var(--scrollbar-color),var(--scrollbar-opacity-hover)) !important;
    	}
    }

    &-track,
    &-track-piece {
        background: transparent !important;
    	border-color: transparent !important;
    }
}

%scrollbarThin {
	&::-webkit-scrollbar {
		width: calc(var(--scrollbar-width) / 2) !important;
		height: calc(var(--scrollbar-width) / 2) !important;
	}
}

%scrollbarNone {
	&::-webkit-scrollbar {
		width: 0 !important;
		height: 0 !important;
	}
}
