@use '../mixins' as *;

/*
 *
 *  SELECT MENUS
 *
 */

%selectMenu {
    padding: 6px 6px 6px 12px;

    &%selectMenuFilled {
        @include input-format;
    }

    %selectMenuSubtitle {
        color: var(--text-muted);
    }
}

%selectMenuPopout {
    @include add-translucence(null, true);
    border: none;

    &:not(%selectMenuPopoutPositionTop) {
        margin-top: 8px;
    }

    &%selectMenuPopoutPositionTop {
        margin-bottom: 8px;
        border-radius: var(--popout-radius);
    }

    %selectMenuOption {
        &:hover {
            background-color: var(--background-modifier-hover);
        }

        &[aria-selected=true] {
            background-color: var(--background-modifier-selected) !important;
        }
    }
}
