@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  SELECT MENUS
 *
 */

#{ $selectMenuWrapper } {
	&#{ $selectMenuWrapperWithBg } {
        min-height: var(--input-height);
        height: var(--input-height);
    	padding: var(--input-padding);
        background-color: var(--input-color);
    	border-radius: var(--input-radius);
    	border: none;
    }
}

#{ $selectMenuContainer } {
    &[data-variant=text-only] {
        #{ $selectMenu } {
            background-color: var(--liquid-glass-color-subtle);
        }
    }
}

#{ $selectMenu } {
	padding-block: var(--space-8);
	padding-inline: var(--space-16) var(--space-8);

    #{ $selectMenuSubtitle } {
        color: var(--text-muted);
    }
}

#{ $selectMenuPopout } {
	@include liquidGlass;

	padding-block: var(--space-8);
	padding-inline: var(--space-8) !important;

    &:not(#{ $selectMenuPopoutPositionTop }) {
        margin-block-start: var(--space-8);
    }

    &#{ $selectMenuPopoutPositionTop } {
        margin-block-end: var(--space-8);
        border-radius: var(--popout-radius);
    }

    #{ $selectMenuOption } {
		border-radius: calc(var(--popout-radius) - var(--space-8));

        &:hover {
            background-color: var(--background-modifier-hover);
        }

        &[aria-selected=true] {
            background-color: var(--background-modifier-selected) !important;
        }
    }
}
