@use "../classes" as *;
@use "../mixins" as *;

/*
 *
 *  SELECT MENUS
 *
 */

#{ $selectMenuWrapper } {
  &#{ $selectMenuWrapperWithBg } {
    min-height: var(--input-height);
    height: var(--input-height);
    padding: var(--input-padding);
    background-color: var(--input-color);
    border-radius: var(--input-radius);
    border: none;
  }
}

#{ $selectMenu } {
  padding-block: 6px;
  padding-inline: 12px 6px;

  #{ $selectMenuSubtitle } {
    color: var(--text-muted);
  }
}

#{ $selectMenuPopout } {
  @include add-translucence(null, true);
  border: none;

  &:not(#{ $selectMenuPopoutPositionTop }) {
    margin-block-start: 8px;
  }

  &#{ $selectMenuPopoutPositionTop } {
    margin-block-end: 8px;
    border-radius: var(--popout-radius);
  }

  #{ $selectMenuOption } {
    &:hover {
      background-color: var(--background-modifier-hover);
    }

    &[aria-selected="true"] {
      background-color: var(--background-modifier-selected) !important;
    }
  }
}
