@use '../classes' as *;

/*
 *
 *  SLIDERS
 *
 */

#{ $sliderBar } {
    background-color: var(--background-modifier-selected) !important;

    #{ $sliderBarFill } {
        background-color: hsla(var(--accent-hsl), calc(var(--accent-opacity) * 0.8));
    }
}

#{ $sliderGrabber } {
    background-color: hsla(var(--accent-hsl), var(--accent-opacity));
    border-color: hsla(var(--accent-hsl), var(--accent-opacity));
    box-shadow: var(--popout-shadow);
}
