@use '../classes' as *;

/*
 *
 *  SWITCHES
 *
 */

#{ $switchContainer } {
    background-color: var(--switch-slider-color) !important;

    #{ $switchSlider } {
        rect {
            fill: var(--switch-knob-color) !important;
        }

        path {
            fill: var(--switch-slider-color) !important;
        }
    }

    &#{ $switchContainerChecked } {
        --switch-slider-color: hsla(var(--accent-hsl),var(--accent-opacity));
        --switch-knob-color: var(--accent-text-color);
    }

    svg {
        filter: none;
    }
}

/* SWITCHES -> BD SWITCHES */

#{ $bdSwitchContainer } {
    #{ $bdSwitchBody } {
        --switch-color: var(--switch-slider-color);

        #{ $bdSwitchHandle } {
            fill: var(--switch-knob-color);
        }
    }

    input {
        &:active {
            + #{ $bdSwitchBody } {
    			--switch-color: var(--switch-slider-color);
    		}
        }

        &:checked {
            + #{ $bdSwitchBody } {
    			--switch-color: hsla(var(--accent-hsl),var(--accent-opacity));
                --switch-knob-color: var(--accent-text-color);
    		}

            &:active {
				+ #{ $bdSwitchBody } {
					--switch-color: hsla(var(--accent-hsl),var(--accent-opacity));
				}
			}
        }
    }
}

#{ $bdSwitchDisabled } {
    opacity: 0.3;
    filter: none;
}
