@use '../classes' as *;

/*
 *
 *  SWITCHES
 *
 */

#{ $switchIndicator } {
	background-color: var(--switch-slider-color) !important;
	border: none !important;
	box-shadow: var(--liquid-glass-shadow);

    // Switch in on state
    &:has(#{ $switchThumb }[style="left: 24px;"]) {
        --switch-slider-color: hsl(var(--accent-hsl), var(--accent-opacity));
        --switch-knob-color: hsl(from var(--accent-text-color) h s l / var(--accent-opacity));
    }

    #{ $switchThumb } {
		margin: 0;
        filter: none;

        rect {
            fill: var(--switch-knob-color) !important;
        }

        svg {
            path {
                fill: var(--switch-slider-color);
            }
        }
    }
}
