/*
 *
 *  TAB BAR
 *
 */

%topPill {
    %topPillItem {
        background-color: transparent !important;
        border-radius: var(--button-radius);
        color: var(--interactive-normal) !important;

        &:hover {
            background-color: var(--background-modifier-hover) !important;
            color: var(--interactive-hover) !important;
        }

        &%topPillItemSelected {
            background-color: var(--background-modifier-selected) !important;
            color: var(--interactive-active) !important;
        }
    }
}
