/*
 *
 *  TAB BAR
 *
 */

%topPill {
    %topPillItem {
        border-radius: var(--button-radius);

        &:hover {
            background-color: var(--background-modifier-hover) !important;
        }

        &%topPillItemSelected {
            background-color: var(--background-modifier-selected) !important;
        }
    }
}
