@use '../classes' as *;

/*
 *
 *  TAB BAR
 *
 */

#{ $tabBar } {
    padding: 16px 0;
    gap: 24px;

    #{ $item } {
        min-width: 40px;
        margin: 0;
        padding: 2px 8px;
        background-color: transparent !important;
        border-radius: var(--button-radius);
        border-bottom: none;
        line-height: 20px;
        font-size: 16px;
        color: var(--interactive-normal) !important;

        &:first-child {
            margin-left: 0;
        }

        &:after {
            display: none;
        }

        &:hover {
            background-color: var(--background-modifier-hover) !important;
            color: var(--interactive-hover) !important;
        }

        &#{ $itemSelected } {
            background-color: var(--background-modifier-selected) !important;
            color: var(--interactive-active) !important;
        }

        + #{ $item } {
            margin-left: 0;
        }
    }
}
