@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  TOASTS
 *
 */

#{ $toast },
#{ $bdToast } {
	top: -56px;
	margin-top: 8px;
	padding: 10px !important;
	@include add-translucence(null, true);
	border-radius: 16px;
	color: var(--text-normal);
}

#{ $bdToast } {
    &:before {
    	background-color: rgba(0,0,0,0.5);
    	border-radius: 17px;
    }
}
