@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  TOOLTIP
 *
 */

#{ $tooltip } {
    background-color: var(--tooltip-color) !important;
    border-radius: var(--tooltip-radius);

    #{ $tooltipPointer } {
        border-top-color: var(--tooltip-color) !important;
    }

    #{ $tooltipContent },
    #{ $tooltipGuildNameText },
    #{ $tooltipClickCTA } {
		color: var(--tooltip-text-color);
        text-shadow: none;
    }

    #{ $anchor } {
        color: var(--tooltip-text-color);
        text-decoration: underline;
    }

    #{ $tooltipText },
    #{ $tooltipActivityIcon },
    #{ $textSmMedium } {
        color: var(--tooltip-text-color) !important;
        text-shadow: none;
    }

    #{ $tooltipMuteText } {
        color: var(--accent-text-color) !important;
    }
}

#{ $tooltipV2 } {
    @extend #{ $tooltip };
}

#{ $tooltipV2CaretIcon } {
    display: none;
}

/* TOOLTIP -> UPSELLS */

#{ $reactionTooltip },
#{ $upsellTooltipWrapper } {
    @include add-translucence(before, true);

    &#{ $upsellTooltipCaretTopCenter } {
        &:after {
            border-bottom-color: var(--popout-color);
        }
    }
}
