/*
 *
 *  VENCORD SETTINGS
 *
 */

%vencordSettingsCard {
    background-color: var(--card-color) !important;
    border-radius: var(--card-radius);
    border: none;
}

%vencordAddonCard {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    border: none;

    &:hover {
        background-color: var(--card-color);
        box-shadow: none;
        transform: none;
    }
}

%vencordNotificationRoot {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius);
    box-shadow: var(--default-shadow);
}
