.theme-dark,
.theme-light {
  --app-bg: var(--bg-overlay-4,var(--background-tertiary)) !important;
  --accent-text-color--material-you: var(--interactive-active);
}
.theme-dark .withBackgroundOverride_a934d8,
.theme-light .withBackgroundOverride_a934d8 {
  background: transparent;
}
.theme-dark .base_a4d4d9,
.theme-light .base_a4d4d9 {
  background: var(--bg-overlay-2, var(--background-secondary));
  border-radius: var(--card-radius-big);
}
.theme-dark .themed_e44302,
.theme-light .themed_e44302 {
  background: var(--bg-overlay-2, var(--background-secondary)) !important;
}
.theme-dark .standardSidebarView_c25c6d,
.theme-light .standardSidebarView_c25c6d {
  background: var(--app-bg);
}
.theme-dark .sidebarRegionScroller_c25c6d,
.theme-light .sidebarRegionScroller_c25c6d {
  background-color: transparent;
}
.theme-dark .contentRegion_c25c6d,
.theme-light .contentRegion_c25c6d {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .cardPrimary_a298b8,
.theme-dark .accountProfileCard_b69b77,
.theme-dark .customizationSection_b3a5c2,
.theme-dark .sessions_c7a2c0 > div:not([class]),
.theme-dark .otherSessions_c7a2c0,
.theme-dark .connectContainer_e2a436,
.theme-dark .connection_e2a436,
.theme-dark div[role=radiogroup],
.theme-light .cardPrimary_a298b8,
.theme-light .accountProfileCard_b69b77,
.theme-light .customizationSection_b3a5c2,
.theme-light .sessions_c7a2c0 > div:not([class]),
.theme-light .otherSessions_c7a2c0,
.theme-light .connectContainer_e2a436,
.theme-light .connection_e2a436,
.theme-light div[role=radiogroup] {
  background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark .item_eb92a8:hover,
.theme-light .item_eb92a8:hover {
  background: var(--bg-overlay-4, var(--background-secondary));
}
.theme-dark .item_eb92a8:active, .theme-dark [aria-checked=true].item_eb92a8,
.theme-light .item_eb92a8:active,
.theme-light [aria-checked=true].item_eb92a8 {
  background: var(--bg-overlay-5, var(--background-secondary));
}
.theme-dark .sidebar_c25c6d .item_a0:hover,
.theme-light .sidebar_c25c6d .item_a0:hover {
  background: var(--bg-overlay-hover, var(--background-primary));
}
.theme-dark .sidebar_c25c6d .item_a0.selected_a0,
.theme-light .sidebar_c25c6d .item_a0.selected_a0 {
  background: var(--bg-overlay-selected, var(--background-primary));
}
.theme-dark .customizationSectionBorder_b3a5c2,
.theme-light .customizationSectionBorder_b3a5c2 {
  background: var(--bg-overlay-3, var(--background-secondary)) padding-box, linear-gradient(45deg, hsl(269, calc(var(--saturation-factor, 1) * 52.7%), 52.7%), hsl(325, calc(var(--saturation-factor, 1) * 31.7%), 51.8%)) border-box;
}
.theme-dark .metadataContainer_e2a436,
.theme-dark .integration_e2a436,
.theme-light .metadataContainer_e2a436,
.theme-light .integration_e2a436 {
  background: var(--bg-overlay-4, var(--background-secondary));
}
.theme-dark .lookFilled_dd4f85,
.theme-light .lookFilled_dd4f85 {
  --button-background: var(--bg-overlay-selected,var(--background-modifier-selected));
  --button-text-color: var(--interactive-active);
}
.theme-dark .lookFilled_dd4f85.colorBrand_dd4f85,
.theme-light .lookFilled_dd4f85.colorBrand_dd4f85 {
  --button-background: var(--bg-overlay-selected,var(--background-modifier-selected));
  --button-text-color: var(--interactive-active);
}
.theme-dark .container_f7e03d,
.theme-light .container_f7e03d {
  background: var(--bg-overlay-4, var(--background-secondary));
}
.theme-dark .wrapper_fea3ef,
.theme-light .wrapper_fea3ef {
  background: transparent;
}
.theme-dark .wrapper_fea3ef .scrollerBase_eed6a8,
.theme-light .wrapper_fea3ef .scrollerBase_eed6a8 {
  background: transparent;
}
.theme-dark .scroller_fea3ef,
.theme-light .scroller_fea3ef {
  background: transparent;
}
.theme-dark .wrapper__8436d .childWrapper_a6ce15,
.theme-light .wrapper__8436d .childWrapper_a6ce15 {
  background: var(--bg-overlay-1, var(--background-primary));
  color: var(--interactive-active);
}
.theme-dark .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.theme-light .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15 {
  background: var(--bg-overlay-6, var(--background-primary));
  color: var(--interactive-active);
}
.theme-dark .circleButtonMask-1_597P,
.theme-dark .circleIconButton_db6521,
.theme-light .circleButtonMask-1_597P,
.theme-light .circleIconButton_db6521 {
  background: var(--bg-overlay-1, var(--background-primary));
  color: var(--interactive-active);
}
.theme-dark .circleButtonMask-1_597P.selected_db6521,
.theme-dark .circleIconButton_db6521.selected_db6521,
.theme-light .circleButtonMask-1_597P.selected_db6521,
.theme-light .circleIconButton_db6521.selected_db6521 {
  background: var(--bg-overlay-6, var(--background-primary));
  color: var(--interactive-active);
}
.theme-dark .privateChannels_f0963d,
.theme-light .privateChannels_f0963d {
  background: transparent;
}
.theme-dark .privateChannels_f0963d .scrollerBase_eed6a8,
.theme-light .privateChannels_f0963d .scrollerBase_eed6a8 {
  background: inherit;
}
.theme-dark .wrapper_d8bfb3 .link_d8bfb3,
.theme-light .wrapper_d8bfb3 .link_d8bfb3 {
  background: transparent;
}
.theme-dark .wrapper_d8bfb3:hover,
.theme-light .wrapper_d8bfb3:hover {
  background: var(--bg-overlay-hover, var(--background-primary));
}
.theme-dark .wrapper_d8bfb3.modeSelected_d8bfb3,
.theme-light .wrapper_d8bfb3.modeSelected_d8bfb3 {
  background: var(--bg-overlay-selected, var(--background-primary));
}
.theme-dark .nowPlayingColumn_c2739c,
.theme-light .nowPlayingColumn_c2739c {
  background: transparent;
}
.theme-dark .nowPlayingColumn_c2739c .container_bf550a,
.theme-light .nowPlayingColumn_c2739c .container_bf550a {
  background: inherit;
}
.theme-dark .interactive_c0f6a6,
.theme-light .interactive_c0f6a6 {
  background: var(--bg-overlay-2, var(--background-primary));
}
.theme-dark .interactive_c0f6a6:hover, .theme-dark .interactive_c0f6a6.active_c0f6a6,
.theme-light .interactive_c0f6a6:hover,
.theme-light .interactive_c0f6a6.active_c0f6a6 {
  background: var(--bg-overlay-3, var(--background-primary));
}
.theme-dark .interactive_c0f6a6 .section_cd82a7,
.theme-light .interactive_c0f6a6 .section_cd82a7 {
  background: var(--bg-overlay-4, var(--background-primary));
}
.theme-dark .sidebar_a4d4d9,
.theme-light .sidebar_a4d4d9 {
  background: transparent;
}
.theme-dark .sidebar_a4d4d9 .container_fd6364:not(.hasBanner_fd6364) .header_fd6364,
.theme-light .sidebar_a4d4d9 .container_fd6364:not(.hasBanner_fd6364) .header_fd6364 {
  background-color: transparent;
}
.theme-dark .container_ee69e0,
.theme-light .container_ee69e0 {
  background: transparent !important;
}
.theme-dark .container_ee69e0:after,
.theme-light .container_ee69e0:after {
  --main-color: transparent;
}
.theme-dark .container_adcaac,
.theme-dark .activityPanel_a4d4d9,
.theme-dark .listeningAlong_cfdc9f,
.theme-dark .container_6sXIoE,
.theme-dark #vc-spotify-player,
.theme-light .container_adcaac,
.theme-light .activityPanel_a4d4d9,
.theme-light .listeningAlong_cfdc9f,
.theme-light .container_6sXIoE,
.theme-light #vc-spotify-player {
  background: var(--bg-overlay-3, var(--background-tertiary)) !important;
}
.theme-dark .container_b2ca13,
.theme-light .container_b2ca13 {
  background: var(--bg-overlay-4, var(--background-tertiary)) !important;
}
.theme-dark .chat_a7d72e,
.theme-dark .chatContent_a7d72e,
.theme-light .chat_a7d72e,
.theme-light .chatContent_a7d72e {
  background: transparent !important;
}
.theme-dark .form_a7d72e,
.theme-light .form_a7d72e {
  background-color: transparent;
}
.theme-dark .typing_d7ebeb,
.theme-light .typing_d7ebeb {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .wrapper_ec86aa,
.theme-light .wrapper_ec86aa {
  background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark .wrapper_ec86aa:not(.groupStart_d5deea):before, .theme-dark .wrapper_ec86aa:not(.groupStart_d5deea):after,
.theme-light .wrapper_ec86aa:not(.groupStart_d5deea):before,
.theme-light .wrapper_ec86aa:not(.groupStart_d5deea):after {
  width: calc(var(--message-radius) / 3);
  height: calc(var(--message-radius) / 2);
  top: calc(var(--message-radius) / 2 * -1);
  background: var(--bg-overlay-3, var(--background-secondary));
  border: none;
}
.theme-dark .wrapper_ec86aa:hover,
.theme-light .wrapper_ec86aa:hover {
  background: var(--bg-overlay-4, var(--background-secondary)) !important;
}
.theme-dark .messageListItem_d5deea:hover + .messageListItem_d5deea .wrapper_ec86aa:not(.groupStart_d5deea):before, .theme-dark .messageListItem_d5deea:hover + .messageListItem_d5deea .wrapper_ec86aa:not(.groupStart_d5deea):after,
.theme-light .messageListItem_d5deea:hover + .messageListItem_d5deea .wrapper_ec86aa:not(.groupStart_d5deea):before,
.theme-light .messageListItem_d5deea:hover + .messageListItem_d5deea .wrapper_ec86aa:not(.groupStart_d5deea):after {
  background: var(--bg-overlay-4, var(--background-secondary));
  border: none;
}
.theme-dark .mentioned_d5deea .messageContent_ec86aa,
.theme-light .mentioned_d5deea .messageContent_ec86aa {
  background: var(--bg-overlay-5, var(--background-primary));
}
.theme-dark .wrapper_a7c28c,
.theme-light .wrapper_a7c28c {
  color: var(--text-normal);
}
.theme-dark .markup_d6076c a span,
.theme-light .markup_d6076c a span {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: var(--bg-overlay-6, var(--background-primary));
}
.theme-dark .embed_ad0b71.embedFull_ad0b71,
.theme-light .embed_ad0b71.embedFull_ad0b71 {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .wrapper_b9fe76,
.theme-light .wrapper_b9fe76 {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .wrapper_ef319f,
.theme-light .wrapper_ef319f {
  background: var(--bg-overlay-5, var(--background-secondary));
}
.theme-dark .wrapper_ef319f .button_ef319f,
.theme-light .wrapper_ef319f .button_ef319f {
  color: var(--interactive-active);
}
.theme-dark .members_cbd271, .theme-dark .members_cbd271 > div,
.theme-light .members_cbd271,
.theme-light .members_cbd271 > div {
  background: transparent;
}
.theme-dark .members_cbd271 .member_a31c43,
.theme-light .members_cbd271 .member_a31c43 {
  background: inherit;
}
.theme-dark .upload_df1eaf,
.theme-light .upload_df1eaf {
  background: var(--bg-overlay-5, var(--background-secondary));
}
.theme-dark .searchResultsWrap_c2b47d,
.theme-light .searchResultsWrap_c2b47d {
  background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark .themeEditor_c9dda6,
.theme-light .themeEditor_c9dda6 {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .themeEditor_c9dda6:before,
.theme-light .themeEditor_c9dda6:before {
  background: var(--app-bg);
}
.theme-dark .themeEditor_c9dda6:after,
.theme-light .themeEditor_c9dda6:after {
  background: var(--bg-overlay-2, var(--background-secondary));
}

.lookFilled_dd4f85,
.lookOutlined_dd4f85,
.lookLink_dd4f85,
.lookInverted_a299dc {
  background: var(--button-background);
}

.custom-theme-background .typeWindows_a934d8.withBackgroundOverride_a934d8 {
  padding-top: 0;
}
