.theme-dark,
.theme-light {
  --app-bg: var(--bg-overlay-4,var(--background-tertiary)) !important;
  --accent-text-color--material-you: var(--interactive-active);
}
.theme-dark .withBackgroundOverride_f510cb,
.theme-light .withBackgroundOverride_f510cb {
  background: transparent;
}
.theme-dark .base_c0676e,
.theme-light .base_c0676e {
  background: var(--bg-overlay-2, var(--background-secondary));
  border-radius: var(--card-radius-big);
}
.theme-dark .themed_b152d4,
.theme-light .themed_b152d4 {
  background: var(--bg-overlay-2, var(--background-secondary)) !important;
}
.theme-dark .standardSidebarView__12528,
.theme-light .standardSidebarView__12528 {
  background: var(--app-bg);
}
.theme-dark .sidebarRegionScroller__8113e,
.theme-light .sidebarRegionScroller__8113e {
  background-color: transparent;
}
.theme-dark .contentRegion__08eba,
.theme-light .contentRegion__08eba {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .cardPrimary__1ee6a,
.theme-dark .accountProfileCard__744d8,
.theme-dark .customizationSection__0f57e,
.theme-dark .sessions__7b95a > div:not([class]),
.theme-dark .otherSessions_bb9ad2,
.theme-dark .connectContainer_e331e3,
.theme-dark .connection__6dbd8,
.theme-dark div[role=radiogroup],
.theme-light .cardPrimary__1ee6a,
.theme-light .accountProfileCard__744d8,
.theme-light .customizationSection__0f57e,
.theme-light .sessions__7b95a > div:not([class]),
.theme-light .otherSessions_bb9ad2,
.theme-light .connectContainer_e331e3,
.theme-light .connection__6dbd8,
.theme-light div[role=radiogroup] {
  background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark .item_b7fb7e:hover,
.theme-light .item_b7fb7e:hover {
  background: var(--bg-overlay-4, var(--background-secondary));
}
.theme-dark .item_b7fb7e:active, .theme-dark [aria-checked=true].item_b7fb7e,
.theme-light .item_b7fb7e:active,
.theme-light [aria-checked=true].item_b7fb7e {
  background: var(--bg-overlay-5, var(--background-secondary));
}
.theme-dark .sidebar__02e8d .item__48dda:hover,
.theme-light .sidebar__02e8d .item__48dda:hover {
  background: var(--bg-overlay-hover, var(--background-primary));
}
.theme-dark .sidebar__02e8d .item__48dda.selected_a523ff,
.theme-light .sidebar__02e8d .item__48dda.selected_a523ff {
  background: var(--bg-overlay-selected, var(--background-primary));
}
.theme-dark .customizationSectionBorder_c632bd,
.theme-light .customizationSectionBorder_c632bd {
  background: var(--bg-overlay-3, var(--background-secondary)) padding-box, linear-gradient(45deg, hsl(269, calc(var(--saturation-factor, 1) * 52.7%), 52.7%), hsl(325, calc(var(--saturation-factor, 1) * 31.7%), 51.8%)) border-box;
}
.theme-dark .metadataContainer__1842c,
.theme-dark .integration_b27c42,
.theme-light .metadataContainer__1842c,
.theme-light .integration_b27c42 {
  background: var(--bg-overlay-4, var(--background-secondary));
}
.theme-dark .lookFilled__950dd,
.theme-light .lookFilled__950dd {
  --button-background: var(--bg-overlay-selected,var(--background-modifier-selected));
  --button-text-color: var(--interactive-active);
}
.theme-dark .lookFilled__950dd.colorBrand__27d57,
.theme-light .lookFilled__950dd.colorBrand__27d57 {
  --button-background: var(--bg-overlay-selected,var(--background-modifier-selected));
  --button-text-color: var(--interactive-active);
}
.theme-dark .container__42d70,
.theme-light .container__42d70 {
  background: var(--bg-overlay-4, var(--background-secondary));
}
.theme-dark .wrapper__216eb,
.theme-light .wrapper__216eb {
  background: transparent;
}
.theme-dark .wrapper__216eb .scrollerBase_f742b2,
.theme-light .wrapper__216eb .scrollerBase_f742b2 {
  background: transparent;
}
.theme-dark .scroller_de945b,
.theme-light .scroller_de945b {
  background: transparent;
}
.theme-dark .wrapper__8436d .childWrapper_a6ce15,
.theme-light .wrapper__8436d .childWrapper_a6ce15 {
  background: var(--bg-overlay-1, var(--background-primary));
  color: var(--interactive-active);
}
.theme-dark .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.theme-light .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15 {
  background: var(--bg-overlay-6, var(--background-primary));
  color: var(--interactive-active);
}
.theme-dark .circleButtonMask-1_597P,
.theme-dark .circleIconButton__05cf2,
.theme-light .circleButtonMask-1_597P,
.theme-light .circleIconButton__05cf2 {
  background: var(--bg-overlay-1, var(--background-primary));
  color: var(--interactive-active);
}
.theme-dark .circleButtonMask-1_597P.selected_aded59,
.theme-dark .circleIconButton__05cf2.selected_aded59,
.theme-light .circleButtonMask-1_597P.selected_aded59,
.theme-light .circleIconButton__05cf2.selected_aded59 {
  background: var(--bg-overlay-6, var(--background-primary));
  color: var(--interactive-active);
}
.theme-dark .privateChannels__9b518,
.theme-light .privateChannels__9b518 {
  background: transparent;
}
.theme-dark .privateChannels__9b518 .scrollerBase_f742b2,
.theme-light .privateChannels__9b518 .scrollerBase_f742b2 {
  background: inherit;
}
.theme-dark .wrapper__612a5 .link_ddbb36,
.theme-light .wrapper__612a5 .link_ddbb36 {
  background: transparent;
}
.theme-dark .wrapper__612a5:hover,
.theme-light .wrapper__612a5:hover {
  background: var(--bg-overlay-hover, var(--background-primary));
}
.theme-dark .wrapper__612a5.modeSelected__473f1,
.theme-light .wrapper__612a5.modeSelected__473f1 {
  background: var(--bg-overlay-selected, var(--background-primary));
}
.theme-dark .nowPlayingColumn_b025fe,
.theme-light .nowPlayingColumn_b025fe {
  background: transparent;
}
.theme-dark .nowPlayingColumn_b025fe .container__3673d,
.theme-light .nowPlayingColumn_b025fe .container__3673d {
  background: inherit;
}
.theme-dark .interactive__46c44,
.theme-light .interactive__46c44 {
  background: var(--bg-overlay-2, var(--background-primary));
}
.theme-dark .interactive__46c44:hover, .theme-dark .interactive__46c44.active__76f42,
.theme-light .interactive__46c44:hover,
.theme-light .interactive__46c44.active__76f42 {
  background: var(--bg-overlay-3, var(--background-primary));
}
.theme-dark .interactive__46c44 .section__253ec,
.theme-light .interactive__46c44 .section__253ec {
  background: var(--bg-overlay-4, var(--background-primary));
}
.theme-dark .sidebar_e031be,
.theme-light .sidebar_e031be {
  background: transparent;
}
.theme-dark .sidebar_e031be .container_f41675:not(.hasBanner__04337) .header__77c95,
.theme-light .sidebar_e031be .container_f41675:not(.hasBanner__04337) .header__77c95 {
  background-color: transparent;
}
.theme-dark .container__7e23c,
.theme-light .container__7e23c {
  background: transparent !important;
}
.theme-dark .container__7e23c:after,
.theme-light .container__7e23c:after {
  --main-color: transparent;
}
.theme-dark .container_e1958d,
.theme-dark .activityPanel_b73e7a,
.theme-dark .listeningAlong_a3b241,
.theme-dark .container_6sXIoE,
.theme-dark #vc-spotify-player,
.theme-light .container_e1958d,
.theme-light .activityPanel_b73e7a,
.theme-light .listeningAlong_a3b241,
.theme-light .container_6sXIoE,
.theme-light #vc-spotify-player {
  background: var(--bg-overlay-3, var(--background-tertiary)) !important;
}
.theme-dark .container_debb33,
.theme-light .container_debb33 {
  background: var(--bg-overlay-4, var(--background-tertiary)) !important;
}
.theme-dark .chat__52833,
.theme-dark .chatContent_f087cb,
.theme-light .chat__52833,
.theme-light .chatContent_f087cb {
  background: transparent !important;
}
.theme-dark .form_d8a4a1,
.theme-light .form_d8a4a1 {
  background-color: transparent;
}
.theme-dark .typing__6fd1d,
.theme-light .typing__6fd1d {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .wrapper_a62503,
.theme-light .wrapper_a62503 {
  background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark .wrapper_a62503:not(.groupStart__7b93c):before, .theme-dark .wrapper_a62503:not(.groupStart__7b93c):after,
.theme-light .wrapper_a62503:not(.groupStart__7b93c):before,
.theme-light .wrapper_a62503:not(.groupStart__7b93c):after {
  width: calc(var(--message-radius) / 3);
  height: calc(var(--message-radius) / 2);
  top: calc(var(--message-radius) / 2 * -1);
  background: var(--bg-overlay-3, var(--background-secondary));
  border: none;
}
.theme-dark .wrapper_a62503:hover,
.theme-light .wrapper_a62503:hover {
  background: var(--bg-overlay-4, var(--background-secondary)) !important;
}
.theme-dark .messageListItem__050f9:hover + .messageListItem__050f9 .wrapper_a62503:not(.groupStart__7b93c):before, .theme-dark .messageListItem__050f9:hover + .messageListItem__050f9 .wrapper_a62503:not(.groupStart__7b93c):after,
.theme-light .messageListItem__050f9:hover + .messageListItem__050f9 .wrapper_a62503:not(.groupStart__7b93c):before,
.theme-light .messageListItem__050f9:hover + .messageListItem__050f9 .wrapper_a62503:not(.groupStart__7b93c):after {
  background: var(--bg-overlay-4, var(--background-secondary));
  border: none;
}
.theme-dark .mentioned_fa6fd2 .messageContent_abea64,
.theme-light .mentioned_fa6fd2 .messageContent_abea64 {
  background: var(--bg-overlay-5, var(--background-primary));
}
.theme-dark .wrapper__53064,
.theme-light .wrapper__53064 {
  color: var(--text-normal);
}
.theme-dark .markup_a7e664 a span,
.theme-light .markup_a7e664 a span {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: var(--bg-overlay-6, var(--background-primary));
}
.theme-dark .embed_cc6dae.embedFull__14919,
.theme-light .embed_cc6dae.embedFull__14919 {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .wrapper__8a5dd,
.theme-light .wrapper__8a5dd {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .wrapper__4e6b6,
.theme-light .wrapper__4e6b6 {
  background: var(--bg-overlay-5, var(--background-secondary));
}
.theme-dark .wrapper__4e6b6 .button_d4bf9b,
.theme-light .wrapper__4e6b6 .button_d4bf9b {
  color: var(--interactive-active);
}
.theme-dark .members__573eb, .theme-dark .members__573eb > div,
.theme-light .members__573eb,
.theme-light .members__573eb > div {
  background: transparent;
}
.theme-dark .members__573eb .member_aa4760,
.theme-light .members__573eb .member_aa4760 {
  background: inherit;
}
.theme-dark .upload_c98ecb,
.theme-light .upload_c98ecb {
  background: var(--bg-overlay-5, var(--background-secondary));
}
.theme-dark .searchResultsWrap__2e184,
.theme-light .searchResultsWrap__2e184 {
  background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark .themeEditor__8f359,
.theme-light .themeEditor__8f359 {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .themeEditor__8f359:before,
.theme-light .themeEditor__8f359:before {
  background: var(--app-bg);
}
.theme-dark .themeEditor__8f359:after,
.theme-light .themeEditor__8f359:after {
  background: var(--bg-overlay-2, var(--background-secondary));
}

.lookFilled__950dd,
.lookOutlined__014b5,
.lookLink_a2da25,
.lookInverted_a299dc {
  background: var(--button-background);
}

.custom-theme-background .typeWindows_e41dab.withBackgroundOverride_f510cb {
  padding-top: 0;
}
