.theme-dark,
.theme-light {
  --app-bg: var(--bg-overlay-4,var(--background-tertiary)) !important;
  --accent-text-color--material-you: var(--interactive-active);
}
.theme-dark .withBackgroundOverride_b6a351,
.theme-light .withBackgroundOverride_b6a351 {
  background: transparent;
}
.theme-dark .base__3e6af,
.theme-light .base__3e6af {
  background: var(--bg-overlay-2, var(--background-secondary));
  border-radius: var(--card-radius-big);
}
.theme-dark .themed_b152d4,
.theme-light .themed_b152d4 {
  background: var(--bg-overlay-2, var(--background-secondary)) !important;
}
.theme-dark .standardSidebarView__1129a,
.theme-light .standardSidebarView__1129a {
  background: var(--app-bg);
}
.theme-dark .sidebarRegionScroller__1fa7e,
.theme-light .sidebarRegionScroller__1fa7e {
  background-color: transparent;
}
.theme-dark .contentRegion__0bec1,
.theme-light .contentRegion__0bec1 {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .cardPrimary_cb7a0e,
.theme-dark .accountProfileCard__22589,
.theme-dark .customizationSection__16fec,
.theme-dark .sessions__3ce76 > div:not([class]),
.theme-dark .otherSessions_aad582,
.theme-dark .connectContainer__8050b,
.theme-dark .connection_fff5f6,
.theme-dark div[role=radiogroup],
.theme-light .cardPrimary_cb7a0e,
.theme-light .accountProfileCard__22589,
.theme-light .customizationSection__16fec,
.theme-light .sessions__3ce76 > div:not([class]),
.theme-light .otherSessions_aad582,
.theme-light .connectContainer__8050b,
.theme-light .connection_fff5f6,
.theme-light div[role=radiogroup] {
  background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark .item_b7fb7e:hover,
.theme-light .item_b7fb7e:hover {
  background: var(--bg-overlay-4, var(--background-secondary));
}
.theme-dark .item_b7fb7e:active, .theme-dark [aria-checked=true].item_b7fb7e,
.theme-light .item_b7fb7e:active,
.theme-light [aria-checked=true].item_b7fb7e {
  background: var(--bg-overlay-5, var(--background-secondary));
}
.theme-dark .sidebar__9e3e2 .item__48dda:hover,
.theme-light .sidebar__9e3e2 .item__48dda:hover {
  background: var(--bg-overlay-hover, var(--background-primary));
}
.theme-dark .sidebar__9e3e2 .item__48dda.selected__5711d,
.theme-light .sidebar__9e3e2 .item__48dda.selected__5711d {
  background: var(--bg-overlay-selected, var(--background-primary));
}
.theme-dark .customizationSectionBorder__17861,
.theme-light .customizationSectionBorder__17861 {
  background: var(--bg-overlay-3, var(--background-secondary)) padding-box, linear-gradient(45deg, hsl(269, calc(var(--saturation-factor, 1) * 52.7%), 52.7%), hsl(325, calc(var(--saturation-factor, 1) * 31.7%), 51.8%)) border-box;
}
.theme-dark .metadataContainer__7b316,
.theme-dark .integration_d2f026,
.theme-light .metadataContainer__7b316,
.theme-light .integration_d2f026 {
  background: var(--bg-overlay-4, var(--background-secondary));
}
.theme-dark .lookFilled__19298,
.theme-light .lookFilled__19298 {
  --button-background: var(--bg-overlay-selected,var(--background-modifier-selected));
  --button-text-color: var(--interactive-active);
}
.theme-dark .lookFilled__19298.colorBrand_b2253e,
.theme-light .lookFilled__19298.colorBrand_b2253e {
  --button-background: var(--bg-overlay-selected,var(--background-modifier-selected));
  --button-text-color: var(--interactive-active);
}
.theme-dark .container__17965,
.theme-light .container__17965 {
  background: var(--bg-overlay-4, var(--background-secondary));
}
.theme-dark .wrapper_a7e7a8,
.theme-light .wrapper_a7e7a8 {
  background: transparent;
}
.theme-dark .wrapper_a7e7a8 .scrollerBase_dc3aa9,
.theme-light .wrapper_a7e7a8 .scrollerBase_dc3aa9 {
  background: transparent;
}
.theme-dark .scroller__3d071,
.theme-light .scroller__3d071 {
  background: transparent;
}
.theme-dark .wrapper_d281dd .childWrapper__01b9c,
.theme-light .wrapper_d281dd .childWrapper__01b9c {
  background: var(--bg-overlay-1, var(--background-primary));
  color: var(--interactive-active);
}
.theme-dark .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c,
.theme-light .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c {
  background: var(--bg-overlay-6, var(--background-primary));
  color: var(--interactive-active);
}
.theme-dark .circleButtonMask-1_597P,
.theme-dark .circleIconButton_d8df29,
.theme-light .circleButtonMask-1_597P,
.theme-light .circleIconButton_d8df29 {
  background: var(--bg-overlay-1, var(--background-primary));
  color: var(--interactive-active);
}
.theme-dark .circleButtonMask-1_597P.selected__5250e,
.theme-dark .circleIconButton_d8df29.selected__5250e,
.theme-light .circleButtonMask-1_597P.selected__5250e,
.theme-light .circleIconButton_d8df29.selected__5250e {
  background: var(--bg-overlay-6, var(--background-primary));
  color: var(--interactive-active);
}
.theme-dark .privateChannels__93473,
.theme-light .privateChannels__93473 {
  background: transparent;
}
.theme-dark .privateChannels__93473 .scrollerBase_dc3aa9,
.theme-light .privateChannels__93473 .scrollerBase_dc3aa9 {
  background: inherit;
}
.theme-dark .wrapper__7bcde .link__95dc0,
.theme-light .wrapper__7bcde .link__95dc0 {
  background: transparent;
}
.theme-dark .wrapper__7bcde:hover,
.theme-light .wrapper__7bcde:hover {
  background: var(--bg-overlay-hover, var(--background-primary));
}
.theme-dark .wrapper__7bcde.modeSelected__487d6,
.theme-light .wrapper__7bcde.modeSelected__487d6 {
  background: var(--bg-overlay-selected, var(--background-primary));
}
.theme-dark .nowPlayingColumn_f5023f,
.theme-light .nowPlayingColumn_f5023f {
  background: transparent;
}
.theme-dark .nowPlayingColumn_f5023f .container__0a6a9,
.theme-light .nowPlayingColumn_f5023f .container__0a6a9 {
  background: inherit;
}
.theme-dark .interactive__01cfa,
.theme-light .interactive__01cfa {
  background: var(--bg-overlay-2, var(--background-primary));
}
.theme-dark .interactive__01cfa:hover, .theme-dark .interactive__01cfa.active__76f42,
.theme-light .interactive__01cfa:hover,
.theme-light .interactive__01cfa.active__76f42 {
  background: var(--bg-overlay-3, var(--background-primary));
}
.theme-dark .interactive__01cfa .section_efc22d,
.theme-light .interactive__01cfa .section_efc22d {
  background: var(--bg-overlay-4, var(--background-primary));
}
.theme-dark .sidebar_ded4b5,
.theme-light .sidebar_ded4b5 {
  background: transparent;
}
.theme-dark .sidebar_ded4b5 .container__7c79d:not(.hasBanner_e78601) .header__104ca,
.theme-light .sidebar_ded4b5 .container__7c79d:not(.hasBanner_e78601) .header__104ca {
  background-color: transparent;
}
.theme-dark .container__590e2,
.theme-light .container__590e2 {
  background: transparent !important;
}
.theme-dark .container__590e2:after,
.theme-light .container__590e2:after {
  --main-color: transparent;
}
.theme-dark .container_d667ff,
.theme-dark .activityPanel__22355,
.theme-dark .listeningAlong_f20fb2,
.theme-dark .container_6sXIoE,
.theme-dark #vc-spotify-player,
.theme-light .container_d667ff,
.theme-light .activityPanel__22355,
.theme-light .listeningAlong_f20fb2,
.theme-light .container_6sXIoE,
.theme-light #vc-spotify-player {
  background: var(--bg-overlay-3, var(--background-tertiary)) !important;
}
.theme-dark .container_ca50b9,
.theme-light .container_ca50b9 {
  background: var(--bg-overlay-4, var(--background-tertiary)) !important;
}
.theme-dark .chat__52833,
.theme-dark .chatContent__5dca8,
.theme-light .chat__52833,
.theme-light .chatContent__5dca8 {
  background: transparent !important;
}
.theme-dark .form__13a2c,
.theme-light .form__13a2c {
  background-color: transparent;
}
.theme-dark .typing__6fd1d,
.theme-light .typing__6fd1d {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .wrapper__09ecc,
.theme-light .wrapper__09ecc {
  background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark .wrapper__09ecc:not(.groupStart__56db5):before, .theme-dark .wrapper__09ecc:not(.groupStart__56db5):after,
.theme-light .wrapper__09ecc:not(.groupStart__56db5):before,
.theme-light .wrapper__09ecc:not(.groupStart__56db5):after {
  width: calc(var(--message-radius) / 3);
  height: calc(var(--message-radius) / 2);
  top: calc(var(--message-radius) / 2 * -1);
  background: var(--bg-overlay-3, var(--background-secondary));
  border: none;
}
.theme-dark .wrapper__09ecc:hover,
.theme-light .wrapper__09ecc:hover {
  background: var(--bg-overlay-4, var(--background-secondary));
}
.theme-dark .messageListItem__6a4fb:hover + .messageListItem__6a4fb .wrapper__09ecc:not(.groupStart__56db5):before, .theme-dark .messageListItem__6a4fb:hover + .messageListItem__6a4fb .wrapper__09ecc:not(.groupStart__56db5):after,
.theme-light .messageListItem__6a4fb:hover + .messageListItem__6a4fb .wrapper__09ecc:not(.groupStart__56db5):before,
.theme-light .messageListItem__6a4fb:hover + .messageListItem__6a4fb .wrapper__09ecc:not(.groupStart__56db5):after {
  background: var(--bg-overlay-4, var(--background-secondary));
  border: none;
}
.theme-dark .mentioned__58017 .messageContent__21e69,
.theme-light .mentioned__58017 .messageContent__21e69 {
  background: var(--bg-overlay-5, var(--background-primary));
}
.theme-dark .wrapper_f46140,
.theme-light .wrapper_f46140 {
  color: var(--text-normal);
}
.theme-dark .markup_a7e664 a span,
.theme-light .markup_a7e664 a span {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: var(--bg-overlay-6, var(--background-primary));
}
.theme-dark .embed_d3cbe3.embedFull__8dc21,
.theme-light .embed_d3cbe3.embedFull__8dc21 {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .wrapper_efe67f,
.theme-light .wrapper_efe67f {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .wrapper_c727b6,
.theme-light .wrapper_c727b6 {
  background: var(--bg-overlay-5, var(--background-secondary));
}
.theme-dark .wrapper_c727b6 .button_d553e5,
.theme-light .wrapper_c727b6 .button_d553e5 {
  color: var(--interactive-active);
}
.theme-dark .members__9f47b, .theme-dark .members__9f47b > div,
.theme-light .members__9f47b,
.theme-light .members__9f47b > div {
  background: transparent;
}
.theme-dark .members__9f47b .member_aa4760,
.theme-light .members__9f47b .member_aa4760 {
  background: inherit;
}
.theme-dark .upload_c98ecb,
.theme-light .upload_c98ecb {
  background: var(--bg-overlay-5, var(--background-secondary));
}
.theme-dark .searchResultsWrap__9f374,
.theme-light .searchResultsWrap__9f374 {
  background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark .themeEditor__6df21,
.theme-light .themeEditor__6df21 {
  background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .themeEditor__6df21:before,
.theme-light .themeEditor__6df21:before {
  background: var(--app-bg);
}
.theme-dark .themeEditor__6df21:after,
.theme-light .themeEditor__6df21:after {
  background: var(--bg-overlay-2, var(--background-secondary));
}

.lookFilled__19298,
.lookOutlined__46d54,
.lookLink__93965,
.lookInverted_ee4261 {
  background: var(--button-background);
}
