/*
 *
 *  ACTIVITES MODAL
 *
 */

%activityModalDivider {
    background-color: var(--popout-border-color);
}

%activtyScrollTierBackground {
    background-color: transparent;
}

%activityItem {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    box-shadow: none;

    &:hover {
        background-color: var(--card-color-active);
    }
}

/* ACTIVITES MODAL -> SUGGESTED ACTIVITES */

%suggestedActivitiesContainer {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
    box-shadow: var(--default-shadow);

    %button {
        --button-height: auto;
    }

    %wumpusRocketInnerContainer {
        background: linear-gradient(270deg, var(--popout-color), var(--popout-color) 90%, transparent);
    }
}
