@use "../classes" as *;

/*
 *
 *  CLIPS MODAL
 *
 */

#{ $clipItem } {
  background-color: var(--card-color);
  border-radius: var(--card-radius);

  &:hover {
    background-color: var(--card-color-active);
  }

  #{ $clipThumb } {
    background-color: var(--card-color-hover);
    border-radius: var(--card-radius);
  }

  #{ $button } {
    --button-padding: 0;
  }
}

/* CLIPS MODAL -> EDIT CLIP */

#{ $timePillBackground } {
  background-color: hsl(var(--accent-hsl));

  #{ $timePillText } {
    color: var(--accent-text-color) !important;
    font-weight: 500;
  }
}

#{ $playPauseButtonWrapper } {
  background-color: var(--card-color);
}

#{ $playhead } {
  background-color: hsl(var(--accent-hsl));
  box-shadow: var(--default-shadow);
}

#{ $playerDragBox } {
  border-color: hsl(var(--accent-hsl));
}

#{ $playerDragHandle } {
  background-color: hsl(var(--accent-hsl));
}

#{ $clipForm } {
  background-color: var(--card-color);
  border-radius: var(--card-radius);
}

#{ $clipFormUserList } {
  background-color: var(--card-color-hover);
  border-radius: var(--card-radius);
}
