@use "../classes" as *;

/*
 *
 *  IMAGE VIEWER
 *
 */

#{ $imageViewerActionButtons } {
  background-color: var(--popout-color);
  border-radius: var(--popout-radius);
  border: none;

  #{ $buttonV2IconOnly } {
    --button-padding: 0;
    --button-background: transparent;
    --button-radius: calc(var(--popout-radius) - 2px);
    --button-text-color: var(--text-default);

    transform: none !important;

    &:hover {
      --button-background: var(--card-color-active);
    }
  }
}

#{ $imageViewerCloseButton } {
  display: flex;
  width: auto;
  height: auto;
  padding: 3px;
  background-color: var(--popout-color);
  border-radius: var(--popout-radius);

  #{ $imageViewerCloseButtonInner } {
    width: var(--button-height);
    height: var(--button-height);
    border-radius: calc(var(--popout-radius) - 2px);
    border: none;
  }
}
