@use '../mixins' as *;

/*
 *
 *  PHONE MODAL
 *
 */

%phoneField {
    @include input-format(false, true);
    box-shadow: none;
    gap: var(--input-padding);

    %phoneCountryButton {
        margin: 0;
        border-radius: var(--button-radius);
    }

    %phonePlusSign,
    %phoneCountryCode {
        color: inherit;
    }

    %phoneFieldExpand  {
        stroke: var(--button-text-color);
    }

    %phoneInputField {
        padding: 0;
        background-color: transparent;
    }

    %button {
        margin: 0;
    }
}
