@use '../mixins' as *;

/*
 *
 *  QUICKSWITCHER
 *
 */

%quickswitcher {
    --input-height: 56px;

    @include modal-format;

    %quickswitcherInput {
        @include input-format;
    }

    %quickswitcherScroller {
        background-color: transparent;

        &::-webkit-scrollbar-track {
            background-color: transparent !important;
        }
    }

    %quickswitcherResult {
        &[aria-selected="true"] {
            background-color: var(--background-tinted-active);
        }
    }
}
