@use '../mixins' as *;

/*
 *
 *  SCREENSHARE SETTINGS
 *
 */

%screenshareTile {
    &:hover {
        %screenshareSourceThumbnail {
            box-shadow: inset 0 0 0 2px hsla(var(--accent-hsl),var(--accent-opacity));
        }
    }

    %screenshareSourceThumbnail {
        border-radius: var(--card-radius);

        &%screenshareSourceSelected {
            box-shadow: inset 0 0 0 2px hsla(var(--accent-hsl),var(--accent-opacity));
        }
    }
}

%screenshareCard {
    @include input-format(auto);
}

%screenshareSettingsQualitySettingsContainer {
    padding: 8px;
    @include card-format;
}

%screenshareSettingsSelector {
    background-color: var(--card-color);
    border: none;

    &:first-of-type {
        border-radius: var(--card-radius) 0 0 var(--card-radius);
    }

    &:last-of-type {
        border-radius: 0 var(--card-radius) var(--card-radius) 0;
    }

    &:not(%screenshareSettingsSelected):hover {
        background-color: var(--background-modifier-selected);
    }

    &%screenshareSettingsSelected {
        background-color: hsla(var(--accent-hsl),var(--accent-opacity)) !important;
    }
}

%screenshareSettingsTextSelected {
    color: var(--accent-text-color) !important;
}
