@use '../mixins' as *;

/*
 *
 *  SERVER QUESTIONS MODAL
 *
 */

%prompt {
    @include modal-format;

    %promptNavButtons {
        background-color: transparent;
    }
}

%promptOptionButtonWrapper {
    @include card-format(false, true);
    border: none;

    &%promptOptionButtonWrapperSelected {
        background-color: var(--card-color-active);
    }
}

%promptOptionCheckIcon {
    background-color: hsl(var(--accent-hsl));
    color: var(--accent-text-color);

    path {
        fill: currentColor;
    }
}

%rulesTermsFieldBody {
    @include card-format;
}

%rulesOverlay {
    background: linear-gradient(to top, var(--popout-color), transparent) !important;
}
