/*
 *
 *	USER PROFILE
 *
 */

%userProfileModalTabBarContainer {
    background-color: transparent !important;
	border-bottom: 1px solid var(--background-modifier-accent) !important;
	box-shadow: none !important;
}
