/*
 *
 *	USER PROFILE
 *
 */

%userProfileModalTabBarContainer {
    background-color: transparent !important;
	border-bottom: 1px solid var(--background-modifier-accent) !important;
	box-shadow: none !important;
}

%biteSizeIconButton {
    width: var(--button-height);
    height: var(--button-height);
    padding: 0;

    %buttonContents {
        min-width: var(--button-height);
        max-width: var(--button-height);
        min-height: var(--button-height);
        max-height: var(--button-height);
    }

    svg {
        margin: auto;
    }
}
