/*
 *
 *  CHANNELS LIST ACCOUNT PANEL
 *
 */

%accountPanelContent {
	min-height: 100%;
    height: inherit;
	padding: 0 8px;
    background-color: transparent !important;
}

%accountPanel {
    width: 100%;
	min-height: unset;
    height: var(--main-textarea-height);
    margin-bottom: 0;
	margin-left: 0;
	padding: 0 var(--space-xs) 0 6px;
	gap: var(--space-8);
    background-color: var(--status-picker-color);
    border-radius: var(--sidebar-panel-radius-small);
    box-sizing: border-box;

    %accountPanelNameTag {
		margin-right: 2px;
	}

    %accountPanelDiscriminator {
		line-height: 14px;
	}

    %panelButton {
        color: var(--interactive-normal) !important;

        &:hover {
            color: var(--interactive-hover) !important;
        }
    }

	&:has(%accountPanelAvatarWrapperPlated) {
        %panelButton {
            transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) border-radius, var(--default-time) var(--default-animation) backdrop-filter;

            &:hover,
            &%accountPanelMicPopoutOpen {
                backdrop-filter: blur(4px);
            }
        }
    }
}

%accountPanelButtons {
    gap: var(--space-4);
}

%accountPanelMicButtonParent {
    gap: 1px;

    &%accountPanelMicPopoutOpen {
        %accountPanelMicButtonWithMenu,
        %accountPanelButtonChevron {
            background-color: unset;
        }
    }

    &:not(%accountPanelMicButtonHasColorGlow) {
        &:hover {
            %accountPanelMicButtonWithMenu,
            %accountPanelButtonChevron {
                background-color: unset;
            }
        }
    }

    %panelButton {
        &:hover {
            background-color: var(--background-mod-subtle) !important;
        }

        &%accountPanelMicButtonWithMenu {
            border-radius: var(--button-radius) 4px 4px var(--button-radius);
        }

        &%accountPanelButtonChevron {
            width: 24px;
            margin-left: 0;
            border-radius: 4px var(--button-radius) var(--button-radius) 4px;

            &%accountPanelMicPopoutOpen {
                background-color: var(--background-mod-normal) !important;
                border-radius: var(--button-radius);
            }
        }
    }
}

%accountPanelFitInAccount {
	width: 100%;
	height: 100%;
	top: 0;
}

%accountPanelAvatarWrapper {
	flex-grow: 1;
	min-width: 0 !important;
	margin-left: 0;
	margin-right: 0;
	padding: 5px calc(var(--custom-guild-list-padding) - var(--custom-panels-spacing) - 6px);
	border-radius: calc(var(--sidebar-panel-radius-big) / 1.4);
}

%accountPanelAvatarWrapperPlated {
	background-color: transparent;

	&:hover {
		background-color: var(--background-mod-subtle);
	}

	&[aria-expanded="true"] {
		background-color: var(--background-mod-normal) !important;
	}
}
