/*
 *
 *  CHANNELS LIST ACCOUNT PANEL
 *
 */

%accountPanelContent {
	min-height: 100%;
    height: inherit;
	padding: 0 8px;
    background-color: transparent !important;
}

%accountPanel {
    width: 100%;
	min-height: unset;
    height: var(--main-textarea-height);
    margin-bottom: 0;
	margin-left: 0;
	padding: 0 var(--space-xs);
    background-color: var(--status-picker-color);
    border-radius: var(--sidebar-panel-radius-small);
    box-sizing: border-box;

    %accountPanelAvatarWrapper {
        min-width: 0 !important;
        margin-left: 0;
        padding-left: 0;
        flex-grow: 1;
        margin-right: 0;

        &:hover {
            background-color: transparent;
            border-radius: 0;
        }
    }

    %accountPanelNameTag {
		margin-right: 2px;
	}

    %accountPanelDiscriminator {
		line-height: 14px;
	}

    %panelButton {
        color: var(--interactive-normal) !important;

        &:hover {
            color: var(--interactive-hover) !important;
        }
    }
}

%accountPanelFitInAccount {
	width: 100%;
	height: 100%;
	top: 0;
}

%accountPanelAvatarWrapperPlated {
	background-color: transparent !important;
}
