@use '../../classes' as *;

/*
 *
 *  CHANNELS LIST ACTIVITIES PANEL
 *
 */

#{ $activityPanel } {
    margin-bottom: 2px;
	padding: 0 8px;
	background: var(--sidebar-panel-color) !important;
	border-radius: var(--sidebar-panel-radius-small);
    border-bottom: none !important;

	#{ $activityPanelBody } {
		height: 100%;
	}

    #{ $activityPanelGameIcon } {
        border-radius: 50%;
    }
}

#{ $activitiesPanel } {
    width: calc(100% - 16px);
    margin: 0 8px 20px;
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
    box-shadow: var(--shadow-medium);

    #{ $activitiesPanelContent } {
        padding: 8px 0;

        #{ $textSmBold } {
            color: var(--header-primary) !important;
        }

        #{ $textXsNormal } {
            color: var(--interactive-text-default) !important;
        }

        #{ $button } {
            --button-padding: 0 12px;
        }

        #{ $buttonInverted } {
            --button-background: hsl(var(--button-link-accent-color-color),0.15);
            --button-text-color: var(--button-link-accent-text-color);
        }
    }

    #{ $activitiesPanelVideo } {
        margin-top: -8px;
        border-radius: var(--popout-radius-big);
    }
}
