@use '../mixins' as *;

/*
 *
 *  FORUM
 *
 */

%forumContainer {
    background: transparent;
}

%forumCardHeaderRow {
    padding-bottom: 16px;
}

%forumGuidelinesContainer {
    @include card-format;

    margin-bottom: 0;
    border: none;

    %forumGuidelinesDescriptionContainer {
        background-color: var(--card-color-hover);
        border-radius: var(--card-radius);
    }
}

%forumSortDropdown {
    --button-background: hsl(var(--accent-hsl));
    --button-text-color: var(--accent-text-color);

    %buttonContents {
        color: var(--accent-text-color);
    }
}

%forumSortDropdownText {
    color: inherit !important;
    font-weight: inherit;
}

%forumTagsButton {
    --button-background: hsl(var(--accent-hsl));
    --button-text-color: var(--accent-text-color);

    %forumTagsButtonInner {
        color: inherit;
    }

    %forumTagsCountContainer {
        background-color: var(--accent-text-color);
    }

    %forumTagsCountText {
        color: hsl(var(--accent-hsl));
    }
}

%forumFilterContainer {
    --card-color-hover: var(--card-color);
    
    padding: 16px 16px 8px;
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
    box-shadow: var(--default-shadow);

    %forumFilterHeader {
        padding: 0;
    }

    %forumFilterCountContainer {
        background-color: hsl(var(--accent-hsl));

        %forumFilterCountText {
            color: var(--accent-text-color);
        }
    }
}

/* FORUM -> TAGS */

%forumTagsContainer {
    padding: 16px 0 0;
}

%forumTagList {
    height: var(--button-height);
}

%postPill {
    height: var(--button-height);
    background-color: var(--card-color-hover);
    border-radius: var(--button-radius);

    &%postPillClickable {
        &:not(%postPillDisabled) {
            &:hover {
                background-color: var(--card-color-active);
            }
        }
    }

    &%postPillSelected {
        background-color: hsla(var(--accent-hsl),0.2) !important;
        border-color: hsl(var(--accent-hsl)) !important;
    }
}
