@use '../mixins' as *;

/*
 *
 *  FORUM NEW POST
 *
 */

%newPostContainer {
    &%newPostContainerCollapsed {
        height: auto;

        %inputWrapper {
            margin-right: 8px;
        }
    }

    %newPostTitleContainer {
        min-height: 0;
    }

    %newPostContentContainer {
        padding-left: 0;
        padding-right: 94px;
    }

    %newPostFormContainer {
        position: relative;
        display: block;
    }

    %newPostAttachmentContainer {
        position: absolute;
        top: 52px;
        right: 0;

        %newPostAttachmentUploadInput {
            @include card-format;
        }

        %newPostAttachmentImageSmall {
            border-radius: var(--card-radius);
        }

        %newPostAttachmentBadge {
            background-color: hsl(var(--accent-hsl));
            border-width: 4px;
            color: var(--accent-text-color);
        }
    }

    %input {
        margin: 0;
        padding: 0 12px;
        @include input-format;
        line-height: var(--input-height);
    }

    %newPostTextArea {
        background-color: transparent;
    }

    %newPostTextArea {
        margin: 16px 0 0;
    }

    %newPostTextAreaInner {
        --textarea-alpha: 0.1;

        padding: 8px 16px;
        background-color: rgba(var(--textarea-color),var(--textarea-alpha)) !important;
    	border-radius: var(--textarea-radius);
        color: var(--textarea-text-color);

        &::-webkit-input-placeholder {
            color: var(--textarea-placeholder-color);
        }
    }

    %newPostAttachmentArea {
        margin: 0;
        padding: 16px 0 0;
    }

    %newPostMediaButton {
        background-color: var(--button-color) !important;
        border: none !important;
    }
}
