/*
 *
 *  FORUM NEW POST / SEARCH POSTS
 *
 */

%forumHeader {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    border: none;

    &%forumHeaderWithMatchingPosts {
        border-radius: var(--card-radius) var(--card-radius) 0 0;
    }

    %input {
        &%inputTextArea {
            --input-height: 36px !important;
            --input-padding: 0 12px !important;

            height: var(--input-height);
            margin: 0;
            line-height: calc(var(--input-height) - 2px);
        }
    }
}

%forumHeaderMatchingPostsRow {
    background-color: var(--card-color);
    border-radius: 0 0 var(--card-radius) var(--card-radius);
}

%newPostContainer {
    &:not(%newPostContainerCollapsed) {
        %newPostFormContainer {
            %newPostForm {
                margin-right: 16px;
            }
        }

        %newPostTitleContainer {
            margin-bottom: 16px;
        }
    }
}

%newPostFormContainer {
    %channelTextArea {
        background-color: transparent;
    }
    
    %channelTextAreaScrollable {
        --main-textarea-color: var(--input-color);

        padding: 6px 8px;
        border-radius: var(--input-radius);
        border: 1px solid transparent;
        transition: var(--default-time) var(--default-animation) border-color;

        &:focus-within {
            border-color: var(--input-border-color);
        }
    }
}

%newPostAttachmentUploadInput {
    background-color: var(--input-color);
    border-radius: var(--input-radius);
}

%newPostAttachmentImageSmall {
    border-radius: var(--input-radius);
}

%newPostAttachmentPopoutContainer {
    %spoilerContainer {
        border-radius: var(--input-radius);
    }
}

%forumNewPostAttachmentAction {
    min-width: 32px;
    height: 32px;
    padding: 0;
}
