/*
 *
 *  FORUM POSTS
 *
 */

%forumPostCardGallery,
%forumPostCardList {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    border: none;
    transition: none;

    &:hover {
        background-color: var(--card-color-hover);
        box-shadow: none;
        transform: none;
    }

    &%forumPostCardGalleryIsOpen,
    &%forumPostCardListIsOpen {
        background-color: var(--card-color-active) !important;
    }
}

%forumPostCardList {
    &:hover {
        %forumPostTagPill {
            background-color: var(--card-color-active);
        }
    }

    &%forumPostCardListIsOpen {
        %forumPostTagPill {
            background-color: var(--card-color-hover);
        }
    }
}

/* FORUM POSTS -> POST BUTTON ACTIONS */

%forumPostThreadButtonContainer {
    background-color: var(--app-foreground);
}

%forumPostThreadAddReactButton,
%forumPostButtonInner {
    height: 24px;
    padding: 0 12px;
    background-color: transparent;
    border-radius: var(--button-radius);
    border: 1px solid hsl(0,0%,80%);
    font-size: 14px;
    font-weight: 600;
    color: hsl(0,0%,80%);

    &:hover {
        background-color: transparent;
        border-color: hsl(0,0%,100%);
        color: hsl(0,0%,100%) !important;
        opacity: 0.95;
        transform: scale(1.05);
    }

    &:active {
        opacity: 0.75;

        &:hover {
            transform: scale(1);
        }
    }
}

%forumPostThreadDivider {
    background-color: var(--card-color);
}
