/*
 *
 *  FORUM FLOATING POST
 *
 */

%forumPostChat {
    background-color: var(--app-foreground);
    border-radius: 0 0 var(--app-card-radius) var(--app-card-radius);
}

%forumPostContainer {
    background-color: transparent;
    overflow: visible;
}

%forumPostContainerFloating {
    border-left: none;
    box-shadow: 0 8px 40px hsla(0,calc(var(--saturation-factor, 1) * 0%),0%,0.39);
    z-index: 102;
    overflow: visible;
}

%chat {
    &%threadSidebarFloating {
        %toolbar {
            margin-right: 450px;
        }
    }
}
