/*
 *
 *  FORUM POSTS
 *
 */

%post,
%postCard {
    &:hover {
        background-color: var(--card-color-hover);
        box-shadow: none;
        transform: none;
    }
}

%postCardBodyMedia,
%postCardContentPreview {
    border-radius: var(--message-radius);
}

%postCardContentPreview {
    background-color: var(--message-color);
    border: none;
}

%postCardTextContentFooter {
    background: none !important;
}

%postReaction {
    background-color: var(--message-color);
	border-radius: var(--message-radius);
	border: none;

    &:hover {
        background-color: var(--message-color);
    }

    &%postReactionMe {
        background-color: hsla(var(--accent-hsl),0.3);
		border-color: transparent;

        &:hover {
			background-color: hsla(var(--accent-hsl),0.4);
		}

		%postReactionCount {
			color: hsla(var(--accent-hsl),var(--accent-opacity));
		}
    }
}

%postPinIcon {
    background-color: hsl(var(--accent-hsl));

    path {
        fill: var(--accent-text-color);
    }
}
