/*
 *
 *  USER SETTINGS APPPEARANCE
 *
 */

%settingsPreviewCard {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    border: none;
}

%themeEditorSelectionCircle {
    box-shadow: inset 0 0 0 2px hsl(var(--accent-hsl)), inset 0 0 0 4px var(--card-color);
}

%themeEditorCheckmarkCircle {
    circle {
        fill: var(--accent-text-color);
    }

    %themeEditorCheckmark {
        color: hsl(var(--accent-hsl));
    }
}

%premiumFeatureBorder {
    background: linear-gradient(var(--card-color),var(--card-color)) padding-box,var(--custom-premium-colors-premium-gradient-tier-2-diagonal) border-box;
    border-radius: var(--card-radius);
}

/* USER SETTINGS APPEARANCE -> THEME AND APP ICON */

%themeEditor,
%appIconEditor {
    height: calc(100% - (var(--app-card-top-margin) + var(--header-bar-height) + var(--app-bar-size)));
    margin: calc(var(--app-card-top-margin) + var(--header-bar-height)) var(--app-card-margin) var(--app-bar-size) 0;
    background-color: var(--app-foreground);
    border-radius: 0 0 var(--app-card-radius) var(--app-card-radius);
    border-left: none;
}
