@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS AUTHORIZED APPS
 *
 */

 %formNotice {
     @include card-format(true);
     padding: 0;
     border: none;

     %formNoticeTitle {
         @include card-format--header;
         opacity: 1;
     }

     %formNoticeBody {
         padding: 16px;
     }
 }

%authedApp {
    margin-bottom: 16px;
    padding: 0;
    border: none;

    %marginBottom20 {
        @include card-format--header;
    }

    div:not([class]) {
        padding: 16px 16px 0;
    }

    %marginTop20 {
        margin-top: 0;
        padding: 16px;
    }
}
