@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS AUTHORIZED APPS
 *
 */

%authedApp {
    margin-bottom: 16px;
    padding: 0;

    %marginBottom20 {
        padding: 16px;
        @include card-format--header;
        border-radius: var(--card-radius) var(--card-radius) 0 0;
    }

    div:not([class]) {
        padding: 16px 16px 0;
    }

    %marginTop20 {
        margin-top: 0;
        padding: 16px;
    }
}
