@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS FAMILY CENTER
 *
 */

%familyCenterGetStartedContainer,
%familyCenterFeatureCard,
%familyCenterSeeContainer,
%familyCenterBox,
%familyCenterEnableCard {
    @include card-format;
    box-shadow: none;
}

%familyCenterFeatureCardCircle {
    background-color: var(--card-color-active);
}

%familyCenterSeeRow {
    background-color: var(--card-color-hover);
    border-radius: var(--card-radius);

    %familyCenterSeeRowIconContainer {
        background-color: var(--card-color-active);
    }
}

%familyCenterBoxStepNumber {
    background-color: var(--card-color-active);

    %headingMDSemibold {
        color: hsl(var(--accent-hsl)) !important;
    }
}
