@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS MY ACCOUNT
 *
 */

#{ $settingsAccountProfileCard } {
    @include card-format;

    #{ $settingsUserBannerSVGMask } {
        circle {
            display: none;
        }
    }

    #{ $settingsUserInfo } {
        position: relative;
		height: 88px;
		padding: 16px 16px 16px 130px;

        #{ $avatarWrapper } {
            width: 94px !important;
            height: 94px !important;
            top: unset;
            bottom: 34px;
			background-color: var(--card-color);
            border: 8px solid var(--card-color);
		}
    }

    #{ $settingsUserBackground } {
        background-color: var(--card-color-hover);
        border-radius: var(--card-radius);
    }

    #{ $fieldList } {
        background-color: transparent;

        #{ $constrainedRow } {
            #{ $button } {
                margin-left: 8px;
            }
        }
    }
}

#{ $settingsBadgeList } {
    background-color: var(--card-color-hover);
    border-radius: var(--card-radius);
}

#{ $settingsCredentialList } {
    margin-bottom: 16px;
    padding: 4px;
    @include card-format;

    #{ $settingsCredentialItem } {
        border-radius: calc(var(--card-radius) - 2px);
        border: none;

        &:hover {
            background-color: var(--card-color-hover);
        }
    }
}
