@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS MY ACCOUNT
 *
 */

%settingsAccountProfileCard {
    @include card-format;

    %avatarWrapper {
        background-color: transparent;
    	border: none;
    	box-shadow: var(--popout-shadow);

    	svg {
    		filter: none;
    	}
    }

    %settingsUserBackground {
        @include card-format;

        %fieldList {
            background-color: transparent;
        }
    }
}
