@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS NITRO SETTINGS
 *
 */

%nitroHomeSettingsHeroCard,
%nitroHomeTierCard,
%settingsProfileShopCard {
    border-radius: var(--card-radius);
}

%nitroHomeSettingsHeroCard,
%settingsProfileShopCard,
%nitroHomeTierCard {
    %buttonInverted {
        &%buttonBrand {
            --button-background: hsl(0,0%,100%);
            --button-text-color: var(--brand-experiment);
        }
    }

    %buttonOutlined {
        &%buttonWhite {
            --button-text-color: hsl(0,0%,100%);
            --button-outline: 1px solid hsl(0,0%,100%);
        }
    }
}

%nitroHomeBigPerkCard,
%nitroHomeSmallPerkCard {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
}

%nitroSettingsFloatingInnerWrapper {
    background-color: var(--popout-color);
    box-shadow: var(--default-shadow);

    %buttonInverted {
        &%buttonBrand {
            --button-background: hsl(0,0%,100%);
            --button-text-color: hsl(0,0%,0%);
        }
    }

    %buttonOutlined {
        &%buttonWhite {
            --button-text-color: hsl(0,0%,100%);
            --button-outline: 1px solid hsl(0,0%,100%);
        }
    }
}

/* USER SETTINGS NITRO SETTINGS -> SERVER BOOST */

%settingsServerBoostBannerGradient {
    border-radius: var(--card-radius) var(--card-radius) 0 0;
}

%settingsServerBoostBannerWave {
    fill: var(--app-foreground);
}

%settingsServerBoostGuildContainer,
%settingsServerBoostGuildNotSeenWrapper,
%settingsServerBoostFAQCard {
    @include card-format;
}
