@use '../../classes' as *;

/*
 *
 *  USER SETTINGS PROFILES
 *
 */

#{ $fontZillaSlab } {
    --app-font: "Zilla Slab";
}

#{ $fontCherryBomb } {
    --app-font: "Cherry Bomb One";
}

#{ $fontChicle } {
    --app-font: "Chicle";
}

#{ $fontMuseoModerno } {
    --app-font: "Museo Moderno";
}

#{ $fontNeoCastel } {
    --app-font: "Neo Castel";
}

#{ $fontPixelify } {
    --app-font: "Pixelify Sans";
}

#{ $fontSinistre } {
    --app-font: "Sinistre";
}
