@use '../../classes' as *;

/*
 *
 *  USER SETTINGS PROFILES
 *
 */

#{ $fontZillaSlab } {
    --app-font: "Tempo";
}

#{ $fontCherryBomb } {
    --app-font: "Sakura";
}

#{ $fontChicle } {
    --app-font: "Jellybean";
}

#{ $fontMuseoModerno } {
    --app-font: "Modern";
}

#{ $fontNeoCastel } {
    --app-font: "Medieval";
}

#{ $fontPixelify } {
    --app-font: "8Bit";
}

#{ $fontSinistre } {
    --app-font: "Vampyre";
}
