@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS REGISTERED GAMES
 *
 */

%settingsGameNotDetectedCard {
    @include card-format(true);
}

%settingsGameNowPlayingCard {
    border-radius: var(--card-radius);
}

%addGamePopout {
    background-color: var(--popout-color) !important;
    border-radius: var(--popout-radius);
    box-shadow: var(--default-shadow);

    %addGamePopoutActions {
        gap: 8px;
    }
}

%settingsGameNameInput {
    transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) border-color;

    &:hover,
    &:focus {
        background-color: var(--input-color) !important;
        border-radius: var(--input-radius);
        border-color: transparent !important;
    }

    &:focus {
        border-color: var(--input-border-color) !important;
    }
}
