@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS SERVER BOOST
 *
 */

#{ $settingsNitroActiveBoostCard } {
    @include card-format;
}

#{ $settingsNitroActiveBoostCardHeader } {
    padding: var(--space-16);
    border-block-end: none;
}

#{ $settingsNitroBoostRow } {
    margin-inline: var(--space-8);
    background-color: var(--card-color-hover);

    &:nth-of-type(2) {
        border-start-start-radius: calc(var(--card-radius) / 1.75);
        border-start-end-radius: calc(var(--card-radius) / 1.75);
    }

    &#{ $settingsNitroBoostRowLast } {
        margin-block-end: var(--space-8);
        border-end-start-radius: calc(var(--card-radius) / 1.75);
        border-end-end-radius: calc(var(--card-radius) / 1.75);
    }
}

#{ $settingsNitroOtherBoostCard } {
    @include card-format;
}

#{ $settingsNitroBoostPerksCard } {
    @include card-format;
}

#{ $settingsNitroBoostFaqListItem } {
    @include card-format;
}
