.layer-v9HyYc[style*="left: 80px"] {
  left: calc(72px + 8px) !important;
  bottom: calc(var(--bar-size) + 1px + 8px) !important; }

.menu-3sdvDG#status-picker {
  width: 224px;
  background-color: var(--popout-color);
  border-radius: var(--popout-radius);
  overflow: hidden; }
  .menu-3sdvDG#status-picker .scroller-3BxosC {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .menu-3sdvDG#status-picker .item-1tOPte:not(#status-picker-custom-status) {
    width: unset; }
  .menu-3sdvDG#status-picker .item-1tOPte#status-picker-custom-status {
    margin-top: 0;
    border-bottom: none;
    grid-column: 1/6; }
    .menu-3sdvDG#status-picker .item-1tOPte#status-picker-custom-status .statusItem-33LqPf {
      padding: 0; }
