@function important($important) {
	@return #{if($important, '!important', '')};
}

@mixin modal-format($important: false) {
	background: var(--popout-color) important($important);
	border-radius: var(--popout-radius-big) important($important);
	box-shadow: var(--default-shadow) important($important);
}

@mixin card-format($important: false, $hover: false) {
	background-color: var(--card-color) important($important);
	border-radius: var(--card-radius) important($important);

	@if $hover == true {
		transition: 250ms ease all;

		&:hover {
			background-color: var(--card-color-hover) important($important);
		}
	}
}

@mixin card-format--header($important: false) {
	margin-bottom: 0;
	padding: 16px;
	background-color: var(--card-color) important($important);
	border-radius: var(--card-radius) var(--card-radius) 0 0 important($important);
	border-bottom: 1px solid var(--card-border-color);
	line-height: 22px;
	font-size: 1em;
	font-weight: 500;
	text-transform: none;
	color: var(--header-primary);
}

@mixin input-format($important: false, $focus-within: false) {
	height: var(--input-height);
	padding: var(--input-padding);
    background-color: var(--input-color) important($important);
    border-radius: var(--input-radius);
	border: 1px solid transparent important($important);
	color: var(--input-text-color);
	font-size: 14px;
	transition: var(--default-time) var(--default-animation) border-color;

    &:hover {
		border-color: transparent important($important);
	}

	@if ($focus-within) {
		&:focus-within {
			border-color: var(--input-border-color) important($important);
		}
	} @else {
		&:focus {
			border-color: var(--input-border-color) important($important);
		}
	}

    &::-webkit-input-placeholder {
        color: var(--input-placeholder-color);
    }
}
