:root {
    //--app-font: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    --app-font: "Circular Std";

    --app-background: hsl(0,0%,0%);
    --app-foreground: hsl(0,0%,7%);

    --app-card-radius: 8px;
    --app-card-margin: 8px;
    --app-card-top-margin: 4px;
    --app-card-border-color: hsl(0,0%,14%);

    --app-bar-size: 80px;

    --app-search-bar-width: 440px;
    --app-search-bar-height: 48px;
    --app-search-bar-padding: 0 12px;
    --app-search-bar-color: var(--input-color);
    --app-search-bar-radius: calc(var(--app-search-bar-height) / 2);

    --accent-hue: 141;
    --accent-saturation: 72.9%;
    --accent-lightness: 42%;
    --accent-hsl: var(--accent-hue),calc(var(--accent-saturation) * var(--saturation-factor)),var(--accent-lightness);
    --accent-text-color: hsl(0,0%,6%);

    --alert-hue: 0;
    --alert-saturation: 85%;
    --alert-lightness: 61%;
    --alert-hsl: var(--alert-hue),calc(var(--alert-saturation) * var(--saturation-factor)),var(--alert-lightness);
    --alert-text-color: hsl(0,0%,0%);

    --sidebar-panel-color: hsl(0,0%,12%);
    --sidebar-panel-border: hsl(0,0%,21%);

    --header-bar-height: 56px;
    --header-bar-color: hsl(0,0%,13%);

    --card-color: hsl(0,0%,10%);
	--card-color-hover: hsl(0,0%,15%);
    --card-color-active: hsl(0,0%,19%);
    --card-radius: 6px;
    --card-border-color: hsl(0,0%,19%);

    --button-height: 36px;
    --button-padding: 0 18px;
    --button-radius: calc(var(--button-height) / 2);

    --popout-color: hsl(0,0%,16%);
    --popout-color-alt: hsl(0,0%,11%);
	--popout-radius: 6px;
	--popout-radius-big: 10px;
    --popout-border-color: hsl(0,0%,26%);

	--menu-border-color: hsl(0,0%,26%);
	--menu-text-color: hsl(0,0%,85%);
    --menu-item-radius: 6px;

    --background-tinted-hover: hsla(0,0%,100%,0.07);
    --background-tinted-active: hsla(0,0%,100%,0.11);
    --background-tinted-highlight: hsla(0,0%,100%,0.17);
    --background-tinted-dark: hsla(0,0%,0%,0.23);

    --input-height: 36px;
    --input-padding: 0 12px;
    --input-color: hsla(0,0%,100%,0.09);
    --input-radius: 4px;
    --input-border-color: hsl(0,0%,33%);
    --input-text-color: hsl(0,0%,96%);
    --input-placeholder-color: hsl(0,0%,71%);

    --main-textarea-min-height: 48px;
    --main-textarea-radius: calc(var(--main-textarea-min-height) / 2);
    --main-textarea-color: hsl(0,0%,14%);
    --main-textarea-border-color: hsl(0,0%,20%);
    --main-textarea-text-color: hsl(0,0%,60%);
    --main-textarea-placeholder-color: hsl(0,0%,54%);
    --main-textarea-typing-color: hsla(0,0%,7%,0.9);

	--switch-knob-color: hsl(0,0%,100%);
	--switch-slider-color: hsl(0,0%,33%);

    --message-color-hover: hsl(0,0%,9%);
    //--attachment-color: hsl(0,0%,13%);
    //--attachment-radius: 6px;
    //--attachment-border-color: hsl(0,0%,21%);

    --slider-color: hsl(0,0%,70%);
	--slider-background: hsl(0,0%,26%);

    --scrollbar-width: 12px;
    --scrollbar-color: 0,0%,100%;
    --scrollbar-opacity: 0.3;
    --scrollbar-opacity-hover: 0.45;
    --scrollbar-opacity-active: 0.55;

    --default-animation: cubic-bezier(0.4,0,0.2,1);
	--default-time: 250ms;

    --text-brand: hsl(var(--accent-hsl));
	--text-link: hsl(var(--accent-hsl));

    --default-shadow: 0 16px 24px hsla(0,0%,0%,0.3), 0 6px 8px hsla(0,0%,0%,0.2);
    --code-font: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;



	/*--main-color: #090909;
	--title-bar: #212121;

	--bar-color: #181818;
	--bar-border-color: #282828;
	--bar-size: 90px;

	--accent-rgb: 29,185,84;
	--accent-hover: 30,215,96;
	--accent-text-color: #fff;
	--alt-accent: #5680d4;
	--alt-accent-text-color: #fff;

	--alert-color: #f04747;
	--alert-hover: #ff4c4c;

	--chat-color: #121212;
	--server-list: var(--chat-color);
	--sidebar-color: #000;
	--sidebar-panel: var(--main-color);

	--card-color: rgba(255,255,255,0.05);
	--card-color-hover: rgba(255,255,255,0.1);
	--card-border: #333;
	--card-radius: 4px;

	--popout-color: #282828;
	--popout-radius: 7px;
	--popout-radius-small: 3px;

	--menu-hover-color: rgba(255,255,255,0.1);
	--menu-select-color: rgba(255,255,255,0.3);
	--menu-border-color: rgba(255,255,255,0.1);
	--menu-text-color: #b2b2b2;

	--input-color: #e0e0e0;
	--input-text-color: #333;
	--input-placeholder-color: #444;
	--input-radius: 22px;
	--select-input-color: #363636;

	--button-background: rgba(0,0,0,0.7);
	--button-border: 1px solid #b2b2b2;
	--button-border-hover: 1px solid #fff;
	--button-text-color: #fff;
	--button-scale: 1.05;

	--list-item-default: #212121;
	--list-item-hover: #333;
	--list-item-select: #5a5a5a;

	--sticky-header: #181818;
	--sticky-header-border: #303030;

	--slider-color: #b3b3b3;
	--slider-background: var(--menu-border-color);

	--attachment-color: #272727;

	--supporter-color: rgb(var(--accent-rgb));

	--tooltip-color: var(--popout-color);
	--tooltip-text-color: var(--text-normal);
	--tooltip-font-size: 14px;
	--tooltip-padding: 8px 12px;
	--tooltip-radius: var(--popout-radius-small);
	--tooltip-shadow: var(--default-shadow);

	--default-shadow: 0 7px 18px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.25), 0 -2px 10px rgba(0,0,0,0.25), 0 0 15px rgba(0,0,0,0.25);

	--scrollbar-thumb: rgba(255,255,255,0.3);
	--scrollbar-thumb-hover: rgba(255,255,255,0.45);
	--scrollbar-thumb-active: rgba(255,255,255,0.55);

	--window-button: #181818;
	--window-button-hover: #535353;
	--window-button-close: #cd1a2b;

	--font-primary: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	--font-display: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif !important;*/
}
