:root {
    //--app-font: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    --app-font: "Circular Std";

    --app-background: hsl(0,0%,0%);
    --app-foreground: hsl(0,0%,7%);

    --app-card-radius: 8px;
    --app-card-margin: 8px;
    --app-card-top-margin: 4px;
    --app-card-border-color: hsl(0,0%,14%);

    --app-bar-size: 80px;

    --accent-hue: 141;
    --accent-saturation: 72.9%;
    --accent-lightness: 42%;
    --accent-hsl: var(--accent-hue),calc(var(--accent-saturation) * var(--saturation-factor)),var(--accent-lightness);
    --accent-text-color: hsl(0,0%,6%);

    --alert-hue: 0;
    --alert-saturation: 85%;
    --alert-lightness: 61%;
    --alert-hsl: var(--alert-hue),calc(var(--alert-saturation) * var(--saturation-factor)),var(--alert-lightness);
    --alert-text-color: hsl(0,0%,0%);

    --sidebar-panel-color: hsl(0,0%,12%);
    --sidebar-panel-border: hsl(0,0%,21%);

    --header-bar-height: 56px;
    --header-bar-color: hsl(0,0%,13%);

    --card-color: hsl(0,0%,10%);
	--card-color-hover: hsl(0,0%,14%);
    --card-color-active: hsl(0,0%,22%);
    --card-radius: 6px;
    --card-border-color: hsl(0,0%,19%);

    --button-height: 36px;
    --button-padding: 0 18px;
    --button-radius: calc(var(--button-height) / 2);

    --popout-color: hsl(0,0%,16%);
    --popout-color-alt: hsl(0,0%,11%);
	--popout-radius: 6px;
	--popout-radius-big: 10px;
    --popout-border-color: hsl(0,0%,26%);

	--menu-border-color: hsl(0,0%,26%);
	--menu-text-color: hsl(0,0%,85%);
    --menu-item-radius: 6px;

    --background-tinted-hover: hsla(0,0%,100%,0.07);
    --background-tinted-active: hsla(0,0%,100%,0.11);
    --background-tinted-highlight: hsla(0,0%,100%,0.17);
    --background-tinted-dark: hsla(0,0%,0%,0.23);

    --input-height: 36px;
    --input-padding: 0 12px;
    --input-color: hsla(0,0%,100%,0.09);
    --input-radius: 4px;
    --input-border-color: hsl(0,0%,33%);
    --input-text-color: hsl(0,0%,96%);
    --input-placeholder-color: hsl(0,0%,71%);

    --main-textarea-min-height: 48px;
    --main-textarea-radius: calc(var(--main-textarea-min-height) / 2);
    --main-textarea-color: hsl(0,0%,14%);
    --main-textarea-border-color: hsl(0,0%,20%);
    --main-textarea-text-color: hsl(0,0%,60%);
    --main-textarea-placeholder-color: hsl(0,0%,54%);
    --main-textarea-typing-color: hsla(0,0%,7%,0.9);
    --textarea-margin: calc( (var(--app-bar-size) - var(--main-textarea-min-height)) / 2);

    // Subtract margins and title bar height unless using native titlebars
    --content-full-height: calc(100vh - var(--app-card-top-margin) - var(--textarea-margin) - 12px);
    // Placeholder selectors not supported yet inside :has()
    &:has(#vencord-native-titlebar-style),
    &:not(:has(.typeWindows_a934d8)) {
        --content-full-height: calc(100vh - var(--app-card-top-margin) - var(--textarea-margin));
    }

	--switch-knob-color: hsl(0,0%,100%);
	--switch-slider-color: hsl(0,0%,33%);

    --message-color-hover: hsl(0,0%,9%);
    //--attachment-color: hsl(0,0%,13%);
    //--attachment-radius: 6px;
    //--attachment-border-color: hsl(0,0%,21%);

    --slider-color: hsl(0,0%,70%);
	--slider-background: hsl(0,0%,26%);

    --scrollbar-width: 12px;
    --scrollbar-color: hsl(0,0%,35%);
    --scrollbar-hover-color: hsl(0,0%,49%);
    --scrollbar-active-color: hsl(0,0%,58%);

    --default-animation: cubic-bezier(0.4,0,0.2,1);
	--default-time: 250ms;

    --text-brand: hsl(var(--accent-hsl));
	--text-link: hsl(var(--accent-hsl));

    --default-shadow: 0 16px 24px hsla(0,0%,0%,0.3), 0 6px 8px hsla(0,0%,0%,0.2);
    --code-font: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
}
