@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  BETTERDISCORD ADDONS
 *
 */

#{ $bdAddonSearchBar } {
    @include input-format(false, true);

    #{ $bdAddonSearchInput } {
        height: 100%;
        padding: 0;
        font-size: inherit;
        color: inherit;

        &::-webkit-input-placeholder {
            color: var(--input-placeholder-color);
        }
    }

    svg {
        width: 20px !important;
        height: 20px !important;
        margin-right: 0;
    }
}

#{ $bdAddonList } {
    #{ $bdAddonCard } {
        @include card-format;
    }

    #{ $bdAddonCardHeader } {
        @include card-format--header;
    }
}

#{ $bdAddonCardControls } {
    > #{ $bdButton } {
        --button-background: var(--background-tinted-active);

        &:hover {
            --button-background: var(--background-tinted-highlight);
        }

        &:first-of-type {
            border-radius: var(--card-radius) 0 0 var(--card-radius);
        }

        &:last-of-type {
            border-radius: 0 var(--card-radius) var(--card-radius) 0;
        }
    }
}
