@use '../../classes' as *;

/*
 *
 *  BETTERDISCORD ADDON STORE
 *
 */

#{ $bdStoreCard } {
    background-color: var(--card-color);
    border-radius: var(--card-radius);

    &:hover {
        background-color: var(--card-color-hover);
    }
}

#{ $bdAddonStoreCard } {
    background-color: var(--card-color) !important;
    border-radius: var(--card-radius);

    &:hover {
        background-color: var(--card-color-hover) !important;

        #{ $bdAddonStoreCardAuthorMask } {
            background-color: var(--card-color-hover) !important;
        }
    }

    #{ $bdAddonStoreCardAuthorMask } {
        background-color: var(--card-color);
    }
}
