@use '../../classes' as *;

/*
 *
 *  BETTERDISCORD SWITCHES
 *
 */

#{ $bdSwitchContainer } {
	width: 43px;
	height: 24px;
	overflow: visible;

	&#{ $bdSwitchDisabled } {
		opacity: 0.35;
	}

	#{ $bdSwitchBody } {
		--switch-color: var(--switch-slider-color);

		width: 100%;
		height: 100%;
		overflow: visible;

		#{ $bdSwitchSlider } {
			height: 20px;
			top: 2px;
			left: -2px;
			margin: 0;
			overflow: visible;

			#{ $bdSwitchHandle } {
				fill: var(--switch-knob-color);
			}

			#{ $bdSwitchSymbol } {
				display: none;
			}
		}
	}

	input {
		&:active {
			+ #{ $bdSwitchBody } {
				--switch-color: var(--switch-slider-color);
			}
		}

		&:checked {
			+ #{ $bdSwitchBody } {
				--switch-color: hsl(var(--accent-hsl));

				#{ $bdSwitchSlider } {
					left: 17px;
				}
			}

			&:active {
				+ #{ $bdSwitchBody } {
					--switch-color: hsl(var(--accent-hsl));
				}
			}
		}
	}
}
