/*
 *
 *  BETTERDISCORD TOAST
 *
 */

%bdToast {
    display: flex;
    height: 40px;
    padding: 0 16px;
    border-radius: 20px;
    background-color: var(--popout-color);
    justify-content: center;
    align-items: center;
    box-shadow: none;
	font-size: 1em;
	font-weight: 400;
    color: var(--text-normal);

    &%bdToastSuccess,
    &%bdToastError,
    &%bdToastInfo {
        background-color: var(--popout-color);
        color: var(--text-normal);

        &%bdToastIcon {
            gap: 8px;
            padding-left: 12px;
            background-image: none;
            flex-direction: row;

            &:before {
                display: flex;
                position: relative;
                content: " ";
                width: 18px;
                height: 18px;
            	-webkit-mask-repeat: no-repeat;
                mask-size: 100%;
                background-color: var(--text-normal);
            }
        }
    }

    $toasts: (
        success:
            (class: bdToastSuccess, bg: var(--button-positive-background), text: var(--text-primary), icon: check_circle),
        error:
            (class: bdToastError, bg: hsl(var(--alert-hsl)), text: var(--alert-text-color), icon: cancel),
        info:
            (class: bdToastInfo, bg: hsl(var(--accent-hsl)), text: var(--accent-text-color), icon: info),
    );

    @each $toast, $value in $toasts {
        &%#{map-get($value, class)} {
            --popout-color: #{map-get($value, bg)};
            --text-normal: #{map-get($value, text)};

            &%bdToastIcon {
                &:before {
                    -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/#{map-get($value, icon)}.svg);
                }
            }
        }
    }

    &%bdToastIcon {
        padding-left: 36px;
        background-position: 10px 50%;
    }
}
