@use '../../mixins' as *;

/*
 *
 *  SERVER AUDIT LOG
 *
 */

%auditLog {
    position: relative;
    margin: 0;
    background-color: var(--card-color-filled);
    border-radius: 0;
    border: none;

    &:first-of-type {
		border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
	}

	&:last-of-type {
        border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);

        %auditLogHeader {
            margin: 8px;

            &:after {
                height: calc(100% - 16px);
            }

            &%auditLogHeaderExpanded {
                margin: 8px 8px 0;
            }
        }

        %auditLogChangeDetails {
            margin-bottom: 8px;
        }
    }

    &:hover {
        %auditLogHeader {
            &:after {
                background-color: var(--card-color-hover);
            }
        }
    }
}

%auditLogHeader {
    width: calc(100% - 16px);
    margin: 8px 8px 0;
    border-radius: calc(var(--card-radius-big) / 1.65);
    background-color: transparent !important;
    z-index: 2;

    &:after {
        position: absolute;
        content: " ";
        width: calc(100% - 16px);
        height: calc(100% - 8px);
        top: 8px;
        left: 8px;
        border-radius: calc(var(--card-radius-big) / 1.65);
        transition: var(--default-time) var(--default-animation) background-color;
        z-index: -1;
        pointer-events: none;
    }

    &%auditLogHeaderExpanded {
        &:after {
            background-color: var(--card-color-active) !important;
        }
    }
}

%auditLogDivider {
    display: none;
}

%auditLogChangeDetails {
    width: calc(100% - 16px);
    margin: 0 8px;
    background-color: transparent !important;
    z-index: 2;

    %auditLogDetail {
        &:first-of-type {
            margin-top: 0;
        }
    }
}

%auditLogIcon {
	&:after {
		width: 9px;
		height: 9px;
		top: unset;
		left: unset;
		right: 2px;
		bottom: 2px;
		border-radius: 50%;
	}

	&%auditLogTypeCreate {
		&:after {
			background: #389c59;
		}
	}

	&%auditLogTypeUpdate {
		&:after {
			background: #ec9d1a;
		}
	}

	&%auditLogTypeDelete {
		&:after {
			background: #9d3235;
		}
	}
}
