@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS CONTENT MODERATION
 *
 */

%automodSimpleCard {
    @include card-format(false, 16px, true);
}

%automodEditCard {
    @include card-format(true, 0, true);

    &:before {
        display: none;
    }
}

%automodRuleIconContainer,
%automodStepCountIcon {
    background-color: var(--card-button-color);
}

%triggerMainContainer {
    padding: 0;
    border: none;

    %triggerSettingsContainer {
        --card-color-filled: var(--card-color-alt);

        margin: 8px 0;
        @include card-format(false, 0, true);

        %paddingTop,
        %triggerSettingsExemptionHint {
            margin-top: 0;
            padding: 0px 16px 8px;
        }
    }
}

%triggerCollapseable {
    margin-top: 0;
    padding: 16px;
    background-color: transparent;
    border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
    border-top: 1px solid var(--card-border-color);

    &:not(:last-child) {
        margin-bottom: 0;
    }

    &:active {
        background-color: transparent !important;
    }

    &:before {
        display: none;
    }
}

%mentionLimitContainer {
    background-color: transparent;
}

%triggerSettingsSearchContainer {
    padding: 16px 16px 8px;

    %triggerSettingsSearchBox {
        @include new-input-format;

        %triggerSettingsSearchBoxInner {
            padding: 0;
        }

        %triggerSettingsSearchInput {
            height: var(--input-height);
            margin: 0;
            padding: 0;
        }
    }

    %popoutSearchRichTag {
        margin: 6px 6px 6px 0;
    }
}

%keywordsTextArea,
%regexTextArea {
    padding: 12px;
    background-color: var(--input-color);
    border-radius: 19px;
    border: none;

    &::-webkit-input-placeholder {
        font-family: var(--app-font);
        color: var(--input-placeholder-color);
    }
}

%keywordsTextArea {
    width: calc(100% - 32px);
    margin: 16px 16px 8px;
}

%regexTextArea {
    %regexTextAreaInnerScroller {
        padding: 0;
    }

    %regexChipletContainer {
        background-color: var(--card-button-color);
        border-radius: 6px;
    }
}

%keywordsCounter {
    right: 24px;
    bottom: 24px;
}

%keywordListContainer,
%actionContainer {
    padding: 12px 16px;
    background-color: transparent;
    @include card-format--list;

    &:not(:last-child) {
        margin-bottom: 0;
    }

    %triggerSettingsCheckboxWrapper {
        padding: 0;
    }
}

%actionContainer {
    %actionContainer {
        padding: 0;
    }

    %actionIconContainer {
        margin-right: 16px;
    }

    %actionEditChannel {
        color: hsl(var(--accent-hsl--material-you));
    }
}

%actionRuleContainer {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--card-border-color);
}

%dividerIcon {
    color: var(--text-muted);
}

%resultsList {
    @include popout-format;
    border: none;

    %resultsChannelRowLabel,
    %resultsRoleLabel {
        background-color: transparent;
        border-radius: 6px;
        border: 1px solid var(--card-border-color);
    }
}


%stepperContainer {
    padding: 0;
    background-color: var(--card-color-outlined);
    border-radius: calc(var(--input-height) / 2);
    border: 1px solid var(--card-border-color);

    --input-height: 36px;

    %stepper {
        border-radius: inherit;
    }

    %stepperIconWrapper {
        background-color: transparent !important;
        transition: var(--default-time) var(--default-animation) background-color;

        &:first-of-type {
            border-right: 1px solid var(--card-border-color);
        }

        &:last-of-type {
            border-left: 1px solid var(--card-border-color);
        }

        &:hover {
            background-color: var(--card-color-hover) !important;
        }

        %stepperIcon {
            height: var(--input-height);

            &:hover {
                background-color: transparent;
            }
        }
    }

    %inputWrapper {
        border-bottom: none !important;

        &:before,
        &:after {
            bottom: 0;
        }
    }
}
