/*
 *
 *  SERVER SETTINGS BANNED USERS
 *
 */

%bannedUsersContainer {
    min-width: 350px;
    max-width: 1400px;
    width: auto;
    padding: 60px 97px 60px 60px;

    + %settingsToolsContainer {
        position: absolute;
        right: 0;
        margin-right: 21px;
    }
}

%bannedUsersScrollerContainer {
    padding: 0;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    box-shadow: none;
    overflow: hidden;
}

%bannedUser {
    margin: 0;
    background-color: transparent;
    border-radius: calc(var(--card-radius-big) / 1.65);
    box-shadow: none !important;
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-color-hover);
    }

    %bannedUsername {
        color: var(--text-normal) !important;

        %bannedDiscrim {
            padding-left: 6px;
            color: var(--primary-400) !important;
        }
    }
}
