@use '../../mixins' as *;

/*
 *
 *  SERVER COMMUNITY DISCOVERY
 *
 */

%checklist {
	@include card-format(false, 0, true);

	%checklistHeader {
		@include card-format--header(false, true);
	}

	%checklistItem {
		@include card-format--list;

		+ %checklistSeparator {
			display: none;
		}
	}
}

%communityDiscoveryCard {
	background-color: var(--card-color-filled);
	border-radius: var(--card-radius-big);
	box-shadow: none !important;
}

%communityDiscoveryIconMask {
	background-color: var(--card-color-filled) !important;
}
