@use '../../mixins' as *;

/*
 *
 *  SERVER EMOJI
 *
 */

%emojiContent {
    padding: 8px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}

%emojiTable {
	margin-bottom: 0;
	padding: 8px 12px;
	background-color: var(--card-color-filled);
	border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;

	%formText {
		@include remove-caps(14px);
	}
}

%emojiRow {
    position: relative;
    padding: 0 16px;
    box-shadow: none !important;

	&:nth-child(3) {
        padding-top: 16px !important;

		&:before {
			height: 100% !important;
			top: 0 !important;
		}
	}

	&:last-of-type {
		margin-bottom: 0 !important;

		&:before {
			height: 100% !important;
		}
	}

    &:before {
		width: 100% !important;
		left: 0 !important;
    }

    %emojiAliasInput {
        margin-top: 0;
		border-bottom: none !important;

		&:before,
		&:after {
			display: none;
		}

		&:focus-within {
			+ %emojiAliasPlaceholder {
				opacity: 0;
			}
		}

		%emojiInput {
			padding: 0 8px;
			font-size: 16px;
			background-color: var(--input-color-alt);
			transition: var(--default-time) var(--default-animation) box-shadow, var(--default-time) var(--default-animation) opacity;
		}
	}

    %emojiAliasPlaceholder {
		height: auto;
		margin-left: 8px;
		padding: 0;
		line-height: var(--input-height);
		color: var(--text-normal);
		transition: var(--default-time) var(--default-animation);
		overflow: visible;
	}

	%emojiRemove {
        top: 0;
		right: 12px;
        bottom: 0;
        margin: auto 0;
        background-color: var(--card-button-color);
        box-shadow: none !important;
        transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) opacity;

        &:hover {
            background-color: var(--card-button-color-hover);
        }
	}
}
