@use '../../mixins' as *;

/*
 *
 *  SERVER MEMBERSHIP SCREENING
 *
 */

%ruleScreeningMainColumnContainer {
    max-width: calc( 100% - calc(188px + 32px) );
}

%rulesScreeningBackgroundContainer {
    @include card-format(false, 16px);

	%rulesScreeningContainerPadding {
		padding: 0;
	}

    %inputWrapper {
        height: auto;
        max-height: unset;
    }
}

%rulesScreeningContainerFooter {
    padding: 0;
    background-color: transparent;
}

%rulesScreeningFieldBackground {
    &:not(textarea) {
        @include card-format(false, 16px);
    }

    &%rulesScreeningWithFooter {
		border-bottom: none;
    }
}

%rulesScreeningFieldFooterContainer {
    background-color: var(--card-color-outlined);
    border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
	border: 1px solid var(--card-border-color);
}

%rulesScreeningSidebarFixedContainer {
    @include card-format(false, 16px);
}
