@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS PERMISSIONS
 *
 */

%permissionsSettingCard {
	margin-bottom: 16px;
	@include card-format(false, 0 0 1px, true);

	&%permissionsSettingCardActive {
		background-color: var(--card-color-filled);

		%permissionsCardContent {
            padding: 16px 16px 0;
        }
	}

	%permissionsCardFolderHeader {
		padding: 16px 16px 0;
		border-bottom: none;
	}

	%permissionsCardFolder {
        margin: 16px;
        background-color: var(--card-color-hover);
        border-radius: calc(var(--card-radius-big) / 1.6);
    }

    + %permissionsDivider {
		display: none;

		+ %button {
			--button-padding: 0;
		}
	}
}

%permissionsRoleMemberList {
	padding: 16px;

	%permissionsRoleMemberContent {
		height: auto !important;

		%permissionsMemberRow {
			padding: 0 4px;
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		%permissionsDivider {
			display: none;
		}
	}
}

%settingsContentSidebarScrollable {
    %settingsContentSidebarHeaderDefault {
        @include remove-caps(14px);
    }

	%permissionsSidebarRoleItem {
		border-radius: 16px;
		transition: var(--default-time) var(--default-animation) background-color;

        &%itemThemed {
            &:not(%itemDisabled) {
                &:hover {
                    background-color: var(--menu-item-hover);
                }

                &%itemSelected {
        			background-color: var(--menu-item-select);
        		}
            }
        }

		%permissionsSidebarRoleDotBackground {
			padding: 0;
			background-color: transparent;
		}
    }
}

%settingsContentSidebarScroller {
    background-color: transparent;
}

%staticToolbar {
	margin-bottom: 8px;
	@include card-format(true, 0, true);
	overflow: hidden;

	%button {
		--button-height: 32px;
		--button-background: transparent;
		--button-radius: 0;
	}
}

%forumGuidelines {
	--input-padding: 0 12px;

	@include input-format(false, false, true, 200px, 250px);
	background: var(--input-color) !important;
	border-radius: 19px;

	%slateTextArea {
		right: 0;
		padding: 12px 0;
	}
}

%forumGuidelinesAddTags {
	background-color: hsl(var(--accent-hsl--material-you));

	&:not(%forumGuidelinesAddTagsDisabled):hover {
		background-color: hsl(var(--accent-hsl--material-you));
	}

	path {
		fill: var(--accent-text-color--material-you);
	}
}
