/*
 *
 *  SERVER SETTINGS PROFILE
 *
 */

%serverProfileItemContainer {
    border-radius: 32px;
    border: none;
    transition: var(--default-time) var(--default-animation) border-radius, var(--default-time) var(--default-animation) box-shadow;

    &:has(%serverProfileItemContainerSelected) {
        border-radius: var(--card-radius-big);
        box-shadow: 0 0 0 2px hsl(var(--accent-hsl--material-you)), inset 0 0 0 2px var(--main-color);
    }
}

%serverProfileItemContainerSelected {
    display: none;
}

%serverProfileTraitContainer {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    border: none;
    transition: var(--default-time) var(--default-animation) background-color;
}
