/*
 *
 *  SERVER SETTINGS PROFILE
 *
 */

%serverProfileItemContainer {
    border-radius: var(--card-radius-big);
    border: none;
}

%serverProfileItemContainerSelected {
    border-radius: calc(var(--card-radius-big) + 4px);
    border-color: hsl(var(--accent-hsl--material-you));
}

%serverProfileTraitContainer {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    border: none;
    transition: var(--default-time) var(--default-animation) background-color;
}
