@use '../../mixins' as *;

/*
 *
 *  SERVER RULES SCREENING
 *
 */

%ruleScreeningMainColumnContainer {
    max-width: calc( 100% - calc(188px + 32px) );
}

%rulesScreeningBackgroundContainer {
    @include card-format(false, 16px, true);

	%rulesScreeningContainerPadding {
		padding: 0;
	}

    %inputWrapper {
        height: auto;
        max-height: unset;
    }
}

%rulesScreeningContainerTitle {
    font-size: 1.25em;
    color: var(--card-header-text-color);
	font-weight: 500;

    %rulesScreeningContainerVerificationLevel {
        font-size: 1em;
    }
}

%rulesScreeningContainerFooter {
    padding: 0;
    background-color: transparent;
}

%rulesScreeningFieldBackground {
    &:not(textarea) {
        --card-color-filled: var(--card-color-alt);

        @include card-format(false, 16px, true);
    }

    &%rulesScreeningWithFooter {
		border-bottom: none;
    }
}

%rulesScreeningFieldFooterContainer {
    background-color: var(--card-color-alt);
    border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
    border-top: 1px solid var(--card-border-color);
}

%rulesScreeningSidebarFixedContainer {
    @include card-format(false, 16px, true);
}

/* SERVER RULES SCREENING -> EDIT RULES */

%rulesTextAreaInput {
    @include card-format(false, 0 0 0 16px, true);
}

%rulesExampleRule {
    height: var(--button-height);
    padding: 0 12px;
    background-color: var(--card-button-color);
    border-radius: 10px;
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-button-color-hover);
    }

    > div {
        line-height: var(--button-height);
    }
}
