@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS SAFETY SETUP
 *
 */

%safetySetupChangelog {
    @include card-format(false, 16px, true);
}

%safetySetupChecklist {
    @include card-format(false, 0, true);

    %buttonOutlined {
        border: var(--button-outline) !important;
    }

    %safetySetupChecklistDivider {
        background-color: var(--card-border-color);
    }
}

%safetySetupBackButton {
    --button-padding: 0;

    margin-bottom: 16px;

    %safetySetupBackButtonText {
        background-image: none;
        text-transform: none;
        text-decoration: none;
    }
}
