@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS SERVER SUBSCRIPTIONS
 *
 */

%serverSubscriptionCard {
    @include card-format(false, 0, true);
}

%serverSubscriptionHeroBanner {
    border-radius: var(--card-radius-big);
}

/* SERVER SETTINGS SERVER SUBSCRIPTIONS -> HOW IT WORKS */

%howItWorksContainer {
    padding: 0;
    background-color: transparent;
}

%howItWorksImageContainer,
%howItWorksDescription {
    background-color: transparent;
}

/* SERVER SETTINGS SERVER SUBSCRIPTIONS -> CREATOR BENEFITS */

%creatorBenefitCard {
    padding: 16px;
}

%creatorBenefitEarningsPreviewCard,
%creatorBenefitAvatarCard {
    --card-color-filled: var(--card-color-alt);

    @include card-format(false, 16px, true);
}

/* SERVER SETTINGS SERVER SUBSCRIPTIONS -> LEARN FROM OTHER CREATORS */

%guildCard {
    padding: 16px;
}

%guildCardHeaderAvatar {
    border-radius: 50%;
}

%guildSubscriberCount {
    height: var(--button-height);
    padding: var(--button-padding);
    background-color: var(--card-button-color);
    border-radius: var(--button-radius);

    %textMDNormal {
        color: var(--text-normal) !important;
        font-weight: 500;
    }
}

%guildSubscriberCountValue,
%guildSubscriberCountText {
    padding: 0;
    background-color: transparent;
}

%guildSubscriberCountText {
    padding-left: 12px;
}

%guildCardEmojisContainer {
    margin-right: 8px;
    padding: var(--button-padding);
    background-color: var(--card-button-color);
    border-radius: var(--button-radius);
}

/*  */

%serverSubscriptionsTabBar {
    border-bottom-width: 1px;
}

%serverSubscriptionsSetupContainer {
    @include card-format(false, 16px, true);
}
