@use '../../mixins' as *;

/*
 *
 *  SERVER LISTS
 *
 */

%settingsLongCard {
    padding: 16px;
    background-color: var(--card-color-filled);

    &:nth-child(3) {
        padding-top: 24px;
		border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;

		&:last-of-type {
			border-radius: var(--card-radius-big);
		}

        &:before {
            height: calc(100% - 8px);
            top: 8px;
        }
	}

	&:last-of-type {
		margin-bottom: 32px;
        padding-bottom: 24px;
        border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);

        &:before {
            height: calc(100% - 8px);
        }
	}

    &:before {
        width: calc(100% - 16px);
        left: 8px;
        right: 0;
        bottom: 0;
        margin: 0;
        background-color: var(--card-color-hover) !important;
        border: none;
        border-radius: calc(var(--card-radius-big) / 1.65);
        transition: var(--default-time) var(--default-animation) opacity;
        pointer-events: none;
    }
}

%settingsHeader,
%settingsMemberHeader  {
    + %settingsHeaderDivider {
        display: none;
    }
}

/* SERVER LISTS -> MEMBERS LIST */

%settingsMemberCard {
    &:nth-child(3) {
		margin-top: 24px;
    }

    %roleOverflowButton {
        width: 36px;

        %button {
            --button-padding: 0;

            min-width: var(--button-height);
        }

        %roleOverflowIcon {
            vertical-align: middle;
        }
    }
}

/* SERVER LISTS -> INVITE LIST */

%settingsInviteHeaderSection {
	padding-bottom: 0;

    %settingsInviteHeaderDivider,
	%settingsInviteDivider {
		display: none;
	}

	%settingsInviteHeader {
        margin-top: 24px;
		padding: 16px 16px 4px;
        background-color: var(--card-color-filled);
		border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
	}
}

%settingsInviteCard {
    height: 72px;

    &:nth-child(3) {
		border-radius: 0;
    }

    %settingsInviteAvatar {
        width: 24px !important;
        height: 24px !important;
    }

    %settingsInviteRevokeInvite {
        top: -12px;
        right: -8px;
    }
}

/* SERVER LISTS -> BAN LIST */

%bannedUserModal {
	%bannedUserModalContent {
		padding: 0 !important;

		&::-webkit-scrollbar {
			width: 0px !important;
		}

		%settingsInviteHeader {
			padding: 16px;
			justify-content: left;
			border-bottom: 1px solid var(--card-border-color);
		}

		%bannedUserModalReasonHeader {
			margin-top: 0;
			padding: 16px;
			@include remove-caps(14px);

			+ %textSMNormal {
				padding: 0 16px 16px;
			}
		}
	}
}
