@use '../../mixins' as *;

/*
 *
 *  SERVER LISTS
 *
 */

%settingsLongCard {
    background-color: var(--card-color-filled);
    @include card-format--list;
    box-shadow: none !important;

    &:before {
		display: none;
	}

    &:last-of-type {
		border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
	}
}

%settingsHeader,
%settingsMemberHeader  {
    + %settingsHeaderDivider {
        display: none;
    }
}

/* SERVER LISTS -> MEMBERS LIST */

%settingsMemberCard {
    padding: 16px;

    &:nth-child(3) {
		margin-top: 24px;
		border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;

		&:last-of-type {
			border-radius: var(--card-radius-big);
		}
	}

	&:last-of-type {
		margin-bottom: 32px;
	}

	%roleWrapper {
		overflow: visible;
	}

    %roleOverflowButton {
        width: var(--button-height);
    }

	%button {
        --button-padding: 0;

        min-width: var(--button-height);
		background-color: transparent !important;
		@include md-ripple(hover, after, 1.1);

        %buttonContents {
            width: var(--button-height);
            height: var(--button-height);
        }

        svg {
            margin-top: 6px;
        }
	}
}

/* SERVER LISTS -> INVITE LIST */

%settingsInviteHeaderSection {
	padding-bottom: 0;

    %settingsInviteHeaderDivider,
	%settingsInviteDivider {
		display: none;
	}

	%settingsInviteHeader {
        margin-top: 24px;
		padding: 16px;
        background-color: var(--card-color-filled);
		border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
	}
}

%settingsInviteCard {
    height: 68px;
	padding: 16px;

    %settingsInviteText {
		%settingsInviteUser {
			%avatarWrapper {
				position: absolute;
				width: 34px !important;
				height: 34px !important;
				top: 0;
				bottom: 0;
				margin: auto 0;

                > svg {
                    width: inherit;
                    height: inherit;
                }
			}

			%settingsInviteUsername {
				margin-left: 48px;
			}
		}

		%textXSNormal {
			margin-left: 48px;
		}
	}

	%settingsInviteRevokeInvite {
		right: -16px;
	}
}

/* SERVER LISTS -> BAN LIST */

%settingsBannedUser {
	padding: 16px;

	&:nth-child(3) {
		border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;

		&:last-of-type {
			border-radius: var(--card-radius-big);
		}
	}

	&:last-of-type {
		margin-bottom: 32px;
	}
}

%bannedUserModal {
	%bannedUserModalContent {
		padding: 0 !important;

		&::-webkit-scrollbar {
			width: 0px !important;
		}

		%settingsInviteHeader {
			padding: 16px;
			justify-content: left;
			border-bottom: 1px solid var(--card-border-color);
		}

		%bannedUserModalReasonHeader {
			margin-top: 0;
			padding: 16px;
			@include remove-caps(14px);

			+ %textSMNormal {
				padding: 0 16px 16px;
			}
		}
	}
}
