@use '../../mixins' as *;

/*
 *
 *  SERVER SETTINGS SOUNDBOARD
 *
 */

%soundboardSettingsTableTitle {
    margin-bottom: 16px;
}

%soundboardSettingsTable {
    grid-template-columns: unset;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}

%soundboardSettingsTableHeaders {
    padding: 16px 16px 0;

    %soundboardSettingsTableHeader {
        font-weight: 500;
        text-transform: none;
    }
}

%soundboardSettingsTableRow {
    padding: 4px 16px;

    @include card-format--list;
}
