@use '../../classes' as *;

/*
 *
 *  HEADER BAR
 *
 */

#{ $headerBar } {
    box-shadow: var(--popout-header-shadow);

    &:before {
        display: none;
    }

    &#{ $headerBarThemed } {
        background-color: transparent;
    }
}

#{ $headerBarChildren } {
    &:after {
        display: none;
    }
}

#{ $headerBarAkaBadge } {
    background-color: var(--card-color);
}

#{ $headerBarReturnButton } {
	--button-height: 32px;
}

#{ $headerBarReturnButtonText } {
	font-size: 1em;

	&,
	* {
		color: var(--accent-text-color) !important;
	}
}
