/*
 *
 *  HEADER BAR
 *
 */

%headerBar {
    box-shadow: var(--popout-header-shadow);

    &:before {
        display: none;
    }

    &%headerBarThemed {
        background-color: transparent;
    }
}

%headerBarChildren {
    &:after {
        display: none;
    }
}

%headerBarAkaBadge {
    background-color: var(--card-color);
}
