/*
 *
 *  HEADER SEARCH BAR
 *
 */

%chatSearchBar {
    padding: 0 4px;
    background-color: rgba(var(--textarea-color),var(--textarea-alpha));
	border-radius: 12px;

	%privateChannelsSearchBarComponent {
		padding: 0 8px;
		border-radius: 14px;
	}

    %chatSearchContainer {
        %chatSearchFilter,
        %chatSearchFilter + span[data-offset-key],
        %chatSearchAnswer span[data-offset-key] {
            background-color: var(--search-block-color) !important;
            color: var(--search-block-text-color);
        }

        %chatSearchFilter {
            margin-right: 2px;
            padding: 0 4px 0 8px;
            border-radius: 10px 0 0 10px;

            &:only-child {
                padding: 0 8px;
                border-radius: 11px;
            }
        }

        %chatSearchAnswer {
            background-color: transparent;
        }

        %chatSearchFilter + span[data-offset-key],
        %chatSearchAnswer span[data-offset-key] {
            display: inline-block;
            height: 20px;
            margin: 0 2px 0 -2px;
            padding: 0px 8px 0px 0;
            border-radius: 0 11px 11px 0;
        }
    }
}

%chatSearchFilter {
    background-color: var(--attachment-color) !important;
}
