/*
 *
 *  HEADER BAR
 *
 */

%headerBar {
    box-shadow: var(--popout-header-shadow);

    &:before {
        display: none;
    }

    &%headerBarThemed {
        background-color: transparent;
    }
}
