@use '../../classes' as *;

/*
 *
 *  HEADER SEARCH BAR
 *
 */

#{ $chatSearch } {
    #{ $chatSearchRoot } {
        #{ $chatSearchContainer } {
            height: var(--chat-search-size);
        }

        #{ $chatSearchContentContainer } {
            display: flex;
            height: var(--chat-search-size);
            line-height: var(--chat-search-size);
            font-size: 15px;

            span {
                line-height: var(--chat-search-size);
                font-size: 15px;
            }
        }
    }

    #{ $chatSearchPlaceholder } {
        #{ $chatSearchPlaceholderInner } {
            height: var(--chat-search-size);
            line-height: var(--chat-search-size);
            font-size: 15px;
        }
    }

    #{ $chatSearchContent } {
        > div[data-contents=true] {
          height: inherit;
        }
    }
}

#{ $chatSearchBar } {
    height: var(--chat-search-size);
    padding: 0 4px;
    background-color: rgba(var(--textarea-color), var(--textarea-alpha));
    border-radius: calc(var(--chat-search-size) / 2);
    border: none;
}

#{ $chatSearchContainer } {
    height: var(--chat-search-size);
}

#{ $chatSearchToken },
#{ $chatSearchFilter } + span[data-offset-key],
#{ $chatSearchAnswer } span[data-offset-key] {
    --chat-search-size: var(--chat-search-pill-size);

    display: flex;
    height: var(--chat-search-pill-size);
    margin: auto 0;
    background-color: var(--textarea-block-color);
    border: none;
    color: var(--textarea-block-text-color);
}

#{ $chatSearchToken } {
    &#{ $chatSearchFilter } {
        padding: 0 4px 0 8px;
        border-radius: calc(var(--chat-search-pill-size) / 2) 0 0 calc(var(--chat-search-pill-size) / 2);
    }

    &#{ $chatSearchAnswer } {
        border-radius: 0 calc(var(--chat-search-pill-size) / 2) calc(var(--chat-search-pill-size) / 2) 0;

        span[data-offset-key] {
            margin-top: -1px;
            padding-right: 4px;
            background-color: transparent;
        }
    }
}

#{ $chatSearchFilter } + span[data-offset-key],
#{ $chatSearchAnswer } span[data-offset-key] {
    padding-right: 4px;
    border-radius: 0 calc(var(--chat-search-pill-size) / 2) calc(var(--chat-search-pill-size) / 2) 0;
}
