@use '../mixins' as *;

/*
 *
 *  DISCOVER APPS
 *
 */

%appCard {
    @include card-format(true, 0, true, true, true);

    &:hover {
        %appCardAvatar {
            background-color: var(--card-color-hover) !important;
            border-color: var(--card-color-hover) !important;
        }
    }

    %appCardAvatar {
        background-color: var(--card-color-filled) !important;
        border-radius: calc(var(--avatar-radius) * 1.166667);
        border-color: var(--card-color-filled) !important;
    }

    %appCardBannerImage,
    %appCardBannerContent {
        border-radius: var(--card-radius-big);
    }
}
