@use '../mixins' as *;

/*
 *
 *  DISCOVER QUESTS
 *
 */

%questsHeaderContainer {
    border-top-right-radius: var(--card-radius-big);
    overflow: hidden;
}

%questsHeaderBackdrop {
    background-color: var(--chat-color);
    border-top-right-radius: var(--card-radius-big);
    opacity: 1 !important;
}

%questsHeaderOrbsClickable {
    height: 32px;
}

%questsHeaderOrbsContainer {
    height: inherit;
    background-color: var(--card-color-filled);
    border-radius: 18px;
    border: none;
    transition: var(--default-time) var(--default-animation) background-color, var(--default-time) var(--default-animation) border-radius;

    &%questsHeaderOrbsContainerHighlighted {
        background-color: var(--card-color-hover);
    }

    &%questsHeaderOrbsContainerSelected {
        background-color: var(--card-color-active);
        border-radius: 10px;
    }
}

%questsHeaderOrbsPopoutContainer {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
    border: none;
    box-shadow: var(--shadow-hard);
}

/* QUESTS -> BANNER */

%questsBannerContainer {
    position: relative;
    width: calc(100% - 40px);
    height: 260px;
    min-height: 260px;
    max-height: 260px;
    box-sizing: border-box;
    overflow: hidden;

    %button {
        --button-padding: var(--button-padding-icon-right);

        height: var(--button-height);
        padding: var(--button-padding);

        svg path {
            fill: currentColor;
        }
    }
}

%questsBannerContent {
    max-width: unset;
}

%questsBannerImage {
    height: 100%;
    border-radius: inherit;

    %questsBannerGradient {
        display: none;
    }
}

/* QUESTS -> CONTENT AREA */

%questsContainer {
    background-color: var(--chat-color) !important;
}

%questsContentContainer {
    background: none !important;
    backdrop-filter: none !important;
}

/* QUESTS -> CARDS */

%questCard {
    @include card-format($important: false, $padding: 0, $filled: true, $hover: true, $shadow: true);
}

%questCardImageContainer {
    background-color: transparent;
    border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;

    %questCardHeroAssetWrapper {
        border-radius: var(--card-radius-big);
    }

    %questCardImageOverlay {
        display: none;
    }

    %questCardImageBottowRow {
        %textSmMedium {
            padding: 0 8px;
            background-color: var(--card-button-color);
            border-radius: 9px;
            color: var(--text-normal) !important;
        }
    }
}

%questCardSubmenuWrapper {
    background-color: var(--card-button-color) !important;
}

%questCardRewardDescriptionContainer {
    background-color: var(--card-color-filled);

    %questCardRewardTileAsset {
        border-radius: 50%;
    }
}

%questCardRewardTextOverflowBlur {
    background: linear-gradient(transparent 50%, var(--card-color-filled) 100%);
}
