@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS ACCESSIBILITY
 *
 */

%accessibilityPreview {
    @include card-format(true, 16px);
}

%accessibilityMessagePreview {
    padding: 0;
    background-color: var(--chat-color);
    border-radius: calc(var(--card-radius-big) / 1.25);

    %message {
        margin-top: 0 !important;
        margin-left: 52px;
        margin-right: 0;
        border-radius: var(--message-radius);

        &:before,
        &:after {
            display: none;
        }

        %avatarLarge {
            left: -50px;
        }
    }
}
