@use "../../classes" as *;
@use "../../mixins" as *;

/*
 *
 *  USER SETTINGS ACCESSIBILITY
 *
 */

#{ $accessibilityPreview } {
  @include card-format(true, 16px);
}

#{ $accessibilityMessagePreview } {
  padding: 0;
  background-color: var(--chat-color);
  border-radius: calc(var(--card-radius-big) / 1.25);

  #{ $message } {
    margin-block-start: 0 !important;
    margin-inline-start: 52px;
    margin-inline-end: 0;
    border-radius: var(--message-radius);

    &:before,
    &:after {
      display: none;
    }

    #{ $avatarLarge } {
      inset-inline-start: -50px;
    }
  }
}
