/*
 *
 *  USER SETTINGS ACCESSIBILITY
 *
 */

%accessibilityMessagePreview {
    background-color: var(--chat-color);
    border-radius: var(--card-radius-big);

    %message {
        margin-top: 0 !important;
        margin-left: 52px;
        margin-right: 0;
        border-radius: var(--message-radius);

        &:before,
        &:after {
            display: none;
        }

        %avatarLarge {
            left: -50px;
        }
    }
}
