@use '../../classes' as *;

/*
 *
 *  USER SETTINGS APPEARANCE
 *
 */

#{ $settingsPreviewCard } {
    --card-color-filled: transparent;

    &#{ $settingsCardPrimaryOutline } {
        border: 1px solid var(--card-border-color) !important;
    }

    #{ $messageWrapper } {
        margin-inline-start: 48px;
    }
}

/* USER SETTINGS APPEARANCE -> THEME */

#{ $themePickerTitle } {
    padding-block: var(--space-16) 0;
    padding-inline: var(--space-16);
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
}

#{ $themePickerBasicSelectors } {
    margin-block-end: 0;
    padding-block: var(--space-8) var(--space-16);
    padding-inline: var(--space-16);
    background-color: var(--card-color-filled);
    border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);

    #{ $stack } {
        margin-block-start: 0 !important;
    }
}

#{ $themePickerThemeSelectionContainer } {
    --custom-theme-selection-size: 60px !important;
}

#{ $themePickerSelectionCircle } {
    width: 100%;
    height: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    border-radius: var(--card-radius-big);
    box-shadow: inset 0 0 0 2px hsl(var(--accent-hsl--material-you)), inset 0 0 0 5px var(--card-color-filled);

    #{ $themePickerCheckmarkCircle } {
        display: none;
    }
}

#{ $themePickerDefaultThemeSelection } {
    width: var(--custom-theme-selection-size);
    height: var(--custom-theme-selection-size);
    box-shadow: none;

    &#{ $themePickerThemeSelected } {
        position: relative;
        background: hsl(var(--accent-hsl--material-you));

        &:before,
        &:after {
            position: absolute;
            content: " ";
            width: 50%;
            height: 50%;
            inset-block-end: 0;
            pointer-events: none;

        }

        &:before {
            inset-inline-start: 0;
            background-color: var(--card-color-filled);
            border-end-start-radius: calc(var(--custom-theme-selection-size) / 2);
        }

        &:after {
            inset-inline-end: 0;
            background-color: var(--accent-text-color--material-you);
            border-end-end-radius: calc(var(--custom-theme-selection-size) / 2);
        }
    }
}

#{ $themePickerThemeSelection } {
    transition: var(--default-time) var(--default-animation) border-radius;

    &:hover {
        border-radius: var(--card-radius-big);
    }
}

#{ $themePickerThemeSelection },
#{ $themePickerBorderOverlay } {
    border-radius: 50%;
}

/* USER SETTINGS APPEARANCE -> APP ICON */

#{ $appIconCardHeader } {
    padding: 8px 8px 0;
}

#{ $appIconCardPresets } {
    margin-block-start: 0;
    padding: 0 8px 8px;
}

#{ $appIconSelection } {
    &:not(#{ $appIconSelectionSelected }) {
        &#{ $appIconSelectionDisabled } {
            opacity: 0.5;
        }
    }
}
