/*
 *
 *  USER SETTINGS APPEARANCE
 *
 */

%settingsPreviewCard {
    --card-color-filled: transparent;

    &%settingsCardPrimaryOutline {
        border: 1px solid var(--card-border-color);
    }

    %messagesWrapper {
        margin-left: 48px;
    }
}
