/*
 *
 *  USER SETTINGS APP ICON EDITOR
 *
 */

%appIconEditor {
    margin-left: 8px;
    padding: 0;
    background-color: var(--chat-color);
    border-radius: var(--card-radius-big);
    border-left: none;

    %headingLgExtrabold {
        font-size: 1.25em;
        line-height: normal;
        color: var(--card-header-text-color);
        font-weight: 400;
    }

    div[role=radiogroup] {
        background-color: transparent;
    }
}

%appIconEditorHeader {
    width: auto;
    padding: 16px;
}

%appIconEditorSelectionGroup {
    margin-top: 0;

    %appIconEditorSelectionGroupHeader {
        padding: 0;
    }

    %appIconEditorPresets {
        padding: 0;
        gap: 16px;
    }
}

%appIconEditorFooter {
    margin-top: 16px;
    padding: 0 16px 16px;
}
