/*
 *
 *  USER SETTINGS APPEARANCE
 *
 */

%settingsPreviewCard {
    --card-color-filled: transparent;
    border: 1px solid var(--card-border-color);

    %messagesWrapper {
        margin-left: 48px;
    }
}
