@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS AUTHORIZED APPS
 *
 */

%authedAppV2 {
    margin-bottom: 16px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}

%authedAppHeaderV2 {
    background-color: transparent;
}

%authedAppActionMenuButton {
    background-color: transparent;
    border-radius: 50%;
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-button-color);
    }

    &[aria-expanded="true"] {
        background-color: var(--card-button-color-hover);
    }
}

%authedAppDetailsContainer {
    %authedAppDetailsSection {
        border-top: none;
        border-bottom: none;
    }

    %triggerCollapseable {
        margin-bottom: 8px;
        padding: 16px;
        background-color: var(--card-color-hover);
        border-radius: var(--card-radius-big);
        border-top: none;

        &:active {
            background-color: var(--card-color-hover) !important;
        }
    }
}

%authedAppFooter {
    margin-top: 16px;
}
