@use "../../classes" as *;
@use "../../mixins" as *;

/*
 *
 *  USER SETTINGS AUTHORIZED APPS
 *
 */

#{ $authedAppV2 } {
  margin-block-end: 16px;
  background-color: var(--card-color-filled);
  border-radius: var(--card-radius-big);
}

#{ $authedAppHeaderV2 } {
  background-color: transparent;
}

#{ $authedAppActionMenuButton } {
  background-color: transparent;
  border-radius: 50%;
  transition: var(--default-time) var(--default-animation) background-color;

  &:hover {
    background-color: var(--card-button-color);
  }

  &[aria-expanded="true"] {
    background-color: var(--card-button-color-hover);
  }
}

#{ $authedAppDetailsContainer } {
  #{ $authedAppDetailsSection } {
    border-block-start: none;
    border-block-end: none;
  }

  #{ $triggerCollapseable } {
    margin-block-end: 8px;
    padding: 16px;
    background-color: var(--card-color-hover);
    border-radius: var(--card-radius-big);
    border-block-start: none;

    &:active {
      background-color: var(--card-color-hover) !important;
    }
  }
}

#{ $authedAppFooter } {
  margin-block-start: 16px;
}
