@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS BILLING
 *
 */

%paymentSourceRow {
    @include card-format(false, 16px, true);
}

%paymentPane {
    @include card-format(true, 0, true);

    %paymentRowHeader {
        padding: 16px;
    }

    %paymentBottomDivider {
        border: none;
    }

    %paymentPageActions {
        padding: 16px 0;
    }
}

%paymentRow {
    &:not(%payment) {
        border-bottom: none;
    }
}

%payment {
    background-color: var(--card-color-filled) !important;

    &:not(%paymentHoverable) {
        padding-bottom: 1px;
    }
}

%paymentPaginator {
    background-color: transparent !important;

    %paymentDescriptionIcon {
        border-radius: 50%;
    }

    %paymentExpandedInfo {
        --card-color-filled: var(--card-color-alt);
        @include card-format(false, 16px, true);

        %paymentHeader {
            border-color: var(--card-border-color);
        }
    }
}

%paymentPageButtonPrev,
%paymentPageButtonNext {
    width: var(--button-height);
    height: var(--button-height);
    padding: 0;
    line-height: var(--button-height);
    border-color: var(--card-border-color);
    text-align: center;

    &%paymentPageButtonDisabled {
        border-color: var(--card-border-color);
    }
}

%paymentPageButtonPrev {
    border-radius: var(--button-radius) 0 0 var(--button-radius);
}

%paymentPageButtonNext {
    border-radius: 0 var(--button-radius) var(--button-radius) 0;
}

%paymentPageIndicator {
    height: var(--button-height);
    border-color: var(--card-border-color);
}

%codeRedemptionRedirect {
    @include card-format(true, 16px);
}
