@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS CONNECTIONS
 *
 */

%accountList {
    margin: 0 0 24px 0;
    @include card-format;

    %accountListHeader {
        @include card-format--header;
    }

    %textXSNormal {
        padding: 8px 16px 0;
    }

    %connectionsContainer {
        padding: 0 16px 16px;
    }

    %connectionsAccountButton {
        margin-bottom: 0;

        %connectionsAccountsButtonInner {
            background-color: var(--menu-item-hover);
            border-radius: 50%;
            transition: var(--default-time) var(--default-animation) background-color;

            &:hover {
                background-color: var(--menu-item-select);
            }
        }
    }
}

/* CONNECTIONS -> ADD CONNECTION */

%connectionsModalAccountButtonInner {
    background-color: var(--menu-item-hover);
    border-radius: 50%;
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--menu-item-select);
    }
}

/* CONNECTIONS -> CONNECTED ACCOUNTS */

%connectionsModalHeader {
    margin-top: 0;
}

%connectionsModalConnectionsContainer {
    margin-bottom: 0;
}

%connectionCard {
    margin-bottom: 0;
    @include card-format;

    %connectionCardHeader {
        @include card-format--header;
    }

    %connectionCardWrapper {
        padding: 16px;

        %connectionCardSwitch {
            padding-left: 0;
            padding-right: 0;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    %settingsHeaderDivider {
        margin: 0 16px;
        border-top-color: var(--card-border-color);
    }

    %connectionCardMetadataContainer {
        @include card-format(false, 12px, filled);
    }

    %connectionCardUpsellContainer {
        @extend %connectionCardMetadataContainer;

        %button {
            min-width: 130px;
        }
    }
}

%integrationWrapper {
	padding: 0;

	%titleH5 {
		margin: 0;
		padding: 16px 16px 8px;
	}

	%integrationCard {
		position: relative;
		margin-top: 0;
		padding: 16px;
		background-color: transparent;
		border-radius: 0;

		&:after {
			position: absolute;
			content: " ";
			width: calc(100% - 56px);
			height: 1px;
			bottom: 0;
			right: 0;
			background-color: var(--card-border-color);
		}

		&:last-child,
		&:only-child {
			&:after {
				display: none;
			}
		}

		%button {
			background-color: hsla(var(--accent-hsl),0.1);
			color: hsl(var(--accent-hsl));
		}
	}
}
