@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS CONNECTIONS
 *
 */

%accountList {
    margin: 0 0 32px 0;
    @include card-format(false, 0, true);

    %accountListHeader {
        @include card-format--header(false, true);
    }

    %textXSNormal {
        padding: 0 16px;
    }

    %connectionsContainer {
        padding: 0 16px 16px;
    }

    %connectionsAccountButton {
        margin-bottom: 0;
    }

    %connectionsAccountsButtonInner {
        background-color: var(--card-button-color);
        border-radius: 50%;
        transition: var(--default-time) var(--default-animation) background-color;

        &:hover {
            background-color: var(--card-button-color-hover);
        }
    }
}

/* CONNECTIONS -> ADD CONNECTION */

%connectionsModalAccountButtonInner {
    background-color: var(--card-button-color);
    border-radius: 50%;
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-button-color-hover);
    }
}

/* CONNECTIONS -> CONNECTED ACCOUNTS */

%connectionList {
    grid-gap: 16px;
}

%connectionsModalHeader {
    margin-top: 0;

    %headingMdBold {
        font-size: 22px;
        font-weight: 400;
    }
}

%connectionsModalConnectionsContainer {
    margin-bottom: 0;
}

%connectionCard {
    margin-bottom: 0;
    @include card-format(false, 0, true);

    %connectionCardHeader {
        @include card-format--header(false, true);
    }

    %connectionCardWrapper {
        padding: 0 16px 16px;

        %connectionCardSwitch {
            padding-left: 0;
            padding-right: 0;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    %settingsHeaderDivider {
        margin: 0 16px;
        border-top-color: var(--card-border-color);
    }

    %connectionCardMetadataContainer {
        --card-color-filled: var(--card-color-alt);

        margin: 0 16px 16px;
        @include card-format(false, 12px, true);
    }

    %connectionsCardUpsellWrapper {
        padding: 0;
    }

    %connectionCardUpsellContainer {
        @extend %connectionCardMetadataContainer;

        %button {
            min-width: 130px;
        }
    }
}

%integrationWrapper {
	padding: 0;

	%titleH5 {
		margin: 0;
		padding: 16px 16px 8px;
	}

	%integrationCard {
        --card-color-filled: var(--card-color-alt);

        margin: 0 16px 2px;
        @include card-format(false, 16px, true);
        border-radius: 4px;

        &:first-of-type {
            border-radius: var(--card-radius-big) var(--card-radius-big) 4px 4px;
        }

        &:last-of-type {
            margin-bottom: 16px;
            border-radius: 4px 4px var(--card-radius-big) var(--card-radius-big);
        }

        &:only-child {
            border-radius: var(--card-radius-big);
        }

		%button {
			background-color: hsla(var(--accent-hsl),0.1);
			color: hsl(var(--accent-hsl--material-you));
		}
	}
}
