@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS CONTENT & SOCIAL
 *
 */

%settingsBlockedUsersCard {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    box-shadow: none;
}

%settingsBlockedUsersCardHeader {
    @include card-format--header(false, true);

    %textMdSemibold {
        font-size: 1em;
        font-weight: 400;
    }
}

%settingsBlockedUsersList {
    padding: 0 8px 8px;

    %settingsBlockedUsersRow {
        padding: 12px 8px;
        border-radius: calc(var(--card-radius-big) / 1.65);
        border-bottom: none;
        transition: var(--default-time) var(--default-animation) background-color;

        &:hover {
            background-color: var(--card-color-hover);
        }
    }
}

%settingsBlockedUsersLoadMoreContainer {
    padding: 4px 16px 16px;
}

%settingsBlockedUsersLoadMoreButton {
    width: auto;
    padding: 4px 12px;
    background-color: var(--card-button-color);
    border-radius: 14px;
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-button-color-hover);
    }

    %textSmSemibold {
        font-weight: 400;
    }
}

/* USER SETTINGS CONTENT & SOCIAL -> CONNECTED GAMES */

%settingsConnectedGamesHeader {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);

    %settingsConnectedGamesNamesHeader {
        padding: var(--space-16);
    }

    %settingsConnectedGamesIcon {
        padding: var(--space-8) var(--space-16) var(--space-16);
    }

    %settingsConnectedGamesDivider {
        display: none;
    }
}
