@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS DISCORD EXPERIMENTS
 *
 */

%experimentGroup {
    margin-top: 16px;
    @include card-format(false, 16px, true);

    %experimentGroupTitle {
        margin-bottom: 0;
    }

    %eyebrow {
        margin-top: 16px;
    }

    %experimentGroupDate {
        line-height: 42px;
    }

    %experimentGroupDescription {
        margin: 8px 0;
    }

    %button {
        --button-height: 18px;
        --button-padding: 0;

        font-size: 0.875em !important;
        font-weight: 400;
    }

    %experimentGroupDivider {
        display: none;
    }
}
