/*
 *
 *  USER SETTINGS FAMILY CENTER
 *
 */

%familyCenterContent {
    background-color: var(--chat-color) !important;

    %familyCenterSideNavContent {
        padding: 24px;
    }
}

%familyCenterContainer,
%familyCenterMyFamilyContainer {
    max-width: 1400px;
    align-items: center;
    gap: 16px;
}

%familyCenterMaxWidth {
    max-width: unset;
}

%familyCenterBanner,
%familyCenterSeeContainer {
    width: 100%;
}

%familyCenterBanner {
    %headlingXlMedium {
        font-weight: 400;
    }
}

%familyCenterGetStartedContainer,
%familyCenterFeatureCard,
%familyCenterSeeContainer,
%familyCenterBox,
%familyCenterEnableCard {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
    box-shadow: none;
}

%familyCenterGetStartedContainer,
%familyCenterSeeContainer {
    padding: 24px;
}

%familyCenterFeatureCards {
    margin-top: 0;
    gap: 16px;
}

%familyCenterFeatureCard,
%familyCenterSeeContainer {
    %headingMdBold {
        font-size: 20px;
        font-weight: 400;
    }
}

%familyCenterFeatureCardCircle {
    background-color: var(--card-button-color);

    %familyCenterFeatureCardCircleIcon {
        color: var(--text-muted);
    }
}

%familyCenterSeeContainer {
    margin-top: 0;

    %textXssBold {
        font-size: 12px;
        font-weight: 500;
    }

    %familyCenterSeeRow {
        background-color: var(--card-color-alt);
        border-radius: var(--card-radius-big);
    }

    %familyCenterSeeRowIconContainer {
        background-color: var(--card-button-color);
    }
}

%familyCenterBox {
    padding: 24px;

    %headlingXlMedium {
        font-weight: 400;
    }
}

%familyCenterBoxStepNumber {
    background-color: var(--card-button-color);

    %headingMDSemibold {
        color: var(--text-muted) !important;
    }
}
