@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS GAME OVERLAY
 *
 */

%settingsGameOverlayCard {
    border-radius: var(--card-radius-big);
	border-color: hsl(var(--accent-hsl--material-you));

	%settingsGameOverlayCardOption {
		border-radius: var(--card-radius-big);

		&:hover {
			background-color: hsl(var(--accent-hsl--material-you));
			opacity: 0.6;
		}

		&%settingsGameOverlayCardOptionSelected {
			background-color: hsl(var(--accent-hsl--material-you));
			border-color: hsl(var(--accent-hsl--material-you));
			box-shadow: var(--shadow-1dp);
		}
	}
}
