@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS GAME OVERLAY
 *
 */

#{ $settingsGameOverlayCard } {
    border-radius: var(--card-radius-big);
	border-color: hsl(var(--accent-hsl--material-you));

	#{ $settingsGameOverlayCardOption } {
		border-radius: var(--card-radius-big);

		&:hover {
			background-color: hsl(var(--accent-hsl--material-you));
			opacity: 0.6;
		}

		&#{ $settingsGameOverlayCardOptionSelected } {
			background-color: hsl(var(--accent-hsl--material-you));
			border-color: hsl(var(--accent-hsl--material-you));
			box-shadow: var(--shadow-soft);
		}
	}
}

#{ $groupContainer } {
    background-color: var(--card-color-hover);
    border-radius: calc(var(--card-radius-big) / 1.6);
}

#{ $groupCollapsedContainer } {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: var(--card-color-hover);
    border-radius: calc(var(--card-radius-big) / 1.6);
    overflow: hidden;
}
