/*
 *
 *  USER SETTINGS GIFT INVENTORY
 *
 */

%questsMovedContainer {
    width: 100%;
    height: auto;
    border-radius: var(--card-radius-big);

    %headingLgBold {
        color: var(--header-primary) !important;
    }

    %buttonFilled {
        &%buttonWhite {
            --button-text-color: hsl(var(--accent-hsl--material-you));
        }

        %textMdMedium {
            line-height: var(--button-height);
            color: inherit !important;
        }
    }
}

%premiumFeatureBorder {
    background: linear-gradient(var(--main-color), var(--main-color)) padding-box, var(--custom-premium-colors-premium-gradient-tier-2-diagonal) border-box;
    border-radius: var(--card-radius-big);

    %settingsProfilePremiumBackground {
        border-radius: var(--card-radius-big);
    }
}
