@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS KEYBINDS
 *
 */

#{ $keybindGroup } {
    &:before {
        background-color: var(--card-color-filled);
        border-radius: var(--card-radius-big);
        border: none;
    }
}

#{ $removeKeybindFloating } {
    top: 8px;
    right: -12px;
}

#{ $keybindRecordContainer } {
    min-height: var(--button-height);
}

#{ $keybindButtonContainer } {
    max-width: 150px;
    padding: 0;
}

#{ $keybindShortcutKey } {
    height: 24px;
    padding: 0 8px;
    background-color: var(--card-color-active);
    border-radius: 12px;
    border: none !important;
    box-shadow: none !important;
    line-height: 24px;
	color: var(--interactive-text-default);

	g {
		fill: var(--interactive-text-default);
	}
}

#{ $keybindRecorderContainer } {
	background-color: transparent;
    border-radius: var(--button-radius);
	border: none;

    &#{ $keybindRecorderContainerRecording } {
        box-shadow: none;
        animation: none;

        #{ $keybindInput } {
            --input-color: hsl(from hsl(var(--alert-hsl)) h s l / 0.1);

            animation: keybind-edit 1200ms ease-in-out;
            animation-iteration-count: infinite;
        }
    }

    #{ $keybindInput } {
		@include input-format(true, false, true);
        padding: 8px 8px 8px 12px;
        transition: var(--default-time) var(--default-animation) background-color;

        &::-webkit-input-placeholder {
            font-family: var(--app-font);
        }
    }

    #{ $keybindEditIcon } {
        background-image: none;
        @include add-icon(currentColor, keyboard);
    }
}

#{ $keybindRecorderLayout } {
    gap: 8px;
}

#{ $keybindAddButton } {
    margin: 0;
    transition: var(--default-time) var(--default-animation) width;
}

/* KEYBINDS -> DEFAULT */

#{ $keybindDefaultGroup } {
    margin: 24px 0 0;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
	border: none;

    #{ $keybindDefault } {
        + #{ $keybindDivider } {
            display: block;
        }
    }

    #{ $keybindDivider } {
        width: calc(100% - 32px);
        margin: 0 16px;
        border-top-color: var(--card-border-color);

        &:last-of-type {
            display: none;
        }
    }
}

#{ $keybindDefault } {
    padding: 0 16px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);

    + #{ $keybindDivider } {
        display: none;
    }
}

#{ $keybindDefaultGroupHeader } {
    margin-bottom: 0;
    padding: 16px 16px 0;
    @include remove-caps(18px);
    font-weight: 500;

    + #{ $keybindDivider } {
        display: none;
    }
}

#{ $keybindDefaultGroupDescription } {
    margin-bottom: 0;
    padding: 16px 16px 0;

    + #{ $keybindDivider } {
        display: none;
    }
}
