/*
 *
 *  USER SETTINGS KEYBINDS
 *
 */

%keybindWarningCard {
	background-color: hsla(var(--alert-hsl),0.1);
    border-radius: var(--card-radius-big);
	border-color: hsl(var(--alert-hsl));

	%keybindWarningCardIcon {
		color: hsl(var(--alert-hsl));
	}
}

%settingsHeaderChildren {
	%marginBottom20 {
		+ %settingsHeaderDivider {
			display: none;
		}
	}
}

%keybindRow {
	--input-color: var(--input-color-alt);
	
	padding: 16px;
	background-color: var(--card-color-filled);
	border-bottom: 1px solid var(--card-border-color);
	box-shadow: none !important;

	&:first-child {
		border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
	}

	&:last-child {
		margin-bottom: 40px;
		border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
		border-bottom: none;
	}

	&:only-child {
		border-radius: var(--card-radius-big);
		border-bottom: none;
	}

	%keybindGroup {
		margin: 0;
		padding: 0;
        border-left: none;
        border-right: none;

        &:last-of-type {
            border-radius: 0;
            border-bottom: none;
        }

		&:before {
			display: none;
		}
	}

	%removeKeybind {
		right: -12px
	}

    %keybindInput {
		%button {
			width: auto;
		}
    }
}
