@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS MY ACCOUNT
 *
 */

%settingsAccountProfileCard {
    background-color: var(--card-color);
	border-radius: var(--card-radius-big);

    %settingsUserInfo {
		height: 88px;
		padding: 16px 16px 16px 120px;
		border-left: 1px solid var(--card-border-color);
		border-right: 1px solid var(--card-border-color);

        %avatarWrapper {
			background-color: var(--main-color);
            border-color: var(--main-color);
		}
    }

    %settingsUserBackground {
		margin: 0;
		padding: 0;
		background-color: transparent;
		border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
		border: 1px solid var(--card-border-color);

		%fieldList {
			margin-top: 0;
			padding: 16px;

			.constrainedRow-3y91Xf {
				.button-f2h6uQ {
					margin-left: 8px;
				}
			}
		}
	}
}

%fieldList {
	padding: 0;
	background-color: transparent;
	border-radius: 0;
}
