@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS MY ACCOUNT
 *
 */

#{ $settingsAccountProfileCard } {
    background-color: var(--card-color-filled);
	border-radius: var(--card-radius-big);

    #{ $userProfileBanner } {
        border-radius: var(--card-radius-big);
    }

    #{ $settingsUserInfo } {
        position: relative;
		height: 88px;
		padding: 16px 16px 16px 130px;

        #{ $avatarWrapper } {
            width: 92px !important;
            height: 92px !important;
            inset-block-start: unset;
            inset-block-end: 30px;
            background-color: var(--card-color-filled);
            border: 8px solid var(--card-color-filled);
            box-sizing: border-box;

            #{ $avatarMask } {
                position: relative;
                width: 90px;
                height: 90px;
            }

            #{ $avatarStatusDecoration } {
                transform: translate(-2px);
            }
        }
    }

    #{ $settingsUserBannerSVGMask } {
        circle {
            display: none;
        }
    }

    #{ $settingsUserBackground } {
        padding: var(--space-16);
        background-color: var(--card-color-hover);
        border-radius: calc(var(--popout-radius-big) / 1.6);

		#{ $constrainedRow } {
			#{ $button } {
				margin-inline-start: 8px;
			}
		}

        #{ $button } {
            &:not(:last-child) {
                margin-inline-end: 16px;
            }
        }
	}

    #{ $settingsBadgeList } {
        height: 32px;
        padding: 0 8px;
        background-color: var(--card-color-hover) !important;
        border-radius: 16px;
    }
}

#{ $userProfileBanner } {
    &:before {
        display: none;
    }
}

#{ $settingsUserBanner } {
    position: relative;
    border-radius: calc(var(--card-radius-big) / 1.5);
}

#{ $fieldList } {
	padding: 0;
	background-color: transparent;
	border-radius: 0;
}

#{ $settingsCredentialList } {
    margin-block-end: 16px;
    @include card-format(false, 8px, true);
}

#{ $settingsCredentialItem } {
    border-radius: calc(var(--card-radius-big) / 1.65);
    border-block-start: none;
    transition: var(--default-time) var(--default-animation) background-color;

    &:not(:last-child) {
        margin-block-end: 0;
    }

    &:hover {
        background-color: var(--card-color-hover);
    }
}
