@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS MY ACCOUNT
 *
 */

%settingsAccountProfileCard {
    background-color: var(--card-color-filled);
	border-radius: var(--card-radius-big);

    %settingsUserInfo {
        position: relative;
		height: 88px;
		padding: 16px 16px 16px 130px;

        %avatarWrapper {
            top: unset;
            bottom: 21px;
			background-color: var(--card-color-filled);
            border: 8px solid var(--card-color-filled);
		}
    }

    %settingsUserBackground {
        position: relative;
		margin: 0;
		padding: 0;
		background-color: transparent;
		border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);

        &:before {
            position: absolute;
            content: " ";
            width: calc(100% - 32px);
            height: 1px;
            top: 0;
            left: 16px;
            background-color: var(--card-border-color);
        }

		%fieldList {
			margin-top: 0;
			padding: 16px;

			%constrainedRow {
				%button {
					margin-left: 8px;
				}
			}

            %button {
                &:not(:last-child) {
                    margin-right: 16px;
                }
            }
		}
	}
}

%settingsUserBanner {
    position: relative;
    border-radius: calc(var(--card-radius-big) / 1.5);
}

%fieldList {
	padding: 0;
	background-color: transparent;
	border-radius: 0;
}
