@use '../../selectorPlaceholders' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS NITRO
 *
 */

#{ $settingsNitroIncomingContainer } {
    border-radius: var(--card-radius-big);
}

#{ $settingsNitroCtaWrapper } {
    border-radius: var(--card-radius-big);

    #{ $settingsNitroCtaButtonInner } {
        color: var(--button-text-color);
    }
}

#{ $nitroSettingsFloatingInnerWrapper } {
    background-color: var(--popout-color);
    border-radius: 34px;
    box-shadow: var(--shadow-medium);
}

#{ $settingsNitroTierCard } {
    border-radius: var(--card-radius-big);
}

#{ $settingsNitroGiftCard } {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}

#{ $nitroUpsellContainer } {
    background: var(--popout-color);
    border-radius: 30px;
}

#{ $nitroUpsell } {
	height: auto;
	margin-bottom: 2px;
	@include card-format(false, 8px);
}

/* USER SETTINGS -> NITRO -> SERVER BOOST */

#{ $settingsServerBoostBannerGradient } {
    border-radius: var(--card-radius-big);
}

#{ $settingsServerBoostBannerWave } {
    fill: var(--card-color-filled);
}

#{ $settingsServerBoostBannerSubtextWrapper } {
    margin-top: 30px;
}

#{ $settingsServerBoostGuildContainer },
#{ $settingsServerBoostGuildNotSeenWrapper } {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}

#{ $settingsServerBoostPerksWrapper } {
    border-radius: var(--card-radius-big);

    #{ $settingsServerBoostPerksCard } {
        border-radius: var(--card-radius-big);
    }
}
