/*
 *
 *  USER SETTINGS NITRO
 *
 */

%settingsNitroIncomingContainer {
    border-radius: var(--card-radius-big);
}

%settingsNitroCtaWrapper {
    border-radius: var(--card-radius-big);

    %settingsNitroCtaButtonInner {
        color: var(--button-text-color);
    }
}
