@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS PARTY MODE
 *
 */

%achievementContainer {
    @include card-format(false, 16px);
}

%achievmentCardContainer {
    @include card-format(false, 16px);

    &:hover {
        background-color: var(--card-color-outlined);
    }

    %achievementCardIcon {
        background-color: var(--menu-item-hover);
    }
}

%achievement {
    padding: var(--tooltip-padding);
    background-color: var(--tooltip-color);
    box-shadow: var(--tooltip-shadow);
    border-radius: 28px;

    %achievementIcon {
        background-color: rgba(0,0,0,0.35);
    }

    .text-md-semibold-3xVVGu,
    .text-xs-medium-2LRpEj {
        color: var(--tooltip-text-color) !important;
    }
}

%comboNameplate {
    background-color: var(--popout-color);
    box-shadow: var(--shadow-3dp);
    border-radius: 18px;

    %comboMultiplier {
        color: hsl(var(--accent-hsl--material-you)) !important;
    }
}

%fileProgressBar {
    background-color: hsl(var(--accent-hsl--material-you)) !important;
}
