/*
 *
 *  USER SETTINGS PRIVACY AND SAFETY
 *
 */

%accountStandingProfile {
    margin-left: 0;
}

%accountStandingAvatarBackground {
    background-color: var(--card-color-filled);
}

%accountStandingStatus {
    [style*="color: var(--status-positive)"] {
        color: hsl(var(--success-hsl)) !important;
    }
}

%accountStandingLine {
    background-color: var(--card-color-active);
}

%accountStandingMarker {
    margin: 0 !important;
    background-color: var(--card-color-active);

    path {
        fill: hsl(var(--success-hsl));
        transform: translate(-1px, -1px) scale(1.091);
    }

    %accountStandingMarkerEmpty {
        background-color: var(--card-color-filled);
    }
}

/* USER SETTINGS PRIVACY AND SAFETY -> ENCRYPTION */

%encryptionVerifiedDeviceItem {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);

    %encryptionVerifiedDeviceSection {
        background-color: transparent;
    }

    %encryptionVerifiedDeviceRow {
        margin: 0 8px 8px;
        background-color: var(--card-color-hover);
        border-radius: calc(var(--card-radius-big) / 1.5);
    }

    %encryptionVerifiedDeviceIcon {
        transition: var(--default-time) var(--default-animation) background-color;

        &:hover {
            background-color: var(--card-button-color);
        }

        &%encryptionVerifiedDeviceSectionIconContainer {
            background-color: var(--card-button-color);

            &:hover {
                background-color: var(--card-button-color-hover);
            }
        }
    }
}
