/*
 *
 *  USER SETTINGS PRIVACY AND SAFETY
 *
 */

%accountStandingProfile {
    margin-left: 0;
}

%accountStandingAvatarBackground {
    background-color: var(--card-color-filled);
}

%accountStandingStatus {
    [style*="color: var(--status-positive)"] {
        color: var(--success-color) !important;
    }
}

%accountStandingLine {
    background-color: var(--card-color-active);
}

%accountStandingMarker {
    margin: 0 !important;
    background-color: var(--card-color-active);

    path {
        fill: var(--success-color);
        transform: translate(-1px, -1px) scale(1.091);
    }

    %accountStandingMarkerEmpty {
        background-color: var(--card-color-filled);
    }
}
