/*
 *
 *  QUESTS
 *
 */

%questCard {
    max-width: unset;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}

%questCardBannerContainer {
    border-radius: var(--card-radius-big);

    %questCardSplash {
        max-width: unset;
        border-radius: var(--card-radius-big);
    }

    %questCardPartnerBrandingGameTile {
        border-radius: 50% !important;
    }

    %questCardPromotedTagBackground {
        border-radius: 9px;
    }
}

%questCardLowerContainer {
    background-color: transparent !important;

    %questCardGridProgressBar {
        color: hsl(var(--accent-hsl--material-you)) !important;
    }
}

%questCardReward {
    border-radius: calc(var(--card-radius-big) / 1.75);
}
