@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS REGISTERED GAMES
 *
 */

%settingsGameNotDetectedCard {
    @include card-format(true, 16px, true);

    %settingsGameName {
        color: var(--text-normal) !important;
    }

    %settingsGameLastPlayed {
        color: var(--text-muted) !important;
    }
}

%settingsGameNowPlayingCard {
    border-radius: var(--card-radius-big);
    border: none;

    %flowerStar {
        path {
            fill: #fff;
        }
    }

    %flowerStarChild {
        path {
            fill: #000;
        }
    }
}

%settingsGameNowPlayingAdd {
    margin: 16px 0;
    color: var(--text-normal) !important;

    %buttonLink {
        margin-left: 8px;
    }

    + %marginTop40 {
        margin-top: 0;

        %settingsHeaderTitle {
            @include card-format--header(false, true);
            padding: 16px 16px 0;
            background-color: var(--card-color-filled);
            border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
        }
    }
}

%settingsGameContainer {
    padding: 16px;
    background-color: var(--card-color-filled);
    border: none;

    &:last-of-type {
        border-bottom: none;
    }

    %settingsGameName {
        font-weight: 500;
    }

    %settingsGameNameInput {
        margin-left: -8px;
        padding: 0 8px;
        border: none;
        border-radius: 12px;
        line-height: 24px;
        transition: var(--default-time) var(--default-animation) background-color;

        &:hover,
        &:focus {
            background-color: var(--input-color);
        }
    }

    %settingsGameOverlayStatusText {
        color: var(--text-muted) !important;
    }

    %settingsLongCardButton {
        right: -12px;
    }
}
