@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS REGISTERED GAMES
 *
 */

#{ $settingsGameNotDetectedCard } {
    @include card-format(true, 16px, true);

    #{ $settingsGameName } {
        color: var(--interactive-text-default) !important;
    }

    #{ $settingsGameLastPlayed } {
        color: var(--text-muted) !important;
    }
}

#{ $settingsGameNowPlayingCard } {
    border-radius: var(--card-radius-big);
    border: none;

    #{ $flowerStar } {
        path {
            fill: #fff;
        }
    }

    #{ $flowerStarChild } {
        path {
            fill: #000;
        }
    }
}

#{ $settingsGameNowPlayingAdd } {
    margin-block: var(--space-16);
    margin-inline: 0;
    color: var(--interactive-text-default) !important;

    #{ $buttonLink } {
        margin-inline-start: 8px;
    }

    + #{ $marginTop40 } {
        margin-block-start: 0;
    }
}

#{ $settingsAddedGamesTitle } {
    @include card-format--header(false, true);
    padding-block: var(--space-16) var(--space-8);
    padding-inline: var(--space-16);
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
    font-size: 1.25em !important;
}

#{ $settingsAddedGamesDescription } {
    margin-block-end: 0;
    padding-block: 0;
    padding-inline: var(--space-16);
    background-color: var(--card-color-filled);
}

#{ $settingsGameContainer } {
    margin-block-end: 0;
    padding: var(--space-16);
    background-color: var(--card-color-filled);
    border-radius: 0;
    border: none;

    &#{ $settingsGameHoverCardNoMargin } {
        &::before {
            inset-inline-start: var(--space-8);
            inset-inline-end: var(--space-4);
        }
    }

    &:first-of-type {
        border-start-start-radius: var(--card-radius-big);
        border-start-end-radius: var(--card-radius-big);
    }

    &:last-of-type {
        padding-block-end: var(--space-24);
        border-end-start-radius: var(--card-radius-big);
        border-end-end-radius: var(--card-radius-big);
        box-shadow: none !important;

        &::before {
            height: calc(100% - 8px);
            inset-block-end: 8px;
        }
    }

    &::before {
        position: absolute;
        content: " ";
        width: calc(100% - 16px);
        height: 100%;
        inset-inline-start: 8px;
        inset-inline-end: 4px;
        inset-block-end: unset;
        background-color: var(--card-color-hover);
        border-radius: calc(var(--card-radius-big) / 1.5);
        border: none;
        pointer-events: none;
        opacity: 0;
        transition: var(--default-time) var(--default-animation) opacity;
    }

    #{ $settingsGameName } {
        font-weight: 500;
    }

    &:hover {
        #{ $settingsGameNameInput } {
            background-color: var(--input-color-alt);
        }

        &::before {
            opacity: 1;
        }
    }

    &:focus-within {
        &::before {
            opacity: 1;
        }
    }

    #{ $settingsGameNameInput } {
        margin-inline-start: -4px;
        padding-block: 0;
        padding-inline: var(--space-4);
        border: none;
        border-radius: 12px;
        line-height: 24px;
        transition: var(--default-time) var(--default-animation) background-color;

        &:hover,
        &:focus {
            background-color: var(--input-color-alt);
        }
    }

    #{ $settingsGameOverlayStatusText } {
        color: var(--text-muted) !important;
    }

    #{ $settingsLongCardButton } {
        inset-inline-end: -12px;
    }

    #{ $settingsGameRemoveButton } {
        inset-block-start: calc(var(--space-8) * -1);
        inset-inline-end: 0;
    }
}
