@use '../../classes' as *;
@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS SERVER BOOST
 *
 */

#{ $settingsCardWrapper } {
    @include card-format;

    #{ $settingsCardWrapperInner } {
        border-radius: var(--card-radius-big);
    }
}

#{ $settingsCardNitro } {
    border-radius: var(--card-radius-big);
}

#{ $settingsServerBoostAppliedBoostContainer } {
    padding-block-end: 16px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}

#{ $settingsServerBoostContainer } {
    margin-inline-start: var(--space-16);
    margin-inline-end: var(--space-16);
    padding: var(--space-8) var(--space-16);
    background-color: var(--card-color-hover);

    &:nth-of-type(2) {
        border-top-left-radius: calc(var(--card-radius-big) / 1.75);
        border-top-right-radius: calc(var(--card-radius-big) / 1.75);
    }

    &:last-of-type {
        border-bottom-left-radius: calc(var(--card-radius-big) / 1.75);
        border-bottom-right-radius: calc(var(--card-radius-big) / 1.75);
    }
}

#{ $settingsServerBoostContainerSeparator } {
    display: none;
}

#{ $settingsServerBoostHeader } {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}

#{ $settingsServerBoostHeaderBorder } {
    display: none;
}

#{ $guildSubscriptions } {
    @include card-format;

    #{ $guildSubscriptionsHeader } {
        background-color: transparent;
        border-block-end: 1px solid var(--card-border-color);
    }
}

#{ $guildSubscriptionSlots } {
    padding: 0;
    background-color: transparent;

    #{ $guildSubscriptionSlot } {
        padding: 16px;
        @include card-format--list;
    }
}

#{ $settingsServerBoostFAQCard } {
    @include card-format(false, 24px 24px 8px, true);

    #{ $settingsServerBoostFAQHeading } {
        font-weight: 400;
    }

    #{ $settingsServerBoostFAQList } {
        border-block-start: none;
    }

    #{ $settingsServerBoostFAQListItem } {
        border-bottom-color: var(--card-border-color);

        &:last-child {
            border-block-end: none;
        }
    }
}
