@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS SERVER BOOST
 *
 */

%settingsCardWrapper {
    @include card-format;

    %settingsCardWrapperInner {
        border-radius: var(--card-radius-big);
    }
}

%settingsCardNitro {
    border-radius: var(--card-radius-big);
}

%guildSubscriptionSlots {
    @include card-format;

    %guildSubscriptionSlot {
        padding: 16px;
        @include card-format--list(42px);
    }
}
