@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS SERVER BOOST
 *
 */

%settingsCardWrapper {
    @include card-format;

    %settingsCardWrapperInner {
        border-radius: var(--card-radius-big);
    }
}

%settingsCardNitro {
    border-radius: var(--card-radius-big);
}

%guildSubscriptions {
    @include card-format;

    %guildSubscriptionsHeader {
        background-color: transparent;
        border-bottom: 1px solid var(--card-border-color);
    }
}

%guildSubscriptionSlots {
    padding: 0;
    background-color: transparent;

    %guildSubscriptionSlot {
        padding: 16px;
        @include card-format--list;
    }
}
