/*
 *
 *  USER SETTINGS THEME EDITOR
 *
 */

%themeEditor {
    margin-left: 8px;
    padding: 0;
    background-color: var(--chat-color);
    border-radius: var(--card-radius-big) var(--card-radius-big) 0 var(--card-radius-big);
    border-left: none;

    &:before,
    &:after {
        position: absolute;
        content: " ";
        width: var(--card-radius-big);
        height: var(--card-radius-big);
        left: calc( calc(var(--card-radius-big) + 8px) * -1);
        bottom: 0;
        pointer-events: none;
    }

    &:before {
        background-color: var(--main-alt);
    }

    &:after {
        background-color: var(--chat-color);
        border-bottom-right-radius: var(--card-radius-big);
    }

    %themeEditorHeader {
        padding: 16px;
    }

    %themeEditorFooter {
        padding: 0 16px 16px;
    }

    %headingLgExtrabold {
    	font-size: 1.25em;
    	line-height: normal;
    	color: var(--card-header-text-color);
    	font-weight: 400;
    }

    %themeEditorSelectionGroup {
        margin-top: 0;
    }

    div[role=radiogroup] {
        margin-bottom: 24px;
        background-color: transparent;
        border: none;
    }
}
