@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS VOICE AND VIDEO
 *
 */

%soundButtonSettingContainer {
    background-color: var(--card-color-hover);
    border-radius: calc(var(--card-radius-big) / 1.65);
}

%deviceOptionCertified {
    width: 18px;
    height: 18px;
    @include add-icon(hsl(var(--accent-hsl--material-you)), verified_check);
    object-position: -99999px 99999px;
}

%settingsMicTestButton {
    width: auto;
}

%micTestWrapper {
	height: 4px;
	border-radius: 2px;
	overflow: hidden;

	%micTestContainer {
		width: 100% !important;

		&[style*="background: linear-gradient(to right, var(--yellow-260), var(--green-360))"] {
			background: var(--success-color) !important;
		}
	}

	%micTestProgress {
        background-color: var(--card-color-hover);
    }

	%micTestNotches {
		display: none;
	}
}

%settingsMicTestCaption {
    top: 22px;
    left: 148px;
}

%sliderInputSensitivityBar %sliderInputSensitivityFill {
    height: 4px !important;
    background-color: var(--accent-text-color--material-you) !important;
    border-radius: 2px;
    transition: var(--default-time) var(--default-animation) width !important;
}

%cameraWrapper {
    @include card-format(false, 0, true);

    video {
        border-radius: var(--card-radius-big);
    }
}

%cameraBackgroundOption {
    border-radius: var(--card-radius-big);
}

%cameraBackgroundOptionRing {
    border-radius: var(--card-radius-big);
    border-color: hsl(var(--accent-hsl--material-you));
}

%cameraBackgroundOptionInner {
    background-color: var(--card-color-filled);
    border-radius: calc(var(--card-radius-big) - 4px);

    %cameraBackgroundOptionContent {
        color: var(--text-normal);

        %cameraBackgroundOptionRingText {
            font-weight: 500;
        }
    }
}
