@use '../../mixins' as *;

/*
 *
 *  USER SETTINGS VOICE AND VIDEO
 *
 */

%soundButtonSettingContainer {
    background-color: var(--card-color-hover);
    border-radius: calc(var(--card-radius-big) / 1.65);
}

%cameraWrapper {
    @include card-format(false, 0, true);

    video {
        border-radius: var(--card-radius-big);
    }
}

%cameraBackgroundOption {
    border-radius: var(--card-radius-big);
}

%cameraBackgroundOptionRing {
    border-radius: var(--card-radius-big);
    border-color: hsl(var(--accent-hsl--material-you));
}

%cameraBackgroundOptionInner {
    background-color: var(--card-color-filled);
    border-radius: calc(var(--card-radius-big) - 4px);

    %cameraBackgroundOptionContent {
        color: var(--text-normal);

        %cameraBackgroundOptionRingText {
            font-weight: 500;
        }
    }
}
