/*
 *
 *	SELECT MENUS
 *
 */

[class^="css-"] {
	&[class*="-control"] {
		background-color: var(--input-color);
		border-radius: var(--card-radius);
		border: none;
	}

	&[class*="-menu"] {
		background-color: var(--popout-color);
		border-radius: 0 0 var(--popout-radius) var(--popout-radius);
		border: none;
		box-shadow: var(--shadow-3dp);

		.css-1ye7vu0 {
			overflow-x: hidden;
		}

		.css- {

			&rzbxvl,
			&pkcurw {
				&-option {
					background-color: var(--menu-item-hover);
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			&1ba14n5,
			&1gxgi19 {
				&-option {
					background-color: var(--menu-item-select);
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

.select-1Ia3hD {
	border-radius: var(--input-radius);
	border: none;

	&,
	&.lookFilled-1GseHa {
		background-color: var(--input-color);
	}
}

.popout-1KHNAq {
	margin: 4px 0;
	background-color: var(--popout-color);
	border-radius: var(--popout-radius);
	border: none;
	box-shadow: var(--shadow-3dp);

	.option-2eIyOn {
		color: var(--menu-item-text-color);
		transition: var(--default-time) var(--default-animation) background-color;

		&:hover {
			background-color: var(--menu-item-hover);
		}

		&[aria-selected=true] {
			background-color: var(--menu-item-select);

			.selectedIcon-19TbzU {
				color: hsl(var(--accent-hsl));
			}
		}
	}
}
