@use '../mixins' as *;

/*
 *
 *	TOASTS
 *
 */

%toast,
%bdToast {
	padding: 12px 16px;
	background-color: rgba(70,70,70,0.8);
	border-radius: 20px;
	box-shadow: none;
	font-size: 1em;
	font-weight: 400;
	color: #fff;
}

%notificationToast,
%qwertToast {
	margin-top: 30px !important;
	padding: 16px !important;
	@include popout-format(true);
	color: var(--text-normal) !important;

	+ %notificationToast,
	+ %qwertToast {
		margin-top: 12px !important;
	}
}

%notificationToastBg {
	background-color: transparent !important;
}
