@use '../mixins' as *;

/*
 *
 *  AUTOCOMPLETE
 *
 */

%autocomplete {
	@include popout-format(true);

	%autocompleteCategoryHeader {
		background-color: var(--emoji-category-header);
	}

	%autocompleteRow {
		padding: 0;

		%autocompleteBase {
			padding: 8px 12px;
			border-radius: 0;
			transition: var(--default-time) var(--default-animation) background-color;

			&%autocompleteBaseSelected {
				background-color: var(--menu-item-hover) !important;
			}
		}
	}

    %autocompleteTitle {
        @include remove-caps(14px);
    }

	%autocompleteDivider {
		padding: 8px 0;
		&:after {
			background-color: var(--card-border-color);
		}
	}

	%autocompleteListWrapper {
		background-color: var(--attachment-color);

		.wrapper-22rqw6 {
			background-color: transparent;

			%autocompleteListItems {
				left: 12px !important;
				right: 12px !important;
			}

			%autocompleteAvatarWrapper {
				border-radius: var(--avatar-radius);
			}
		}
	}

	.listItems-6eZzQ1 {
		left: 0 !important;
		right: 0 !important;
	}

	.categorySectionLast-C-_pSG {
		.categoryHeader-OpJ1Ly {
			background-color: var(--emoji-category-header);
		}
	}
}

/* AUTOCOMPLETE -> ROLES POPOUT */

%autocompletePopout {
	@include popout-format;

	%autocompletePopoutShadow {
		display: none;
	}

	%autocompletePopoutArrow {
		background-color: var(--popout-color);
	}

	%autocompletePopoutHeader {
		background-color: transparent;
		border-bottom: 1px solid var(--card-border-color);
	}

	%autocompletePopoutSectionTag {
		background-color: transparent !important;
	}

	%autocompletePopoutSection {
		line-height: 36px;
		padding: 0 16px;
		@include remove-caps(14px);
	}

	%autocompletePopoutRow {
		padding: 0;

		%autocompletePopoutRowInner {
			padding: 12px 16px;
			border-radius: 0;
		}
	}
}
