@use '../mixins' as *;

/*
 *
 *  CHANNEL INFO
 *
 */

%channelInfoPopoutContainer {
    @include popout-format;

    %channelUserLimitUsers {
        background-color: var(--card-color-active);
    }

    %channelUserLimitTotal {
        background-color: var(--card-color-filled);

        &:after {
            border-right-color: var(--card-color-filled);
        }
    }
}

%channelInfoPopoutHeaderDivider {
    background-color: var(--popout-header-border);
}

%channelActivityPopout {
    @include popout-format;
}
