@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  CONNECTION INFO
 *
 */

#{ $connectionInfo } {
    @include popout-format;

    #{ $headingLgBold } {
        margin-block-end: 4px;
    }

    #{ $connectionInfoTabs } {
        height: 40px;

        #{ $item } {
            line-height: 40px;
        }
    }
}

#{ $connectionInfoGraphContainer } {
    background-color: var(--popout-color);
}

#{ $connectionInfoPrivacyContainer } {
    gap: 12px;
}

#{ $connectionInfoTag } {
    margin-block-end: 0;
    padding: 4px 8px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}

#{ $connectionInfoSubHeader } {
    margin: 0;
}

#{ $connectionInfoCode } {
    @include card-format(false, 12px, true);
}

#{ $connectionInfoCodeHeader } {
    padding: 12px 16px;
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big) var(--card-radius-big) 0 0;
    border-bottom: 1px solid var(--card-border-color);

    + #{ $connectionInfoCode } {
        border-radius: 0 0 var(--card-radius-big) var(--card-radius-big);
    }
}

#{ $connectionInfoShieldIcon } {
    background-color: var(--popout-color-alt);
}

/* CONNECTION INFO -> CODE VERIFICATION MODAL */

#{ $modalContent } {
    &#{ $connectionInfoModalContent } {
        padding-block-start: 68px;
    }
}
