@use '../mixins' as *;

/*
 *
 *  CONNECTION INFO
 *
 */

%connectionInfo {
    @include popout-format;

	%connectionInfoHeader,
	section {
		background-color: transparent !important;
	}

	%connectionInfoHeader {
		border-bottom: 1px solid var(--popout-header-border);
		text-transform: none;
		justify-content: left;
	}
}
