@use '../mixins' as *;

/*
 *
 *  CONTEXT MENU
 *
 */

%menuPopout {
    background-color: var(--popout-color);
	border-radius: var(--popout-radius);
    box-shadow: var(--shadow-3dp);
    animation: opacity 100ms ease, open-context-menu 300ms var(--default-animation);
	transform-origin: top;

    %scroller {
        padding: 8px 0;

        &::-webkit-scrollbar {
            --scrollbar-thin-width: 0;
        }
    }

    %menuPopoutGroupLabel {
        @include remove-caps(14px);
    }

    %menuPopoutItem {
        min-height: 32px;
		margin: 0;
		padding: 9px 12px;
		line-height: 18px;
		border-radius: 0;
		color: var(--menu-item-text-color) !important;
		transition: var(--default-time) var(--default-animation) background-color;
        flex-direction: row-reverse;

        &%menuPopoutItemHover {
            background-color: var(--menu-item-hover);

            %menuPopoutCaret {
                color: var(--menu-item-text-color);
            }
        }

        &%menuPopoutItemPremium {
            transition: var(--default-time) var(--default-animation) background;

            &%menuPopoutItemHover {
                background: var(--menu-item-hover);
            }
        }

        &:active:not(%menuPopoutHideInteraction) {
            background-color: var(--menu-item-select);
        }

        &%menuPopoutHideInteraction {
            %menuPopoutLabelContainer {
                padding: 0 0 8px;
            }

            %menuPopoutSliderContainer {
                margin-bottom: -6px;
                padding: 0;
            }
        }

        %menuPopoutLabelContainer {
            min-height: unset;
            padding: 0;
        }

        %menuPopoutIconContainer,
        %menuPopoutImageContainer {
            margin-left: 0;
            margin-right: 12px;
        }

        %menuPopoutIconContainerLeft {
            margin-left: 12px;
            margin-right: 0;
        }
    }

	%submenuPaddingContainer {
		margin-left: -4px;
		margin-right: -4px;
		animation: opacity 100ms ease, open-context-menu 300ms var(--default-animation);
		transform-origin: top;
	}

    %menuPopoutSeparator {
        width: 100%;
		margin: 8px 0;
		border-color: var(--separator-color);
    }
}

body:active %menuPopout:not(:active) {
	opacity: 0;
	transition: 150ms ease all;
}

/* CONTEXT MENU -> SERVER OPTIONS */

%menuPopout#guild-header-popout {
	animation: top-pop-out 400ms var(--default-animation);
	overflow: hidden;
}
