@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  CONTEXT MENU
 *
 */

#{ $menuPopout } {
    --context-padding: 4px;
    --context-gap: 2px;

    --context-radius: calc(var(--context-radius-big) / 2.25);
    --context-radius-big: calc(var(--popout-radius-big) / 1.25);
    --context-radius-big-inner: calc(var(--context-radius-big) - var(--context-padding));

    background-color: transparent;
    border-radius: var(--context-radius-big);
    box-shadow: var(--shadow-medium);
    border: none;
    animation: opacity 100ms ease, open-context-menu 300ms var(--default-animation);
	transform-origin: top;

    &:not(:has(div[role="group"])) {
        padding: var(--context-padding);
        background-color: var(--popout-color);
    }

    #{ $scroller } {
        padding: 0 !important;
        border-radius: var(--context-radius-big);

        &::-webkit-scrollbar {
            --scrollbar-thin-width: 0;
        }
    }

    div[role="group"] {
        padding: var(--context-padding);
        background-color: var(--popout-color);
        border-radius: var(--context-radius);
        box-shadow: var(--shadow-medium);
        overflow: hidden;

        + div[role="group"] {
            margin-block-start: var(--context-gap);
        }
    }

    #{ $menuPopoutGroupLabel } {
        @include remove-caps(14px);
    }

    #{ $menuPopoutItem } {
        min-height: 32px;
		margin: 0;
		line-height: 18px;
        padding: 10px 12px;
        gap: 12px;
		border-radius: var(--context-radius-big-inner);
		color: var(--menu-item-text-color) !important;
		transition: var(--default-time) var(--default-animation) background-color;
        flex-direction: row-reverse;

        &#{ $menuPopoutColorDanger } {
            --menu-item-text-color: hsl(var(--alert-hsl));
        }

        &#{ $menuPopoutItemHover } {
            background-color: var(--menu-item-hover);

            #{ $menuPopoutCaret } {
                color: var(--menu-item-text-color);

                path {
                    fill: currentColor;
                }
            }
        }

        &#{ $menuPopoutItemPremium } {
            transition: var(--default-time) var(--default-animation) background;

            &#{ $menuPopoutItemHover } {
                background: var(--menu-item-hover);
            }
        }

        &:active:not(#{ $menuPopoutHideInteraction }) {
            background-color: var(--menu-item-select);
        }

        &#{ $menuPopoutHideInteraction } {
            #{ $menuPopoutLabelContainer } {
                padding: 0 0 8px;
            }

            #{ $menuPopoutSliderContainer } {
                margin-bottom: -6px;
                padding: 0;
            }
        }

        #{ $menuPopoutLabelContainer } {
            min-height: unset;
            padding: 0;
        }

        #{ $menuPopoutIconContainer },
        #{ $menuPopoutImageContainer } {
            margin: 0;
        }

        #{ $menuPopoutIcon } {
            path {
                fill: currentColor;
            }
        }

        #{ $accountSwitcherUserMenuText } {
            color: inherit;
        }

        &#textarea-context-suggestions {
            margin-block-end: var(--context-gap);
        }

        &#textarea-context-suggestions,
        &#textarea-context-submit-button {
            background-color: var(--popout-color);
            border-radius: var(--context-radius);
            box-shadow: var(--shadow-medium);
        }
    }

    #{ $menuPopoutLabel } {
        color: inherit;
    }

    #{ $menuPopoutCustomItem } {
        #{ $textMdBold } {
            padding: 12px;
            font-weight: 500;
        }
    }

    #{ $menuPopoutSeparator } {
        width: 100%;
        height: var(--context-gap);
        margin: 0;
        border: none;
    }

    #{ $menuPopoutInnerLabel } {
        gap: 8px;
    }

    /* Some context menus are not universal - This fixes the transparent background and padding */

    &#user-settings-cog,
    &#now-playing-menu {
        padding: var(--context-padding);
        background-color: var(--popout-color);

        div[role="group"] {
            padding: 0;
            box-shadow: none;
        }

        #{ $submenuContainer } {
            div[role="group"] {
                box-shadow: none;
            }
        }
    }
}

#{ $menuPopoutQuickReactionsWrapper } {
    margin-bottom: var(--context-gap);
}

#{ $contextMenuQuickReaction } {
    background-color: var(--menu-item-hover);
    border-radius: var(--context-radius-big-inner);
    transition: var(--default-time) var(--default-animation) background-color;

	&:hover {
		background-color: var(--menu-item-select);
	}
}

#{ $submenuContainer } {
    background-color: var(--popout-color);
    padding: var(--context-padding);

    #{ $scroller } {
        border-radius: var(--context-radius-big-inner);
    }

    div[role="group"] {
        &:first-of-type {
            &:nth-last-of-type(2) {
                padding: 0;
            }
        }
    }
}

#{ $submenuPaddingContainer } {
    margin-left: -4px;
    margin-right: -4px;
    animation: opacity 100ms ease, open-context-menu 300ms var(--default-animation);
    transform-origin: top;
}

body:active #{ $menuPopout }:not(:active) {
	opacity: 0;
	transition: 150ms ease all;
}

/* CONTEXT MENU -> SERVER OPTIONS */

#{ $menuPopout }#guild-header-popout {
	animation: top-pop-out 400ms var(--default-animation);
	overflow: hidden;
}
