@use '../mixins' as *;

/*
 *
 *  CREATE GROUP DM
 *
 */

%groupInvitePopoutSearchBar {
    margin-top: 16px;

    %groupInvitePopoutInput {
        height: var(--input-height) !important;
    }
}

%groupInvitePopoutSearchContainer {
    background-color: var(--input-color);
    border-radius: 19px !important;
    border: none;

    %groupInvitePopoutSearchBarInner {
        min-height: var(--input-height);
    }

    %groupInvitePopoutSearchInput {
        height: var(--input-height);
        margin: 0;
        padding: 0;

        &::-webkit-input-placeholder {
            color: var(--input-text-color);
        }
    }
}

%popoutSearchTag {
    height: 28px;
    margin: 4px 4px 0 6px;
    border-radius: 14px;
    background-color: transparent;
    border: 1px solid var(--text-muted);
    color: var(--text-normal);

    + %popoutSearchInput {
        margin-left: 6px;
    }
}

%groupInvitePopoutFriendWrapper {
    margin: 0;
}

%groupInvitePopoutFriend {
    padding: 6px 18px 6px 24px;
    border-radius: 0;

    &%groupInvitePopoutFriendSelected {
        background-color: var(--menu-item-hover) !important;
    }
}

%groupInvitePopoutFooter {
    padding: 16px 24px 24px;
}

%groupInvitePopoutFooterSeparator {
    display: none;
}
