@use '../mixins' as *;

/*
 *
 *	EMOJI PICKER
 *
 */

%emojiWrapper {
	animation: bottom-pop-out 400ms var(--default-animation);
}

%emojiWrapperIsBurstReactionPicker {
	border-radius: var(--popout-radius-big) !important;
}

%emojiWrapper,
%emojiPicker {
	@include popout-format;
}

/* EMOJI PICKER -> HEADER */

%emojiPickerNavButton {
	border-radius: 12px;
	color: var(--menu-item-text-color) !important;

	&:hover {
		background-color: var(--menu-item-hover) !important;
	}

	&%emojiPickerNavButtonActive {
		background-color: var(--menu-item-select) !important;
	}
}

%emojiPickerNavButtonSuperReactActive {
	background: var(--menu-item-select);
}

%emojiPickerNavEmoji,
%emojiPickerNavSticker,
%emojiPickerNavGif {
	padding: 16px;
	background-color: var(--popout-color);
	border-radius: var(--popout-radius-big) var(--popout-radius-big) 0 0;
	border-bottom: 1px solid var(--card-border-color);
	box-shadow: none !important;
}

%emojiPickerNavEmoji {
	+ %emojiPicker {
		border-radius: 0 0 var(--popout-radius-big) var(--popout-radius-big);
	}
}

%emojiPickerNav {
	+ %emojiWrapperChat {
		%emojiPickerNavEmoji {
			padding-top: 0;
		}
	}

	+ %emojiStickerContainer {
		%emojiPickerNavSticker {
			padding-top: 0;
		}
	}

	+ %emojiGifContainer {
		%emojiPickerNavGif {
			padding-top: 0;
		}
	}
}

%emojiPickerDiversitySelectorPopout {
	background-color: var(--popout-color);
	border-radius: 16px;
	border: none;
	box-shadow: var(--shadow-3dp);
	overflow: hidden;

	%emojiPickerDiversityItem {
		border-radius: 0;
		transition: var(--default-time) var(--default-animation) background-color;

		&:hover {
			background-color: var(--menu-item-hover);
		}
	}
}

/* EMOJI PICKER -> HEADER -> SEARCH BAR */

%emojiPickerSearchBar {
	background-color: var(--input-color);
	border-radius: 16px;

	%emojiPickerSearchInner {
		padding: 0;
	}

	%emojiPickerSearchInput {
		height: 32px;
		margin: 0;
		padding: 0 12px;
	}
}


/* EMOJI PICKER -> EMOJIS */

%emojiSuperReactContainer {
	background-color: var(--popout-color);

	%emojiSuperReactBanner {
		border-radius: var(--card-radius-big);
	}
}

%emojiPickerCategoryHeaderWrapper {
	background-color: var(--emoji-category-header);

	%emojiPickerCategoryHeaderLabel {
		@include remove-caps(14px);
	}
}

%emojiPickerItem {
	border-radius: 8px;
	transition: var(--default-time) var(--default-animation) background-color;

	&%emojiPickerItemSelected {
		background-color: var(--menu-item-select);
	}

	&%emojiPickerItemDisabled {
		filter: none;

		%emojiPickerItemImage {
			filter: brightness(60%) grayscale(100%);
		}
	}
}

%emojiPickerUpsell {
	height: auto;
	margin-bottom: 2px;
	@include card-format(false, 8px);
}

%emojiPickerInspector {
	background-color: var(--popout-color);
	border-top: 1px solid var(--card-border-color);

	%emojiCategoryGuildIcon {
		border-radius: 50%;
	}
}

%emojiPickerBadgeLabel {
	border-radius: 13px;
	text-transform: none;
}

/* EMOJI PICKER -> CATEGORIES */

%emojiCategoryList {
	border-radius: 0 0 0 var(--popout-radius-big);

	%emojiCategoryScroller {
		&::-webkit-scrollbar {
			width: 0px !important;
		}
	}

	%emojiCategoryUnicodeShortcut {
        height: 47px;
        background-color: var(--popout-color);
        border-top: 1px solid var(--card-border-color);
	}
}

%emojiPickerHasTabWrapper {
	%emojiCategoryWrapper {
		top: 50px;
	}
}

%emojiCategoryWrapper {
	background-color: var(--attachment-color);

	%emojiCategoryItem,
	%stickerCategoryItem {
		border-radius: 50%;

		&:hover {
			background-color: var(--menu-item-hover);
		}

		&%emojiCategoryItemRecent path,
		&%stickerCategoryGeneric path {
			d: path('M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z');
		}
	}
}

%emojiPickerNav {
	+ %emojiWrapperChat {
		%emojiCategoryWrapper {
			margin-top: -1px;
		}
	}

	+ %emojiStickerContainer {
		%emojiCategoryWrapper {
			margin-top: -1px;
		}
	}
}

%emojiPicker {
	 + %emojiCategoryList {
		 %emojiCategoryScroller {
			 &::-webkit-scrollbar {
				 width: 0px !important;
			 }
		 }
	 }
}

%emojiPickerSearchInput {
	&::-webkit-input-placeholder {
		font-family: var(--app-font);
	}
}

body:active %emojiWrapper:not(:active) {
	opacity: 0;
	transition: 150ms ease all;
}

/* EMOJI PICKER -> GIFS */

%emojiGifContainer {
	background-color: transparent !important;
}

%gifPickerSearchBar {
	padding: 0 6px 0 0 !important;

	--input-height: 32px;

	%gifPickerSearchInput {
		padding: 0 12px !important;
	}
}

%gifPickerResult {
	border-radius: var(--media-radius);

	&:after,
	%gifPickerGif,
	%gifPickerCategoryFade,
	%gifPickerCategoryFadeBlurple {
		border-radius: inherit;
	}

	%gifPickerCategoryFadeBlurple {
		background-color: hsla(var(--accent-hsl),0.8) !important;
	}

	&:hover {
		box-shadow: var(--shadow-2dp) !important;

		&:after {
			box-shadow: inset 0 0 0 2px hsl(var(--accent-hsl--material-you)), inset 0 0 1px 3px #2f3136 !important;
		}
	}
}

/* EMOJI PICKER -> STICKERS */

%stickerCategoryList {
	%emojiCategoryScroller {
		&::-webkit-scrollbar {
			width: 0px !important;
		}
	}
}

%stickerPickerRow {
	column-gap: 6px !important;
}

/* EMOJI PICKER -> BURST REACTIONS */

%emojiPickerBurst {
	padding: 4px;
	border-radius: var(--popout-radius-big);

	%emojiPickerBurstHeader {
		height: unset;
		padding: 8px 16px;
		background-color: var(--popout-color);
		border-top-left-radius: calc(var(--popout-radius-big) / 1.25);
		border-top-right-radius: calc(var(--popout-radius-big) / 1.25);
		border-bottom: 1px solid var(--card-border-color);

		%emojiPickerBurstHeaderDivider {
			display: none;
		}
	}

	%emojiPickerBurstBadge {
		background-color: hsl(var(--accent-hsl--material-you)) !important;
		color: var(--accent-text-color--material-you);
	}

	%emojiPickerBurstPicker {
		border-radius: 0 0 calc(var(--popout-radius-big) / 1.25) calc(var(--popout-radius-big) / 1.25);
		box-shadow: none;
	}
}
