@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *	EMOJI PICKER
 *
 */

#{ $emojiContentWrapper } {
    --nav-button-height: 36px;

    @include popout-format;

    grid-template-rows: var(--nav-button-height) auto;
    padding-block: var(--space-16) var(--emoji-padding);
    padding-inline: var(--emoji-padding);
    animation: bottom-pop-out 400ms var(--default-animation);
}

#{ $emojiWrapper } {
    &:not(#{ $emojiWrapperHasTabWrapper }) {
        #{ $emojiPicker } {
            padding-block-end: var(--emoji-padding);
            padding-inline: var(--emoji-padding);
        }

        #{ $emojiCategoryWrapper } {
            inset-block-end: var(--emoji-padding);
            inset-inline-start: var(--emoji-padding);
        }
    }
}

/* EMOJI PICKER -> NAVIGATION */

#{ $emojiPickerNav } {
    padding-inline: calc(var(--space-16) - var(--emoji-padding));
}

#{ $emojiPickerNavList } {
    @include pill-nav(true, 36px, "#{ $emojiPickerNavItem }", "#{ $emojiPickerNavButtonActive }");
	width: 100%;
}

#{ $emojiPickerNavItem } {
	flex-grow: 1;
	flex-basis: 0;
	margin: 0 !important;
	padding: 0;
	line-height: var(--nav-button-height);
    text-align: center;

	&:hover {
		background-color: var(--card-color-active) !important;
	}
}

/* EMOJI PICKER -> SEARCH HEADER */

#{ $emojiPickerHeader },
#{ $emojiPickerHeaderSticker },
#{ $emojiPickerHeaderGif } {
    background-color: transparent;
    padding-inline: calc(var(--space-16) - var(--emoji-padding));
    border-block-end: none;

    #{ $inputContainer } {
        @include input-transform;
    }
}

#{ $themeLight } {
	#{ $emojiPickerHeader },
	#{ $emojiPickerHeaderSticker },
	#{ $emojiPickerHeaderGif } {
		#{ $inputContainer } {
			--input-color: var(--popout-color-alt);
		}

	}
}

#{ $emojiPickerHeader } {
    gap: var(--space-8);
    background-color: var(--popout-color);
    border-start-start-radius: var(--popout-radius-big);
    border-start-end-radius: var(--popout-radius-big);
    border-block-end: none;
}

#{ $emojiWrapperHasTabWrapper } {
    #{ $emojiPickerHeader } {
        padding-block: 0 var(--space-12);
        padding-inline: calc(var(--space-16) - var(--emoji-padding));
    }
}

#{ $emojiPickerDiversitySelectorButton },
#{ $emojiPickerDiversityItem },
#{ $emojiPickerBurstLabel } {
    display: flex;
    width: var(--input-height);
    height: var(--input-height);
    padding: 0;
    background-color: var(--card-button-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

#{ $emojiPickerDiversitySelectorPopout } {
    inset-block-start: 1px;
    inset-inline-start: 0;
    background-color: var(--popout-color);
    border-radius: calc(var(--input-height) / 2);
    border: none;
    box-shadow: var(--shadow-medium);
}

#{ $emojiPickerDiversityItem } {
    background-color: transparent;
}

/* EMOJI PICKER -> EMOJIS CONTAINER */

#{ $emojiPicker } {
    background-color: var(--popout-color);
    border-end-start-radius: var(--popout-radius-big);
    border-end-end-radius: var(--popout-radius-big);
    box-shadow: var(--shadow-medium);
}

#{ $emojiPickerListWrapper },
#{ $emojiPickerListWrapperSticker },
#{ $emojiPickerInspector } {
    width: calc(100% - var(--emoji-padding));
    inset-inline-start: var(--emoji-padding);
    background-color: var(--card-color-filled);
    overflow: hidden;
}

#{ $emojiPickerListWrapper } {
    border-start-start-radius: var(--emoji-radius);
    border-start-end-radius: var(--emoji-radius);
}

#{ $emojiPickerListWrapperSticker } {
    border-radius: var(--emoji-radius);
}

#{ $emojiPickerInspector } {
    position: relative;
    padding-inline: var(--space-12);
    border-end-start-radius: var(--emoji-radius);
    border-end-end-radius: var(--emoji-radius);
}

#{ $emojiPickerCategoryHeaderWrapper } {
    background-color: var(--emoji-category-header);
}

/* EMOJI PICKER -> CATEGORIES */

#{ $emojiCategoryWrapper } {
    inset-block-start: 52px;
    background-color: var(--card-color-filled);
    border-radius: var(--emoji-radius);

    #{ $emojiCategoryUnicodeShortcut } {
        background-color: var(--card-color-filled);
    }
}

#{ $emojiWrapper } {
    &#{ $emojiWrapperIsBurstReactionPicker } {
        border-radius: var(--popout-radius-big);

        &:before {
            border-radius: inherit;
        }
    }

    &#{ $emojiWrapperHasTabWrapper } {
        #{ $emojiCategoryWrapper } {
            inset-block-start: 52px;
        }
    }

    &:not(#{ $emojiWrapperHasTabWrapper }) {
        #{ $emojiCategoryWrapper } {
            inset-block-start: 68px;
        }
    }
}

#{ $emojiCategoryItemDefaultCategory } {
    border-radius: 50%;

    &:hover {
        background-color: var(--card-button-color);
    }
}

#{ $emojiCategoryItemDefaultCategorySelected } {
    background-color: var(--card-button-color-hover);
}

/* EMOJI PICKER -> GIFS */

#{ $emojiGifContainer } {
    background-color: transparent;
}

#{ $gifPickerContent } {
    background-color: var(--card-color-filled);
    border-radius: var(--emoji-radius);
}
