@use '../mixins' as *;

/*
 *
 *  GUILD POPOUT
 *
 */

/* GUILD CHAT POPOUT - PROBABLY A DIFFERENT THING, I DUNNO YET */

%guildChatPopoutContainer {
    @include popout-format;
    border: none;

    %textXsNormal {
        color: var(--interactive-text-default) !important;
    }
}

%guildChatPopoutBanner,
%guildChatPopoutBannerImage {
    border-radius: var(--popout-radius-big);
}

%guildChatPopoutCardContainer {
    background: transparent !important;
}

%guildChatChipletContainerInner {
    height: 20px;
    padding: 0px 6px;
    background-color: var(--card-button-color);
    border-radius: 8px;
    border: none;

    &%guildChatChipletContainerInline {
        height: 16px;
        padding: 0 4px;
        border-radius: 6px;
    }

    &:hover {
        background-color: var(--card-button-color-hover);
    }

    %textXsSemibold {
        line-height: 20px !important;
    }
}

%guildChatPopoutAvatarWrapper,
%guildChatPopoutClanIconInner {
    background-color: var(--popout-color);
}

%guildChatPopoutTrait {
    border-radius: 10px;
    border-color: var(--popout-header-border);
}

%guildChatPopoutGameImageContainer {
    border-radius: 50%;
    border-color: var(--popout-header-border);
}

%guildAdoptTagContainer {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
    border: none;
    box-shadow: var(--shadow-medium);

    &:after {
        border-top-color: var(--popout-color);
    }
}

%guildAdoptTag {
    background-color: var(--card-button-color);
    border-radius: 16px;
    border: none;
}

#svg-mask-clan-icon {
    rect {
        rx: 1;
        ry: 1;
    }
}
