@use '../mixins' as *;

/*
 *
 *  GUILD POPOUT
 *
 */

%guildPopout {
    @include popout-format(true);

    %guildPopoutIconWithSplash {
        foreignObject {
            mask: none !important;
        }
    }

    %guildPopoutIconMask {
        background-color: var(--popout-color);
    }

    %guildPopoutIconMask,
    %guildPopoutAvatar {
        border-radius: var(--avatar-radius);
    }
}

%guildPopoutFooter {
    background-color: transparent;
    border-top: 1px solid var(--popout-header-border);

    %guildPopoutEmojiHeader {
        @include remove-caps(14px);
    }

    %guildPopoutEmojiCounter {
        background-color: var(--popout-color-alt);
    }
}

%guildPopoutJoined {
    @include popout-format;
}

/* GUILD CHAT POPOUT - PROBABLY A DIFFERENT THING, I DUNNO YET */

%guildChatPopoutContainer {
    @include popout-format;

    %textXsNormal {
        color: var(--text-normal) !important;
    }
}

%guildChatPopoutBannerImage {
    border-radius: var(--popout-radius-big);
}

%guildChatPopoutCardContainer {
    background: transparent !important;
}

%guildChatPopoutClanTagChiplet {
    height: 24px;
    padding: 0px 8px;
    background-color: var(--popout-color-alt);
    border-radius: 12px;
    border: none;
}

%guildChatPopoutClanIconInner {
    background-color: var(--popout-color);
}

%guildChatPopoutTrait {
    border-color: var(--popout-header-border);
}

%guildChatPopoutGameImageContainer {
    border-radius: 50%;
    border-color: var(--popout-header-border);
}

#svg-mask-clan-icon {
    rect {
        rx: 1;
        ry: 1;
    }
}
