@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *  INCOMING CALL
 *
 */

#{ $incomingCallPopout } {
    @include popout-format(true);

    #{ $button } {
        width: calc(var(--button-height) * 1.5) !important;
        height: calc(var(--button-height) * 1.5) !important;
        border-radius: 50% !important;
    }

    #{ $voiceCallAttachedCaretButtonContainer } {
		#{ $voiceCallFullRegionButton }#{ $voiceCallDisconnect } {
			--button-leave-height: var(--button-height);
		}
	}
}
