@use '../mixins' as *;

/*
 *
 *  LISTENING ALONG CHANNEL POPOUT
 *
 */

%listeningAlongPopout {
	@include popout-format;

	%activityHeaderText {
		@include remove-caps(14px);
		font-weight: 500;
	}

	%listeningAlongPopoutActivity {
		border-radius: 50%;
	}

	%button {
		--button-background: hsla(var(--button-link-color),0.075);
		--button-shadow: none;
		--button-outline: none;
		--button-text-color: var(--button-link-text-color);

		&:after {
			background-color: hsl(var(--button-link-color));
		}
	}
}
