/*
 *
 *  MEMBERS LIST ACTIVITY POPOUT
 *
 */

%memberActivityPopout {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
    box-shadow: var(--shadow-3dp);
    filter: none;

    %buttonFilled {
        path {
            fill: currentColor !important;
            color: currentColor !important;
        }
    }
}

%memberActivityPopoutContentWrapper,
%memberActivityInteractionsContainer {
    background-color: transparent;
}

%memberActivityHero {
    border-radius: var(--card-radius-big);

    %memberActivityImageContainer {
        border-radius: calc(var(--card-radius-big) / 1.55);
    }
}

%memberActivityInteractionsContainerHeader {
    background-color: var(--popout-header-border);
    border-color: var(--popout-header-border);
}

%memberActivityReplyInput {
    background-color: var(--input-color);
    border-radius: var(--main-textarea-radius);

    %textAreaPlaceholder {
        color: var(--input-placeholder-color);
    }
}

%memberActivityShareToChannelButton {
    padding-right: 0;
    border-right: none;
}
