@use '../mixins' as *;

/*
 *
 *	MESSAGES POPOUT
 *
 */

%messagesPopoutWrap,
%recentMentionsPopout {
	max-height: 80vh !important;
	@include popout-format;
	animation: top-pop-out 400ms var(--default-animation);

	%messagesWrapper {
		&%messageCozy {
			overflow: visible;

			&:before,
			&:after {
				display: none;
			}

			%avatarLarge {
				left: -50px;
			}

			%embedContainer {
				overflow: hidden;
			}
		}
	}
}

%messagesPopoutHeader {
	padding: 16px 16px 0;
	background-color: transparent;
	border-bottom: 1px solid var(--popout-header-border);
	box-shadow: none;

	&%messagesPopoutHeaderExpanded {
		height: auto;
		min-height: unset;
		padding: 16px 16px 0;
	}

	%messagesPopoutExpandedInboxHeader {
		padding-bottom: 0;
	}

	%messagesPopoutExpandedTabSection {
		height: 48px;
	}

	%topPill {
		height: inherit;
	}

	%messagesPopoutHeaderFriendRequestButton,
	%messagesPopoutHeaderButton:not(%messagesPopoutHeaderButtonDisabled) {
		background-color: var(--card-button-color);
		transition: var(--default-time) var(--default-animation) background-color;

		&:hover {
			background-color: var(--card-button-color-hover);
		}
	}
}

%messagesPopoutContentContainer {
	background-color: transparent;
}

%messagesPopoutRow {
	transition: var(--default-time) var(--default-animation) background-color;

	&:hover {
		background-color: var(--menu-item-hover);
	}
}

/* MESSAGES POPOUT -> FRIEND REQUEST ROW */

%messagesPopoutFriendRequestContainer {
	%button {
		padding: var(--button-padding);

		%textSMMedium {
			line-height: var(--button-height);
		}
	}

	%buttonGreen {
		margin-right: 8px;

		%textSMMedium {
			color: var(--button-text-color) !important;
		}
	}

	%buttonPrimary {
		--button-padding: 0 12px;
		--button-background: transparent;
		--button-text-color: var(--button-link-accent-text-color);

		--accent-button-action-hover: 0.14;
		--accent-button-action-active: 0.21;

		&:after {
			background-color: hsl(var(--button-link-accent-color));
		}

		%textSMMedium {
			font-size: 1em;
			color: var(--button-text-color) !important;
		}
	}
}

/* MESSAGES POPOUT -> INNER */

%messagesPopoutInner {
	padding: 0 8px 20px 8px;

	%pinnedMessageGroupWrapper {
		margin: 0;
		background-color: transparent;
		border: none;

		%messagesWrapper {
			margin: 16px 8px 0 52px;
			padding: var(--message-padding-top) var(--message-padding-side) !important;
			background-color: var(--message-color-alt) !important;
			border-radius: var(--message-radius);
		}

		%pinnedActionButtons {
			top: 22px;
			right: 12px;

			%pinnedJumpButton {
				border-radius: 9px;
			}
		}
	}
}

%messagesPopoutFooter {
	background-color: transparent;
	border-top: 1px solid var(--popout-header-border);
}

%messagesPopoutChannelHeader {
	padding: 12px 16px;
	background-color: var(--message-color-alt);
	border-radius: var(--message-radius) var(--message-radius) 0 0;
	border-bottom: 1px solid var(--card-border-color);

	%messagesPopoutChannelHeaderButton {
		background-color: var(--menu-item-hover);

		&:hover {
			background-color: var(--menu-item-select);
		}
	}
}

body:active %messagesPopoutWrap:not(:active) {
	opacity: 0;
	transition: 150ms ease all;
}

/* MESSAGES POPOUT -> RECENT MENTIONS */

%recentMentionsContainer {
	padding-left: 8px;
	padding-right: 8px;

	&:first-child {
		margin-top: 16px;
	}

	%recentMentionsMessagesContainer {
		margin-left: 0;
		background-color: var(--message-color-alt);
		border-radius: 0 0 var(--message-radius) var(--message-radius);

		%messagesWrapper {
			&%messageCozy {
				margin: 0 0 0 66px;
				border-radius: var(--message-radius);
				overflow: visible;
			}
		}
	}
}

%recentMentionsJumpButton {
	top: 22px;
	right: 22px;
	padding: 4px 6px;
	border-radius: 12px;
}

/* MESSAGES POPOUT -> UNREADS */

%unreadTutorial {
	@include card-format(false, 16px);
}

%unreadChannel {
	%messagesPopoutChannelHeader {
		padding: 12px 16px 12px 42px;

		&:only-child {
			border-radius: var(--message-radius);
			border-bottom: none;
		}

		%unreadCollapseButton {
			left: 12px;
			cursor: pointer;
		}
	}
}

%unreadMessages {
	padding: 16px;
	background-color: var(--message-color-alt);
	border-radius: 0 0 var(--message-radius) var(--message-radius);

	%messagesWrapper {
		&%messageCozy {
			overflow: visible;

			&%messageGroupStart {
				margin: 16px 0 0 48px;
			}

			&:not(%messageGroupStart) {
				margin: -8px 0 0 48px;
			}
		}
	}
}
