/*
 *
 *  NITRO UPSELLS
 *
 */

/* NITRO UPSELLS -> PROFILE THEMES */

.content-1rmYE- {
    border-radius: var(--popout-radius-big);
    box-shadow: var(--shadow-3dp);

    %button {
        --button-padding: 0 12px;
    }
}
