/*
 *
 *  REGION SELECT POPOUT
 *
 */

%regionSelectPopout {
	padding: 8px 0;
	background-color: var(--popout-color) !important;
	border-radius: var(--popout-radius);
	box-shadow: var(--shadow-3dp);

	%regionSelectPopoutOption {
		position: relative;
		padding: 9px 12px;
		transition: var(--default-time) ease background-color;

		&:hover {
			background-color: var(--menu-item-hover) !important;
		}

		%regionSelectName {
			margin: 0;
			font-size: 14px;
			text-align: left;
			color: var(--menu-item-text-color) !important;
		}
	}
}
