@use '../mixins' as *;

/*
 *
 *  SEARCH POPOUT
 *
 */

%searchPopout {
	max-height: 80vh;
	@include popout-format(true);
	border: none;
	overflow-y: auto;
	transform: translate(0, -4px);
	animation: top-pop-out 400ms var(--default-animation);

	%searchPopoutResultsGroup {
		margin: 40px 8px 8px;
        padding: 8px;
        background-color: var(--message-color-alt);
        border-radius: calc(var(--popout-radius-big) / 1.5);

		&:before {
			display: none;
		}

		%searchPopoutLearnMore,
		%searchPopoutClearHistory {
			width: 32px;
            height: 32px;
            top: 8px;
            right: 4px;
			margin-top: -40px;
		}

		%searchPopoutLearnMore a,
		%searchPopoutClearHistory {
			display: flex;
            align-items: center;
            justify-content: center;
			color: var(--text-normal);
		}
	}

    %searchPopoutHeader {
		margin: -40px 0 8px;
        padding: 8px 0;
        color: var(--text-normal);
		font-weight: 500;
        @include remove-caps(16px);
    }

    %searchPopoutOption {
        margin: 0;
		padding: 0 8px;
        border-radius: calc(var(--popout-radius-big) / 2.5);
        text-overflow: ellipsis;
        overflow: hidden;
        transition: var(--default-time) var(--default-animation) background-color;

        &:hover {
            background: var(--menu-item-select);
        }

		&:after {
			display: none;
		}

		&[aria-selected=true] {
            background-color: var(--menu-item-select);
            box-shadow: none;
        }

        %searchPopoutFilter,
		%searchPopoutNonText {
            color: var(--text-normal);
        }

		%searchPopoutFilter {
            margin-left: 0;
        }

        %searchPopoutAnswer {
            color: var(--text-muted);
        }
    }

	%searchPopoutQueryContainer {
		margin: 8px 8px 0;
        height: var(--input-height);
        line-height: var(--input-height);
        padding: 0 8px 0 12px;
        background-color: var(--input-color);
        border-radius: var(--input-radius);
        border-bottom: none;
        align-items: center;

        &:only-child {
            margin: 8px;
        }

		&%searchPopoutQueryContainerFocused {
            background-color: var(--input-color) !important;
        }

        %searchPopoutQueryText {
            @include remove-caps(14px);
        }

		%keybindShortcutKey {
            background-color: var(--input-pill-color);
        }
	}
}

%keybindShortcut {
	height: 24px;

	%keybindShortcutKey {
		background-color: var(--menu-item-hover) !important;
		color: var(--text-normal);

		&,
		&:active {
			height: 100%;
			padding: 0 6px;
			line-height: 24px;
			border-radius: 12px;
			box-shadow: none !important;
			border: none !important;
		}
	}
}

body:active %searchPopout:not(:active) {
	opacity: 0;
	transition: 150ms ease all;
}
