@use '../classes' as *;
@use '../mixins' as *;
@use '../placeholders' as *;

/*
 *
 *  SOUNDBOARD PICKER
 *
 */

#{ $soundboardPicker } {
    padding: var(--emoji-padding);
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
    box-shadow: var(--shadow-medium);

    #{ $soundboardPickerSoundsWrapper } {
        inset-inline-start: var(--emoji-padding);
        background-color: var(--card-color-filled);
        border-radius: var(--emoji-radius);
        overflow: hidden;
    }
}

#{ $soundboardPickerPremiumPromo } {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
}

/* SOUNDBOARD PICKER -> SEARCH HEADER */

#{ $soundboardPickerHeader } {
    padding-inline: calc(var(--space-16) - var(--emoji-padding));
    border-block-end: none;
    box-shadow: none;

    #{ $breadcrumbsWrapper } {
        padding: 0;
    }

    #{ $inputContainer } {
        @include input-transform;
    }
}

/* SOUNDBOARD PICKER -> CATEGORIES */

#{ $soundboardPickerCategoryList } {
    inset-block: 70px var(--emoji-padding);
    inset-inline-start: var(--emoji-padding);

    #{ $scroller } {
        --scrollbar-width: 0;
    }
}

#{ $soundboardPickerCategoryIcon } {
    @extend %categoryItemBase;

    &#{ $soundboardPickerCategoryIconSelected } {
        @extend %categoryItemSelected;
    }
}

#{ $soundboardPickerCategory } {
    foreignObject {
        mask: none !important;
    }

    #{ $emojiCategoryGuildIcon } {
        border-radius: 50%;
        transition: var(--default-time) var(--default-animation) border-radius;
    }

    &:hover,
    &:has([mask="url(#svg-mask-squircle)"]) {
        #{ $emojiCategoryGuildIcon } {
            border-radius: calc(var(--emoji-radius) - 6px);
        }
    }
}

/* SOUNDBOARD PICKER -> SOUNDS */

#{ $soundboardPickerSectionContainer } {
    background-color: hsl(from var(--card-color-filled) h s l / 0.8);
    border-start-start-radius: var(--emoji-radius);
    border-start-end-radius: var(--emoji-radius);
    backdrop-filter: blur(6px);
}

#{ $soundboardPickerButtonWrapper } {
    border-radius: 20px;
}

#{ $soundboardPickerButton } {
    background-color: var(--card-button-color);
    border-radius: 20px;
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        &#{ $soundboardPickerButtonHoverActiveBackground } {
            background-color: var(--card-button-color-hover);
        }
    }

    #{ $soundboardPickerButtonOverlayBackground } {
        background-color: var(--card-button-color);
    }

    &#{ $soundboardPickerSoundAddButton } {
        &:hover {
            background-color: var(--card-button-color-hover);
        }
    }
}

#{ $soundboardPickerKeybindHint } {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}
