/*
 *
 *  SOUNDBOARD PICKER
 *
 */

%soundboardPicker {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big);
    box-shadow: var(--shadow-3dp);
}

%soundboardPickerHeader {
    border-bottom: 1px solid var(--separator-color);
    box-shadow: none;
}

%soundboardPickerButton {
    background-color: var(--card-button-color);
    border-radius: 20px;
    transition: var(--default-time) var(--default-animation) background-color;

    %soundboardPickerButtonOverlayBackground {
        background-color: var(--card-button-color);
    }

    &%soundboardPickerSoundAddButton {
        &:hover {
            background-color: var(--card-button-color-hover);
        }
    }
}

%soundboardPickerKeybindHint {
    background-color: var(--card-color-filled);
    border-radius: var(--card-radius-big);
}
