@use '../mixins' as *;

/*
 *
 *  STATUS PICKER
 *
 */

%popoutLayer {
	&[style*="bottom: 68px; left: 88px"] {
		left: 80px !important;
	}
}

%statusMenu {
	--popout-color: transparent;

	box-shadow: none;
	animation: none;

	%scroller {
		padding-right: 0 !important;

		&::-webkit-scrollbar {
            --scrollbar-width: 0;
        }
	}

	%menuPopoutSeparator {
		width: calc(100% - 24px);
		margin: 8px 12px !important;
        border-color: var(--separator-color) !important;
	}

	%contextMenuItemSubMenuAlt {
        %menuPopoutSeparator {
            width: 100%;
    		margin: 8px 0 !important;
    	}
    }
}

body:active %statusMenu:not(:active) {
	opacity: 1;
}

%statusMenuProfileGroup {
	margin: -8px 0 0;

	%menuPopoutItem {
		padding: 0;
	}

	%userPopoutBodyInnerWrapper {
		margin-top: 12px;
		background-color: transparent;

		%userPopoutDivider {
			display: none;
		}

		%userPopoutInfoSection {
			margin-bottom: 12px;
		}
	}

	%statusMenuUserInfoTitle {
		@include remove-caps(14px);
	}
}

%statusPickerItem {
	padding: 0;
}

/* STATUS PICKER -> NEW */

%userPopoutInner {
	%menuPopout#account {
		background-color: transparent;
		box-shadow: none;
		animation: unset;
		transform-origin: unset;

		%menuPopoutItem {
			&[id*="account-divider-"] {
				min-height: unset;
				padding: 0;
			}

			%menuPopoutDivider {
				margin: 8px 12px;
			}
		}
	}
}
