@use '../mixins' as *;

/*
 *
 *  STATUS PICKER
 *
 */

%popoutLayer {
	&[style*="bottom: 68px; left: 88px"] {
		left: 80px !important;
	}
}

%statusMenu {
	border-radius: var(--popout-radius-big);
}

%statusMenuProfileGroup {
	margin: -8px 0 0;

	%menuPopoutItem {
		padding: 0;
	}

	%userPopoutBodyInnerWrapper {
		margin-top: 12px;
		background-color: transparent;

		%userPopoutDivider {
			display: none;
		}

		%userPopoutInfoSection {
			margin-bottom: 12px;
		}
	}

	%statusMenuUserInfoTitle {
		@include remove-caps(14px);
	}
}

%statusPickerItem {
	padding: 0;
}
