@use '../classes' as *;
@use '../mixins' as *;

/*
 *
 *	STREAM PREVIEW
 *
 */

#{ $streamPopoutPreview } {
	@include popout-format(true);

	#{ $streamPopoutPreviewContainer } {
		background-color: var(--popout-color-alt) !important;
		border-radius: var(--popout-radius-big);
		overflow: hidden;
	}

    #{ $streamPopoutIconButton } {
		--button-padding-start: 0;
        --button-padding-end: 0;
    }
}
