@use '../mixins' as *;

/*
 *
 *	STREAM PREVIEW
 *
 */

%streamPopoutPreview {
	@include popout-format(true);

	%streamPopoutPreviewContainer {
		background-color: var(--popout-color-alt) !important;
		border-radius: var(--popout-radius-big);
		overflow: hidden;
	}

    %streamPopoutIconButton {
        --button-padding: 0;
    }
}
