@use '../mixins' as *;

/*
 *
 *	SUMMARIES POPOUT
 *
 */

%topicsDropdownBase {
    top: calc(var(--button-height) + 16px);
    left: 0;
    right: 0;
    margin: 0 auto;
    @include popout-format;
    border: none;
    pointer-events: all;
    overflow: hidden;
    animation: top-pop-out 400ms var(--default-animation);

    %scroller {
        padding-top: 0;
        padding-right: calc(8px - var(--scrollbar-thin-width)) !important;
        background-color: transparent;
    }
}

%topicsDropdownHeading {
    padding: 24px 24px 16px;
    background-color: transparent;

    %topicsDropdownHeadingText {
        padding-top: 0;
    }

    %headingMdBold {
        line-height: 24px;
        font-size: 20px;
        font-weight: 400;
    }
}

%topicsDropdownHeadingBetaTag {
    margin-left: 8px;
    background-color: hsl(var(--accent-hsl--material-you)) !important;
    color: var(--accent-text-color--material-you);
}

%topicsDropdownTopicContainer {
    margin-top: 0;
    padding-left: 16px;
    padding-right: 12px;
    border-radius: var(--card-radius-big);
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-color-active);
    }
}

%topicsDropdownFeedbackContainer {
    padding-left: 24px;
    background-image: linear-gradient(90deg,transparent, var(--card-color-active) 40%);
    border-radius: 0 var(--card-radius-big) var(--card-radius-big) 0;
    animation: feedback-open var(--default-time) var(--default-animation);

    %topicsDropdownThumbIcon {
        background-color: var(--card-color-hover);
        transition: var(--default-time) var(--default-animation) background-color;

        &:hover {
            background-color: var(--card-color-filled);
        }
    }
}

@keyframes feedback-open {
    from { opacity: 0; }
}
