@use '../mixins' as *;

/*
 *
 *  THREADS POPOUT
 *
 */

%threadsPopoutContainer {
	min-height: 200px;
	max-height: 80vh;
	@include popout-format;
	animation: top-pop-out 400ms var(--default-animation);

	%threadsPopoutHeader {
		min-height: unset;
		height: auto;
		padding: 24px 24px 16px;
		background-color: transparent;

		%threadsPopoutHeaderDivider {
			display: none;
		}

		%threadsPopoutTabBar {
			height: 100%;
		}

		%threadsPopoutSearchBar {
			--input-height: 32px;
		}

		%threadsPopoutCreateButton {
			--button-height: 32px;
			--button-padding: 0 12px;

			min-width: 84px;
		}
	}

    %threadsPopoutControls {
        height: 52px;
    }

    %threadModalTabBar {
    	height: 100%;

    	%tabBarItem {
            height: 24px;
    		border-radius: 12px;

            &:after {
                display: none;
            }

    		&:hover {
    			background-color: var(--menu-item-hover) !important;
    		}

    		&%tabBarItemSelected {
    			background-color: var(--menu-item-select) !important;
    		}
    	}
    }

	%threadsPopoutInnerContainer {
		min-height: 200px;
		padding: 16px;
	}

	%threadsPopoutSectionHeader {
		margin-top: 0;
		@include remove-caps(14px);
	}

	%threadsPopoutList {
		padding: 0 24px;
	}

	.activeThreadsList-c8qlqZ {
		padding-bottom: 16px;
	}

	.content-28mbXd {
		height: auto !important;
	}

	%threadPreview {
		@include card-format(false, 16px, true, true);

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

body:active %threadsPopoutContainer:not(:active) {
	opacity: 0;
	transition: 150ms ease all;
}

/*
 *
 *	THREADS CHANNEL POPOUT
 *
 */

 %channelThreadPopout {
 	padding: 0;
 	@include popout-format;

 	%channelThreadPopoutTitle {
		margin: 0 0 8px 0;
 		padding: 12px;
 		@include remove-caps(14px);
		border-bottom: 1px solid var(--popout-header-border);
 	}

 	%channelThreadPopoutRow {
 		margin: 0;
 		border-radius: 0;
 		color: var(--menu-item-text-color);
 		transition: var(--default-time) var(--default-animation);

 		&:hover {
 			background-color: var(--menu-item-hover);
 			color: var(--menu-item-text-color);
 		}

		%channelThreadPopoutTimestamp {
			color: var(--text-muted) !important;
		}
 	}

 	%channelThreadPopoutMore {
		padding: 8px 12px;
		border-top-color: var(--popout-header-border);
 		color: hsl(var(--accent-hsl--material-you));

 		%size14 {
 			margin-left: auto;
 		}
 	}
 }
