@use '../mixins' as *;

/*
 *
 *	USER POPOUT
 *
 */

%userProfileOuterUnthemed {
	--profile-gradient-primary-color: var(--popout-color) !important;
	--profile-gradient-secondary-color: var(--popout-color) !important;
	--profile-avatar-border-color: var(--popout-color) !important;
	--profile-body-background-color: var(--popout-color-alt) !important;
	--profile-gradient-button-color: hsl(var(--accent-hsl--material-you)) !important;
	--profile-gradient-button-text-color: var(--accent-text-color--material-you) !important;

	--bg-surface-overlay: var(--profile-gradient-primary-color) !important;
    --bg-mod-faint: var(--profile-body-background-color) !important;

	--input-color: var(--input-color-alt) !important;
}

%profileCustomThemeBackground {
    %menuPopout {
        border: none;
    }
}

%userProfileOuterThemed {
    --popout-color-alt: var(--profile-gradient-secondary-color) !important;
    --card-color-filled: var(--profile-body-background-color) !important;
    --menu-item-hover: var(--profile-gradient-secondary-color) !important;

    %userProfileMessageInner {
        --input-color: rgb(var(--bg-overlay-color)/0.3);
    }

    %statusBubbleText {
        color: var(--white-500);
    }

    %channelTextAreaFontPadding {
		color: var(--text-normal) !important;
	}

    %spriteGreyscale {
        background-color: var(--text-normal);
    }

	%userProfileBanner {
		border-radius: calc(var(--popout-radius-big) - 4px);
	}

	%buttonFilled {
		--button-background: var(--profile-gradient-button-color);
        --button-text-color: var(--white-500);
        --accent-button-action: var(--white-500);
	}

	%userProfileModalConnectedAccounts {
		%userProfileModalConnectedAccount {
			--card-color-filled: var(--profile-body-background-color);
		}
	}

	%spoilerContent {
        --attachment-color: var(--profile-role-pill-background-color);

        &%spoilerHidden {
            --attachment-color: var(--profile-gradient-secondary-color);
        }
    }

    %userProfileNoteTextArea,
	%inputWrapper %input {
		--input-color: var(--profile-body-background-color) !important;
	}

	%listRow {
	    --menu-item-hover: var(--profile-body-background-hover);
	}

	%markup a {
		color: var(--profile-gradient-secondary-color);
	}

	%flowerStar {
	    path {
	        fill: var(--profile-gradient-button-color);
	    }
	}

	%flowerStarChild {
	    path {
	        fill: var(--white-500);
	    }
	}
}

%userProfileOuter,
%biteSizeOuter {
	border-radius: var(--popout-radius-big);
	box-shadow: var(--shadow-3dp);
}

%userProfileBanner {
    border-radius: var(--popout-radius-big);
}

%biteSizeInnerThemed {
    padding-bottom: 0;
    background-color: var(--popout-color);

    &:before {
        border-radius: calc(var(--popout-radius-big) / 1.25);
    }
}

%userProfileEffectsInner {
    border-radius: var(--popout-radius-big);
}

%userProfileInner {
	border-radius: calc(var(--popout-radius-big) / 1.25);
}

%userProfileIconButton {
    width: var(--button-height);
    height: var(--button-height);
    padding: 0;
}

%userProfileUsernameRow {
    %biteSizeIconButton {
        %buttonContents {
            --button-height: 16px;
        }
    }
}

%userProfileOverlayBackground {
	border-radius: calc(var(--popout-radius-big) / 1.5);
	border: none;
}

/* USER POPOUT ->  BANNER BUTTONS */

%biteSizeBannerButtonsWrapper {
    %button {
        padding: 0;

        %buttonContents {
            min-width: var(--button-height);
            min-height: var(--button-height);

			svg {
                margin: 0 auto;
            }
        }
    }
}

/* USER POPOUT -> STATUS BUBBLE */

%statusBubbleOuter {
    background-color: var(--popout-color-alt) !important;
    border-radius: var(--popout-radius-big);
    border: none !important;
    box-shadow: none;

    &:before,
    &:after {
        background-color: inherit !important;
        border: none !important;
        box-shadow: none;
    }
}

%statusBubble {
    background-color: transparent !important;
}

%statusBubbleText {
    color: var(--text-normal);
}

/* USER POPOUT -> BADGE LIST */

%badgeListContainer {
    height: 24px;
    padding: 0 2px;
    background-color: var(--card-color-filled) !important;
    border-radius: 12px;
    border: none;
}

/* USER POPOUT -> ACTIVITY */

%biteSizeActivity {
	padding: 12px;
    background-color: var(--popout-color-alt);
    border-radius: calc(var(--popout-radius-big) / 1.5);
    border: none;
}

/* USER POPOUT -> SPOTIFY */

%userProfileSyncButton {
    --button-padding: 0;

    min-width: var(--button-height);

    %userProfileSyncButtonInner {
        min-width: var(--button-height);
        max-width: var(--button-height);
        min-height: var(--button-height);
        max-height: var(--button-height);
    }
}

%userProfileAssetsLargeImageSpotify {
    border-radius: 50%;
}

/* USER POPOUT -> ROLES */

%role {
    min-width: 28px;
    height: 28px;
    gap: 6px;
    padding: 0 12px 0 6px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--card-border-color);

    > :first-child {
        margin-left: 0;
        margin-right: 0;
    }
}

%roleCircle {
    width: 16px;
    height: 16px;
}

%rolePill {
    height: 28px;
    padding: 0 6px;
    background-color: var(--card-color-filled);
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    transition: var(--default-time) var(--default-animation) background-color;

    &:hover {
        background-color: var(--card-color-hover);
    }

    %textXsMedium {
        line-height: 28px;
    }
}

%roleRoot {
    > div:only-child {
        %roleAddButton {
            padding: 0 8px 0 4px;
        }
    }
}

%roleAddButton {
	height: 28px;
    padding: 0;

    %buttonContents {
        --button-height: 28px;

        min-width: 28px;
        max-height: 28px;
        min-height: 28px;
        max-height: 28px;
    }

	svg {
		margin: 0 auto;
	}
}

/* USER POPOUT ->  MESSAGE */

%userProfileMessageInner {
    background-color: var(--input-color) !important;
    border-radius: var(--input-radius);

    %textArea {
        min-height: var(--input-height);
        height: var(--input-height);
    }

    %channelTextAreaFontPadding {
        padding-top: calc((var(--input-height) - 1.57em) / 2);
        padding-bottom: calc((var(--input-height) - 1.57em) / 2);
    }

    %channelTextAreaButtonsContainer {
        height: var(--input-height);
    }
}

/* USER POPOUT -> SELF PROFILE */

%userProfileMenus {
    > %menuPopout {
        background-color: var(--popout-color-alt);
        border-radius: calc(var(--popout-radius-big) / 1.5);
        border: none;
        box-shadow: none;
    }
}

/* USER POPOUT -> QUEST AVAILABLE POPOUT */

%userProfileQuestWrapper {
    background-color: var(--popout-color);
    border-radius: var(--popout-radius-big) !important;
    box-shadow: var(--shadow-3dp);
}

%userProfileQuestContainer {
    background-color: unset;
}
