@use '../mixins' as *;

/*
 *
 *	USER POPOUT
 *
 */

%userProfileColors {
	--profile-gradient-primary-color: var(--popout-color);
	--profile-gradient-secondary-color: var(--popout-color);
	--profile-avatar-border-color: var(--popout-color);
	--profile-body-background-color: var(--popout-color-alt);
	--profile-gradient-button-color: hsl(var(--accent-hsl));
	--profile-gradient-button-text-color: var(--accent-text-color);
}

%userProfileOuterThemed {
	--profile-gradient-button-color: hsl(var(--accent-hsl));
	--profile-gradient-button-text-color: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);

	%userProfileNote,
	%userProfileModalNote {
		&:before,
		&:after {
			background-color: var(--profile-gradient-primary-color);
		}
	}

	%inputWrapper {
		%input {
			--input-color: var(--profile-body-background-color);
		}
	}
}

%userProfileOuter {
	border-radius: var(--popout-radius-big);
}

%userProfileInner {
	border-radius: calc(var(--popout-radius-big) / 1.25);

	&:before {
		border-radius: inherit;
	}

	%avatarWrapper {
		circle {
			fill: var(--profile-avatar-border-color);
		}
	}

	%inputWrapper {
		border-bottom: none !important;

		&.quickMessage-3jDbBs {
			margin-top: 0;
		}

		&:before,
		&:after {
			display: none;
		}

		%input {
			padding: 0 12px;
			background-color: var(--input-color);
			border-radius: 19px;

			&::-webkit-input-placeholder {
				font-family: var(--app-font);
			}
		}
	}
}

%userProfileNitroUpsellWrapper {
	border-radius: calc(var(--popout-radius-big) / 1.25) calc(var(--popout-radius-big) / 1.25) 0 0;
}

%userProfileBanner,
%userProfileBannerNitroUpsell {
	border-radius: calc(var(--popout-radius-big) / 1.25);
}

%userProfileBadges {
	border-radius: 15px;
}

%userProfileOverlayBackground {
	border-radius: calc(var(--popout-radius-big) / 1.25);
}

%userProfileNote {
	margin: 0;
	@include input-format(auto, auto);

	%userProfileNoteTextArea {
		font-size: 14px;

		&:focus {
			background-color: transparent;
		}
	}
}

%userProfileTitle {
	@include remove-caps(14px);
}

%userProfileGameIcon {
	border-radius: 50%;
}

%userProfileAssetsLargeImage {
	border-radius: var(--card-radius-big);

	&%userProfileAssetsLargeImageSpotify {
		border-radius: 50%;
	}
}

%buttonColor {
	--button-background: var(--profile-gradient-button-color);
	--button-text-color: var(--profile-gradient-button-text-color);
}

/* USER POPOUT -> STATUS AREA */

%accountProfilePopoutWrapper {
	animation: bottom-pop-out 400ms var(--default-animation);
}

body:active %accountProfilePopoutWrapper:not(:active) {
	opacity: 0;
	transition: 150ms ease all;
}

%userProfileStatusMenu {
	background-color: transparent;
	box-shadow: none;
	animation: none;

	%menuPopoutItem {
		&[id*="account-divider-"] {
			min-height: unset;
			padding: 0;

			%menuPopoutDivider {
				margin: 8px 12px;
			}
		}
	}
}

body:active %userProfileStatusMenu:not(:active) {
	opacity: 1;
}

/* USER POPOUT -> ROLES */

%role {
	position: relative;
	min-width: 28px;
	height: 28px;
	gap: 6px;
	padding: 0 12px 0 6px;
	background-color: transparent;
	border-radius: 8px;
	border: 1px solid var(--card-border-color);

	%roleCircle,
	%permCircle {
		width: 16px;
		height: 16px;
		margin: 0;
	}

	%permCircle {
		margin-right: 0 !important;
	}

	%roleRemoveIcon {
		display: block;
		width: 24px;
		height: 24px;
		top: -4px;
		left: 2px;
		margin: 0;
		transition: var(--default-time) var(--default-animation) opacity, var(--default-time) var(--default-animation) transform;
		transform: scale(0.25);
		opacity: 0;
		cursor: pointer;
	}

	&:hover {
		%roleRemoveIcon {
			transform: scale(0.55);
			opacity: 1;
		}
	}

	%roleName,
	%roleIcon {
		margin-right: 0;
	}

	&%roleAddButton {
		padding: 0 6px;
		background-color: transparent !important;

		%roleAddButtonIcon {
			width: 18px;
			height: 18px;
		}
	}
}
