@use '../mixins' as *;

/*
 *
 *	USER POPOUT
 *
 */

%userPopoutProfileColors {
	--profile-gradient-primary-color: var(--popout-color);
	--profile-gradient-secondary-color: var(--popout-color);
	--profile-avatar-border-color: var(--popout-color);
}

%userPopoutInner {
	border-radius: var(--popout-radius-big);

	&:before {
		border-radius: calc(var(--popout-radius-big) / 1.25);
	}
}

%userPopout {
	position: relative;
	@include popout-format(true);

	&%userPopoutThemed {
		%eyebrow + div:not([class]) {
			&:before,
			&:after {
				background-color: var(--profile-gradient-primary-color);
			}
		}

		%inputWrapper {
			%input {
				--input-color: var(--profile-body-background-color);
			}
		}
	}

	%userPopoutBanner {
		border-radius: calc(var(--popout-radius-big) / 1.25) calc(var(--popout-radius-big) / 1.25) 0 0;
	}

	%userPopoutOverlayBackground {
		border-radius: calc(var(--popout-radius-big) / 1.25);
	}

	%userPopoutUpsellWrapper {
		border-radius: 15px;
	}

	%userPopoutHeader {
		border-radius: var(--popout-radius-big) var(--popout-radius-big) 0 0;
		overflow: hidden;
	}

	%userPopoutProfileBadges {
		border-radius: 15px;
	}

	%userPopoutCustomStatus {
		margin-bottom: 16px;
	}

	%userPopoutAddToServer {
		width: 100%;
		margin: 0 0 16px;
	}

	%userPopoutAboutMe {
		position: relative;
		margin-bottom: 0;
		padding: 12px 0;
		overflow: visible;

		&:after {
			position: absolute;
			content: " ";
			width: calc(100% + 24px);
			height: 1px;
			background-color: var(--card-border-color);
			bottom: 0;
			left: -12px;
		}

		%userPopoutAboutMeTitle {
			@include remove-caps(14px);
		}

		%userPopoutAboutMeBody {
			display: block;
		}
	}

	%eyebrow,
	.PronounDB-style-header {
		@include remove-caps(14px);
	}

	%userPopoutBody {
		padding: 0 12px;

		&.scrollerSeparator-CHLxyV {
			box-shadow: none;
		}

		%userPopoutDivider {
			display: none;
		}

		.PronounDB-style-container {
			margin-bottom: 16px;
			flex-direction: column;
			align-items: flex-start;

			.PronounDB-style-header {
				margin-bottom: 8px;
			}

			.PronounDB-style-tag {
				margin-left: 0;
				font-weight: 500;
			}
		}
	}

	%userPopoutBodyInnerWrapper {
		padding: 12px 0;
		background-color: transparent;
	}

	%buttonSize {
	    height: var(--button-height);
	    min-height: var(--button-height);
	}

	%userPopoutNote,
	%eyebrow + div:not([class]) {
		margin: 0;
		@include input-format(auto, auto);

		textarea {
			font-size: 14px;

			&:focus {
				background-color: transparent;
			}
		}
	}

	%userPopoutFooter {
		margin-top: 0;
		padding: 8px;
		background-color: transparent;
		border-top: 1px solid var(--card-border-color);
	}

	%inputWrapper {
		border-bottom: none !important;

		&.quickMessage-3jDbBs {
			margin-top: 0;
		}

		&:before,
		&:after {
			display: none;
		}

		%input {
			padding: 0 12px;
			background-color: var(--input-color);
			border-radius: 19px;

			&::-webkit-input-placeholder {
				font-family: var(--app-font);
			}
		}
	}
}

%userPopoutAvatarWrapper {
	top: 12px;
	left: 12px;

	&%userPopoutAvatarPositionPremium {
		top: 72px;
	}

	%userPopoutAvatar {
		background-color: var(--popout-color);
		border-color: var(--popout-color);
	}
}

%userPopoutHeaderTop {
	padding: 48px 12px 12px;
	background-color: transparent;
	border-bottom: 1px solid var(--card-border-color);
}

.UserBackgrounds-banner-badge {
	background-color: hsl(var(--accent-hsl)) !important;
	color: var(--accent-text-color);
	box-shadow: var(--shadow-1dp);
}

%userPopoutActivityGame,
%userPopoutGameIcon {
	border-radius: var(--avatar-radius);
}

%userPopoutNoteTextArea {
	&::-webkit-input-placeholder {
		font-family: var(--app-font);
	}
}

.allactivities-right,
.allactivities-left {
	.button-f2h6uQ {
		padding: 0 !important;
	}
}

/* USER POPOUT -> ROLES */

%role {
	position: relative;
	min-width: 24px;
	height: 24px;
	padding: 0;
	background-color: transparent;
	border-radius: 8px;
	border: 1px solid var(--card-border-color);

	%roleCircle,
	.perm-circle {
		width: 16px;
		height: 16px;
		margin-left: 3px;
		margin-right: 0;
	}

	.perm-circle {
		width: 16px !important;
		height: 16px !important;
		margin-right: 0 !important;
	}

	%roleRemoveIcon {
		display: block;
		width: 24px;
		height: 24px;
		top: -6px;
		left: -2px;
		margin: 0;
		transition: var(--default-time) var(--default-animation) opacity, var(--default-time) var(--default-animation) transform;
		transform: scale(0.25);
		opacity: 0;
		cursor: pointer;
	}

	&:hover {
		%roleRemoveIcon {
			transform: scale(0.55);
			opacity: 1;
		}
	}

	%roleName {
		margin: 0 8px 0 4px;
		line-height: 24px;
	}

	&%roleAddButton {
		background-color: transparent !important;

		.addButtonIcon-3HZ_2f {
			width: 18px;
			height: 18px;
		}
	}
}

body:active %userPopout:not(:active) {
	opacity: 0;
	transition: 150ms ease all;
}
