@use '../../classes' as *;
@use '../../config' as *;
@use '../../placeholders' as *;


/*
 *
 *  AUDIO CONTEXT ICONS
 *
 */

#{ $menuPopout } {
    #{ $menuPopoutItem } {
        &[id*="audio-device-context-"] {
            #{ $menuPopoutLabel } {
                flex: 1 18 auto;
            }
        }

        // AUDIO CONTEXT ICONS -> ADD ICONS TO OPTIONS WITHOUT DEFAULT ICONS

        $icons: (
            'audioinput-devices':   'mic',
            'input-profiles':       'headset_mic',
            'audiooutput-devices':  'volume_up'
        );

        @each $option, $icon in $icons {
            &#audio-device-context-#{ $option } {
                @extend %iconWithoutContainerBase;

                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }/#{ $icon }.svg');
                }
            }
        }

        // AUDIO CONTEXT ICONS -> REPLACE DEFAULT ICONS

        &#audio-device-context-voice-settings {
            @extend %iconWithContainerBase;

            #{ $menuPopoutIconContainer } {
                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }/settings.svg');
                }
            }
        }
    }
}
