@use '../../classes' as *;
@use '../../config' as *;
@use '../../placeholders' as *;


/*
 *
 *  IMAGE CONTEXT ICONS
 *
 */

#{ $menuPopout } {
    #{ $menuPopoutItem } {

        // IMAGE CONTEXT ICONS -> ADD ICONS TO OPTIONS WITHOUT DEFAULT ICONS

        $icons: (
            'copy-image':       'image_copy',
            'save-image':       'save',
            'copy-native-link': 'content_copy',
            'open-native-link': 'open_in_new'
        );

        @each $option, $icon in $icons {
            &#image-context-#{ $option } {
                @extend %iconWithoutContainerBase;

                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }/#{ $icon }.svg');
                }
            }
        }

        // IMAGE CONTEXT ICONS -> IMAGE MENU ICONS

        $icons: (
            'copy-image':   'image_copy',
            'copy-link':    'link',
        );

        @each $option, $icon in $icons {
            &#image-menu-media-viewer-#{ $option } {
                @extend %iconWithContainerBase;

                #{ $menuPopoutIconContainer } {
                    &:before {
                        -webkit-mask-image: url('#{ $iconBaseUrl }/#{ $icon }.svg');
                    }
                }
            }
        }

        &#image-menu-media-viewer-details {
            @extend %iconWithoutContainerBase;

            &:before {
                -webkit-mask-image: url('#{ $iconBaseUrl }/info.svg');
            }
        }
    }
}
