@use '../../classes' as *;
@use '../../config' as *;
@use '../../placeholders' as *;


/*
 *
 *  MESSAGE CONTEXT ICONS
 *
 */

#{ $menuPopout } {
    #{ $menuPopoutItem } {

        // MESSAGE CONTEXT ICONS -> REPLACE DEFAULT ICONS

        $icons: (
            'edit':                             'edit',
            'reply':                            'reply',
            'forward':                          'forward',
            'thread':                           'thread',
            'copy-text':                        'content_copy',
            'pin':                              'pin',
            'mark-unread':                      'mark_chat_unread',
            'copy-link':                        'link',
            'tts':                              'record_voice_over',
            'add-reaction--other-reactions':    'emoji',
            'delete':                           'delete',
            'report':                           'flag'
        );

        @each $option, $icon in $icons {
            &#message-#{ $option },
            &#message-actions-#{ $option } {
                @extend %iconWithContainerBase;

                #{ $menuPopoutIconContainer } {
                    &:before {
                        -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
                    }
                }
            }
        }

        // MESSAGE CONTEXT ICONS -> ADD ICONS TO OPTIONS WITHOUT DEFAULT ICONS

        $icons: (
            'add-reaction':     'emoji',
            'translate':        'translate',
            'apps':             'apps',
            'copy-image':       'image_copy',
            'save-image':       'save',
            'copy-native-link': 'content_copy',
            'open-native-link': 'open_in_new'
        );

        @each $option, $icon in $icons {
            &#message-#{ $option },
            &#message-actions-#{ $option } {
                @extend %iconWithoutContainerBase;

                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
                }
            }
        }

        $icons: (
            'search-google':    'search',
            'copy':             'content_copy'
        );

        @each $option, $icon in $icons {
            &#text-context-#{ $option } {
                @extend %iconWithoutContainerBase;

                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }#{ $icon }.svg');
                }
            }
        }
    }
}
