@use '../../classes' as *;
@use '../../config' as *;
@use '../../placeholders' as *;

/*
 *
 *  TEXTAREA CONTEXT ICONS
 *
 */

#{ $menuPopout } {
    #{ $menuPopoutItem } {

        // TEXTAREA CONTEXT ICONS -> ADD ICONS TO OPTIONS WITHOUT DEFAULT ICONS

        $icons: (
            'upload-file':          'upload_file',
            'clips':                'movie',
            'THREAD':               'thread',
            'poll':                 'add_chart',
            'SLASH_COMMAND':        'apps',
            'scheduled_message':    'schedule',
            'listen':               'spotify',
        );

        @each $option, $icon in $icons {
            &#channel-attach-#{ $option } {
                @extend %iconWithLeftContainerBase;
                @extend %iconReverseDirection;

                #{ $menuPopoutIconContainer } {
                    &:before {
                        -webkit-mask-image: url('#{ $iconBaseUrl }/#{ $icon }.svg');
                    }
                }
            }
        }

        // TEXTAREA CONTEXT ICONS -> ADD ICONS TO OPTIONS WITHOUT DEFAULT ICONS

        $icons: (
            'suggestions':  'lightbulb',
            'languages':    'translate',
            'translate':    'translate'
        );

        @each $option, $icon in $icons {
            &#textarea-context-#{ $option } {
                @extend %iconWithoutContainerBase;

                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }/#{ $icon }.svg');
                }
            }
        }

        // TEXTAREA CONTEXT ICONS -> REPLACE TEXT SHORTCUT HINTS WITH ICONS

        $icons: (
            'cut':      'content_cut',
            'copy':     'content_copy',
            'paste':    'paste',
        );

        @each $option, $icon in $icons {
            &#textarea-context-#{ $option } {
                @extend %iconWithShortcutContainerBase;

                &:before {
                    -webkit-mask-image: url('#{ $iconBaseUrl }/#{ $icon }.svg');
                }
            }
        }
    }
}
